[2020-08-27 02:44] #13273 closed, assigned to bpabiszczak

[2020-08-27 02:47] bpabiszczak commented on #13431
Najlepiej to go naprawić :)
Wersja CRM, co logi pokazują?

[2020-08-27 02:54] bpabiszczak commented on #13421
I see that you modified the calendar and you probably "broke" something. It works fine in our test environment. This has to be checked by the developer.

https://yetiforce.com/en/marketplace/development-support

![image](https://user-images.githubusercontent.com/10197525/91378650-3e006700-e821-11ea-9f0c-c6ed75824d6b.png)

[2020-08-27 02:54] #13421 closed, assigned to bpabiszczak

[2020-08-27 02:58] #13356 closed, assigned to bpabiszczak

[2020-08-27 03:01] bpabiszczak commented on #13364
It is very easy! You buy a 10h package and we will add you this option! https://yetiforce.com/en/marketplace/development-support

[2020-08-27 03:01] #13364 closed, assigned to bpabiszczak

[2020-08-27 03:02] #13352 closed, assigned to bpabiszczak

[2020-08-27 03:04] bpabiszczak commented on #13333
What is your version of the system?
Have you migrated the system, if so, from what versions to what versions?
It is easiest if a developer checks it.

[2020-08-27 03:10] bpabiszczak commented on #13384
The developer must check this.

[2020-08-27 03:13] bpabiszczak commented on #13382
This has to be added by the developer.
https://yetiforce.com/en/marketplace/development-support

[2020-08-27 03:13] #13382 closed, assigned to bpabiszczak

[2020-08-27 03:17] bpabiszczak commented on #13269
![image](https://user-images.githubusercontent.com/10197525/91380171-9b49e780-e824-11ea-9ab3-f1ffa5aa9dc0.png)

[2020-08-27 03:17] #13269 closed, assigned to bpabiszczak

[2020-08-27 03:18] #13414 closed, assigned to bpabiszczak

[2020-08-27 03:27] bpabiszczak commented on #13367
You need a developer.

[2020-08-27 03:27] #13367 closed, assigned to bpabiszczak

[2020-08-27 03:31] bpabiszczak commented on #13328
https://github.com/YetiForceCompany/YetiForceCRM/pull/13254/files

I guess it won't be available in the new version, maybe later.

[2020-08-27 03:31] #13328 closed, assigned to bpabiszczak

[2020-08-27 03:32] #13261 closed, assigned to bpabiszczak

[2020-08-27 03:40] bpabiszczak commented on #13242
Jeżeli nie chcesz widzieć kolumn, to je wyłączasz [wyłączasz opcje "show list".:
![image](https://user-images.githubusercontent.com/10197525/91381410-9f2b3900-e827-11ea-9d0f-d8c730440f14.png)

Jeżeli chcesz zmienić pola w sposób jaki opisałeś, to potrzebujesz programisty:.

[2020-08-27 03:40] #13242 closed, assigned to bpabiszczak

[2020-08-27 03:43] bpabiszczak commented on #13296
W dokumentacji hostingu znajdziesz. Spytaj administratora serwera.
Tutaj przykłady z innego hostingu: https://help.dreamhost.com/hc/en-us/articles/215767047-Creating-a-custom-Cron-Job
Tutaj przykłady podane na naszej stronie: https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-wdrozeniowa/item/uruchamianie-crona

[2020-08-27 03:43] #13296 closed, assigned to bpabiszczak

[2020-08-27 03:45] bpabiszczak commented on #13263
To się robi automatycznie... o ile klient odpowie na Twojego maila, który to już ten numer zawiera [domyślnie odpowiadając na maila z CRM system dodaje do tematu prefix]. Jeżeli klient pomimo tego często źle odpisuje, to najlepiej w cron ustawić akcje wysyłającą klientowi informacje o zarejestrowaniu zgłoszenia już z gotowym odpowiednim tematem i z informacje, że jeżeli ma uwagi to powinien odpowi

[2020-08-27 03:45] #13263 closed, assigned to bpabiszczak

[2020-08-27 04:53] rskrzypczak commented on #13431
To powinno rozwiązać problem: https://github.com/YetiForceCompany/YetiForceCRM/commit/b14961d1e19d6b1c10a61777bc288fcd93c21b4c
https://github.com/YetiForceCompany/YetiForceCRM/issues/13005
https://github.com/YetiForceCompany/YetiForceCRM/issues/13251
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190

[2020-08-27 04:53] #13431 closed, assigned to bpabiszczak

[2020-08-27 05:50] rskrzypczak commented on #13369
Show us the application logs (https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-programistyczna/item/debugging)
and your server configuration.

[2020-08-27 06:09] mrzewnicki commented on #13431
Pomogło, dzięki

[2020-08-27 06:29] konadrian commented on #13246
Hello,
Please first try add a record in https://gitdeveloper.yetiforce.com/index.php?module=IStorages&view=List&mid=132&parent=131
IStorages module and then try to add a record in webservice

[2020-08-27 06:29] #13246 closed, assigned to konadrian

[2020-08-27 06:39] vovpff commented on #13401
@blu-IT
[code]

[2020-08-27 06:48] konadrian commented on #13193
The variable $ (record: Record Label) $ holds the value of the record label. For example for the Yetiforce account it will be "Yetiforce". If would like to display link for leads in crm you should pick another variable for example
$(relatedRecord : pssold_id|CrmDetailViewURL)$

[2020-08-27 06:55] konadrian commented on #13194
Hello,
Of course it's possible but it requires some knowledge about programming and yetiforce. We could add this functionality but it require buy a support package
https://yetiforce.com/en/marketplace/development-support

[2020-08-27 06:55] #13194 closed, assigned to konadrian

[2020-08-27 06:59] konadrian commented on #13178
This "bug" is not exists in dev and stable version. As @vovpff said you should select first the opportunity. Status field is editable. I suppose that you have in record status value that not exists in picklist

[2020-08-27 06:59] #13178 closed, assigned to konadrian

[2020-08-27 07:07] konadrian commented on #13111
You should create a three different text parser for each related list

[2020-08-27 07:07] #13111 closed, assigned to konadrian

[2020-08-27 07:15] konadrian commented on #13055
Hello,
Please click in restore button it will activate your user

[2020-08-27 07:15] #13055 closed, assigned to konadrian

[2020-08-27 07:46] areksolek commented on #13264
In System configuration / Colors and calendar / Colors
it is possible to change the colors:
- Modules - colors the name of the header in the Detailed View of a given module and the names of records in the widget (dasborad).
- Dictionaries - adds a backgroud to each picklist field value
- Fields colors - gives the color of labels in the indicated module

All other custom color change cases are done

[2020-08-27 07:46] #13264 closed, assigned to areksolek

[2020-08-27 07:56] rskrzypczak commented on #13264
after modifications in * .css files, refresh the browser cache (Chrome Ctrl+Shift+R)

[2020-08-27 07:57] kamiro16 commented on #13264
@areksolek @rskrzypczak  thanks!
I preparing new css styles system.

[2020-08-27 08:38] enoch85 commented on #13335
Haha! "Soon" could be 5 minutes or 5 years. 🤷‍♂️

[2020-08-27 10:35] kamiro16 commented on #13264
@areksolek  @rskrzypczak i changed base color but I didnt saw any changes...
I refresh the browser cache too...
I must delete somethink cache files in system?

[2020-08-27 10:44] rskrzypczak commented on #13264
You are probably modifying the Main.css file.
By default, the system loads the Main.min.css file
Set in config/Developer.php `$MINIMIZE_CSS = false`
and everything should work :)

[2020-08-27 10:52] kamiro16 commented on #13264
@rskrzypczak BINGO!

Thanks a lot!

[2020-08-27 14:15] hobejeans commented on #13414
I figured out the problem. CRON was not set up correctly. I configured the settings according to the instructions [here](https://yetiforce.com/en/component/zoo/item/enable-cron)...
The instructions above also helped with changing from a gray (created) status to paid or denied status. Without the cron being fixed it did not update in invoice or sales order until cron was configured properly. It tak

[2020-08-27 18:49] bpabiszczak commented on #13175
Database engines other than MySQL and MariaDB recommended for corporations that have the resources for patches and tests.

[2020-08-27 18:49] #13175 closed, assigned to bpabiszczak

[2020-08-27 18:53] #13401 closed, assigned to areksolek

[2020-08-27 19:03] bpabiszczak commented on #13250
A po co ktoś dodaje datę do tematu? Stosując złe rozwiązanie potem szuka się dziwnych rozwiązań, aby wyeliminować skutki.
Niezależnie od kierunku, wymagany będzie programista.

[2020-08-27 19:03] #13250 closed, assigned to bpabiszczak

[2020-08-27 19:10] bpabiszczak commented on #13232
You can add any resources as you showed it yourself. There is no other option at the moment.

[2020-08-27 19:10] #13232 closed, assigned to bpabiszczak

[2020-08-27 19:11] #13231 closed, assigned to bpabiszczak

[2020-08-27 19:14] bpabiszczak commented on #13228
It is very simple, you buy 30-40 hours and we will add you this option!
https://yetiforce.com/en/marketplace/development-support

[2020-08-27 19:19] bpabiszczak commented on #13272
And what will it change?

[2020-08-27 19:19] #13220 closed, assigned to bpabiszczak

[2020-08-27 19:22] #13219 closed, assigned to bpabiszczak

[2020-08-27 19:32] bpabiszczak commented on #13214
Change price for product/services

![image](https://user-images.githubusercontent.com/10197525/91486333-64b7af80-e8ac-11ea-895e-4fd2d1ff653f.png)

Set pricebook on quoutes

![image](https://user-images.githubusercontent.com/10197525/91486466-96307b00-e8ac-11ea-8e55-32dbd1472220.png)

Set pricebook on Account

![image](https://user-images.githubusercontent.com/10197525/91486559-be1fde80-e8ac-11ea-8

[2020-08-27 19:32] #13214 closed, assigned to bpabiszczak

[2020-08-27 19:39] bpabiszczak commented on #13174
This has to be done by the developer.

[2020-08-27 19:39] #13174 closed, assigned to bpabiszczak

[2020-08-27 19:40] bpabiszczak commented on #13169
You can use the module: Vendor inquiries

[2020-08-27 19:40] #13169 closed, assigned to bpabiszczak

[2020-08-27 19:43] bpabiszczak commented on #13168
The programmer can create for you this report.

[2020-08-27 19:43] #13168 closed, assigned to bpabiszczak

[2020-08-27 19:45] bpabiszczak commented on #13153
Zalecamy aktualizację do 5.3.
Pasek działa poprawnie o ile konfiguracja jest poprawna. Brak logów i brak informacji o konfiguracji, więc nie mamy jak pomóc.

[2020-08-27 19:45] #13153 closed, assigned to bpabiszczak

[2020-08-27 19:47] bpabiszczak commented on #13150
Simple, use "custom date range" on filters.

![image](https://user-images.githubusercontent.com/10197525/91487914-cbd66380-e8ae-11ea-8557-b7aa3feeb565.png)

[2020-08-27 19:47] #13150 closed, assigned to bpabiszczak

[2020-08-27 19:49] ghost commented on #13175
Hi @bpabiszczak,
my client would be such corporation!
Can you give me any guidence or share your knowledge on how to get started with Yetiforce on Postgres?
Being able to demonstrate that YF is running on Postgres, at least Login & Dashboard, would help to bring the client on board.

Thank you, for your help in advanced

[2020-08-27 19:51] bpabiszczak commented on #13207
Buy programming hours, then we can create a script for you.
https://yetiforce.com/en/marketplace/development-support

[2020-08-27 19:51] #13207 closed, assigned to bpabiszczak

[2020-08-27 19:54] bpabiszczak commented on #13144
You can use in
Software configuration > Standard modules > Edit fields > "Advanced button"

![image](https://user-images.githubusercontent.com/10197525/91488646-e230ef00-e8af-11ea-87ba-8f7aceebaa9f.png)

[2020-08-27 19:54] #13144 closed, assigned to bpabiszczak

[2020-08-27 19:57] bpabiszczak commented on #13175
The programmer needs to improve some queries to the database, and test the system. We estimate it for 100-200h depending on the database engine.

[2020-08-27 20:02] bpabiszczak commented on #13116
This is our standard invoice generated in YetiForce, what is missing in it?

![image](https://user-images.githubusercontent.com/10197525/91489351-fde8c500-e8b0-11ea-9411-6f6df8f9aad0.png)

[2020-08-27 20:04] bpabiszczak commented on #13114
I doubt we'll take care of it until the first Chinese customer comes to us. Maybe you have the wrong encoding set in the table.

[2020-08-27 20:04] #13114 closed, assigned to bpabiszczak

[2020-08-27 20:06] bpabiszczak commented on #13100
You have to show a video on how to trigger to on the test environment step by step.

[2020-08-27 20:07] #13095 closed, assigned to bpabiszczak

[2020-08-27 20:10] #13091 closed, assigned to bpabiszczak

[2020-08-27 20:31] #13065 closed, assigned to bpabiszczak

[2020-08-27 20:33] vdpawel commented on #13116
You can easily achieve this goal by adding appropriate functions in the app / TextParser or need a programmer that you will do it
![obraz](https://user-images.githubusercontent.com/62466142/91491153-ef4fdd00-e8b3-11ea-99f7-4ae830d84429.png)

[2020-08-27 20:39] bpabiszczak commented on #12988
1. The developer has to check that any script is not connecting to an external service.
2. If you still have a problem with CRON, the developer has to check it. Here you will find full documentation for CRON configuration. If the documentation is not enough, the developer must check it.

https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-administratora/item/enable-cron

[2020-08-27 20:39] #12988 closed, assigned to bpabiszczak

[2020-08-27 20:41] #13116 closed, assigned to bpabiszczak

[2020-08-27 20:43] bpabiszczak commented on #12980
Check if you can cause the bug on test versions [if so, record the movie].

[2020-08-27 23:27] waran70 commented on #13272
You going to spend more time on productive tasks rather than teaching kids how to use crm.
Community helps the community, developers help developers.

[2020-08-27 23:35] bpabiszczak commented on #13272
If you have to learn, it means you need to improve your CRM. This is a closed circle. Two communities mean more work for us.

[2020-08-28 08:40] vovpff commented on #13100
@bpabiszczak
![interested in products](https://user-images.githubusercontent.com/8545791/91540296-44770780-e923-11ea-9c1b-5ddcc474f5d4.gif)

[2020-08-28 09:00] #13228 closed, assigned to bpabiszczak

[2020-08-28 09:25] Sall2 opened #13434 "[bug] Automatyczne archiwizowanie starych rekordów"
Witam,
jak w temacie, czy tą funkcję w cron można jakoś skonfigurować, tzn jak stare rekordy mają być przenoszone itp.
Nie bardzo widzę, żeby w ogóle działała ta funkcja.

Dodatkowe pytanie, czy można jakoś zarchiwizować wszystkie rekordy w module? Bo jak zaznaczam niby wszystkie to i tak archiwizuje tylko te aktualnie wyświetlane na ekranie, czyli maks 100.

Pozdrawiam

[2020-08-28 10:23] areksolek commented on #13310
If you would like to add a translation to picklist value you should add a new value to proper file. Depending on place of translating you should add a new translation to _Base.json file - it will translate globaly new variable. Or if you would like to add new translate only in module area , then you should add a new translation in module translation file. For exaple if you would like add something

[2020-08-28 10:23] #13310 closed, assigned to areksolek

[2020-08-28 10:32] vdpawel commented on #13434
_Ad. Dodatkowe pytanie:_

Zaznaczasz rekordy na stronie checkboxem po lewej stronie, na środku pojawia się komunikat: "Zaznacz wszystko"
![obraz](https://user-images.githubusercontent.com/62466142/91551200-1648f600-e92a-11ea-80c5-c41659b1c146.png)

klikasz na niego i wybierasz: Akcje -> Masowa archiwizacja

Nie działa?

[2020-08-28 10:32] bpabiszczak commented on #13434
Można wszystko, lecz potrzeba do tego programistę najczęściej.
Aby przenosić coś automatycznie, to należy to automatycznie zweryfikować, czy na pewno przenoszone być powinno. Sama "zmiana" to jedna linijka kodu, a więc łatwa do realizacji czy to skryptem czy workflow, trudnością jest weryfikacja wszystkich warunków.

Gdy zaznaczasz całą stronę, pojawia się dodatkowa opcja z zaznaczeniem wszystkieg

[2020-08-28 10:32] #13434 closed, assigned to bpabiszczak

[2020-08-28 15:48] rioshaz commented on #13193
@konadrian so where and what i have to change ... i didnt alter any code...
this is happening on its own.. its a bug in yetiforce i guess..
all info here 👍
[https://github.com/YetiForceCompany/YetiForceCRM/issues/13318]

[2020-08-28 15:58] rioshaz commented on #13318
@areksolek so how can i fix this issue on my local installation.. which files do i need to change ? i m on 5.3 version

[2020-08-28 16:03] rioshaz commented on #13335
@bpabiszczak without a deadline one cant ever complete a task sir.. tentative date sir

[2020-08-28 20:09] gsportelli73 commented on #13384
Hello again, i have seen that my problem with this installation it is cron too.
Infact i have a new php error when i try to open configuration menu on backend.
<img width="566" alt="bug_cron" src="https://user-images.githubusercontent.com/27689602/91610899-664fa900-e97a-11ea-9e4f-810bdafb39f4.PNG">

This is a extract of error log in yeti root

----------------------
[28-Aug-2020 21:45:02 Europe/Am

[2020-08-29 03:51] hobejeans opened #13438 "[bug] Project error"
When I create a Project record and save I receive this error. How do I fix?

![Screen Shot 2020-08-27 at 5 21 25 PM](https://user-images.githubusercontent.com/45261773/91627946-4673b180-e989-11ea-82b9-bcf2f73bbbfd.png)

[2020-08-30 08:10] Patriciawa commented on #11678
@LaurensCleyman did you find a solution? I'm having the same issue as yours, the records just won't update this way.
Edit: there was a typo in `com_vtiger_workflowtasks_entitymethod` it works now.

[2020-08-30 11:13] bpabiszczak commented on #13438
![issue](https://user-images.githubusercontent.com/10197525/91657612-a1f58a80-eac2-11ea-9902-bcf1cfa344e3.jpg)

[2020-08-30 11:21] bpabiszczak commented on #12958
Yes, as long as they use the same protocol and port.
We can extend it to completely different configurations, but it takes 1-2 developer working days.

![image](https://user-images.githubusercontent.com/10197525/91657755-c0a85100-eac3-11ea-9a49-59dbecedf5a0.png)

[2020-08-30 11:21] #12958 closed, assigned to bpabiszczak

[2020-08-30 11:25] bpabiszczak commented on #13204
Below you have a link to a function that downloads your email, parses it and creates a ticket from it.
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/modules/OSSMailScanner/scanneractions/CreatedHelpDesk.php

[2020-08-30 11:25] #13204 closed, assigned to bpabiszczak

[2020-08-30 11:27] bpabiszczak commented on #12954
You need a developer to extend existing functionalities.

[2020-08-30 11:27] #12954 closed, assigned to bpabiszczak

[2020-08-30 11:31] bpabiszczak commented on #12951
These are not problems with YetiForce, but with your server configuration. We can help if you purchase paid support. https://yetiforce.com/pl/marketplace/wsparcie-development

It is best for you to buy hosting or VPS where the environment is set up for YetiForce and you have support.

[2020-08-30 11:31] #12951 closed, assigned to bpabiszczak

[2020-08-30 11:34] bpabiszczak commented on #12950
You need a developer to expand the basic functionality.
https://yetiforce.com/en/marketplace/development-support

[2020-08-30 11:34] #12950 closed, assigned to bpabiszczak

[2020-08-30 12:16] waran70 commented on #13228
I gave you the advice to get things working better for the project but the response to it is to pay for my advice. All ok there?
;-) Do you want to take over the users of the competition? Yes? No?

[2020-08-30 13:14] vdpawel commented on #13228
Simply wrong classification of a "feature" issue,
instead of ❔ question
should be 💹 enhancement
(But that's just my opinion :) )

[2020-08-31 05:03] rskrzypczak commented on #13384
This should fix the problem: https://github.com/YetiForceCompany/YetiForceCRM/commit/b14961d1e19d6b1c10a61777bc288fcd93c21b4c
https://github.com/YetiForceCompany/YetiForceCRM/issues/13005
https://github.com/YetiForceCompany/YetiForceCRM/issues/13251
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190

[2020-08-31 06:12] konadrian commented on #13288
In one of our clients we added something like this in text parser
[code]
And this method in record model
[code]

[2020-08-31 06:12] #13288 closed, assigned to konadrian

[2020-08-31 06:38] Giorgos-Hellene commented on #13352
If YetiForce adds this feature then it can be implemented:

When we create or edit a date field we have the option BETWEEN. If we had the option NOT BETWEEN, then we can create the booking easily!

Please if it is possible add this function.
Thank you !

![εικόνα](https://user-images.githubusercontent.com/50912403/91689475-e2114780-eb6c-11ea-8feb-d020d6072706.png)

[2020-08-31 09:44] areksolek commented on #13075
Please send me more information. Is the report related to the dashboard widget or the module summary widget?
I am asking for a possible screen.

[2020-08-31 10:23] nerimic commented on #13075
It's in the dashboard widget.

https://gitdeveloper.yetiforce.com/index.php "Test C"

Moving the cursor over an event's icon you could not see any link to

[image: Schermata 2020-08-31 alle 11.55.33.png]

I've implemented a fix that seems OK adding style="pointer-events:none" in '
public_html/libraries/fullc*alendar*/dist/fullc*alendar*.js'

    DayGrid.prototype.renderDayRowHtml = function (row,

[2020-08-31 11:37] unununkwad opened #13439 "[Question] [PL] Nie funkcjonujące widżety w podsumowaniu modułu zgłoszeń"
Po przyjęciu maila przez pocztę generuje się zgłoszenie i powiązuje z mailem. Niestety w podsumowaniu zgłoszenia nie widać żeby przyjęło żadnego maila. W karcie "Historia maili" widać że go przyjęło. Tak samo sytuacja wygląda jeżeli chodzi o historię zmian. W karcie "Historia zmian" widać wszystkie zmiany, lecz w podsumowaniu nic nie ma.

![image](https://user-images.githubusercontent.com/69234051

[2020-08-31 12:03] #13057 closed, assigned to mariuszkrzaczkowski

[2020-08-31 12:43] mariuszkrzaczkowski commented on #12512
does not work on the developer version because the profiles do not have permission to this field,
when you turn it on it works properly see example:

[code]

[code]
we recommend using json data format to work flawlessly

[2020-08-31 12:43] #12512 closed

[2020-08-31 12:47] rskrzypczak commented on #12942
Same reason: https://github.com/YetiForceCompany/YetiForceCRM/issues/12982

[2020-08-31 12:47] #12942 closed, assigned to bpabiszczak

[2020-08-31 13:05] rskrzypczak commented on #12959
it's hard to say what is the cause.
Turn on console, something may appear.
![image](https://user-images.githubusercontent.com/10221999/91722983-6084de00-eb9b-11ea-892d-1906d27c6009.png)

[2020-08-31 14:10] blu-IT commented on #13403
@bpabiszczak Should I open a bug ticket for this? Do you need some other informations?

[2020-08-31 14:46] vovpff commented on #13352
@Giorgos-Hellene you can add this function by yourself

[2020-08-31 16:19] Giorgos-Hellene commented on #13352
wow ! this is wonderful !!

Could you tell me the way please?
how can i do it ?

[2020-08-31 19:12] vovpff commented on #13352
@Giorgos-Hellene php coding is solution! You can do a lot if you can php, mysql and js. If no - you can charge for developers.

[2020-09-01 04:55] rskrzypczak commented on #13439
Jaka wersja aplikacji?
Włącz logi aplikacji.
Włącz konsole (F12) prawdopodobnie tam znajdziesz odpowiedź
![image](https://user-images.githubusercontent.com/10221999/91796276-07ab5900-ec20-11ea-9ae1-d90a42fbab19.png)

[2020-09-01 05:53] rskrzypczak commented on #13248
You probably have a data mismatch between the files and the database.
Update the data in the files which should fix the problem (https://github.com/YetiForceCompany/YetiForceCRM/issues/12515)

[2020-09-01 05:53] #13248 closed, assigned to rskrzypczak

[2020-09-01 07:13] unununkwad commented on #13439
Wersja 5.3.0, ale wgrałem aktualizację service packa w module "Serwer - aktualizacje" i już działa.

[2020-09-01 07:15] #13439 closed, assigned to nobody

[2020-09-01 08:45] rioshaz commented on #13318
@bpabiszczak @rskrzypczak so how can i fix this issue on my local installation.. which files do i need to change ? i m on 5.3 version

[2020-09-01 08:58] gsportelli73 opened #13440 "[bug] Big Problemi in 5.3 with Cron"
# 🐞 bug report

### ⁉️ Describe the bug

My cron script failed wiht php error.
PHP version is 7.3
I have lastest version of Yeti 5.3

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1- I access to admin backend
2- I open configuration setting in righ top button
3- My system report that yeti cron doen't active
Look at image
![screenshot](https://user-images.githubusercontent.com/2

[2020-09-01 09:02] mariuszkrzaczkowski commented on #13440
![github](https://user-images.githubusercontent.com/10198654/91830140-a943a200-ec42-11ea-8c26-c7d5f00d9e7a.jpg)

[2020-09-01 09:33] mariuszkrzaczkowski commented on #11921
check this https://github.com/YetiForceCompany/YetiForceCRM/commit/cc3b6b3fc24258e845ef655b3188b5cb1cd6dda8 https://github.com/YetiForceCompany/YetiForceCRM/commit/681a65252c0be733ecc51fa1f0c5bf84b76dc7b7

https://doc.yetiforce.com/api/#/Users

[2020-09-01 11:28] alexynadamas opened #13442 "[Question]"
Hi

I am trying to export all companies's data into a CSV file. In Yeti apperas 991 records but when I export it the file has only 623 records.

https://i.imgur.com/EZRF6iK.png (YetiForce)

https://i.imgur.com/V6OQCMv.png (Excel)

What is the problem?

I can't find the table in the database either. What is his name?

Thanks

[2020-09-01 13:14] #13318 closed, assigned to bpabiszczak, rskrzypczak

[2020-09-01 14:22] panos-stavrianos opened #13443 "[bug] Can't save Workflow's Task details"
Hello Everyone!
### ⁉️ Describe the bug
I think this is an unexpected behavior of a workflow task,
I am trying to create an event but whatever I do the `start date` field do not seems to change
![workflow_task_prob](https://user-images.githubusercontent.com/20128753/91861619-b62db900-ec75-11ea-90a6-79d14d3b082c.gif)

### 🔥 How to trigger the error
Steps to reproduce the behavior:

1. Go to Softwar

[2020-09-02 08:46] fbojan commented on #13116
Where could I get this TextParser / TableTaxSummary.php and ProductsTableLongVersion.php because that's exactly what I need.  If I have to pay let me know.

Thanks

[2020-09-02 09:58] vdpawel commented on #13116
in the app / text parser directory you have ready-made examples to use :)
My code is not good enough to share and I count the tax from the net amount, but if you can't program it by yourself, you can buy the support
here you are
#13279

[2020-09-02 10:00] #13075 closed, assigned to areksolek

[2020-09-02 13:40] unununkwad opened #13448 "[Question] [PL] Niepoprawna aktualizacja rekordu przez wyzwalacze/workflows"
Mam w planie dodawać w zgłoszeniach numer prefixu do tematu zgłoszenia. Problem polega na tym, że po aktualizacji rekordu przez wyzwalacze zmiana zostaje wprowadzona, lecz nie zapisana. W ten sposób traci powiązanie z mailem.

W taki sposób ustawioną mam aktualizację rekordu
![image](https://user-images.githubusercontent.com/69234051/91988732-e9348300-ed2f-11ea-9559-a3eed19cf6b2.png)

Prefix rzecz

[2020-09-03 17:30] apcloic commented on #12760
@vovpff

Hi, I've just apply the fix to get html back in item's comment but now they are all trimmed according to the value of listview_max_textlength

So if I want full item's comment in PDF export for Invoice module, I have to increase listview_max_textlength value.

I've followed your guidelines regarding this issue but unfortunately, item's comment remains trimmed.

I'm using a brand new insta

[2020-09-03 18:03] gsportelli73 commented on #13440
Hi, i retry to describe the problem.
Yestrday i have installed a new version of yetiforce in other folder and i have againg problem with cron.,
i don't access to backend admin configuration report.
Look at the image
![error_backend_admin](https://user-images.githubusercontent.com/27689602/92147260-2590dd80-ee1b-11ea-9cef-ba15625f9fb0.png)

---- I attach log
phplog
error_log
cron.log
[phperror.log]

[2020-09-04 07:02] A3ANO opened #13450 "[Question] Disappearing mails from mailbox"
Hi,

I have a question regarding the mailboxes inside the YetiForce CRM. I'm using a few mailboxes and recently I noticed that old mails are been removed automatically. If I link an e-mail to a contact or account, I can still see it in their history. However, the mail cannot be found in the mailboxes.
Is there some setting or cronjob that does this? I have been checking for a few days now, but I s

[2020-09-07 05:00] rskrzypczak commented on #13440
This should fix the problem: https://github.com/YetiForceCompany/YetiForceCRM/commit/b14961d1e19d6b1c10a61777bc288fcd93c21b4c
https://github.com/YetiForceCompany/YetiForceCRM/issues/13005
https://github.com/YetiForceCompany/YetiForceCRM/issues/13251
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190

[2020-09-07 05:00] #13440 closed, assigned to nobody

[2020-09-07 08:58] slomus opened #13457 "Class 'Locale' not found"
Witam

Mam mały problem.
![błąd](https://user-images.githubusercontent.com/67637171/92369129-e3a4b780-f0f8-11ea-949e-f512a72da319.PNG)
Stało się to po installacji php7.3 poprzednia wersja 7.1

Czy wynika to przez instalacje php czy jest to jakis inny błąd związany z brakim pliku bądz odpowiedzniej konfiguracji

:)

[2020-09-07 09:08] mariuszkrzaczkowski commented on #13457
Serwer nie jest zgodny z wymaganiami
https://github.com/YetiForceCompany/YetiForceCRM/issues/9821

[2020-09-07 09:08] #13457 closed, assigned to mariuszkrzaczkowski

[2020-09-07 10:05] slomus commented on #13457
Ale w czym może byc dokładnie problem czy jest to wina php czy czegos innego

[2020-09-07 10:08] mariuszkrzaczkowski commented on #13457
brak biblioteki w php

[2020-09-07 13:16] slomus opened #13458 "Call to a member function isActive() on bool"
Witam

Mam mały problem
![Przechwytywanie](https://user-images.githubusercontent.com/67637171/92391430-fdf08c80-f11c-11ea-8239-522f1c1640e2.PNG)

Niestety nie wiem jak go moge rozwiązać. Wiem ze moze to byc wina złej conf serwera ale co dokładnie

[2020-09-07 13:31] rskrzypczak commented on #13458
Use a search engine: https://github.com/YetiForceCompany/YetiForceCRM/search?q=function+isActive&type=Issues
https://github.com/YetiForceCompany/YetiForceCRM/issues/13248

[2020-09-07 13:31] #13458 closed, assigned to nobody

[2020-09-07 17:49] apcloic opened #13459 "[Question] how to deal with page-break on multi-page invoice ?"
Hi all,

I'm using ProductsTableShortVersion on my PDF template, depending on the table size produced, I get different results.
For single page, I have no issue, it works great.
For multi-page, the first page contains only header and footer and the second page contains body + footer.
If I do another test with more products, then I get :
- first page with header + a body with the first part of the

[2020-09-07 18:57] vdpawel commented on #13459
Maybe try to put everything in a table with invisible lines, I haven't tested this solution, but maybe thanks to this the elements will not overlap.

[2020-09-08 08:57] apcloic commented on #13459
@vdpawel thanks for your help, I did put everything in a table as recommended, unfortunately it still overlaps.

[2020-09-08 13:37] suarezjg opened #13468 "[Question] How to set a workflow to trigger birthday notification"
Hi, I hope you are doing well. I wonder if you know how to set a workflow to trigger birthday notification. I tried setting a condition like this: “Birthday is today”, but doesn’t work. I look forward to hearing your comments.

[2020-09-08 16:27] apcloic commented on #11756
@gkArvindr Thanks.

Quick and dirty solution :
- add a [ghostscript wrapper for php](https://github.com/GravityMedia/Ghostscript)
- import classes in app/PDF/YetiforcePDF.php

[code]
- then add the following code to function output in app/PDF/YetiforcePDF.php

[code]

PDF size before : 1Mo
PDF size after : 180ko

[2020-09-09 04:24] vovpff commented on #11756
@apcloic could you put code to code formatting?

[2020-09-09 07:19] blu-IT opened #13469 "[Question] CardDAV/CalDAV: I only can see my contacts and meetings - how to see ALL?"
Hello,

I tried configuring Mozilla Thunderbird addressbook (and calendar) via CardDAV/CalDAV to YF-CRM.
So far everything went fine, **BUT I can see only my (test-)contact** an even no organizations. But I want to see **ALL organizations and contatcs** in the crm.

I'am using my normal YF account (with admin rights):
`https://myserver.com/dav.php/principals/ME/`

also tried
`https://myserver.com/

[2020-09-09 09:42] blu-IT commented on #13450
Hi,

can you please post a screenshot of your mailbox settings inside YF and also the folders sync settings?
Do you have some filters that may move mails on your mailserver?

[2020-09-09 10:09] apcloic commented on #11756
@vovpff Sorry, I've always had difficulties with code formatting on github.
Is it better like this ?

[2020-09-09 10:34] vovpff commented on #11756
@apcloic this is looks cool. Thanks

[2020-09-09 11:22] vovpff commented on #11756
@apcloic I can't implement this. No experience....

[2020-09-09 12:54] apcloic commented on #11756
@vovpff

To implement, I think the only difficulty is to add ghostscript wrapper :
- backup everything first
- grab a copy of composer.phar latest version https://getcomposer.org/composer-stable.phar
- put it at the root of yetiforce web folder
- log in to your server and open a shell, go to the root of yetiforce and run the following command

[code]

if all goes well,  you can then modify app/PDF

[2020-09-09 13:27] vovpff commented on #11756
@apcloic wow. This works

[code]

Is it well?

[2020-09-09 14:16] apcloic commented on #11756
@vovpff
Yes, I had the same warning about Yarn.
I'm not familiar with yarn (which is a package manager), maybe YF could tell us if it's important ?
If you have this new package in vendor/gravitymedia/ghostscript, it should work !

[2020-09-09 15:19] vovpff commented on #11756
@apcloic yes. This works. Now pdf size 6 times smaller. Do you have ideas how to roll back chandes if something going wrong?

[2020-09-09 15:33] apcloic commented on #11756
@vovpff
To roll back, afaik you just have to :
- restore original version of app/PDF/YetiforcePDF.php
- use the following command to remove ghostscript package.
**php composer.phar remove gravitymedia/ghostscript**

[2020-09-10 05:10] rskrzypczak commented on #13450
YetiForce does not make any modifications to mailboxes by default.

[2020-09-10 09:03] diderich opened #13471 "[bug] Incorrect currency shown when entering "Payment In" in non-reference currency"
# 🐞 bug report

### ⁉️ Describe the bug

When entering a payment (Payment In) and selecting a non-reference currency, the currency shown with the value field is not adjusted to the selected non-reference currency. Instead the reference currency is shown. The transaction is correctly booked in the selected currency when saving the payment transactions as shown in the figures below:

![Annotation 20

[2020-09-10 11:40] #13326 closed, assigned to areksolek

[2020-09-11 12:52] slomus opened #13473 "Normalizer.php"
Witam

Mam taki bład i nie wiem co mogę z tym zrobic a nie chce edytowac kodu php
![Bład - generowanie pdfa - raport](https://user-images.githubusercontent.com/67637171/92927753-68b40780-f43e-11ea-87e0-47362f861033.png)

[2020-09-11 12:56] mariuszkrzaczkowski commented on #13473
![github](https://user-images.githubusercontent.com/10198654/92928135-f8f24c80-f43e-11ea-9dfd-287d477fad13.jpg)

[2020-09-11 13:00] slomus commented on #13473
Nie pisze ze to jest bug tylko mam pytanie wiec nie wiem czemu wyświetlasz mi jak mam napisac o bugu sprawdz moze najpierw co jest wrzucane a nie

[2020-09-11 13:04] bpabiszczak commented on #13473
Tutaj nie ma o czym dyskutować, każdy błąd należy sprawdzić w logach, opisać jak go wywołać, czy pojawia się na wersji stable i dev a na dodatek należy pokazać swoją konfigurację serwera. Szanuj nasz czas, jeżeli mamy się czymś zająć to musimy mieć pewność, że to o co prosimy, zostało zrobione, jeżeli nie, to nie zajmujemy się tematem... bo jak życie pokazuje, większość błędów wynika m.in. ze złej

[2020-09-11 13:27] rskrzypczak commented on #13473
Pewnie dodałeś jakiś styl w szablonie pdf, który biblioteka nie obsługuje.

[2020-09-11 13:29] slomus commented on #13473
Niestety w logach nic nie ma wiec nie ma sesnu aby logi wysyłał każa linijka loga ma zapisane coś takiego :
2020/09/11 15:18:33 [error] 12038#0: *2 FastCGI sent in stderr: "PHP message: PHP Warning:  Zend OPcache can't be temporary enabled (it may be only disabled till the end of request) in Unknown on line 0" while reading response header fr$

[2020-09-11 15:51] bpabiszczak commented on #13473
Spójrz proszę na post od Mariusza i mój, dokładnie krok po kroku należy sprawdzić i wkleić dane o które prosimy, w przeciwnym wypadku nie zajmiemy się tym.

[2020-09-13 11:32] rvencu opened #13478 "How to close a running cron task? [Question]"
### Description
I try to import 7200 contacts. Of course, for such a big file I had a number of bad formatted phone numbers and such. The problem I face is that while the cron task fails with error (in cron.log) the Scheduled import keeps running for a long time doing nothing. I cannot find any way to stop that and retry the improved CSV import. Is there a way?

Of course, I cancel the current imp

[2020-09-13 12:36] rvencu commented on #13478
I found that editing the task and saving it updates the Status, hence it can be made Active again.

However, it is not normal after a crash not to reset the Status of the cron task automatically

[2020-09-14 06:32] A3ANO commented on #13450
Hi blu-IT, which settings would you like to see? There are a few menu items where you can add some settings (see screenshot).
![image](https://user-images.githubusercontent.com/9215711/93050230-caed5200-f662-11ea-8d5a-960c31877848.png)
I had a spam filter enabled to filter spam. The strange thing about my problem is that the mails are received and afterward disappear or are deleted.

Here is the m

[2020-09-14 11:33] rvencu opened #13482 "[bug] I had igbinary serializer preinstalled, removing it locks me out of the application"
# 🐞 bug report

### ⁉️ Describe the bug

My system had preinstalled igbinary PHP serializer. Later I discovered that session cleaner cron task issue this error

ERROR: LBL_SESSION_CLEANER - Cron task execution throwed exception.
App\Exceptions\NotAllowedMethod: Unsupported session.serialize_handler: igbinary. Supported: php, php_binary in /home/madinaf/app/Session/File.php:64

I tried to uninstall

[2020-09-14 13:17] #13176 closed, assigned to bpabiszczak, areksolek

[2020-09-14 13:49] apcloic opened #13485 "[bug] Occurrences module, cannot load/add participants"
Hi,

FYI, this error is present on gitstable and gitdeveloper.
Participants tab only opens if there is no relation, as soon as you try to add or select a participant :
- error notification appears "Entered invalid value"
- the participant tab stops responding.
Example :
https://gitstable.yetiforce.com/index.php?module=Occurrences&relatedModule=Contacts&view=Detail&record=3188&mode=showRelatedList&

[2020-09-14 13:57] apcloic opened #13486 "[Question] Occurrences module, how to display status_rel and comment_rel on PDF export ?"
Hi,

This module is really interesting because of the few extra features like :

- actions on related entities (mass mailing, import participants from csv)
- extra 'status' and 'comment' fields which are directly editable from related tab

So the question is : how do I get these 2 extras fields on PDF export ?

I've tried with $(relatedRecordsList : Contacts)$ and also with $(relatedRecordsList :

[2020-09-14 14:49] vovpff commented on #13486
@apcloic
#10055

[2020-09-14 15:19] blu-IT commented on #13450
Did you check, if the mails were moved in a Junk- or Deleted-Folder?

Am 14. September 2020 08:32:50 MESZ schrieb A3ANO <notifications@github.com>:

--
Diese Nachricht wurde von einem mobilen Gerät versendet.

[2020-09-14 16:21] apcloic commented on #13486
@vovpff  thanks, but the problem is not related to this issue.
When looking at relatedRecordsList function in /app/Textparser.php, I see that in $reletedRecordModel, field model object is missing for both (status_rel and comment_rel).
However, these fields are declared as value in the contact record model object.
[code]

[2020-09-15 07:34] apcloic commented on #13486
Finally I found the function getDisplayableValues() in /modules/Vtiger/models/Record.php which allow me to get display value of status_rel and comment_rel.
Now I only have to write a custom Textparser script to get a full relatedRecordsList in PDF.

[2020-09-16 07:50] A3ANO commented on #13450
Hi,

Yes, but they are not there. They seem to vanish without a trace as if they where deleted.
Is there a cron or task that can be responsible for this? I did not change allot in the configuration of YetiForce.

[2020-09-16 07:58] Kancelaria2019 opened #13487 "Email campaign are not sent from the marketing module"
My campaign and email are not sent from the marketing module.  All templates are connected

Before sending, a message appears that e-mails are added in CRON.

However, in CRON nothing is sent and nothing is added to sending.

Should I add some trigger?

### Description
![image](https://user-images.githubusercontent.com/68275748/93308852-1a6a8400-f803-11ea-978d-a77808a79d09.png)

[2020-09-16 09:12] apcloic commented on #13487
@Koko-321
Are you sure CRON is working ?
Did you check in Settings / Mail tools / Email to send if there is any error ?
https://gitstable.yetiforce.com/index.php?module=Mail&parent=Settings&view=List&block=8&fieldid=104

[2020-09-16 09:30] Kancelaria2019 commented on #13487
CRON is working wery well. I haven't problem with sending email from enother modules.
These Ttaska are not added to the queue. I THINK SO ;/

![image](https://user-images.githubusercontent.com/68275748/93319088-c023f000-f80f-11ea-9f2e-02f96597ce92.png)

[2020-09-16 12:05] apcloic commented on #12496
Hi,
I've juste found that Occurrences module has this feature yet so you just have to copy/paste a few files, change class names and you're done ! 👍

So if you need actions like Mass Email in related list view of a custom module, you will need to create/edit the following files :

- /modules/YOUR_CUSTOM_MODULE/views/Detail.php

[code]

- /modules/YOUR_CUSTOM_MODULE/models/RelationListView.php

[co

[2020-09-16 12:59] apcloic commented on #13486
If someone needs Actions on related list (ie send email) for your custom module like in Occurrences module :
https://github.com/YetiForceCompany/YetiForceCRM/issues/12496#issuecomment-693361025

[2020-09-16 13:35] apcloic commented on #12496
Now, I would also like to add 'Send SMS' action for related list.

So, I've modified /modules/MY_CUSTOM_MODULE/models/RelationListView.php

[code]

Everything is working except the "message" field from the modal popup which content is not detected (error: "this field is required").
Also, I've noticed that Emoji button is not working.
I'm still searching but I think this is too difficult for me rig

[2020-09-16 13:42] slomus opened #13489 "Portal"
Witam

Czy aby posiadac yeti portal musze miec wystationy serwer z taka samą konfiguracja jak do yetiforce crm ?

[2020-09-16 15:49] rvencu opened #13490 "[Question] I noticed PBX integration has vTiger to Asterisk connector. Will any Asterisk PBX integration work with YetiforceCRM as well?"
### Description
For instance this 3CX integration will work out of the box or via Asterisk connector? https://www.3cx.com/docs/vtiger-crm-pbx-integration-server-side/

[2020-09-16 17:48] butuemi opened #13491 "Mail conversion to Ticket not working properly - YetiForceCRM 4.4"
I configured the Rouncube & Mail Scanner, singed-up in my Mailbox and tried to create a ticket from an email.
I am receiving "**_ERR_RECORD_NOT_FOUND_**" because in the creation request the **sourceRecord** field is wrong, +/- 3 than the real ossmailviewid of the record in vtiger_ossmailview table.
Also, when trying to link an existing account to the ticket before generating it, I receive an error

[2020-09-16 22:10] #13473 closed, assigned to nobody

[2020-09-16 22:11] bpabiszczak commented on #13491
First, upgrade your system.

[2020-09-16 22:11] #13491 closed, assigned to bpabiszczak

[2020-09-17 00:31] bpabiszczak commented on #13489
Aktualnie portal nie jest w wersji stabilnej, a więc nie musisz posiadać żadnej konfiguracji. Gdy zostanie opublikowana wersja stabilna, wówczas opublikujemy z nią wymagania.

[2020-09-17 00:31] #13489 closed, assigned to nobody

[2020-09-17 00:33] bpabiszczak commented on #13487
brak logów, brak konfiguracji.

[2020-09-17 00:33] #13486 closed, assigned to bpabiszczak

[2020-09-17 00:37] bpabiszczak commented on #13485
it works for me, show the movie on gitdeveloper.

![image](https://user-images.githubusercontent.com/10197525/93405940-b55c7000-f88e-11ea-9813-c8c3143698b5.png)

[2020-09-17 00:54] bpabiszczak commented on #13468
You need to create a new uitype that will only indicate the month and the day without the year. Or you can write a script that will do this in real time. You need a developer for this.

[2020-09-17 00:54] #13468 closed, assigned to bpabiszczak

[2020-09-17 01:04] bpabiszczak commented on #13450
You will find the answer in the mail server log.

[2020-09-17 01:04] #13450 closed, assigned to bpabiszczak

[2020-09-17 01:08] bpabiszczak commented on #13448
ogólnie to nie rozumiem problemu. Temat nie ma nic wspólnego z powiązaniem z mailem [zmiana tematu nie wpływa na to, czy mail jest powiązany czy nie, może co najwyżej wpłynąć na kolejne powiązania ale nie na istniejące]. Po drugie nie rozumiem po co to robisz... po co zmieniać temat? Przecież przy wysyłce maila z CRM system automatycznie dodaje do wiadomości mail prefiks a gdy mail przychodzi, to

[2020-09-17 01:10] bpabiszczak commented on #13443
First of all: upgrade your system to the latest version.
Second: check if the bug is on gitdeveloper.

[2020-09-17 01:15] bpabiszczak commented on #13442
Most likely there is no required data in the mandatory fields or the data has been added incorrectly. You haven't uploaded your logs. You have not written what clients are missing [on the example of one client you may find a problem, e.g. a strange sign]

[2020-09-17 01:15] #13438 closed, assigned to bpabiszczak

[2020-09-17 01:16] #13384 closed, assigned to bpabiszczak

[2020-09-17 01:18] #10199 closed

[2020-09-17 01:19] #13272 closed, assigned to bpabiszczak

[2020-09-17 01:20] bpabiszczak commented on #10206
You have to write a custom function.

[2020-09-17 01:20] #10206 closed

[2020-09-17 01:24] bpabiszczak commented on #11097
Set the value to: from panel
Then set the group in the panel.

[2020-09-17 01:24] #11097 closed

[2020-09-17 01:30] bpabiszczak commented on #11609
@z0lo13  this is open source, yes you can :)

[2020-09-17 01:30] #11609 closed

[2020-09-17 01:30] #11956 closed

[2020-09-17 01:36] bpabiszczak commented on #12792
Zależy od typu pola, widocznie pole które wybrałeś ma zły format [tzn. nie jest polem które obsługujemy w tym miejscu]. Można to rozszerzyć w dowolnym kierunku, ale musi się znaleźć najpierw chętny, który za to zapłaci.

[2020-09-17 01:36] #12792 closed, assigned to bpabiszczak

[2020-09-17 01:36] #12852 closed, assigned to bpabiszczak

[2020-09-17 01:37] #12959 closed, assigned to bpabiszczak, rskrzypczak

[2020-09-17 01:37] #12980 closed, assigned to bpabiszczak

[2020-09-17 01:40] bpabiszczak commented on #13193
Issue 13318 has fixed

[2020-09-17 01:40] #13193 closed, assigned to konadrian

[2020-09-17 01:40] #13308 closed, assigned to bpabiszczak

[2020-09-17 01:41] #13333 closed, assigned to bpabiszczak

[2020-09-17 01:41] bpabiszczak commented on #13334
lepiej zleć to programiście.

[2020-09-17 01:41] #13334 closed, assigned to bpabiszczak

[2020-09-17 01:42] #13387 closed, assigned to nobody

[2020-09-17 01:53] bpabiszczak commented on #12940
There is no such functionality. You need to add workflows.

[2020-09-17 01:53] #12940 closed, assigned to bpabiszczak

[2020-09-17 01:54] #12935 closed, assigned to bpabiszczak

[2020-09-17 01:57] bpabiszczak commented on #12921
![image](https://user-images.githubusercontent.com/10197525/93410766-e3937d00-f899-11ea-8740-66ae3e2f9001.png)

[2020-09-17 01:57] #12921 closed, assigned to bpabiszczak

[2020-09-17 02:00] bpabiszczak commented on #12915
The user cannot see or access to the related record.

[2020-09-17 02:03] bpabiszczak commented on #12889
This can be done by a developer.

[2020-09-17 02:03] #12889 closed, assigned to bpabiszczak

[2020-09-17 02:04] bpabiszczak commented on #12880
This has to be checked by the developer on your server.

[2020-09-17 02:04] #12880 closed, assigned to bpabiszczak

[2020-09-17 02:07] bpabiszczak commented on #12875
You should write a script that will automatically create sales opportunities.

[2020-09-17 02:07] #12875 closed, assigned to bpabiszczak

[2020-09-17 02:55] #12821 closed, assigned to nobody

[2020-09-17 05:39] mariuszkrzaczkowski commented on #12651
The "tests/setup" directory contains an example configuration of a production and development server. This is to help you configure the server by placing ready-made configuration files.

[2020-09-17 05:43] rskrzypczak commented on #12651
I don't see the problem on the website anymore.

[2020-09-17 05:43] #12651 closed

[2020-09-17 05:50] mariuszkrzaczkowski commented on #13469
https://gitdeveloper.yetiforce.com/index.php?module=Users&view=PreferenceEdit&record=5
![image](https://user-images.githubusercontent.com/10198654/93425537-7e9c4f00-f8ba-11ea-8d49-191c19c94487.png)

[2020-09-17 05:50] #13469 closed, assigned to mariuszkrzaczkowski

[2020-09-17 05:51] mariuszkrzaczkowski commented on #13487
![github](https://user-images.githubusercontent.com/10198654/93425587-983d9680-f8ba-11ea-97eb-3bbb8714fe13.jpg)

[2020-09-17 05:55] mariuszkrzaczkowski commented on #13490
There is integration but only limited to making connections, not tested so I don't know if it works.
https://gitdeveloper.yetiforce.com/index.php?module=PBX&parent=Settings&view=List
![image](https://user-images.githubusercontent.com/10198654/93425779-f4081f80-f8ba-11ea-978f-1be22db38384.png)

[2020-09-17 05:55] #13490 closed, assigned to bpabiszczak

[2020-09-17 05:59] mariuszkrzaczkowski commented on #13077
Currently there is no possibility, only you can call a window with JS
https://github.com/YetiForceCompany/YetiForceCRM/blob/c349c404027bfb78bb50be50320c37b5631dcfd5/public_html/layouts/basic/modules/KnowledgeBase/resources/Detail.js#L9-L17

[2020-09-17 05:59] #13077 closed, assigned to mariuszkrzaczkowski

[2020-09-17 06:05] mariuszkrzaczkowski commented on #13482
Currently, the system does not support igbinary handler, someone would have to add it.
The easiest way is to change the default handler in the php.ini settings
```session.serialize_handler = php```
https://www.php.net/manual/en/session.configuration.php#ini.session.serialize-handler

[2020-09-17 06:05] #13482 closed, assigned to mariuszkrzaczkowski, rskrzypczak

[2020-09-17 06:11] mariuszkrzaczkowski commented on #13482
According to their documentation, this should work
app\Session\File.php
[code]

[2020-09-17 06:34] #12833 closed, assigned to bpabiszczak

[2020-09-17 06:38] apcloic commented on #13485
@bpabiszczak Yes, the issue is gone on gitdeveloper but still exists on gitstable.

![bug_occurrences_yetiforce_gitstable](https://user-images.githubusercontent.com/2930560/93429195-0edd9280-f8c1-11ea-8666-16e2e159144f.gif)

[2020-09-17 06:40] bpabiszczak commented on #13485
It means that the bug has been fixed :)

[2020-09-17 06:41] #13485 closed, assigned to bpabiszczak

[2020-09-17 06:51] bpabiszczak commented on #12915
![image](https://user-images.githubusercontent.com/10197525/93430435-f5d5e100-f8c2-11ea-85bd-ca466307256e.png)

[2020-09-17 06:54] bpabiszczak commented on #12915
We are not planning to change this at the moment.

[2020-09-17 06:54] #12915 closed, assigned to bpabiszczak

[2020-09-17 07:08] bpabiszczak commented on #11431
That's not true. The contacts are on a completely different level [level 4] and the accounts on the level 1. You can change it if you want, but you need a developer.

[2020-09-17 07:08] #11431 closed

[2020-09-17 07:14] bpabiszczak commented on #12751
We have already fixed a similar bug [check gitdeveloper version]

[2020-09-17 07:14] #12751 closed, assigned to bpabiszczak

[2020-09-17 07:17] bpabiszczak commented on #12777
Currently it can be set in the script.

[2020-09-17 07:22] KatarzynaUlichnowska commented on #13459
The PDF library is still under development. If a customer orders printouts then we add mechanisms to the library that are not available but are required. Therefore, until the customer with higher printing needs appears, we won't modify anything in the library because we have no time for it. Your problem requires analysis (you haven't even sent the printout templates) and the analysis requires a de

[2020-09-17 07:22] #13459 closed, assigned to KatarzynaUlichnowska, paula-w

[2020-09-17 09:03] adudekyeti commented on #13100
Hi,
On this gif product named "pr3" is inactive, so that's why is not showing on the list under category "CRM applications".  That list show only active products.
Please verify if you have it active in your CRM. If the problem still persists, please write more info how to reproduce this bug.

[2020-09-17 09:03] #13100 closed, assigned to bpabiszczak

[2020-09-17 09:07] LaurensCleyman opened #13493 "[Question] Contacts with the same e-mail adress"
Hi all,

When I add a contact with an e-mail adress that is already in use by another contact then I receive the message "Duplicate email address". But some contacts use the same e-mail adress. For example families where the father and the mother of the family has a shared e-mail adress.
How can I make sure that I can save a contact with an e-mail adresses that is already in use?
![image](https://

[2020-09-17 09:11] mariuszkrzaczkowski commented on #13493
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=EventHandler&view=Index
![image](https://user-images.githubusercontent.com/10198654/93450633-7a7e2a80-f8d6-11ea-8db5-2fc6160913ae.png)

[2020-09-17 09:11] #13493 closed, assigned to mariuszkrzaczkowski

[2020-09-17 09:52] LaurensCleyman opened #13494 "[Question] How to get access to 'Event handlers'-menu item"
Hi all,

I noticed on the YetiForce demo that there are different menu items between 'Test Gitstable' and 'Test Gitdeveloper'

How can I have acces to settings like 'Event handlers' and 'Conflict of interests'?

![image](https://user-images.githubusercontent.com/16014524/93454976-02b2fe80-f8dc-11ea-973e-54e11458154c.png)

Or there more 'hidden' options?

Kind regards,

Laurens

[2020-09-17 12:02] bpabiszczak commented on #13494
Stable - stable version [5.3]
Developer - latest developer version [5.4/6.0]
stable != daveloper

These modules will be published in the new version.

[2020-09-17 12:02] #13494 closed, assigned to bpabiszczak

[2020-09-17 18:34] vovpff commented on #13100
@adudekyeti on my system (gif in my first message) all products active but situation the same...

[2020-09-17 19:19] suarezjg commented on #13468
Thanks for your comment, Now, if I'd decide to use the first option "create a new uitype that will only indicate the month and the day without the year", How can I compare the new uitype with the date, I mean, I know how to compare, but I think Yetiforce can't extract day/month from date, I know Yetiforce has a function get_date ('today'), and that's it

[2020-09-18 07:28] apcloic commented on #13493
@LaurensCleyman As EventHandler module is not available yet, you can disable duplicate email handler directly from database.
Using phpmyadmin, search for the string 'Contacts_DuplicateEmail_Handler' and change 'is_active' to 0

[2020-09-18 07:30] apcloic opened #13500 "[bug] email composer does not handle Gmail aliases properly"
Hi,

I've just noticed that using gmail aliases get stripped when using email composer.
https://support.google.com/mail/answer/22370?hl=en
Ex : if contact email is demo+testalias@gmail.com, when clicking on email it becomes testalias@gmail.com, everything before (+) sign is removed.
It cannot be reproduced on gitstable or gitdeveloper as email links are using mailto: et not internal composer.

![b

[2020-09-18 09:01] rohanjhanepal opened #13501 "[bug] Unable to login to Roundcube module in yetiforce"
Whenever i try to login to roundcube through Yetiforce CRM i get error message "504-Gateway Timeout"

IMAP and SMTP configuration:
Imap server : koreabazar.com
IMAP port: 993

SMTP host: koreabazar.com
SMPT port:  465

Yetiforce version: v5.3.0

![Screenshot (25)](https://user-images.githubusercontent.com/40380541/93578982-aa542d80-f9bd-11ea-9273-68037b7bb9aa.png)

[2020-09-18 09:06] mariuszkrzaczkowski commented on #13501
![github](https://user-images.githubusercontent.com/10198654/93579636-03609900-f99f-11ea-9440-ec379e029b1b.jpg)

[2020-09-18 09:11] rohanjhanepal opened #13502 "[Question] How do i configure roundcube for Yetiforce"
### Description

I have trying configuring the SMTP as well as Roundcube module for Emails but i am unable to get it work .
Whenever i try to login to roundcube through Yetiforce CRM i get error message "504-Gateway Timeout"

Yetiforce version: v5.3.0

[2020-09-18 09:13] mariuszkrzaczkowski commented on #13502
Turn on logs and see what error message you have

[2020-09-18 09:34] rohanjhanepal commented on #8669
Does it work for yetiforce v5.3.0 too ??
I am having same issue

[2020-09-18 11:21] adudekyeti commented on #12707
It's not a bug it's a feature ;)
But for this field we will fix it.

You can easly manage visibility of fields in "Edit field".
**1. Firstly you need to click green button here:**
![image](https://user-images.githubusercontent.com/39482453/93591661-0ebcc000-f9b1-11ea-9435-2f6fd94fc873.png)

**2. Then you have a modal window with option "Field type"**
![image](https://user-images.githubusercontent.

[2020-09-18 11:39] KatarzynaUlichnowska opened #13503 "Vulnerabilities in libraries"
Hello,
probably many of YetiForce users [only administrators] received the following system warning:

This way you can see how our security control mechanism in YetiForce works. You don't need to worry about this alert as it is related to the functions that we do not use in the PDF library, however, we will prepare a fix next week.

How do you like such a security control mechanism?

[2020-09-18 12:16] #12707 closed, assigned to bpabiszczak

[2020-09-18 12:30] diderich commented on #13503
The message leaves me with a mixed feeling, as no fix is provided. On one side, I find it a good idea. On the other side I don't know what to do with the message (in general), i.e., if I should take any steps until you provide a fix.

[2020-09-18 12:54] Trumanp014 opened #13505 "Unable to access subdirectories during install"
Hi There,

While attempting to install 5.3 on a Centos 7.8 install, running nginx 1.16.1, mariadb 10.1.46, php 7.2.33, I am coming up with an error where the installer can not seem to write to the directories under the public_html directive in the nginx configuration.

Snippet from the nginx logs:

2020/09/18 00:13:23 [error] 21011#0: *116 open() "/var/www/yeti/public_html/config" failed (2: No su

[2020-09-18 13:07] rskrzypczak commented on #12802
![pdf (1)](https://user-images.githubusercontent.com/10221999/93600820-88a87580-f9c0-11ea-9d11-0ff02ffd9647.gif)

[2020-09-18 13:07] #12802 closed, assigned to nobody

[2020-09-18 13:49] Kancelaria2019 commented on #13487
![image](https://user-images.githubusercontent.com/68275748/93604814-31a59f00-f9c6-11ea-9763-d2af9c6ff44d.png)

![image](https://user-images.githubusercontent.com/68275748/93604985-73cee080-f9c6-11ea-94a2-124d60760777.png)

[2020-09-18 16:32] davide-alghi commented on #13505
Hi @Trumanp014,
have all files/folders, into install directory, ownership by nginx's user?

[2020-09-18 17:22] Trumanp014 commented on #13505
Indeed they have. This is what is most puzzling.

[2020-09-18 18:55] davide-alghi commented on #13505
https://github.com/YetiForceCompany/YetiForceCRM/issues/11421#issuecomment-530265830

Are these satisfied in your intall process?

[2020-09-19 21:43] staples1347 commented on #13503
Would it be possible to add to the message a list of what versions of Yetiforce fix the issue?

[2020-09-20 09:03] rohanjhanepal commented on #13502
In which logs file , could i find the Error logs for Roundcube?

[2020-09-20 09:32] mariuszkrzaczkowski commented on #13502
turn on full logs and check all errors start with

https://yetiforce.com/pl/component/zoo/item/debugging

![github](https://user-images.githubusercontent.com/10198654/93708213-bca4a780-fb34-11ea-9c8e-62eae99693fb.jpg)

[2020-09-21 06:37] vovpff commented on #12496
@apcloic how to add mass edit for related list?

[2020-09-21 07:28] apcloic commented on #12496
@vovpff You could try adding the following action :

[code]

But unfortunately It just works partially, I mean you can only modify related entities from the first page and also it throws the following error "Entered invalid value"

So, it's not really usable and requires more work.

#12034

Regards,

[2020-09-22 02:57] rohanjhanepal opened #13514 "[Question] How do i link roundcube emails to appear in the widget?"
### Description

I want emails that was sent from linked roundcube account to appear in email widget section.
Here i have attached a picture.
There is email widget , where i need emails!
How do i do that?
![Screenshot (28)](https://user-images.githubusercontent.com/40380541/93840244-7d4e9600-fcaf-11ea-9441-dba99f779499.png)

[2020-09-22 06:01] #13501 closed, assigned to nobody

[2020-09-22 08:04] #13502 closed, assigned to nobody

[2020-09-22 08:04] rohanjhanepal commented on #13502
Thanks i solved the problem by changing the SMTP host to appropriate value

[2020-09-22 08:40] asperitigroup opened #13518 "I can't log in to my Yetiforce database"
My login page opens, but when I put in my username and password, nothing happens, it just loops back to the login page - no messages. I have tried restoring the database prior to the issue occurring, but it is still the same problem, can't log in.

[2020-09-22 08:49] mariuszkrzaczkowski commented on #13518
![github](https://user-images.githubusercontent.com/10198654/93861747-513c1080-fcc1-11ea-8bea-ca91a54c83c1.jpg)

[2020-09-22 12:28] scherieble commented on #13503
It would be much better if you tracked those vulnerabilities yourself and fixed it when necessary. Yetiforce could check for new updates and alert those or even have automatic updates.
That way you would have less effort for creating new versions and giving support.

But I also want to tell you that you are doing a great job. Thank you for your work. I work with a local NGO in South Sudan and for

[2020-09-22 12:31] asperitigroup opened #13520 "[bug] Cant' log in to my Yetiforce system"
# 🐞 bug report

### ⁉️ Describe the bug

My Yetiforce CRM has been working fine since last year. I have three users set up.  When I open the login page at https://asperiti.uk/yetiforce I am prompted for my username and password, which are the same as they always have been and have not been changed. The same thing happens when I try to log in with any of the users. I enter the username and password

[2020-09-22 13:36] davide-alghi commented on #13520
Dear @asperitigroup,
as @mariuszkrzaczkowski wrote to you in https://github.com/YetiForceCompany/YetiForceCRM/issues/13518#issuecomment-696591480, you have to provide more info about your problem.
What you provided is not enough to help you.

Please follow @mariuszkrzaczkowski instructions in https://github.com/YetiForceCompany/YetiForceCRM/issues/13518#issuecomment-696591480 and append logs here.

[2020-09-22 14:07] asperitigroup commented on #13518
I edited the debug.php file to log errors.

class Debug
{
	/** Enable saving logs to file. Values: false/true */
	public static $LOG_TO_FILE = true;

	/** Enable saving logs profiling. Values: false/true */
	public static $LOG_TO_PROFILE = false;

	/** Level of saved/displayed logs. Values: false = All / 3 = error and warning / ["error", "warning", "info", "trace", "profile"] */
	public static $LO

[2020-09-22 14:15] mariuszkrzaczkowski commented on #13518
check php logs

[2020-09-22 14:22] asperitigroup commented on #13518
Please excuse my ignorance Marius, but how do I check the php logs? Where do I find the php.ini file to change log-errors and display-errors to on?
This is the first time I have had a technical problem with Yetiforce, so I haven't had to do troubleshooting before, I'm more than happy to provide any needed information if I know how to do it.

[2020-09-22 14:26] mariuszkrzaczkowski commented on #13518
try it like this
https://www.google.com/search?q=find+php+log+file&oq=find+php+logs

[2020-09-22 14:40] asperitigroup commented on #13518
OK, I created a phpinfo.php file, and ran it in the root of my webspace, and it showed me this, how do I now edit it?

![image](https://user-images.githubusercontent.com/58600791/93897339-de935b00-fce9-11ea-9c77-381efdf8f3c4.png)

[2020-09-22 14:48] asperitigroup commented on #13518
I'm not sure what is going on here. When I tried to upload the phpinfo.php file that I had created, my FTP program wouldn't upload it. It had a File transfer failed. When I then went in to my hosts file manager and tried to upload it, it said I did not have enough space - although I have only used 25Gb out of my 100GB storage.

![image](https://user-images.githubusercontent.com/58600791/93897982-9

[2020-09-22 15:01] mariuszkrzaczkowski commented on #13518
report the problem to the administrator

[2020-09-22 15:01] #13518 closed, assigned to mariuszkrzaczkowski

[2020-09-22 19:10] mariuszkrzaczkowski commented on #13520
Fixed https://github.com/YetiForceCompany/YetiForceCRM/issues/13518

[2020-09-22 19:10] #13520 closed, assigned to mariuszkrzaczkowski

[2020-09-22 19:59] asperitigroup commented on #13520
Marius, many thanks for helping me to troubleshoot this problem, I wouldn't have been able to solve it without you suggesting checking php logs - I had to upload phpinfo.php and so found the storage issue.

[2020-09-22 20:10] cristobal82 opened #13521 "Como puedo importar un modulo de la version 4.3 a la version 5.3 del yetiforce?"
Estoy intentando importar mis módulos de la versión 4.3 a la versión 5.3 alguien tiene una idea de como se hace...

[2020-09-23 07:44] davide-alghi commented on #13521
Hi @cristobal82,
are you speaking about a **custom entity module**?

YF 4.3 - Migration and exporting:

1. migrate YF 4.3 instance to YF 5.3 version
2. export custom entity module (from migrated instance)
3. export custom module data (from migrated instance)

YF 5.3 - Importing

1. import custom entity module
2. import custom entity module data

[2020-09-23 07:45] luongdq opened #13526 "[Feature] Webhook to push data to the third-party application"
Hi Guys,

I'd like to integrate YetiforceCRM to other applications, I've tried to find a feature like webhook but could not.
I think that we can setup a workflow with webhook task.
Do you have an idea to add webhook task in the "Add To Do" task list ?

Thank you,
Luong.

[2020-09-23 07:52] davide-alghi commented on #13521
@cristobal82, alternatively

1. re-create custom entity module in YF 5.3 **exactly as-is** in YF 4.3 instance
2. export the data from the YF 4.3 instance
3. import data into YF 5.3 (just re-created module)

[2020-09-23 08:00] davide-alghi commented on #13442
@alexynadamas,
did you try to export data in XML format?

[2020-09-23 08:06] mariuszkrzaczkowski commented on #13526
Two options:
1. Invoke custom function
https://github.com/YetiForceCompany/YetiForceCRM/search?q=helpDeskChangeNotifyContacts
![image](https://user-images.githubusercontent.com/10198654/93984037-9b85c600-fd83-11ea-87d6-6d9a5504a8ef.png)

2. Create a handler
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/modules/Vtiger/handlers/RecordLabelUpdater.php

[2020-09-23 08:17] Kancelaria2019 commented on #13487
I sent a bug report. What is the reason for the @ error?

[2020-09-23 08:47] luongdq commented on #13526
Thank you for your 2 options, I prefer option "1. Invoke custom function", but I don't know if we can add a task form like this:
![webhook-config](https://user-images.githubusercontent.com/22168846/93989412-15ce3e80-fdb4-11ea-9cd7-f84c94180532.png)

[2020-09-23 08:52] mariuszkrzaczkowski commented on #13526
there you attach the PHP script and in it you make the connection outside.
There is no ready panel (it would be nice, but there was no one willing to pay for it)

[2020-09-23 12:16] apcloic commented on #12034
also similar in Occurrences module
#12496

[2020-09-23 13:31] rioshaz opened #13527 "YetiForce CRM 5.3 SecurityFix v1 ... dont install"
installing

YetiForce CRM 5.3 SecurityFix v1

 make all most picklist go away in all modules...
can anyone tell me how to fix it back?

have to go to each module and manually reassign the role ....

[2020-09-23 15:48] cristobal82 commented on #13521
Hola :-) Gracias por responder, la verdad no me queda claro ya que exporte el modulo desde la versión 4.3 y la intente instalar nuevamente en la versión 5.3 y no deja hacerlo ya que dice que es una versión inferior.

[Example](https://www.youtube.com/watch?v=m1OzK8mCBlY)

[2020-09-23 16:35] davide-alghi commented on #13521
obviously: your method doesn't work.
please follow one of my procedures - the second one is the fastest

NB: run on an YF 5.3 **test** instance, before import into YF 5.3 **production** instance

[2020-09-23 18:54] BasicComputers opened #13528 "[bug] Invoice does not save all products/services selected"
Hello, When i attempt to create an invoice or a quote and then go to add multiple services or products to the invoice/quote, It will only show one of the products or services once saved but the net and total costs will equal that of all the products selected but they do not appear in the invoice or when it is exported to a PDF. Any help would be appreciated.

![yetiforce error 1](https://user-imag

[2020-09-23 20:10] vovpff commented on #13528
Very strange situation...

[2020-09-24 05:40] mariuszkrzaczkowski commented on #13527
the package updates only the library does not change CRM files,
 turn on logs

[2020-09-24 08:48] rioshaz commented on #13527
where do i find logs, so i can share with u

[2020-09-24 08:53] mariuszkrzaczkowski commented on #13527
https://yetiforce.com/pl/component/zoo/item/debugging

[2020-09-24 09:32] Kancelaria2019 commented on #13487
![image](https://user-images.githubusercontent.com/68275748/94127710-88452a00-fe59-11ea-9709-105c074d0a81.png)

[2020-09-24 09:38] Kancelaria2019 commented on #13487
![ConfReport (2)](https://user-images.githubusercontent.com/68275748/94128397-6d26ea00-fe5a-11ea-85b0-7d20182c380b.png)

[2020-09-24 10:22] kamiro16 opened #13535 "[bug] [PL] Zaokrąglanie wartości brutto"
Dzień dobry,

czy spotkaliście się z problemem zaokrąglania na fakturach?
System wyrzuca błąd jeśli pojawi się kombinacja cyfr: .075

Komunikat to:
Wprowadzono niedozwoloną wartość dla tego typu pola. Nazwa pola: gross, Moduł: FInvoiceCost, Wartość: 2094.075

![1](https://user-images.githubusercontent.com/65873917/94133198-a7938580-fe60-11ea-9985-8c7896dd30e2.png)

[2020-09-24 11:39] acuglewski opened #13536 "[Question] Dodawanie plików w module dokumenty"
Dzień dobry,

od niedawna mam zainstalowany system YetiForce. Buduję Bazę Wiedzy i potrzebuję dodać m.in. pliki z szablonami w formacie svg, grafiki psd. Pewnie pojawią się jeszcze inne pliki w inny formatach, które będę chciał dodać.

System nie dodaje jednak takich plików. Co muszę zmienić w konfiguracji by dodawać takie pliki.

--
Adam Cuglewski

[2020-09-24 17:47] nebula2 opened #13538 "[Question]"
Is there a date for portal2?
I just tried to get the version from the dev branch to work but i am stuck with "There was an error communicating with the CRM" error.
Due to the lack of documentation i am not able to figure out at which state this thing is and how to properly set up everything :/

I am running a small business and want to use the portal for incident management.

[2020-09-25 05:59] gsportelli73 opened #13539 "[Question] Roundcube Module Problem"
<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Oh hi there! 😄

I have a question about rouncube
System notify that i must update library after i applied the path on the link
https://github.com/YetiForceCompany/YetiForceCRM/issues/13440
When i try to update to roundcube yeti dosn't update library.
![roundcube_alter](https://user-images.githubusercontent.com/27689602/94231373-2b527e00-ff04-11ea-9195-8bc879532

[2020-09-25 06:10] mariuszkrzaczkowski commented on #13539
![github](https://user-images.githubusercontent.com/10198654/94232546-84bbac80-ff06-11ea-9676-9e3bcebb2a20.jpg)

[2020-09-25 06:12] rvencu opened #13540 "[Question] I have access to my PBX database and I can query call history. How to update it in CRM?"
### Description
I am using free 3CX PBX and being free it does not expose premium features (like rest api, etc). But I managed to query the database and extract call history from there. I want to update it in CRM but I need some heads up what functions to call

I can write a custom cron job to take care of this task.

[2020-09-25 06:22] gsportelli73 opened #13541 "[bug] Problem with roundcube"
# 🐞 bug report

### ⁉️ I go in configuration settings, system notify that roundcube must update.library-
I click to update but system doesn't update.
Now i try to configure roundcube but  system reports that library it isn't installed.

### 🔥 How to trigger the error
It is always presente

Steps to reproduce the behavior:

1. Go to '...Configuration'
2. Click on '....Minotring Section'
3. Scroll d

[2020-09-25 06:36] mariuszkrzaczkowski commented on #13539
Duplicate https://github.com/YetiForceCompany/YetiForceCRM/issues/13541

[2020-09-25 06:36] #13539 closed, assigned to mariuszkrzaczkowski

[2020-09-25 06:36] mariuszkrzaczkowski commented on #13541
![github](https://user-images.githubusercontent.com/10198654/94234587-3dcfb600-ff0a-11ea-8db6-a4b8bb0b562e.jpg)

[2020-09-25 08:46] rohanjhanepal opened #13543 "[bug] I just added a workflow and it doesnt work"
# 🐞 bug report

### ⁉️ Describe the bug

I have been trying to add a workflow in yetiforce and the workflow is not working . The workflow needs to create a new entry whenever the status is changed in sales orders!

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

[2020-09-25 08:57] asperitigroup opened #13544 "[bug] When I click "Settings" I get an error message."
# 🐞 bug report

### ⁉️ Describe the bug

When I click on the settings button, instead of opening up the first page of the settings, I get the following error message:

![image](https://user-images.githubusercontent.com/58600791/94246563-cd2d9700-ff13-11ea-88d6-4740bd063414.png)

None of the settings menu options work when clicked, my only option is to go back to my home page. All the menu options

[2020-09-25 09:15] asperitigroup commented on #13544
I also noted that my CalDav cron job does not run, and CalDav Synchronizer reports a sync error.

![image](https://user-images.githubusercontent.com/58600791/94249309-9b1e3400-ff17-11ea-96be-e76f213db05d.png)

This is my CalDav setup, which has worked for the last six months just fine.

![image](https://user-images.githubusercontent.com/58600791/94249424-cb65d280-ff17-11ea-979f-8902903802cd.png)

[2020-09-25 09:34] mariuszkrzaczkowski commented on #13544
Logs

[2020-09-25 09:55] blu-IT commented on #13469
@mariuszkrzaczkowski

Thanks! I changed the settings, but still get only the contacts, **NOT** the organizations via CardDAV.

[2020-09-25 10:00] asperitigroup commented on #13544
No other recent log files created apart from this one:

[cron_error.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5282023/cron_error.log)

[2020-09-25 10:01] butuemi opened #13545 "YF 5.3 - Dynamic field dependency possible?"
Hello !

I was wondering if any field relation would be possible without further development, example below:

- changing a picklist to a certain value makes another filed of the same record required

Thank you!

[2020-09-25 10:13] mariuszkrzaczkowski commented on #13544
no logs, we won't help

[2020-09-25 10:14] mariuszkrzaczkowski commented on #13545
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=PickListDependency&view=List
?

[2020-09-25 10:21] asperitigroup commented on #13544
These are all the log files that are in the cache/logs folder. Please let me know if there is anything else I can provide.

[updateLogsTrace.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5282121/updateLogsTrace.log)
[cron_error.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5282128/cron_error.log)
[Importer.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5282

[2020-09-25 10:40] butuemi commented on #13545
Thank you very much, this actually helps me in what I want to do! I don't know how I missed that!
But is there a possibility to make it required as well? As I see, you can only add Industry and save the record without the need to select a sub-branch.
Is there a way to, let's say, make "sub-branch" field Required only if Industry has the value "Finance"?

Thank you very much!

[2020-09-25 12:12] blu-IT commented on #13403
OK, it also tested the behavior on https://gitdeveloper.yetiforce.com/ .

When clicking on the "reply" button inside the ticket view, it opens an e-mail an the recipient is shown now!

What still **does not work** is the assignment of a valid [ticket_no] in the subject as shown above:

![91172984-5f583a80-e6dd-11ea-81ce-a032fe361e6f](https://user-images.githubusercontent.com/13665806/94265264-7b4b

[2020-09-25 12:31] blu-IT opened #13546 "[Feature] Change the way mail queue is shown in widget on dashboard"
Hello,

I configured mailscanner to recieve mails from mailboxes and transform into tickets.

![Screenshot_2020-09-25 E-Mail Scanner System Einstellungen](https://user-images.githubusercontent.com/13665806/94266951-180ed500-ff3b-11ea-82bb-9733d846fa39.png)

On my dashboard widget the as mailbox name there is shown the mailbox user name (that is not the e-mail address!):

![Screenshot_2020-09-25 E-

[2020-09-25 13:15] asperitigroup commented on #13544
I've got a little bit further. I still cant load the settings page, but I seem to have fixed the CalDav connection problem - it appears from cron.sh in yetiforce/cron that PHP 7.4 is not supported, so I changed my PHP version back to 7.3 and now the connection is successful.

cron.sh -
# ********************************************************************************
export CRM_ROOT_DIR=`dirname "

[2020-09-25 13:19] asperitigroup commented on #13544
2020-09-25 14:00:11 - syntax error, unexpected ''' (T_ENCAPSED_AND_WHITESPACE), expecting ']'

from which file is this error being generated? The above line is from the cron_error.log file and is the same message I get when I click on the settings button.  Can I bypass that error message to get to the settings page? Maybe be editing the debug.php file?

[2020-09-25 13:39] Hammerman3000 commented on #13469
+1
Same question: How can I have all contacts available in the system synced via carddav?
The "Based on CRM permissions" is a mysterious option since I do not find any related setting in the role manager? I mean how to setup the permission for a user to see ALL contacts? @mariuszkrzaczkowski

[2020-09-25 15:05] rohanjhanepal opened #13549 "[Question] Website embedding in yetiforce not working"
### Description

I am trying to embed a website in My site section and when i click on the website i get this issue:

The website that you are trying to open is not secure and might not open. If you still wish to view the webpage then you can click on the content blocker in the address bar and enable it.

What do i do?

![Screenshot (36)](https://user-images.githubusercontent.com/40380541/94284446

[2020-09-25 16:22] blu-IT commented on #13469
@Hammerman3000

Have you checked the ownership of your contacts? I can see contacts that I created in the system but not the organizations.
I fear that this is not possible which would rend the CardDAV module useless.

[2020-09-25 18:06] gsportelli73 commented on #13541
I have restored previus version of version.php in config  on line lib_roundcube

<?php

return [
	/*'appVersion' => '5.3.0',
	'patchVersion' => '2020.03.13',
	'lib_roundcube' => '0.0.87'*/
	'appVersion' => '5.3.139',
	'patchVersion' => '2020.08.04',
	'lib_roundcube' => '0.0.87'
	/* Modifica 25-09-2020 Giuseppe Sportelli */
	//'lib_roundcube' => '0.0.89'
];

Now i try to login with roundcube after

[2020-09-25 18:34] Patriciawa opened #13550 "[bug] No crmid in Webservice"
Hi,

So I am currently evaluating YetiForce and so far so good, however there's one problem that I can't get my head around and that is the webservice, it produces a 401 error upon trying to login in webservice. I also have tested this on the gitstable.yetiforce.com and gitdeveloper.yetforce.com and works fine.

I followed the instructions [here ](https://github.com/YetiForceCompany/YetiForceCRM/i

[2020-09-25 19:47] gsportelli73 commented on #13541
When i try to configure mailscanner it hangs  login in webmail
in error log i find

[error_log_mailscanner.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/5285009/error_log_mailscanner.pdf)
Thank for attention
Note i have replaced ip and domain for security reason.

[2020-09-26 12:34] vdpawel opened #13552 "[Question] [PL] Od czego zależy "widoczność" bloku z włączonym przyciskiem: "Włączone dynamicznie"?"
W konfiguracji systemu -> moduły-pola jest możliwość ustawienia bloku jako widocznego dynamicznie:
![obraz](https://user-images.githubusercontent.com/62466142/94340818-e7936d80-0004-11eb-919f-55be30b3fb26.png)

Jaki to daje efekt (kiedy jest widoczny, albo od czego to zależy)?
Czy za pomocą tej funkcjonalności jest możliwe pokazywanie bloku w zależności od aktualnego wyboru użytkownika (np. pól sł

[2020-09-26 22:00] bpabiszczak commented on #13552
Służy do tego, że jeżeli użytkownik na podglądzie rekordu "zwinie blok" to po wyjściu np. na listę i powrocie do dowolnego rekordu blok ten będzie zwinięty [czyli dynamicznie zapamiętuje ostatnie ustawienie użytkownika] i to działa indywidualnie per użytkownik.

[2020-09-26 22:00] #13552 closed, assigned to bpabiszczak

[2020-09-27 09:32] rohanjhanepal opened #13554 "[Question] How do i fix this server configuration issue?"
### Description

I am not able to find any configuration file to edit and modify that could solve this problem.
So where are the files for configuring in order to solve this issue .
ISSUE IS SHOWN IN PICTURE.
![clip](https://user-images.githubusercontent.com/40380541/94361516-8509a280-00d4-11eb-9907-e4fc01db769e.jpg)

[2020-09-27 13:29] vovpff commented on #13554
You need to tune your webserver and php to solve this!

[2020-09-27 14:44] davide-alghi commented on #13554
HI @rohanjhanepal,
look at **PHP configuraton** (**Additional PHP configuration**) in **_Environment information_**
https://gitstable.yetiforce.com/index.php?parent=Settings&module=ConfReport&view=Index&block=14&fieldid=65
You'll find configuration file paths for your server: PHP-<webserver (usually Apache)> and PHP-CLI
As @vovpff said you, you need to tune PHP to cover YF requirements.

[2020-09-28 04:27] dandumit commented on #13140
Good Morning,
I am interested as well in this integration.
Could you please offer that code ? I will try upgrade it to this version.
thank you,
Daniel

[2020-09-28 05:17] rskrzypczak commented on #13544
This should fix the problem: https://github.com/YetiForceCompany/YetiForceCRM/commit/b14961d1e19d6b1c10a61777bc288fcd93c21b4c

Similar threads:
https://github.com/YetiForceCompany/YetiForceCRM/issues/13005
https://github.com/YetiForceCompany/YetiForceCRM/issues/13251
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190

[2020-09-28 05:17] #13544 closed, assigned to nobody

[2020-09-28 05:22] rskrzypczak commented on #13545
`Is there a way to, let's say, make "sub-branch" field Required only if Industry has the value "Finance"?`
No.
The system does not have such functionality by default.

[2020-09-28 05:22] #13545 closed, assigned to nobody

[2020-09-28 05:44] mariuszkrzaczkowski commented on #13550
1. correct the server configuration as it will cause a lot of errors.
2. try to change user type

![image](https://user-images.githubusercontent.com/10198654/94394705-44ef0200-015e-11eb-955e-6445e2525c5a.png)

[2020-09-28 06:06] mariuszkrzaczkowski commented on #13549
![github](https://user-images.githubusercontent.com/10198654/94396107-7e753c80-0161-11eb-9409-839abc5e375c.jpg)

[2020-09-28 06:46] Patriciawa commented on #13550
Hi @mariuszkrzaczkowski ,

Thank you for getting back to me.
I'll try to correct the server configuration and let you know if that works.

Regarding the user type, it's already configured as "Permissions based on user"

![image](https://user-images.githubusercontent.com/49994443/94398945-ccd90a00-0166-11eb-94d4-d05c736115bf.png)

Regards,

Patrick

[2020-09-28 06:57] rioshaz commented on #13549
@rohanjhanepal please post proper bug report.. system environment, server, yf version, log etc.. dont take shortcuts...

[2020-09-28 07:00] rioshaz commented on #13554
@rohanjhanepal u need a vps server minimum to fix all these issues as many of the settings are controlled by hosting company and are not available in shared hosting,... if u r on vps then go to whm n find php conf file n make changes... the location of ur php conf and database file depend on your server environment and os being used...

[2020-09-28 07:03] mariuszkrzaczkowski commented on #13543
1. ![github](https://user-images.githubusercontent.com/10198654/94400417-64d7f300-0169-11eb-92c5-43e07c4f01ad.jpg)
2. Correct the server configuration first

[2020-09-28 10:30] apcloic commented on #12874
@saosangmo
Hi, I think Crowdin is the right place regarding translation contributions.
https://crowdin.com/project/yetiforcecrm

[2020-09-28 11:37] yetithebest opened #13556 "[Question] Pole: Rzeczywista sprzedaż"
Chciałbym się dowiedzieć z czego jest wyliczane pole rzeczywista sprzedaż, ponieważ nie znalazłem nigdzie tej zależności ani żadnych informacji na ten temat.

![rzeczywista sprzedaz](https://user-images.githubusercontent.com/72019135/94427546-8a77f300-018f-11eb-9c44-b092a3778026.png)

[2020-09-28 11:45] gsportelli73 commented on #13541
Hello again
Update if i set imap without tls/ss tcp port 143, login has success.
I'm sure, thath my mail server supports SSL/TLS, because i login with another client without problemi.
Thank for attnetion.

[2020-09-28 13:31] rskrzypczak commented on #13535
Kwestie zaokrągleń już poprawiano. Zweryfikuj czy zjawisko występuje na wersji [developerskiej ](https://gitdeveloper.yetiforce.com/) i [stabilnej](https://gitstable.yetiforce.com/).

[2020-09-28 23:05] manuelnice opened #13558 "MailManager Vtiger"
In the MailManager module I have an error in the Drafts folder, when I open it and click on the email it does not open, after inspecting I verified that it has an error in the ID, the id is coming with a prefix, if you remove the prefix no inspect already opens the modal, does anyone know which is the php that sends the id, to see if I can remove the prefix.

[2020-09-28 23:07] manuelnice commented on #13558
and the search in drafts not work

[2020-09-29 04:18] guide5232 opened #13559 "Security issues"
Hi Yetiforce Team

Unknown users tried to login into CRM with a different username. They tried 500 times within a single minute and same IP address but they could not log into CRM. Could this be a problem for our CRM or not.

[2020-09-29 05:30] mariuszkrzaczkowski commented on #13558
![github](https://user-images.githubusercontent.com/10198654/94516206-957d6280-0225-11eb-9f06-9cba95bb338c.jpg)

[2020-09-29 05:32] mariuszkrzaczkowski commented on #13559
do you have an active bruteforce?

[2020-09-29 05:44] bpabiszczak commented on #13559
I suppose your CRM's web address is public!

[2020-09-29 05:52] rskrzypczak commented on #13527
as @mariuszkrzaczkowski mentioned - "the package updates only the library"
No answer, so I close.
If you still have a problem, open a new ticket and complete the information.

[2020-09-29 05:52] #13527 closed, assigned to nobody

[2020-09-29 06:01] guide5232 commented on #13559
Yes we have active bruteforce.

![Brute force](https://user-images.githubusercontent.com/47585969/94518172-0f721380-0247-11eb-997d-3eefcdabdf98.PNG)
![Login history](https://user-images.githubusercontent.com/47585969/94518174-113bd700-0247-11eb-8713-479f1c5d5fd9.PNG)

[2020-09-29 06:06] bpabiszczak commented on #13559
Write your CRM web address [if you don't want to enter it here, write me an e-mail: github@yetiforce.com]

[2020-09-29 06:10] guide5232 commented on #13559
Ok i will send it

[2020-09-29 06:32] merlinwoff opened #13564 "[Question] 2nd installation page is blank and just shows yetiforce logo"
Hi there,

I am trying to setup YetiForce 5.3 on a CentOS 8 linux virtual machine. I followed the installation guide:
https://computingforgeeks.com/install-yetiforce-crm-on-centos-centos-linux/

After setting all the permissions, I am able to access: http://crm.intranet.ch/install/Install.php

The first page shows the language selection and after I click on next step, the page is just blank with a

[2020-09-29 06:45] mariuszkrzaczkowski commented on #13564
Run this file via WWW and send us file ConfReportTest_www.html
https://github.com/YetiForceCompany/YetiForceScripts/blob/master/TestRequirements/ConfReportTest.php

[2020-09-29 06:53] PatriceKast commented on #13564
When I run it by opening the url in my browser, I get:
`<h2>Errors:</h2><pre>`

If I run in on commandline, I get the following output:
[code]

[2020-09-29 07:00] merlinwoff commented on #13564
When I run it by opening the url in my browser, I get:
`<h2>Errors:</h2><pre>`

If I run in on commandline, I get the following output:
[code]

[2020-09-29 07:02] mariuszkrzaczkowski commented on #13564
Send full logs from the server

[2020-09-29 07:05] merlinwoff commented on #13564
I just managed to solve the issue. I had selinux turned on. After disableing it, it worked!

Thank you.

Cheers,
Merlin

[2020-09-29 07:07] guide5232 commented on #13559
CRM web address:  http://crm.xxxxxxxx.com.xx/index.php

[2020-09-29 07:08] #13564 closed, assigned to mariuszkrzaczkowski

[2020-09-29 09:02] bpabiszczak commented on #13556
Fajny masz nick ;) Pole to nie jest skonfigurowane ponieważ dopiero na etapie analizy ustalamy z klientem, czy wartość ta wynika z zamówień, z ofert [np. o statusie zaakceptowana] czy może z faktur. Jest to kwestia indywidualna, dlatego domyślnie nie jest to "zautomatyzowane". Zapewne w przyszłości uzależnimy to domyślnie od Zamówień [o statusie zaakceptowane].

[2020-09-29 09:02] #13556 closed, assigned to bpabiszczak

[2020-09-29 09:14] paula-w commented on #13559
This is @bpabiszczak's answer:

Someone is trying to attack your CRM. Most likely the domain is public (eg. assigned directly to the IP, and once the IP is called the CRM is visible, which means you don’t need to know the domain name in order to access the website) or someone found out your CRM address and decided to attack you. The screenshots show that these are automatic mechanisms, they are no

[2020-09-29 09:14] #13559 closed, assigned to bpabiszczak

[2020-09-29 09:59] paula-w commented on #13558
Vtiger's MailManager was removed from YetiForce years ago. We got rid of it because it had too many vulnerabilities. You can install Roundcube and use it as your email client.

[2020-09-29 09:59] #13558 closed, assigned to bpabiszczak

[2020-09-29 10:52] paula-w commented on #13554
This is @bpabiszczak's answer:

Unfortunately there is no single answer that would solve your problem, as it depends on your server configuration (@davide-alghi gave you solid advice). Configuration differs for operating systems (centos, ubuntu, debian), apache and nginx, and databases. If you’re using configuration panels (direct admin, cpanel, etc) then most of the parameters can be configured t

[2020-09-29 10:52] #13554 closed, assigned to bpabiszczak

[2020-09-29 11:54] rioshaz opened #13566 "create entity workflow not working"
i am unable to create an entity via WF.

once a ticket status has changed it should create a lead.

Have already mapped tickets to lead and but create entity doesnt work.

WF----> tickets---> everytime a record is saved -----> condition (1. status has changed,  2. status has changed to approved)---> create entity---> get mapping from panel---> finished

but this flow doesn't work,.,,, what is wron

[2020-09-29 12:26] #11210 closed

[2020-09-29 12:58] adudekyeti commented on #12738
Hi,
If you want to change font size in Chart widget you need to modify this file: layouts\basic\modules\Vtiger\resources\dashboards\Widget.js
You need to change this parameters values: "size:".

[2020-09-29 12:58] #12738 closed, assigned to adudekyeti

[2020-09-29 12:58] #12272 closed

[2020-09-29 12:59] #13443 closed, assigned to bpabiszczak

[2020-09-29 13:00] #13442 closed, assigned to bpabiszczak

[2020-09-29 13:00] #13448 closed, assigned to bpabiszczak

[2020-09-29 13:12] adudekyeti commented on #12149
Hi,
You can easily create Workflow on Documents module. Now in 5.3 TextParser function is fixed, so you can use variables to insert it into notification.

**Example notification message:**
_"Label: $(record : RecordLabel)$
Title: $(record : RecordLabel)$
Filename: $(record : filename)$"_

**Will show notification like this:**
![image](https://user-images.githubusercontent.com/39482453/94562793-123

[2020-09-29 13:12] #12149 closed

[2020-09-29 13:29] adudekyeti commented on #10104
Hi,
You use wrong type of fields. Everytime you need to use the same types of source and target fields.

[2020-09-29 13:29] #10104 closed

[2020-09-29 13:39] apcloic commented on #13566
@rioshaz Hi, did you make sure that the mapping include all required fields ?

[2020-09-29 17:40] rioshaz commented on #13566
@apcloic  thanks a million that helps...

[2020-09-29 20:13] #13566 closed, assigned to nobody

[2020-09-29 21:16] #12019 closed

[2020-09-29 21:30] #11057 closed

[2020-09-29 21:49] #12034 closed

[2020-09-29 21:57] bpabiszczak commented on #12135
We moved this mechanism to the workflow because it slowed down for saving the record.

Why control it? The field updates with a delay, this is how this mechanism was designed, we do not plan to change it.

[2020-09-29 21:57] #12135 closed

[2020-09-29 22:00] #12197 closed

[2020-09-29 22:02] #12200 closed

[2020-09-29 22:07] bpabiszczak commented on #12246
It's simple, just buy 40h from this site: https://yetiforce.com/pl/marketplace/wsparcie-development

[2020-09-29 22:07] #12246 closed

[2020-09-29 22:25] #12621 closed

[2020-09-29 22:28] #12671 closed

[2020-09-29 22:31] bpabiszczak commented on #12676
Use one profile per role. The system allows you to add several roles, but we do not recommend doing this

[2020-09-29 22:31] #12676 closed

[2020-09-29 22:39] bpabiszczak commented on #12737
The widget did not verify permissions properly, so only the administrator could use it. There is a new widget in the new version:

![image](https://user-images.githubusercontent.com/10197525/94623858-7201f880-02b5-11eb-8c06-62a3c4ba80b1.png)

[2020-09-29 22:39] #12737 closed, assigned to bpabiszczak

[2020-09-29 22:42] #12777 closed, assigned to bpabiszczak

[2020-09-29 22:45] #12826 closed, assigned to bpabiszczak

[2020-09-29 22:48] bpabiszczak commented on #12839
The mechanism exists in the system. This requires testing and minor fixes.

[2020-09-29 22:48] #12839 closed, assigned to bpabiszczak

[2020-09-29 22:55] bpabiszczak commented on #12862
Integration with Jitsi has been added in the new version
![image](https://user-images.githubusercontent.com/10197525/94624764-7e875080-02b7-11eb-8eb5-45117f327b08.png)

[2020-09-29 22:55] #12862 closed, assigned to bpabiszczak

[2020-09-29 22:58] #12874 closed, assigned to bpabiszczak

[2020-09-30 03:24] vovpff commented on #12839
@bpabiszczak please describe how to test it?

[2020-09-30 06:21] rskrzypczak commented on #12718
These types of relational fields are based on a hierarchy.
The module information is in the file, not in the database.
https://github.com/YetiForceCompany/YetiForceCRM/blob/3e4974bd70d124944a41cc55c73d099bb7e765e4/modules/Vtiger/uitypes/ReferenceProcess.php#L17
I recommend caution in modifying these relationships :)

[2020-09-30 06:21] #12718 closed, assigned to rskrzypczak

[2020-09-30 06:37] #12541 closed

[2020-09-30 06:49] KatarzynaUlichnowska commented on #12866
We do not provide programming advice on GitHub. We recommend buying the 5h package [https://yetiforce.com/pl/marketplace/wsparcie-development]. You will support the project, and in return, we will be able to spend 5 hours on programming for you.

[2020-09-30 06:49] #12866 closed, assigned to bpabiszczak

[2020-09-30 06:50] #13500 closed, assigned to adudekyeti

[2020-09-30 06:58] mariuszkrzaczkowski commented on #12866
Currently, the API does not have this option

This is Vtiger, the API is pretty new

[2020-09-30 07:34] adudekyeti commented on #11257
Hi,
We do not see sense to do it in that way. This field is number field so given value is correct.
If you really want to have it, you can use JavaScript, to copy value to text field, when you select related record.
Or second way you can create new type of uitype on both modules. Then you can manage the values the way you choose.

[2020-09-30 07:34] #11257 closed

[2020-09-30 07:38] #12740 closed, assigned to bpabiszczak, mariuszkrzaczkowski

[2020-09-30 09:59] bpabiszczak commented on #13275
mail server logs? yetiforce crm logs?

[2020-09-30 10:13] #13369 closed, assigned to bpabiszczak

[2020-09-30 10:14] #13521 closed, assigned to bpabiszczak

[2020-09-30 10:14] #13535 closed, assigned to bpabiszczak

[2020-09-30 10:15] #13526 closed, assigned to mariuszkrzaczkowski

[2020-09-30 10:18] bpabiszczak commented on #13514
1. Use the email scanner panel. [Software configuration > Mail tools > Mail – Scanner]
2. To manually bind e-mails, use the mechanism built into roundcube:

![image](https://user-images.githubusercontent.com/10197525/94673466-110b0c80-0317-11eb-8976-8059f8293ca4.png)

[2020-09-30 10:18] #13514 closed, assigned to bpabiszczak

[2020-09-30 10:20] #12860 closed, assigned to rskrzypczak, areksolek

[2020-09-30 10:22] #13543 closed, assigned to nobody

[2020-09-30 11:54] #12057 closed

[2020-09-30 12:25] adudekyeti commented on #12112
Hi,
I have a problem to reproduce this issue.
I created two modules: ModuleChild, ModuleParent.
In moduleChild I have field: _ChildField, ParentRelation (1:M):_
![image](https://user-images.githubusercontent.com/39482453/94684394-4cfa9d80-0328-11eb-8613-54af02d544e2.png)

In moduleParent I have field: _ParentField:_
![image](https://user-images.githubusercontent.com/39482453/94684411-5421ab80-0328

[2020-09-30 12:25] #12112 closed

[2020-09-30 12:41] adudekyeti commented on #12555
Hi,
I created user with our gmail email separated by dot: [yetiforce.git.developery@gmail.com].
Also I created workflow which send email message to "primary email address" Account.

And normally I received it:
![image](https://user-images.githubusercontent.com/39482453/94685913-60a70380-032a-11eb-8506-a5fab0df4a94.png)

In that case we need more information step by step how to reproduce this issue

[2020-09-30 12:41] #12555 closed

[2020-09-30 12:57] #12681 closed

[2020-10-01 05:41] fbojan commented on #13275
There was an error setting up the GMAIL server.
THANK YOU

V V sre., 30. sep. 2020 ob 11:59 je oseba Błażej Pabiszczak <
notifications@github.com> napisala:

[2020-10-01 05:42] #13275 closed, assigned to bpabiszczak, mariuszkrzaczkowski

[2020-10-01 06:57] adudekyeti commented on #12280
Hi,
When you create Time Control, you need to be sure that you correctly set relations on this record:
![image](https://user-images.githubusercontent.com/39482453/94777596-ffcc0980-03c3-11eb-85bb-b186bd8a0816.png)

Then if everything is filled, time will be counting correctly.

[2020-10-01 06:57] #12280 closed

[2020-10-01 10:17] Patriciawa commented on #13550
Okay so I've installed YetiForce on a VPS and configured it correctly this time and all works.

[2020-10-01 10:17] #13550 closed, assigned to bpabiszczak, mariuszkrzaczkowski

[2020-10-01 14:49] acoolov opened #13579 "Tickets to show in calendar PLEASE!"
Hello all! Hope everyone is doing great.

After using Yetiforce for a year, we found that it is extremely inconvenient that there is no way to show tickets in the calendar. Even if it's just the Yetiforce built in calendar. Without this feature, you have to constantly go through open tickets, sort them by date etc. There is just got to be a way to view them in the calendar. It's just a basic essen

[2020-10-02 02:44] andresrom1 opened #13580 "[Question] How to set a goal for sales in a period of time?"
Hi guys, is there any way to set a goal for sales in a period of time?
e.g: For 2020 $ xxxx
e.g For the 4th quarter of 2020 $ xxxx

Thanks!!

[2020-10-02 05:16] rskrzypczak commented on #13579
I don't know what your problem is. You can add a workflow action that adds a calendar entry along with the ticket.
![image](https://user-images.githubusercontent.com/10221999/94890187-e6d45e80-047e-11eb-9d84-42d3d368f2da.png)

[2020-10-02 05:47] davide-alghi commented on #13579
Dear @acoolov,
it's not clear what the problem is.

1) do you need to "attach" a ticket to calendar event? (in this case @rskrzypczak gave you a solution, above)
2) or ... do you need a calendar in Tickets module?

[2020-10-02 06:07] davide-alghi commented on #13580
Hi @andresrom1,
the question is not clear.
What should the system do with "goal sales" definition?
What would be the features / actions / automatisms you expect from the system?

[2020-10-02 06:59] gianfabiopezzolla opened #13583 "[Question] There is an API docs more complete than swagger ones?"
Hi there,

I'm new to yetiForce, and I need to integrate it with third party app.

I've seen your swagger API docs, and I've notice that is in progress... have you some resources with a more complete API or I need to use [this one](https://doc.yetiforce.com/api/#/BaseModule/Api)?

thanks in advance

[2020-10-02 07:06] rskrzypczak commented on #13583
There is nothing else

[2020-10-02 07:06] #13583 closed, assigned to bpabiszczak

[2020-10-02 07:09] mariuszkrzaczkowski commented on #13583
Documentation "https://doc.yetiforce.com/api" is generated from the development version code.
Not all api methods have been documented yet so you can see https://github.com/YetiForceCompany/YetiForceCRM/tree/developer/api/webservice/Portal

[2020-10-02 08:50] adudekyeti commented on #11389
Hi,
In version 5.3 it is possible to select this field:
![image](https://user-images.githubusercontent.com/39482453/94905296-f2368280-049c-11eb-865e-f55f2980ffc0.png)

**Then on dashboard you will have:**
![image](https://user-images.githubusercontent.com/39482453/94905388-14300500-049d-11eb-8489-0d19e7801667.png)

Please update your system to newest version.

[2020-10-02 08:50] #11389 closed

[2020-10-02 08:53] paula-w commented on #13579
This is @bpabiszczak ’s answer:

Unfortunately I don’t understand why you want to see tickets in the calendar? I can’t think of any reason for that. Why do you have to sort anything (why isn’t it sorted by default?), why do you have to go through open tickets (why the ones that you need to take care of aren’t on top, and the ones that are waiting for clients’ replies at the bottom?). You’re most l

[2020-10-02 08:54] KatarzynaUlichnowska commented on #11423
You can enable encryption and communicate via sockets. However, if someone has access to the configuration file (thereby access to the server), they can do anything and it won't matter how we change the authorization mechanism because they will always be able to log into the database.
Changing it to something else (e.g. encryption + sockets) would make it impossible to run on most hostings in the

[2020-10-02 08:54] #11423 closed

[2020-10-02 09:29] adudekyeti commented on #10067
Hi,
Now the only way to put a style on this list is modify relatedRecordsList() in this file: "app\TextParser.php". There you can add styles which you want.

[2020-10-02 09:29] #10067 closed

[2020-10-02 09:43] #13579 closed, assigned to bpabiszczak

[2020-10-02 12:05] andresrom1 commented on #13580
Hi @davide-alghi
The purpose of the gaols is to be able to make a quantitative comparison regarding the sales planning and the results obtained.
This information allows actions to be taken to achieve these goals.

[2020-10-02 12:10] waran70 commented on #13579
Feel free boy. Run!

[2020-10-02 13:48] davide-alghi commented on #13580
ok thx, all we know what sales goals are.
There are not default goals metrics or KPI: maybe widget / chart in YF dashboard can help you.

[2020-10-02 14:07] andresrom1 commented on #13580
@davide-alghi To answer that we all know the meaning of something, contributes little to none to the construction of collaborative knowledge.
Thank you

[2020-10-02 14:23] melboss opened #13588 "[bug] syntax error, unexpected ''=>'' (T_CONSTANT_ENCAPSED_STRING)"
I've installed YetiForce. When I go to settings, I keep getting this error and cannot access any settings unfortunately. Has anyone had a similar issue and knows the fix please?

<img width="1213" alt="Screenshot 2020-10-02 at 16 20 24" src="https://user-images.githubusercontent.com/5950450/94934109-96372280-04cb-11eb-8c77-3bac04d06e8c.png">

[2020-10-02 14:25] bpabiszczak commented on #13588
system version, configuration, application logs??

[2020-10-02 14:40] mariuszkrzaczkowski commented on #13588
https://github.com/YetiForceCompany/YetiForceCRM/issues/13005

[2020-10-02 14:40] #13588 closed, assigned to bpabiszczak

[2020-10-02 17:33] z0lo13 commented on #13580
@andresrom1 There Is no goals module in Yetiforce, as well as no report module.
You need to create a widget in rather sales invoices or opportunities modules which will compare the entered amount to the sum of all sales. Another simple solution will be to create a new header field that will do the same.
We have created a header field for the accounting module and it looks as follows:
![image](http

[2020-10-02 18:39] cristobal82 opened #13589 "Problema al crea run informe"
Quisiera saber como solucionar el siguiente problema mostrado en el video a continuación.

[example error](https://youtu.be/pta5JiNef1M)

[2020-10-02 20:05] vovpff commented on #13589
О чем речь?

[2020-10-02 20:07] vovpff commented on #13580
@z0lo13 could you share code for this improvements?

[2020-10-02 21:27] andresrom1 commented on #13580
@z0lo13 Thanks!
A widget will do the trick.

[2020-10-02 22:41] sherazkhan1988 opened #13590 "Open RSS Links In New Tab"
Hi,

   I hope you are all healthy and well.

   I am trying to find a way so when I click on rss feed links in myhomepage in Yetiforce 4.4, it opens the link in a new tab.

  How can I do that?

  Any help would be very much appreciated.

Thank You.

[2020-10-03 10:42] davide-alghi commented on #13589
Hi @cristobal82,
please report your issue in English and fill out the Bug Report template in its entirety.

![YetiForceCRM-BugReportTemplate](https://user-images.githubusercontent.com/48508691/94989489-86741880-0575-11eb-8703-279d31bec638.jpg)

[2020-10-03 22:27] #12032 closed

[2020-10-03 22:29] bpabiszczak commented on #13590
4.4?
https://superuser.com/questions/195419/google-chrome-is-there-a-keyboard-shortcut-to-open-a-link-in-a-new-tab

[2020-10-03 22:29] #13590 closed, assigned to bpabiszczak

[2020-10-03 22:30] bpabiszczak commented on #13589
yetiforce 1.1.1????????????????????

[2020-10-03 22:30] #13589 closed, assigned to bpabiszczak

[2020-10-04 17:54] mend-bolt-for-github[bot] opened #13595 "CVE-2020-15168 (Medium) detected in node-fetch-1.7.3.tgz"
## CVE-2020-15168 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-1.7.3.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js and io.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-

[2020-10-04 19:23] gsportelli73 opened #13596 "[Question] About SMTP"
Hi, i have a mail server extern to crm.
Infact ctm will send e-mail via smtp through an other e-mail account on regular domain.
I configure smtp parameter but i receive erro
Screenshoot
![Schermata del 2020-10-04 21-14-20](https://user-images.githubusercontent.com/27689602/95025090-9c71fe00-0687-11eb-850d-6e43b7542259.png)
I access via roundcube on this email account but i can't send nothing.
Why

[2020-10-05 05:21] davide-alghi commented on #13596
Hi @gsportelli73,
take into account that SMTP (BE: Mail tools / SMTP configuration) and webmail/RoundCube (BE: Mail tools / Mail - RoundCube) go separately and they are (almost) independent.
So start to fix SMTP problem, then we can proceed with webmail (FE: Virtual desk / My mailbox)

Your SMTP configuration seems right.

1) try to drop **tls://** from Server
simply use **ssl0.ovh.net**

OR

2) d

[2020-10-05 05:49] mariuszkrzaczkowski commented on #13596
![github](https://user-images.githubusercontent.com/10198654/95044252-416bf580-06df-11eb-8e3a-eceef40e2e92.jpg)

[2020-10-05 06:12] gsportelli73 commented on #13596
Hi, when i use to access at webmail
via ssl 995 i can't login
Debug of imap it:
[05-Oct-2020 07:59:37 +0200]: <001d4753> IMAP Error: Login failed for crm@xxxxxxx.it from 130.25.179.xxx. Empty startup greeting (ssl0.ovh.net:995) in /home/officeadok/public_html/yeticrm/public_html/modules/OSSMail/roundcube/program/lib/Roundcube/rcube_imap.php on line 196 (POST /yeticrm/modules/OSSMail/roundcube/?_ta

[2020-10-05 06:25] rskrzypczak commented on #13549
The module you mentioned is very old, we inherited it from Vtiger. It would have to be updated, however I guess it would be quicker if we wrote it from scratch.
For the module to work we would have to get rid of a few restrictions, which could cause some  vulnerabilities.
I think the fact that people aren't very interested in it, and it has low quality code impacted the decision to remove it.
So i

[2020-10-05 06:25] #13549 closed, assigned to nobody

[2020-10-05 11:15] rohanjhanepal opened #13597 "[bug] I am getting "Exceeds the maximum text size in bytes 65535" when adding image in text field"
# 🐞 bug report

### ⁉️ Describe the bug

When adding images on text editors, it returns the message: "Exceeds the maximum text size in bytes 65535".
See the red warning pop up

![Screenshot (46)](https://user-images.githubusercontent.com/40380541/95073413-8cf8c080-072c-11eb-9178-317e3b76e8b8.png)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to Database>Documents
2. Clic

[2020-10-05 17:51] acoolov commented on #13579
All of the equestions you ask almost make no sense. Why would I use a system where I can't even layout all my support and service tickets in the calendar? Because it is so much easier if they all show in one calendar, where you can just see your whole month schedule. It seems like you're trying to force your personal understanding of how things should work onto everyone that is using this platform

[2020-10-05 17:56] acoolov commented on #13579
Thanks for suggesting a solution. It might work okay on ticket creation but if we change the ticket schedule, or delete the ticket, would there be a way to modify the corresponding event?

[2020-10-05 19:54] vdpawel commented on #13597
it's not a bug
#13002

[2020-10-06 05:33] #13597 closed, assigned to nobody

[2020-10-06 05:39] mariuszkrzaczkowski commented on #13579
Everything is possible, there are many ways, but who will pay for it, it is not easy and quick to do to make sense

[2020-10-06 09:07] davide-alghi commented on #13579
Hi @acoolov,
if I understand your need, it's to relate one or more calendar activities to ticket and, vice versa, a calendar activity must be related to a single ticket.
I suppose that, for each ticket, you have a start day/time and duration.

If this is right, we're able to create, via workflow and mapping, a new calendar activity related to ticket.
But here the first problem: how to, correctly,

[2020-10-06 09:39] mariuszkrzaczkowski commented on #13579
A lot can be done, but the question is who will pay for it. There is one example that came to my mind quickly.
Create a new view in the module (near the record list, list with preview) which presents records in the form of a calendar if date fields are configured to show entries.
You can do the Kaban chart view and much more but the problem will be still the same...

[2020-10-06 11:15] mateuszrudyk opened #13607 "[Question] Uprawnienia do magazynu/WZ"
Witam.
Jak ustawić uprawnienia, aby podczas wystawiania WZ użytkownik mógł wybrać tylko magazyn/magazyny, którego jest właścicielem rekordu?

[2020-10-06 13:01] blu-IT commented on #13596
Drop tls:// in server name, only host name is needed and also check the port (465).

[2020-10-06 13:28] Rogeriom49 opened #13608 "Vulnerabilities in libraries"
Vulnerabilities in libraries
Vulnerabilities in libraries were detected, it is recommended to update them quickly.
Vulnerabilities:
sabberworm/php-css-parser(8.3.0):
Code injection vulnerability in allSelectors() CVE-2020-13756

i'm receiving this message when i access my configuration in administration role, i found some topics about it, but i can't figure out how to solve it.

[2020-10-06 13:45] davide-alghi commented on #13608
yes, but don't worry.
pls take a look here #13503

NB: additionally you can change (temporarily) the Frequency to 24 hours for "Notifications with system warnings" task in CRON, so you'll receive the email only once a day.

[2020-10-06 14:25] Rogeriom49 commented on #13608
I see, thanks for the reply.

[2020-10-06 14:25] #13608 closed, assigned to nobody

[2020-10-07 04:46] #12906 closed, assigned to bpabiszczak

[2020-10-07 05:09] z0lo13 commented on #13580
@vovpff why not to contribute.
goes to FInvoice/headerfields/PaymentsIn.php
[code]

[2020-10-07 09:35] DarioGui opened #13614 "[Question] time control and time end"
Hello everybody,
when a ticket is closed, the time control opens.
the time control start date and time coincide with the ticket closing date and time.
Is there a way to ensure that the ticket closing date and time is taken at the time control closing date and time and not at the start?
for example:
if I close a ticket at 11:34 this time should be put in the ticket closing time in the time control

[2020-10-07 17:14] gsportelli73 commented on #13596
Hi, i have solved !
Problem is a Smtp Restriction on my VPS that block all SMTP traffic from
sources thatdoesn't belongs to same domain.
In other words, if i have a mail server on my vps the problem doesn't
appear, while if my smtp iis remote i must disable smtp restriction.
Look up this
https://kb.iweb.com/hc/en-us/articles/230245568-Enabling-WHM-s-SMTP-restrictions
Thank

Il giorno mar 6 ott 202

[2020-10-07 17:59] Patriciawa opened #13617 "[bug] Duplicated entry when creating a record"
# 🐞 bug report

### ⁉️ Describe the bug

When adding a record for a custom module (module built via the module builder) the entry appears twice (duplicate). This only happens when a Workflow is triggered and invokes a custom function.

### 🔥 How to trigger the error

Create a record in the custom module.

See GIF;

![duplicatentry](https://user-images.githubusercontent.com/49994443/95367919-a9842c

[2020-10-08 07:00] davide-alghi commented on #13617
Hi @Patriciawa,
I just tested, on my YF 5.3.0 instance, but everything works fine, both built-in and custom modules. I cannot reproduce the issue.

1. about **opcache.interned_strings_buffer**: set it to lower value than 100. Maybe your server haven't got enough resources.
2. about **webserver headers**: that is not so easy to set, anyway it has no implications with your issue

Your logs are essen

[2020-10-08 13:19] Patriciawa commented on #13617
Hi @davide-alghi

Apologies for not saying earlier, the following has to be in the function in order to trigger the duplicate;
[code]

Anyway here's the log, I've redacted some info. I couldn't find a php_errors.log in one of YetiForce's directories. I could find one in my `/var/log` but it was empty.

Here's the log:

[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5348063/sys

[2020-10-08 13:40] davide-alghi commented on #13617
ah ok, now is clear. it is not a bug.
if you put

[code]
what it happens:
1. you create a new record by GUI
2. then you save it
3. YF saves the new record, but the record is marked as new
4. the YF execs your workflow task: where you are saving (again) the record (still marked as new), so the second one (copy) is created

if you have to change values into record (and then save it), you have to wor

[2020-10-08 13:48] davide-alghi commented on #13617
here how to manage record into workflow task

https://github.com/YetiForceCompany/YetiForceCRM/blob/8df9aaf68d2a5c0f9ad8e82838f6272ae3b1de29/modules/com_vtiger_workflow/tasks/VTUpdateFieldsTask.php#L29

**I.E.**

[code]

[2020-10-08 14:16] Patriciawa commented on #13617
@davide-alghi

Many thanks for your response. Adding `$recordModel->isNew = false;` did the trick.

[2020-10-08 14:16] #13617 closed, assigned to nobody

[2020-10-08 22:59] #13596 closed, assigned to nobody

[2020-10-09 06:24] BasicComputers commented on #13528
I found out that the issue is related to the update from 4.4 to 5.0, i noticed that once the update was performed that i had to go into the mysql database and change the id of u_yf_finvoice_inventory to crmid in order for invoices to even save without throwing and error but once that change was made I was then unable to view the additional services and products that are added to an invoice. I am t

[2020-10-09 06:32] mariuszkrzaczkowski commented on #13528
You just damaged your CRM, without knowing the database structure you better not do it.
Your update did not complete properly, the update package adds new columns and changes data types, if you have no changes, it means that an error occurred.

https://github.com/YetiForceCompany/UpdatePackages/blob/02965af877fc925e5e5bfe16feea160ae1bd159a/YetiForce%20CRM%204.x.x/4.4.0_to_5.0.0/updates/init.php#L6

[2020-10-09 06:33] #13528 closed, assigned to mariuszkrzaczkowski

[2020-10-09 19:56] MixTecnico opened #13625 "[Question] Comment widget, in new module?"
![widget-comentarios](https://user-images.githubusercontent.com/29989839/95625349-bbd5a600-0a4e-11eb-8187-4e1d4dce4ff1.png)

Could you tell me how to add the comments widget in a new module

![widget-comentarios2](https://user-images.githubusercontent.com/29989839/95625872-9c8b4880-0a4f-11eb-9757-2ee07cccc47c.png)

What should I enable to view comments in summary widget??

### Description

[2020-10-10 05:31] davide-alghi commented on #13625
Hi @MixTecnico,
you can't. You need an extension (to develop).
pls take a look at https://github.com/YetiForceCompany/YetiForceCRM/issues/10626

[2020-10-10 08:27] Patriciawa commented on #13614
Hi @DarioGui,
You could probably achieve this with Workflows

[2020-10-10 08:31] Patriciawa commented on #13617
@davide-alghi Do you know by chance how I can get the data from, for example, the Contacts module and place that data in a other module via a custom function?

[2020-10-10 12:14] davide-alghi commented on #13617
if I'm not mistaken, Vtiger_Record_Model has everything you need. on Monday I'll check

[2020-10-10 17:52] nebula2 commented on #13538
Hey, it's been 16 days now. is there any chance I get an answer?
Hard to contribute under these circumstances :/

[2020-10-10 18:13] bpabiszczak commented on #13538
The customer portal is not finished yet. It will be completed when some customer pays for this.

[2020-10-10 18:13] #13538 closed, assigned to bpabiszczak

[2020-10-10 18:14] #13625 closed, assigned to bpabiszczak

[2020-10-12 05:00] davide-alghi commented on #13617
Hi @Patriciawa,
I confirm. Vtiger_Record_Model class provides all you need.

create a new record
https://github.com/YetiForceCompany/YetiForceCRM/blob/1006f9e4e8ff735283206df30717292718afcc99/modules/Vtiger/models/Record.php#L659

get a record
https://github.com/YetiForceCompany/YetiForceCRM/blob/1006f9e4e8ff735283206df30717292718afcc99/modules/Vtiger/models/Record.php#L686

get entity field (fiel

[2020-10-12 05:44] rohanjhanepal commented on #13597
How do i fix it? #13002 was no help for me. Where and what should i change to get it working?

[2020-10-12 06:11] rohanjhanepal opened #13629 "[Question]"
### Description

I want to fix this:
 below are two pictures showing the issue.
 When in preview mode , some random HTML elements appear, how do i fix  it?
Look at the article/Introduction section
![Screenshot (49)](https://user-images.githubusercontent.com/40380541/95711072-bf04a800-0c81-11eb-85ea-bb4437c0bab4.png)

In preview mode:
![Screenshot (50)](https://user-images.githubusercontent.com/403

[2020-10-12 06:21] mariuszkrzaczkowski commented on #13629
You do not have a registered system

[2020-10-12 06:21] mariuszkrzaczkowski commented on #13629
![github](https://user-images.githubusercontent.com/10198654/95711864-f06e7b00-0c63-11eb-8f87-a709c76ee757.jpg)

[2020-10-12 07:20] Patriciawa commented on #13617
Hi @davide-alghi,

Thanks, I was struggling to find this. I currently have the following in the method, for creating a record;

[code]

My guess is that you can set the data in the following line: `$instance->setData($focus->column_fields);`

But how can I achieve this?

Thanks,

Patrick

[2020-10-12 08:55] blu-IT opened #13630 "[Question] How to display every recent changes / updates of Accounts, Tickets or Tasks on a Dashboard Widget"
Hello,

I need some widget on the dashboard that shows me recent changes in the system as a widget.
Especially Accounts and Tickets I would like to monitor:

![Screenshot_2020-10-12 Accounts List](https://user-images.githubusercontent.com/13665806/95726396-2cf8a180-0c79-11eb-9cb3-36419d5a3a4f.png)

So every time there is e new entry and displayed with the red counter in the screenshot, I would lik

[2020-10-12 10:05] satty12 opened #13631 "[Question] How can i create a filter which shows opportunities which have not been modified for more than X amount of days?"
[Question] How can i create a filter which shows opportunities which have not been modified for more than X amount of days?

[2020-10-12 10:09] bpabiszczak commented on #13631
![image](https://user-images.githubusercontent.com/10197525/95734416-b8773000-0c83-11eb-87de-ab4404361771.png)

[2020-10-12 10:09] #13631 closed, assigned to bpabiszczak

[2020-10-12 10:45] blu-IT opened #13632 "[Feature] Change a "regular" ticket to an internal ticket"
## 🚀 feature request

### Describe the solution you'd like
I have some e-mail accounts that trigger a new ticket in YF. Some of these tickets do not belong to a Account/Organization/Customer but are INTERNAL tickets and I would like to change/transfer/migrate them to an internal (company) ticket.

### Describe alternatives you've considered
I could add my own company as an Account/Organization/Cus

[2020-10-12 10:53] apcloic opened #13633 "[bug] multiEmail field, 'consent to send' checkbox not working properly"
Hi,

On gitstable, you can only check 1st email.

On gitdeveloper, you can select all but 1st entry.

Below screen recording was made on giststable.

![issue_multi_email_field](https://user-images.githubusercontent.com/2930560/95738338-59b4b500-0c89-11eb-9da5-448dad4627f6.gif)

Also, I've noticed that multiEmail field cannot be used as email address for Mass Email action.

Regards,

[2020-10-12 13:08] Hammerman3000 opened #13634 "[Bug] Converting Leads to Accounts no longer works after Servicepack Update"
Hi there,

I recently updated to 5.3.0 ServicePack 4.

Now I am in trouble converting leads to accounts, even as an Admin.
![image](https://user-images.githubusercontent.com/45795852/95749613-23346580-0c9c-11eb-9450-52b311101291.png)

I found some weird behavior:
- A field "Short Name" exists without mapping
![image](https://user-images.githubusercontent.com/45795852/95749692-452de800-0c9c-11eb-8e

[2020-10-12 13:12] blu-IT opened #13635 "[Question] CardDAV/CalDAV: I only can see my contacts and meetings - how to see ALL?"
Hello,

I'am refering to this issue https://github.com/YetiForceCompany/YetiForceCRM/issues/13469 because it has been closed, but still not working.

After changing the settings, like mentioned here https://github.com/YetiForceCompany/YetiForceCRM/issues/13469#issuecomment-693923072 I still **can't see all** accounts/organizations via CardDAV.

I tried configuring Mozilla Thunderbird addressbook (

[2020-10-12 13:18] Hammerman3000 commented on #13469
@blu-IT
Hey Ivan,
yeah i do see contacts that are part of an account or lead as well as contacts that have been added in the system without any relationship.
Indeed I think it's easily possible, just the role management in yetiforce is not properly documented.

I created an admin account with setting "Synchronize CardDAV contacts: Based on CRM permissions"
Then created the CardDav Key
Then **waite

[2020-10-12 13:19] Hammerman3000 commented on #13635
I gave you a reply in your previous post https://github.com/YetiForceCompany/YetiForceCRM/issues/13469#issuecomment-693923072

[2020-10-12 13:20] Hammerman3000 commented on #13469
When you say you don't see the "organizations" what are you referring to?
Did you actually check the vcf exports done by yetiforce if the desired values are included?
since the vcf exports are contact based they are of course on an "per contact" level

[2020-10-12 13:38] blu-IT commented on #13469
I mean the organizations stored in "Accounts" which are an essential part of the contact list here (contacts without specific contact).

[2020-10-12 13:50] apcloic commented on #12496
Regarding Send SMS to related list mass action, here's a quick and dirty fix by using a custom layout.

So you have to create the following file in /layouts/basic/modules/Your_Custom_Module_Name/SendSmsForm.tpl

With the following code :

[code]

So basically, here's the only change from original SenSmsForm.tpl

Replace :

[code]

with	:

[code]

[2020-10-12 15:50] satty12 commented on #13631
this give me what was changed in last 30 days.. I need opportunities which have "NOT" been updated in last 30 days..

[2020-10-12 17:19] apcloic opened #13636 "[Feature] Mass Email Action - Send to multiple email address"
Hi,

How about sending to multiple email address ?
For example, in Contact module -> send email to primary + secondary email
It would be helpful when you have to send an urgent or very important message.

Regards,

[2020-10-12 18:46] jjbautist1 opened #13637 "Update value of fields automatically"
🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

How to update the product price in the calculation list automatically?
When a calculation is already set up and I change the price of a product it is not automatically updated.
Help!

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

[2020-10-12 19:14] davide-alghi commented on #13633
I confirm. it works via keyboard, it doesn't via mouse.
This is a regression: in YF 5.2 works fine. I added in my bug-list: I'll try to fix it.

For inclusion in mass-email action, I'll investigate the complexity.

[2020-10-12 19:38] davide-alghi commented on #13617
Hi @Patriciawa,
sorry but I cannot understand what your code is trying to do. It seems it's turning around to empty data :(
Are you trying to copy data from a record to another record?
[code]

[2020-10-13 04:51] rskrzypczak commented on #13630
![image](https://user-images.githubusercontent.com/10221999/95816669-ed38c500-0d1f-11eb-8325-008f92d54183.png)

or you can try to use watchdog

![image](https://user-images.githubusercontent.com/10221999/95816863-69330d00-0d20-11eb-8192-19e451c03922.png)

[2020-10-13 05:31] mariuszkrzaczkowski commented on #13635
Your user can see all contacts in CRM?

[2020-10-13 05:57] blu-IT commented on #13630
@rskrzypczak Thanks!!! That's exactly what I need! But how do I get that Updates-widget on my dashboard? How to create or activate it?

[2020-10-13 06:02] blu-IT commented on #13635
@mariuszkrzaczkowski

Yes, I can see all contacts, but I also need to see the "Accounts" stored in the CRM via CardDAV- they are the basic part of my "Contacts" - customers and companys without a special/individual contact, but a general contact (like Secretary's Office):

![Screenshot_2020-10-13 Accounts List](https://user-images.githubusercontent.com/13665806/95821542-69380a80-0d2a-11eb-9125-e52

[2020-10-13 06:20] blu-IT commented on #13630
OK, I found the settings AND the preconfigured widget - did not know the existence of these preconfigured widgets - very helpful!

![Screenshot_2020-10-13 Widget management System settings](https://user-images.githubusercontent.com/13665806/95822790-dc428080-0d2c-11eb-9c4f-40dd27c81a0e.png)

Thanks again!

[2020-10-13 06:20] #13630 closed, assigned to nobody

[2020-10-13 06:22] mariuszkrzaczkowski commented on #13635
How many records do you have in contacts and how many shows in the dav configuration panel?

[2020-10-13 06:26] blu-IT commented on #13635
Well, actually there are about 16 or 17 contacts in the YF and I can see 16 in Thunderbird address book.
DAV configuration panel says 18 contacts...

But I have more then 400 Accounts / Companys stored I would like to see via CardDAV...

[2020-10-13 06:33] Patriciawa commented on #13617
Hi @davide-alghi,

Apologies for not clarifying. I'm trying to create a record. Thanks for the example above!

[2020-10-13 06:56] mariuszkrzaczkowski commented on #13635
I don't understand something about what modules are you talking about?

[2020-10-13 06:56] mariuszkrzaczkowski commented on #13635
syncing only works with contacts and what do you want to sync?

[2020-10-13 07:56] blu-IT commented on #13635
I am talking about **"Companies and Contacts -> Accounts"** - this is the base for all general and unspecified contacts, like  Secretary's Office of every Company.

[2020-10-13 07:59] blu-IT commented on #13635
Accounts (Companies and Contacts -> Accounts) also have (**the primary!**) contact details for e-mail or phone for example. This is crucial for us. A customer/company that is stored in accounts is a Contact from my point of view.

[2020-10-13 08:02] mariuszkrzaczkowski commented on #13635
Currently, the system does not have the ability to synchronize the "Accounts" module.
If there is a client for it, we will expand the synchronization

[2020-10-13 08:02] #13635 closed, assigned to mariuszkrzaczkowski

[2020-10-13 09:05] blu-IT commented on #13635
@mariuszkrzaczkowski

OK, thanks! You mean you need a customer who want's this function? OK, I will ask the client where I am implementing the system and I will need some costs I can tell him ;-)

[2020-10-13 09:11] mariuszkrzaczkowski commented on #13635
yes

[2020-10-13 10:24] blu-IT commented on #13635
OK, maybe I have this customer for you ;-) Can you send me a offer for this impelemtation via pm or mail?

[2020-10-13 10:29] Hammerman3000 commented on #13635
@blu-IT ok, now I understand your questions. You confuse accounts with contacts and expect them to sync via CardDav which they can't since they are just "lines" in the vcfs and not stand-alone contacts 👍

@mariuszkrzaczkowski wouldn't it generally speaking make more sense to enable yetiforce with a simple open source LDAP (like https://www.openldap.org/ or any other...) contact server? It's close

[2020-10-13 10:38] mariuszkrzaczkowski commented on #13635
send to e-mail hello@yetiforce.com

[2020-10-13 16:11] acoolov opened #13641 "[Question] Best way to update from 4.4"
Hello friends, simple question.

What is the best and most reliable way to update our system from 4.4 to the latest stable 5.3?

I'm not very good with using this github. Could someone just give me the proper links to the proper stable files to download and use to update our system? Do I first need to update it to some transition version and then to the latest one? I'm kind of lost in all the down

[2020-10-13 16:45] DarioGui commented on #13614
before answering I tried to see but I didn't understand the way.
With the workflow I can call the function to update the processing times but it is this that should be changed and it is out of my knowledge.
I add to the things I have to get done

Thanks a lot!

[2020-10-13 17:29] apcloic commented on #13636
Hi all,

I've tried to do it by myself, I don't know if it's the right way but it works for me.
https://github.com/YetiForceCompany/YetiForceCRM/pull/13642

[2020-10-13 20:26] bpabiszczak commented on #13641
4.4 > 5.0 > 5.1 > 5.2 > 5.3
https://github.com/YetiForceCompany/YetiForceCRM/releases
We can also do it for a fee for you [8h].

[2020-10-13 20:26] #13641 closed, assigned to bpabiszczak

[2020-10-13 20:30] bpabiszczak commented on #13607
Ustawić magazyny jako prywatne i przydzielić go do tego magazynu do którego może mieć uprawnienia.

[2020-10-13 20:30] #13607 closed, assigned to bpabiszczak

[2020-10-13 20:31] bpabiszczak commented on #13637
Need to add a handler [you need a developer]

[2020-10-13 20:31] #13637 closed, assigned to bpabiszczak

[2020-10-13 20:36] bpabiszczak commented on #13632
Why doesn't the mail scanner decide this? Just add a good rule.

[2020-10-13 20:37] #13629 closed, assigned to bpabiszczak

[2020-10-13 20:40] bpabiszczak commented on #13636
Why do you want to send the same email twice to one person?

[2020-10-14 04:15] mend-bolt-for-github[bot] opened #13648 "CVE-2020-7733 (High) detected in ua-parser-js-0.7.21.tgz"
## CVE-2020-7733 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ua-parser-js-0.7.21.tgz</b></p></summary>

<p>Lightweight JavaScript-based user-agent string parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.21.tgz

[2020-10-14 06:57] apcloic commented on #13636
@bpabiszczak Because in case of important/urgent information, I need to maximize the chance that email was read.

[2020-10-14 21:41] #13503 closed, assigned to KatarzynaUlichnowska

[2020-10-14 21:42] bpabiszczak commented on #13503
https://github.com/YetiForceCompany/UpdatePackages/tree/developer/YetiForce%20CRM%205.x.x/5.3.0_SecurityFix

[2020-10-15 06:08] z0lo13 commented on #13487
it was an existing issue already #12113

 it fixes if you add a field email without number after. However its not a solution.

For some reason email1 is not recognized as email field but its recognized as Standard and purifier treats it like value and validation breaks.

[2020-10-16 06:13] Yetilayman opened #13650 "Changing the landing tab from Summary to Details for Opportunities?"
How does one change the landing tab from Summary to Details for Opportunities in YetiForce?

[2020-10-16 06:50] Yetilayman opened #13651 "How to export to Excel with more than 12 attributes from YetiForce (e.g. Opportunities)"
How does one export (to Excel) more than 12 fields / attributes from YF, e.g. from Opportunities?

[2020-10-16 06:50] mariuszkrzaczkowski commented on #13650
Create a configuration file for this module example:
config\Modules\__Module_Name__.php

![image](https://user-images.githubusercontent.com/10198654/96222456-997ee380-0f8c-11eb-9db8-91db5e4c918a.png)

[2020-10-16 06:50] #13650 closed, assigned to mariuszkrzaczkowski

[2020-10-16 07:21] davide-alghi commented on #13651
Hi @Yetilayman,
"Export to Excel" action exports selected filter fields, so you have to add needed fields to filter you are using to export.

[2020-10-16 08:07] tonybyng opened #13652 "[Question] API filtering by greater than or less than with x-condition"
### Description
I finally got my head around the x-condition filtering on the API but cannot see how to do a greater than or less than filter. I want to pick up any Accounts record that has been created today (or in fact, over the previous hour ideally) but there doesn't seem to be an operator for greater than or less than ? This means not only can I not do date searches but can't identify any rec

[2020-10-16 08:17] tonybyng opened #13653 "[Question] API x-condition for greater than or less than"
### Description
I'm trying to identify how to use the x-condition API filter for a greater than or less than for a date to get all Account records created in the last hour. Looking in the

app/Conditions/QueryFields/BaseField.php

file I can see operatorE and operatorN etc but there isnt a operatorGTE or operatorLTE for example. Ive temporarily added them in and happy to do a PR if they really don

[2020-10-16 08:17] davide-alghi commented on #13652
maybe these? (dates)

https://github.com/YetiForceCompany/YetiForceCRM/blob/ff3d21326e54f8224bbcddcc104a770f6436d60b/app/Conditions/QueryFields/DateField.php#L126

https://github.com/YetiForceCompany/YetiForceCRM/blob/ff3d21326e54f8224bbcddcc104a770f6436d60b/app/Conditions/QueryFields/DateField.php#L136

[2020-10-16 08:20] #13652 closed, assigned to nobody

[2020-10-16 08:21] tonybyng commented on #13653
Closing this - I got a 404 error when I submitted and didnt realise it had worked so I wrote it up again.

[2020-10-16 08:21] #13653 closed, assigned to nobody

[2020-10-16 08:42] shekharsaad commented on #7639
We really need a pdf invoice xml format to be make quotes and invoices

[2020-10-16 09:08] jacohelm commented on #13651
Hi @davide-alghi

The problem is when setting up a filter, you cannot add more than 12 columns. Is there any way to increase the number of columns per filter?

![image](https://user-images.githubusercontent.com/2587812/96239355-e28c6300-0f9f-11eb-8f7d-9d403fa26799.png)

[2020-10-16 09:19] jacohelm opened #13654 "[Question] Why are we receiving this error when adding Oppertunity"
When creating a new Opportunity, no matter what the Subject is set to, we are bugged with this error.

![image](https://user-images.githubusercontent.com/2587812/96240523-4c593c80-0fa1-11eb-98b2-6bc4ba88a62f.png)

Although the Opportunity is still created, the error remains.

We did change the numbering system for Opportunities and each is a new number and even when ensuring the Subject field is s

[2020-10-16 09:35] mariuszkrzaczkowski commented on #13654
![github](https://user-images.githubusercontent.com/10198654/96242322-a4913e00-0fa3-11eb-817a-e5f91b475621.jpg)

[2020-10-16 09:35] #13654 closed, assigned to mariuszkrzaczkowski

[2020-10-16 09:39] Andr198 opened #13655 "[bug] Images in KnowledgeBase are not displayed in browsers"
# 🐞 bug report

### ⁉️
Images in KnowledgeBase are not displayed in browsers

![noimage](https://user-images.githubusercontent.com/62097187/96241050-33e12600-0f91-11eb-981b-2389d76930ce.JPG)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'Support FAQ Knowledge base Projekty'

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [✔️] I confirm that I tested

[2020-10-16 09:49] bpabiszczak commented on #7639
https://yetiforce.com/pl/marketplace/wsparcie-development

[2020-10-16 10:03] mariuszkrzaczkowski commented on #13655
It works properly, by default the system blocks loading from external sites.
You must enter the list of trusted domains in the configuration.
https://github.com/YetiForceCompany/YetiForceCRM/blob/7f11a8ab41125a2e4e9f594ec9ec3a56bb2fcbf8/config/Security.php#L143-L144

[2020-10-16 10:03] #13655 closed, assigned to mariuszkrzaczkowski

[2020-10-16 10:03] davide-alghi commented on #13651
Hi @jacohelm,
pls believe me! pretend there is no limit! :innocent:
![Screencast_16-10-2020_11:55:52](https://user-images.githubusercontent.com/48508691/96245266-6c8bfa00-0fa7-11eb-98e7-43bf1798f96b.gif)

[2020-10-16 12:24] jacohelm commented on #13651
Hi @davide-alghi

Thanks. Suppose that is what happens when you read the screen and adhere to the notes. :-)

[2020-10-16 13:13] davide-alghi commented on #13651
yes @jacohelm, and you're right to follow notes :thumbsup:
in YF 6.0 label is fixed

[2020-10-16 19:36] acoolov opened #13656 "[Feature] Show only open tickets in the widget"
Hello friends,

I was able to create a tickets widget for the Account module. So now when I click on any account, it shows all the tickets associated with that account right in the summary view, which is super convenient.

However, it is always showing all tickets, not just open tickets. And sometimes when there are too many tickets that have been done for the client, the widget would only show al

[2020-10-17 02:56] TonyM15 commented on #7639
My advice is you guys stop begging for money. We all understand money is essential, but believe me, your way makes more damage than you would be expecting. It is unprofessional and shallow in terms of common sense and business logic standing.
If you want to encourage individuals to share some money, do it off the public space to avoid comments like this one.
As I care of you guys as developers (no

[2020-10-19 03:19] #13651 closed, assigned to nobody

[2020-10-19 05:46] rskrzypczak commented on #12452
![discount](https://user-images.githubusercontent.com/10221999/96406145-1acdb480-11df-11eb-89a2-0d7806f6ef16.gif)

[2020-10-19 05:46] #12452 closed

[2020-10-19 06:28] rskrzypczak commented on #13278
The TextParser Class, as the name suggests, is used for text parsing, this is why functions aren't public by assumption.
If you have to perform any operations you should initiate a new TextParser object and give it a variable that you will then parse, for example:
`
$html.= \App\TextParser::getInstanceByModel($this->textParser->recordModel)->setContent('$(relatedRecordsList : Contacts|firstname,la

[2020-10-19 06:28] #13278 closed, assigned to rskrzypczak

[2020-10-19 07:20] mrzewnicki opened #13661 "[PL][Question] Problem z aktualizacją"
Witam,

Po instalacji na nowej instancji napotkałem problem przy próbie aktualizacji systetmu:
![image](https://user-images.githubusercontent.com/21024857/96413607-325f6a00-11ec-11eb-956d-ac83199c85ab.png)

Błąd pojawia się przy próbie pobrania dostępnego pakietu aktualizacyjnego:

![image](https://user-images.githubusercontent.com/21024857/96413730-591da080-11ec-11eb-822f-c08b25b99de1.png)

[2020-10-19 07:26] mrzewnicki commented on #13661
Wrzuciłem z pliku.

[2020-10-19 07:26] #13661 closed, assigned to nobody

[2020-10-19 08:35] apcloic commented on #13278
@rskrzypczak Thanks a lot !

[2020-10-19 10:48] davide-alghi commented on #13656
Hi @acoolov,
a way to reach your need is to use filter or switch in widget.

_Premise: in YF 5.3 filter and switch have some problems, but in YF 6.0 issues are fixed._

I suggest you to use switch. How to?

1) create a new boolean field into Tickets module: "Is open"
2) create 2 workflow to set "Is open" field
   - WF 1 => Condition: Status = /include Status values in OR condition/ --- Task (Updat

[2020-10-19 15:10] asperitigroup opened #13667 "Is it possible to change the date format on the calendar view column heading?"
### In the graphical calendar week view, the day column heading show the date in the format Dayname MM/DD e.g. Wed 10/21 is October 21st.  Can this be changed to display Dayname DD/MM e.g. Wed 21st October - Wed 21/10

![image](https://user-images.githubusercontent.com/58600791/96469868-9c483580-1225-11eb-9a04-3eaab09eee1c.png)

[2020-10-19 17:30] davide-alghi commented on #13667
Hi @asperitigroup,
that is not possible via YF GUI.

You have to change YF core-code, a javascript file; then **minify it and replace the original one (CalendarView.min.js)**.
**This operation is a risk: if you make a mistake, calendar will no longer work - I advise against it**
Moreover the javascript file, probably, will be overwritten by the next YF update/upgrade

anyway ...

[code]
after
http

[2020-10-19 20:22] asperitigroup commented on #13667
Thanks for explaining this. Is there a "safe" way to try this? E.g. Save a copy of the original CalendarView.min.js file so I can make sure the modified (and minified) js file works correctly?
Is there a preferred minifier tool to use?
I understand that the modified file may be overwritten by an upgrade, but the mod could be re-applied I assume?
Thanks in advance.
Steve

[2020-10-20 05:06] davide-alghi commented on #13667
you can use original CalendarView.js:
- rename CalendarView.min.js in CalendarView.min.js.orig
- duplicate CalendarView.js
- rename the copy to CalendarView.min.js
- make changes to CalendarView.min.js

https://github.com/YetiForceCompany/YetiForceScripts/tree/master/YetiDevsTools

yes

[2020-10-20 07:33] asperitigroup commented on #13667
Many thanks for the further information, I'm a bit nervous to try this as I'm not a programmer by any means, and I don't want to mess up my YF installation!  I think I might live with it for now and submit a feature request for version 6.

Best regards
Steve

[2020-10-20 07:33] #13667 closed, assigned to nobody

[2020-10-20 07:54] asperitigroup opened #13670 "[Feature] Allow Graphical Calendar Week column header date format to be edited by the user."
## 🚀 feature request

### Describe the solution you'd like
In user preferences, allow the user to specify the date format of the graphical calendar week view column header to conform to their national date format.  At the moment, the column header date is a fixed format of mm/dd, which is standard US date format. In the UK we use dd/mm/yyyy so it would be good to be able to change the format for t

[2020-10-20 09:53] pietro559 opened #13671 "[Question] Quantity field"
Hello,

Is there the posibility to fill a decimal value in quantity field?

[2020-10-20 13:06] vovpff commented on #13671
Hmmm... What is the problem? What quantity field you mean?

[2020-10-20 14:05] pietro559 commented on #13671
For example invoice module (or any other advanced module).

[2020-10-20 14:25] pietro559 commented on #13671
I found out!!
Even if i set up comma as decimal separator, quantity field wants the point as decimal separator.

[2020-10-20 14:25] #13671 closed, assigned to nobody

[2020-10-20 17:06] blu-IT opened #13672 "[bug] Updates widget not shown any more on Dashboard"
# 🐞 bug report

Hello,

as I already recieved a solution here https://github.com/YetiForceCompany/YetiForceCRM/issues/13630 I configured special widgets for all users in YF for their dashbord.
When configuring the "**Updates**" widget for a special role the first it was shown on dashboard for the users, then it was canceled by accident and I reconfigured and set it as **Mandatory widget**, but it

[2020-10-21 08:40] vdpawel opened #13674 "[Question] How do I make a condition true when the date in the field is before today"
How to make the condition in Workflows, so that it is true, as the date of the field is before today?

![obraz](https://user-images.githubusercontent.com/62466142/96694467-cc5c1980-1388-11eb-83d9-ddd9ff553009.png)

eg If today is 21/10/2020, the date is in the field
  - 10/10/2020 will give the result TRUE
  - 20/10/2020 will give the result TRUE
  - 22/10/2020 will give the result FALSE
  - 29/10

[2020-10-21 09:18] vdpawel commented on #13674
![obraz](https://user-images.githubusercontent.com/62466142/96699893-13e5a400-138f-11eb-8118-1593f46c3b5f.png)

[2020-10-21 11:28] crawe1 opened #13675 "[Question] IStoragers and inventory"
I have a question about the amount of storage products in stock.

Utylizacja -> Utilization.

I added a new table "Utylizacja"  related to a given warehouse ( and I want the products in the main warehouse to be removed as I add to this new "Utylizacja" table.

![image](https://user-images.githubusercontent.com/61950059/96713127-69767c80-13a0-11eb-9698-d4f44f268d81.png)

![image](https://user-image

[2020-10-21 11:54] vovpff commented on #13675
@crawe1 you need to activate calculation handler for this module too

[2020-10-21 12:03] crawe1 commented on #13675
OK, But can you tell me where ?

[2020-10-21 12:21] davide-alghi commented on #13674
Hi @vdpawel,

_1) =============================== with today excluded_ ===============================

![Schermata da 2020-10-21 14-16-11](https://user-images.githubusercontent.com/48508691/96718513-6c756b00-13a8-11eb-8509-b4cdbee0598a.png)

____________

_2) =============================== with today included_ ===============================

![Schermata da 2020-10-21 14-18-10](https://user-imag

[2020-10-21 13:29] vdpawel commented on #13674
It works!!!
@davide-alghi Thank you very much for your time

Can in a similar way, I can get the following effect, I can not find a solution.

**Case 1:**
![obraz](https://user-images.githubusercontent.com/62466142/96725174-ea3d7480-13b0-11eb-81a7-897f8941b065.png)

**Case 2:**
![obraz](https://user-images.githubusercontent.com/62466142/96725961-c9295380-13b1-11eb-8c62-3818c87cb7cd.png)

The solut

[2020-10-21 14:07] davide-alghi commented on #13674
Hi,
about your last two cases, for **case 1** is

![Schermata da 2020-10-21 15-54-41](https://user-images.githubusercontent.com/48508691/96730736-cd0ba480-13b6-11eb-9f70-de0be656d37e.png)

_____________
about **case 2**, it's not clear. Have you to run workflow if

field_1 (02.10.2020) < TODAY (now) < field_2 (30.10.2020)

where field_1 and field_2 are two date fields into entity?

[2020-10-21 14:46] vovpff commented on #13675
@crawe1 check in database table what contains `eventhandler` in name. Here you can find list of handlers.

I'm not sure for 100%

[2020-10-21 17:12] crawe1 commented on #13675
you're right there changed earlier in DB vtiger_eventhandlers

table row from

52 | EntityAfterSave | IStorages_RecalculateStockHandler_Handler | 1 | IGRN,IIDN,IGDN,IGIN,IPreOrder,ISTDN,ISTRN,IGRNC,IGDNC
-- | -- | -- | -- | --

on this

IGRN,IIDN,IGDN,IGIN,IPreOrder,ISTDN,ISTRN,IGRNC,IGDNC,Utylizacja

but can i anything else needs to be changed.
Because it still won't work.

How do you think the s

[2020-10-21 17:42] vovpff commented on #13675
@crawe1 yes. Status is critical to trigger handler. You need to add status with PLL_ACCEPTED. This status means what trugger should calculate quantity values.

[2020-10-21 18:10] gsportelli73 opened #13676 "[Question] Link in workflow list"
Hi, when i open in system configuration workflow list and i click on a link of record for example description,  update, it opens a blnk page.
Is it normal ?

Watch video
[https://youtu.be/HqvmAStyksQ](url)

Thank for attention

[2020-10-21 18:35] crawe1 commented on #13675
Thank you so mutch **VOVPFF** every works!
For the other step by step:
1) add your module name in file
modules/IStorages/models/Module.php
in this line
`public static $ modulesToCalculate = ['add' => ['IGRN', 'IIDN', 'ISTRN', 'IGRNC'], 'remove' => ['IGDN', 'IGIN', 'IPreOrder', 'ISTDN' , 'IGDNC', ]];`
if you want  add or remove stack

1a) add on file
modules/your_module_name/your_module_name.php
`

[2020-10-22 03:13] vdpawel commented on #13674
@davide-alghi Thank you very much for your answer, now the conditions are clear.
Case 2 is 2 fields, eg

field_1 (02.10.2020) **<=**  TODAY (now)   <   field_2 (30.10.2020)
Start Data                **<=**  TODAY (now)    <   Target Date.

Referring to your examples, I would do it like this:

![obraz](https://user-images.githubusercontent.com/62466142/96819645-5f965d00-1424-11eb-9cf2-954f0dec4369.

[2020-10-22 04:50] davide-alghi commented on #13674
yes that's right :thumbsup:

[2020-10-22 04:59] davide-alghi commented on #13676
Hi @gsportelli73,
it doesn't, but that has already been fixed.
it's good practice to check the YF developer version

https://gitdeveloper.yetiforce.com/index.php?module=Workflows&parent=Settings&view=List

[2020-10-22 05:10] #13676 closed, assigned to nobody

[2020-10-22 05:27] gsportelli73 commented on #13676
Hi, thank for answer, i have seem the fix on demo, but how to fix it on my version ?
System doesn't notify update.
my system report version 5.3.139
Thank

[2020-10-22 05:34] #13674 closed, assigned to nobody

[2020-10-22 05:34] davide-alghi commented on #13676
you have to wait for the next system update/upgrade, for now click on icon pencil, for editing

[2020-10-22 09:12] rioshaz opened #13678 "[Question] whatsapp integrations"
Can u guys help me or can u integrate whatsapp into campaigns.
So with just 1 click whatsapp is sent to all  in that campaign list.

I am willing to pay, let me know how much would that cost and time needes.. Really need it like yesterday..

[2020-10-22 09:21] fbojan opened #13679 "[bug] Invoice Currency summary"
I don't know why Polish zlotys are charged, otherwise Currency summary doesn't show up in the PDF report at all.
I can't delete Polish zlotys from the app at all.  ver. 5.3.311

![ne dela1](https://user-images.githubusercontent.com/25682437/96850887-a782a780-1457-11eb-85c3-b5fefd0e31f6.gif)

[2020-10-22 10:07] davide-alghi commented on #13679
Hi @fbojan,
maybe I cannot understand your issue :(
**Currency summary** shows the amounts in **System default currency**, not in **inventory entity currency**.
If the **inventory entity currency** is different from **System default currency**, the **Currency summary** is showed in **System default currency**, else if **inventory entity currency** is the same as **System default currency**, the **

[2020-10-22 12:23] fbojan commented on #13679
First of all, I do not understand the value of Currency summary 437.96 zł, although I set everything in EUR.

![ne dela12](https://user-images.githubusercontent.com/25682437/96870229-e113dc80-1470-11eb-9206-ad5b054ebfb7.gif)

[2020-10-22 12:45] davide-alghi commented on #13679
Hi @fbojan,
maybe this can help

![Screencast_22-10-2020_14:42:52](https://user-images.githubusercontent.com/48508691/96873349-1de1d280-1475-11eb-8f8f-fd3fa9c2a32b.gif)

[2020-10-22 16:23] davide-alghi commented on #13679
Hi @fbojan,
[I remade the video]
Maybe this can help
![currencySummary](https://user-images.githubusercontent.com/48508691/96901416-82ac2580-1493-11eb-81d6-36dfa445f3d2.gif)

[2020-10-22 19:53] bpabiszczak commented on #13678
~28-40h
https://yetiforce.com/en/marketplace/development-support

[2020-10-23 03:20] TonyM15 commented on #13667
Never touch code without 2 backups.

[2020-10-23 09:47] asperitigroup commented on #13667
I decided that discretion was the better part of valour. I'm not going to try to do a manual code edit to resolve this, but I have put in a feature request, so hopefully it will find its way into a Version 6 or higher update. I did look in to how to edit the Javascript files but it looked far too easy to make a mistake that would break my YF installation, and as it is my live business critical ins

[2020-10-23 12:17] TonyM15 commented on #13667
Never touch code without 3 backups :)
and feel free to do experiments on one of those backups ;-)

However, we all know one thing: no pain no lesson. Good to be in crowd and learn from the pain of others.

[2020-10-24 09:30] fbojan commented on #13679
It's hard to ask co-workers to complicate such simple things.
I believe that you have a lot of code written here and I don't want to complicate your work, and if you can't issue an invoice properly, it's app not useful, even though it's phenomenal.

![Untitled-2](https://user-images.githubusercontent.com/25682437/97078159-53f49300-15ea-11eb-8cd9-5af6aa50934e.gif)

[2020-10-24 22:08] sltmunky69 opened #13690 "[Question] Root Web Directory on Apache Installation"
I'm kind of confused here and hoping to shed some light on the situation. I've searched through the tickets and the documentation page is pretty weak and I'm not finding answers.

In regards to the basic installation of the software and the public_html directory setting in the installation requirements checklist, in order to run the software installer (install.php or whatever), you have to make th

[2020-10-24 23:47] TonyM15 opened #13691 "[Question] 5.4 gone from milestones"
5.4 gone from milestones and 6.0 already out of the deadline. Any chance to have clear and trustworthy
project management here?

[2020-10-25 13:00] bpabiszczak commented on #13691
Appreciate what you have.

[2020-10-25 13:00] #13691 closed, assigned to bpabiszczak

[2020-10-26 06:45] davide-alghi commented on #13690
Hi @sltmunky69,
it appears that .htaccess reading is not enabled in your Apache.

Please try to put **AllowOverride** directive

[code]
into your **Virtualhost** configuration

something like this
[code]

[2020-10-26 11:08] davide-alghi commented on #13679
Hi @fbojan,
are you speaking about a PDF function to include the red (the one into your image)?
What's 9.5%? I don't see it in taxes.

[2020-10-26 14:18] sltmunky69 commented on #13690
.htaccess is enabled, and I had already tried your suggestion when I researched the "IfModule not allowed here message", which I don't believe is actually part of the issue. Per my original question, your example shows the parent directory yetiforce as being the wwwroot and NOT the yetiforce/public_html directory. The application runs fine if I place the directory on yetiforce, but I get this othe

[2020-10-26 14:37] davide-alghi commented on #13690
No. The path in my example
[code]
defines where the directive ```AllowOverride All``` is applied.
In example, the YF root (/var/www/html/yetiforce/) and all subdirectories: public_html folder included

To run public_html as document root, you have to set it via ```DocumentRoot``` directive
here a complete example (with fpm, http/2)
[code]

[2020-10-26 14:48] davide-alghi commented on #13690
Just a question: has Apache the mod_rewrite installed and enabled?

[2020-10-26 14:50] bpabiszczak commented on #13690
According to security standards, htaccess should not be used to configure the server.

[2020-10-26 14:58] sltmunky69 commented on #13690
Ahh, I'm a dummy. Thank you for the example, that clears things up. I had the DocumentRoot and the Directory both set to the public_html folder which makes complete sense now.

[2020-10-26 14:58] #13690 closed, assigned to nobody

[2020-10-26 17:47] hdemendieta opened #13694 "Not able to add Comments in several modules"
Issue
When I try to add a comment is several modules, I'm able to write at the field but the add button doesn't works.  This is happening in some widgests but even at the Comments Tab in some modules. 
I don't know how to fix it.  I did not find any configuration I can change for this. 
Yetiforce version: 5.3.0
PHP: 7.4  (I tested switching to version 7.3 and 7.2 but the issue persists) 

Thanks i

[2020-10-26 22:28] JohnMaverick commented on #13691
Blazej, your answer is ridiculous. You should rather keep silent than throwing such things (not the first time). Tony is totally right. You make this project your own barn forgetting that you are committed to the opensource honesty, openness, and expected professionalism. Being rude and shallow, won't help you now and in the future.
Shame man!

[2020-10-27 06:52] davide-alghi commented on #13694
Hi @hdemendieta,
detailed info are essential.

**YF Logs - How To**

1. disable (temporarily) the chat module, in Standard modules / Modules – Installation
2. set (temporarily) CRON execution to 5 minutes or more
3. in config/Debug.php set
   - $LOG_TO_FILE = true;
   - $LOG_LEVELS = false;
4. reset contents for the files:
   - cache/logs/system.log
   - php_errors.log
5. reproduce the issue/bug/p

[2020-10-27 08:39] bpabiszczak commented on #13691
@JohnMaverick

The less a person contributes to the project in terms of money and time, the more they demand (I don’t know what it results from).

You’re confusing being honest for being rude. What @TonyM15 said added nothing to the project, it only had one purpose - to attack. For the past 6 years since the project was created there have been about 15 people, who kept attacking the YetiForce proj

[2020-10-27 08:57] bpabiszczak commented on #13536
a w którym miejscu chcesz to dodać dokładnie [prześlij proszę zrzuty ekranu].

[2020-10-27 09:27] crawe1 commented on #13675
vovpff tell me,
Is it possible to get the data on the quantity of the product and the product name from the main table and not advanced? how to do it in simple way ?

[2020-10-27 10:56] acuglewski commented on #13536
![Przechwycenie obrazu ekranu_2020-10-27_11-20-32](https://user-images.githubusercontent.com/71824800/97291628-7553ba00-184a-11eb-8733-dd1b33784c82.png)

Dodaje nowy dokument

![Przechwycenie obrazu ekranu_2020-10-27_11-22-45](https://user-images.githubusercontent.com/71824800/97291695-8d2b3e00-184a-11eb-8fd8-4dd8584b6183.png)

Wybieram plik z dysku, daję zapisz i dodaje się wpis ale bez załączone

[2020-10-27 11:35] vovpff commented on #13675
@crawe1 please describe more detailed what you want?

[2020-10-27 12:30] valtbern opened #13697 "[Question] Data labels & trailing zeros"
Hi guys,

Does any has concerned how to truncate trailing zeros in chart widgets? Since the most of the numbers in CRM are really high (over 7 digits) and considering we use currency fields having a 5 decimal digits the numbers in axes and labels become very long and data overvirew gets really problematic.
Other than that the fields used for this purpose are actually integers and are not supposed

[2020-10-27 12:43] crawe1 commented on #13675
![image](https://user-images.githubusercontent.com/61950059/97300774-2fe9b980-1857-11eb-9dac-5304285b7609.png)

on screen you can see what i want to change. I want to use field in primary table not from advanced table to reduce param in stock.

![image](https://user-images.githubusercontent.com/61950059/97301536-2e6cc100-1858-11eb-8c80-fccf4a10dacf.png)

I see in file

`        public static funct

[2020-10-27 23:12] TonyM15 commented on #13691
"What @TonyM15 said added nothing to the project, it only had one purpose - to attack"  - Blazej, did you read carefully my post? Where is the word I attacked you?

"What’s gonna happen if @TonyM15 or you, instead of complaining, start developing the system together with us" - How can we help you developing yetiforce if you don't bother with managing project in a professional manner?

Every post w

[2020-10-28 07:37] vovpff commented on #13675
@crawe1 I'm sorry but this is very difficult to understand what you need

[2020-10-28 09:50] crawe1 commented on #13675
hmm its simple ;)

in standard workflow on primary table we have data:
- storage id,
- status,
on advanced table we have:
- productname,
- qty.

on thist params we change stock in storages. but i want to change i want to move productname and qty from advance to primary table. becouse in advanced i want to put other data not related with products.

In my module on basic table i want to add products

[2020-10-28 12:27] LaurensCleyman opened #13700 "[Question] Description of a filter: Where is it used?"
Hi all,

**If I create a new filter and then give it a description then it is not visible in the front-end, so I don't know what is the use of the description:**
![image](https://user-images.githubusercontent.com/16014524/97435441-b4543f00-1920-11eb-9193-1c6aaaf8faf9.png)

**My Question: Is it possible to put it above the filter? On this place for example:**

![image](https://user-images.githubuse

[2020-10-28 13:55] #13678 closed, assigned to bpabiszczak

[2020-10-28 15:13] vovpff commented on #13675
@crawe1 I understand what you mean. Your task is difficult to implement because arvanced modules mechanisms hardcoded in system core and you need to change a lot of code to achieve needed result.

I think what some kind of custom handler or workflow custom function can solve this but I can't describe how to  do them.

[2020-10-28 15:16] vovpff commented on #13700
@LaurensCleyman I'm not sure but I think what description visible in filters dropdown picklist.

You need to modify template of this part of UI

[2020-10-29 00:10] JohnMaverick commented on #13691
Regarding: @JohnMaverick have taken more from the project than contributed to it
Believe or not Mr Blazej, but I don't use yetiforce for any production purposes. I am watching this because I like watching it.

[2020-10-29 06:01] rskrzypczak commented on #13700
![image](https://user-images.githubusercontent.com/10221999/97531383-638e2600-19b4-11eb-97be-23e5f4973ad4.png)

Be sure to select this option
![image](https://user-images.githubusercontent.com/10221999/97531822-50c82100-19b5-11eb-8447-8ca5cb329502.png)

[2020-10-29 06:07] #13700 closed, assigned to nobody

[2020-10-29 08:32] #13656 closed, assigned to bpabiszczak

[2020-10-29 09:02] #10112 closed

[2020-10-29 11:51] KatarzynaUlichnowska commented on #13614
You didn't provide the system version. In newer versions of the system, the Time Control doesn't appear after closing the ticket. In line with the business logic, you must first add working time and then close the ticket. If you want it to work differently [or more automatically] then you have to write or run the appropriate workflow. You may need a developer to do it because you want to set up so

[2020-10-29 11:51] #13614 closed, assigned to bpabiszczak

[2020-10-29 12:50] rskrzypczak commented on #7589
The developer version includes the option to send .ics invitations, however, there is not option to send them automatically; thought it wouldn't take too long to add it. There is also no accept/decline option for the invitation.
Version 4.4 is no longer supported, so I would recommend updating to the latest version that will be out very soon.
![ics](https://user-images.githubusercontent.com/102219

[2020-10-29 12:50] #7589 closed

[2020-10-29 14:32] LaurensCleyman opened #13706 "[Feature] Filter for Last X [Days | Months | Years]"
## 🚀 feature request

### Describe the solution you'd like

The possibility the following filters:

- Last X days
- Last X months
- Last X years
- Next X days
- Next X months
- Next X years

X is an integer.

Currently we are limited to these values:
![image](https://user-images.githubusercontent.com/16014524/97587044-429cf380-19fb-11eb-9925-bf20a061e719.png)

### Is your feature request related t

[2020-10-29 16:09] vovpff commented on #13706
@LaurensCleyman you can do it by yourself

[2020-10-29 16:17] LaurensCleyman commented on #13706
@vovpff , how can I do that?

[2020-10-29 16:44] vovpff commented on #13706
Php coding I think

[2020-10-29 16:45] bpabiszczak commented on #13706
You have to outsource this to your developer.

[2020-10-29 16:45] #13706 closed, assigned to bpabiszczak

[2020-10-30 08:21] DarioGui commented on #13614
Hello and thanks for the reply.
I have your Yetiforce Hosting and crm is updated to 5.3 with bugfix.
I have seen how the timesheet mechanics work but my timing logic is that when I close a ticket, the moment of closure must be entered in the timesheet's closure and not in the timesheet's opening.
I put in the list of things I will make you do :)

[2020-10-30 09:53] #13675 closed, assigned to nobody

[2020-10-30 09:54] crawe1 commented on #13675
@vovpff
Thank you for everything

[2020-10-30 15:58] hdemendieta opened #13711 "[bug] Comments cannot be published at any module"
# 🐞 bug report

### ⁉️ Describe the bug

Publish button doesn't works at comments tabs or section in any YF module.  Just a few times it works, so I thought it was related with the Internet Browser, so I tried in different browsers, clean the cache but the issue persists.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'any comments tab at any module...'
2. Click on '.p

[2020-10-30 16:00] hdemendieta commented on #13694
I fill out a new bug as requested with the issue number: 13711

Attached are the logs.
[logs files.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5466026/logs.files.zip)

Thank you!

[2020-10-30 16:17] davide-alghi commented on #13711
Logs

https://github.com/YetiForceCompany/YetiForceCRM/files/5466026/logs.files.zip

[2020-10-30 16:17] davide-alghi commented on #13694
Bug report

https://github.com/YetiForceCompany/YetiForceCRM/issues/13711

[2020-10-31 11:02] vdpawel commented on #13706
I'm not sure, but you'll probably find the conditions you need here:
\app\Conditions\RecordFields\DateField.php
\app\Condition.php

[2020-11-01 06:44] fbojan commented on #13679
![Untitled-1](https://user-images.githubusercontent.com/25682437/97796650-ec0b0180-1c14-11eb-8bde-8646148967c2.gif)

TEST Copyright © YetiForce.com All rights reserved. [ver. 5.3.322] [Page loading time: 0.23s.]

The first table is good, in the table below in Excel tax summary, all the necessary data are without Polish zlotys.

Thank you and best regards
BOJAN![Untitled-2](https://user-images.gith

[2020-11-02 05:58] davide-alghi commented on #13679
Hi @fbojan,
I'm confused. Data and format into your last images are correct. What's "Excel tax summary"?
please, you have to be more detailed else nobody will be able to help you.

[2020-11-02 06:17] davide-alghi commented on #13711
Hi,
@mariuszkrzaczkowski, maybe this is a problem with js plugin Tribute

[2020-11-02 06:31] davide-alghi commented on #13711
@hdemendieta,
you said that you tested on gitdeveloper, but there it seems the problem has been fixed.
please @hdemendieta, **can you try (again) on gitdeveloper**
https://gitdeveloper.yetiforce.com
to confirm the bug has been fixed or have you still the problem?

[2020-11-02 06:43] mariuszkrzaczkowski commented on #13711
The server configuration is incorrect, it is a waste of time without any improvement, in most cases such problems are caused by a wrong configuration.

[2020-11-02 06:43] #13711 closed, assigned to mariuszkrzaczkowski

[2020-11-02 06:47] rskrzypczak commented on #13711
Install ServicePack v4 ([link](https://github.com/YetiForceCompany/YetiForceCRM/releases))

[2020-11-02 08:12] lazzzrus commented on #4549
Is there any progress?
This function would be highly appreciated!

[2020-11-02 08:44] apcloic opened #13718 "[bug] mass email action not working if email field name contains number"
Hi,

Use case, Yetiforce 5.3.92 :

- in contact module, create an email field which name contains a number (ie : my_custom_email_field_1)
- in list view, select Action -> Mass Email -> E-mail address -> my_custom_email_field_1
- click on send
- open browser console, the following error appears :

[code]

- go to Email to send module -> nothing added to queue, nothing to send

If email field name d

[2020-11-02 10:19] rohanjhanepal opened #13719 "How do i make emails appear in List Of emails widget"
I am trying to make all the sent emails related to a vendor appear in the widget (List Of Emails ). But it doesn't appear.
Below is screen shot where there is a widget called 'Emails' where all emails sent should appear.

![Screenshot (53)](https://user-images.githubusercontent.com/40380541/97856765-dab11a80-1d24-11eb-9831-8f3c800ae08d.png)

yetiforce 5.3.0
Smtp and roundcube mail is configured an

[2020-11-02 10:27] apcloic commented on #13719
@rohanjhanepal
Hi, you have to configure Mail Scanner :
https://gitstable.yetiforce.com/index.php?module=OSSMailScanner&parent=Settings&view=Index&block=8&fieldid=44

[2020-11-02 10:30] rohanjhanepal opened #13720 "[Question] Email History module is not working"
### Description

I think email history should contain list of all emails sent form the system, but nothing appears there.

Yetiforce 5.3.0
SMTP and Round cube configured  , tested and working.

[2020-11-02 10:51] rohanjhanepal opened #13721 "[Question] Edit Fields is not working"
### Description

When i click on Edit fields in System settings >Standard modules , page doesnt fully load and no any buttons or actions work on the page , side bar works though.
Here is screen shot of the error :
![KakaoTalk_20201102_142312440](https://user-images.githubusercontent.com/40380541/97860043-92e0c200-1d29-11eb-81fd-ee8d19141ec6.jpg)

Version: Yetiforce 5.3.0

[2020-11-02 13:36] tobiasgraeber opened #13722 "[bug] Selecting a contact via widget, does not store parent_id"
#13441 🐞 bug report

### ⁉️ Describe the bug

If you choose to select a contact via widget "external module" -> "contact" like here:

![grafik](https://user-images.githubusercontent.com/1668042/97873499-05e13d00-1d18-11eb-9fcc-a597a8eece0b.png)

Inside of the "Leads"-Module. The Widget does not get updated. The Widget "Updates" shows that a contact has been added to the leas - but the contact itse

[2020-11-02 14:13] tobiasgraeber commented on #13722
Additional information:

I´ve clicked on the button "extended / erweitert" inside of the module contacts:

![grafik](https://user-images.githubusercontent.com/1668042/97877636-c1f13680-1d1d-11eb-93f0-d4d45ec11755.png)

Now, none of these two buttons are clickable anymore. Could that lead to the problem decribet above? Is there any way to just "reset" the contact modul?

I´ve also tried to create a

[2020-11-02 15:51] vovpff commented on #13722
Look in community for Trebute.js bug. Maybe this is solution

[2020-11-02 16:18] tobiasgraeber commented on #13722
Thank you but... where to look and search exactly regarding this?

[2020-11-02 16:36] vovpff commented on #13722
#12732

[2020-11-02 16:54] tobiasgraeber commented on #13722
Thank you - but i think, thats another issue.
My Problem is not, that widgets are foldet. Thats working.

My Problem is, that, if i try to reference a contact via a widget, thats possible in the first step, but after assigning, the contact does NOT show up in the contact-widget.

Sadly i cannot reproduce that for examle in https://gitstable.yetiforce.com/index.php?module=Leads&view=Detail&record=2

[2020-11-02 17:10] vovpff commented on #13722
@tobiasgraeber i will try you issue tomorrow.

[2020-11-02 17:12] vovpff commented on #13722
@tobiasgraeber could you provide screenshots with english labels?

[2020-11-02 17:47] blu-IT commented on #13632
You mean the YF mail scanner? Unfortunately I just found the actions to take there when a new mail comes into a mailbox.
But when the mail is in the "wrong" mailbox or if it is for example "support@mycompany.com" for external customers and 10 % of the received mails are only internal tickets, I don't know how to handle this.
So the possibility to turn a "regular ticket" into an "internal ticket" w

[2020-11-02 17:48] tobiasgraeber commented on #13722
Thanks - we can also have a teams meeting or some kind of videocall if you like. To me, the issue seems kind of easy but strange - i dont get any error but i also do not get any contact entry in the widget. Basically, as far as i can see, this ajax request is fired:

![grafik](https://user-images.githubusercontent.com/1668042/97900969-c7f61000-1d3b-11eb-9ad9-d92681bd2ee5.png)

Result ist:

![grafi

[2020-11-02 18:29] vovpff commented on #13722
@tobiasgraeber i think you system works well. There is two general different type of relations availble (1:M and manytomany*).

For first one you need to input parent record name - Contact to Account, Contact to Lead and etc. The point of this type of relation is parent record has fixed relations with child records by field.

For manytomany you can add a lot of relations between different parent r

[2020-11-02 18:53] tobiasgraeber commented on #13722
@vovpff i understand. I also know i can disable the search. But thats not an improvement, its a huge step backwards then. For me it would be important to select a pre-existing contract via the search option and assign it, for example to a lead (from inside the lead details, via the widget itself! )

If that feature gets removed - what's the alternative???!

If i need to go the other way around, so

[2020-11-02 19:55] tobiasgraeber commented on #13722
Sorry, but i just dont get it. Let me ask one more question - for example on

 https://gitdeveloper.yetiforce.com/index.php?module=Leads&view=Detail&record=172&parent=47&mid=48

How can i add an EXISTING Contact to this lead?

[2020-11-02 21:37] IanMuller opened #13723 "[Question] Getting rid off unecessary Logistic modules"
Hi guys, seeking for advice.
I have basis needs to manage stock of little bakery.
1. Products production
2. Delivery to Customes
3. Taking old product out of Customer's stock

What modules in your opinion would be essential to keep eye on products flow in such basic case?
Appreciate sharing your inside

[2020-11-03 04:29] vovpff commented on #13722
@tobiasgraeber https://gitdeveloper.yetiforce.com/index.php?module=Contacts&view=Detail&record=224&parent=47

[2020-11-03 04:37] vovpff commented on #13723
@IanMuller IGDN, IGRN, IIDN. This is short names of modules.

[2020-11-03 06:05] vovpff commented on #13722
@tobiasgraeber now gitdev broken :(

[2020-11-03 06:19] waran70 commented on #13723
IGDN? IGRN? I can decipher it of course but thhere is no such modules we can match this abbreviations precisely, or I am wrong?

[2020-11-03 06:20] tobiasgraeber commented on #13722
Ok, what to look for via this link :-) ? What do you mean?

[2020-11-03 06:29] vovpff commented on #13722
@tobiasgraeber this is answer for your question:
 if you want to relate existing Contact to this lead https://gitdeveloper.yetiforce.com/index.php?module=Leads&view=Detail&record=172&parent=47&mid=48
you need to fill Contact `Member of` field with name of lead like here https://gitdeveloper.yetiforce.com/index.php?module=Contacts&view=Detail&record=218&parent=47

[2020-11-03 06:31] vovpff commented on #13723
@waran70 you are wrong. Goods Dispatched Notes and Goods Receiver Notes.
![image](https://user-images.githubusercontent.com/8545791/97955516-696e7780-1db7-11eb-8149-e92ca94eab0e.png)

[2020-11-03 06:46] rskrzypczak commented on #13721
You will probably find the error information in the console (F12).
Also, check the log files.
From the information you provided I am not able to help you and as I think nobody is :)

[2020-11-03 06:56] mariuszkrzaczkowski commented on #13721
You have an unregistered system, unfortunately we cannot help.
![github](https://user-images.githubusercontent.com/10198654/97956841-00343780-1daa-11eb-847a-699c0adbf297.jpg)

[2020-11-03 06:56] #13721 closed, assigned to nobody

[2020-11-03 07:08] rskrzypczak commented on #13720
And so it will be when you set the mail scanner to also scan outgoing e-mails :)
https://github.com/YetiForceCompany/YetiForceCRM/issues/13719

[2020-11-03 07:08] #13720 closed, assigned to nobody

[2020-11-03 07:13] tobiasgraeber commented on #13722
@vovpff Thanks again - yes thats one way. But i cannot understand, why the other way around gets removed? Thats so much more inefficient :-(

[2020-11-03 07:27] rskrzypczak commented on #13694
Update the system with the latest servicepack(v4) which should fix the problem.
https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/5.3.0

[2020-11-03 07:27] #13694 closed, assigned to nobody

[2020-11-03 07:42] waran70 commented on #13723
:-) --> "no such modules we can match this abbreviations precisely"

I meant it should be GDN, GRN...

[2020-11-03 09:36] tobiasgraeber commented on #13722
@mariuszkrzaczkowski is this (removing of the search feature without alternative) really the case here?

[2020-11-03 18:39] vovpff commented on #13722
@tobiasgraeber I think what new way is better than old removed. This is difficult to describe

[2020-11-03 19:02] tobiasgraeber commented on #13722
Please try to describe or use sceenschots or a loom-video or so. I am really interested.

- i understand your example above. But i cannot understand why the search option is getting removed.

I mean: If for example, somebody wants to assign multiple contacts to 1 lead, its way faster to use the search function via widget to find existing contacts and add them,insead of opening each contact one by

[2020-11-03 20:06] vovpff commented on #13722
@tobiasgraeber I think this is searching grows from old vtiger versions but now Ccontact should be hard related to Account/Lead. With this hard relation you can do more using workflow or handlers.

[2020-11-04 03:39] waran70 opened #13726 "[bug] Storage Product deletion"
Bug or design?

Product can be permanently deleted from own module as well as from Storage.
For me it smells like design error. Am I right or wrong?

[2020-11-04 06:18] davide-alghi commented on #13726
Hi @waran70,
it depends what you mean.
Many related systems allow different deleting levels: from "logical" to "physical".
It's certain that the "physical" deleting, definitively breaks all possible relationships, but it must be taken into account that some operations, such as deleting and many configurations, must be assigned only to people who are competent and who know what they are doing.
Perh

[2020-11-04 08:26] alexynadamas opened #13727 "SQLSTATE[HY000]: General error: 1835 Malformed communication packet The SQL being executed was: SELECT * FROM `vtiger_tab`"
Hi

I got this error without make any aparently changes in the system.

I can't access any Yeti site, not even to login page.

[2020-11-04 10:54] davide-alghi commented on #13727
Hi @alexynadamas ,
detailed info are essential.
It looks like a MySql problem: what's your MySql server version?

without login you can provide (cleaned) PHP logs.
**if you cannot login, pls skip login-required steps**

**YF Logs - How To**

1. disable (temporarily) the chat module, in Standard modules / Modules – Installation
2. set (temporarily) CRON execution to 5 minutes or more
3. in config/D

[2020-11-04 11:14] alexynadamas commented on #13727
How can I "skip login-required steps"?

[2020-11-04 11:17] davide-alghi commented on #13727
...

3. in config/Debug.php set
   - $LOG_TO_FILE = true;
   - $LOG_LEVELS = false;
4. reset contents for the files:
   - cache/logs/system.log
   - php_errors.log
5. reproduce the issue/bug/problem
6. upload here the files
   - cache/logs/system.log
   - php_errors.log

**Browser console - How To** - https://support.shortpoint.com/support/solutions/articles/1000222881-save-browser-s-console-file

[2020-11-04 11:18] davide-alghi commented on #13727
**what's your MySql server version?**

[2020-11-04 11:32] mariuszkrzaczkowski commented on #13727
Without adding attachments with necessary information, it is a waste of everyone's time.

[2020-11-04 11:40] alexynadamas commented on #13727
10.2.35-MariaDB

[2020-11-04 12:29] davide-alghi commented on #13727
ok, maybe it's not a MySql problem. we're waiting for logs

[2020-11-04 12:31] alexynadamas commented on #13727
I haven't the files cache/logs/system.log and php_errors.log.

I have the file" errors" in cache/logs (Atacched as cache-logs-errors.log)
[cache-logs-errors.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5487746/cache-logs-errors.log)

And I have errors_log by Apache:
https://drive.google.com/file/d/1Exi3gZX_tb8AkKLmFChJe-RuDwBJGEfk/view?usp=sharing

Console error when try to access t

[2020-11-04 12:54] mariuszkrzaczkowski commented on #13727
![github](https://user-images.githubusercontent.com/10198654/98114251-44583280-1ea5-11eb-8ca6-45b08737fd4f.jpg)

[2020-11-04 13:26] davide-alghi commented on #13727
Hi @alexynadamas,
these logs are not enough.

did you set these? without this settings ```cache/logs/system.log``` is not generated
in config/Debug.php
$LOG_TO_FILE = true;
$LOG_LEVELS = false;

**just a question: is your server a CentOS and you have updated MySql (and system) today?**

[2020-11-04 13:31] alexynadamas commented on #13727
I changed this parameters:
$LOG_TO_FILE = true;
$LOG_LEVELS = false;

My server is Debian with Plesk. I got a Plesk update last night:

The following packages were successfully updated:
- galera-3 25.3.31-stretch from MariaDB for by MariaDB repo (previous version: 25.3.30-stretch from MariaDB for by MariaDB repo)
- libmariadb3 10.2.35+maria~stretch from MariaDB for by MariaDB repo (previous versio

[2020-11-04 13:48] davide-alghi commented on #13727
Debain 9 or 10?

if you set these variables and you went to YF page via browser, logs must be there. It's very strange.

Can you access to MySql with phpMyAdmin as root or with the same YF MySql user/password? Can you list vtiger_tab table?
Can you access to MySql via console?

I suspect that there is some problems with last MariaDB update

[2020-11-04 13:48] alexynadamas opened #13728 "[bug]"
# 🐞 bug report

SQLSTATE[HY000]: General error: 1835 Malformed communication packet The SQL being executed was: SELECT * FROM `vtiger_tab`

### 🔥 How to trigger the error

The problem occurs when try to access to Yeti:
https://gestor.mediterjuridico.es

### 👷 Testing

I tested it configuring some MySQL parameters.

### 📷 Screenshot of configuration
PHP:
![image](https://user-images.githubuserconte

[2020-11-04 13:51] alexynadamas commented on #13727
Debian 9.13‬.

Yes to all. I can access to phpMyAdmin with root, Yeti's user. Also I can access to MySQL by console.

[2020-11-04 14:19] davide-alghi commented on #13727
I've no idea.

make a YF backup (PHP and DB) and if your db charset is utf8mb4 try to set

'charset' => 'utf8mb4',

in config/Db.php:61

there might be some PDO problems with MariaDB last update on Debian 9. On my Debian 10 everything works fine.
CentOS owners are having similar problems.
I'm walking around blind :(

the strange thing is that logs are not generated!
did you check files/folders own

[2020-11-04 14:21] mariuszkrzaczkowski commented on #13728
duplicate  https://github.com/YetiForceCompany/YetiForceCRM/issues/13727

[2020-11-04 14:21] #13728 closed, assigned to mariuszkrzaczkowski

[2020-11-04 14:24] mariuszkrzaczkowski commented on #13727
you have problem with server configuration, your admin should take care of it.
This is not a bug in CRM

[2020-11-04 14:46] shirou93 opened #13729 "[bug] custom picklist with spaces don't save in values on marketing leads"
# 🐞 bug report

### ⁉️ Describe the bug

When add new lead status values with spaces they don't save in Software configuration / Processes / Marketing / System settings > Leads Values. When lead status value no have spaces they save automaticly when add.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Click Software configuration / Standard modules / Fields - Picklists / Syst

[2020-11-04 15:38] davide-alghi commented on #13729
Confirm. string with space is not saved in configuration / Processes / Marketing ...

![Schermata da 2020-11-04 16-33-57](https://user-images.githubusercontent.com/48508691/98131958-234f0c00-1ebc-11eb-8968-9c828a1b8ca1.png)

![Schermata da 2020-11-04 16-35-18](https://user-images.githubusercontent.com/48508691/98131960-23e7a280-1ebc-11eb-9395-810b7d630c14.png)

[2020-11-04 15:44] shirou93 commented on #13729
Polish characters also don't work.

[2020-11-04 16:08] shirou93 commented on #13729
Polish characters also don't work.

[2020-11-04 18:02] alexynadamas commented on #13727
Hi

With PHP 7.3 or 7.4 works properly. MariaDB doesn't work with 7.2 or below versions.

You Can see it in this post:
https://xenforo.com/community/threads/mariadb-10-3-26-1-breaks-php-7-2.187331/

Then you can downgrade MariaDB too.

[2020-11-05 01:25] waran70 commented on #13726
This is what I mean. The deletion of products from the Storage module is too confusing for users.
![image](https://user-images.githubusercontent.com/6852348/98186096-9ac67f00-1f40-11eb-9443-867f984c7382.png)

[2020-11-05 06:32] IanMuller opened #13730 "[Question] Goods Dispatched Notes Corrections - how is it working?"
Gents, Could you please clarify how GDNC is working like?
What happens here is that I need to cancel Dispatch to one customer (product get old and on y cost needs to be removed from customer shelf), so it is not calculated as sold. GDNC at the moment cannot do that. Should I take alternative approach?

[2020-11-05 07:38] #13729 closed, assigned to rskrzypczak

[2020-11-05 09:14] davide-alghi opened #13731 "[Question] Account Name for Private Individual in YF 6.0"
I see that in YF 6.0 the Account Name field for Private Individual, in Accounts module, has been splitted in two parts: First Name and Last Name, two fields.
My question is: how to search for exactly Account Name of Private Individual account?
ie how to search for string "John Smith" in accountname field?

[2020-11-05 09:25] mariuszkrzaczkowski commented on #13731
you need to add a separator '|##|' , example:  John|##|Smith
![image](https://user-images.githubusercontent.com/10198654/98222441-1e886780-1f51-11eb-9f6a-82617d682288.png)
![image](https://user-images.githubusercontent.com/10198654/98222449-21835800-1f51-11eb-8349-a83277ea3fb8.png)

[2020-11-05 09:25] #13731 closed, assigned to mariuszkrzaczkowski

[2020-11-05 09:30] mariuszkrzaczkowski commented on #13731
or you can that way 'John*Smith'
![image](https://user-images.githubusercontent.com/10198654/98223098-f1888480-1f51-11eb-8691-e17c5ad314f7.png)

[2020-11-05 18:16] vovpff commented on #13731
@mariuszkrzaczkowski this is very uncomfortable

[2020-11-05 19:14] mariuszkrzaczkowski commented on #13731
do you have a better idea for it?

[2020-11-05 19:32] rioshaz commented on #13727
just change to php 7.3 or higher if u have latest maria db...

[2020-11-05 20:28] #13727 closed, assigned to nobody

[2020-11-06 01:20] IanMuller opened #13733 "[bug] Goods Dispatched Note Correction - impossible to add"
You can reproduce it on the official demo.
Adding GDNC ending with error message "Error, please inform the Administrator"

[2020-11-06 03:18] vovpff commented on #13731
@mariuszkrzaczkowski really no :(

[2020-11-06 04:13] waran70 commented on #13733
In my 5.3 (fresh installation) when I create GDNC it instead of deducting from Storage, it multiplying product number in storage.

[2020-11-06 06:13] davide-alghi commented on #13731
When I saw, by phpMyAdmin, the separator (|##|) I decided to do this my question issue.

Why does the form give me 2 fields, if it merges values into one single field forcing me to search with special characters or separators?
This choice can lead to problems: e.g. changing of the legal form in detail view.
We take into account that even the "Sole proprietorship" has a "Last name" and a "First nam

[2020-11-06 09:39] mrzewnicki opened #13739 "[Pytanie][PL] Wyszukiwanie"
Witam,

Jak mogę uruchomić wyszukiwanie w treści maili podpiętych do zgłoszeń?

[2020-11-06 15:08] apcloic opened #13740 "[how-to] Basic integration with Contact Form 7 - Wordpress & YetiREST API"
Hi,

I've just finished a simple integration of YetiREST API in Wordpress so I would like to share it with YF community.

Requirements :
- Wordpress site with Contact Form 7 plugin.

Use case : when someone fill the form on your wordpress website, a new contact record is created with its filled name and email.
Bear in mind that this is really basic (no error check, etc.).

1- Configure and activat

[2020-11-06 23:27] nerimic commented on #13075
Great!

Thank you

Il giorno mer 2 set 2020 alle ore 12:00 Mariusz Krzaczkowski <
notifications@github.com> ha scritto:

[2020-11-09 08:54] rohanjhanepal opened #13758 "Infinite loading on mail scanner folder configuration[Question]"
### Description

I am trying to map folders for mail scanner , and when i click on "Edit Folder" or folder icon there is an infinite loading screen that keeps on loading forever.
Here is screen shot of the problem:

![Screenshot (77)](https://user-images.githubusercontent.com/40380541/98519715-43564500-2299-11eb-8355-5189568b8371.png)

I left this screen open for 4 hours , yet nothing happens!
How

[2020-11-09 09:03] mariuszkrzaczkowski commented on #13758
![github](https://user-images.githubusercontent.com/10198654/98520725-c31ce900-2272-11eb-9cf2-b6bef8cd3cf2.jpg)

[2020-11-09 09:19] rskrzypczak commented on #13758
duplicate: https://github.com/YetiForceCompany/YetiForceCRM/issues/12694

[2020-11-09 09:19] #13758 closed, assigned to nobody

[2020-11-09 09:34] rohanjhanepal commented on #12589
For me those are already configured as show , but still no luck.
Login to mail server works like charm though

[2020-11-09 09:41] rohanjhanepal commented on #12589
Solved it by unticking "Validate Certificate" in same screen

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13759 "CVE-2019-8331 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2019-8331 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github.

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13760 "CVE-2018-14040 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2018-14040 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13761 "CVE-2018-20677 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2018-20677 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13762 "CVE-2018-14042 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2018-14042 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13763 "CVE-2018-20676 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2018-20676 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13764 "CVE-2016-10735 (Medium) detected in phpoffice/phpspreadsheet-1.15.0"
## CVE-2016-10735 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13765 "CVE-2020-15148 (High) detected in yetiforce/yii2-2.0.32"
## CVE-2020-15148 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>yetiforce/yii2-2.0.32</b></p></summary>

<p>Yii PHP Framework Version 2 by YetiForceCRM</p>
<p>Library home page: <a href="https://api.github.com/repos/YetiForceCompany/yii2-framework/zipball/b1a55e2

[2020-11-09 09:54] mend-bolt-for-github[bot] opened #13766 "CVE-2020-28032 (High) detected in rmccue/requests-v1.7.0"
## CVE-2020-28032 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>rmccue/requests-v1.7.0</b></p></summary>

<p>Requests for PHP is a humble HTTP request library. It simplifies how you interact with other sites and takes away all your worries.</p>
<p>

Dependency Hi

[2020-11-09 13:38] scetin47 opened #13767 "yetiforce setup failure[Question]"
### Description

[2020-11-09 13:41] #13767 closed, assigned to nobody

[2020-11-09 13:42] scetin47 opened #13768 "yetiforce setup failure"
### Description

[2020-11-09 13:46] scetin47 commented on #13768
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/crm-installation
https://www.osradar.com/how-to-install-yetiforce-on-centos-7/
https://computingforgeeks.com/install-yetiforce-crm-on-centos-centos-linux/
https://www.rosehosting.com/blog/how-to-install-yetiforce-on-centos-7/

I did all the bad things on the website, but the setup screen did not appear yet. Would

[2020-11-09 13:47] scetin47 commented on #13768
![Adsız](https://user-images.githubusercontent.com/73686543/98548968-3fcbb980-22ab-11eb-9c09-1ea60b43bea9.jpg)

[2020-11-09 13:52] mariuszkrzaczkowski commented on #13768
![github](https://user-images.githubusercontent.com/10198654/98549547-3a667300-229b-11eb-832e-1699ee4c4b69.jpg)

[2020-11-09 14:39] scetin47 commented on #13768
PHP 7.4.12 (cli) (built: Oct 27 2020 15:01:52) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.12, Copyright (c), by Zend Technologies
    with Xdebug v2.9.8, Copyright (c) 2002-2020, by Derick Rethans
[root@Project ~]# mysql --version
mysql  Ver 8.0.22 for Linux on x86_64 (MySQL Community Server - GPL)
----------------------------

[2020-11-09 14:41] scetin47 commented on #13768
Static hostname: Project
         Icon name: computer-desktop
           Chassis: desktop
        Machine ID: c4322266e7ba494f9025058baf2aeb13
           Boot ID: 5fc2aab4a03247e0bd5143d0821dbe88
  Operating System: CentOS Linux 7 (Core)
       CPE OS Name: cpe:/o:centos:centos:7
            Kernel: Linux 3.10.0-1127.19.1.el7.x86_64
      Architecture: x86-64
--------------------------------------

[2020-11-09 14:51] scetin47 commented on #13768
<VirtualHost *:80>
     ServerAdmin admin@10.0.0.4
     ServerName 10.0.0.4
     DocumentRoot /var/www/html/yetiforce
     ServerAlias 10.0.0.4

     <Directory /var/www/html/yetiforce/>
          Options FollowSymlinks
          AllowOverride All
          Require all granted
     </Directory>

     ErrorLog /var/log/httpd/yetiforce_error.log
     CustomLog /var/log/httpd/yetiforce_access.log com

[2020-11-09 15:52] mariuszkrzaczkowski commented on #13768
![Uploading github.jpg…]()

[2020-11-09 15:52] mariuszkrzaczkowski commented on #13768
![github](https://user-images.githubusercontent.com/10198654/98563816-ea43dc80-22ab-11eb-88d8-f52c3130a81a.jpg)

[2020-11-10 04:38] JohnMaverick opened #13769 "[Question] Sold products - inventory"
Not sure this is design or some my personal bug here, but:
When I create invoice with certain product, and its status is paid, the number of products in inventory
is not changing. If this is design, than what is purpose of dealing with storages and all related modules?
I mean It can be used this way, but if system have included invoicing AND inventory management, it would be logical if those are c

[2020-11-10 07:27] scetin47 commented on #13768
please, can you help with this?

[2020-11-10 07:40] vovpff commented on #13769
Since from Logistic modules appears in yetiforce Invoice does not change products qty on stock. Now you need to add Goods Dispatched Note with Accepted status to recalculate quantities. This is more logical!