[2020-03-23 15:02] rtorrescodes commented on #12750
I made the same installation and upgrade process in another hosting account. The error persist. I can't edit orders.. and error is different now:

![image](https://user-images.githubusercontent.com/28415396/77330521-17278d00-6ce5-11ea-8604-9ff0499dc6cd.png)

[2020-03-23 15:04] z0lo13 commented on #12423
@Coonzoba
https://github.com/YetiForceCompany/YetiForceCRM/pull/12504

[2020-03-23 16:26] zazy commented on #12750
Hi @rtorrescodes you can temporarily solve this by editing <crm_install_folder>/app/Colors.php.
Go to line 149 where you will find function sanitizeValue($value) and modify this way:

[code]

This will at least solve the problem for now until a patch is released. Beware that this mod will probably be overwritten by an update!

[2020-03-23 16:49] rtorrescodes commented on #12750
@zazy Hey, THANK YOU very much. This is complete solved now. Thanks a lot for your time. We'll save this solution is this isn't solve in next update.  Thanks a lot. I hope this can help more people with the same issue.  Thanks again.    SOLVED.

[2020-03-23 16:55] zazy opened #12751 "[Question] CSRF protection causes unresponsive UI"
Don't know if this is a bug because I can't reproduce it on gitstable.yetiforce.com but on my 5.3.0 SP1 fresh install happens everytime.
This is the path I follow:
Log into YetiForce > Accounts > choose any account > click on Contacts tab > click on **Add record**
The quick create overlay appears. Click on **Go to full form** then click on **Cancel**
Now if I try to go to another tab or to do anyt

[2020-03-23 16:56] Gil37 commented on #12732
How exactly should I delete this tributemin file? I am sorry but I have little knowledge on this subject.

[2020-03-23 16:57] zazy commented on #12750
You're welcome @rtorrescodes, I'm really happy my solution was helpful! Have a nice day!

[2020-03-23 17:51] rtorrescodes opened #12752 "[Question] Image size too big when its exported to PDF"
Hello, does anybody know how fix this problem?  I need to add an image (a qr code) inside the orders. The image is 512px x 512px.  I added a custom field to enter the image.

Everything works perfect, but, when i use that field inside a pdf template for orders, image goes almost full page size.  Im sure its not that easy because in the template, the image is called with a shotcode, not an html <im

[2020-03-23 18:05] vovpff commented on #12732
@Gil37 just rename tribute.min.js to tribute.min.js_

[2020-03-23 18:28] z0lo13 opened #12753 "[Question] Can we have a copy of running developer portal folder"
### Description

Hello Yeti team,

Is that possible to have a full installed copy of portal beta 2 ?
similar to https://download.yetiforce.com/developer.zip.

Thank you

[2020-03-23 19:47] mariuszkrzaczkowski commented on #12747
show create table query

[2020-03-23 19:48] mariuszkrzaczkowski commented on #12747
remove condition from query and how many results do you have?
`vtiger_account`.`accountname` LIKE '%Евроинтех%'

[2020-03-23 20:57] vovpff commented on #12747
@mariuszkrzaczkowski i will prepare this data tomorrow morning

[2020-03-23 22:33] z0lo13 commented on #12541
@Sasamous  @mariuszkrzaczkowski

there is a header x-parent-id

but it seems not to be working:

1. Creating user for testing with 4 type of priviligies
<img width="577" alt="image" src="https://user-images.githubusercontent.com/23143958/77368413-8c6d7f00-6d32-11ea-8d81-eeaf47645d19.png">

2. Lets take a look on Account id of that contact record
<img width="2048" alt="image" src="https://user-imag

[2020-03-24 01:27] rtorrescodes commented on #12750
I dont know if i need to reopen this issue because its worst that i thought.  @zazy  solution was ok, but editing pdf templates is not working anymore.  I reinstalled 5.2 and it seems to be ok now, the problem comes with 5.3   and, maybe this need to be fixed. If i close this issue, may it be fixed?  hope not to be a problem, i want to help to find the solution for such a great tool we all love.

[2020-03-24 06:08] vovpff commented on #12747
@mariuszkrzaczkowski

### without `vtiger_account.accountname LIKE '%Евроинтех%'`
for vov
[code]
for admin
[code]

### SHOW CREATE TABLE

For Accounts
[code]
For Products
[code]

[2020-03-24 06:42] mariuszkrzaczkowski commented on #12747
have you tried to disable the private field mechanism?
https://github.com/YetiForceCompany/YetiForceCRM/blob/298882dc280967fc2a34ffe0f07ed04284e282cd/config/Security.php#L50-L51

[2020-03-24 06:59] vovpff commented on #12747
@mariuszkrzaczkowski no. I newer touched this config parameter in the past.

I found cause of problem. Old records what was added to fresh system by migration tool at ver. 2.x was imported without `private` absolutely because this feature was unavailable at that time. I found  1800 rows in `vtiger_crmentity` with NULL `private` column.

Query after solves this problem. I noticed a lot of my proble

[2020-03-24 07:00] vovpff commented on #12750
@rtorrescodes what orders you mean?

I can't trigger your error in orders. Maybe I tried different orders. Also PDF editor works well.

[2020-03-24 07:19] mariuszkrzaczkowski commented on #12747
because they have their own file
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/modules/Products/models/ListView.php#L55

[2020-03-24 07:19] #12747 closed, assigned to mariuszkrzaczkowski

[2020-03-24 07:25] vovpff commented on #12747
@mariuszkrzaczkowski thanks for info!

[2020-03-24 07:59] rtorrescodes commented on #12750
Want me to give you access? if i create a quote, everything is ok.  I can even keep making pdf templates.  If i create an order (not recurrent one) i can't edit it after i create it. The save button dissapears.  The @zazy code in colors.php helped but when i did that, i messed up with the pdf template creation tool; the same bottom bar dissapear to continue to step 2 under pdf template creation to

[2020-03-24 08:07] vovpff commented on #12750
@rtorrescodes

You mean Sales Orders?

![image](https://user-images.githubusercontent.com/8545791/77402366-9be6d980-6dbf-11ea-9602-4db69e8dde16.png)

[2020-03-24 08:16] rtorrescodes commented on #12750
Yes thats right @vovpff ... i can create new orders just like your screenshot, but, it looks kinda different see:

![image](https://user-images.githubusercontent.com/28415396/77403077-484f9e00-6d75-11ea-8907-7ebd42a8abba.png)

There is a the save button at the bottom.  If i create one and then i want to edit it, that bar dissapears look:

![image](https://user-images.githubusercontent.com/28415396

[2020-03-24 08:25] vovpff commented on #12750
@rtorrescodes Strange. I don't have any troubles with Sales Orders modification

![image](https://user-images.githubusercontent.com/8545791/77404018-23cde300-6dc2-11ea-82a9-c6b50353f332.png)

[2020-03-24 09:59] vovpff opened #12760 "[bug] 5.3 Line items Comments absolutely non informative now"
# 🐞 bug report

### ⁉️ Describe the bug

I has checked what now WYSIWYG fields has different display than 5.2

In 5.2 we have powerful tool to focus user on some important data inside line comments using HTML

![image](https://user-images.githubusercontent.com/8545791/77415150-179e5180-6dd3-11ea-9ad9-0b395db7ef4a.png)

Now we got absolutely non informative plain text without line breaks and user c

[2020-03-24 11:15] iq0099 commented on #12705
Do you need more information from me?

[2020-03-24 12:23] rtorrescodes commented on #12750
Well, i dont know what else to do. I ran cron job and turned on encryption because of the error, i thought it might have something to do with issue. But no, it isnt fixed. Any idea? i dont know how to get more information for you.

[2020-03-24 13:57] vovpff commented on #12750
What about your server config? Pls give screenshot

[2020-03-24 15:00] diderich opened #12765 "[bug] Document URL renders incorrectly"
# 🐞 bug report

### ⁉️ Describe the bug

When defining a Document with external type and a long link associated, a subset of the link is show, ending with ... Unfortunately, the URL in the "a href=" is also the shortened link and not the full link.

### 🔥 How to trigger the error

Steps to reproduce the behavior:
1. Create a document of type 'external' and associate a long URL
![create](https://us

[2020-03-24 15:36] diderich commented on #12765
Record is correcly stored in vtiger_notes table. Problem is in displaying the data.

[2020-03-25 06:23] rtorrescodes commented on #12750
Sure

![image](https://user-images.githubusercontent.com/28415396/77507751-a42a2d80-6e2e-11ea-853f-53f90e5a2708.png)
![image](https://user-images.githubusercontent.com/28415396/77507772-b3a97680-6e2e-11ea-8777-3ba13722d799.png)
![image](https://user-images.githubusercontent.com/28415396/77507805-c2902900-6e2e-11ea-8ae4-e3ad43155f7a.png)
![image](https://user-images.githubusercontent.com/28415396/7

[2020-03-25 06:55] vovpff commented on #12750
@rtorrescodes not perfect but looks well. I don't know how to help you now. I don't have any suggestions for this.
Is it happens if you install fresh 5.3?
Also try to disable encryption temporary.

[2020-03-25 07:26] rtorrescodes commented on #12750
I tried this like 5 times. Downloading last release from Git, upgrading the service pack (and without it too).  Fresh 5.3 install.  I tried to downgrade and use a different release but other strange things happened in other modules, i dont remember what but, this is the only issue i have.   The problem happens with or without encryption. As you can see the console error i thought it was something

[2020-03-25 10:39] liviubbo opened #12768 "Error when i am trying to add new entry [bug]"
Hello all,
Version : 5.3.0 pack 1

I got this error when i am trying to add a new entry in.

![error](https://user-images.githubusercontent.com/42461923/77527856-3a8d3c00-6e8d-11ea-9525-e454cea215f1.jpg)

[2020-03-25 10:40] liviubbo commented on #12768
As i see, the entry is created, but every time i add one, the error appears, even tough the entry is saved.

[2020-03-25 11:11] vovpff commented on #12760
@mariuszkrzaczkowski @bpabiszczak @paula-w
Could you give comments this issue?
For this time this is only one thing what stops me with update production to 5.3

[2020-03-25 12:13] konadrian commented on #12733
As @vovpff said, check this if you have this option is selected
![image](https://user-images.githubusercontent.com/3193498/77535036-27cd3400-6e9a-11ea-8736-542f585dc2c7.png)

[2020-03-25 12:13] #12733 closed, assigned to konadrian

[2020-03-25 12:50] rskrzypczak commented on #12731
https://github.com/YetiForceCompany/YetiForceCRM/releases/download/5.3.0/5.3.0_ServicePack_v2.zip

[2020-03-25 12:50] #12731 closed, assigned to areksolek

[2020-03-25 12:51] konadrian commented on #12744
Obecna wersja gitdeveloper, wszystko działa poprawnie
![korekta](https://user-images.githubusercontent.com/3193498/77538286-c6a85f00-6e9f-11ea-81f3-806d6e73e47c.gif)

[2020-03-25 12:51] #12744 closed, assigned to konadrian

[2020-03-25 14:10] zazy commented on #12750
@rtorrescodes try it in an incognito mode so you can absolutely exclude a caching problem. I have the same patch I sussested you and have no problem. That patch can in no way cause problems because it simply returns a null string if the input string is null to avoid the error message.
I see that you run it on local host on port 8080, what about your config file? Do you reset the databse between an

[2020-03-25 15:01] rtorrescodes commented on #12750
@zazy  thanks... i tried incognito mode and issue remains.  All my installation are online, i dont know why it says localhost:8080.  Yeti is installed online, under a subdomain and domain published online. Let me check the config file itself. I just use the installation wizard everytime.    When i reinstall i dont drop the whole database, just select all tables and delete them.  But i tried this i

[2020-03-25 15:04] federico0100 opened #12773 "[bug] Call to a member function getDisplayValue() on null."
# 🐞 bug report

### ⁉️ Describe the bug

Good morning.
When I create a project task and press "Save", I get the error "Call to a member function getDisplayValue () on null."
I send you the screenshot of the report.

Thank you

### 🔥 How to trigger the error

![image](https://user-images.githubusercontent.com/62551450/77550728-bb5e2f00-6eb1-11ea-92b0-8c19c74f64a1.png)

![image](https://user-images.

[2020-03-25 15:46] zazy commented on #12750
That error makes me think that there is some extension (or something alse, I hope not a malware) that interfere with the crm because source maps ar loaded only when a js is loaded before and there is no headless-content.js in yetiforce. Try alsto to disable any extension and also try to change browser.

[2020-03-25 16:45] z0lo13 commented on #12760
Confirm all html is stripped in 5.30 SP1

[2020-03-25 18:01] apcloic commented on #12735
@mariuszkrzaczkowski
Same issue for me so I don't think it's a simple communication issue with the server.
`Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /var/www/html/yfcrmdev/modules/Settings/Updates/views/Index.php on line 18`
Like @vovpff, I had to use the zip.

[2020-03-25 21:17] z0lo13 opened #12774 "[question] `vtiger_ossmailview` is droping the update performance."
## 🚀 Question

in out production vtiger_ossmailview is super huge table (~32 GB)
I guess because of that large table the update is taking very long.

Would you maybe recommend different update procedure for instances with big DBs?
or maybe it is a bug?

changeColumnType	|	16:04:11 -> 18:01:31	|	117.33 min.

[2020-03-25 22:11] bpabiszczak commented on #12753
In the future, why not;)

[2020-03-25 22:11] #12753 closed, assigned to bpabiszczak

[2020-03-26 04:11] rtorrescodes commented on #12750
I dont know what extension could be.  This happens with a fresh install. I download the latest release from git.  The only extra thing installed is the service pack and i've tried this without the service pack also.  But "there is no headless-content.js in yetiforce" make me think a lot.  What is getting load in there?  and why its loading from localhost:8080  ??

![image](https://user-images.gith

[2020-03-26 05:52] z0lo13 opened #12775 "[bug] 12 Hour Clockpicker "Please enter valid time""
# 🐞 bug report

### ⁉️ Describe the bug

in 5.3 SP 2 as well as gitstable does not allow to save time when using 12 hour format. It is fixed in current git developer but was not coming with a second service pack.
### 🔥 How to trigger the error

Gitstable
![2020-03-26_01-42-51 (1)](https://user-images.githubusercontent.com/23143958/77614535-9397b700-6f03-11ea-9dd4-f610eeac754d.gif)

Our Instance
![

[2020-03-26 05:54] rskrzypczak commented on #12773
Go to "Labels and searches" panel and temporarily edit the "Columns for search mechanisms" for your module.
![image](https://user-images.githubusercontent.com/10221999/77614708-e2f2dd00-6f2d-11ea-81be-6811cc3902d4.png)

[2020-03-26 06:09] vdpawel commented on #12768
I have the same error (5.3 SP1) after upgrading.
Sales invoice module.

![yeti błąd po aktu](https://user-images.githubusercontent.com/62466142/77615827-9066f000-6f30-11ea-9c34-842cfff23c8b.JPG)

[2020-03-26 06:22] z0lo13 opened #12776 "[bug] Detail Widget edit icon"
# 🐞 bug report

### ⁉️ Describe the bug

When using details module widget the edit icon is still shown when editing which is resulting incorrect row
<img width="986" alt="image" src="https://user-images.githubusercontent.com/23143958/77616579-5da90180-6f08-11ea-87ce-115477b2428a.png">

### 🔥 How to trigger the error

Add detail widget
go to module and click the field to edit

### 👎 Actual Behavior

[2020-03-26 06:43] mariuszkrzaczkowski commented on #12735
@vovpff @apcloic make these changes and show what the file is created

[code]

[2020-03-26 06:45] mariuszkrzaczkowski commented on #12750
check what happens if you turn off this
https://github.com/YetiForceCompany/YetiForceCRM/blob/3e15971d4aa2fbff28d2db51d330c1a54298c1e1/config/Security.php#L122-L123

[2020-03-26 06:50] vovpff commented on #12735
@mariuszkrzaczkowski what file should be modified?

[2020-03-26 07:00] mariuszkrzaczkowski commented on #12735
modules\Settings\Updates\views\Index.php

[2020-03-26 07:53] #12746 closed, assigned to konadrian

[2020-03-26 07:56] #12765 closed, assigned to konadrian

[2020-03-26 08:08] federico0100 commented on #12773
Thanks a lot, it finally works now!

[2020-03-26 08:09] #12773 closed, assigned to rskrzypczak

[2020-03-26 09:30] liviubbo commented on #12768
Anyone ?

[2020-03-26 09:55] jobrien2001 opened #12777 "[Feature] LDAP SSL, Security Enhancement"
# 🚀 feature request

### Describe the solution you'd like
Would like an option to use an SSL port for LDAP integration.

### Is your feature request related to a problem? Please describe.
No problem, just added security.

### Describe alternatives you've considered
If adding certificates to yeti is too much work, a checkbox to ignore certificate errors would be nice just to get temporary functiona

[2020-03-26 10:18] rtorrescodes commented on #12750
@mariuszkrzaczkowski done, i turned it off and nothing happens. Issue persist.
But error changed:
![image](https://user-images.githubusercontent.com/28415396/77635708-981a9a80-6f18-11ea-9066-c9082df2780e.png)

and @zazy told me about some modification to colors.php    I'll try it again but when last time i did it, i couldnt edit or make new pdf templates.  The same save bar dissapeared form pdf te

[2020-03-26 10:26] fbojan opened #12778 "OpenStreetMap.php"
Unfortunately, some things become more complicated and not simpler than I expected. I've tried everything before, but my knowledge is not enough to set up an Open Street Map in YETIFORCE. Please if anyone can help me where and how to set up https://www.openstreetmap.org/.

[2020-03-26 11:21] apcloic commented on #12778
@fbojan
I think an easy way is to create a free Opencage account here :
 https://opencagedata.com/

And then insert your key :
https://gitdeveloper.yetiforce.com/index.php?module=ApiAddress&parent=Settings&view=Configuration&block=5&fieldid=61

Don't forget to configure cron correctly and enable coordinates tasks.
https://gitdeveloper.yetiforce.com/index.php?module=CronTasks&parent=Settings&view=L

[2020-03-26 12:02] zazy commented on #12751
Here again just to add that if I disable CSRF protection in config/Security.php by setting  $csrfActive to false, the problem disappears.
Any idea on what can cause this behavior?

[2020-03-26 13:28] odiiin opened #12779 "[Question] Przypisanie leadowi istniejącego dokumenty za pomocą API"
### Description

Muszę ok. 1000 lead'om przypisać dokument istniejący już w CRMie. Zamiast robić to ręcznie chciałbym wykorzystać API, ogólnie API wykorzystałem już w kilku przypadkach ale nie wiem jak podejść do tego w tym konkretnym.

Jeśli chodziłoby o standardowe pole to zrobiłbym coś takiego:
[code]

Próbowałem też tak:
[code]
ale nie działa, po prostu nie wiem jak się dobrać do modułów z któ

[2020-03-26 13:41] bpabiszczak commented on #12779
My nie udzielamy bezpłatnych porad programistycznych [można wykupić u nas pakiet godzin i wówczas możemy pomóc]. Oznaczę jako dyskusja, może ktoś Tobie pomoże, jeżeli przez tydzień nikt nie napiszę, zamkniemy zgłoszenie.

[2020-03-26 14:20] mariuszkrzaczkowski commented on #12751
start by correcting the server configuration because you have a bad error_reporting

[2020-03-26 14:22] mariuszkrzaczkowski commented on #12778
@fbojan give me a larger description of what you want to do because I don't know what part of OSM you are talking about

[2020-03-26 14:24] mariuszkrzaczkowski commented on #12750
try this change
https://github.com/YetiForceCompany/YetiForceCRM/commit/9f8ad51c476941dab49d0c0216e93267606bfb26

[2020-03-26 16:51] zazy commented on #12751
Thankyou @mariuszkrzaczkowski for your reply and for pointing out that. Value reported in the error log had been changed **after** the error was presented for the first time just to investigate the matter. Furthermore it is only for CLI php.ini while php.ini for Apache and PHP7.2-fpm is the one required.
I have restored my initial configuration and here it is (this is a "config-to-test pending" in

[2020-03-26 17:15] rtorrescodes commented on #12750
@mariuszkrzaczkowski  The problem is complete solved now, thank you very much.  The bottom bar is back and i've checked all the modules i have in use, including the pdf template maker and everythings working ok.  Take this in mind @zazy ; this modification to colors.php dosent affects the pdf template maker.  Thanks a lot. I hope this could be helpful for next releases  or an upgrade.  Im glad to

[2020-03-26 19:54] alexandr256 commented on #12760
I can confirm what comment under item name became useless.

[2020-03-26 20:33] kcrudup opened #12781 "[bug] Time chooser for appointments adds space in time which creates invalid date"
When creating an event in the calendar and using the time chooser widget. The widget will add an extra space between the time and the AM or PM and the date will not be valid.

10:00 AM - correct date

the time chooser will create

10:00  AM - incorrect with the extra space. which give the "Please enter a valid time" error message.

[2020-03-26 20:36] kcrudup commented on #12775
The clockpicker is adding an extra space between the AM/PM and the time.

Creating 10:00  AM - extra space - invalid
and not  10:00 AM - no extra space - valid

[2020-03-26 20:37] kcrudup commented on #12781
Seems to be the same bug as #12775

[2020-03-27 05:31] allyh12 opened #12782 "[bug] Workflows Error when task was executed during record creation"
🐞 bug report

⁉️ Describe the bug
A workflow scheduled with 'Creating a Record' and 'Update Fields' was created.
Error message pops up when record was created.
However, workflow get executed and fields have been updated.

🔥 How to trigger the error
1. Create Workfows/Creating Record/Update Field
2. Create record in relevant module
3. Save the record
Error pops up
![image](https://user-images.githu

[2020-03-27 06:19] #12750 closed, assigned to mariuszkrzaczkowski

[2020-03-27 06:23] mariuszkrzaczkowski commented on #12751
set error_log

[2020-03-27 06:36] mariuszkrzaczkowski commented on #12782
logs ?

[2020-03-27 07:10] mariuszkrzaczkowski commented on #12746
Changes published in 5.3.0_ServicePack_v3

[2020-03-27 07:10] mariuszkrzaczkowski commented on #12765
Changes published in 5.3.0_ServicePack_v3

[2020-03-27 07:11] mariuszkrzaczkowski commented on #12750
Changes published in 5.3.0_ServicePack_v3

[2020-03-27 07:19] allyh12 commented on #12782
Hi Mariusz,

Thanks for your prompt response.

I'm very sorry for asking some help as I'm new to Yetiforce.
Appreciate if you could provide some guidance on getting the logs ready for you.

https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/debugging

I refered to the above link and changed log-errors and display_errors to On in user.ini. Then, I tried to create t

[2020-03-27 07:32] allyh12 commented on #12782
Hi Mariusz,

I managed to get the system log!
Please check if this is sufficient.

Thanks,
Ally

Sent from Outlook<http://aka.ms/weboutlook>

________________________________
From: Allison Ho <bengkhim@live.com>
Sent: Friday, 27 March 2020 3:19 PM
To: YetiForceCompany/YetiForceCRM <reply@reply.github.com>
Subject: Re: [YetiForceCompany/YetiForceCRM] [bug] Workflows Error when task was executed dur

[2020-03-27 07:32] vovpff commented on #12740
@mariuszkrzaczkowski @bpabiszczak  any ideas?

[2020-03-27 07:39] federico0100 opened #12783 "[bug] Roundcube, double login window"
# 🐞 bug report

Good morning. When I select "My Mail", I get a screen with double login to a "file not found" message. I attach the screenshot.

Thank you

### 🔥 How to trigger the error

![image](https://user-images.githubusercontent.com/62551450/77732601-764b1180-7005-11ea-957b-d4803d58a2dc.png)

### 👷 Testing

- [v] I confirm that I tested it at https://gitstable.yetiforce.com
- [v] I confirm t

[2020-03-27 09:06] liviubbo commented on #12768
I have updated to the 3rd version of 5.3 but its not fixed yet.

[2020-03-27 10:28] rtorrescodes commented on #12750
Tested with sp3 upgrade and it works really fine.  Thanks again and i hope to keep helping in some way. This project is amazing and deserves the best.  Thanks.

[2020-03-27 10:45] fbojan commented on #12778
YETIFORCE 5.3. ver2
![map](https://user-images.githubusercontent.com/25682437/77748144-2a599600-7020-11ea-8ed2-ef8ff647b0d7.gif)

![ConfReport](https://user-images.githubusercontent.com/25682437/77748243-51b06300-7020-11ea-9527-73c59f58a4db.png)

[2020-03-27 11:26] mariuszkrzaczkowski commented on #12778
This panel what you show is for something else.
By default, public servers cannot be set, their regulations prohibit it.
See the panel with public suppliers added  https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=Map&view=Config&block=5&fieldid=123

[2020-03-27 11:26] #12778 closed, assigned to mariuszkrzaczkowski

[2020-03-27 14:02] z0lo13 commented on #12775
@konadrian
https://github.com/YetiForceCompany/YetiForceCRM/commit/6e6895d4859509e415bd5c1d909147a2a6aae40e the space on line 899

[2020-03-27 18:24] federico0100 opened #12787 "[bug] Project Task widgets"
# 🐞 bug report

Good evening.
I have detected a bug in the task widghet that is displayed in the project summary. The filter does not work and if active the private makes all the details of the summary disappear. I also tried it on https://gitdeveloper.yetiforce.com/ and found the same problems. I attach gif.

### 🔥 How to trigger the error

![task widgets](https://user-images.githubusercontent.co

[2020-03-27 19:19] z0lo13 commented on #12768
+1

[code]

@mariuszkrzaczkowski
Somehow when you click save it executing below code
[code]
5 Times which results in error, so far i were not able to find foreach function or another reason why its behaving like that.

I have changed the table "__crmentity_label" to test table and recorded the result video

[2020-03-27_16-07-51.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/4395723/20

[2020-03-27 20:31] z0lo13 commented on #12782
@MacarenaReina @allyh12 @mariuszkrzaczkowski
its same issue as https://github.com/YetiForceCompany/YetiForceCRM/issues/12768

 the issue is with only VTUpdateFieldsTask with recordModel->save()

particularly with

[code]

if you replace

`$eventHandler = $this->getEventHandler();`

with

[code]

everything the record saves just fine but it may break the additional validation implemented in
https:/

[2020-03-27 21:19] z0lo13 commented on #12768
*UPDATE*

the issue is with VTUpdateFieldsTask

specifically with

`public function getFieldNames()
	{
		return ['field_value_mapping'];
	}
`

[2020-03-27 22:21] z0lo13 commented on #12768
@mariuszkrzaczkowski

the issue is only with VTUpdateFieldsTask

recordModel->save();
breaking the workflow .....

[2020-03-27 22:24] zazy commented on #12782
This happens in gitstable too, just tested. It appears that YetiForce tries to save the same record two times getting a duplicate key error from the database engine. If I disable the workflow that bind to "On create" all works fine. Also the _Every time a record is created_ bind causes the same error.

I noticed that this happens if the workflow tries to **modify the just created record**. If I us

[2020-03-28 15:10] zazy commented on #12768
I noticed that the error appears when the workflow tries to modify the just created record. If I use the same worflow but I change the field that is modified and change it from the same module to a related module all works fine.

[2020-03-28 15:28] zazy commented on #12768
In app/Record.php at line 249 the INSERT is performed if $recordModel->isNew() method returns true. The problem is that at that point, the record had been already saved but the isNew flag had not been reset so, even if the record had been added, YetiForce "thinks" it's still a new record that needs to be added. When the record is saved for the first time the isNew should be turned to false.

I hav

[2020-03-28 16:45] vdpawel opened #12792 "[bug] [PL] Dodaj wykres z filtru - brak typu wartości "suma" oraz "średnia" (lack of "sum" and "average" in Add chart from filter)"
# 🐞 bug report

### ⁉️ Describe the bug
Na wykresach z filtru brakuje możliwości uzyskania sumowania oraz średniej wartości na wykresach.

### 🔥 How to trigger the error
Sales invoices -> Dashboard -> Add chart from filter -> *Select module: Sales invoices, cost invoices, correcting invoices, proforma invoices = *Value type - only Number of records

### 👎 Actual Behavior
![a1](https://user-images.

[2020-03-29 13:28] bpabiszczak commented on #12792
Proszę o zrzuty ekranu czego brakuje [na zrzucie napisać co gdzie być powinno i dlaczego to jest błędem].

[2020-03-29 13:55] vdpawel commented on #12792
**YetiForce CRM 5.2 Service Pack v19**
w module faktury sprzedażowe, przy dodawaniu wykresu z filtru można wybrać **typ wartości:**
- Ilość rekordów,
- suma,
- średnia.

co potwierdzam poniższym zrzutem ekranu:
![Screenshot_2020-03-29 Faktury sprzedażowe](https://user-images.githubusercontent.com/62466142/77850668-5f0e4e80-71d4-11ea-9d57-f7b46e794ae5.png)

W wersji deweloperskiej **YetiForce CRM 5

[2020-03-29 15:32] bpabiszczak commented on #12783
Please fix the error first "file not found".

[2020-03-29 16:49] bpabiszczak commented on #12719
A step-by-step description of what you are doing and what is wrong.

[2020-03-29 16:50] #11335 closed

[2020-03-29 17:53] federico0100 commented on #12783
I would do it but it doesn't specify what file it can't find

[2020-03-30 03:01] simple-AMS opened #12793 "[Question] Password Change at Login Screen NOT working in 5.3.0 Version"
### Question?

What happened to the ability to change the password on the login screen in Version 5.3.0 with SP 3 installed?

I went to the config directory and the Security.php file and I have the setting on True but it does not work in this version and worked fine before.

[2020-03-30 06:11] liviubbo commented on #12768
@zazy - thank you very much for the fix. I will try it right now.

[2020-03-30 06:15] liviubbo commented on #12768
@zazy - thank you again. It is working.

[2020-03-30 06:41] bpabiszczak commented on #12774
First of all, you need to answer the question whether all these emails should actually be there [some clients import only those emails that have been related to a record in CRM].

If you have a CRM system and one of its tables has 32GB, it means that you have a large system with a lot of data that should be monitored and optimized constantly. Each change in a large table requires time, it isn't su

[2020-03-30 06:41] #12774 closed, assigned to bpabiszczak

[2020-03-30 06:57] #12782 closed, assigned to bpabiszczak

[2020-03-30 06:58] #12768 closed, assigned to nobody

[2020-03-30 07:10] simple-AMS commented on #12775
Been an issue every release as far back as I can remember. No effort has gone into correcting it for 12 hour since it works for those in 24 hours.

[2020-03-30 08:16] #12705 closed, assigned to bpabiszczak

[2020-03-30 08:19] #12781 closed, assigned to nobody

[2020-03-30 08:23] rskrzypczak commented on #12775
The problem is in the clockpicker library itself, they have a wrongly compiled min.js file in there.
You can solve this error quickly in 2 ways:
1. Remove `public_html/libraries/clockpicker/dist/bootstrap4-clockpicker.min.js` file
2. Disable loading min.js files `config/Developer.php`  ($MINIMIZE_JS)

[2020-03-30 10:46] iq0099 commented on #12705
Please any updates?

[2020-03-30 10:49] bpabiszczak commented on #12705
@iq0099
problem = issue

[2020-03-30 18:04] simple-AMS commented on #12775
Wow @rskrzypczak finally someone with a solution for an issue with this system that actually works. Thanks so much man, it worked perfectly. Assuming it doesn't cause issues elsewhere that is lol.

Would you mind helping me out with this other issue that I really need to get working asap? #12793

Thanks again mate!

[2020-03-30 19:47] mariuszkrzaczkowski commented on #12793
have you set the default smtp?

[2020-03-30 21:02] ozinfotech commented on #12668
Did you all have a chance to check this out?

[2020-03-30 22:31] simple-AMS commented on #12793
Hi @mariuszkrzaczkowski sorry about that. I always seem to forget that step lol. As usual, you were right, that was it. You're the guru, thanks brother!

[2020-03-30 22:31] #12793 closed, assigned to mariuszkrzaczkowski

[2020-03-31 05:54] #12776 closed, assigned to mariuszkrzaczkowski

[2020-03-31 08:58] federico0100 commented on #12783
Can you give me some clues on how to fix the file not found problem?

[2020-03-31 09:30] simple-AMS commented on #12751
Disable CSRF altogether. Why use it in the first place?

[2020-03-31 10:19] blu-IT commented on #12735
I have this problem too:

`Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /var/www/yetiforce/modules/Settings/Updates/views/Index.php on line 18`

Which logs are needed for further help?

Thanks!

[2020-03-31 10:22] blu-IT commented on #12735
And when I try to use the ZIP-File, I get this error:

`Invalid request - Response For Illegal Access`

[2020-03-31 14:49] diderich opened #12802 "[Question] PDF - List of of all Time Control entries associated with a given Project"
### Description

I would like to generate a report for all time control entries associated with a given project, ideally grouped by assigned to. I need such a report for the local authorities to prove the number of hours that have been worked. I have tried creating such a report using the PDF System settings, but with no success. Is there any documentation anywhere on how to do this?

[2020-03-31 15:09] z0lo13 commented on #11664
@manwenick thank you for your report, however it is not working in my instance and giving an error that column `vtiger_paymentsin.paymentsvalue` not exist on 5.3.0 SP3, looks like a typo as changing to `paymentsvalue` in `/modules/PaymentsIn/models/PaymentStatus.php` fixes the error and everything works fine.
@mariuszkrzaczkowski please check if it is same error exists on gitdeveloper and gitstabl

[2020-03-31 15:48] sundersingh179 opened #12803 "Yetiforce 5.2 security issue"
hi there! 😄

I have deployed yetiforce 5.2 CRM on CentOS 7, Whenever opening my admin console, i am getting below warnings for Security/system configuration. Below is the configuration:
![yetiforce_settings](https://user-images.githubusercontent.com/62950315/78044564-ecdd6b80-7385-11ea-8a67-6a64d665dcb4.png)
[php.txt](https://github.com/YetiForceCompany/YetiForceCRM/files/4410054/php.txt)
even i a

[2020-03-31 15:55] elvissaba commented on #12729
How did you solved it? I have still same issue. Cron in Verson 5.2 works fine. After update to version 5.3 cron tesks are not executed.

[2020-03-31 16:36] EdwardStedE opened #12804 "[Feature] Disable YetiForce branding."
## 🚀 feature request

### Describe the solution you'd like

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe alternatives you've considered

### Additional context

[2020-03-31 16:36] EdwardStedE commented on #12804
I cannot make a payment to disable YetiForce branding.

[2020-03-31 16:38] bpabiszczak commented on #12804
YetiForce version?

[2020-03-31 16:40] EdwardStedE commented on #12804
[ver. 5.2.0]

[2020-03-31 16:41] bpabiszczak commented on #12804
You must install the latest service pack for version 5.2 or upgrade to 5.3.
- YetiForce 5.2 SP v19 https://github.com/YetiForceCompany/YetiForceCRM/releases/download/5.2.0/5.2.0_ServicePack_v19.zip

[2020-03-31 16:42] EdwardStedE commented on #12804
Thank you, I will try that now.

[2020-03-31 16:43] bpabiszczak commented on #12804
Update pack from 5.2 > 5.3 https://github.com/YetiForceCompany/UpdatePackages/tree/developer/YetiForce%20CRM%205.x.x/5.2.0_to_5.3.0/zip

[2020-03-31 20:18] mariuszkrzaczkowski commented on #12803
![20200331_221244](https://user-images.githubusercontent.com/10198654/78071283-86fcde00-739d-11ea-853d-942b5b183b77.png)

https://github.com/YetiForceCompany/YetiForceCRM/issues/6801

[2020-03-31 20:44] elvissaba commented on #12729
How did you solved it? I have still same issue. Cron in Verson 5.2 works fine. After update to version 5.3 cron tesks are not executed.

[2020-03-31 22:12] bpabiszczak commented on #12803
and?

[2020-04-01 05:04] sundersingh179 commented on #12803
@mariuszkrzaczkowski , Thanks for your prompt reply. I have changed the value to opcache.max_accelerated_files = 40000 and i can see the changes but when i change opcache.interned_strings_buffer = 100 from 8 couldn't start apache. Error as:
systemd-journal[92]: Runtime journal is using 8.0M (max allowed 189.0M, trying to leave 283.5M free of 1.8G available → current limit 189.0M).

Also, from wher

[2020-04-01 05:38] rskrzypczak commented on #12729
Open cron/cron.sh file in n++, and change EOL. You probably have CR LF.
![image](https://user-images.githubusercontent.com/10221999/78102738-55aaff00-73eb-11ea-9e88-407d212fab02.png)

[2020-04-01 05:47] mariuszkrzaczkowski commented on #12803
here you have a description of how to enable public_html
 https://github.com/YetiForceCompany/YetiForceCRM/issues/6801

[2020-04-01 06:00] mariuszkrzaczkowski commented on #11664
show query result:
[code]

[2020-04-01 06:10] mariuszkrzaczkowski commented on #12668
No configuration errors are visible, your administrator should take care of it or you can buy the support package and we will verify that.

[2020-04-01 06:18] sundersingh179 commented on #6801
@mariuszkrzaczkowski unable to set public_html to On. below is the conf file.
[root@yetiforcecrm ~]# cat /etc/httpd/conf.d/yetiforce.conf
<VirtualHost *:80>
     ServerAdmin <email>
     ServerName <url>
     DocumentRoot /var/www/public_html

     <Directory /var/www/public_html/>
 	  Options +Indexes +Includes +FollowSymLinks +MultiViews
          AllowOverride All
          Require all granted

[2020-04-01 06:20] sundersingh179 commented on #12803
@mariuszkrzaczkowski Thanks.
Please advise on this as well, I have changed the value to
opcache.interned_strings_buffer = 100 from 8 couldn't start apache. Error as:
systemd-journal[92]: Runtime journal is using 8.0M (max allowed 189.0M, trying to leave 283.5M free of 1.8G available → current limit 189.0M).

[2020-04-01 06:37] liviubbo commented on #12729
@elvissaba - I was on a test website and i did not had any CRON working on server side. So, bassicaly, the CRON worked but i did not had a command for it on the server.

[2020-04-01 12:57] elvissaba commented on #12729
The problem was in CRON.sh, thank you Radoslaw. After the upgrade, custom PHP path for LSPHP (Litespeed) was deleted.

[2020-04-01 13:17] #12804 closed, assigned to bpabiszczak, KatarzynaUlichnowska, paula-w

[2020-04-01 14:26] z0lo13 commented on #11664
@mariuszkrzaczkowski
![image](https://user-images.githubusercontent.com/23143958/78148764-38822a80-7403-11ea-8c25-b8ebf9cc1af0.png)

[2020-04-01 15:27] diderich opened #12806 "[Question] How to enable Comments for a new custom module"
### Description

I have created a new module using "Create Module". Now I would like to allow Comments for that module. How can I enable comments?

[2020-04-01 16:18] marciopaixao opened #12807 "[bug] RFatal error: Uncaught Exception: The imap library is missing in C:\xampp\htdocs\CRM\include\RequirementsValidation.php:15 Stack trace: #0 C:\xampp\htdocs\CRM\install\Install.php(24): include_once() #1 {main} thrown in C:\xampp\htdocs\CRM\include\RequirementsValidation.php on line 15equirementsValidation.php"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot o

[2020-04-01 16:45] Abenzer24 opened #12808 "[Question] Mail Merger on YettiForce CRM for personalized Email"
### Description

I am trying to send a personalize email to multiple contacts through Yetti Force CRM. I want to figure out how to send an email where it can automatically extract the first name from my contact list when I send email blasts.

For example:
To: 10 contacts
From: Me
Subject: Welcome {FirstName}

Hello {First Name},

This is a sample email {FirstName}

Thanks,
Me

[2020-04-01 17:32] blu-IT opened #12809 "[Question] How to assign service contract to organization?"
Hello,

when receiving a mail for example and assigning it to an existing organization, I get the message that there is _**no service contract assigned**_ to that organization. When I search for the service contracts (I have to types: "standard" and "premium"), these two types are _**not shown**_, but _**I have to create a new service contract for every organiszation**_.
But this is _**not what I

[2020-04-01 17:42] simple-AMS commented on #12807
@marciopaixao You didn't fill out any of the requested information above. In order to get assistance, you will need to provide all of the information in the template.

[2020-04-02 05:19] mariuszkrzaczkowski commented on #12807
The server configuration is not compatible with the requirements

[2020-04-02 05:19] #12807 closed, assigned to mariuszkrzaczkowski

[2020-04-02 05:51] PhilEngel commented on #12649
Hi David, just checking if the portal has a date for release? if not will portal v3 in any way work with the current Yetiforce release? Get a language error when installing..

[2020-04-02 06:18] davide-alghi commented on #12649
Hi @PhilEngel, I just saw Customer Portal v2 was updated 2 days ago: I'll try it over the afternoon.
But just a question: where have you read about v3?

[2020-04-02 08:26] vovpff commented on #12806
@diderich
[code]

[2020-04-02 09:45] PhilEngel commented on #12649
Hi David, https://sourceforge.net/projects/yetiforce/files/YetiForce%20Portal%203.x.x/

[2020-04-02 10:05] davide-alghi commented on #12649
ok, but that is the old one (YF Portal (1) version 3.x.x); it's outdated.
https://github.com/YetiForceCompany/YetiForcePortal
please take a look to the dates

the current and in progress customer portal is YF Portal 2 version n.a.
https://github.com/YetiForceCompany/YetiForcePortal2

[2020-04-02 10:11] mariuszkrzaczkowski commented on #12649
I corrected the names on sourceforge.net

[2020-04-02 10:11] #12649 closed

[2020-04-02 11:32] PhilEngel commented on #12649
Thanks, tried the v2 you suggested but also getting an error when installing - Failed
Module does not contain default language (en-US).

[2020-04-02 12:11] diderich commented on #12806
Thanks a lot for your help!

[2020-04-02 12:11] #12806 closed, assigned to nobody

[2020-04-02 12:42] apcloic commented on #12808
@Abenzer24

Hi,

You have to create an email template :
https://gitstable.yetiforce.com/index.php?module=EmailTemplates&view=List&mid=175&parent=0

Regards,

[2020-04-02 12:53] apcloic commented on #12809
@blu-IT

Hi,

What you're trying to achieve is not really clear so I think you have to follow YF report error guidelines or at least show us what happen using ScreenToGif.

### 🔥 How to trigger the error

If possible, please make a video using [ScreenToGif] (https://screentogif.codeplex.com/) or any other program used for recording actions from your desktop.

Regards,

[2020-04-02 14:12] #12808 closed, assigned to bpabiszczak

[2020-04-02 14:43] apcloic opened #12812 "[Question] YF 5.3 - How to configure sending SMS to related records workflow ?"
Hi,

On YF 5.3 [change log page](https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/yetiforce-5-3-0), I saw that sending SMS to related records feature was added.

This feature is available through workflow.

I have a working SMS provider already configured but I don't understand how to properly use this new feature.

How does it work ?

![image](https://user-images

[2020-04-02 14:47] apcloic commented on #12812
Ok, I think I found it.
The feature is available through workflow.

[2020-04-02 16:16] davide-alghi commented on #12803
Hi @sundersingh179,
leave it at ```opcache.interned_strings_buffer = 8```
it's a performance settings: your server does not have enough resources

[2020-04-02 16:25] sundersingh179 commented on #12803
@davide-alghi how much resources it would require to setup this as opcache.interned_strings_buffer = '100'
Thanks.

[2020-04-02 17:01] davide-alghi commented on #12803
try this (both Apache and PHP-CLI)

```opcache.memory_consumption=512```
```opcache.interned_strings_buffer=100```

[2020-04-02 19:04] Abenzer24 commented on #12808
How can use that template once I create it with the "Welcome $(record : firstname)$" in the "my mailbox" function. When I go to my mailbox and i hover over the template option, it is deactivated and wont let me extract it from my records.

[2020-04-03 09:16] apcloic commented on #12812
Hi,

In order to send an SMS to all related records, what is the right syntax or parameters to put in Recipients field of Send SMS task ?

I've tried with $(relatedRecordsList : Contacts|mobile|)$ but it looks like it's not working as expected because it uses TextParser which returns data as an html table (the same table you have in PDF module).

I think that /modules/SMSNotifier/workflow/VTSMSTas

[2020-04-03 10:36] davide-alghi opened #12815 "[Question] Integration Web service - Applications"
### Description

YetiForce 5.3

What means "_Paid functionality has been activated without purchasing the right product in the store. You violate the terms of the software license_" in **Integration Web service - Applications**

Are webservice and also customer portal subject to a charge?

[2020-04-03 11:16] KatarzynaUlichnowska commented on #12815
Hello, thanks for noticing. This message shouldn't be there. Paid functionalities are only in the Marketplace. We will have a look at it.

[2020-04-03 11:24] #12815 closed, assigned to bpabiszczak

[2020-04-03 11:52] #11782 closed

[2020-04-03 11:52] #11269 closed

[2020-04-03 11:52] #12787 closed, assigned to konadrian, bpabiszczak, areksolek, adudekyeti

[2020-04-03 12:27] alexynadamas commented on #12550
Whe you say email attachments, Do you mean when you add an account on Yeti, true? Using roundcube

Thanks

[2020-04-03 14:42] nick-traeger opened #12817 "[Question] vTiger migration"
Hello, we are currently using vTiger and would like to switch to YetiForce. Unfortunately, I have not found any useful information on how to migrate this the easiest way. Is there an official way?

[2020-04-03 15:08] K-MeLeOn opened #12818 "[Security] - User personal data"
Why are the password/user name of the user tables included in plain text?

I doubt that personal data is kept safe in case of theft.

[2020-04-03 15:44] bpabiszczak commented on #12817
We can do it as a paid service.

[2020-04-03 15:45] bpabiszczak commented on #12818
password? Show your table with test data.

[2020-04-03 16:10] K-MeLeOn commented on #12818
Thanks for your response.

Sure:
<img width="452" alt="Capture d’écran 2020-04-03 à 18 05 02" src="https://user-images.githubusercontent.com/47109782/78381894-4c31ba80-75d6-11ea-9238-7efb3bd15bb2.png">
<img width="452" alt="Capture d’écran 2020-04-03 à 18 06 25" src="https://user-images.githubusercontent.com/47109782/78381902-4e941480-75d6-11ea-96ed-2f131795fead.png">

[2020-04-03 18:32] apcloic commented on #12752
Hi @rtorrescodes

YetiforcePDF supports width and height as params.

Example : $(record : your_image_field|512px|512px)$

You may also find useful informations on the following link :
https://github.com/YetiForceCompany/YetiForcePDF

Regards,

[2020-04-03 19:53] z0lo13 commented on #12290
@mariuszkrzaczkowski please add [ and ] as well it throws an error on mine

our MailId are in folowing format <31238641246123694124[sssq@192.168.2.1].

[2020-04-03 22:51] rtorrescodes commented on #12752
I really really thank you a lot, this will help me too much to create amazing template. Thanks again.

[2020-04-03 22:51] #12752 closed, assigned to nobody

[2020-04-04 10:49] vovpff commented on #12760
Any solution for this?

[2020-04-04 10:49] vovpff commented on #12740
Any solution?

[2020-04-04 10:49] vovpff commented on #12737
@lpolitowski for me no

[2020-04-04 14:21] diderich opened #12820 "[bug] Order of elements on summary_blocks is not correcly considered"
# 🐞 bug report

### ⁉️ Describe the bug

I created a number of elements to be shown in the summary block of a module, e.g. Opportunities (SSalesProcess). I ordered the elements by filename and assigned the respective sequence number as shown in the following figure:
![order](https://user-images.githubusercontent.com/10230144/78453101-ea358b80-768f-11ea-9934-f7a493fd2db0.png)

When displaying the s

[2020-04-04 14:23] diderich commented on #12820
Here are the individual files for the SSalesProcess module:
[summary_blocks.tar.gz](https://github.com/YetiForceCompany/YetiForceCRM/files/4431619/summary_blocks.tar.gz)

[2020-04-04 14:35] diderich commented on #12820
This is what the $summaryBlock variable looks like in modules/Vtiger/models/Record.php:
![summaryBlock](https://user-images.githubusercontent.com/10230144/78453469-2d90f980-7692-11ea-952a-b0ae35d6aeba.png)

It seems that there is an issue in the field sorting mechanism.

[2020-04-04 14:47] diderich commented on #12820
Here is a quick and dirty solution (that seems to work):
![solution](https://user-images.githubusercontent.com/10230144/78453747-03403b80-7694-11ea-9c0e-1e2b6e8d52b7.png)

[2020-04-04 16:04] diderich commented on #12718
It seems that this data is stored in the table "vtiger_fieldmodulerel", but only for fields of uitype 10. I am unable to find where the relationship is stored for the fields of uitype 66, 67 and 68 in the OSSTimeControl module (see figure). Any idea where to look?

[2020-04-05 10:15] nick-traeger commented on #12817
Okay, what would it cost? And what are the requirements for this?

[2020-04-05 16:35] z0lo13 opened #12821 "[bug] Record variables are stripped if placed in div inline styles, for dynamic Email design."
# 🐞 bug report

### ⁉️ Describe the bug

In case every customer has assigned colour, (Depending on type of clients and his preferences).
In leaddetails table we have a column named "colour" if i want to use that variable i was using
`$(record : colour)$`
to parse the colour name and create an element
`<table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:c

[2020-04-05 19:35] dn1353 opened #12823 "Add Jalali Date into Core"
Hi Dear Developers,

Would you please add support Jalali Date (Persian Date) into Yetiforce Core?
in other words, when we set Language in Persian(Farsi) in Yetiforce, the system automatically sets the Jalali date as a base calendar system.
I know that Yetiforce uses https://fullcalendar.io as a calendar system.
For better understanding please go below link and set locales-->fa then you can see the

[2020-04-05 20:01] vovpff commented on #12817
Selfmade migration like nightmare. If you can charge for this - do it. But in any case check carefull current version for your requirements.

[2020-04-05 20:17] vovpff commented on #12760
@z0lo13 do you have any solution for this issue?

[2020-04-05 21:41] vdpawel opened #12824 "[bug] Disappearing profile photo after some time"
### ⁉️ Describe the bug
After selecting a new profile photo in the profiles of different users or yours, the photo disappears the next day.
Where can I look for a solution?

### 🔥 How to trigger the error
Set profile picture and wait ...

### 👎 Actual Behavior
![obraz](https://user-images.githubusercontent.com/62466142/78510258-47b30080-7794-11ea-9c64-fe10bea4bd16.png)
![obraz](https://user-images

[2020-04-06 06:45] areksolek commented on #11956
Could I have a gif, please? Which will present the  problem.

[2020-04-06 06:54] #12824 closed, assigned to rskrzypczak

[2020-04-06 08:43] vencatoitc commented on #12783
Hi all,

Same error here... Plus from the inspector we have: "GET https://[...]/public_html/modules/OSSMail/roundcube/ 500 (Internal Server Error)" and yet nothing on Apache error log.
The Roundcube portion is unusable.

[2020-04-06 08:44] areksolek commented on #10518
From the level of filters, these fields are divided into two parts. If you want to have an hour, you must select an additional field.
![image](https://user-images.githubusercontent.com/25615135/78539742-567cd000-77f3-11ea-9d1f-24198e3454da.png)

[2020-04-06 08:44] #10518 closed

[2020-04-06 08:45] blu-IT commented on #12809
OK, sorry. Here are some screenshots:

1. I look at the ticktet in the system and it tells me that there is no SLA for this organization:

![1](https://user-images.githubusercontent.com/13665806/78539038-3862a000-77f2-11ea-996e-0c65ac0abe15.png)

2. I switch to the organization details looking for their service contract

![2](https://user-images.githubusercontent.com/13665806/78539166-68aa3e80-77f

[2020-04-06 08:59] KatarzynaUlichnowska commented on #12783
Please add this in a separate issue.
New problem = new ticket.

[2020-04-06 09:11] epsilonsc commented on #12809
Hi, @blu-IT You must add an SLA for each contractor.
You can use the templates created in the module https://gitdeveloper.yetiforce.com/index.php?module=SlaPolicy&parent=Settings&view=List&block=6&fieldid=119
and then add  a contract for each contractor
https://gitdeveloper.yetiforce.com/index.php?module=ServiceContracts&view=List&mid=65&parent=63

[2020-04-06 09:31] vencatoitc commented on #12783
@KatarzynaUlichnowska sorry I was thinking it was related. I'll follow the issue just in case it'll resolve mine. Thanks.

[2020-04-06 11:14] vencatoitc commented on #12783
@bpabiszczak it seems like that in "public_html/modules/OSSMail/roundcube/index.php" the $OUTPUT->send() is called twice on lines 248 and 316; after the latter it flows directly into rcmail::raise_error() (at the EOF) causing the duplicate login form and the error message.

[2020-04-06 12:28] apcloic commented on #10518
@areksolek Yes, I'm aware of this workaround which was already suggested by @acsinsurancegroup  but...this is just a workaround.
Start date **& Time** means Date **& Time**, not only date.
So IMO, the issue still exists and you should not be closed.

[2020-04-06 12:45] #12820 closed, assigned to nobody

[2020-04-06 14:07] vdpawel opened #12826 "[Question] Filter in the invoice module showing the number of documents related to the record"
**Is it possible to set an invoice display filter to show me if a document is attached to the invoice?**
Is it possible to create an item in the filter informing about the number of related documents?

I would like to get information that at least one document is added to a given record.
Unfortunately, the documents module is not displayed as a related module in filters, but it is actually linked

[2020-04-06 15:30] vdpawel opened #12828 "[Question] Is it possible for PDF documents to open in a browser window / tab instead of being saved to a file?"
Is it possible for PDF documents to open in a browser window / tab instead of being saved to a file?
This would make it easier to preview the PDF before saving or sending by email.

[2020-04-06 15:51] diderich opened #12829 "[Feature] Allow for input prior to generating PDF"
## 🚀 feature request

### Describe the solution you'd like

The PDF functionality allows for designing highly customized reports which is great.

I have designed reports to list all time tracker entries associated with a given user. I would like to be able to produce these reports for a specific month and/or a specific year, or even better between two dates that the user can enter.

it would be gr

[2020-04-06 16:04] diderich opened #12830 "[bug] Update Service Pack v4 not correctly registered"
# 🐞 bug report

### ⁉️ Describe the bug

I applied to most recent service pack, v4. The application succeeded, but at the end the screen shows that I applied v3 twice and required me to apply v4 again.

![update](https://user-images.githubusercontent.com/10230144/78579300-03297280-7831-11ea-80c6-c5966ec98647.png)

### 🔥 How to trigger the error

Steps to reproduce the behavior:
1. Go to '...'
2. C

[2020-04-06 21:21] Giorgos-Hellene commented on #12826
i dont understand you. Could you explain it better with printscreen ?

[2020-04-07 02:48] JasonChau1227 opened #12833 "[Feature] To have public Account and private Contact"
## 🚀 feature request

### Describe the solution you'd like

To have Account set to public but Contact set to private. I know that it has a private field at Contact now but it makes the record only can be reached by the owner

### Is your feature request related to a problem? Please describe.
I want to have public Account and private Contact(Can see by higher role or special access) but it is not s

[2020-04-07 05:20] rskrzypczak commented on #12826
At the moment, this is not possible.
This functionality requires crowdfunding.

[2020-04-07 05:29] rskrzypczak commented on #12830
Everything should be fine now, thx.

[2020-04-07 05:29] #12830 closed, assigned to rskrzypczak

[2020-04-07 05:47] mariuszkrzaczkowski commented on #12828
Comment out this line

https://github.com/YetiForceCompany/YetiForceCRM/blob/a8f0661b6e21aee5bff980d4daee571a82ff4e14/app/Pdf/YetiForcePDF.php#L545

[2020-04-07 05:54] vdpawel commented on #12828
Thank you very much for help!
[PL] Bardzo, bardzo, bardzo dziękuję za pomoc :)

[2020-04-07 05:58] #12828 closed, assigned to mariuszkrzaczkowski

[2020-04-07 06:15] rskrzypczak commented on #12775
install [service pack v4](https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/5.3.0)

[2020-04-07 06:15] #12775 closed, assigned to konadrian, rskrzypczak

[2020-04-07 06:56] swsin84 opened #12839 "[Feature] Relations for Advanced Modules Inventory Lines"
## 🚀 feature request

### Describe the solution you'd like

Hello, I like to list related advanced modules that contain parent entities in inventory lines from parent module.

Example: list from product module every invoice that contain specific product..

https://github.com/YetiForceCompany/YetiForceCRM/issues/9967#issue-422692150

this has been discussed before but not been implemented yet so i

[2020-04-07 08:12] Giorgos-Hellene commented on #12826
try it with a senario if you want.
I remember that invoices doesn't have document. The documents are on module Payments in.
take a look to see if it suits you

[2020-04-07 08:49] vdpawel commented on #12826
@Giorgos-Hellene Thank you for your help, I tried to do it with triggers so that the field would update when I added a related document, but without success.
My guess is that I need a mechanism that would update the value of the variable, e.g. in the invoice module, so, after creating a relation to the document, the variable will be incremented or decremented when the document is deleted.

[2020-04-07 12:14] vencatoitc commented on #12783
We just perform a fresh install of the CRM, updated to SP4 and installed the Roundcube library.
We confirm the "double login form" issue; from "errors" file we get twice the same error (which is triggered at the end of the script):

[code]

How we can debug more?

[2020-04-07 12:19] vovpff commented on #12839
@swsin84 I has implemented this functionality by yourself
![image](https://user-images.githubusercontent.com/8545791/78668320-27de2280-78e3-11ea-967b-9f3706770e76.png)
This is buggy but works. Not for production.

[2020-04-07 13:05] waran70 opened #12840 "[Question] 5.2 > 5.3 - reservations failed"
Upgraded 52 to 53 but Reservations module stays as it was before. It will be enough to overwrite files, or database changes has been made?

[2020-04-07 13:43] apcloic opened #12841 "[Question] Is it possible to override a workflow task ?"
Hi,

I'm playing with SMSNotifier module and try to understand why the new feature 'sending SMS to related records' is not working as expected.
#12812

As described [here](https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/loader-and-autoloader-of-files), I would like to use loader in order to use a custom workflow.

I have enabled the loading of custom files in /co

[2020-04-07 14:37] apcloic commented on #12812
AFAIU, there is an issue with this feature.
The text message is related to wrong module, so the recipients list is incorrect.

For example, if you send a text message to related contacts of an account.
Then go to SMSNotifier list and open your message, the text message will be related to the account and not to the related contacts (of the account).

Recipients are the related contacts, not the acc

[2020-04-07 20:45] swsin84 opened #12843 "[Feature] Implement sequence"
## 🚀 feature request

### Describe the solution you'd like

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe alternatives you've considered

### Additional context

[2020-04-07 20:52] elvissaba opened #12844 "[bug] Can not translate custom module fields"
# 🐞 bug report

### ⁉️ Describe the bug
I have made custom module. Fields from custom module (except autogenerated field) can not be translated.

### 🔥 How to trigger the error
Make custom module and try to translate.

### 👎 Actual Behavior
Not working

### 👍 Expected Behavior
Functional translation for custom module

### 👷 Testing

- [ x] I confirm that I tested it at https://gitstable.yetiforce.

[2020-04-07 23:46] waran70 commented on #12840
Subsequent update fixed Reservation update BUT got issue, which make me scratching my bold head.
Adding new record to Reservation hanging with error:

2020-04-08 05:59:43.2274 [error] - SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '2385' for key 'PRIMARY'
The SQL being executed was: INSERT INTO `u_yf_crmentity_label` (`crmid`, `label`) VALUES (2385, 'TEST RESERVATION RECOR

[2020-04-08 05:18] mariuszkrzaczkowski commented on #12840
attach full logs

[2020-04-08 05:32] rskrzypczak commented on #12841
In com_vtiger_workflow_tasktypes we have:
![image](https://user-images.githubusercontent.com/10221999/78747318-6cac9c80-7969-11ea-8562-b01c7e6b9b83.png)

[2020-04-08 07:25] elvissaba commented on #12735
I updated manualy.

[2020-04-08 07:25] #12735 closed, assigned to nobody

[2020-04-08 08:10] paula-w commented on #12817
@nick-traeger
We’re going to need to know what modules you want to migrate, how much data is in each of them, and how many printouts you have. On the basis of this information we will be able to estimate the cost, it’s usually around 500€ net.
If you are interested, please send us an email to help@yetiforce.com and we will discuss the details. Thanks!

[2020-04-08 08:27] blu-IT commented on #12735
@elvissaba

Hi, what does that mean? Is it like a "normal" full installation?

Thanks!

[2020-04-08 08:57] #12817 closed, assigned to bpabiszczak

[2020-04-08 11:40] vovpff opened #12846 "[bug] Activity status buttons unavailable"
# 🐞 bug report

### ⁉️ Describe the bug

I has checked what my user can change activity status from right-side Calendar menu and Modal from Calendar Widget

![image](https://user-images.githubusercontent.com/8545791/78774998-33425400-799e-11ea-922d-34c6fba671e4.png)

Orther user with different role and profile can't do this. Buttons not available.

![image](https://user-images.githubusercontent.co

[2020-04-08 12:26] #12841 closed, assigned to nobody

[2020-04-08 13:38] vovpff commented on #12844
@elvissaba click blue `Add translation` button!

[2020-04-08 13:41] areksolek commented on #12844
If you want to translate custom fields, you must add them manually.
![proba](https://user-images.githubusercontent.com/25615135/78790792-4f9abc80-79af-11ea-9c0b-e98690cf467a.gif)

[2020-04-08 13:50] #12844 closed, assigned to bpabiszczak

[2020-04-08 14:19] vovpff commented on #12740
@mariuszkrzaczkowski @areksolek
Thanks for solution. I has checked gitdev and found what now mentions rendered proper but if link clicked appears system window inside comment (looks like iframe)
![mentions](https://user-images.githubusercontent.com/8545791/78794691-bffc0a80-79bc-11ea-8693-671d6d3751f0.gif)

[2020-04-08 14:23] #12846 closed, assigned to nobody

[2020-04-08 14:51] apcloic commented on #12812
Hi,
It's working now after modifying /modules/SMSNotifier/workflow/VTSMSTask.php

Finally, it looks like the problem is related to the following part at the end of the file :
`if ($toNumbers) {
SMSNotifier_Record_Model::sendSMS($content, $toNumbers, [$recordModel->getId()], $recordModel->getModuleName());
}`

**[$recordModel->getId()]** should be replaced with **$relatedRecordIds** where $relatedR

[2020-04-08 15:08] elvissaba commented on #12844
Nice Workarround. Thnx.

[2020-04-08 16:23] mdtuyen opened #12847 "[Feature] Send file and video call via chat"
File transfer during chats is very important. Do you plan to integrate it into the next version?

As you know the current situation of online meetings is very important, video or voice chat is a good choice

[2020-04-08 18:58] bpabiszczak commented on #12847
https://jitsi.org/

[2020-04-08 21:25] blu-IT commented on #12809
@epsilonsc

Hi,

OK I have configured SLA now and created & assigned a service contract to the customer, but the warning still appears with a new ticket:

![Screenshot_2020-04-08 SlaPolicy System settings](https://user-images.githubusercontent.com/13665806/78835126-eedfa400-79ef-11ea-8c1e-21cabb71f974.png)

![Screenshot_2020-04-07 Service Contracts List](https://user-images.githubusercontent.com/1

[2020-04-09 04:43] #12843 closed, assigned to nobody

[2020-04-09 05:35] mariuszkrzaczkowski commented on #12809
The ServiceContracts must be of status "In Progress"
This can be turned off in config/Modules/HelpDesk.php CHECK_SERVICE_CONTRACTS_EXISTS =  false

[2020-04-09 05:37] mariuszkrzaczkowski commented on #12812
Send in pull request or by e-mail we plan to rewrite send SMS messages

[2020-04-09 06:46] #12809 closed, assigned to bpabiszczak

[2020-04-09 08:15] apcloic commented on #12812
@mariuszkrzaczkowski
Thanks, I've sent you my code by email.
Regards

[2020-04-09 08:52] blu-IT commented on #12809
@mariuszkrzaczkowski

Sorry for that, but when trying to change status I can't select anything:

![Screenshot_2020-04-09 Service Contracts Standard](https://user-images.githubusercontent.com/13665806/78876572-d30bea80-7a4f-11ea-8c14-b05ae34defc0.png)

And what is also strange: A older ticket (Test 5) does not show the SLA warning...

![Screenshot_2020-04-07 Tickets Test 5](https://user-images.gith

[2020-04-09 11:46] vdpawel opened #12849 "[Feature] [PL] Kolorowanie pól słownikowych wielokrotnego wyboru"
## 🚀 feature request

### Describe the solution you'd like
Zauważyłem, że kolorowanie pól słownikowych bardzo ułatwia znalezienie szukanych pozycji.
Zgłaszam to jako propozycję, żeby pola słownikowe wielokrotnego wyboru, również były kolorowane.

Poniżej przesyłam zrzut ekranu z przykładem w którym widać pokolorowane pola pól słownikowych jednokrotnego wyboru oraz brak funkcjonalności kolorowania

[2020-04-09 19:42] kantino169 opened #12852 "Email OSS problem"
Whenever I try to access my mailbox to configure it, I get this an access denied screen.
Also this is what my logs tell
[Thu Apr 09 10:11:36.927359 2020] [php7:notice] [pid 29495] [client 192.168.121.243:47042] PHP Notice:  Undefined variable: typeDb in /var/www/html/app/Db.php on line 174
[Thu Apr 09 10:11:36.927706 2020] [php7:notice] [pid 29495] [client 192.168.121.243:47042] PHP Notice:  Undef

[2020-04-10 02:24] waran70 commented on #12840
False alarm. It happen that workflow gets unusable after migration and that crippled module.
Recreated WF and things goes as usual.

[2020-04-10 02:24] #12840 closed, assigned to nobody

[2020-04-10 02:31] waran70 commented on #12847
in fact if that wont stab me a lot I will order such integration > #12709
I guess embedding not really possible, but some sort of connector creating conference + setting pass +  calendar entry with invitations - will be sweet. Looks like reservation would play vital role in such thing. Design, release for sell. Working solution for 100 euro in YF market would be reasonable.

[2020-04-10 03:33] jlumley99 opened #12854 "[Question] How to change site address path"
Hello, all.

I searched via Google and Github to find an answer to a basic question but couldn't find it ... also checked within YetiForce but had no luck.

I installed using cPanel's installer. I installed it to https://mysite.com/yeti/ and specified /yeti as the install path ... well, doing that means that all of my addresses show as:

https://mysite.com//yeti
(see the double slash there)

I wou

[2020-04-10 06:34] vovpff commented on #12854
@jlumley99 config/Main.php
Try to play with system url.

[2020-04-10 06:46] MixTecnico opened #12855 "how to show the progress bar?"
Should I enable any function for the progress bar?

![gitstable](https://user-images.githubusercontent.com/29989839/78969318-0ba5d580-7add-11ea-9ead-68b60b04e50e.png)

my yetiforce, it looks like this, version 5.3

![yeti](https://user-images.githubusercontent.com/29989839/78969601-aef6ea80-7add-11ea-8fcd-a8fa782525c5.png)

gitstable and gitdevelompent are shown, but not my installation

[2020-04-10 07:02] vovpff commented on #12855
You can go to edit fields and apply "show  preview in header" for picklists fields (eg. status) . There are should be 2 variants available value and progress var. Choose second.

[2020-04-10 07:03] mariuszkrzaczkowski commented on #12855
https://gitdeveloper.yetiforce.com/index.php?module=LayoutEditor&parent=Settings&view=Index&sourceModule=HelpDesk
![image](https://user-images.githubusercontent.com/10198654/78970668-217dbf80-7b0a-11ea-9e92-da622f4722bd.png)

[2020-04-10 07:03] #12855 closed, assigned to mariuszkrzaczkowski

[2020-04-10 07:08] MixTecnico commented on #12855
gracias...

[2020-04-10 07:55] areksolek commented on #12852
Hello kantino169. What is your version of CRM ?

[2020-04-10 09:58] jlumley99 commented on #12854
AWESOME! Thank you! That was it!

[2020-04-10 09:58] #12854 closed, assigned to nobody

[2020-04-10 11:33] adudekyeti commented on #11555
Hi @vovpff
Could you tell me more informations about relation which you use?
Did you add getRelatedList (Many to many) relation from "Products" to "GRN" or maybe another?

**On version 5.3.31 is working fine:**
GRN:
![image](https://user-images.githubusercontent.com/39482453/78988722-09ba3180-7b32-11ea-932b-f18fe25d6758.png)

GDN:
![image](https://user-images.githubusercontent.com/39482453/7898871

[2020-04-10 11:49] diderich opened #12860 "[Feature] Rounded photos of contacts"
## 🚀 feature request

### Describe the solution you'd like

The photo of the contact display in the header would look nicer if it were round, rather than rectangular. I would recommend adding the following style function in Main.css:

[code]

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [..

[2020-04-10 11:50] #11555 closed

[2020-04-10 13:03] diderich opened #12862 "[Feature] Use URL when location is URL"
## 🚀 feature request

### Describe the solution you'd like

Currently the system generates a link to Google map for the location of an activity.

In the current home-office world, the location of an activity is often a link (e.g. a link to a zoom.us meeting or webex or ...). It would be great if Yetiforce could, if the location of an activity is a link (if it contains, for example http:// or https

[2020-04-10 14:14] bpabiszczak commented on #12717
https://github.com/YetiForceCompany/YetiForceCRM/pull/12864

[2020-04-10 14:14] #12717 closed, assigned to adudekyeti

[2020-04-10 15:35] CesareD opened #12866 "POST relation ServiceContracts and Assets"
using the follwing RestAPI endpoint I'm able to GET all the related Assets to a ServiceContract with recordId=Cx
{{baseUrl}}/webservice/ServiceContracts/RecordRelatedList/Cx/Assets

What is the RestAPI endpoint for (POSTing) or adding a relation between a ServiceContractId=Cx and an existing asset with recordId=Ay ?

Is there a way  to modify(PUT), Add(POST) or delete(DELETE) Assets related do a S

[2020-04-10 16:09] z0lo13 opened #12867 "[bug] ProductsTableNew wrong parsing the subtotal column"
# 🐞 bug report

### ⁉️ Describe the bug

When unit price is $ 1000 the parser outputs $ 1

### 🔥 How to trigger the error

Steps to reproduce the behavior:
1. Go to PDF Setting
2. Create template with ProductsTableNew
3. Generate PDF
4. See error
[1586534207.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/4462329/1586534207.pdf)

### 👎 Actual Behavior

$ 1
### 👍 Expected Behavior

$ 10

[2020-04-10 17:20] z0lo13 commented on #12760
@vovpff no quick fix...
 as now its using iframe element to display value its parsed correct when opened in iframe.....

[2020-04-10 17:25] z0lo13 commented on #12760
@vovpff

in
https://github.com/YetiForceCompany/YetiForceCRM/blob/42430532d77c0caaf8e32a0390ae26e345411078/app/Layout.php

change

`$teaser = TextParser::textTruncate(trim(strip_tags($html)), $length);`
to
`$teaser = $html;`

[2020-04-10 18:34] rvyhmeister commented on #12852
Version is 5.3.0. Just installed this week...

[2020-04-10 18:47] vovpff commented on #12760
@z0lo13 thx, I will try it tomorrow

[2020-04-10 19:29] ozinfotech commented on #12668
Got it resolved. Thanks!

[2020-04-10 20:15] mariuszkrzaczkowski commented on #12668
give details of the solution to your problem

[2020-04-10 20:23] ozinfotech commented on #12668
I did nothing as I was out of work for a couple weeks, but when I went to install today it went fine.
I could tell it was going to be different when the page asking for the name of the company had a couple other fields it didn't have before. I wish I could say I did something on my end to make it work, but it appears that waiting for whatever reason did the trick.

[2020-04-10 21:33] rvyhmeister commented on #12852
Version 5.3.0... installed clean this week....

[2020-04-11 06:50] MixTecnico opened #12872 "mapping from one module to another"
To map a field, for example from employees to incidents, do you have to do something specific, or should it work when configuring mapping?

[2020-04-11 08:29] vovpff commented on #12872
Pls give mode ritailed description of your task

[2020-04-11 08:37] MixTecnico commented on #12135
it is a question to know if it is possible

[2020-04-11 08:38] MixTecnico commented on #12872
it is a question to know if it is possible

[2020-04-11 09:34] diderich opened #12873 "[Feature] Copy filters"
## 🚀 feature request

### Describe the solution you'd like

Add a functionality "(+) Copy Filter" in 'Filters - Configuration' and 'Filters List' that makes a copy of an existing filter.

This would be useful to create multiple filters that display identical fields but differ in the selection conditions and/or availability.

### Is your feature request related to a problem? Please describe.
The pr

[2020-04-11 10:02] vovpff commented on #12872
I don't undersrand what do you want. Looks like you need mapping or data from related module field. If you give detailed description chances to get right solution.

[2020-04-11 10:23] apcloic opened #12874 "[Question] How could we help building Wiki/documentation ?"
Hi All,
First, I would like to say how thankful I am to YF Team.
IMO, Yetiforce is the best Open Source CRM I've ever seen, so powerful and so impressive with tons of new features on each version.
I would be more than happy to become a backer and support the project by giving money but unfortunately, I can't because my startup do not earn any money for now.
However, by then I can give time.
As you

[2020-04-11 11:36] vovpff commented on #12760
@z0lo13 i tried your mod. This works but affects to all HTML fields in system what has show full text button eg. in ListView. :( this is bad...

[2020-04-11 14:15] diderich commented on #12874
Good idea! In addition having a repository where users could offer reports that they have customized and summary block code would be great.

[2020-04-11 15:37] zazy opened #12875 "[Question] How sold service renewal is supposed to work?"
I'm not able to understand how renew of renewable service is supposed to work. I create a service and set it as **Renewable**. Then I create a _Sold service_ instance for a client. Now suppose the service should be renewed. How to do it? The **Renew** field in the _Sold services_ record is always disabled and I'm not able to change it's value so I can't assign a renewal status to the instance. Any

[2020-04-11 18:43] MixTecnico commented on #12872
example I have a field in the incidence module, and I would like to update these fields when creating an employee ... or vice versa

I tried with field mapping but nothing happens ...

[2020-04-11 20:24] vovpff commented on #12872
In case automatic update you need to use workflows (update relatred record) from admin panel and selfwritten handlers.

[2020-04-12 15:23] fireon89 opened #12877 "Unable to install , plugin not found:mysqlnd"
Hey,

I am a core hardware person trying to install this CRM software and was unable to complete is it showed an error: "Required PHP extension not found: mysqlnd "

I have zero experience in scripts and coding. It will be of great help if anyone can help me to fix this.

[2020-04-12 15:41] mariuszkrzaczkowski commented on #12877
![Uploading github.jpg…]()

[2020-04-12 15:41] #12877 closed, assigned to nobody

[2020-04-12 16:18] kantino169 commented on #12852
Hi, recently I discovered that the roundcube library is missing
<img width="1376" alt="Screen Shot 2020-04-12 at 7 11 57 PM" src="https://user-images.githubusercontent.com/30265449/79073874-a119b300-7cf1-11ea-9c9d-05ce4ae9abcc.png">
I don't know if this can be the cause of the problem but also whenever I try to update the library, it tells me again that it has not been downloaded, I download it an

[2020-04-12 16:24] fireon89 commented on #12877
Hello Mr. mariuszkrzaczkowski,
Somehow the description explaining the issue went missing on the previous post. I have made it available now and mentioning that here onceagain :

I am a core hardware person trying to install this CRM software and was unable to complete is it showed an error: "Required PHP extension not found: mysqlnd "

I have zero experience in scripts and coding. It will be of gr

[2020-04-12 18:59] mariuszkrzaczkowski commented on #12877
https://www.google.com/search?q=install+php+mysqlnd

[2020-04-12 19:02] mariuszkrzaczkowski commented on #12852
attach all logs

[2020-04-13 01:21] MixTecnico opened #12879 "I have no option to edit in module!"
![incidencias](https://user-images.githubusercontent.com/29989839/79084710-89e7bf00-7d0b-11ea-874b-158d14014c1b.png)

good I can not solve this to see if they can help me I do not know what to touch but I do not have access to the edition of the module, I already verified permissions roles and others all correctly assigned to the admin user that I use but still without access to being able to edit

[2020-04-13 01:33] #12879 closed, assigned to nobody

[2020-04-13 01:34] MixTecnico commented on #12879
SOLVED....

workflow problems

[2020-04-13 14:29] z0lo13 commented on #12760
@vovpff seems like there is no separate class for html comments fields...

[2020-04-13 15:19] MixTecnico opened #12880 "create mail from incidents button does not work?"
![mail_link](https://user-images.githubusercontent.com/29989839/79132392-9f4b0080-7d80-11ea-829a-e1119942dade.png)

the icon to send mail from incident does not work, there is a way to enable it to be able to load a template and to load the correct data of the incident!

version yeti 5.3

[2020-04-13 16:20] vovpff commented on #12760
@z0lo13 yes and this is fail

[2020-04-13 18:09] apcloic commented on #12873
@diderich
Hi, this feature is already available in YF.
However, I don't remember if it required to be activated in config file.
Regards

[2020-04-14 00:03] namaneko opened #12881 "[bug] syntax error, unexpected ''=>1586540401];' (T_ENCAPSED_AND_WHITESPACE)"
### ⁉️ Describe the bug
Hello. I did a search and saw that someone else encountered the same error.

I have fresh installation of YetiForce, maybe only two days old. I have added one record to it. I noticed that the map module wasn't working so I clicked the gear/settings icon at the top right corner and it took me to the settings page but in the right frame, it gives me this error:

syntax error,

[2020-04-14 01:36] lucnham opened #12882 "Project Gantt chart not show Milestones and Tasks"
Hello,
I'm a PHP developer, I spent a lot of time learning about the Yetiforce - A great CRM system.
I am having trouble with the Project module. Milestones and Tasks of Projects not show although I have tried configuration in many ways. I'm not sure if I am missing something. Can anyone give me advice.
Thanks,
![gantt chart](https://user-images.githubusercontent.com/45326848/79176456-77b07280-7e2

[2020-04-14 01:49] lucnham commented on #12881
In my experience, after updating some cron records there will be a wrong syntax. You can try deleting the app_data/cron.php file. Don't worry you will lose it, this file will automatically be created on the next Cron job.

[2020-04-14 03:38] waran70 commented on #12760
ugrr this is really bad, crippled me lot of dev hours
![oh](https://user-images.githubusercontent.com/6852348/79183596-14c7d700-7e3c-11ea-961c-4642f75fe13c.gif)

[2020-04-14 04:27] MixTecnico commented on #12881
asi soluciono mucho de mis errores!

[2020-04-14 04:27] MixTecnico commented on #12881
asi soluciono mucho de mis errores!

[2020-04-14 05:11] rskrzypczak commented on #12873
![image](https://user-images.githubusercontent.com/10221999/79188358-1931c700-7e1f-11ea-80f0-3a2b495db5c6.png)

[2020-04-14 05:11] #12873 closed, assigned to nobody

[2020-04-14 05:15] #12881 closed, assigned to nobody

[2020-04-14 05:39] rskrzypczak commented on #12880
Yes.
![image](https://user-images.githubusercontent.com/10221999/79189760-e2f64680-7e22-11ea-812c-9f9259435fcc.png)
and [Email templates](https://gitdeveloper.yetiforce.com/index.php?module=EmailTemplates&view=List&mid=146&parent=76)

[2020-04-14 05:40] vovpff commented on #12760
@waran70 do you have solution?

[2020-04-14 06:03] rskrzypczak commented on #12852
show me what you get when you ask the database `SHOW VARIABLES LIKE "version%"`

[2020-04-14 06:51] guide5232 opened #12889 "Need to perform SLA Actions or Tasks on Tickets"
We are able to create SLA on ticket. But we are not able to perform any action or task before and after SLA violation of tickets. We have to perform an action against to SLA violation of the ticket.

![Yetisla](https://user-images.githubusercontent.com/47585969/79186086-4ccc1b80-7e36-11ea-8e3d-3bc9c5c0a176.PNG)

I need to send an email alert before SLA violation (Email alert) and escalate all tick

[2020-04-14 07:52] MixTecnico commented on #12880
it is activated it still does not work

[2020-04-14 08:03] rskrzypczak commented on #12880
Have you downloaded the roundcube library?
check: Software configuration/Standard modules/Modules – Installation

[2020-04-14 08:09] MixTecnico commented on #12880
Yes of course

where could I solve it, any ideas

[2020-04-14 09:03] adudekyeti commented on #12882
Hi,
Could you reproduce this bug on [gitstable](https://gitstable.yetiforce.com/) or [gitdeveloper](https://gitdeveloper.yetiforce.com/)?
I try to figure it out, but in my opinion everything is working fine:

![image](https://user-images.githubusercontent.com/39482453/79206209-4bebb780-7e3f-11ea-8510-adcfa468449e.png)

[2020-04-14 09:03] #12882 closed, assigned to bpabiszczak, adudekyeti

[2020-04-14 09:14] #12779 closed, assigned to bpabiszczak

[2020-04-14 09:24] lucnham commented on #12882
I tried recreating it on [gitdevelop ](https://gitdeveloper.yetiforce.com/index.php?module=Project&view=Detail&record=4146&mode=showGantt&tab_label=Gantt) and it worked fine. I have not been able to determine what is causing the problem in my site.
Basically, my site is installed auto from Softaculous since version 5.2.0 with Gantt chart has the same problem. I have upgraded to the latest version

[2020-04-14 09:25] lucnham commented on #12882
I tried recreating it on [gitdevelop ](https://gitdeveloper.yetiforce.com/index.php?module=Project&view=Detail&record=4146&mode=showGantt&tab_label=Gantt)and it worked fine. I have not been able to determine what is causing the problem in my site.
Basically, my site is installed auto from Softaculous since version 5.2.0 with Gantt chart has the same problem. I have upgraded to the latest version o

[2020-04-14 10:14] #12867 closed, assigned to bpabiszczak, adudekyeti

[2020-04-14 10:15] #12803 closed, assigned to nobody

[2020-04-14 10:47] bpabiszczak commented on #12874
Documentation:
1. At the moment, we aren't planning to use wiki/GitHub, it would require commitment and numerous changes and we don't have time for that.
2. Unfortunately, creating documentation is complicated, nearly every place in the system requires either consultation with a developer or verification of how something works. Recently, when I was analyzing the user module, I handed over 10 field

[2020-04-14 11:29] #12849 closed, assigned to bpabiszczak, adudekyeti

[2020-04-14 12:15] vovpff commented on #12740
@mariuszkrzaczkowski any updates?

[2020-04-14 14:05] namaneko commented on #12881
That did not resolve the issue.

[2020-04-14 14:35] apcloic commented on #12874
@bpabiszczak
Thanks.
Regarding point 2, I still think that community contributions to YF documentation could be useful, more as an addition, something complementary with the official one but I understand you when you write that we are not engaged enough.
For the recommendation, sorry to say but except Capterra I don't think that those sites are really popular in France.
Maybe a good and detailed r

[2020-04-14 15:10] kantino169 commented on #12852
This is what I get
<img width="366" alt="Screen Shot 2020-04-14 at 6 08 17 PM" src="https://user-images.githubusercontent.com/30265449/79241038-2bd9e980-7e7b-11ea-96c0-8ee6b68caeca.png">

[2020-04-14 15:19] vovpff opened #12893 "[bug] Related comments: crmid instead record Label"
# 🐞 bug report

### ⁉️ Describe the bug

Related comments link contains crmid instead Label

![image](https://user-images.githubusercontent.com/8545791/79242126-96d7f000-7e7c-11ea-9dc4-c18ac75d9edf.png)

![image](https://user-images.githubusercontent.com/8545791/79241861-482a5600-7e7c-11ea-975f-3818b5b7e754.png)

### 👷 Testing

- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

[2020-04-14 16:39] namaneko commented on #12881
Appreciate the tip. That did not resolve the issue.

[2020-04-14 19:46] vovpff commented on #12881
@namaneko try php 7.3.

[2020-04-15 07:30] vovpff opened #12894 "[bug] Summary tab Comments widget string position"
# 🐞 bug report

### ⁉️ Describe the bug

New comment string was moved to the bottom of widget. Why? This is not comfortable because page should be scrolled if there is more than 5 comments visible or comments length is too big.

5.2
![image](https://user-images.githubusercontent.com/8545791/79309680-5b343900-7f03-11ea-8745-3701b85e5af7.png)

5.3
![image](https://user-images.githubusercontent.com/8

[2020-04-15 13:28] scherieble opened #12897 "[bug] South Sudan missing"
# 🐞 bug report

### ⁉️ Describe the bug
South Sudan is missing completely in the country selection as well as in the currency selection (South Sudanese Pound, SSP) . The phone prefix (+211) is also not selectable for phone numbers.

- [X] I confirm that I tested it at https://gitstable.yetiforce.com
- [X] I confirm that I tested it at https://gitdeveloper.yetiforce.com

[2020-04-15 13:44] vdpawel opened #12898 "[Feature] [PL] Pole 'Kontynuacja na kolejnej stronie' w dokumentach PDF / 'Continue on next page' field in PDF documents"
## 🚀 feature request

Dodanie funkcjonalności na stronach w edytorze PDF, która umożliwia stawienie napisu "kontynuacja na kolejnej stronie", w sytuacji gdy ilość stron przekracza jedną stronę, a sam napis nie byłby dodawany na ostatniej stronie.

[2020-04-15 13:47] rskrzypczak commented on #12898
example please

[2020-04-15 13:52] vdpawel commented on #12898
![Adnotacja 2020-04-15 155029](https://user-images.githubusercontent.com/62466142/79345050-e5df5d00-7f30-11ea-8538-ee925d8446c7.png)

Czy jest jakaś zmienna, którą informuje o numerze aktualnej strony, którą można wykorzystać w TextParser?

(przepraszam za mało szczegółowy opis, przez przypadek opublikowałem zgłoszenie przed napisaniem całości)

[2020-04-15 13:55] vdpawel commented on #12828
Finally, I modified the indicated line to:
header("content-disposition: inline; filename=\"{$basename}\"");

[2020-04-15 15:57] kantino169 commented on #12852
I tried following this for the installationhttps://github.com/YetiForceCompany/YetiForceCRM/issues/7286#issuecomment-408243674
didn't work

[2020-04-15 17:45] vovpff commented on #11555
@adudekyeti I'm not pro in programming.
I has established next relation:
[code]
Result you can see at firs my message of this issue. For GDN I'm also has relations what looks like this but works well.

[2020-04-16 05:05] rskrzypczak commented on #12898
https://github.com/YetiForceCompany/YetiForceCRM/issues/12110#issuecomment-591267560

Page {p}/{a} or Page $(custom : CurrentPage)$/$(custom : AllPages)$
Są dostępne w polu "Zmienne dodatkowe" przy tworzeniu szablonu PDF.

Jeżeli chciałbyś funkcję warunkującą czy wyświetlić np. komunikat 'Kontynuacja na kolejnej stronie', to nie ma.

[2020-04-16 05:58] kantino169 commented on #12852
I found the following coming up on the apache logs
PHP Warning:  ZipArchive::close(): Invalid or uninitialized Zip object in /var/www/html/app/Zip.php on line 127
The version of php I'm running is 7.4, is this a known problem?

[2020-04-16 06:07] vencatoitc commented on #12783
@bpabiszczak any news or hints?

[2020-04-16 06:13] rskrzypczak commented on #12783
Use auto login :)
![image](https://user-images.githubusercontent.com/10221999/79420844-01427a80-7fba-11ea-903b-50cd4d80ab00.png)

[2020-04-16 06:30] vencatoitc commented on #12783
@rskrzypczak alittle step forward:

[code]

[2020-04-16 06:46] vencatoitc commented on #12783
@rskrzypczak besides the above mentioned error, the roundcube interface come up; I could see all my IMAP folders but no messages in it.
Oddly in the background I see a strange element... so I removed the "div" of the roundcube interface with the inspector and now I can see it (which displays the above mentioned error):

![Screenshot from 2020-04-16 08-45-09](https://user-images.githubusercontent.c

[2020-04-16 10:12] vdpawel commented on #12898
Dziękuję za odpowiedź.
Dlatego moją propozycją na nową funkcjonalność jest dodanie nowego placeholderu, np. {k}, który byłby interpretowany przez generator PDFów i po spełnieniu warunków, zamieniany na napis "Kontynuacja na kolejnej stronie", podobnie jak działa wstawianie numerów stron.

[2020-04-16 10:35] kantino169 commented on #12852
These are the logs I currently have
[cron.log](https://github.com/YetiForceCompany/YetiForceCRM/files/4486466/cron.log)
[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/4486470/system.log)

[2020-04-16 12:53] Anthony2244 commented on #11853
Hi all, first of all thanks for the great product. I'm facing the same issue, I will attach the video explaining what @acoolov was trying to say. Basically, we have a ticket, and we change ticket status to Accepted or To Close, or whatever status we set for ticket to be considered as closed. After that we are asked to input Time Control (if it wasn't already done), question is, Time Control opens

[2020-04-16 14:47] vovpff commented on #12893
@mariuszkrzaczkowski @bpabiszczak any ideas?

[2020-04-16 15:30] bpabiszczak commented on #12898
Pomysłów mam 100 dziennie ;) Na razie wrzucam do zamkniętych, jak będą środki z crowdfundingu to można powrócić do jakiś starych tematów i je zrealizować.

[2020-04-16 15:30] #12898 closed, assigned to bpabiszczak

[2020-04-17 02:50] TomReed123 opened #12902 "Cron job fails"
Setup new installation and cron log reports:
<br />
<b>Parse error</b>:  syntax error, unexpected 'class' (T_CLASS), expecting identifier (T_STRING) or variable (T_VARIABLE) or '{' or '$' in <b>/home1/datacenter/yf.winecountry-bbq.com/cron.php</b> on line <b>91</b><br />

[2020-04-17 05:27] mariuszkrzaczkowski commented on #12902
![github](https://user-images.githubusercontent.com/10198654/79535162-edac1800-807c-11ea-9120-dc37f915bd02.jpg)

[2020-04-17 05:41] #12893 closed, assigned to mariuszkrzaczkowski

[2020-04-17 05:42] rskrzypczak commented on #12902
You probably have the wrong PHP version
you must have at least version 7.2

[2020-04-17 05:50] mariuszkrzaczkowski commented on #12881
you have sent incorrect logs,
show screenshot of configuration and show what's in php error log (just check if you have it turned on)

[2020-04-17 06:37] rskrzypczak commented on #12852
Show us and verify your server configuration (`Software configuration/Logs/Server configuration`)
I suppose there might be errors.

Errors from your first comment result from the MySQL version. YetiForce can't correctly download information about the MySQL server on Ubuntu.
However, this applies only to reporting, so it shouldn't have a greater impact on the operation of the system.
Anyway, please

[2020-04-17 07:26] vovpff opened #12904 "[How to] Save comments as plain text instead HTML?"
My users like to copy-paste data from anywhere to CRM comments (I mean ModComments). If text copied from web page or MS word to comment sometimes I get crazy result after saving record.

How to strip HTML tags of comment data  before saving to database?

[2020-04-17 07:44] vovpff opened #12906 "[bug] ModComments: number of answers and reply buttons"
# 🐞 bug report

### ⁉️ Describe the bug

Comments module functionality became better but now in 5.3 reply and view replies buttons hidden under wrench key button. This is uncomfortable for users because you need ewery time click to wrench to reply or see replies

5.2

![image](https://user-images.githubusercontent.com/8545791/79544689-0fff5f00-8098-11ea-93b5-b77365198176.png)

5.3

![image](https:

[2020-04-17 15:05] TomReed123 commented on #12902
https://yf.winecountry-bbq.com/phpinfo.php = php 7.2.26

[2020-04-17 15:14] TomReed123 commented on #12902
Looking at the php code around line 91, it looks like there is an error in the error code.

[2020-04-17 16:27] Sall2 opened #12914 "[bug] PDF brak funkcji custom : GrossAmountInWords"
Witam,
w wersji: YetiForce CRM 5.3 Service Pack v4 brak funkcji custom : GrossAmountInWords
Nie ma jej do wyboru w zmiennych dodatkowych przy edycji szablonu, a po wpisaniu "z ręki" system wstawia puste miejsce. W wersji YetiForce CRM 5.2 Service Pack v19 wszystko działa bez problemu.
Jak mam wstawić teraz kwotę słownie?
Sprawa dosyć pilna bo brakuje tej informacji teraz na fakturach...

[2020-04-17 16:49] Sall2 commented on #12914
Sprawdziłem, po dokumentach, że problem pojawił się po aktualizacji do 5.3

Brakuje też kilku innych zmiennych np.: daty wystawienia dokumentu

[2020-04-17 16:55] rvyhmeister commented on #12852
Interesting that YetiForce has issues with Ubuntu... is there a better recommended distro?

[2020-04-17 18:15] mariuszkrzaczkowski commented on #12902
check php versions for CLI
no screenshot of configuration verification, I close

[2020-04-17 18:15] #12902 closed, assigned to nobody

[2020-04-17 18:17] mariuszkrzaczkowski commented on #12852
This is not a problem with Ubuntu, we have clients from Ubuntu and they have no problem
We prefer Debian, we will provide a docker soon

[2020-04-17 18:26] vovpff commented on #12852
@rvyhmeister there is no probkems with ubuntu if your server well-tuned

[2020-04-17 20:04] svdaru opened #12915 "[Feature] Restrict access to ModTracker records about creation of related records"
Hello!

For records that users have shared access to, it is possible to  see that other users added Records at Related modules (comments, phone calls, etc.). In case when access to related record is not permited by any rule (hierarchy, group, share, etc.) this history record can be compromising.

The feature is to make it is possible to show ModTracker relation records only about those related rec

[2020-04-17 20:31] simple-AMS commented on #12875
@zazy I would just create your own custom field for the status you need and disable the one that is pre-filled and not changeable. It's a workaround that I have used in several modules throughout the years. Not ideal, but it should get the job done.

[2020-04-17 20:48] simple-AMS commented on #12860
@diderich Hi there. Is the code addition that you recommended what you did personally to achieve the result you inquired about?

[2020-04-17 20:51] simple-AMS commented on #12852
I personanlly prefer CentOS and have NEVER had server related issues with any version of Yeti

[2020-04-18 11:40] federico0100 commented on #12783
news?

[2020-04-18 17:35] cornutaurus opened #12918 "[bug] Can't assign workflow to a Group or multiple users"
# 🐞 bug report

### ⁉️ Describe the bug

I was able to assign work flow to a single user. However I can't assign it to a Group or multiple users.

### 🔥 How to trigger the error

Steps to reproduce the behavior:
1. Group --> Support Group --> Modules: Account --> Group Members Guest yetiforce

![Group](https://user-images.githubusercontent.com/36463465/79644741-866f9000-8170-11ea-9750-18c440ad081d

[2020-04-18 19:03] mariuszkrzaczkowski commented on #12918
attach full logs and a dump of the configuration verification

[2020-04-18 21:18] cornutaurus commented on #12918
Hello I just updated the comments. see above. Thanks

[2020-04-19 00:40] sperkey7007 commented on #12555
@joebordes

[2020-04-19 00:40] sperkey7007 commented on #12555
?

[2020-04-19 06:28] mariuszkrzaczkowski commented on #12918
Logs???

[2020-04-19 07:47] vdpawel commented on #12898
Dziękuję za odpowiedź, okazało się, że właściwie podałem przepis jak to zrobić i tym sposobem udało mi się zrealizować tą funkcjonalność.
Dodałem kolejny placeholder "{k}" wraz z odpowiednimi warunkami, który zmienia "{k}" na "Ciąg dalszy na kolejnej stronie".

`				if (mb_stripos($child->getTextContent(), '{k}') !== false) {
					$pageNumber_k = $this->document->getCurrentPage()->getPageNumber();

[2020-04-19 10:30] blu-IT commented on #12507
Everything went fine, thanks!

[2020-04-19 10:35] joebordes commented on #12555
I am not related to this project in any way. Sorry, I can't help.

[2020-04-19 11:01] blu-IT commented on #5599
Is the method described above still the way to change default prefix or is there some config option in the meanwhile (this ticket is from 2017)?

Thanks!

[2020-04-19 12:38] diderich opened #12921 "[Question] Grant modify access only to assigned user"
### Description

Is there a possibility to configure the system in such a way that only the person a record is assigned to can modify it?

I would like users to create 'Time Control' records assigned to themselves such that only they can modify them.

[2020-04-19 12:39] diderich commented on #12860
Yes, that is what I did. Add 'border-radius: 50%'. And it is only a suggestion to make the layout more compatible with current UI trends.

[2020-04-19 16:23] draboluk opened #12922 "[Security] Certificate SSL"
Hi,

Company website is in domain with a certificate ssl (www.name.com).
I created a new catalog and installed the YetiForce (www.name.com/catalog/).

How to force ssl certificate by YetiForce?

[2020-04-19 16:56] zazy commented on #12875
Thankyou @acsinsurancegroup  for your reply. I know I can add a custom field but if there is a dedicated field that can't even be modified it let me think that there is some sort of mechanism to let the value of that field to be changed somehow.
This is one of lots of reasons that makes me feel that YetiForce is unreliable. I'm an IT consultant and a software developer and I'm studying several crm

[2020-04-19 17:14] ggriffin commented on #12874
@apcloic There's nothing preventing the community from creating a repo for sharing sample code and documentation.

AWS certainly has a lot more resources, but I have enjoyed their [documentation repos](https://github.com/awsdocs).

A Discord or Gitter community could also be created for the benefit of sharing experiences. Vue.js has a [Vue Land](https://vue.land/) community, for example.

[2020-04-19 19:23] cornutaurus commented on #12918
Apache error Logs
[Sun Apr 19 14:14:42.737981 2020] [mpm_prefork:notice] [pid 1137] AH00163: Apache/2.4.29 (Ubuntu) configured -- resuming normal operations
[Sun Apr 19 14:14:42.738143 2020] [core:notice] [pid 1137] AH00094: Command line: '/usr/sbin/apache2'

Mysql error logs
2020-04-19T19:14:42.865784Z 0 [Warning] TIMESTAMP with implicit DEFAULT value is deprecated. Please use --explicit_defaults

[2020-04-19 19:30] mariuszkrzaczkowski commented on #12922
https://github.com/YetiForceCompany/YetiForceCRM/blob/a76c39d2d040c222c96059e0273525d95b27bb0b/config/Security.php#L111

[2020-04-19 19:30] #12922 closed, assigned to mariuszkrzaczkowski

[2020-04-19 19:35] mariuszkrzaczkowski commented on #12918
correct the server configuration, especially error_log
enable CRM logs

https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-programistyczna/item/debugging

[2020-04-19 20:43] cornutaurus commented on #12918
I did this
public static $LOG_TO_FILE = true;
public static $LOG_LEVELS = ['error', 'warning'];
public static $LOG_TRACE_LEVEL = 9;
public static $SQL_DIE_ON_ERROR = true;
public static $DEBUG_CRON = true;
public static $SMARTY_ERROR_REPORTING = E_ALL & ~E_NOTICE;
public static $JS_DEBUG = true;
public static $DISPLAY_EXCEPTION_BACKTRACE = true;
public static $DISPLAY_EXCEPTION_LOGS = true;
public

[2020-04-19 20:54] draboluk commented on #12922
public static $forceHttpsRedirection = true;

result:
"ERR_TOO_MANY_REDIRECTS"

when:
public static $forceUrlRedirection = false;
works only "dashboard", other url "Illegal request"

[2020-04-20 04:45] rskrzypczak commented on #12914
Nie jest to błąd. Ta opcja została celowo usunięta z systemu.
https://github.com/YetiForceCompany/YetiForceCRM/issues/10315#issuecomment-591341439

[2020-04-20 04:45] #12914 closed, assigned to nobody

[2020-04-20 05:18] vovpff commented on #12760
I has checked what this "feature" also affects on Announcements modal window...

![image](https://user-images.githubusercontent.com/8545791/79716989-01f04f00-82e1-11ea-8bfa-cf297ed51736.png)

[2020-04-20 05:27] mariuszkrzaczkowski commented on #12922
config/Main.php
![image](https://user-images.githubusercontent.com/10198654/79716928-6d81ee80-82d8-11ea-8ae1-ebc8d5ddbfe1.png)

[2020-04-20 05:29] mariuszkrzaczkowski commented on #12918
strange, and CRM logs?

[2020-04-20 05:49] mariuszkrzaczkowski commented on #12760
config/Modules/SSingleOrders.php

[code]

[2020-04-20 06:10] #12918 closed, assigned to rskrzypczak

[2020-04-20 06:40] vovpff commented on #12760
@mariuszkrzaczkowski this will affect only to SSingleOrders?

[2020-04-20 06:41] mariuszkrzaczkowski commented on #12760
yes

[2020-04-20 06:48] vovpff commented on #12760
@mariuszkrzaczkowski sorry but what you solve with this code? Problem - html stripped in product line comments for all advanced modules (Invoices, sales orders, all logistics modules and etc)

[2020-04-20 06:56] mariuszkrzaczkowski commented on #12760
then set this variable in for these modules in the config / modules directory

[2020-04-20 07:01] vovpff commented on #12760
Ok. I will do it. Is this fix will be available with next service pack?

[2020-04-20 07:07] #12897 closed, assigned to adudekyeti

[2020-04-20 07:27] vencatoitc commented on #12783
News from our side: we reinstalled (again) 5.4 on a Ubuntu server against the previous one CentOS.
So this issue is resolved for us.

[2020-04-20 10:00] vovpff commented on #12760
@mariuszkrzaczkowski I has enabled this fix for IGDN. Looks better but line comment trimmed. How to disable trimming?
![image](https://user-images.githubusercontent.com/8545791/79739521-f879dd80-8306-11ea-8cef-34ce76350495.png)

[2020-04-20 10:03] mariuszkrzaczkowski commented on #12760
listview_max_textlength

[2020-04-20 10:19] vovpff commented on #12760
@mariuszkrzaczkowski got it

[2020-04-20 11:43] vovpff commented on #12760
@mariuszkrzaczkowski what about stripped announcements?

https://github.com/YetiForceCompany/YetiForceCRM/issues/12760#issuecomment-616315891

[2020-04-20 12:00] mariuszkrzaczkowski commented on #12760
this is an error report in a new issue

[2020-04-20 13:38] #12783 closed, assigned to bpabiszczak

[2020-04-20 14:02] apcloic commented on #12874
@ggriffin Yes, I know I could create a repo but as I wrote in my first post, I think it's better to help here, in the official YF repo.
I'm glad to be a *tiny YF backer now, I did through [OpenCollective](https://github.com/YetiForceCompany/YetiForceCRM/issues/10839). I suppose it's better through YF marketplace but sorry to say, I don't like Paypal :)
@bpabiszczak My previous job was sysadmin so

[2020-04-20 16:08] acoolov commented on #11956
This bug is bug is still present in 4.3.0 service pack 4. As soon as I change up a few things with my pick lists, ALL picklists get unassigned and I have to spend half a day re-selecting all the picklists for all the modules all over again. When is this going to be fixed?

[2020-04-20 16:09] acoolov opened #12925 "[bug] Error message when posting a comment in tickets module"
I get this error when posting a comment in tickets module in 5.3.0 service pack 4. Looks like it's only happening with ticket comments. Please see below.

![79701024-c5ccd800-8267-11ea-8f14-b2b2e0515851](https://user-images.githubusercontent.com/38298689/79773674-bdc07700-82ff-11ea-9a3e-114af316a008.png)

[2020-04-20 16:15] namaneko commented on #12881
@vovpff Switched to 7.3 and that didn't help either.

I have two separate installs of Yeti on two different servers and now both are showing the same error message though with different digits (1586964602 on the other installation).

@mariuszkrzaczkowski I can't show a screenshot of configuration because the error message is preventing me from loading anything in the control panel. Which debugging

[2020-04-20 19:15] acoolov commented on #12925
Anyone?

[2020-04-20 19:46] vovpff commented on #12925
@acoolov pls modify 4.3 sp4 to 5.3 sp4 at first post.
vtiger_senotesrel table? What is it? Correct name of table with comments should be vtiger_modcomments (modcomnentid, commentcontent columns for example). This is fresh 5.3? Or updated?

[2020-04-20 19:49] acoolov commented on #12925
Done. Sorry about that.

[2020-04-20 19:59] acoolov commented on #12925
It does it on both 5.3 and 5.3 service pack 4 update.
I installed this instance of Yeti through one click Softaculus installation.

[2020-04-21 04:08] mmsayeed opened #12928 "Unusual Bandwidth Usage"
Hello,

I have a yetiForce Installation. But this consume most of the bandwidth of the server.
For example, On 20 April it consumes 2 GB of bandwidth.

The awstats shows Most of this are NON-HTTP Visits.

[2020-04-21 05:33] mariuszkrzaczkowski commented on #12928
CRM only works over HTTP / HTTPS, so it is not CRM

[2020-04-21 05:35] mariuszkrzaczkowski commented on #12925
check on https://gitstable.yetiforce.com/ and https://gitdeveloper.yetiforce.com/

[2020-04-21 05:44] mariuszkrzaczkowski commented on #12881
do it this way:
1. enable and attach all logs, description here https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/debugging#quick_start, it is important to enable error logs for PHP and CRM
https://github.com/YetiForceCompany/YetiForceCRM/issues/9261#issuecomment-458959230

2. Delete the app_data/cron.php file and go to __crm_url__/index.php?parent=Settings&modul

[2020-04-21 07:38] vovpff opened #12932 "[bug] 5.3 Announcement modal text HTML stripped"
# 🐞 bug report

### ⁉️ Describe the bug

Announcement modal content stripped from all HTML tags

![image](https://user-images.githubusercontent.com/8545791/79838677-076e9780-83bc-11ea-9f5f-a3c6576c4d28.png)

#12760
### 🔥 How to trigger the error

[2020-04-21 07:39] vovpff commented on #12894
@mariuszkrzaczkowski any suggestions?

[2020-04-21 08:13] vovpff commented on #12906
@mariuszkrzaczkowski any suggestions?

[2020-04-21 13:34] vencatoitc opened #12934 "Notification upon mail scan"
Hi all,
maybe we didn't find any mention on the matter or simply it isn't available at all; so let ask to the crew: when the mail scanner completes its task and, e.g., it gets a couple of mail regarding a ticket and a couple regarding a sales, is it possible to have a sort of badge notifying it to the user (just like the badge showing a ticket's updates)?

Thanks,
Alessandro

[2020-04-21 13:49] #12928 closed, assigned to bpabiszczak

[2020-04-21 20:57] vovpff commented on #12098
@waran70 what is your solution?

[2020-04-21 21:40] martin-crockett opened #12935 "[Question] How to update calendar from custom module"
so i created a custom module, employes call customer and make appointement, after they put the date in the custom module. generate a calendar record. at this point everyhing works. but if the we need to change the date in custom module, and then try to update the date in the calandar with workflows it does not update in calandar.

how can i make it work ?

Here is me trying to do it with a manual

[2020-04-22 01:00] vdpawel opened #12936 "[Question] Setting the displayed columns when selecting a record from a dependent module"
After selecting the button to indicate the record from the dependent module (in this case: Opportunity),
![obraz](https://user-images.githubusercontent.com/62466142/79928748-17ca5500-8444-11ea-9d32-ad3ec9fb657f.png)

is it possible to choose the columns that are displayed on the list?

![obraz](https://user-images.githubusercontent.com/62466142/79928826-519b5b80-8444-11ea-9688-4c175b7ded4d.png)

I

[2020-04-22 03:16] vovpff commented on #12936
modules/SSalessProcess/SSalessProcess.php

[2020-04-22 04:37] vovpff commented on #12904
Solved by self written handler

[2020-04-22 04:37] #12904 closed, assigned to nobody

[2020-04-22 04:38] rskrzypczak commented on #12936
Fields from the default filter in Opportunities module (list view)

[2020-04-22 04:38] #12936 closed, assigned to rskrzypczak

[2020-04-22 07:17] vovpff commented on #12760
@mariuszkrzaczkowski

This parameter also affects to rendering of usual text fields in listview. Now I has increased this param to 1000 to see full line comment in advanced modules but checked what job title column became very big for contact because text isn't trimmed:

![image](https://user-images.githubusercontent.com/8545791/79951989-5a128700-8482-11ea-805f-881db2d9a2cd.png)

[2020-04-22 09:47] apcloic commented on #12935
@martin-crockett
Maybe simpler is better ?
I don't know if I understand correctly but I think you don't need the "rendez-vous" block in customer module because it will be limited to a single entry while I suppose a customer may have multiple rendez-vous.
If you need to change the date of an event, your employees could go to calendar related tab and edit the rendez-vous directly here, no need for a

[2020-04-22 10:28] MexasPT opened #12938 "[Question]"
Updating field with workflow with expression "get_date('today')" does nothing.
I need help because it is a fundamental expression for me.

**My Environment**
YetiForce Version used: 5.1

[2020-04-22 10:57] vovpff opened #12939 "[bug] Can't save profile"
# 🐞 bug report

### ⁉️ Describe the bug

I need to add access for some Role to module.For example ideas:

![image](https://user-images.githubusercontent.com/8545791/79973756-c7cdab80-84a0-11ea-887c-c30f5f163b1e.png)

After click Edit and clicking 4 check-boxes and saving profile not saved with new access parameters.

How to understand what is wrong?

![ConfReport_200422](https://user-images.github

[2020-04-22 11:21] MexasPT commented on #12938
Situation resolved and overcome.

[2020-04-22 11:21] #12938 closed, assigned to nobody

[2020-04-22 12:21] rskrzypczak commented on #12939
run:
`\App\Db\Fixer::baseModuleTools();
\App\Db\Fixer::baseModuleActions();
\App\Db\Fixer::profileField();`
and check again

[2020-04-22 12:54] #12934 closed, assigned to nobody

[2020-04-22 13:17] vovpff commented on #12939
@rskrzypczak how to run it?

[2020-04-22 14:15] rskrzypczak commented on #12939
You have many options, but the easiest way is edit index.php in root directory

:)

[2020-04-22 15:18] vovpff commented on #12939
@rskrzypczak after adding this and F5 on my system I get 500 error. After that I commented your code and refreshed page. It works. Profile saving also works.

What is the porblem?

[2020-04-22 15:43] martin-crockett commented on #12935
they will work primarly in the custom module to book appointement. and the appointement needs to go in the calendar of an other specific person who goes at the house of the customer.

right now the first time that they book the appointement the generate de calendar record but after if they change it in the custom module, they have to delete the old calendar record et re-generate a new.

 i would l

[2020-04-22 16:02] apcloic commented on #12935
You could always write a custom workflow that will do exactly what you want.
I still don't see why you don't want to simply **edit** the related calendar event directly.
If you configure a calendar widget in your custom module, changing a date in the calendar event or in your custom module will take the same time.

[2020-04-22 17:19] andrewteg opened #12940 "Automated Email Marketing Campaigns?"
Is there a way to add prospects to a campaign and have them be automatically emailed a series of emails?  I'm looking for something like the basic functinoality of a phpList or MailChimp where a user can be added and emailed a series of "welcome" emails over a few weeks.  I've looked around for drip campaign or newsletter and seen a few things like https://github.com/YetiForceCompany/YetiForceCRM/

[2020-04-22 20:09] andrewteg opened #12941 "Disable Section like Accounting?"
I have gone into "System Settings => Modules" and disabled all the Accounting modules (Invoices, Payments, etc) and I expected to see the "Accounting" header disappear but it is still there.

Is there a way or trick to getting that to not show up since there are no modules, and it simply just changes the + and - when I click on it now.

Thanks,
Andrew

[2020-04-23 04:42] rskrzypczak commented on #12941
Remove from menu (Software configuration/Standard modules/Menu - Configuration)

[2020-04-23 04:42] #12941 closed, assigned to rskrzypczak

[2020-04-23 05:02] rskrzypczak commented on #12939
Apparently, you once had an error saving the profile and there were gaps in the database. These functions complement them.

[2020-04-23 05:02] #12939 closed, assigned to rskrzypczak

[2020-04-23 05:23] vovpff commented on #12939
@rskrzypczak error 500 - normal condition?

[2020-04-23 09:26] Sall2 opened #12942 "[bug] Roundcube losowy brak przycisków wyboru kontrahenta, kontaktów itp"
Witam,
mam taki problem, że czasami są, a czasami nie ma przycisków wyboru kontrahenta, kontaktów itp przy tworzeniu wiadomości w roundcube. Jeśli ich nie ma, to nie działa też wyszukiwanie adresów email po nazwie, tzn. system nie podpowiada adresów z kontaktów. Jest na to jakaś rada?
![poczta](https://user-images.githubusercontent.com/58420665/80082734-0fae0a80-8555-11ea-9e11-750554a69cb7.jpg)

[2020-04-23 12:01] odiiin opened #12943 "[Question] [PL] Błąd LBL_HANDLER_NOT_FOUND po wejściu do Widżety - konfiguracja"
### Description

Problem z błędem LBL_HANDLER_NOT_FOUND pojawił sie w pewnym momencie i nie wiem czym mógł zostać spowodowany. Myślałem, że może po aktualizacji do 5.3.0 v4 błąd się naprawi ale pozostał. Dodatkowo po aktualizacji znikneły wszystkie widgety na "Strona główna" i przyciski "Dodaj widżet z filtru" i "Dodaj wykres z filtru" nie działają (nie reagują).

Ogólnie błąd pojawia się po wejśc

[2020-04-23 12:19] mariuszkrzaczkowski commented on #12943
logs??

[2020-04-23 12:24] odiiin commented on #12943
W logach yetiforce ani w logach systemowych nic się nie pojawia w momencie wchodzenia do Widżety - konfiguracja, mam uruchomiony tail -F i nic.

W logach yetiforce można znaleźć powtarzający się błąd:

[code]

A w logach systemowych problem z Opcache:

[code]

Te błędy były już wcześniej, kiedy widżety działały

[2020-04-23 12:27] mariuszkrzaczkowski commented on #12943
włącz logi w CRM

[2020-04-23 12:40] odiiin commented on #12943
OK, włączyłem wszystko na true w config/Debug.php
I na stronie z błędem (Widżety - konfiguracja), mam coś takiego:

**Śledzenie wywołania funkcji**
[code]

[code]

[code]

[2020-04-23 14:03] svdaru commented on #12942
I do not speak your language, but translator says that i have the same problem.
While debugging i discovered that \App\User::getPrivilegesFile($userId) at \App\Privilege returns Null, that is why is \App\Privilege::isPermitted at yetiforce rouncube plugin does not permit adding Modules at composing interface. At the moment i see that there is no variables (user_id, baseuserid) at Session, witch ar

[2020-04-23 15:40] bpabiszczak commented on #12942
wersja yetiforce?

[2020-04-23 15:46] svdaru commented on #12942
YetiForce CRM 5.3 Service Pack v4

[2020-04-23 15:52] bpabiszczak commented on #12942
Czy problem występuje na gitstable i gitdeveloper?

[2020-04-23 16:06] svdaru commented on #12942
it seems it doesn't. i am not able to reproduce problem at gitstable

[2020-04-23 16:11] svdaru commented on #12942
gitdeveloper also doesn't have this problem

[2020-04-23 17:02] Sall2 commented on #12942
5.3 service pack 4

[2020-04-23 17:46] svdaru commented on #12942
as i see something wrong with auto login functions

[2020-04-23 18:39] Sall2 commented on #12942
Yes, i have issues with autologin myself.

[2020-04-23 18:40] svdaru commented on #12942
it is all about that rouncube and crm have different session drivers.

[2020-04-23 19:19] svdaru commented on #12942
It is all about that rouncube and crm having different session drivers.
The problem is that $_SESSION['crm']['id'] is set only with autologin functions.  I've made a pull request at lib_roundcube to fix it.
[https://github.com/YetiForceCompany/lib_roundcube/pull/48](https://github.com/YetiForceCompany/lib_roundcube/pull/48)

[2020-04-23 19:47] Sall2 commented on #12942
Now it gets really weird, when i check this "default" option i have no buttons and autologin not works, when unchecked i have it all (buttons and autologin)
<img width="960" alt="poczta2" src="https://user-images.githubusercontent.com/58420665/80142819-161ba100-85ac-11ea-8b59-49fbddf7e7e2.png">

[2020-04-23 20:20] svdaru commented on #12942
It should not be the main reason. Buttons will appear when you successfully autologon to mailbox.
Autologon is working in a strange way. If you are not logged in, you should click button at the top bar, and then refresh page or click link to mail module at the main menu.

[2020-04-24 10:07] ruseiro opened #12944 "[Question] Yetiforce 5.3 -->Calendar notifications + Filters"
Hi, i'm facing troubles with the calendar notifications ( Yetiforce 5.3)
When a new event is created:
1. Assigned to: if i assign the event to a group, **nobody in the group receives the notification**
2. Shared with users: they **don't** receive any notification either.

( i've troubleshot this in the gitdeveloper version using demo and guest  (assigning and sharing events with each other) trying

[2020-04-24 10:14] scherieble opened #12945 "[Question] creation of advanced module"
### Description

I try to create a new module with an advanced block similar to the "Goods Received Note".
Unfortunately the advanced block data does not synchronize with the data from the Products module like it does in the "Goods Received Note" module.

If I select a product in my newly created module the fields of EAN, Unit and Subunit are not synchronized with the data from the product. The ot

[2020-04-24 10:25] ruseiro commented on #12944
The expected result, of course, is that all the group participants/ users with whom i shared the event receive the calendar notification.

[2020-04-24 11:12] asperitigroup opened #12946 "[Question] I have an error message saying "Exceeded the maximum text size in bytes 1024" when pasting a small graphic into a rich text field, but when I created the field I specified no upper size limit."
### Description

[2020-04-24 11:13] asperitigroup commented on #12946
![image](https://user-images.githubusercontent.com/58600791/80206830-f2e10800-8624-11ea-8e26-dfb70c552caf.png)

[2020-04-24 11:15] danielmalkmus commented on #7286
have a look in modules/settings/ModuleManager/models/Library.php

Search for following code in function download:

`if (isset($headers['status']) && strpos($headers['status'], '302') !== false) {`

This condition will fail, because the first char in $header['status'] has changed on my Server

the original code is $header['Status']

i have updated to 5.3 successfully. They way, YF downloads some li

[2020-04-24 11:15] Itc2020 opened #12947 "Add select all button"
Hello to everybody. I'm creating a CRM with yetforce, but I have an important problem to solve. If I select the records on the first page, in the module of accounts, a button appears, through which I can select all records of the module. I would like to do the same, but in a module with the following relation M:M, such as campaigns: accounts, when I open the record selection of the accounts module

[2020-04-24 13:25] vovpff commented on #12945
@scherieble you need to fill `_invmap` table for your module in database. As example you can use `_invmap` table of IGDN

[2020-04-24 13:44] scherieble commented on #12945
Ok, thank you. It worked.

[2020-04-24 13:44] #12945 closed, assigned to nobody

[2020-04-24 13:45] acoolov commented on #12925
I just installed it on Plesk + Softaculus and the issue is not present anymore.

[2020-04-24 13:45] #12925 closed, assigned to nobody

[2020-04-24 13:51] acoolov commented on #11853
Hello, is this being addressed? Can we streamline the ticket closing process so that when you close the ticket, there would be a resolution field available to fill out? This seems to be the most logical way to close out the ticket, instead of filling out time control.

Please let me know. Thank you.

[2020-04-24 14:58] vovpff commented on #12894
Solved by myself with modifying recent comments template

[2020-04-24 14:58] #12894 closed, assigned to nobody

[2020-04-24 15:00] vovpff commented on #12552
solved by myself in #12904

[2020-04-24 15:00] #12552 closed

[2020-04-24 15:27] asperitigroup opened #12948 "[bug] Calendar is broken after 5.3 upgrade"
# 🐞 bug report

### ⁉️ Describe the bug
After upgrading to 5.3 and service pack 4, when I open the calendar, instead of seeing a new blank event on the right side, I see a list of companies, and when I click on a date, the app hangs and I have to close the windows. I can add an activity through a contact record, but it does not show on the calendar. My old activities are still there, as I can see

[2020-04-24 17:18] z0lo13 commented on #12737
@mariuszkrzaczkowski is this widget available only for admin users?

[2020-04-24 17:18] vovpff commented on #12948
Are you cleaned browser cache after update?

[2020-04-24 17:30] z0lo13 opened #12949 "[bug] Updates Widget accessible only from admin user"
# 🐞 bug report

### ⁉️ Describe the bug

The modtracker update widget is not accessible by anyone except admin user

### 🔥 How to trigger the error

add Update widget in setting to Guest group here:
`https://gitdeveloper.yetiforce.com/index.php?module=WidgetsManagement&parent=Settings&view=Configuration&block=2&fieldid=67`
login as guest and see no widget
### 👎 Actual Behavior

widget not accessib

[2020-04-24 18:51] acoolov opened #12950 "[Feature] New comment notification to shared users on ticket"
Hello all!

Right now it looks like when you create a ticket, assign it to someone, as well as select shared users, it is possible to send ticket create/change/close workflows to both assigned to and shared users.

But..

It looks like when you comment on that ticket, the notification can only be sent to the assigned to user or account.

How can I configure so that the ticket comment can also be s

[2020-04-24 18:55] vovpff commented on #12950
You need to change workflow what sends emails

[2020-04-24 19:00] acoolov commented on #12950
For comments, the workflow looks different than for ticket create/change/close.
You can't change who to send notifications to with comments. There is only 3 options to send comment notifications to and they are: account, owner, contact. It's some type of custom function that is triggered, and you can't change it for some reason.

[2020-04-24 19:18] vovpff commented on #12950
Sorry. My mistake.

[2020-04-24 20:19] rail3r opened #12951 "[bug] Error 500 after install - redirect to /install/install.php works but get error 500 ??"
Installed Yetisoftware 5.3.0 complete on CentOS 8 server using this tuttorial:
https://computingforgeeks.com/install-yetiforce-crm-on-centos-centos-linux/

Im getting error 500 when it redirects to /install/install.php

Tried everything including the requirements on this site : https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/web-server-requirements

I tought ma

[2020-04-24 20:21] mariuszkrzaczkowski commented on #12951
show full logs

[2020-04-24 20:26] rail3r commented on #12951
[Fri Apr 24 22:00:21.607037 2020] [php7:error] [pid 4904] [client 127.0.0.1:41406] PHP Fatal error:  Uncaught Exception: The imap library is missing in /var/www/yetiforce/include/RequirementsValidation.php:15\nStack trace:\n#0 /var/www/yetiforce/install/Install.php(24): include_once()\n#1 {main}\n  thrown in /var/www/yetiforce/include/RequirementsValidation.php on line 15

[2020-04-24 20:30] rail3r commented on #12951
above is my Ubuntu bellow is my CentOS 8

[Fri Apr 24 15:53:34.036820 2020] [cgid:error] [pid 5010:tid 139911579531008] [client 5.182.211.76:43434] AH01264: script not found or unable to stat: /var/www/cgi-bin/ViewLog.asp

[2020-04-24 20:33] mariuszkrzaczkowski commented on #12951
[code]

[2020-04-24 20:40] rail3r commented on #12951
Ok that works, thanks :) but now my Centos 8 - still dont get it why it is not working there

[2020-04-25 07:23] diderich opened #12954 "[Question] How to create a "workflow" that would allow to create a "Time Control" entry for a meeting entry in a "Calendar""
### Description

I would like to create a "workflow" that would allow to create a "Time Control" entry for a meeting entry in a "Calendar". I want to be able to execute the workflow manually for certain meetings. The goal is to be able to have a list of time control entries that I can invoice to clients.

Unfortunately, as show the steps below, It is not possible to create an entity based on a cal

[2020-04-25 07:53] vovpff commented on #12954
Idea. Try mapping feature. Maybe this available for calandar and time control.

[2020-04-25 08:09] rskrzypczak commented on #12946
The image is converted to base64 and the number of characters is too large for the field type.
You have two options: either you paste a smaller image or you modify the field type in the database so that it can save more characters

[2020-04-25 15:58] acoolov commented on #12950
This seems to be pretty important feature since it is already possible to share ticket notifications with users. It sends the ticket update notifications to shared users but it won't send the ticket comment to shared users. Can we implement this feature in the next update?

[2020-04-25 19:14] asperitigroup commented on #12948
Many thanks vovpff, yes, it was as simple as clearing the browser cache - I had it starting as a Chrome app. So I deleted the app shortcut, cleared the Chrome cache, and recreated the shortcut and the app window and it all appears to be fine now.  Perhaps a note could be made in the upgrade instructions for us less technical users that a browser cache clear is required after upgrade?

Many thanks

[2020-04-25 19:49] asperitigroup commented on #12946
Do you mean directly edit the field in the database using PHPMyAdmin?  Or use Standard Modules, Edit Fields in TF settings?

[2020-04-25 19:52] asperitigroup commented on #12946
In Edit Field in Settings, it says field type text (UiType: 300) Length 65535, and max text length shows as 0, which I thought meant no limit.
![Capture](https://user-images.githubusercontent.com/58600791/80289512-bbfb1700-8736-11ea-80f8-0eb37dd47a05.JPG)

[2020-04-25 21:13] vovpff commented on #12948
Cache clear needed after every update. In case of updating js files manually you also need to clear cache every time after modifications.

[2020-04-25 21:13] #12948 closed, assigned to nobody

[2020-04-26 09:42] diderich commented on #12954
Mapping unfortunately does not allow to map the start date of an appointment to the start date of a time control. Neither does it allow to map the associated process :-(

[2020-04-27 06:20] odiiin commented on #12943
Czy jeszcze jakieś logi lub informacje są potrzebne?
Raczej taka sytuacja nie miała miejsca ale zastanawiałem się, czy może być taki objaw gdy ktoś usunie filtr np. w Leadach lub Kontrahentach, który został użyty do stworzenia widgetu w Widżety - konfiguracja ?

[2020-04-27 07:55] kjakobczak opened #12957 "[Question] [PL] Zmienna obcina string"
### ⁉️ Describe the bug
Problem z Podpisem globalnym dla e-maili.
Zmienna $(record : roleid)$ obcina część roli użytkownika.

![obraz](https://user-images.githubusercontent.com/64394971/80346310-d6cea800-886a-11ea-81a5-32338a86f6c5.png)

Natomiast w samym podpisie wygląda to już następująco:

![obraz](https://user-images.githubusercontent.com/64394971/80347842-2a41f580-886d-11ea-9303-564cc786f38f.

[2020-04-27 10:28] vdpawel commented on #12906
Is it possible to return to the previous version of the comments module?

I tried to copy the tpl files from the 5.2 version but without any changes. Perhaps the new configuration is in js.

[2020-04-27 11:41] ghost opened #12958 "[Question] Multiple RoundCube SMTP servers"
Hello!

I would like to ask if your CRM-system supports adding multiple STMP servers in RoundCube to be able to log-in in to `My Mailbox` through for example `gmail.com`, `yahoo.com`, and custom SMTP at the same time?

If so, could you please provide any instructions on how to do it?

Thanks for the answer!

[2020-04-27 12:37] vencatoitc opened #12959 "Helpdesk - quick (inline) edit returns JSON content"
Hi all,
when we quick edit a ticket (e.g. to change the status from the ticket list) and hit save, the server returns the JSON response `{"success":true,"result":{ ... }}` instead of redirecting. The ticket's contents is updated.
Any hints?

Thanks,
Alessandro

[2020-04-27 12:45] asperitigroup opened #12960 "[Question] PDF File Generator - Multiple records in one pdf?"
### Description
How do I make the pdf report generator show multiple records from a table in one pdf file, e.g. a list of contact names on multiple rows in the report?  At the moment my report generates one pdf file for each record.....

[2020-04-27 13:12] asperitigroup commented on #12960
Close this  - I have found the earlier reply that answers this.

[2020-04-27 13:12] #12960 closed, assigned to nobody

[2020-04-27 16:01] acoolov commented on #12950
Anyone?

[2020-04-27 16:10] acoolov opened #12967 "[Feature] Ticket reminder workflow notification"
Hello friends,

How do I create a workflow so that an email notification would be sent to the ticket owner 1 hour before the date and time of the ticket is scheduled to?

I tried creating a workflow like this:

- Only once, when all conditions are met
- Status is not closed
- Schedule field is less than 1 hour later (which should mean I assume that as soon as the time in the schedule field is less

[2020-04-28 04:41] rskrzypczak commented on #12959
what is your server configuration (Software configuration/Logs/Server configuration)?
e.g error_reporting = E_ALL & ~E_NOTICE

[2020-04-28 06:39] vencatoitc commented on #12959
Here's our php.ini:
[code]

[2020-04-28 09:47] vovpff opened #12974 "[bug] Double line comments for products table"
# 🐞 bug report

### ⁉️ Describe the bug

When product added to items list and button for comment clicked: appears two line comments fields active with comment and inactive

### 🔥 How to trigger the error

![doublecomment](https://user-images.githubusercontent.com/8545791/80473010-3356c380-894e-11ea-8c22-8733db8af545.gif)

### 🌍  Your Environment

| Environment		|	Version / Name	|
| ---------------

[2020-04-28 13:59] Itc2020 opened #12976 "Massive creation in a related module"
Hello everybody,
I'm creating a CRM with yetiforce, I created a relation M:M between accounts and campaigns. All seems working, but I would like to select (in the module of Accounts) the records that I need, and through a massive creation put them inside a campaign.
Is this possible? How could I do it?
Thanks

[2020-04-28 14:12] apcloic commented on #12976
Hi,
What does massive creation mean ?

[2020-04-28 14:35] Itc2020 commented on #12976
Sorry, i think i was wrong. I would like to know if i could do it through the section "actions" in the module of accounts. The gif will show what I mean

![Gif Yeti](https://user-images.githubusercontent.com/64258336/80500250-3eb9e700-896e-11ea-85ed-bbd9e2f68f83.gif)

[2020-04-28 14:53] vovpff commented on #11555
@adudekyeti any sugestions?

[2020-04-28 18:55] apcloic commented on #12976
@Itc2020 I think you should do the opposite, create a campaign, then go to the account tab and use filters to select your list of accounts.
No need to create a relation m:m between accounts and campaigns.

[2020-04-29 09:00] mateuszrudyk opened #12977 "[Question] Problem z importem kontrahentów"
Strona główna->Firmy i Kontakty->Kontrahenci->Import
Po wybraniu pliku i wciśnięciu "Dalej" pojawia sie komunikat:
"Plik importu nie ma możliwości zapisu"
Co on oznacza?
Pozdrawiam
Mateusz Rduyk

[2020-04-29 09:34] bpabiszczak commented on #12977
Zapewne, że plik importu nie ma możliwości zapisu :)
Przypuszczam, że są nieodpowiednie uprawnienia do folderu, gdzie aplikacja zapisuje plik.
Proszę sprawdzić, czy problem występuje na gitstable i gitdeveloper.

[2020-04-29 09:51] mateuszrudyk commented on #12977
instalacja jest na linuksie i (w celu diagnostyki) nadałem maksymalne uprawnienia do całego katalogu yetiforce. Wersja 5.2.0...

[2020-04-29 09:53] mateuszrudyk commented on #12977
na gitstable nie ma tego komunikatu...

[2020-04-29 09:54] bpabiszczak commented on #12977
a więc to nie problem CRM-a i pliku, lecz tak jak mówi komunikat, uprawnień do zapisu :)

[2020-04-29 09:55] bpabiszczak commented on #12977
Gitstable to 5.3, więc zalecamy aktualizację do 5.3 + najnowszy SP.

[2020-04-29 12:05] mateuszrudyk commented on #12977
po aktualizacji (udanej) to samo... Na który folder w instalacji mam zwrocic uwagę?

[2020-04-29 12:53] danielmalkmus commented on #7450
Hi @alll!

Have a look at

if the File is lowercase "index.php" rename it to "Index.php"

The Autoloader will then find the handler.

I have running YF 5.3 as an upgrade from 4.2. The filename was not changed. A fresh install from 5.3
works.

Please let me know, if it helps!

[2020-04-29 14:30] rskrzypczak commented on #12977
Pokaż swoją konfigurację.
tu masz przykład: https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=ConfReport&view=Index&block=14&fieldid=65
znajduje się tam blok z uprawnieniami do plików i kataogów

[2020-04-29 15:03] MexasPT opened #12978 "[Question] Maximum number of files exceeded"
Hello everyone!
How can I change the "Maximum number of files exceeded"?
I need to upload 12 images, but the system only allows 10.

![multi image file1](https://user-images.githubusercontent.com/17734465/80611733-e993d900-8a32-11ea-8546-42410b86df61.png)
This situation refers to the "Multi Image files" field

Can you help me?

[2020-04-29 15:50] mateuszrudyk commented on #12977
Uprawnienia zapisu do plików i folderów
--
app_data/cron.php | Nie | Nie | - | 0644
app_data/registration.php | Tak | Tak | 33 | 0777
app_data/moduleHierarchy.php | Tak | Tak | 1000 | 0777
app_data/shop.php | Tak | Tak | 33 | 0644
app_data/icons.php | Tak | Tak | 1000 | 0777
app_data/LanguagesUpdater.json | Tak | Tak | 33 | 0644
app_data/SystemUpdater.json | Tak | Tak | 33 | 0644
app_data/librarie

[2020-04-29 16:02] mateuszrudyk commented on #12977
już doszedłem, o którry folder chodzi - niestety spoza instalacji yetiforce: /temp

[2020-04-29 16:54] mariuszkrzaczkowski commented on #12977
Masz nieprawidłową  konfigurację serwera

[2020-04-29 16:54] #12977 closed, assigned to bpabiszczak

[2020-04-29 19:49] ehasnik opened #12979 "[Question]"
### Description
Witam,
potrzebuję na fakturze sprzedaży umieścić kwotę Brutto do zapłaty słownie.
Czy Yetiforce 5.3 posiada taką funkcjonalność?

pozdrawiam

[2020-04-29 21:06] jimlee213 opened #12980 "[Question] Internal server error"
Hello,
I am using Yetifoce V5.2.0
when I try to compose an email it shows:
![image](https://user-images.githubusercontent.com/44873199/80646674-28c62800-8a3b-11ea-84d7-6eaa7cc1fe22.png)
an error occurred
server error ( internal server error)
and I did google search, someone said I need to have the permission of template.
but my email template is blank. ( not clickable)

I am not sure if it is emai

[2020-04-29 22:15] jimlee213 commented on #12200
Hello,
Do you mind tell me where I can give the user permission to use the template?
Thanks

[2020-04-30 04:38] rskrzypczak commented on #12978
https://github.com/YetiForceCompany/YetiForceCRM/blob/33d5791770b5e8f92f87af0b786334c07045f788/modules/Vtiger/files/MultiImage.php#L29-L34

but this is a global setting.
It is not possible to change this option from the GUI

[2020-04-30 04:38] #12978 closed, assigned to rskrzypczak

[2020-04-30 05:59] odiiin commented on #12943
Udało mi się rozwiązać problem.

W bazie danych z tabeli `vtiger_module_dashboard` usunąłem kilka stworzonych przeze mnie widgetów. Możliwe, że to by wystarczyło ale usunąłem jeszcze wpisy z tabeli `vtiger_module_dashboard_widgets` . Jeśli masz taki problem to najpierw spróbuj usunąć wpisy z `vtiger_module_dashboard`, może to wystarczy.

Dzięki temu mogłem wejść do Konfiguracja serwera -> Moduły s

[2020-04-30 06:03] #12943 closed, assigned to nobody

[2020-04-30 06:32] bpabiszczak commented on #12979
W YetiForce można umieszczać własne funkcje, a gotowych funkcji na przeliczanie kwoty jest wiele w internecie. Programista powinien sobie z tym poradzić w 1-4 godziny. Kwota słownie nie jest wymagana w PL.

[2020-04-30 06:32] #12979 closed, assigned to bpabiszczak

[2020-04-30 13:34] NickLFP opened #12982 "[Question] Email templates not working Roundcube"
Hello,

I have just setup yetiforce for our company as a simple crm system. At this point all is working good except one thing; i can't use emailtemplates. Mail is setup and functioning (roundcube) and even plugins working business data, search etc the onyl thing is not working is email templates in roundcube. How can i activate this? So no module and template is possible see the picture below.

!

[2020-04-30 14:27] jimlee213 commented on #12982
I have the same problem, let me know if you find solution

[2020-04-30 17:05] apcloic commented on #12982
@NickLFP @jimlee213
Did you check if you email template's type is properly set as 'message' ?
https://github.com/YetiForceCompany/YetiForceCRM/issues/9647#issuecomment-467435771
Regards

[2020-04-30 17:13] apcloic commented on #12200
@jimlee213
Hi,
Go to email template module, edit the template you want to use and check 'Assigned to' and 'Shared with' fields.
Regards,

[2020-04-30 17:39] jimlee213 commented on #9647
I did check it. here is the screenshot:
thanks
![image](https://user-images.githubusercontent.com/44873199/80741575-dbec5b00-8ae7-11ea-86d8-f04db281a636.png)

[2020-04-30 18:30] jimlee213 commented on #12982
![image](https://user-images.githubusercontent.com/44873199/80745977-22918380-8aef-11ea-8005-455717fe1333.png)

[2020-05-01 09:28] apcloic commented on #12982
@jimlee213
My email template is related to Contacts module but I've tried with Corporate emails and it works as well.
However, I'm still using YF 5.2, what is your version ?

[2020-05-01 16:02] mend-bolt-for-github[bot] opened #12985 "CVE-2020-11022 (Medium) detected in jquery-1.9.1.js"
## CVE-2020-11022 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>jquery-1.9.1.js</b></p></summary>

<p>JavaScript library for DOM operations</p>
<p>Library home page: <a href="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js">https://cdnjs.cloudflar

[2020-05-02 05:30] farhadbarati opened #12988 "Slow to open System Settings page and Cron warning"
hi,
i installed YetiForce on CentOS 7 with SSL enabled. when i open System Settings page it takes too long to open. This may be due to SSL configuration? other pages load fast.
![image](https://user-images.githubusercontent.com/47290937/80855901-78366f00-8c5a-11ea-869a-41c6d89d4f68.png)
i also configured crontab for YetiForce but i got some warning that not all cron tasks were completed successful

[2020-05-02 07:19] vovpff commented on #12988
One problem = one issue.
1st - no ideas.
2nd - check CRON page and check what is wrong

[2020-05-02 08:00] farhadbarati commented on #12988
thanks for your reply. i don't see any warning or notification in cron page.
![image](https://user-images.githubusercontent.com/47290937/80858741-855e5880-8c70-11ea-82a5-53cd66a8db62.png)
![image](https://user-images.githubusercontent.com/47290937/80858747-927b4780-8c70-11ea-838b-6732a026d17a.png)
![image](https://user-images.githubusercontent.com/47290937/80858759-a32bbd80-8c70-11ea-98fc-664b6e34

[2020-05-02 11:38] vovpff commented on #12988
@farhadbarati your cron was started day ago. This is bad thing

[2020-05-02 11:46] farhadbarati commented on #12988
is it possible to find out why this happened?
i can share my crontab configuration.

[2020-05-02 12:02] vovpff commented on #12988
You need to start your cron jobs every 5 minutes

[2020-05-02 12:40] farhadbarati commented on #12988
this is my configuration:
![image](https://user-images.githubusercontent.com/47290937/80864344-41327e80-8c97-11ea-993f-cbd77e359a9b.png)

![image](https://user-images.githubusercontent.com/47290937/80864433-d2a1f080-8c97-11ea-8bb5-6338d8abb0eb.png)

i don't know why it's not start every 5 minutes. i installed php 7.3.

[2020-05-02 14:11] vovpff commented on #12988
You need only one line in crontab.
 cron.sh looks bad because you use export USE_PHP twice.
Type php -v in terminal? What is output?

[2020-05-02 17:33] farhadbarati commented on #12988
![image](https://user-images.githubusercontent.com/47290937/80871183-84551780-8cc0-11ea-89f1-4c4bce91b8c7.png)

can you share with me correct config file? thanks.

[2020-05-02 19:18] vovpff commented on #12988
Config files depend from system.
For crontab use 1st string. Orter strings can be removed or commented.
In cron.sh you need to keep USE_PHP=php. All other variations can be removed

[2020-05-03 03:51] farhadbarati commented on #12988
i changed my configuration but the problem is not resolved.
![image](https://user-images.githubusercontent.com/47290937/80898297-efc9d400-8d16-11ea-8a6f-677ef14cc574.png)

![image](https://user-images.githubusercontent.com/47290937/80898307-040dd100-8d17-11ea-9e10-f6df1ec120d6.png)

[2020-05-03 07:56] vovpff commented on #12988
Run manually in termina:
cd /pathtocrm/
sudo php -f cron.php

[2020-05-03 09:08] farhadbarati commented on #12988
i run this command. but nothing happened in cron tasks.

![image](https://user-images.githubusercontent.com/47290937/80910266-4b11bb80-8d43-11ea-9f1c-5c1cb8ff61e0.png)

[2020-05-03 09:36] mariuszkrzaczkowski commented on #12988
check logs

[2020-05-03 11:02] farhadbarati commented on #12988
can you tell me where is log location? thanks.

[2020-05-03 11:11] vovpff commented on #12988
@farhadbarati
[code]

[2020-05-03 20:19] mariuszkrzaczkowski commented on #12988
`
php -i | grep log
`

[2020-05-04 05:05] farhadbarati commented on #12988
this output of comand:

[crm@crm crm]$ sudo php -f cron.php
[sudo] password for crm:
---------------  2020-05-04 09:30:49 | Start CRON  ----------
2020-05-04 09:30:49 | LBL_WORKFLOW - Start task
2020-05-04 09:30:49 | LBL_WORKFLOW - End task (0.18 s)
2020-05-04 09:30:49 | LBL_SCHEDULED_IMPORT - Start task
2020-05-04 09:30:49 | LBL_SCHEDULED_IMPORT - End task (0.03 s)
2020-05-04 09:30:49 | LBL_MAIL_

[2020-05-04 05:06] farhadbarati commented on #12988
this is output of this command:

Zend Engine v3.3.17, Copyright (c) 1998-2018 Zend Technologies
    with Zend OPcache v7.3.17, Copyright (c) 1999-2018, by Zend Technologies
error_log => php_errors.log => php_errors.log
log_errors => On => On
log_errors_max_len => 1024 => 1024
mail.log => no value => no value
syslog.facility => LOG_USER => LOG_USER
syslog.filter => no-ctrl => no-ctrl
syslog.ident =

[2020-05-04 05:11] mariuszkrzaczkowski commented on #12988
it means it works

[2020-05-04 05:16] rskrzypczak commented on #12988
Check permission to your cron.sh file: [enable-cron](https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-administratora/item/enable-cron)

[2020-05-04 09:23] farhadbarati commented on #12988
i changed it before.

![image](https://user-images.githubusercontent.com/47290937/80952271-a9f03700-8e0e-11ea-92af-20d65c57aabd.png)

[2020-05-04 10:35] Itc2020 commented on #12976
@apcloic Hi, Yes, I know that I could do the opposite. However, I would  like to know if I can fo it also from the accounts' module

[2020-05-05 03:02] rskrzypczak commented on #12976
If you are a developer, everything is possible :)
Currently, the system does not have this option.
You would have to create a new action and add what you need there.
However, I'm afraid that you won't avoid modifying the source files, which will complicate the process of later system updates.

[2020-05-05 03:02] #12976 closed, assigned to nobody

[2020-05-05 21:25] #12018 closed

[2020-05-06 01:08] js325 commented on #5599
I am on v5.3 and this seems to still be the only method of changing the default.
It seems to work on country fields but my default phone prefix has not changed. I have set
sortorderid for Australia to 0 but US still defaults as the phone number field as you can see.
Is there anything else that's needed to achieve this?

![yetiforce-default](https://user-images.githubusercontent.com/22556776/811300

[2020-05-06 04:55] blu-IT commented on #5599
Strange, it worked for me. Can you send a screenshot of your database table with the sortorder?

[2020-05-06 05:01] rskrzypczak commented on #5599
it depends on language
![lang](https://user-images.githubusercontent.com/10221999/81139806-6826d400-8f67-11ea-9130-dd0d325eeadf.gif)

[2020-05-06 08:18] Itc2020 commented on #12947
Someone can help me? @apcloic

[2020-05-06 09:56] js325 commented on #5599
Heres a screenshot of db table
![yeti-db](https://user-images.githubusercontent.com/22556776/81164245-698de600-8fd3-11ea-8393-968ddc70655e.PNG)

I also created an en-AU language but still get the US default on phone numbers;
![yeti-lang](https://user-images.githubusercontent.com/22556776/81164451-ba9dda00-8fd3-11ea-8fe0-0df1e0b45e93.PNG)

[2020-05-06 10:19] blu-IT commented on #5599
@js325

OK and which language is set in your personal profile? If en-US then try switching to en-AU and see if the behavior changes.
From your screenshot I can only see that (the system wide?) setting ist still en-US.

[2020-05-06 10:24] js325 commented on #5599
Good pickup! That worked.
It still needed to be changed under user preference.
Thanks heaps.

[2020-05-07 03:33] rskrzypczak commented on #12946
not at all :)
Text type may be too small for large images.
`65535 -> 16777215
text -> mediumtext`

Yes. [example](https://github.com/YetiForceCompany/YetiForceCRM/commit/cbbe4319251f82ae8e725ff7bbd3014056d78a9b)

[2020-05-07 03:33] #12946 closed, assigned to rskrzypczak

[2020-05-07 09:22] apcloic commented on #12947
@Itc2020
Hi, if you mean being able to select all related records like you can do for Accounts/Contacts/Leads in Campaign module, it requires custom code.
Regards,

[2020-05-07 09:33] Sall2 opened #13001 "[Pytanie] Faktury sprzedaży z numerem "wstecz""
Witam,
mam pytanie odnośnie faktur, mam numerację miesięczną, zeruje nr z nowym miesiącem, czy jest możliwość wystawienia faktury z numerem na poprzedni miesiąc wtedy kiedy jest już nowy miesiąc?
Lub proszę o informację gdzie zapisywana jest lista faktur, abym mógł "ręcznie" dopisać w bazie rekord

Z góry dziękuję

[2020-05-07 10:12] vdpawel opened #13002 "[Question] Validation check of field size in database"
In reference to #12946 I changed the type of fields in the database, but the message pops up
![obraz](https://user-images.githubusercontent.com/62466142/81282475-7e15c100-905b-11ea-878e-ea0e0e98111a.png)

Where can I change the validation check?
If it changes the field size correctly, will the correctness check detect it?

[2020-05-07 10:24] vdpawel commented on #13001
Rozumiem, że chodzi o to, żeby numer miesiąca w numerze faktury odpowiadał miesiącowi z daty wystawienia dokumentu.
Czyli jeżeli fakturujemy coś sprzedanego np. 28 kwietnia, a robimy to 4 maja. Wtedy numer faktury powinien być jeszcze kwietniowy.
Może jest jakiś lepszy sposób... możesz poradzić sobie z tym problemem tworząc nowe pole i do niego przepisywać w wyzwalaczach nr faktury generowany auto

[2020-05-07 11:24] svdaru commented on #12942
@bpabiszczak What do you think about this issue?

[2020-05-07 13:06] rskrzypczak commented on #13002
I don't think you looked too closely at this [issue](https://github.com/YetiForceCompany/YetiForceCRM/issues/12946#issuecomment-625009481).
https://github.com/YetiForceCompany/YetiForceCRM/commit/cbbe4319251f82ae8e725ff7bbd3014056d78a9b#diff-c68a4e9329987315e0b2a54b0803fa4cR4469
vtiger_field -> maximumlength

[2020-05-07 13:06] #13002 closed, assigned to rskrzypczak

[2020-05-08 08:01] vdpawel commented on #13002
Indeed, all that was needed was in that issue.
I will only add that after changing the size of some fields, it is also worth resizing the `prevalue` and ` postvalue` fields in the table `vtiger_modtracker_detail`

[2020-05-08 09:37] Sall2 commented on #13001
Ok, informacja na przyszłość, zrobiłem to tak:
Nowa faktura bieżąca i później zmiana danych w u_yf_finvoice (nr faktury, daty sprzedaży i wystawienia), wszystko zadziałało elegancko, mam nadzieję, że system to wytrzyma ;)\
Jedyny minus jest taki, że faktura jest na liście w majowych już, zapewne przez parametr finvoiceid, ale tego to już nie ruszam.

Pozdrawiam

[2020-05-08 09:38] #13001 closed, assigned to nobody

[2020-05-08 11:29] microstrategies opened #13005 "[Question] Syntax error, unexpected ''=>'' (T_CONSTANT_ENCAPSED_STRING)"
Hi all,

I've installed YetiForce 5.3.0 on my own VPS and it was working fine until yesterday. When I go to settings, I keep getting this error and cannot access any settings unfortunately. Has anyone had a similar issue and knows the fix please?

![Screenshot 2020-05-08 at 12 20 30](https://user-images.githubusercontent.com/65020292/81401565-df0ec900-912f-11ea-93fd-b9df8eff8349.png)

[2020-05-08 11:30] microstrategies opened #13006 "[Question] syntax error, unexpected ''=>'' (T_CONSTANT_ENCAPSED_STRING)"
Hi all,

I've installed YetiForce 5.3.0 on my own VPS and it was working fine until yesterday. When I go to settings, I keep getting this error and cannot access any settings unfortunately. Has anyone had a similar issue and knows the fix please?

![Screenshot 2020-05-08 at 12 20 30](https://user-images.githubusercontent.com/65020292/81401565-df0ec900-912f-11ea-93fd-b9df8eff8349.png)

[2020-05-08 11:33] mariuszkrzaczkowski commented on #13006
![github](https://user-images.githubusercontent.com/10198654/81401836-6f4d0e00-9130-11ea-9353-d1f6114e2a29.jpg)

[2020-05-08 11:33] #13006 closed, assigned to nobody

[2020-05-08 16:02] kalle3e commented on #13005
How about try checking the php log or php error log.

[2020-05-08 16:05] kalle3e commented on #13005
cache/logs/phpError.log

[2020-05-09 14:11] vdpawel commented on #12957
Czy sprawdzałeś, czy ma na to wpływ konfiguracja poniżej?

![obraz](https://user-images.githubusercontent.com/62466142/81475997-b231e300-920f-11ea-8b2c-4f57288c84e3.png)

[2020-05-09 19:44] blloyd78 opened #13009 "[Feature] Email campaign tracking"
## 🚀 feature request

Would love to see an email marketing module. Essentially this would need:
- The ability to create a target list of email addresses
- A tracking pixel to detect when the email is opened
- Bounce detection to identify email delivery failures
- An unsubscribe mechanism that would 'disable' the recipient's email in there Yetiforce system

### Is your feature request related to a

[2020-05-11 10:27] bpabiszczak commented on #13009
1. You can create any lists you want, both in campaigns and on record lists in other modules.
2. Tracking users is against GDPR (I haven’t met a company who legally obtained consent to do that before sending an email). We recommend using links that will be analyzed once they are clicked in the email and the user will go to the website.
3. Bounce detection can be automated (it requires a programmer

[2020-05-11 10:28] #13009 closed, assigned to bpabiszczak

[2020-05-11 11:35] joao-penguin opened #13010 "[bug] Cannot see results of workflow "Update fields""
When a field is updated through workflow Update fields, result is not displayed to the user
Nevertheless update is properly performed as a refresh enables user to see the change. I think that after workflow task execution, Yetiforce should read data from database to get & display last version of data.

**Hereafter test configuration**

![Screenshot from 2020-05-11 11-59-40](https://user-images.git

[2020-05-11 14:14] apcloic commented on #13010
@joao-penguin
I suppose you are using quick edit instead of full edit record.
I don't think it's a good idea to do a refresh in this case because then it will slower the process while the goal is to be quick.
Regards,

[2020-05-11 15:12] joao-penguin commented on #13010
Thanks for the quick answer.
I agree that refresh the page will slower the process and should be done with caution.
But in my use case, to see the result, user has to refresh the page, either by F5 or by going to full edit (that generates a full refresh).

A workaround would be to use a "custom function" Is there a way to force yeti to refresh the page content ?

[2020-05-11 15:41] CesareD commented on #12866
Any Hint about the question?
if you follow this url https://www.vtiger.com/docs/rest-api-for-vtiger#/Endpoint
and go to
"Add Related
Establish relation between two records."
how can add a relation between a ServiceContract Cx and an Asset Ay in YetiForce?
Do you have an example with Postman?

Can you suggest a starting point on the YetiForce's php code for examining the way i can add, or delete As

[2020-05-12 04:35] rskrzypczak commented on #12866
https://doc.yetiforce.com/api/

[2020-05-12 05:01] rskrzypczak commented on #12947
No activity, so I close

[2020-05-12 05:01] #12947 closed, assigned to nobody

[2020-05-12 05:54] kjakobczak commented on #12957
Zmiana długości tekstu w widoku listy rozwiązała problem.
@vdpawel Dziękuję za pomoc

[2020-05-12 05:54] #12957 closed, assigned to nobody

[2020-05-12 07:57] bpabiszczak commented on #12818
Everything is as it’s supposed to be, encrypting consists of 2 keys, one is in the database and the other one in the file. Both are explicit just like SSL certificates or other security measures. In the case of the table with password history I can’t see any irregularities, the passwords are encrypted, and they are stored in order for the users not to set the same password twice.

[2020-05-12 07:57] #12818 closed, assigned to bpabiszczak

[2020-05-12 08:04] vovpff commented on #12760
@mariuszkrzaczkowski any suggestions? is it possible to trim columns content in list view?

[2020-05-12 09:42] CesareD commented on #12866
Hi rskrzypczak,

can you specify the endpoint in https://doc.yetiforce.com/api/ i should use for adding (via POST) a related Asset to a ServiceContract.

![ServiceContract](https://user-images.githubusercontent.com/6525652/81669684-d88d9380-9446-11ea-8feb-c8ec5ec6bf91.jpg)

![SC_Assets](https://user-images.githubusercontent.com/6525652/81669710-e04d3800-9446-11ea-9276-386fd00a12fb.jpg)

Thank you,

[2020-05-12 19:37] federico0100 opened #13023 "[Error] Call to a member function get() on null."
![SharedScreenshot1](https://user-images.githubusercontent.com/62551450/81737747-dfdd8d00-9498-11ea-8a91-afb23dfdc47b.jpg)
[errors.log](https://github.com/YetiForceCompany/YetiForceCRM/files/4618015/errors.log)
[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/4618017/system.log)

# 🐞 bug report

What happened?

[2020-05-12 20:31] Amypate85 commented on #10007
Can you please explain in layman's terms? lol I want my email to end in @comanyName.com

[2020-05-13 05:44] mariuszkrzaczkowski commented on #10007
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/migration-to-a-new-server

[2020-05-13 06:02] Amypate85 commented on #10007
Thank you so much!!

On Tue, May 12, 2020, 10:44 PM Mariusz Krzaczkowski <
notifications@github.com> wrote:

[2020-05-13 10:54] ruengdech opened #13025 "LBL_IMPORT_FILE_DIFFERENT_ENCODING"
I just Export Account data then import It self, It should pass but still have issue with this Error

![image](https://user-images.githubusercontent.com/15377403/81803875-75812700-9542-11ea-964b-b0ae3377f737.png)

 [ver. 5.3.0] [TMDHosting]
http://www.bnhcrm.com/

#12658  #12136 #11762  Cannot solve @mariuszkrzaczkowski

[2020-05-13 10:55] ruengdech commented on #13025
https://github.com/mariuszkrzaczkowski
Need your help

[2020-05-13 11:55] rskrzypczak commented on #13025
try in n++ `Encoding -> Convert to UTF-8 BOM`

[2020-05-13 12:59] federico0100 commented on #13023
Help please, it no longer allows me to access the system and displays the error message with all users.

[2020-05-13 15:07] rskrzypczak commented on #13023
First try removing all sessions from `cache/session`

if that doesn't work then you can try to empty vtiger_module_dashboard, vtiger_module_dashboard_blocks tables in database.
however, this way you will remove all widgets on the dashboard :)

[2020-05-13 16:05] federico0100 commented on #13023
I thank you for the answer!
I have deleted the sessions and emptied the tables but I still get the error after logging in and I cannot change the page.

[2020-05-14 02:58] ruengdech commented on #13025
@rskrzypczak Great, Dziękuję Ci for your solution, It work.

[2020-05-14 02:58] #13025 closed, assigned to nobody

[2020-05-14 05:51] ruengdech opened #13028 "Why I cannot comment on Account"
### Description
Steps to reproduce the behavior:
1. Go to 'Account'
2. Click on 'a Account Name'
3. Click to Expand "Comments"
4. Type Comment and Click "+" Button
5. No Response.

### 👎 Actual Behavior

### 👍 Expected Behavior

![image](https://user-images.githubusercontent.com/15377403/81897865-ac5a4a00-95e1-11ea-8d9a-9e951b4a00d2.png)

[2020-05-14 10:25] crawe1 opened #13032 "[bug] new lead concat 2 variable"
Błąd: SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '121' for key 'PRIMARY' The SQL being executed was: INSERT INTO `u_yf_crmentity_label` (`crmid`, `label`) VALUES (121, '')

Dodałem automatyzację w postaci składania concatem z imienia i nazwiska nazwę leada. Błąd występuje za każdym razem kiedy automatyzacja jest włączona. Rekord jest poprawnie tworzony i dodaje do bazy m

[2020-05-14 10:37] mariuszkrzaczkowski commented on #13032
![github](https://user-images.githubusercontent.com/10198654/81924634-a9f6f080-95df-11ea-9a9c-03316af6fe9a.jpg)

[2020-05-14 10:55] vdpawel commented on #13032
Odnośnie pierwszego problemu rozwiązaniem może być #12768.

Drugi problem związany z błędem 404, rzeczywiście występuje w nowej wersji, ale sprawdziłem, że w deweloperskiej został wyeliminowany.

[2020-05-14 10:57] #13032 closed, assigned to nobody

[2020-05-14 12:12] federico0100 commented on #13023
Help, Another Idea?

[2020-05-15 04:22] rskrzypczak commented on #13028
Have you installed the latest [service pack](https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/5.3.0) for this version?

[2020-05-15 07:31] vovpff opened #13034 "[bug] Tax not calculated when record modified."
# 🐞 bug report

### ⁉️ Describe the bug

I found bug with non working calculation of tax. Looks like this related to https://github.com/YetiForceCompany/YetiForceCRM/commit/fad7da9adc4b282d1d0b36587692b8349871dbc0#diff-41b948707c294d05b9e433b16915e26f commit.

### 🔥 How to trigger the error

![globaltax](https://user-images.githubusercontent.com/8545791/82023657-46c89500-9697-11ea-8ecc-136fb49c684

[2020-05-15 07:33] vovpff commented on #13034
gif not working...
https://user-images.githubusercontent.com/8545791/82023657-46c89500-9697-11ea-8ecc-136fb49c6848.gif

[2020-05-15 13:02] #13034 closed, assigned to nobody

[2020-05-15 13:55] vovpff commented on #13034
Thx!

[2020-05-16 13:14] giannuzzo opened #13040 "[Question] Import leads from facebook"
Hi!
Is it possible to import leads from a campaign created by Facebook? Is there a module that allows integration with facebook?

[2020-05-17 00:50] mzagozdzon opened #13041 "[Question] BlankPage"
### Hi there !
I try to install Yetiforce on my VPS
Ubuntu 18.04, Apache2, PHP7.2
When I start https://mydomaine/yetiforce loogs looks:

[Sun May 17 02:35:11.707448 2020] [php7:error] [pid 820] [client 37.47.231.119:25261] PHP Fatal error:  Uncaught Exception: The bcmath library is missing in /www-data/www/html/yetiforce/include/RequirementsValidation.php:15\nStack trace:\n#0 /www-data/www/html/ye

[2020-05-17 01:24] mzagozdzon commented on #13041
I found solution. After install php7.2-bcmath everything work ok.

[2020-05-17 01:24] #13041 closed, assigned to nobody

[2020-05-17 10:55] farhadbarati opened #13042 "[bug] Persian PDF Problem"
hi,
does yetiforceCRM Persian language in exporting PDF. when i export pdf persian characters are disorderly. i've attached picture of sample:
![PDF-Problem](https://user-images.githubusercontent.com/47290937/82142571-88ea0600-9852-11ea-8532-e300be11a157.jpg)
thanks

[2020-05-17 11:01] farhadbarati opened #13043 "add a Jalali Calendar"
hi,
is it possible to add Jalali Calendar to yetiforceCRM?
thanks.

[2020-05-18 05:31] mariuszkrzaczkowski commented on #13043
https://github.com/YetiForceCompany/YetiForceCRM/issues/12823

[2020-05-18 05:31] #13043 closed, assigned to nobody

[2020-05-18 06:50] amrohitrana opened #13046 "Installation Issue in docker file"
Hi Team,

i have done installation process . its facing again and again  issue unsuccessful installation. can you please help me.
error screenshot is below.
![image](https://user-images.githubusercontent.com/47378825/82182475-f6a13b00-9901-11ea-9056-21b86f1c8770.png)

[2020-05-18 07:26] federico0100 commented on #13023
Good morning.
The problem is not with the database, but with the folders or the files. In fact, I recovered a backup on which I restored the database, solving the problem of functionality.

[2020-05-18 07:32] mariuszkrzaczkowski commented on #13023
this is a problem with user roles,
maybe you deleted something
maybe the permissions didn't refresh properly

[2020-05-18 07:33] mariuszkrzaczkowski commented on #13046
logs

![github](https://user-images.githubusercontent.com/10198654/82186095-9bb01980-98ea-11ea-896c-55dc324b2dbf.jpg)

[2020-05-18 07:34] federico0100 opened #13047 "[Error] There is no record with identifier 1"
### 📷 Screenshot of configuration
![1](https://user-images.githubusercontent.com/62551450/82185784-0e6cc500-98ea-11ea-8b42-65766ebbd510.jpg)
![2](https://user-images.githubusercontent.com/62551450/82185786-0f055b80-98ea-11ea-9017-97a3820c7a68.jpg)

[2020-05-18 07:34] mariuszkrzaczkowski commented on #13046
how you run the docker?

[2020-05-18 07:38] mariuszkrzaczkowski commented on #13047
you have deleted the basic entry in MultiCompany which is used in roles and user because of that you have an error

https://gitdeveloper.yetiforce.com/index.php?module=MultiCompany&view=Detail&record=1

[2020-05-18 07:38] #13047 closed, assigned to mariuszkrzaczkowski

[2020-05-18 13:51] Ani-h opened #13048 "[Question]"
### Description

[2020-05-18 13:56] Ani-h commented on #13048
Hi,
I would like to add a persons name to the PICKLIST sales invoice, quote, ...
When opening the drop down menu "Select picklist"  (in FIELDS-PICKLIST) then there are only some fields that can be changed.
Thus I need to add the fild "contact person" to the drop down menu.
I guess only then I would be able to add values (in that case different peoples names).
Any idea?
I would be very grateful for

[2020-05-18 15:45] vdpawel commented on #13048
I am not sure if I understood correctly, you can create a new module and make a 1:M relation with the sales invoice module or other modules.

[2020-05-18 16:05] vdpawel commented on #13048
Here's the instruction
https://easyupload.io/z329j2

[2020-05-19 09:33] Ani-h commented on #13048
thanks!

[2020-05-19 09:42] #13048 closed, assigned to nobody

[2020-05-19 10:22] Ani-h opened #13054 "[Question]"
### Description

[2020-05-19 10:30] #13054 closed, assigned to nobody

[2020-05-19 10:38] Ani-h commented on #13054
Hi, for some reason, I can't activate a new User (very last one at the picture)
as the status can't be selected.
Also, at the bottom right t
Ther is no edit buttom - only a resore-button is visable.

Could you let me know how I could activate the new user?

Thank you very much in advance!!!

[YF new USER how to activate.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/4649829/YF.new.USE

[2020-05-19 11:10] Ani-h opened #13055 "[Question]"
### Description

[2020-05-19 11:11] Ani-h commented on #13055
Hi, for some reason, I can't activate a new User (very last one at the picture)
as the status can't be selected.
Also, at the bottom right
There
[YF new USER how to activate.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/4649965/YF.new.USER.how.to.activate.pdf)
 is no edit buttom - only a resore-button is visable.

Could you let me know how I could activate the new user?

Thank you ve

[2020-05-20 10:04] vovpff opened #13057 "[bug] Cyrillic website address can'be saved"
# 🐞 bug report

### ⁉️ Describe the bug

A lot of Russian companies now has Cyrillic website address like `элтранс.рф` but this is impossible to save record if this address contains Cyrillic.

- [x] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

[2020-05-21 04:28] waran70 commented on #12829
Kinda of missing reporting replacement. Good idea.

[2020-05-21 10:00] vdpawel opened #13062 "[bug] [PL] ModTracker - powielanie wpisów w historii zmian przez wyzwalacz: aktualizuj rekord"
# 🐞 bug report

### ⁉️ Describe the bug

Po ustawieniu w wyzwalaczach funkcji: "aktualizuj rekord", w historii zmian jest multiplikowany wpis, tyle razy ile jest ustawionych powyższych funkcji.

![obraz](https://user-images.githubusercontent.com/62466142/82547338-dbc90380-9b59-11ea-9655-083aa9539426.png)

### 🔥 How to trigger the error

W wyzwalaczach w wybranym module, ustawić funkcję aktualizuje

[2020-05-21 10:06] mariuszkrzaczkowski commented on #13062
sprawdź na wersji deweloperskiej, ten mechanizm był przebudowany

[2020-05-21 10:13] vdpawel commented on #13062
W wersji deweloperskiej działa świetnie! (wcześniej nie mogłem ustawić wyzwalacza w wersji dev)
Dziękuję i pozdrawiam

[2020-05-21 10:13] #13062 closed, assigned to nobody

[2020-05-21 11:45] csych opened #13063 "[Question] Invoice - tax rate in product table?"
I'd like to generate invoices including tax rate for each product or service inside product table. Is there any way to achieve that?

I've found this code to use in PDF template:
[code]

It has everything I need except tax rate. I'd appreciate any help.

[2020-05-21 15:38] vovpff commented on #13063
Put tax to columns

[2020-05-21 16:12] blu-IT opened #13064 "[Question] How to update database from 5.2 to 5.3 (SP1 v4)"
Hello,

I tried an update from 5.2 to 5.3 the "regular way" with zip-package, see here:

https://github.com/YetiForceCompany/YetiForceCRM/issues/12735#issuecomment-606533766

But no way.

So I did a **clean install from the scratch with 5.3 on a new vm** an installed also 5.3 SP1 v4, dropped database, imported database from 5.2 and hoped when logging in, the system would recognize the old database

[2020-05-21 17:50] csych commented on #13063
@vovpff I tried that. But "tax" returns tax amount (e.g. 100 EUR). What I need is product's tax rate (e.g. 22%).

[2020-05-21 18:25] vdpawel commented on #13063
Try tax_percent...

[2020-05-21 18:36] csych commented on #13063
@vdpawel doesn't work

[2020-05-22 08:58] Sall2 opened #13065 "[Pytanie] Nagłówek PDF"
Witam,
czy jest możliwość ustawienia nagłówka tylko na pierwszej stronie faktury?

[2020-05-22 11:36] diderich commented on #12862
My workaround to address the issue:

`                                {if $ACTIVITY->getDisplayValue('location') !== ''}
                                    {if (strpos($ACTIVITY->getDisplayValue('location'), 'http:') !== false || strpos($ACTIVITY->getDisplayValue('location'), 'https:') !== false)}
                                        ,&nbsp;<a target="_blank" href="{($ACTIVITY->getDisplayValue

[2020-05-22 16:10] giannuzzo commented on #13040
please answer

[2020-05-22 16:50] copyyour opened #13066 "[Question] change Password"
Hello everyone, I want to change the password in my personal settings, but nothing happens after clicking, I do n’t know what is going on, I hope to get help.
The version I use is 5.3. My default smtp is also set up and ready to use.

[2020-05-23 06:55] vdpawel commented on #13065
Tak, wtedy nie ustawiasz nagłówka, tylko normalnie wstawiasz to co potrzebujesz w treści na samej górze - będzie tylko na pierwszej stronie.

[2020-05-23 07:04] vdpawel commented on #13063
Add Tax[%] in advanced block
![obraz](https://user-images.githubusercontent.com/62466142/82724147-4dc55800-9cd4-11ea-86f8-dc24e292afdf.png)

[2020-05-23 07:38] Sall2 commented on #13065
To wiem, aczkolwiek próbowałem sformatować tak górę strony aby wyglądała jak z nagłówkiem i chyba nie da rady. Nagłówek definiuje się tylko marginesem od góry i on "nakłada" się na treść, a w drugim przypadku logo powoduje przesunięcie tekstu, nie można użyć ujemnych marginesów we właściwościach obrazka.
Zupełnie inny jest też margines "od góry" strony.

[2020-05-23 08:22] vdpawel commented on #13065
Możesz spróbować zmodyfikować kod, na przykładzie tego zgłoszenia #12898 (tu akurat jest inna stopka) lub w plikach app/Pdf.

[2020-05-23 16:30] truefriend-cz commented on #11330
satishkakani do you can public step by step how changing files for settings?

[2020-05-24 01:20] ghost opened #13072 "Main page"
Hello, I was confused as how to use yetiforce. Is all yetiforce just an admin panel? how can I link it to my main website?

[2020-05-24 01:59] waran70 commented on #13072
If you are still confused the answer is: https://yetiforce.shop/index.php?option=com_djcatalog2&view=item&id=27:platinum-package&cid=8:technical-support&Itemid=1071

Otherwise pls avoid throwing such an "out of space" confusions.

[2020-05-24 02:10] ghost commented on #13072
What do you mean "out of space" ? I thought this was the place for the free support? sry if wrong.

[2020-05-24 14:35] nerimic opened #13075 "[bug] Calendar widget, links for events are not available"
# 🐞 bug report

### Calendar widget, links for events are not available

### 👎 Actual Behavior

The events labels are visible but the link is not active

### 👍 Expected Behavior

A link to the event clicking in to the event's label

### ❗️ Inform the community if you solve the problem

Change:
            div class="fc-bg">' +^M
To:
            div class="fc-bg" style="pointer-events:none">' +^M
I

[2020-05-24 15:18] vdpawel commented on #13072
Yetiforce consists of a section intended for users and a control panel.
In the control panel, as required, panels, modules, widgets and other functionalities should be designed to give users a data management tool.

In many solutions, Yetiforce is integrated with other systems, e.g. Magento for ecomerce.

Read about CRM systems.

Here you have some useful information:
https://yetiforce.com/en/know

[2020-05-24 18:42] #13072 closed, assigned to nobody

[2020-05-24 18:50] z0lo13 opened #13076 "[Question] is it possible to create a link to a vue knowldge base record preview?"
### Description

[2020-05-24 18:52] z0lo13 opened #13077 "[Question] is it possible to create a link to a vue knowldge base record preview?"
### Description

Before vue Knowledge Base it was possible to create a link for example:
`https://gitdeveloper.yetiforce.com/index.php?module=KnowledgeBase&view=FullScreen&record=435422`
As the module is completely rebuild seems like there is no such functionality.

[2020-05-24 18:59] vdpawel commented on #13077
After entering the hyperlink, an error occurred ...

![obraz](https://user-images.githubusercontent.com/62466142/82762426-3932ae00-9e01-11ea-8262-aba12fbab663.png)

[2020-05-24 19:00] z0lo13 commented on #13077
@vdpawel yes that feature was available on older version of yetiforce (4.4.0)

[2020-05-24 19:01] #13076 closed, assigned to nobody

[2020-05-25 05:26] rskrzypczak commented on #13046
no activity so I'm closing the issue.

[2020-05-25 05:26] #13046 closed, assigned to nobody

[2020-05-25 12:53] blu-IT commented on #12735
OK, just to give a hint/update for people with the same problems mentioned here:

I took my php.ini form a fresh installation (see #13064) and copied it to this system. After that I could update Yetiforce with the ZIP-Package to V. 5.3 and then via internal yetiforce tools to 5.3 SP4.

[2020-05-25 12:55] blu-IT commented on #13064
So, after I solved the update problem on my old system (#12735) I imported the database to the new system and after a language update now erveything seems fine.

I would be nice to have some update script for the database only, when in such circumstances...

[2020-05-25 12:55] #13064 closed, assigned to nobody

[2020-05-25 13:41] z0lo13 commented on #12737
@vovpff do you have an update on it?

[2020-05-25 17:12] vovpff commented on #12737
@z0lo13 I don't have solution for this time. I never used this widget after issue.
I has noticed what I have a lot of null widhets in database:
[code]

[code]
But I has no free time to solve this :(

[2020-05-25 17:33] martin-crockett opened #13080 "[Question] error when adding record"
hello i have a problem. when i create a new record in my custom module, it gives me this error message. but when i go back in my module the record is there and i can modify it and the error does not show when i save it. the error is only there when a new record is added.

what could be the problem ?

![image](https://user-images.githubusercontent.com/45770116/82833352-c28ec280-9e8b-11ea-940c-a3233

[2020-05-25 17:33] apcloic opened #13081 "[bug] Send email task WF, missing message sender (from)."
Hi,

I'm using YF 5.3.0 with SPv4 on a Ubuntu dedicated VPS.

CRON & SMTP (postfix) are OK.
Test email received, SPF, DKIM & Dmarc = pass.
Sending an email from Roundcube using my SMTP : OK, message received.

Then, I've tried to send email using a workflow :
- sending email using an Email Template : OK
- send a simple email using **"send email" task -> KO !**
I've tried with a fixed email and als

[2020-05-25 17:36] martin-crockett commented on #13080
u_yf_crm_entity_label table (nobody touched this)
![image](https://user-images.githubusercontent.com/45770116/82833661-a8091900-9e8c-11ea-83ad-fcf5cb292f6a.png)

[2020-05-25 17:38] martin-crockett commented on #13080
vtiger_crmentity table (nobody touched this)

![image](https://user-images.githubusercontent.com/45770116/82833747-f28a9580-9e8c-11ea-8ef2-1b2cf10bfc04.png)

[2020-05-25 19:32] z0lo13 commented on #12737
@vovpff @mariuszkrzaczkowski
after doing some investigation i am thinking it is due to permissions to ModTracker module. somehow only admin have access to that module

[2020-05-25 21:05] z0lo13 opened #13082 "[Question] What is the point of "Link the record meeting specified requirements while converting from Lead to Account""
What is the point of "Link the record meeting specified requirements while converting from Lead to Account" Setting in (https://gitdeveloper.yetiforce.com/index.php?module=MarketingProcesses&view=Index&parent=Settings)?

There is a closed issue similar to my question #11747
Does this feature is removed from system?

[2020-05-26 03:42] vdpawel commented on #13080
Here is the same problem #12768

[2020-05-26 04:44] #13080 closed, assigned to nobody

[2020-05-26 04:45] rskrzypczak commented on #13080
install [serviece pack v4](https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/5.3.0)

[2020-05-26 11:22] Giorgos-Hellene commented on #12750
i have the same screen error but on module Quote.
also a have lost the managing an advanced block (on edit )

Could you help me ?

[2020-05-26 13:53] blu-IT opened #13090 "[Question] Change status & priority of ticket (field is grey)"
Hello,

I am testing on V. 5.3 SP4.

I have some support tickets (Mails) in my queue (all waiting for validation/ "awaiting verification") and when trying to **change the status**, it isn't possible because the field is grey.

![Screenshot_2020-05-26 Tickets Test 9](https://user-images.githubusercontent.com/13665806/82908858-da884400-9f68-11ea-9dbe-6befe1dd2f92.png)

Even with a new self created t

[2020-05-26 14:28] blu-IT commented on #13066
Is there any message or confirmation when changing your password?
Can you post a screenshot?

[2020-05-26 15:07] martin-crockett commented on #12768
i changed it like you said and it fixed it , thanks alot !!!

[2020-05-26 17:43] acoolov opened #13091 "[Feature] Please remove ugly gray area in the comments"
Hello friends,

Can you guys please remove that ugly gray area from the comments? It looked so much better without the gray square in the comments. Just regular white background.

Thanks.

[2020-05-27 02:07] copyyour commented on #13066
I tested it, it should be the problem of sp4, I replaced the relevant files back to the original version of 5.3, this problem was solved. .

The previous problem was that after clicking Change Password, the complete password change interface was not displayed

[2020-05-27 02:10] copyyour opened #13092 "[Question] Multiple assigned"
Hello everyone, I want to set up multiple responsible persons in the project management, but in the related fields in the added field, the person responsible is not found. How can I solve this problem, thank you very much.

[2020-05-27 05:15] vdpawel commented on #13091
Gray areas are cool for me, you should look for a solution where to change it on your system.
![obraz](https://user-images.githubusercontent.com/62466142/82980451-cd5f6980-9fe9-11ea-88d2-7e49bbaf48a8.png)

[2020-05-27 05:21] vdpawel commented on #13090
I may be wrong, but this field may be gray because it is changed by triggers when the appropriate conditions are met and the user should not change this field.

[2020-05-27 05:26] waran70 opened #13093 "[Question] Two portals > one crm"
Hi guys

how complex would be allowing for more portals connected to one crm?

Cheers

[2020-05-27 05:46] mariuszkrzaczkowski commented on #13093
no problem, it's enough that each portal has a separate Web service - Applications server
to which you will assign separate permissions

[2020-05-27 06:40] waran70 commented on #13093
tnx. Missed this little thing :)

[2020-05-27 06:40] #13093 closed, assigned to nobody

[2020-05-27 10:52] blu-IT commented on #13090
@vdpawel Thanks for your suggestion!

Well, I did not define any conditions that ticket should be locked that way. Is this the "out of the box" behavior of yetiforce crm?
And where can I control conditions to see if anything has been set.

Thanks!

[2020-05-27 10:56] blu-IT commented on #13091
Well, I must admit grey is irritating - reminds me of my problem here ;-)

https://github.com/YetiForceCompany/YetiForceCRM/issues/13090

[2020-05-27 11:49] apcloic opened #13094 "[bug] Workflow module - missing 'is empty' condition for multi-select combo box"
Hi,

Some conditions like 'is empty' or 'is not empty' are missing on Workflow module for multi-select combo box.

[X] I confirm that I tested it at https://gitstable.yetiforce.com

Temporary workaround fix :
- edit workflow directly from the database in com_vtiger_workflows table.
- replace existing with the following part "operation":"is empty","value":null

Regards,

[2020-05-27 11:54] Andrew-W-Robinson opened #13095 "Bug - Campaign/Mass Email For Accounts not working"
Hi support, I'm using Yetiforce 5.3.0 and am creating a marketing campaign.
I have many accounts with primary email and I have configured the SMTP and the email is working.
Campaigns/Mass email works for both Leads and Contacts but not Accounts

The problem occurs when I tried to send email from the campaign module in Tabs Accounts,
when I select some accounts with the primary email address and cl

[2020-05-27 13:37] blu-IT commented on #13092
Do you have defined groups/departments in your systemwide config? If so, you should be able to define a group as responsible.

[2020-05-27 14:31] vovpff commented on #13094
@apcloic check `/modules/Vtiger/helpers/AdvancedFilter.php` and try to add missing conditions.

[2020-05-27 14:37] vovpff commented on #12760
self-solved

[2020-05-27 14:37] #12760 closed, assigned to mariuszkrzaczkowski

[2020-05-27 15:35] allyh12 commented on #12760
Hi, could you please share on the solutions? Thank you so much.

[2020-05-27 16:33] apcloic commented on #13094
@vovpff Thanks for you suggestions.

[2020-05-27 17:14] mariuszkrzaczkowski commented on #13094
create pull request 🙂

[2020-05-27 17:18] vovpff commented on #12760
@allyh12  `TextParser::textTruncate` was duplicated in core files with other name with ignored `listview_max_textlength` and set 10000 symbols instead.

https://github.com/YetiForceCompany/YetiForceCRM/blob/42430532d77c0caaf8e32a0390ae26e345411078/app/Layout.php textTruncate was replaced to new function name

this https://github.com/YetiForceCompany/YetiForceCRM/issues/12760#issuecomment-616325332

[2020-05-27 19:49] C-G-White commented on #12982
Has anyone made any progress with this issue.  I have just done 2 installations one on HostPapa which was done with their installation system through cPanel and another one on Siteground from scratch.   Both of these installations are using 5.3.0 YF and neither of them allow mail templates to be used in Roundcube.  I have ensured that there are templates set to "Message" to no avail.

Any assistan

[2020-05-28 02:24] allyh12 commented on #12760
@vovpff Thank you so much. Is it possible to include these line breaks when the record is exported to PDF? PDF still not showing the line breaks.

[2020-05-28 02:31] allyh12 commented on #12760
@vovpff Thank you so much!

[2020-05-28 03:28] copyyour commented on #13092
thank you

[2020-05-28 03:28] #13092 closed, assigned to nobody

[2020-05-28 05:51] mariuszkrzaczkowski commented on #13095
start by improving the server configuration, it can cause a lot of errors

[2020-05-28 06:17] #12932 closed, assigned to mariuszkrzaczkowski

[2020-05-28 07:17] vovpff opened #13099 "[bug] 5.3 Whole products list when adding to Price Books"
# 🐞 bug report

### ⁉️ Describe the bug

I has noticed lags when I add products to Price Book. Cause of bug - all products loaded to page instead standard 30 items per page.

![image](https://user-images.githubusercontent.com/8545791/83109151-8b0d5980-a0c9-11ea-85a5-deaf73e53b41.png)

### 👷 Testing

- [х] I confirm that I tested it at https://gitstable.yetiforce.com
Works well
- [ ] I confirm that

[2020-05-28 07:18] vovpff commented on #13099
@mariuszkrzaczkowski Where to dig?

[2020-05-28 07:27] mariuszkrzaczkowski commented on #13099
where does this modal appear?

[2020-05-28 07:28] vovpff commented on #13099
just one difference between my prod and fresh 5.3 in Products
[code]

[2020-05-28 07:29] vovpff commented on #13099
@mariuszkrzaczkowski Select Records button in Products tab of Price Book
![image](https://user-images.githubusercontent.com/8545791/83112005-2b657d00-a0ce-11ea-91fd-c5530bff75f4.png)

[2020-05-28 12:05] vovpff opened #13100 "[bug] 5.3 bug with products category and Products and Services tab"
# 🐞 bug report

### ⁉️ Describe the bug

Now in my local system I has 3 products `pr1`, `pr2` and `pr3`

Screenshot from `vtiger_products` table

![image](https://user-images.githubusercontent.com/8545791/83138509-91b0c680-a0f3-11ea-88d0-721427871b18.png)

Screenshot from `vtiger_trees_templates_data` table

![image](https://user-images.githubusercontent.com/8545791/83138990-51057d00-a0f4-11ea-9a4

[2020-05-28 12:18] asperitigroup opened #13101 "[Question] Trouble locating "attention" field in vtiger_account"
I'm trying to change the field type of a field in vtiger_account from text to mediumtext but I can't locate the required field in myphpadmin! The field is from the Description details section of accounts and the field name is "attention", but I can't find this anywhere in vtiger_account or vtiger_accountaddress. Where is this field located?

[2020-05-28 12:24] vovpff commented on #13101
@asperitigroup fields `description` and `attention` located in `vtiger_crmentity` table for all records in the system.

[2020-05-28 12:54] asperitigroup opened #13102 "[Question] Changing field type to mediumtext in table using phpmyadmin"
I changed the field type of a notes field in the contact table to mediumtext using phpmyadmin, but when I edit the record, it still warns me that the maximum permitted size is 65535, not 16777215. If I use the YF edit fields module, I can't change the maximum field length, it keeps reverting to 65535. How do I get the field to accept more than 65535 characters?

[2020-05-28 13:01] rskrzypczak commented on #13102
https://github.com/YetiForceCompany/YetiForceCRM/issues/13002#issuecomment-625243698

[2020-05-28 13:01] #13102 closed, assigned to rskrzypczak

[2020-05-28 13:07] #13101 closed, assigned to nobody

[2020-05-28 14:13] asperitigroup opened #13103 "[Question] Identifying correct "Attention" field in vtiger_field"
How do I identify the correct "attention" field that displays on the Account Description Details page? In vtiger_field there are dozens of fieldnames "attention" all belonging to the vtiger_crmentity table.
What does the field "block" mean in the vtiger_field table? Do I have to find the block number that displays the particular "attention" filed on the account details page?

[2020-05-28 14:35] asperitigroup commented on #13103
OK, I found that the tabid 6 identifies the table "accounts" so I was able to locate the "attention" field belonging to tabid 6 in vtiger_field, and change the maximum value to 16777215 to match the field type that I changed in the crmentity table for the attention field - from TEXT to MEDIUMTEXT

[2020-05-28 14:35] #13103 closed, assigned to nobody

[2020-05-28 15:02] asperitigroup opened #13104 "[Question] Change field label on Accounts screen"
How do I change the field label from "Comments" to "Notes" on the Account Details page?

![image](https://user-images.githubusercontent.com/58600791/83158276-7eeebf80-a0fc-11ea-82a6-8460448730f4.png)
![image](https://user-images.githubusercontent.com/58600791/83158416-a9407d00-a0fc-11ea-88b9-b8f71ca8ba1e.png)

[2020-05-28 17:37] vovpff opened #13105 "[bug] Payments status is grey"
# 🐞 bug report

### ⁉️ Describe the bug

I found solution of but what known from 5.2 for example on this issue https://github.com/YetiForceCompany/YetiForceCRM/issues/11664#issuecomment-541436836

I never used `Payments In` before but found what every new payment has Created status what can't be changed.

Cause of problem what status default value is `Created` instead `PLL_CREATED`

### 👷 Testing

[2020-05-28 18:44] vovpff commented on #13104
@asperitigroup this is good question. You can easy change translation of `Desription` label by Language Management but `Comments` not replaced with standard tools

[2020-05-29 05:23] rskrzypczak commented on #13105
Thanks but you should change default value only for paymentsin_status.
I think you can't change the status in the Payments Out module now :)

[2020-05-29 05:23] #13105 closed, assigned to rskrzypczak

[2020-05-29 06:08] rskrzypczak commented on #11664
You have wrong relationship between Invoice and Payment modules.
You should have 1:M and you have M:M
You've probably changed it yourself and you have a mistake.
You need to be careful with relationships
![image](https://user-images.githubusercontent.com/10221999/83226528-7e990780-a182-11ea-8590-6bf20cd437b6.png)

[2020-05-29 06:08] #11664 closed

[2020-05-29 06:28] #13094 closed, assigned to nobody

[2020-05-29 06:34] rskrzypczak commented on #13028
No activity, so I close.

[2020-05-29 06:34] #13028 closed, assigned to nobody

[2020-05-29 06:47] #12985 closed, assigned to nobody

[2020-05-29 06:55] vovpff commented on #13105
@rskrzypczak yes you right! My mistake

[2020-05-29 08:05] asperitigroup commented on #13104
Is it possible to edit a php file to "hard code" this change? I realise that this would not survive a system update, but the fix could be re-applied after update.  Which php file would I need to edit to do this?

[2020-05-29 08:32] rskrzypczak commented on #13104
Change or add (if there is no translation in the language settings) and everything will be fine.
![image](https://user-images.githubusercontent.com/10221999/83238484-c9bd1580-a196-11ea-9607-d50bdaa3ca34.png)
![image](https://user-images.githubusercontent.com/10221999/83239075-99c24200-a197-11ea-9c64-80ff23e5412d.png)

[2020-05-29 08:32] #13104 closed, assigned to nobody

[2020-05-29 09:58] federico0100 opened #13106 "[Error] Cron: syntax error, unexpected end of file, expecting ']'."
![SharedScreenshot](https://user-images.githubusercontent.com/62551450/83247130-671e4680-a1a3-11ea-8e78-ef163e678761.jpg)

This message appears when I try to enter the yeti administration. I believe it is a consequence of the end of the free disk space. Now I have added 30GB of space.

Thanks

[2020-05-29 10:01] mariuszkrzaczkowski commented on #13106
duplicate https://github.com/YetiForceCompany/YetiForceCRM/issues/12299

[2020-05-29 10:01] #13106 closed, assigned to mariuszkrzaczkowski

[2020-05-29 12:27] asperitigroup commented on #13104
Works perfectly, many thanks.

[2020-05-29 13:55] rtorrescodes commented on #12750
@Giorgos-Hellene
Hi, have you tried to install the lates version or upgrade?  this has been fixed as i reported it. Now its fixed with the latest update.

[2020-05-29 15:14] Giorgos-Hellene commented on #12750
@rtorrescodes Thank you for your response ! Yes, i have the latest update.

[2020-05-29 15:16] rtorrescodes commented on #12750
@Giorgos-Hellene  Well, i just dont know. I just reported the issue, and someone fixed in the last update.  I was trying over and over, until they fixed.  I'm sorry i could not help.

[2020-05-29 15:18] Giorgos-Hellene commented on #12750
@rtorrescodes Really thank you for your try !!

[2020-05-29 18:37] csych commented on #13063
@vdpawel I followed your advice. Unfortunately it didn't work.

[2020-05-29 23:11] z0lo13 commented on #11609
is it possible to expand subprocess field with another modules?

[2020-05-30 02:21] IanMuller opened #13111 "[Question] Need to style differently 3 related lists in one pdf"
Guys, created PDF template and embedded related records lists (three)
I need to style those related records list separately (different table dimensions, text size etc)
What would be the shortest way to do so?
Thank you for help

[2020-05-30 02:28] waran70 commented on #11493
Martin, did you managed to find solution for independent PDF styling?

[2020-05-30 09:18] copyyour opened #13112 "[Question] I have trouble setting up smtp"
I have trouble setting up smtp

When the setting is completed, you can receive a reminder email of the successful setting
However, when the email is triggered through the workflow, the following error message appears

The following From address failed:: MAIL FROM command failed, "MAIL FROM" doesn't conform with authentication [@ sm060104] (Auth Account: peng@pkuw.vip | Mail Account :)
, 436, SMTP

[2020-05-30 11:43] mad99 commented on #11493
Hey waran70,
At the end it was easier for me to do it from scratch.
So I wrote a MasterClass with my own functions and hardcoded html-printout with CSS in php-code. Therein I wrote own sql-queries copied from other classes found in YetiForm and own limited knowledge.

So the invoice-modul is the main-reason why I have mixed feeling with YetiForce.
But it's free. Soi it's just brilliant. But the am

[2020-05-30 12:08] vdpawel commented on #13063
this is not the best solution, I don't know if it works for you
in this file:
app/TextParser/ProductsTableNew.php

try to modify the lines 48 and 84 and add the value there: 'TaxPercent'

in the pdf template, add ProductsTableNew

result:
![obraz](https://user-images.githubusercontent.com/62466142/83327602-5e9a3e80-a27d-11ea-849e-3fb659662967.png)

[2020-05-30 14:09] apcloic commented on #13111
@IanMuller
I think you have to create your own textparser script.
#11491
Regards,

[2020-05-30 14:15] apcloic commented on #13112
@copyyour
I also have problems with email function through workflow while smtp test email works great.

Did you try using an email template instead of a simple send email task ?

[2020-05-30 14:19] apcloic commented on #13094
@vovpff Thanks for the pull request! 👍
I definitely need to learn how to do pull requests 😉

[2020-05-30 14:22] Ahm3dsay3d opened #13113 "[Question] Adding Products/Invoices block is not visible in Sales Invoices - YetiForce - self hosted"
Adding Products/Invoices block (Image below) is not visible in Sales Invoices.... It was working perfectly a day ago. Until I changed something in the settings( do not know which) that caused this problem.
Any way that I can retrieve it back.

Version: YetiForce CRM 5.3 Service Pack v4

![image](https://user-images.githubusercontent.com/31971854/83330753-a925b600-a291-11ea-820e-59c8bbec3c15.png)

[2020-05-30 14:38] #12669 closed

[2020-05-30 15:59] copyyour commented on #13112
Thank you
I set up a simple email to send, and did not use the template

[2020-05-30 16:17] #13066 closed, assigned to nobody

[2020-05-30 16:44] copyyour opened #13114 "[Question] searching for Chinese"
Hello everyone, I am a Chinese user. When I was using it, I found that searching for Chinese characters did not work. How should I set it up? Thank you very much

[2020-05-31 13:12] csych commented on #13063
@vdpawel Thanks a lot!! I created new ProductTable file based on existing one. Then I modified it like you wrote (with small change only) and it's working now.

[2020-05-31 13:32] #13063 closed, assigned to nobody

[2020-05-31 13:53] vdpawel commented on #13113
Software configuration -> Standard modules -> Edit fields -> Managing an advanced block -> Item name -> Edit -> add Modules: Products, Services

![obraz](https://user-images.githubusercontent.com/62466142/83354021-d1c3b380-a356-11ea-9de5-fbbd525b0da7.png)

[2020-05-31 19:08] csych opened #13116 "[Question] Expand tax summary on invoice - polish requirements"
I'm trying to adjust invoice template according to polish law requirements. That's why I need a bit more complex tax summary. I took a look at TableTaxSummary.php but unfortunately I won't be able to code it by myself.

At the moment tax summary on invoice looks like this (example with one tax rate only):
23% | 138 zł
------------ | -------------
**Amount** | **138 zł**

I need it to look like thi

[2020-06-01 05:02] fbojan commented on #13116
I myself have such a problem, because Slovenia needs to show both amounts.

[2020-06-01 05:38] mariuszkrzaczkowski commented on #13114
give an example and a place to search

[2020-06-01 05:41] mariuszkrzaczkowski commented on #13094
https://www.youtube.com/results?search_query=github+pull+request

[2020-06-01 12:55] jmginfor commented on #13116
Same here. And multiple taxes too.

[2020-06-01 14:43] kalle3e opened #13117 "[Question] Comments Contacts badge counts not shown for RelatedListCount"
### Description

In the version 5.3 I downloaded
Comments and Contacts badge counts not shown for RelatedListCount on the header.
![Screenshot from 2020-06-02 00-32-51](https://user-images.githubusercontent.com/64237549/83419840-13dd1a00-a469-11ea-8ffe-fd5ebd766693.png)
![Screenshot from 2020-06-02 00-31-41](https://user-images.githubusercontent.com/64237549/83419919-353e0600-a469-11ea-938a-52dd9a

[2020-06-01 15:06] vovpff commented on #13117
`/config/Relation.php`

[code]

[2020-06-01 15:06] #13117 closed, assigned to nobody

[2020-06-01 15:07] vovpff commented on #13099
@mariuszkrzaczkowski Any solution?

[2020-06-01 15:08] vovpff commented on #13057
Any updates?

[2020-06-01 22:23] waran70 opened #13118 "[Question] Quick check"
Hi girls

does integration with asterix working? Anyone got it life?

Cheers

[2020-06-01 22:29] waran70 opened #13119 "[Question] Annoying one"
When 5.4 may eventually happen?

Cheers

[2020-06-02 06:11] #13099 closed, assigned to mariuszkrzaczkowski

[2020-06-02 07:08] vovpff commented on #13099
@mariuszkrzaczkowski thanks!

[2020-06-02 07:26] copyyour commented on #13081
I also encountered the same problem. This problem caused a 436 error in workflow sending emails. The cause of the error was that the sending email account was inconsistent with the smtp email account. Please help the administrator to solve it, thank you very much.

[2020-06-02 07:28] copyyour commented on #13092
thank you

[2020-06-02 08:52] asperitigroup opened #13126 "[Question] Date Text in calendar column headers in week view."
Is it possible to change the date format to UK style DD/MM in the calendar headers?  At the moment, Monday 8th June is displayed as Mon 6/8.  I would like it to show as Mon 8/6.
![image](https://user-images.githubusercontent.com/58600791/83500499-bec7f500-a4b6-11ea-9af4-ad5581234caf.png)

[2020-06-02 13:26] kalle3e opened #13128 "[Question] Newly setup of YetiforceCRM on Ubuntu causing problems"
I just can't work out why adding comments work at one point then it doesn't. Also the count badges also disappear. Help! I thought it's got to do with file and user permissions but they seem to look in order so still can't figure it out.
![add comment doesnt work here](https://user-images.githubusercontent.com/64237549/83525435-5154ac80-a528-11ea-8055-c6c198229160.png)
![add comment doesnt work fr