[2021-02-15 15:18] apcloic commented on #14235
@waran70 This is not a YF bug, you have to check/review [Gmail configuration](https://www.google.com/search?q=534-5.7.14+534-5.7.14+Please+log+in+via+your+web+browser+and+then+try+again&oq=534-5.7.14+534-5.7.14+Please+log+in+via+your+web+browser+and+then+try+again&aqs=chrome..69i57j69i61l2.489j0j7).

Enable 2FA and create application password then it should work.
Regards,

[2021-02-15 19:43] MixTecnico opened #14236 "server change"
query change server, everything is fine ... but I have some example errors when deleting multiple records, and navigating between different records, etc ...

I do not have an error log, did you open any way to solve it?

[2021-02-15 19:47] #14235 closed, assigned to mariuszkrzaczkowski

[2021-02-15 19:49] mariuszkrzaczkowski commented on #14236
![github](https://user-images.githubusercontent.com/10198654/107987971-529f0a00-6fcf-11eb-9d9c-d5327405e4dc.jpg)

[2021-02-15 19:49] #14236 closed, assigned to mariuszkrzaczkowski

[2021-02-15 20:07] MixTecnico commented on #14236
It is not an error, it seems to me a migration problem which would be the correct way to migrate to another server

[2021-02-16 00:20] myanesdiazl9 opened #14237 "YetiForce Portal2 Installation"
YetiForce Portal 2 failed to install. I appreciate any help you can give me
![Screenshot from 2021-02-15 19-51-19](https://user-images.githubusercontent.com/68311999/108004056-14075080-6fcb-11eb-866a-4520504b63a5.png)

[2021-02-16 03:50] vovpff commented on #14209
@mariuszkrzaczkowski Thank you!

[2021-02-16 06:19] mariuszkrzaczkowski commented on #14237
https://github.com/YetiForceCompany/YetiForceCRM/issues/13870#issuecomment-738006519

[2021-02-16 06:19] #14237 closed, assigned to mariuszkrzaczkowski

[2021-02-16 06:21] #14165 closed, assigned to nobody

[2021-02-16 06:23] mariuszkrzaczkowski commented on #14200
![github](https://user-images.githubusercontent.com/10198654/108026001-cbca4b80-7027-11eb-9e3d-e6bc14ce0748.jpg)

[2021-02-16 09:20] gsportelli73 opened #14241 "Mapping new supplier in new leads"
Hello,
i have a question, i have created a map between supplier and lead.
I want to create new leads when i create new supplier into CRM.
I have create the mapping match. Watch video
[https://youtu.be/IV2nQ9q55Rg](url)

Now i think that is correct.
But it doesn't function.
For me best solution was create a workflow that when i create new supplier, it automatically creates new lead.
This is importa

[2021-02-16 12:34] eissaweb opened #14242 "How to Change column Text (<td>) while report Finvoice PDF"
Hi,

I want to edit the text of table columns while exporting Foinvoice into PDF.

the reason is: I want it to support Arabic, and I found the solution to make the text looks as expected, but I didn't no where to Change the columns name, like layout.tpl or something..

![image](https://user-images.githubusercontent.com/50566718/108063447-e6bab100-7063-11eb-871a-1ad4522aa390.png)

I just want to kn

[2021-02-16 12:56] mariuszkrzaczkowski commented on #14242
You can find all the translations in this file languages :
languages/en-US/Other/PDF.json
https://github.com/YetiForceCompany/YetiForceCRM/blob/ab0807f6006f30ab47fcb9df70d37856cc16fbb7/languages/en-US/Other/PDF.json#L28
languages/en-US/_Base.json
https://github.com/YetiForceCompany/YetiForceCRM/blob/1ac3c53c17a8951a7861e36d2529b0054d5a6f2c/languages/en-US/_Base.json#L1005

You only have to add it

[2021-02-16 12:56] #14242 closed, assigned to mariuszkrzaczkowski

[2021-02-16 13:06] deepti4666 opened #14245 "Opportunities Status Explanation"
Hi, Can anyone explain the opportunities statuses? and what each one does, so I can create a good workflow.  There is no documentation that gives an explanation of this.

[2021-02-16 13:32] #14245 closed, assigned to nobody

[2021-02-16 13:51] apcloic commented on #14241
@gsportelli73
Hi,
Check if all required fields are mapped, including "assigned to" field otherwise it won't work.

For this kind of issue, plz post your question in discussions section.
#13908

Regards,

[2021-02-16 14:24] davide-alghi commented on #10067
Hi @mariuszkrzaczkowski,
if I put style tag into PDF template, that is dropped; or am I forgetting something?
YF6.1 SP7

[2021-02-17 06:12] #14241 closed, assigned to nobody

[2021-02-17 18:15] samuelsituma opened #14253 "Sales Target issue"
How do I add record sales targets for users in different periods and record actual sales then compare if the user met the target we can reward them.

[2021-02-18 06:02] #14253 closed, assigned to nobody

[2021-02-18 14:11] deepti4666 opened #14256 "Link Opportunity to existing contact"
Hi, how do I link an existing contact to an opportunity and vice versa

[2021-02-18 14:12] #14256 closed, assigned to nobody

[2021-02-18 14:13] deepti4666 commented on #13280
I have the same issue, trying to connect an existing contact to a lead or opportunity

[2021-02-19 07:10] deepti4666 opened #14260 "Twilio for Calling / PBX"
How can I add Twilio for calling a contact from Yetiforce?

[2021-02-19 07:11] #14260 closed, assigned to nobody

[2021-02-19 10:18] waran70 opened #14263 "[bug] Email templatess stripped of hyperlinks"
Email templates being stripped of any hyperlinks upon saving. This also make impossible to
include basic html buttons etc. I should call it bug rather than limitation

Easy to test on dev and stable versions.

It should be allowed to get admins this flexibility of calling for instance scripts from emails templates.
If there is way around (instead of fixing it as a bug) I (and community I believe)

[2021-02-19 11:06] mariuszkrzaczkowski commented on #14263
Set domains in configuration will work
https://github.com/YetiForceCompany/YetiForceCRM/blob/2fbdbdc60dcb993246ef81ff507d7524286a646e/config/Security.php#L176-L177

[2021-02-19 11:06] #14263 closed, assigned to nobody

[2021-02-19 13:55] deepti4666 opened #14265 "[bug] Outlook integration panel not linking to store"
# 🐞 bug report

### ⁉️ Describe the bug

Outlook integration panel still looking for link in-store, but I had paid for it

### 🔥 How to trigger the error

![image](https://user-images.githubusercontent.com/57940552/108512978-9c873900-72ca-11eb-9095-91478bd10909.png)

Steps to reproduce the behavior:

My home page
System settings
Software configuration
Integration
Mail integration panel

### 👎 Actu

[2021-02-19 14:02] waran70 commented on #14263
did with localhost and IP and not working. Is TLD  mandatory? Can it be tricked somehow?

[2021-02-19 14:40] rskrzypczak commented on #14263
`public static $purifierAllowedDomains = false;`

[2021-02-19 15:15] davide-alghi opened #14266 "[bug] Profiles: not able to enable disabled actions/views"
# 🐞 bug report

If a new profile is created with some actions/views **disabled** and the **saved**, those actions/views can no longer be enabled.

### 🔥 How to trigger the error

https://user-images.githubusercontent.com/48508691/108522601-48318880-72cd-11eb-8f5a-fe91fcbe99d4.mp4

### 👎 Actual Behavior

enable not available

### 👍 Expected Behavior

enabling available

### 👷 Testing

- [x] I confi

[2021-02-19 21:16] waran70 commented on #14263
Thanks Radek,
How to allow  this?: `<button type="button" onclick="alert('You pressed the button!')">Click me!</button>`

[2021-02-20 15:41] deepti4666 commented on #14199
CSV import is not importing all the items, on either products, accounts, or vendors

[2021-02-20 22:26] mariuszkrzaczkowski commented on #14199
give sample file, more details.  what you wrote does not help others

[2021-02-21 06:25] JEEVAN28 opened #14270 "Change in Basic Color"
I am trying to edit basic colors, I tried with https://github.com/YetiForceCompany/YetiForceCRM/issues/13264 but no luck.

I have modified below files
public_html/layouts/basic/styles/_Variables.scss

$bg-navbar: #2A67B2; // #4a5364;

did cache refresh (Ctrl+Shift+R) but no luck

In config developer Minimize_CSS set to No

not able to get the result.

Please assist.

Regards
Jeevan Pendhari

[2021-02-21 14:06] eissaweb commented on #14242
Thank you very much. it helped.

[2021-02-21 15:02] mariuszkrzaczkowski commented on #14270
you need to generate a css file, see here
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/public_html/src/gulpfile.js

[2021-02-21 15:02] #14270 closed, assigned to nobody

[2021-02-21 17:34] huynhnt commented on #13979
I also got the same error when updating the system yesterday

1. If i go to "My mailbox" --> "Create a new mesage" icon --> Click (Download templete, Acounts, Contact, employees, Leads, Vendor, Parters, Competition" button ==> The popup to get email OK

2. But when i click "Send email" icon from any module (Ticket, account....) then Click (Download templete, Acounts, Contact, employees, Leads, Ven

[2021-02-22 06:38] rskrzypczak commented on #14270
For simplicity, only modify Main.css file

[2021-02-22 16:27] samuelsituma opened #14271 "Read only custom fields"
How do I make a custom field in YetiForceCRM read-only?

[2021-02-22 18:26] #14271 closed, assigned to nobody

[2021-02-23 00:04] emiquelito opened #14273 "Squash.io integration?"
Hello YetiForceCRM Community!

I'm with [Squash.io](https://www.squash.io/) and we wanted to support the YetiForceCRM  project by providing on-demand test environments for each Pull Request (i.e: a complete staging environment for each PR, running your full stack). Our service is free for Open Source projects like YetiForceCRM and we would be able to increase our standard limits as needed to provi

[2021-02-23 07:01] drakub opened #14276 "[Security]"
I was trying to create a custom landing page for yetiforce crm and then add a link to the actual login page. Can someone help on how to to this. Because when I link directly to the Login.Default.tpl, the browser prompts for file download; can someone guide me on how to go around this.

Or if it requires creation of additional function or class, how to do it?

Regards,

[2021-02-23 07:07] #14276 closed, assigned to nobody

[2021-02-23 08:09] JEEVAN28 commented on #14270
@rskrzypczak Hi, thanks I am able to change font size but not able to change color, can you please help me to reach exact code to change color

![image](https://user-images.githubusercontent.com/12723595/108816647-8cc66800-75dc-11eb-82f8-3aae65ef9df3.png)

Thanks in advance
Regards
Jeevan Pendhari

[2021-02-23 08:21] mariuszkrzaczkowski commented on #14270
![image](https://user-images.githubusercontent.com/10198654/108817638-80c8af00-75b8-11eb-916e-b2cfb4d28773.png)

[2021-02-24 04:17] rohanjhanepal opened #14281 "Can some one upload following folder for yetiforce 6.1.0"
some how the folder resources at public_html/layouts/basic/modules/Settings/LayoutEditor/resources/
was removed ,
could some one please upload and share link of resources folder @
public_html/layouts/basic/modules/Settings/LayoutEditor/resources

[2021-02-24 04:45] vovpff commented on #14281
Why you can't download it directly from github?

[2021-02-24 06:16] #14281 closed, assigned to nobody

[2021-02-24 07:45] JEEVAN28 opened #14283 "Issue in Sort Order in Popup List"
Hello,

I want to sort list shown in Popup while selecting project, I tried setting Sort Order in Filters in Settings, but no success. I checked on Gitdeveloper and found same issue. Please assist how to default sort the list shown in Popup

![image](https://user-images.githubusercontent.com/12723595/108964832-007e7880-76a2-11eb-86bb-54c96f1f115b.png)

This list does not sort
![image](https://user

[2021-02-24 08:15] vovpff commented on #14283
@JEEVAN28 try to specify sort order in `/module/MODULE_NAME/Module_name.php`

[2021-02-24 09:57] JEEVAN28 commented on #14283
@vovpff Done, thanks

[2021-02-24 09:57] #14283 closed, assigned to nobody

[2021-02-24 13:55] deepti4666 commented on #7012
I would like to a list of tasks with milestones for a certain project type, how would I go about doing this?

[2021-02-25 09:37] #14228 closed, assigned to nobody

[2021-02-25 09:48] #14182 closed, assigned to nobody

[2021-02-25 11:21] gsamushia opened #14289 "[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'permissions -> users'
2. Select user
3. Click on 'Actions -> export '
4. See error

### 👎 Actual Behavior
Can not export users. got error Incorrect value detected, please contact your administrator
 "
### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https:

[2021-02-25 11:28] ghost commented on #13838
Także z maila utworzonego z widżetu "emaile" (w Leadach, Kontrahentach, Zgłoszeniach,...), jako odpowiedź ale też jako nowy mail , nie działają ani szablony, ani "Wybierz plik z CRM".

[2021-02-25 11:46] davide-alghi commented on #14289
Hi @gsamushia,
this issue is already fixed in develop version

[2021-02-25 12:02] rskrzypczak commented on #14289
duplicate: https://github.com/YetiForceCompany/YetiForceCRM/issues/13927

[2021-02-25 12:02] #14289 closed, assigned to nobody

[2021-02-25 13:11] rohanjhanepal opened #14290 "How do i fix Call to undefined method App\RecordSearch::getSearchField()."
the error is shown below :
Call to undefined method App\RecordSearch::getSearchField().

![Screenshot (2)](https://user-images.githubusercontent.com/40380541/109158199-28053c00-779b-11eb-9700-4ad3bc6789db.png)

[2021-02-25 13:35] mariuszkrzaczkowski commented on #14290
![github](https://user-images.githubusercontent.com/10198654/109160921-bca97300-7776-11eb-987d-16e330a476a0.jpg)

[2021-02-25 13:35] #14290 closed, assigned to nobody

[2021-02-25 14:48] deepti4666 opened #14291 "[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

Error
Argument 1 passed to App\User::isExists() must be of the type integer, null given, called in /home/boardroo/public_html/crm/modules/com_vtiger_workflow/tasks/VTCreateTodoTask.php on line 118

### 🔥 How to trigger the error

Created a Workflow with ToDo tasks for a new project (trying to create a default list of tasks for a project)

Workflow triggers

[2021-02-25 15:33] rskrzypczak commented on #14291
look at this: https://github.com/YetiForceCompany/YetiForceCRM/issues/14184
if the cause is elsewhere, provide more details.

[2021-02-25 15:33] #14291 closed, assigned to rskrzypczak

[2021-02-25 17:22] deepti4666 commented on #14291
Thank you - this worked on removing the error - but it still doesn't create the task for the project

[2021-02-25 17:28] deepti4666 opened #14292 "Link Products / services to opportunities like how leads shows?"
How can I link products/services to opportunities like how leads show, so I can see what are the popular products/services sold

[2021-02-26 06:09] mariuszkrzaczkowski commented on #11756
To reduce the size of PDF, you can change the default font, add to the library the ability to change using a variable:
[code]
Here is the result for the invoice
![image](https://user-images.githubusercontent.com/10198654/109262164-53bb0d00-7801-11eb-8e0a-f4b9d3730c0e.png)

The default font in PDF is DejaVu Sans, but it is important that there is not a single instance of using the font, it will be

[2021-02-26 16:05] ghost opened #14295 "Hi, I just installed Yeti but it seems doesn't work. When i try to enter as administrator the brwoser page ask me to canel cookies. I can not enter[, could someone help me please?"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot

[2021-02-26 17:36] mariuszkrzaczkowski commented on #14295
![github](https://user-images.githubusercontent.com/10198654/109334870-914f8280-7861-11eb-9d00-038dcbcaec60.jpg)

[2021-02-26 17:36] #14295 closed, assigned to nobody

[2021-02-28 06:50] samuelsituma opened #14300 "Migration to ubuntu server not working"
Hi I have set up a migrated Yetforce CRM on my ubuntu server the database and the URL in the Main.php file are OK but when I open the browser I get this error
![image](https://user-images.githubusercontent.com/46498594/109410243-0cbc4b80-79aa-11eb-8756-34e2b6f322c8.png)

My Error Logs looks like this
![image](https://user-images.githubusercontent.com/46498594/109410837-e77e0c00-79ae-11eb-80b9-2346

[2021-02-28 11:36] bpabiszczak commented on #14300
The log says you have incorrect file and directory permissions. This is a job for your Linux administrator.

[2021-02-28 11:36] #14300 closed, assigned to nobody

[2021-02-28 13:39] rohanjhanepal opened #14302 ""Exceeds the maximum text size in bytes 65535"."
When adding images on text editors, it returns the message: "Exceeds the maximum text size in bytes 65535".
I also tried uploading image of 2kb

Yetiforce: v6.1.0
service pack 7

CONFIG:

![ConfReport](https://user-images.githubusercontent.com/40380541/109420406-5cc2fe80-79fa-11eb-9da4-542849429cd4.png)

[2021-03-01 05:29] testmodem opened #14304 "Contact Modules to show added Opportunities."
Q1: Is it possible to add opportunities to Contacts ?
Q2: Is Accounts == Companies ? like its with Outlook BCM ?

Thanks

[2021-03-01 06:35] #14304 closed, assigned to nobody

[2021-03-01 07:09] rskrzypczak commented on #14302
This is not a bug: https://github.com/YetiForceCompany/YetiForceCRM/issues/13597, https://github.com/YetiForceCompany/YetiForceCRM/issues/13002, https://github.com/YetiForceCompany/YetiForceCRM/issues/12946
and fix your configuration.

[2021-03-01 07:09] #14302 closed, assigned to rskrzypczak

[2021-03-03 09:55] drakub opened #14311 "I have followed this description. I am confused which style.css to change because there are many themes here. I am using yetiforce 6.2"
Hi,
in order to change the menu colors you have to modify the style.css file.

To change the background color, where the company logo is:
.userDetailsContainer {
 background-color: #4979aa;
}

To change the main menu color:
.baseContainer .leftPanel:after{
 background: #4a5364;
}

To change the submenu background color:
.leftPanel .nav .subMenu:after{
 background: #f0f1f1;
}

To change the header

[2021-03-03 11:29] JEEVAN28 opened #14313 "[bug] Mobile Number + Sign with Country Code is truncated"
Please refer my earlier issue raised, which was solved but not clear with reason
https://github.com/YetiForceCompany/YetiForceCRM/issues/14075

Now again I am facing same issue.

Please assist in the matter

Regards
Jeevan Pendhari

[2021-03-03 23:21] crawe1 commented on #13617
hi @davide-alghi
I have a only one question tell me if it possible automatically create record every 5 minutes ? i create simple custom function and add to handler according to picture and simple code but now working with time shedulers.
I want to do raport automaticly generated.
![image](https://user-images.githubusercontent.com/61950059/109885178-62c91180-7c7e-11eb-8678-c3fbe1d6b851.png)

class

[2021-03-04 09:09] davide-alghi commented on #13617
Hi @crawe1,

it could but not exactly. Why do I say «it could»?

workflow task(s) frequency execution depends on

1. crontab frequency configuration
![Schermata da 2021-03-04 09-15-03](https://user-images.githubusercontent.com/48508691/109932727-de50b000-7cca-11eb-9fa7-31c77a9549e5.png)
2. "Workflow" cron-job frequency configuration
![Schermata da 2021-03-04 09-15-47](https://user-images.githubuse

[2021-03-04 09:14] JEEVAN28 opened #14321 "Increase Height of Plain Description Field"
Hello,
I need to increase Description Field Height in Calendar Activity Edit and Detail View to at least show 10 lines.
![image](https://user-images.githubusercontent.com/12723595/109940164-c9d6dc80-7cf7-11eb-952e-3ca0061bd950.png)

Manually I have increased height and need result as below
![image](https://user-images.githubusercontent.com/12723595/109940272-e3782400-7cf7-11eb-8443-04c9d5333aeb.pn

[2021-03-04 10:12] #14321 closed, assigned to nobody

[2021-03-05 06:12] myanesdiazl9 opened #14326 "No emails"
Community, could you help me find out why an email history is not being stored?
I appreciate the help
![image](https://user-images.githubusercontent.com/68311999/110073964-bd35a100-7d56-11eb-9b7d-1834c030bd09.png)

[2021-03-05 06:14] #14326 closed, assigned to nobody

[2021-03-05 13:06] crawe1 commented on #13617
Hi @davide-alghi
Ok i got it but tell me why duplicate my records:
show it on screen:
![image](https://user-images.githubusercontent.com/61950059/110117836-b8ee9f80-7db9-11eb-9756-f6c397e4b22c.png)
1st record must manual add (if i not add system not create new records but why ?),
2nd next 5 min later - system add 2 records by cron 5 minutes workflow task u can see system duplicate records
3rd next

[2021-03-05 13:07] waran70 opened #14331 "[bug] Image field - can not delete once uploaded"
Created image field, uploaded some pic, saved record, edited record, tried delete this image (so I can replace with another), and.. not working. Checked it out on git dev in Accounts module

[2021-03-05 13:09] waran70 commented on #14331
Also download and preview down

[2021-03-05 13:19] XavierPPacheco opened #14332 "[Docker] Synology Server Wrong Session Id"
I am trying to install version 6.1.0 of yetiforce using Docker in my Synology NAS. When I click install it immediately displays:
Installation unsuccessful
Wrong session ID.

Exists in server configuration which causes loss of session data.
We recommend removing browser cache, in case it does not help please fix your server configuration.
//
I have already cleared the cache, tried another browser a

[2021-03-05 17:27] mad99 opened #14333 "[QUESTION]: Address copy from «Billing address» or «Shipping Address» does not work in Invoice"
Hi,
since the upgrade from YF 5.2.0 to 6.1.0 SPv7 I have some problems to copy the Address from the «Organisation/Account».

Unfortunately the Organisation-Data seams not to copy in the form for a new invoice anymore.
In 5.2.0 there was a button
Address copy from «Organisation».
![YetiForceProblem_1A](https://user-images.githubusercontent.com/6169308/110150032-09c4bf00-7ddf-11eb-8ded-0203af022ca3.

[2021-03-05 20:21] #14333 closed, assigned to nobody

[2021-03-06 00:47] mend-bolt-for-github[bot] opened #14337 "CVE-2021-22878 (Medium) detected in multiple libraries"
## CVE-2021-22878 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>psr/simple-cache-1.0.1</b>, <b>psr/http-message-1.0.1</b>, <b>psr/container-1.0.0</b></p></summary>
<p>

<details><summary><b>psr/simple-cache-1.0.1</b></p></summary>

<p></p>
<p>

Dependency Hie

[2021-03-06 09:25] TonyM15 commented on #14331
I confirm that. Also gitstable not allowing for any mouse-over operations.
FF and chrome the same.

[2021-03-06 10:02] harshdoshihd commented on #14016
Hi,

Did anyone found resolution to this issue?

[2021-03-06 19:46] #14265 closed, assigned to nobody

[2021-03-07 11:34] samuelsituma opened #14343 "Making a read-only field writable automatically"
How do i make a read-only field writable based on a condition in yetiforce crm?

[2021-03-07 12:41] garryatbrighton commented on #14331
Noticed the same in my instance. Both image and multiimage not working

[2021-03-07 14:33] mariuszkrzaczkowski commented on #14343
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-03-07 14:33] #14343 closed, assigned to nobody

[2021-03-07 16:23] PercyP opened #14345 "Is it possible to turn off Load Mail Analysis"
Hi,

is it possible to disable the Load Mail Analysis feature in Roundcube?

Kind regards

[2021-03-08 06:56] #14345 closed, assigned to nobody

[2021-03-08 12:24] Farahabutale opened #14354 "Retrive information that was lost by mistake"
i need a support, all assets that I'm working on been was lost by mistake, and i have to retrieve it all.

[2021-03-08 12:32] #14354 closed, assigned to nobody

[2021-03-08 13:51] samuelsituma opened #14356 "Project milestones and project tasks not showing on Gantt chart"
I have added projects and milestones with tasks but the Gantt chart is not showing Project Milestones and Project Tasks anything am doing wrong?

![image](https://user-images.githubusercontent.com/46498594/110329667-f9565380-802d-11eb-9b78-9eff2db47d47.png)

Project details with Projects Milestones and Project Tasks
![image](https://user-images.githubusercontent.com/46498594/110330087-6833ac80-802

[2021-03-08 14:22] cm-gswzm opened #14357 "[bug] Manual Update from 5.3.0 to 6.0.0 v8"
# 🐞 bug report

### ⁉️ Describe the bug

Hi yeti-Team,

we receive the following bug message when we try to update from yetiforce 5.3.0 to 6.0.0 with the suitable upgrade-package from https://github.com/YetiForceCompany/UpdatePackages/tree/developer/YetiForce%20CRM%205.x.x/5.3.0_to_6.0.0

![Bildschirmfoto 2021-03-08 um 14 25 26](https://user-images.githubusercontent.com/80264219/110328512-ba1f0700

[2021-03-08 14:31] deepti4666 commented on #14356
Have you manually added these tasks or through a workflow?

[2021-03-08 16:12] samuelsituma commented on #14356
i have manually added them

On Mon, Mar 8, 2021 at 5:32 PM deepti4666 <notifications@github.com> wrote:

[2021-03-09 05:30] Hennied opened #14361 "Convert Lead to Account"
If I want to convert a lead to an account the "For conversion"status is not available in Leads.

[2021-03-09 06:03] rskrzypczak commented on #14361
set the value you need:
![image](https://user-images.githubusercontent.com/10221999/110425972-930d1780-80a5-11eb-8e7c-e167d55fcb34.png)

[2021-03-09 06:22] rskrzypczak commented on #14357
https://github.com/YetiForceCompany/YetiForceCRM/issues/13862#issuecomment-761180307
https://github.com/YetiForceCompany/YetiForceCRM/issues/13823

before you do anything, fix the table u_yf_crmentity_search_label

[2021-03-09 06:22] #14357 closed, assigned to rskrzypczak

[2021-03-09 06:41] #14361 closed, assigned to nobody

[2021-03-09 08:08] drakub commented on #2921
Can you show me how you did this in a step by step way? I am just starting and I needed to also configure my portal

[2021-03-09 16:21] samuelsituma commented on #14356
Anyone with an idea of this?

On Mon, Mar 8, 2021 at 7:12 PM Samuel Situma ***@***.***>
wrote:

[2021-03-10 08:18] pthapa084 opened #14378 "Yetiforce Tickting"
Please guide me to set up ticketing system.

What have I done!

Host Yetiforce in my datacenter.
Mail configuration is done and can sent and received.
ticket is create through mail scanner. which is lag in it is created after 1 min of mail.

what i want to do!

ticket is created through mail scanner which is already done now whenever made changes in ticket it will forward mail to ticket creator.

[2021-03-10 09:56] samuelsituma opened #14379 "Project Milestone and Project tasks not showing on gantt chart"
Gantt chart doest show project milestones and tasks and I have the records

[2021-03-10 12:58] mariuszkrzaczkowski commented on #14379
![github](https://user-images.githubusercontent.com/10198654/110633118-ac4abc80-81a8-11eb-875d-2660a5758542.jpg)

[2021-03-10 12:58] #14379 closed, assigned to nobody

[2021-03-10 20:47] #14378 closed, assigned to nobody

[2021-03-11 07:54] deepti4666 commented on #13769
Would love this as well - helps with reporting

[2021-03-11 09:06] mad99 opened #14388 "[bug] Wrong path in YetiForce-Documentation"
# 🐞 bug report: in Documentation

### ⁉️ There (https://yetiforce.com/en/component/zoo/item/enable-cron) is the wrong path config/config.inc.php instead of /config/Main.php (I guess).

Couldn't find the file config.inc.php also with search in the hole system...
So I was searching for app_key and found the «$application_unique_key» in different other Files.
I guess - and the try&error say, I'm righ

[2021-03-11 09:13] mariuszkrzaczkowski commented on #14388
fixed
https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/enable-cron
https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-administratora/item/jak-uruchomic-cron-a-w-yetiforce-crm

[2021-03-11 09:13] #14388 closed, assigned to mariuszkrzaczkowski

[2021-03-11 11:09] damian123526 commented on #10871
Czy problem z tą funkcjonalnością został rozwiązany?

[2021-03-11 17:31] fermic opened #14390 "Email ticket response does not change status to "response received""
Hello guys! I need your help.

When the user sends an e-mail, the system registers the ticket and links the e-mail correctly.

However, if the ticket is finalized or changed to any other status, when the user sends a new email, the system does not reopen the ticket with the status of "response received" and also does not create a new ticket. It simply links the email without changing anything.

I

[2021-03-11 19:50] mariuszkrzaczkowski commented on #14390
how do you set the folder scan?

[2021-03-11 22:13] blu-IT commented on #13861
I can confirm the problem with the mailscanner:

I have configured the actions "New e-Mail" and "New ticket in Helpdesk" and **there are no new tickets listed, when the e-mail was not read before**. Cron jobs are running an executed.

I am running latest YetiForce CRM 6.1 Service Pack v7. With V. 5.3 SP4 it was working. After the upgrade it is not working any more.

[2021-03-11 22:16] blu-IT commented on #13403
OK, tested on YF 6.1 v7 now and while responding to mails now is working (recipient is inserted in e-mail now), still **ticket_no** is shown in e-mail subject, without any valid ticket number / value.

[2021-03-11 22:17] blu-IT commented on #13861
Sorry, wrong issue. I was refering to this issue here: https://github.com/YetiForceCompany/YetiForceCRM/issues/13856#issuecomment-738333411

[2021-03-11 22:18] blu-IT commented on #13856
I can confirm the problem with the mailscanner:

I have configured the actions "Create e-mail message" and "Create Helpdesk" and there are no new tickets listed, when the e-mail was not read before. Cron jobs are running an executed.

I am running latest YetiForce CRM 6.1 Service Pack v7. With V. 5.3 SP4 it was working. After the upgrade it is not working any more.

[2021-03-11 23:54] fermic commented on #14390
Thank you very much for the quick response

![Screenshot_1](https://user-images.githubusercontent.com/80478401/110870721-cd480600-82ab-11eb-827c-f51b0360dd1f.jpg)

[2021-03-12 06:39] mariuszkrzaczkowski commented on #13403
fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/65f30dff0d0f19aef104e32d0077ccc45c92308e

[2021-03-12 06:39] #13403 closed, assigned to bpabiszczak

[2021-03-12 06:44] mariuszkrzaczkowski commented on #14390
See the documentation https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/mail-scanner

![image](https://user-images.githubusercontent.com/10198654/110902570-660b6f80-8306-11eb-8725-fbaaf3867e47.png)

[2021-03-12 06:44] #14390 closed, assigned to nobody

[2021-03-12 09:01] blu-IT opened #14394 "[bug] Mailscanner not working after upgrade form YF 5.3 to 6.1 v7"
# 🐞 bug report

### ⁉️ Describe the bug

Hello,

as already described in this issue here https://github.com/YetiForceCompany/YetiForceCRM/issues/13856 after YF Upgrade from v. 5.3. to 6.1 v7 doesn`t work any more.
New mails which should trigger actions like "Create e-mail message" and "Create Helpdesk" are not show in the tickets. Cron job is running. **You have to read that mails before in the in

[2021-03-12 10:08] fermic opened #14395 "Email ticket response does not change status to "response received" #14390"
Good morning, I need help.

When the user responds to a ticket by e-mail, he only links to the ticket and does not change the status to "response received".

My previous help request has been finalized, but my settings are in accordance with what was reported.

I will greatly appreciate your help.

![imgem1](https://user-images.githubusercontent.com/80478401/110925082-871d9180-8301-11eb-8331-3b6fc

[2021-03-12 10:15] mariuszkrzaczkowski commented on #14395
![github](https://user-images.githubusercontent.com/10198654/110926112-497e3000-8324-11eb-8a2c-2b2c37c6223b.jpg)

[2021-03-12 11:58] blu-IT opened #14396 "[bug] Responding to e-mails with external mail app does not show correct [ticket_no] in subject"
# 🐞 bug report

### ⁉️ Describe the bug

Hello,

as I already reported here https://github.com/YetiForceCompany/YetiForceCRM/issues/13403#issuecomment-698893943 the [ticket_no] is not shown/filled in the subject of the e-mail.
Now I figured out that this problem seems to affect **only on external mail apps** (here Outlook).

I could not reproduce on gitstable, but on gitstable responding to a e-ma

[2021-03-12 12:20] mariuszkrzaczkowski commented on #14396
https://github.com/YetiForceCompany/YetiForceCRM/issues?q=ticket_no

[2021-03-12 12:20] #14396 closed, assigned to mariuszkrzaczkowski

[2021-03-12 12:47] blu-IT commented on #14396
Just to complete my found solution:

You can go in Roundcube to Settings > Preferences > User Interface > Browser Options and click the link "Register protocol handler for mailto: links"

[2021-03-12 12:48] blu-IT commented on #14396
Tested now again, but the problem still persits - even when responding to mails with roundcube.

[2021-03-13 11:15] deepti4666 commented on #4555
PO "Purchase Order" would simplify/make the process more understandable.

[2021-03-14 08:08] jlnknz commented on #14332
Could it be the same problem as mentioned at point 1 of https://github.com/YetiForceCompany/YetiForceCRM/issues/13917#issuecomment-768743505 ? Do you use a non-standard HTTP port? If so, the quick workaround is to use port 443 if you use HTTPS and 80 if you use HTTP.

@mariuszkrzaczkowski apparently has already fixed the problem, but it is not released, yet.

[2021-03-14 15:26] #14332 closed, assigned to mariuszkrzaczkowski

[2021-03-15 08:00] cm-gswzm commented on #14357
table repaired but that doesn't change the error.
php and mysql error logs are empty, yeti update error still remains.

[2021-03-15 11:35] blu-IT commented on #14313
HI,

maybe this helps?

https://github.com/YetiForceCompany/YetiForceCRM/issues/13261#issuecomment-653806838

Regards

[2021-03-15 18:59] deepti4666 commented on #13769
Any idea - if we can select the available warehouse stock instead of products? (Stock received via goods received note)

[2021-03-15 22:51] iweb123 commented on #14242
it looks like it does not show Arabic words correctly after exporting to PDF @eissaweb @mariuszkrzaczkowski

[2021-03-15 22:54] iweb123 commented on #14242
I think we should change the encoding of page which will be exported in PDF and the font family too
check this please I think we need to change this to export Arabic PDF correctly
https://drive.google.com/file/d/1yob8bZeBnlotnvYWReIorM33E_tL7FVU/view?usp=sharing

[2021-03-16 06:30] mariuszkrzaczkowski commented on #14242
new problem, new issue

[2021-03-16 06:39] iweb123 commented on #14242
Ok
Thanks

From: Mariusz Krzaczkowski ***@***.***
Sent: Tuesday, March 16, 2021 8:31 AM
To: YetiForceCompany/YetiForceCRM ***@***.***>
Cc: iweb123 ***@***.***>; Comment ***@***.***>
Subject: Re: [YetiForceCompany/YetiForceCRM] How to Change column Text (<td>) while report Finvoice PDF (#14242)

it looks like it does not show Arabic words correctly after exporting to PDF @eissaweb<https://github.co

[2021-03-16 11:11] iweb123 opened #14410 "[bug] exported PDF invoices doesn't show Arabic language correctly"
Dears ,

while exporting PDF invoices it doesn't show Arabic language correctly
it shows Arabic words with separated letters
although it doesn't appear like that while exporting to CSV , XLS , XLSX etc. extensions.
please advice
[attached link to screen shot to the file attached ](https://drive.google.com/file/d/1loiQcwWvig5f8cNO5EdncC4oZeUs-com/view?usp=sharing)

[2021-03-17 15:57] merckaa opened #14413 "[bug] Illegal Value when creating Entity through workflow"
I'm setting up a workflow to auto creat an entity like Orders and I'm getting ILLEGAL VALUE ERROR for currency field.

![image](https://user-images.githubusercontent.com/15110035/111497884-3bfbe800-8720-11eb-8b2e-be3714e07a74.png)
![image](https://user-images.githubusercontent.com/15110035/111497947-4918d700-8720-11eb-846c-96567ebf7d43.png)

Reproduced this error in gitdeveloper.

[2021-03-17 20:28] firestonem opened #14415 "[Docker] PHP version mismatch prevents docker deployment"
There are hardcoded references to PHP version 7.3 in
- https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/tests/setup/nginx/vhost.conf#L76
- https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/tests/setup/fpm/www.conf#L36
- https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/tests/setup/docker_entrypoint.sh#L5

A docker build will install version 7.4 by default

[2021-03-18 10:13] mariuszkrzaczkowski commented on #14415
fixed

[2021-03-18 10:13] #14415 closed, assigned to mariuszkrzaczkowski

[2021-03-18 13:44] drakub commented on #11437
Can you send me this patch. I am also facing the same issue

[2021-03-18 14:38] deepti4666 opened #14417 "[bug] Project task creation not working from workflow"
# 🐞 bug report

### ⁉️ Describe the bug

Created a workflow to create a started list of tasks for any new project.
I used
"Create event - type = Todo" - this creates an activity for the project (a workaround for the project tasks)
"Create Entity" & mapped the fields, but it still doesn't create the tasks
Create a stand list of "Project milestones" for each set of projects

### 🔥 How to trigger the

[2021-03-18 14:38] drakub commented on #14395
How do you guys get to configure this email module. I am on yetiforce 6.1.0

[2021-03-18 14:44] #14395 closed, assigned to mariuszkrzaczkowski

[2021-03-18 14:45] mariuszkrzaczkowski commented on #14417
logs ?

[2021-03-18 15:59] deepti4666 commented on #14417
Errors.log

E_WARNING: Invalid argument supplied for foreach() in /home/boardroo/public_html/crm/app/Log/FileTarget.php, line 139
#0 vendor/yetiforce/yii2/log/Target.php (152)  >>  App\Log\FileTarget->getContextMessage()
#1 vendor/yetiforce/yii2/log/Dispatcher.php (191)  >>  yii\log\Target->collect([array,array,array,array,array,array,array,array,array,array,array,array,array,array,array,array,arr

[2021-03-18 16:02] deepti4666 commented on #14417
[cron.log](https://github.com/YetiForceCompany/YetiForceCRM/files/6165470/cron.log)
[errors (1).log](https://github.com/YetiForceCompany/YetiForceCRM/files/6165472/errors.1.log)

There is an error with the system.log file - doesn't want to open/download

[2021-03-18 16:12] mariuszkrzaczkowski commented on #14417
E_WARNING: file_put_contents(): Only 0 of 40 bytes written, possibly out of free disk space

check how much free disk space you have

[2021-03-18 16:14] deepti4666 commented on #14417
I have cleared that error, but for some reason the systems.log file went to 12.58 gb today twice.

[2021-03-18 19:58] willinmon opened #14418 "Workflow Notification for incoming emails"
Is there a way to trigger a notification when a new email is appended to a ticket? I am not seeing the option in the workflow creator.

Our team is using emails to communicate with customers and they send/receive emails through the ticket and not the mailbox. When a new email comes in it is automatically related to the correct ticket but I need a way to notify the team member that they have a new

[2021-03-18 22:03] rioshaz opened #14419 "[bug] disocunt field missing in product add >>> pleas ehelp"
from gittsable..:

in the below image the word tax should be replaced with discount as its discount configuration page not tax configuration.

![image](https://user-images.githubusercontent.com/54880467/111703102-30650a00-8863-11eb-9534-e0983eab4fb2.png)

its says

Discount from products/services list:
- Specified individually for products in the Products module.
but add product form as no discoun

[2021-03-19 07:03] rskrzypczak commented on #14417
set `public static $LOG_LEVELS = ["error", "warning"] ;` only
delete system.log.

and about the issue.. it's basically no error here.
You cen't set value for reference field, like that.
![image](https://user-images.githubusercontent.com/10221999/111742079-d0348f00-8887-11eb-8a88-0d9742bbd58a.png)
It won't work.
.. and because the system cannot set this value, the mandatory field is empty and the t

[2021-03-19 07:22] drakub opened #14422 "Call to a member function get() on null."
Hi, I have been testing out the yetiforce CRM but when I click on the Edit Files Menu, I get the following error. Can anyone help ,me out with this;
![Screenshot (58)](https://user-images.githubusercontent.com/19745222/111744880-f153aa80-889c-11eb-9cfc-6fcea490ea6c.png)

[2021-03-19 07:25] mariuszkrzaczkowski commented on #14422
![github](https://user-images.githubusercontent.com/10198654/111745269-a3cf4180-888c-11eb-8022-b34b4b5199d6.jpg)

[2021-03-19 07:28] #14418 closed, assigned to nobody

[2021-03-19 07:59] deepti4666 commented on #14417
@rskrzypczak thank you so much for your help.

I have set that setting and it hasn't bombed out as yet.

What are the field values that I can use for it to work and create the project task, as there are a few tasks to add to each new project and some are dependant on certain other tasks being completed?

[2021-03-19 08:03] deepti4666 commented on #14413
Can you send the steps you did to get this error?

[2021-03-19 09:10] drakub commented on #14422
I am getting the attached error when wanted to edit fields or quick create a field. My installation is Yetiforce version 6.1.0 on XAMPP Server in Windows 10 64-bit.

**Steps to Reproduce the Error**
1. Go to settings module
2. Choose Standard Modules
3. Click 'Edit Fields' or 'Fields - Quick Create'
4. See the error

**Actual Result**
The actual result is the error shown in the screen shot

**Expe

[2021-03-19 09:12] mariuszkrzaczkowski commented on #14422
https://github.com/YetiForceCompany/YetiForceCRM/issues/13872

[2021-03-19 09:12] #14422 closed, assigned to mariuszkrzaczkowski

[2021-03-19 09:48] frato92 opened #14424 "[bug] Email template - Crete URL"
Hi, I have a problem to create the email's template. When I create the link at my website, this link is create incorrectly because there isn't the hipertextual link on the website.I checked the source and before the saving, the <a> tag contains the link, but when i proceed to save it, the link isn't in the <a> tag.

thanks for the support.

[2021-03-19 09:54] mariuszkrzaczkowski commented on #14424
https://github.com/YetiForceCompany/YetiForceCRM/issues/14263

[2021-03-19 09:54] #14424 closed, assigned to mariuszkrzaczkowski

[2021-03-19 12:03] hahyes opened #14426 "[bug] [PL] Usunięcie z folderu pola dwóch elementów drzewa wywołuje błąd nieprawidłowej wartości"
# 🐞 bug report

### ⁉️ Describe the bug

Jak w tytule, zmieniając na przykład drzewo z kategoriami dla produktów, usuwając więcej jak jeden element drzewa, edycja nie powiedzie się i wyrzuci błąd "Wykryto niedozwoloną wartość, prosimy o kontakt z administratorem". Napotkałem ten problem na różnych hostingach i różnych konfiguracjach, więc wykluczam tutaj problem ze skonfigurowaniem.

### 🔥 How to

[2021-03-19 12:32] divinebless commented on #11343
Hello Yetiforce , i need a solution on how to attach files in yetiforce CRM except document module , because it only allows attaching images.

Thanks

[2021-03-19 18:55] davide-alghi commented on #14419
Hi @rioshaz,
here my proposal

https://github.com/YetiForceCompany/YetiForceCRM/pull/12961

[2021-03-19 22:33] IanMuller opened #14428 "[bug] Cannot delete image from image field"
I have tested it on git dev. Once uploaded image cannot be deleted (custom image field)

Ian

[2021-03-20 07:00] rioshaz commented on #14419
@davide-alghi  thank for update but i cant understanding anything bro,,,

also i have only 3 options in tx and discount.. i dont see the  " taxes from product/service list "

which verison is this of yf ?

[2021-03-20 07:57] drakub commented on #14422
This fix did not help me but I got the issue fixed. I opened the file **/layouts/basic/modules/Settings/LayoutEditor/index.tpl** and changed the line **{assign var=BLOCK_ICON value=BLOCK->get(‘icon’)}** to **{assign var=BLOCK_ICON value=BLOCK_MODEL->get(‘icon’)}**. Thanks, I know I got this solution on this platform but I forgot the issue number since I read it and slept over it before trying it o

[2021-03-20 07:59] mariuszkrzaczkowski commented on #14428
https://github.com/YetiForceCompany/YetiForceCRM/issues/14331

[2021-03-20 07:59] #14428 closed, assigned to nobody

[2021-03-20 08:28] rioshaz commented on #14419
@davide-alghi also why is there no discount field when we add a product ? i guess before it use to be their ?

[2021-03-20 08:58] davide-alghi commented on #14419
Hi @rioshaz,
pls take a look in detail; discount is not in Products / Services modules: it's in Account module.

![Schermata da 2021-03-20 09-54-59](https://user-images.githubusercontent.com/48508691/111864696-cd5a9c80-8962-11eb-9810-076281d1eca9.png)
![Schermata da 2021-03-20 09-55-09](https://user-images.githubusercontent.com/48508691/111864698-cdf33300-8962-11eb-99a1-d2ed51d9d656.png)
![Scherma

[2021-03-20 12:09] rioshaz commented on #14419
@davide-alghi yes i see that but i want is that when a product is added to sales invoice it should pick its discount from product page,, when he was entered intially..

i dont want to again look into books and see what was the discount on this product and then add in the invoice then offer to client..

i hope you get my point..

also do you know how can i manage batch inventory ?
i want one item t

[2021-03-20 18:45] davide-alghi commented on #14419
yes I got it. **as said in my proposal** (#12961), the labels for **Discounts - configuration** are wrong. "Tax from products/services list" label is wrong, so you are thinking that the right one is "Discount from products/services list". No, the right one is "Account's discount".
"Discount from products/services list" feature is not available and it has no alternatives.

if you provide more detai

[2021-03-20 19:27] rioshaz commented on #14419
@davide-alghi yes sure i can try to explain
suppose i add a product .. example a medicine called "drug"
now first time i enter it.. i can give name,batch no. , expry date etc  then i go to good recieved note module and enter quantity recieved,, thats fine,,

problem is when next time i received same medicine,, but now its just a different batch no, with new costs, expiry date and quantity, how to

[2021-03-21 06:48] IanMuller opened #14434 "[bug] Import not workint at all"
In my last stable version import to account ends with message: "The imported file is in a different encoding than it was selected (ASCII)" All possible cobinations of csv has been tried.

In yeti dev import do nothing.

Any fix for this bug?

[2021-03-21 07:38] mariuszkrzaczkowski commented on #14434
https://github.com/YetiForceCompany/YetiForceCRM/issues/11762

https://github.com/YetiForceCompany/YetiForceCRM/issues/11762

[2021-03-21 07:38] #14434 closed, assigned to mariuszkrzaczkowski

[2021-03-21 08:58] garryatbrighton commented on #11762
This bug still exists. Mentioned is a work around. Expected would be better compatibility. Libre office Calc compatibility would be good start. Anyway i checked and in latest stable version even work around not working

[2021-03-21 09:35] mariuszkrzaczkowski commented on #11762
import would be handy to expand and improve.
we are waiting for someone who will order it
https://yetiforce.com/en/marketplace/development-support

[2021-03-21 09:36] mariuszkrzaczkowski commented on #11762
many new formats could be added

[2021-03-21 23:16] nerimic opened #14435 "Minor rendering bug in calendar dashboard widget in Grey theme[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

When Grey theme is active the vertical lines of days' cells are interrupted when events are present in a row.

### 🔥 How to trigger the error

Activate Grey theme and look at Calendar widget (i.e. TEST C in gitdeveloper dasboard).

### 👎 Actual Behavior

The vertical lines of days' cells are interrupted when an event is present in the week.

### 👍 Expected

[2021-03-22 06:27] mariuszkrzaczkowski commented on #14435
Please attach a screenshot

[2021-03-22 08:49] nerimic commented on #14435
![fullcalendar-widget](https://user-images.githubusercontent.com/45690654/111963484-df1f7980-8af3-11eb-82fa-a08763aa3ea4.png)

[2021-03-22 13:18] Akaki-1991 opened #14437 "filename/www issue"
https://user-images.githubusercontent.com/75428743/111995604-8b805080-8b32-11eb-8f37-3b48005136c7.mp4

hello. what is the problem? cant upload files. version 6.1.0

[2021-03-22 13:40] mariuszkrzaczkowski commented on #14437
![github](https://user-images.githubusercontent.com/10198654/111998665-8adcbf80-8b1c-11eb-89e5-d83799a768e1.jpg)

[2021-03-22 13:50] Akaki-1991 commented on #14437
When I add a file to filename / www, it is not added and in the description no detailed view, no file appears, no file size,no file type

[2021-03-22 13:54] rskrzypczak commented on #14437
Can you verify it on test environments?
[GitStable](https://gitstable.yetiforce.com/)
[GitDeveloper](https://gitdeveloper.yetiforce.com/)

[2021-03-22 14:00] Akaki-1991 commented on #14437
working :(

[2021-03-22 14:03] #14437 closed, assigned to nobody

[2021-03-23 10:27] JEEVAN28 opened #14446 "[Bug] Copy from Account button not showing"
Hello,

I have suddenly faced a problem where button to copy address from Account in Contact is not showing
I checked on git table and found that same is showing there. not able to understand what happened.

On Gitstable
![image](https://user-images.githubusercontent.com/12723595/112132154-4f132a00-8bf0-11eb-8152-cd1f2a72ed59.png)

On my local Server
![image](https://user-images.githubusercontent.

[2021-03-23 11:19] mariuszkrzaczkowski commented on #14446
![github](https://user-images.githubusercontent.com/10198654/112138642-0ea4b380-8bd2-11eb-9076-1b4cc752163c.jpg)

[2021-03-23 12:00] JEEVAN28 commented on #14446
@mariuszkrzaczkowski
Sir details required is as below

# 🐞 bug report

### ⁉️ Describe the bug

**In contact module while creating contact feature is provided to copy address from Parent Account, till morning button to copy address from Account was coming but suddenly it disappeared. **

### 🔥 How to trigger the error
Steps to reproduce the behavior:

1. Go to Companies & Contact Menu -> Contact -

[2021-03-23 13:09] vovpff opened #14454 "[bug] Module widget Timeline throws error"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

![timeline_wid](https://user-images.githubusercontent.com/8545791/112151137-f2187380-8bf1-11eb-8a64-1d7982b60e9b.gif)

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot of configuration

### 📝 PHP/Apache/N

[2021-03-23 19:10] JEEVAN28 commented on #14446
Hello,
While checking code from Chrome Inspect I noticed that below code is added

"<button class="btn btn-sm btn-primary c-btn-block-sm-down copyAddressFromAccount mr-2 mb-1 mb-md-0 d-none" ...</button>"

if I remove d-none from button class and make code like
<button class="btn btn-sm btn-primary c-btn-block-sm-down copyAddressFromAccount mr-2 mb-1 mb-md-0" ...

then button is visible but nothin

[2021-03-24 07:55] mariuszkrzaczkowski commented on #14446
https://github.com/YetiForceCompany/YetiForceCRM/discussions/13943

[2021-03-24 11:00] guide5232 opened #14458 "Yetiforce created a new ticket"
Hi team,

We haven't sent any email to yetiforce team about the URL for CEM access but your team have created a new ticket in the database, can you please let us know the reason.

[2021-03-24 18:51] merckaa commented on #14413
I've created a workflow to generate a ORDER after client accepts a Quote, but when saving getting this error, i think it's about mapping currency field.
This problem occurs in every worlkflow to create an entity.

[2021-03-24 19:25] deepti4666 commented on #14413
Have you tried creating a mapping first & then add it to a workflow?

[2021-03-25 20:18] #14337 closed, assigned to nobody

[2021-03-25 20:57] rioshaz commented on #1992
and where to finf the list view ?

[2021-03-26 00:42] MaxPegankin opened #14463 "multiCurrency mapping"
There is a multiCurrency field in Products for Unit Price. I want to map a price from the another module, which has type Currency, but it doesn't match. There are no appropriate field type to be mapped with MultiCurrency. Also MultiCurrency type field can't be created via Edit Field.
Is there any way to do this mapping?

[2021-03-26 08:41] #14463 closed, assigned to nobody

[2021-03-26 09:38] JEEVAN28 commented on #14446
Hi,
I made changes in Code but no Luck. Is there any settings from database as code files are same now.
Regards
Jeevan Pendhari

[2021-03-26 11:04] blu-IT opened #14466 "[bug] Passwords are changed (!) when editing some other information"
# 🐞 bug report

### ⁉️ Describe the bug

When editing a detail of an exiting entry in the passwords section, the password is changed in "************" when the password is hidden and an error is shown.

![Screenshot_2021-03-26 Yetiforce Fehler ](https://user-images.githubusercontent.com/13665806/112622496-64c06380-8e2b-11eb-9bea-8ebe0fc145ab.png)

### 🔥 How to trigger the error

Steps to reproduce

[2021-03-26 11:15] mariuszkrzaczkowski commented on #14466
logs

[2021-03-26 11:40] blu-IT commented on #14466
Have sent them right now. Thanks!

[2021-03-26 12:11] rskrzypczak commented on #14466
Can you really reproduce it on the official demo?
I try it and I cen't.
anyway.. check the console(F12), maybe you will find some info there.
.. and look at this: [debug](https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/debugging)
system.log file should contain some information.

[2021-03-27 06:24] rioshaz commented on #5758
@mariuszkrzaczkowski hi buddy,, is this fix still applicable for yf 6.1 ? if not how to get comments in custom modules ? pls help

[2021-03-27 12:57] rioshaz commented on #11609
@bpabiszczak saying its opensource doesnt help much. can u give a solution boss..

[2021-03-27 23:31] Ataraxiainc1 commented on #4567
Still waiting for a solution here. I am using YetiForce CRM 6.1 Service Pack v7 Importing 1900 Products

![image](https://user-images.githubusercontent.com/15527660/112737714-73da0b00-8f2a-11eb-8002-e6c1cba6be0b.png)

I can´t find any helpful command in the PHP documentation.

[2021-03-28 03:14] garryatbrighton commented on #14428
This bug relating to field in departments too. Users are unable to change once uploaded logo. Marius added duplicate issue but other respective issue has been closed. Are you gents planning to fix it before next release?

[2021-03-28 12:21] merlinwoff opened #14470 "[bug] CalDav cron job fails: Call to a member function setValue() on null in /var/www/html/yetiforce/app/Integrations/Dav/Calendar.php:837"
# 🐞 bug report

The CalDav cron job does not sync the calendar and result in an error. In the GUI, it says that the cron job was runned successful last time 4 months ago. The DAV is in use and we store our calendars there. But content of calendars get not synced to web gui.

### ⁉️ Describe the bug
[code]

### 🔥 How to trigger the error
Steps to reproduce the behavior:
1. run php cron.php

### 👎 A

[2021-03-28 12:23] merlinwoff commented on #14470
The following next error is now triggered on reexecuting cron.php (I dont know if that is related to my workaround?):
[code]

The field subject in Calendar has the following default properties and since the text "Austausch Praktikum &amp; Company AG" has less then 100 chars, I think it should work.

| Fieldname| Value |
| ----------------------------------- | -------------- |
| Bezeichnung Name |

[2021-03-28 16:39] merlinwoff commented on #14470
I was able to solve this new problem by simply do the following change in the code:

[code]

In the file yetiforce/modules/Vtiger/uitypes/Base.php on line 127

It had something to do with the & contained in the meeting subject. Is this change I made safe to use?

[2021-03-28 19:02] rioshaz opened #14473 "Notification link missing module link"
notification shows link rather then title linked to the record...  ideally ti should show a hyperlink to the record...

please see this screenshot from gitdeveloper.. i have tested same on gitstable too...

![image](https://user-images.githubusercontent.com/54880467/112764436-204ce780-9026-11eb-8896-825882665d95.png)

any help is greatly appreciated sir..

[2021-03-29 00:26] IanMuller opened #14474 "[bug] Shared With - update task in workflow not working"
Shared With - update task in workflow not working.
Test case:

Created workflow
1. Every time a record is saved
2. All conditions: Contain/is = "Value" from reference field in record (exact value)
3. Update fields: "Shared with" = some user
Above don't trigger and don't set Shared with as per chosen system user

[2021-03-29 00:28] IanMuller commented on #14474
I was absolutely wrong.  It works
Apologize.

[2021-03-29 00:28] #14474 closed, assigned to nobody

[2021-03-29 05:50] #14473 closed, assigned to nobody

[2021-03-29 07:52] rskrzypczak commented on #14331
Does this error still occur in demos (gitdev.., gitstable..)?
I tried to reproduce it with no success.

[2021-03-29 16:25] rioshaz commented on #3955
@mariuszkrzaczkowski yes but workflow can only do it when a new contact has been added or  modified.. it cannot work if an existing contact is selected..
there is no workflow to run if contact is not modified or new created..

we can only run schedule workflow thats runs every 5 mins.. which is not instant for critical business, which need instant dtata...

[2021-03-29 18:51] deepti4666 opened #14481 "[bug] Purchase price total not updating when Qty is changed"
# 🐞 bug report

### ⁉️ Describe the bug

The purchase price does not update when Qty is changed on the Quotes, Invoices, or Calculations modules

### 🔥 How to trigger the error

![Purchase price not updating](https://user-images.githubusercontent.com/57940552/112884279-9c4f3a00-90cf-11eb-8f04-1c9ae0b53eb3.gif)

Steps to reproduce the behavior:

1. Go to Quotes
2. Click on Edit
3. Add a purchase pr

[2021-03-30 05:20] garryatbrighton commented on #14331
It is still there, try to delete image from Departments. It not allowing... so single image and multi-image fields are not working

[2021-03-30 06:20] mariuszkrzaczkowski commented on #14481
https://user-images.githubusercontent.com/10198654/112942671-c553e700-9130-11eb-9e71-da4c1b837834.mp4

[2021-03-30 06:35] vovpff commented on #14481
@mariuszkrzaczkowski he told about Purchase. Check your video on more time

[2021-03-30 07:23] deepti4666 commented on #14481
Hi,

Thank you for the response,

The Nett column works on my side.

I am talking specifically about the purchase price column

[2021-03-30 14:40] AllOnMyOhm opened #14485 "Accounts module - No longer displaying Account Name"
Hello folks,

I'm having some issues with the accounts module, when attempting to add a new account this morning I noticed that the account name field had disappeared. Is there a way to set the module to defaults or restore this section?

I have no idea where it has gone as it is still appearing under "edit fields" but isn't displaying on the front end...
Perhaps an issue with mapping ??

Any assi

[2021-03-30 20:22] #14485 closed, assigned to nobody

[2021-04-01 07:55] rskrzypczak commented on #14331
I dunno.
Give me more information.
Perhaps the problem is with the file you want to attach, but I don't see a problem with deleting the file itself.
![attachIntro](https://user-images.githubusercontent.com/10221999/113261854-40073880-92d0-11eb-98f3-a0d6bae110d3.gif)

[2021-04-01 09:24] garryatbrighton commented on #14331
Nope here is not working FF, Chrome, Opera.... cannot make it delete.
Can someone else confirm status? I checked on 4 machines and it is the same.

[2021-04-01 09:33] MaxPegankin commented on #14481
Margin % is calculated based on total Purchase, but when Purchase doesn't change on Quantity, then total Margin % is also incorrect.

[2021-04-01 13:38] davide-alghi commented on #14481
Hi all,
that is not a bug.
It's correct that **Purchase** (price) doesn't update on **Quantity** change, exactly as **Unit Price** doesn't update on **Quantity** change.
The problem are labels.
Please take a look here

https://github.com/YetiForceCompany/YetiForceCRM/discussions/12574

https://github.com/YetiForceCompany/YetiForceCRM/discussions/14307

[2021-04-01 14:06] deepti4666 commented on #14481
Hi Davide,

The purchase price or unit price should not update, which is correct, but when you increase the quantity the purchase price total should, as it's calculating the total cost, with the different quantities for that quote.

[2021-04-01 14:07] #14481 closed, assigned to nobody

[2021-04-01 14:09] deepti4666 commented on #14481
@mariuszkrzaczkowski I don't think should be closed, as the "Purchase price total" column is not updating correctly.

[2021-04-01 14:28] davide-alghi commented on #14481
Hi @deepti4666,
**Purchase** field contains cost for unit, not the total.

[2021-04-01 17:50] scotlad9 opened #14489 "Roundcube fails to retrieve emails from Office 365 [bug]"
### ⁉️ Describe the bug

Roundcube times out when trying to retrieve emails from Office 365.  If the order (under options) is changed to 'descending' then the 30 oldest emails are displayed almost immediately.

### 🔥 How to trigger the error

Configure IMAP and SMTP settings for Yetiforce Roundcube, login and try to view inbox with default settings

### 👎 Actual Behavior

'Loading' displays and th

[2021-04-01 19:19] mariuszkrzaczkowski commented on #14489
log show and try to disable the yetiforce plugin

[2021-04-01 21:27] scotlad9 commented on #14489
Thankyou for you prompt reply.  I disabled the plugin by renaming the yetiforce.php file in the Roundcube plugins folder. logged back in to YetiForce and Roundcube correctly displayed the mailboxes and allowed me to page forward and back through the inbox.
I'm not sure which log files you need and how to enable them - is it by switching on debug mode?

[2021-04-02 05:34] mariuszkrzaczkowski commented on #14489
In this file you can disable plugins in Roundcube

config\Modules\OSSMail.php
[code]
Debugging https://yetiforce.com/pl/component/zoo/item/debugging

Logs are activated in the file

config\Debug.php
https://github.com/YetiForceCompany/YetiForceCRM/blob/ef0e76a6765e0b5bcf51830b39d7a2fd90bbf97e/config/Debug.php#L20-L33

https://github.com/YetiForceCompany/YetiForceCRM/blob/ef0e76a6765e0b5bcf51830b39

[2021-04-02 05:35] mariuszkrzaczkowski commented on #14489
What version of Rouncube do you have?
See the public_html/modules/OSSMail/roundcube/version.php

[2021-04-02 05:38] mariuszkrzaczkowski commented on #14489
In the latest version, you can enable RBL integration which slows down the loading of e-mails

https://doc.yetiforce.com/code/classes/Config-Components-Mail.html#property_rcListCheckRbl
config\Components\Mail.php
[code]

[2021-04-02 12:59] samuelsituma opened #14493 "why is email template not picking field values of several fields"
Am trying to send an email using a template in the CRM but it's not getting the field names this is what am getting in my email.
![image](https://user-images.githubusercontent.com/46498594/113417510-3b27af00-93cc-11eb-9529-156d2a1aa66b.png)

[2021-04-02 13:58] mariuszkrzaczkowski commented on #14493
describe and show exactly how you send the email

[2021-04-02 14:10] samuelsituma commented on #14493
I have created  an email template for the contact module
[image: image.png]

Then I have logged in to my mailbox and selected the contacts I want to
send an email to and I selected the template that I just created above
[image: image.png]

When i send an email the field values are not showing on the email.

On Fri, Apr 2, 2021 at 4:58 PM Mariusz Krzaczkowski <
***@***.***> wrote:

[2021-04-02 14:14] rskrzypczak commented on #14493
https://github.com/YetiForceCompany/YetiForceCRM/issues/13203#issuecomment-648831367

[2021-04-02 14:34] mend-bolt-for-github[bot] opened #14494 "CVE-2021-26119 (High) detected in smarty/smarty-v3.1.36"
## CVE-2021-26119 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>smarty/smarty-v3.1.36</b></p></summary>

<p>Smarty - the compiling PHP template engine</p>
<p>Library home page: <a href="https://api.github.com/repos/smarty-php/smarty/zipball/fd148f7ade295014fff77f

[2021-04-02 14:34] mend-bolt-for-github[bot] opened #14495 "CVE-2021-27292 (High) detected in ua-parser-js-0.7.21.tgz"
## CVE-2021-27292 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ua-parser-js-0.7.21.tgz</b></p></summary>

<p>Lightweight JavaScript-based user-agent string parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.21.tg

[2021-04-02 14:34] mend-bolt-for-github[bot] opened #14496 "CVE-2021-26120 (High) detected in smarty/smarty-v3.1.36"
## CVE-2021-26120 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>smarty/smarty-v3.1.36</b></p></summary>

<p>Smarty - the compiling PHP template engine</p>
<p>Library home page: <a href="https://api.github.com/repos/smarty-php/smarty/zipball/fd148f7ade295014fff77f

[2021-04-02 19:27] scotlad9 commented on #14489
Hi Mariusz

Roundcube version is:-

<?php

return [
               'patch' => '2020.12.01',
               'version' => '0.1.5'
];

From: Mariusz Krzaczkowski ***@***.***>
Sent: 02 April 2021 06:36
To: YetiForceCompany/YetiForceCRM ***@***.***>
Cc: scotlad9 ***@***.***>; Author ***@***.***>
Subject: Re: [YetiForceCompany/YetiForceCRM] Roundcube fails to retrieve emails from Office 365 [bug] (#1448

[2021-04-02 19:44] scotlad9 commented on #14489
Hi Mariusz

I can confirm that Roundcube fetches emails correctly with the plugin disabled.  When it is enabled, only the oldest 30 emails are retrieved when the order is set to ‘ascending’.  Trying to view any others results in a timeout message.  When the order is set to descending (which I guess is what most people want), no emails are displayed and a timeout message eventually appears.

I’ve a

[2021-04-02 20:00] mariuszkrzaczkowski commented on #14489
https://github.com/YetiForceCompany/YetiForceCRM/discussions/13965#discussioncomment-253551

[2021-04-04 00:34] waran70 commented on #14331
Image field so far not working here on any windows system (7,10, Serv2012, Serv2019) in any popular browsers.
However there is no problem on Ubuntu and FF. Local java?

[2021-04-04 14:56] scotlad9 commented on #14489
Hi
/** Should the message sender on the mail list be verified in the mail client? */
	public static $rcListCheckRbl = false;

I've added this to Mail.php but Roundcube issue remains when the plugin is enabled.

[2021-04-04 15:30] mariuszkrzaczkowski commented on #14489
it will be available from version 6.2

[2021-04-05 04:27] pkiyingi opened #14500 "Picklist dependant on two other picklists"
Hello team,
I have been successful with creating a pickliist depending on one parent picklist. Has any one implemented a picklist depending on 2 parent picklists?

[2021-04-05 05:25] waran70 commented on #14500
Do steps p1>p2>p3

[2021-04-05 13:59] mend-bolt-for-github[bot] opened #14502 "CVE-2020-7776 (Medium) detected in phpoffice/phpspreadsheet-1.13.0"
## CVE-2020-7776 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpoffice/phpspreadsheet-1.13.0</b></p></summary>

<p>PHPSpreadsheet - Read, Create and Write Spreadsheet documents in PHP - Spreadsheet engine</p>
<p>Library home page: <a href="https://api.github.

[2021-04-05 16:21] deepti4666 commented on #14082
I have the same problem, even when trying to tag people in the comments, the user (tagged person) doesn't get the notification

[2021-04-05 20:42] willinmon opened #14503 "[question][api][bug] Webservice call giving 401 Unauthorized after 6.1 upgrade"
### ⁉️ Describe the bug

We upgraded our Dev environment to 6.1 w/Servicepack and since then our API will not connect to the webservice. I keep getting a 401 unauthorized error. I've checked all the settings against our Live site and all of the Dashboard settings are the same, ex: Webservice-Applications(username and password are the same, so is the api-key), Webservice-Users( the unsername and pa

[2021-04-06 00:05] IanMuller opened #14504 "[bug] Record numbering not working"
Software configuration>Standard modules>Modules – Installation>System settings>Settings>Module sequence numbering
This is not working in GitStable and in GitDeveloper

https://gitstable.yetiforce.com/index.php?parent=Settings&module=Vtiger&view=CustomRecordNumbering&sourceModule=Products

[2021-04-06 05:34] mariuszkrzaczkowski commented on #14504
![github](https://user-images.githubusercontent.com/10198654/113663561-8bdc2800-96aa-11eb-9aa3-15cef7298af2.jpg)

[2021-04-06 05:41] mariuszkrzaczkowski commented on #14503
1. correct the configuration
2. What type is "Web service - Applications"
![image](https://user-images.githubusercontent.com/10198654/113664050-5dab1800-96ab-11eb-998e-e603238a24a7.png)

[2021-04-06 05:57] vovpff commented on #14504
@IanMuller why this is not working?

I has checked on gitdev and this mechanism works as usual

![image](https://user-images.githubusercontent.com/8545791/113665397-15452780-96b6-11eb-9cce-cd571ccec217.png)

![image](https://user-images.githubusercontent.com/8545791/113665615-6d7c2980-96b6-11eb-941a-e9a821326520.png)

[2021-04-06 06:02] #14504 closed, assigned to rskrzypczak

[2021-04-06 08:03] scotlad9 commented on #14489
Thanks Mariusz, that would be good.

[2021-04-06 08:06] #14489 closed, assigned to mariuszkrzaczkowski

[2021-04-06 12:01] willinmon commented on #14503
I thought I had matched the settings on the demo.
Webservice  - Applications
![image](https://user-images.githubusercontent.com/31772589/113707486-f773c480-96ad-11eb-9ba9-bc0472912e64.png)
![image](https://user-images.githubusercontent.com/31772589/113707568-15d9c000-96ae-11eb-8f87-06cf47178374.png)
![image](https://user-images.githubusercontent.com/31772589/113707596-20945500-96ae-11eb-80c1-655c0

[2021-04-06 12:06] mariuszkrzaczkowski commented on #14503
You get an error because you are using "Manage consents", authorization is always required here

[2021-04-06 12:06] #14503 closed, assigned to nobody

[2021-04-06 12:11] willinmon commented on #14503
What would you suggest to use instead? Or would it be better to not use anything? Basically I have an api call that simulates an incoming call to the Yetiforce system. That is what I am trying to accomplish at least.

I just tried turning Manage Consents off (inactive) but I am still getting the 401 Unauthorized error. Any idea what I am doing wrong?

[2021-04-06 12:20] mariuszkrzaczkowski commented on #14503
Use only the Portal https://doc.yetiforce.com/api/?urls.primaryName=api%2FPortal

[2021-04-06 12:33] willinmon commented on #14503
Do I need to delete the Manage consents? When I make it inactive it still gives me the 401 error.

[2021-04-06 12:35] mariuszkrzaczkowski commented on #14503
yes

[2021-04-06 12:40] willinmon commented on #14503
Unfortunately I am still getting the error after deleting Manage consents. This is my api. It is pretty simple.

{"userName": "yetiforce", "password": "xxxxxxx", "params": []}

It's just a connect to get a token.

[2021-04-06 13:20] samuelsituma commented on #13203
Any work around this issue #14493 ?

[2021-04-06 14:17] willinmon commented on #14503
Could there be a server setting that is causing it?

[2021-04-06 19:16] willinmon commented on #14503
I figured out the problem but not what is causing it. In the File \api\webservice\Portal\Users\Login.php line 222 the function post() is not getting any parameters so it can't check them against the portal user in the database. Can you tell me where this function is being called from so I can trace it back to why the variables are not being loaded?
public function post()
	{
		$db = \App\Db::getIns

[2021-04-07 04:11] waran70 commented on #14504
Does anyone dare to click link provided in this issue? **Obviously there is bug.**
@mariuszkrzaczkowski  - Marius, the way issue/bug is reported in perfect in my opinion, don't you really think otherwise?

[2021-04-07 05:20] mariuszkrzaczkowski commented on #14503
it requires debugging API client communication with CRM without access it will be difficult.
There may be various header errors in the request, an error in json's construction.
What do you use to connect to the API?

[2021-04-07 14:44] deepti4666 commented on #14292
any luck on this?

[2021-04-07 15:55] willinmon commented on #14503
I think that I have figured out the problem. The site is no longer getting the body of the api. Did the layout change for 6.1? Does this code look correct for the body?
{"userName": "yetiforce2a", "password": "yetiforce2a", "params": []}

I use both Postman and RESTClient to simulate an api call.

[2021-04-07 18:25] #14292 closed, assigned to nobody

[2021-04-07 18:28] mariuszkrzaczkowski commented on #14503
See https://doc.yetiforce.com/api/#/Users/Api%5CPortal%5CUsers%5CLogin%3A%3Apost

[2021-04-07 21:06] willinmon opened #14514 "[question] [feature]"
### ⁉️ Describe the question

When an email is attached to a ticket there is a link that shows an email preview. In this preview is a list of the email attachments, should there be any. Clicking on an attachment downloads the file for you to view on your computer. I need to be able to view these attachments without downloading them. All attachments will be jpgs or pngs so I need an image preview o

[2021-04-07 21:31] #14514 closed, assigned to nobody

[2021-04-08 13:00] rioshaz opened #14529 "[bug] Auto assign dont work"
Hi sir,
pls see the below gif .. the auto-assign is not working.. but in my system auto assign works but creates two records at the same time.

![autoassign](https://user-images.githubusercontent.com/54880467/114030909-76c4ec00-9898-11eb-8ae7-af611e13c409.gif)

any help is greatly appreciated..

[2021-04-08 13:11] mariuszkrzaczkowski commented on #14529
![github](https://user-images.githubusercontent.com/10198654/114032493-a534ce00-987c-11eb-9a35-ae1cd89d3565.jpg)

[2021-04-08 13:56] rioshaz commented on #14529
@mariuszkrzaczkowski  this is on gitstable and i have made a video .. i dont know how can i report it in a more descriptive way sir... sry

[2021-04-08 14:39] vovpff commented on #14529
On your video at workflow modification you check Execute task checkbox. This mean what this workflow triggered but will be executed in some time what described at the left of this checkbox (something about date af birth on your video). This is main fault what I can see now

[2021-04-08 14:45] rioshaz commented on #14529
@vovpff  yes i thought so too   i changed it to created time but still it doesnt work.. ... but my main problem is in my system it works but creates 2 records instead of one...

one goes to the auto-assigned user and one record is assigned to the creating user... very weird....

[2021-04-08 14:49] vovpff commented on #14529
You need to debug thi by yourself. I don't have experience with auto-assign

[2021-04-08 16:07] aveblackmetalstudio opened #14530 "[bug] Twice converting timezone"
https://github.com/YetiForceCompany/YetiForceCRM/blob/0394381d98182ff6e3729bf113d38522db8190b7/modules/Vtiger/helpers/BrowsingHistory.php#L31

https://github.com/YetiForceCompany/YetiForceCRM/blob/0394381d98182ff6e3729bf113d38522db8190b7/modules/Vtiger/helpers/BrowsingHistory.php#L52

This function convert timezone
https://github.com/YetiForceCompany/YetiForceCRM/blob/0394381d98182ff6e3729bf113d38

[2021-04-08 16:35] nerimic opened #14531 "[bug] minor graphic error for related module widget in summary"
# 🐞 bug report

The header of the widget doesn't apply the correct modCT_class then the module's colour is not rendered in the Summary page.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1.
Change the colour of a module (i.e. "Incoming correspondence") in: https://gitdeveloper.yetiforce.com/index.php?module=Colors&parent=Settings&view=Index

![image](https://user-images.github

[2021-04-08 16:37] nerimic commented on #14531
change:

h5 class="mb-0 text-truncate modCT_{$WIDGET['label']}"

to:

h5 class="mb-0 text-truncate modCT_{$RELATED_MODULE_NAME}"

[2021-04-09 05:42] #14531 closed, assigned to mariuszkrzaczkowski

[2021-04-09 07:56] drakub commented on #9247
How did you do this?

[2021-04-09 07:56] drakub commented on #9247
How is this done in Yetiforce 6.1.0?

[2021-04-09 08:52] drakub opened #14533 "SLA Policy for Escalation cannot be created"
# 🐞 bug report

### ⁉️ Describe the bug

I have been trying to create an SLA to escalate a ticket. I have realized that the YetiForce 6.1.0 that I am running does not provide fields to escalate the ticket when the SLA is violated. I guess this is a bug because the images of previous versions show that it is possible.

The issue is considered to be a bug because on the discussion forum, I saw an im

[2021-04-09 12:17] vovpff commented on #9247
@job-bob-draku https://gitdeveloper.yetiforce.com/index.php?module=Menu&view=Index&parent=Settings

[2021-04-09 12:34] drakub commented on #9247
Thanks a lot. This work very well.

[2021-04-09 12:35] drakub commented on #9247
Can you help on how to escalate tickets in YetiForce. I kinda failed to get it

[2021-04-09 14:06] vovpff commented on #9247
@job-bob-draku I has never used this in the past. What is it?

[2021-04-09 17:35] aveblackmetalstudio opened #14534 "[bug] Mass review changes action and cron task"
In request **selected_ids** is an array.
https://github.com/YetiForceCompany/YetiForceCRM/blob/54e2dee3d90697ff7903622e9c15b6d100b44446/modules/ModTracker/actions/ChangesReviewedOn.php#L89
Possible solution:
[code]

**selected_ids** in an array.
https://github.com/YetiForceCompany/YetiForceCRM/blob/54e2dee3d90697ff7903622e9c15b6d100b44446/modules/ModTracker/crons/ReviewChanges.php#L99
Possible sol

[2021-04-10 07:53] JEEVAN28 commented on #14446
@mariuszkrzaczkowski Hi, no luck in this matter, I tried updating original files for Edit.Js and also modified files from #13943 but both are not working. I suppose anything is need to be done from database ?

Please help in this matter

[2021-04-10 09:17] JEEVAN28 commented on #14446
@mariuszkrzaczkowski
After some R&D, I realised the problem, I have disabled module for Vendors, Competition, Leads, Partners and only Account Module is On. In this case Option to select Member Of Type is not visible and then Button is also not visible as default is Account

Option to select Account / Lead / Vendor ....
![image](https://user-images.githubusercontent.com/12723595/114264889-389c0980

[2021-04-12 04:33] #14534 closed, assigned to rskrzypczak

[2021-04-12 08:49] aveblackmetalstudio opened #14539 "[bug] Out of page content in admin panel"
https://github.com/YetiForceCompany/YetiForceCRM/blob/44b5a43e5f6ff4eb1a6576fcc9f8f48d91969a92/layouts/basic/modules/Settings/Vtiger/ListViewContents.tpl#L40

**nowrap** causes out of page content like on this screenshot and you must zoom out page to could edit **Dependent Fields**
![image](https://user-images.githubusercontent.com/26859846/114366465-c39c1180-9b7b-11eb-8937-2cf6d99ba83d.png)

Poss

[2021-04-12 10:36] blu-IT commented on #14466
No, I can't reproduce on the offial demo as I wrote under "Addional context".
But as descried there, the behavior of the system is differnt from mine.

OK, I will have to check this and report.

[2021-04-12 10:38] blu-IT commented on #14394
Nobody any idea here? The problem still persits. New mails are not shown / do not trigger a new ticket, until the are read.
Also new mails are not shown in the widget on top of the site on the dashboard. The cron job is working!

[2021-04-12 10:41] mariuszkrzaczkowski commented on #14394
It's simple, the CRON is misconfigured so it doesn't work.
Correct the server configuration bya nothing was in red and it will work.
https://yetiforce.com/pl/component/zoo/item/enable-cron

[2021-04-12 10:41] #14394 closed, assigned to mariuszkrzaczkowski

[2021-04-12 10:51] blu-IT commented on #14394
But cron confuguration worked in V. 5.3 and was not touched!

If there have to be modifications for cron when updating form 5.3 to 6.1 it was not mentioned during the upgrade process.
Also the cron backend in YF does not show any error and says the emal scanner task has been completed successfully.

[2021-04-12 10:53] mariuszkrzaczkowski commented on #14394
It's strange that it worked, it shouldn't

[2021-04-12 20:21] rioshaz opened #14544 "[bug] Duplicate Auto assign records being created"
I cannot fins this issue..

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->

# 🐞 bug report

### ⁉️ Describe the bug

i have made full video please see... below

it is a bug because it is making duplicate entry into the system..

### 🔥 How to trigger the error

i have made a complete video please see..

![autoassigndupl](https://user-images.githubusercontent.com/54880467/114456634-b5410a80-9bfa-11eb-8ab3-79f

[2021-04-13 03:22] IanMuller opened #14545 "[Security] Logs printing passwords"
User password is printed in open text to logs. This is pretty unwanted I guess?

$_POST = [
    'username' => 'Admin'
    'password' => 'adminpassword'
    'fingerprint' => '9704c540-eafd-4c33-b72b-b1f499397828'
]

[2021-04-13 05:44] mariuszkrzaczkowski commented on #14545
Fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/f5e89369495bc71d9bc151f8f2a09760183bb835#diff-810203c6b1550fab210d119ab7c8e8d3bfbba7db238b83c7629a201bcd2c65cb
![image](https://user-images.githubusercontent.com/10198654/114502398-01587300-9c2c-11eb-9644-ca83cc7c895c.png)

[2021-04-13 05:44] #14545 closed, assigned to mariuszkrzaczkowski

[2021-04-13 06:41] simple-AMS commented on #10626
@mariuszkrzaczkowski How would I accomplish this into a custom recruiting module I created in version 6.1.0 with Service Pack 6 installed? I copied exactly what I needed from another module within the database and have managed to get the comments module to display in setup but nothing within the summary tab of the record.

![1](https://user-images.githubusercontent.com/42642523/114507795-3e574200-

[2021-04-13 07:08] simple-AMS commented on #12806
@vovpff @diderich Hi guys I'm having the same exact issue in Version 6.1.0 with Service Pack 6 installed. The only info I need to change in the SQL query is only the parts that say yourdbname and that's it or what is the xact process? Sorry not the SQL query wiz so keep getting errors. Thanks guys!

[2021-04-13 15:05] davide-alghi opened #14549 "[bug] cardDav: "secondary_phone" missing in "employees""
# 🐞 bug report

field "secondary_phone", in OSSEmployees module,

https://github.com/YetiForceCompany/YetiForceCRM/blob/48bcf42b50c5d1dd40ec7bcfe88da83ae8a6b8d4/app/Integrations/Dav/Card.php#L79

is missed in

https://github.com/YetiForceCompany/YetiForceCRM/blob/48bcf42b50c5d1dd40ec7bcfe88da83ae8a6b8d4/modules/API/handlers/CardDAV.php#L19

### 🔥 How to trigger the error

### 👎 Actual Behavior

##

[2021-04-13 15:47] MixTecnico commented on #10626
sorry spanish

usa este código como ejemplo desde consola como root, cambiando el nombre **por el de tu modulo** (MODULE_NAME), podrás agregar comentarios al mismo

`INSERT INTO db_name.vtiger_fieldmodulerel (fieldid, module, relmodule, status, sequence) VALUES ('601', 'ModComments', 'MODULE_NAME', NULL, NULL);`

[2021-04-13 17:43] simple-AMS commented on #10626
Thanks @MixTecnico but I tried doing that and still nothing.

[2021-04-14 01:40] waran70 commented on #14545
No UI 99 here...   O.o

[2021-04-14 05:46] mariuszkrzaczkowski commented on #14545
It will be enabled by default for the user after the update

[2021-04-14 06:20] #14549 closed, assigned to mariuszkrzaczkowski

[2021-04-14 07:08] aveblackmetalstudio opened #14550 "[bug] History of changes work uncorrect"
Missing of type comparison.
For example, this expression **'1' != '01'** is equivalent to false.

https://github.com/YetiForceCompany/YetiForceCRM/blob/ab86cfdc43553a6b143afd08f858ebf06b6c8a29/modules/Vtiger/models/Record.php#L91

Another problem is when you call this function multiple times on same field before saving record.
It`s make history wrong. You should compare changes with original recor

[2021-04-14 12:12] rioshaz commented on #14544
@mariuszkrzaczkowski  hi buddy can u pls help and guide me on this... will be thank full..
@KatarzynaUlichnowska

[2021-04-14 12:20] MixTecnico commented on #10626
lo estas intentando conectado a la base de datos?

[2021-04-14 14:36] aveblackmetalstudio opened #14552 "[bug] Problems with WorkFlowScheduler"
Scheduled time is converting from user time zone to Database time zone
https://github.com/YetiForceCompany/YetiForceCRM/blob/ed8f082015b4a587b67ac05bd63ddf0ff75a0bdd/modules/Settings/Workflows/actions/Save.php#L38
https://github.com/YetiForceCompany/YetiForceCRM/blob/ed8f082015b4a587b67ac05bd63ddf0ff75a0bdd/app/Request.php#L164

Changing default time zone to admin time zone causes wrong query cond

[2021-04-14 15:03] nerimic opened #14554 "[bug] Wrong links inside dashboard widget charts for referenced field"
# 🐞 bug report

### ⁉️ Describe the bug

Links inside dashboard widget charts for referenced fields are wrong

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Create a new Filter i.e. for Contacts or modify the existing "Test 1" adding "Member of":
![image](https://user-images.githubusercontent.com/45690654/114730476-330f2e00-9d41-11eb-90ac-a8ceace4a1a1.png)

2. Create a new P

[2021-04-14 18:25] ojimenezt commented on #14554
I have the same error, what solution was applied?

[2021-04-15 03:10] simple-AMS commented on #10626
@MixTecnico Sorry don't understand. I tried adding it via an SQL inquiry which shows it worked got no errors but does not display the ability to select comments from the widget area.

[2021-04-15 03:12] simple-AMS commented on #10626
@mariuszkrzaczkowski What is the process to make this work in Version 6.1.0 with Service Pack 6 installed?

[2021-04-15 03:39] vovpff commented on #10626
I think the same

[2021-04-15 03:56] MixTecnico commented on #10626
verificaste el nombre de tu modulo, me paso que por ser mayúscula no me tomaba el cambio

@MixTecnico Sorry don't understand. I tried adding it via an SQL inquiry which shows it worked got no errors but does not display the ability to select comments from the widget area.

[2021-04-15 05:50] mariuszkrzaczkowski commented on #10626
https://github.com/YetiForceCompany/YetiForceCRM/blob/7f70873e4d83224574ccf58def524647928f6037/modules/LettersIn/LettersIn.php#L92-L98

[2021-04-15 07:55] simple-AMS commented on #10626
@mariuszkrzaczkowski YOU ARE THE MAN!!!! Thank you so much mate. I'll dance at your wedding, you're a genius.

[2021-04-15 10:33] davide-alghi opened #14556 "[bug] recordId missing in Vtiger_PDF_Model instance"
# 🐞 bug report

PDF template record needs "recordId" to correctly parse record variables

### 🔥 Hint

after

https://github.com/YetiForceCompany/YetiForceCRM/blob/ed20faa67061e0dd6976f5a8046bbe7cb9d76f70/modules/com_vtiger_workflow/tasks/VTSendPdf.php#L60

add something like this

[code]

### 👎 Actual Behavior

record variables are not parsed

### 👍 Expected Behavior

correct parsing

### 👷 Testin

[2021-04-15 15:04] rioshaz opened #14557 "[bug] please check this ,,"
https://github.com/YetiForceCompany/YetiForceCRM/issues/14544#issue-856330272

[2021-04-15 15:44] #14557 closed, assigned to nobody

[2021-04-16 11:40] aveblackmetalstudio opened #14560 "[bug] IllegalValue exception"
Better to use **button** tag insted of **a** tag because it`s causes exception:

App\Exceptions\IllegalValue
ERR_NOT_ALLOWED_VALUE||mid||164%25

https://github.com/YetiForceCompany/YetiForceCRM/blob/bb23c1d8fed53bac8e259df3e4945aef74ecc3db/layouts/basic/modules/Vtiger/Pagination.tpl#L15

https://github.com/YetiForceCompany/YetiForceCRM/blob/bb23c1d8fed53bac8e259df3e4945aef74ecc3db/layouts/basic/mo

[2021-04-16 16:09] rskrzypczak commented on #14560
I don't get it.
You showed an exception for the variable "mid", but I don't see any relationship between the elements you listed here.
Can you describe how to trigger this error?

[2021-04-16 17:48] rioshaz commented on #14544
@mariuszkrzaczkowski please check the same and help me if u can buddy

[2021-04-17 18:00] aveblackmetalstudio commented on #14560
1. Open [https://gitstable.yetiforce.com/](url)
2. In menu click **Accounts**
3. Click **Get total amount of records** in right top corner or click **Select all Accounts**
4. Now try to paginate (next/previous page)

Actions **Get total amount of records** and **Select all Accounts** add **"#"** character to end of url, because of using links insted of buttons.

[2021-04-18 07:29] rioshaz opened #14565 "[bug] serious problem"
pls check .. pls dont close it as duplicate,,, can we find aolsution for the problem sir..

https://github.com/YetiForceCompany/YetiForceCRM/issues/14544#issue-856330272

[2021-04-19 04:25] #14565 closed, assigned to nobody

[2021-04-19 06:48] #14560 closed, assigned to rskrzypczak

[2021-04-19 10:28] JEEVAN28 opened #14566 "Product Name list does not popup in Quotation"
I am trying to create quotation and facing problem that product name list does not popup for selection. Not able to understand the problem.

![image](https://user-images.githubusercontent.com/12723595/115221661-87daec00-a127-11eb-870f-8738fbfb910e.png)

I have products created in module
![image](https://user-images.githubusercontent.com/12723595/115221707-93c6ae00-a127-11eb-9ada-61c4d9d0be02.png)

[2021-04-19 10:39] mariuszkrzaczkowski commented on #14566
![github](https://user-images.githubusercontent.com/10198654/115223631-4be65d80-a10c-11eb-9590-b5523c14bf5f.jpg)

[2021-04-19 11:01] rskrzypczak commented on #14566
Are your products active?
![image](https://user-images.githubusercontent.com/10221999/115226263-548c6300-a10f-11eb-945a-4397bb2ce5ac.png)

[2021-04-19 20:32] rioshaz commented on #14565
@rskrzypczak thanks for looking into this.. so when do  think we can find a solution to this problem buddy

[2021-04-20 05:37] rskrzypczak commented on #14566
No answer and I don't see an error here, so I'm closing.
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-04-20 05:37] #14566 closed, assigned to nobody

[2021-04-20 06:42] aveblackmetalstudio opened #14569 "[bug] CORS policy block preflight request"
# 🐞 bug report

### ⁉️ Describe the bug

CORS policy block preflight requests

![image](https://user-images.githubusercontent.com/26859846/115349046-a686c480-a1b3-11eb-9d7a-e49f33c30c90.png)

### 🔥 How to trigger the error

Steps to reproduce the behavior:
Execute in browser console next code:

[code]

### 👎 Actual Behavior
### 👍 Expected Behavior
HTTP status **200 OK** on **OPTIONS** reqest
### 👷

[2021-04-21 16:29] bakhtari opened #14576 "[bug] table vtiger_userid doesn't exist"
Hi
'appVersion' => '6.1.223',
'patchVersion' => '2021.04.21',
php:  7.4
message: SQLSTATE[42S02]: Base table or view not found: 1146 Table 'y1.vtiger_userid' doesn't exist Failed to prepare SQL: SELECT `useridid`, `userid` FROM `vtiger_userid` ORDER BY `sortorderid`
![image](https://user-images.githubusercontent.com/17001331/115588853-6e32d380-a2e4-11eb-8363-6e0869ddb68e.png)

[2021-04-21 16:41] bakhtari opened #14577 "[bug] table not exists"
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'sortorderid' in 'order clause' Failed to prepare SQL: SELECT `baseidid`, `baseid` FROM `vtiger_baseid` ORDER BY `sortorderid`

[2021-04-22 05:06] rskrzypczak commented on #14577
You probably created the wrong database table for a picklist field by yourself.
Learn how to report bugs because no one can help you from your description.
[How to report bugs](https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-report-bugs)

[2021-04-22 05:06] #14577 closed, assigned to nobody

[2021-04-22 05:26] rskrzypczak commented on #14576
I really don't know what you messed with your CRM system instance, but I don't see this type of bug in the system.
Learn how to report bugs: [How to report bugs](https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-report-bugs)
Feel free to create a new issue if you are able to complete the missing information.

[2021-04-22 05:26] #14576 closed, assigned to nobody

[2021-04-22 14:07] davide-alghi opened #14584 "[bug] RoundCube template button doesn't work"
# 🐞 bug report

Template button doesn't work on click, in RoundCube.

### 🔥 How to trigger the error

https://user-images.githubusercontent.com/48508691/115728220-9bcf5980-a384-11eb-9c77-289ae0fe0b9a.mp4

### 👎 Actual Behavior

it doesn't work

### 👍 Expected Behavior

open on click

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it

[2021-04-22 19:33] mariuszkrzaczkowski commented on #14584
https://github.com/YetiForceCompany/YetiForceCRM/issues/13979  duplicate

[2021-04-22 19:42] davide-alghi commented on #14584
@mariuszkrzaczkowski tnx, I missed that
I'm going to close this

[2021-04-22 19:42] #14584 closed, assigned to nobody

[2021-04-23 06:56] rioshaz commented on #14565
@rskrzypczak @areksolek @mariuszkrzaczkowski as it closed so what's the solution guys ? can you help me with a turn around so i can get ti working with my system for now....

[2021-04-23 14:12] myanesdiazl9 opened #14590 "Workflow"
This has been happening to me for a month, the workflow does not complete.
![image](https://user-images.githubusercontent.com/68311999/115883853-4181d780-a41c-11eb-9d6a-23dcde479327.png)
I appreciate the help you can give me

[2021-04-23 16:15] rskrzypczak commented on #14590
Sure, only at the moment we can only read on coffee grounds :)

I suppose one of the workflow actions is causing an error here.
Disable workflow actions one by one and monitor if the error still occurs.
Otherwise, you'll have to start debugging, but that's a developer job.

[2021-04-23 16:32] myanesdiazl9 commented on #14590
Thank you very much for your help.
I'm going to do the tests

[2021-04-24 14:59] myanesdiazl9 commented on #14590
It worked for me, thank you very much

[2021-04-24 14:59] #14590 closed, assigned to nobody

[2021-04-25 03:50] waran70 opened #14593 "[bug] Workflow > end email task > table properities read only"
when creating workflow with task "Send email" and try to set some table, the right click properies of table are read only.

[2021-04-26 02:37] ammardun commented on #13457
![Screenshot_1](https://user-images.githubusercontent.com/60503484/116021638-28c32d00-a67b-11eb-9779-1e4c50b54adc.png)
how to solve this problem?
Class 'Locale' not found
Please Help Me!!!

[2021-04-26 04:20] waran70 opened #14594 "[bug] Emails templates no loading"
When trying to send email from whatever module I am unable to use emails templates. Button death.

[2021-04-26 04:31] waran70 opened #14595 "[bug] Email Widget not showing related emails"
Tested on custom module.
Emails sent to/from address embedded in email field of this module are tied correctly to Related tab, but email widget is not seeing those emails.

[2021-04-26 04:49] waran70 opened #14596 "[bug] Custom module | fields history and summary | updates - not working"
Custom module | fields history and summary | updates - not working
Added both to Summary widget and it doesn't seem like it works as expected.
Bug or miss-configuration?

[2021-04-26 05:21] rskrzypczak commented on #13457
install intl extension - https://github.com/YetiForceCompany/YetiForceCRM/issues/9482#issuecomment-471056759

[2021-04-26 05:26] mariuszkrzaczkowski commented on #14596
![github](https://user-images.githubusercontent.com/10198654/116032849-af1e4580-a660-11eb-82e4-7eeba3b07499.jpg)

[2021-04-26 05:26] mariuszkrzaczkowski commented on #14595
![github](https://user-images.githubusercontent.com/10198654/116032895-bfcebb80-a660-11eb-8d8e-1a14e13a9081.jpg)

[2021-04-26 05:27] mariuszkrzaczkowski commented on #14594
![github](https://user-images.githubusercontent.com/10198654/116032938-cfe69b00-a660-11eb-8284-a2e316e7381e.jpg)

[2021-04-26 05:27] #14200 closed, assigned to nobody

[2021-04-26 11:49] crawe1 opened #14598 "[bug] not sume value in storage table"
Version 5.3

Hello,
When i want clic to sum quantity of product in Storage previev
The column exists in the vtiger_products table. Has anyone had such a case?

![image](https://user-images.githubusercontent.com/61950059/116077142-6d5bc200-a695-11eb-8894-fa04f98d73f5.png)

[2021-04-26 11:52] mariuszkrzaczkowski commented on #14598
Check if the error exists in the dev version

[2021-04-26 12:45] waran70 commented on #14594
Marius, my description of issue is clear like diamond. If you overwhelmed with acknowledging  and testing, don't waste time for copying / pasting  this weird reporting guide (as an image!). Again, I am totally clear and to get it reproduced it takes couple of seconds. Stop discouraging those  who spending time reporting.

[2021-04-26 12:54] mariuszkrzaczkowski commented on #14594
These diamonds of yours are so bright they blinded me and i have absolutely no clue what I should fix. All jokes aside, our rules on how to report errors are simple and clear as a diamond so I don't know what you don't understand.
PS. a few seconds for you, I don't even know what your version is, what view you're trying to send an email from etc. It all makes a difference.

[2021-04-26 13:14] waran70 commented on #14594
Obviously we talking always about latest dev version as you guys don't service any of stable releases, kicking people to check dev app for reported issue. Again Marius, it takes few seconds to reproduce.

[2021-04-26 13:54] crawe1 commented on #14598
Problem occurs on two versions dev and stable,

I will add that another module in the Storage view module works correctly, only the summation in products module does not work properly.

When i trying to sum another column in this screen. Maybe any permisions ?

Query in log:
Next yii\db\Exception: SQLSTATE[42S22]: Column not found: 1054 Unknown column 'vtiger_products.produkt_cena' in 'field list'

[2021-04-26 20:15] mariuszkrzaczkowski commented on #14594
you have a few seconds
https://user-images.githubusercontent.com/10198654/116144875-d4509980-a6dc-11eb-88e4-c63dd83223cd.mp4

[2021-04-26 20:15] #14594 closed, assigned to nobody

[2021-04-26 22:32] TonyM15 commented on #14594
Indeed weird. I checked it in win and linux on various browsers and here also not working.
Attaching scrshot with console errors
![image](https://user-images.githubusercontent.com/35586696/116159183-fd434f80-a719-11eb-9905-8a146e715181.png)

[2021-04-27 05:43] mariuszkrzaczkowski commented on #14594
Duplicate of #13979

[2021-04-27 05:45] mariuszkrzaczkowski commented on #13838
Duplicate of #13979

[2021-04-27 05:45] #13838 closed, assigned to nobody

[2021-04-27 07:24] mnawrockiht opened #14601 "[bug] Email compose window opened from module is bugged"
### ⁉️ Describe the bug
After clicking on "Send mail" button from any module that has emails related, a window that opens is bugged. Firstly it opens with enormous window size. Secondly, it can't open any lists of CRM records, which is a major setback. It means that clicking either: "Templates", address picking fields (Accounts, Contacts, Employees etc.) or "Select File from CRM" does nothing.

##

[2021-04-27 07:26] mariuszkrzaczkowski commented on #14601
Duplicate of #13979

[2021-04-27 07:26] #14601 closed, assigned to nobody

[2021-04-27 07:57] mnawrockiht commented on #14601
Yup, the issue is duplicate with mail composer not accessing CRM modules, sorry for that.
There is no mention in opened issues about the window size of composer. It is not a huge problem, more of an inconvenience, but please address it.

[2021-04-27 09:33] #14539 closed, assigned to nobody

[2021-04-27 12:51] aveblackmetalstudio opened #14604 "[bug] Function Record::getState return uncorrect state"
When **$metadata['deleted']** is **false** or **null** will return **Active**.
When **$metadata['deleted']** is **true** will return **Trash**.
https://github.com/YetiForceCompany/YetiForceCRM/blob/4aec0e814c5a11675dcc8f1bb7aaf224d5e6ae6d/app/Record.php#L297-L314

[2021-04-27 14:43] rioshaz opened #14605 "[bug] Auto assign bug"
please look at it:
https://github.com/YetiForceCompany/YetiForceCRM/issues/14544

[2021-04-27 14:45] rioshaz commented on #14565
@rskrzypczak @areksolek @mariuszkrzaczkowski @KatarzynaUlichnowska  pls check and help if possible guys..

[2021-04-27 20:50] mariuszkrzaczkowski commented on #14605
Duplicate of #14544

[2021-04-27 20:50] #14605 closed, assigned to mariuszkrzaczkowski

[2021-04-28 06:10] #14598 closed, assigned to nobody

[2021-04-28 06:21] #14604 closed, assigned to mariuszkrzaczkowski

[2021-04-28 06:26] rskrzypczak commented on #14466
Lack of activity and error not present in the current version, so I close.
Feel free to open a new ticket if in your opinion the problem persists and is related to the current version.

[2021-04-28 06:26] #14466 closed, assigned to nobody

[2021-04-28 06:29] rskrzypczak commented on #14596
Have you active the track changes?
![image](https://user-images.githubusercontent.com/10221999/116356524-ad3cb980-a7fb-11eb-9876-01f7dddf0add.png)

[2021-04-28 07:12] rioshaz commented on #14605
any new son the solution brother ...

[2021-04-28 07:21] crawe1 commented on #14598
Hello,

I install new clean yeti instance 5.3. and i must sed yours fix not work:

screen is this same:
![image](https://user-images.githubusercontent.com/61950059/116361715-8da88f80-a801-11eb-8e4d-218d3217d5f7.png)

1) i change uitype from 1 to 7 in vtiger_fields table -> not work
2) restore in table vtiger_fields previous value on 1,  add your fix (add ut type 1) getUIType(), [1, 71, 7, 317, 8]

[2021-04-28 07:35] mariuszkrzaczkowski commented on #14598
it only works on the development version and probably 6.1

[2021-04-28 08:48] crawe1 commented on #14598
Ok you have right in 6.1 is ok sume of products in products module
but not sume value from storage module:
![image](https://user-images.githubusercontent.com/61950059/116375106-3d382e80-a80f-11eb-8ae0-3a4b97068b32.png)

[2021-04-28 10:33] areksolek commented on #14598
The introduced fix doesn't allow to sum the values for the qtyproductinstock field because it is a custom field. In the future we will look at the possibility to sum such fields.
![image](https://user-images.githubusercontent.com/25615135/116390066-f7369700-a81d-11eb-86e0-46122baa23e3.png)

[2021-04-28 11:21] crawe1 commented on #14598
Ok, thank you for your help, do you know what to change before version 6.1 regarding the summation of fields (standard not custom) in storage module in products? In a foreign time I can't upgrade to version 6.1. (but try) I'd like to change that in version 5.3. Do you have any changelog?

ok i found this in RelationAjax.php

[2021-04-28 13:23] sistemasnow commented on #14417
We have the same problem here.

Please, @rskrzypczak: What do you mean exactly with this:

_"Fields of reference type is not fully supported in this type of workflow actions.
For now, if you want to set a value, you must enter the record ID, not its name."_

We would like to know what are the right values we can use in order to create the project tasks. That would be great!

Thanks in advance.

[2021-04-29 03:46] kseibi opened #14611 "[QUESTION] Add "Private" Button function to Custom module"
Hi, my question might be a little bit silly, but I cannot figure out how to add "Private" checkbox button on a new custom module, when adding the field as a checkbox it says that "Field name is reserved", where can I add this field? thanks

Yetiforce 6.1 Version

[2021-04-29 04:27] sudhakarmu commented on #12807
Open xampp control panel click the config in the apache module and open the php.ini file search for ;extension = imap and remove the semicolon then it starts working fine

[2021-04-29 04:49] #14611 closed, assigned to nobody

[2021-04-29 05:33] rskrzypczak commented on #14417
As I mentioned before - record ID, for example:
![image](https://user-images.githubusercontent.com/10221999/116506193-0e789180-a8bd-11eb-8bb5-2b8e2f52b2c1.png)

[2021-04-30 01:20] myanesdiazl9 opened #14618 "License"
We acquired the YetiForceDevelopmentSupport license, please could you tell me how it works.
I appreciate your help
![image](https://user-images.githubusercontent.com/68311999/116636968-34874b80-a928-11eb-8bcf-4d858958a608.png)

[2021-04-30 04:51] rskrzypczak commented on #14618
Send these types of questions directly to YetiForce: [Contact](https://yetiforce.com/en/company/contact)

[2021-04-30 04:51] #14618 closed, assigned to nobody

[2021-04-30 10:00] #14458 closed, assigned to nobody

[2021-05-03 10:33] apcloic opened #14627 "[bug] [project module] Timeline widget, full screen button issue"
Step to reproduce the issue :
1- Add a timeline widget for Projet module
2- Open a projet with at least one entry in timeline
3- click on full screen button

Error  -> **Call to a member function getRecord() on null**

- [x ] I confirm that I tested it at https://gitstable.yetiforce.com
- [x ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

![bug_fullscreen_button_timeline_widget

[2021-05-03 11:48] sistemasnow commented on #14417
Thanks for the answer, @rskrzypczak.

[2021-05-03 12:31] IanMuller opened #14628 "[Security] SMTP password in open text"
table s_yf_mail_smtp storing password in txt. It isn't something dangerous?

[2021-05-03 15:12] mariuszkrzaczkowski commented on #14628
Have you enabled the password encryption mechanism?

[2021-05-03 23:51] IanMuller commented on #14628
thanks

[2021-05-03 23:51] #14628 closed, assigned to nobody

[2021-05-04 05:28] #14627 closed, assigned to rskrzypczak

[2021-05-04 07:58] AlessiaC95 opened #14631 "Email scanner widget configuration"
Hi everyone,

I wanted to ask how to configure the email in order to track the emails sent / received in the appropriate widget that can be found for example in "Companies and Contacts > Contacts" or "Sales"> "Price Quotation".

![email](https://user-images.githubusercontent.com/83593181/116974879-10789100-acbf-11eb-8940-1434da89dd76.PNG)

Thank you!!

[2021-05-04 15:07] #14631 closed, assigned to nobody

[2021-05-06 02:17] edensor opened #14636 "How to automate the fact that it creates a worker when creating a user"
this module was created only for such purposes, you can automate the fact that it creates a worker when creating a user

_Originally posted by @mariuszkrzaczkowski in https://github.com/YetiForceCompany/YetiForceCRM/discussions/14316#discussioncomment-429009_

[2021-05-06 02:17] #14636 closed, assigned to nobody

[2021-05-06 07:03] sistemasnow opened #14638 "Editing users comments"
Dear friends:

Is it possible to edit other user comments? Of course I mean when you are an admin. You can edit your own comments but not another user comments. Is tha possible?

Yeti version: 6.1.0

Thanks in advance and best regards.

[2021-05-06 07:16] #14638 closed, assigned to nobody

[2021-05-06 09:27] apcloic commented on #11756
@mariuszkrzaczkowski

After applying the required changes to add the [ability to change default font](https://github.com/YetiForceCompany/YetiForcePDF/commit/7c4d9c03e9d35377fabe628832b98bb0ebadb443), DejaVu Sans was still added because of the footer defined in app/Pdf/YetiforcePDF.php

So I've made the following extra modifications :

`protected $defaultFontFamily = 'Roboto';`

and

``		if (!\App

[2021-05-08 08:37] rioshaz opened #14645 "Auto Assign created duplicate records[bug]"
hi isr,
when using the auto assign feature for creating new records ,, it creates two records at the same, time.
i have tested this on gitstable, made a video and the bug is there also..

![autoassigndupl](https://user-images.githubusercontent.com/54880467/117532711-7e49f300-b006-11eb-8ff0-4aa6b843e503.gif)

please help, as we trust in yetiforce dedicated team and their commitment for this project

[2021-05-08 15:17] M3rofio opened #14646 "[bug]"
hello I have installed Softaculos in in-motion hosting dedicated server
I did a sub domain for yeti example.XXXX.com and filled the detail with the admin account and installed yetiforce 6.1.0  it when I log in with the user I filled it won't go thru it bounces back to the user login page

[2021-05-08 17:39] vovpff commented on #14646
Let's clean cookies and browser cache

[2021-05-09 00:03] M3rofio commented on #14646
I did that now and retry it and its the same  and now a did new installations fresh and used different name

[2021-05-09 05:42] JohnMaverick opened #14647 "[bug] add_time(timefield, minutes) function in workflows not working"
I checked few scenarios and it seems like this date/time function dont want work

[2021-05-09 10:08] sistemasnow commented on #11362
¡Thanks for the information!

[2021-05-09 20:07] waran70 commented on #14647
Confirmed add_time(createdtime, 5) is not triggering
createdtime is a system field, but it also stuck on custom time/date fields.
No logs

[2021-05-10 00:35] Marshal4582 commented on #14647
in both stable and git created workflows with add_time(timefield, minutes) and yes, it is NOT working.

[2021-05-10 05:23] mariuszkrzaczkowski commented on #14646
![github](https://user-images.githubusercontent.com/10198654/117609599-9b92d480-b160-11eb-90e1-6eb1cab15245.jpg)

[2021-05-10 23:23] waran70 opened #14649 "[bug] Execution Schedule doesnt work with Update Fields task"
Checked on stable and dev.
Execution Schedule doesn't work with Update Fields task
You can reproduce it in respective workflow created in GIT Stable

[2021-05-10 23:34] waran70 commented on #14649
Little update: it appears it works however NOT as per Execution Schedule settings. So if you set it for 5 min it likely will get triggered with few minute delay. I guess it is depending on system cron not independent trigger function.

[2021-05-11 01:43] z0lo13 opened #14650 "[bug] [fix] HOW to DISABLE Yeti-RBL COMPLETELY? + Temp Solution for slow roundcube."
Hello Yeti Team,

Thank you for such an amazing project.

We understand that introducing such a module as RBL is a very nice feature to have, however because of this integration the performance of loading emails and displaying them is dramatically low as pointed out by @mariuszkrzaczkowski in a few issues, as a solution for this is to wait until 6.2.0 which will have an option to turn off the RBL

[2021-05-11 03:33] waran70 commented on #14650
Don't disable! I think RBL pay commission ;-)
https://github.com/YetiForceCompany/YetiForceCRM/issues/14181

[2021-05-11 15:29] z0lo13 commented on #14650
Your comment does not make sense, as 6.2.0 and dev version will have an option to disable the RBL check.
https://github.com/YetiForceCompany/YetiForceCRM/issues/14489#issuecomment-813052569

Also, I don't really know what was the point of the conversation in #114181, you've sent them an email, your IP got blocked for spam, @bpabiszczak offered to unblock your IP free of charge, (NO you don't need

[2021-05-11 15:42] z0lo13 commented on #14647
You guys doing something wrong... it all works. Both dev & stable

add_time(createdtime, 5) - will not work as createdtime is not a time field, it does not make sense.
It is datetime (UiType: 70) and you need time (UiType: 14)

https://user-images.githubusercontent.com/23143958/117844379-a11a1880-b24d-11eb-9dba-3231428f1500.mp4

[2021-05-11 15:45] z0lo13 commented on #14646
@M3rofio
Most likely you have php misconfiguration, as you can't login to crm to provide system configuration you can find a list of php extensions in phpinfo and compare it to the one on gitstable/dev

[2021-05-11 15:48] z0lo13 commented on #14569
@aveblackmetalstudio what is the reason you are calling the login page from console?

[2021-05-11 15:52] #14646 closed, assigned to nobody

[2021-05-11 16:52] aveblackmetalstudio commented on #14569
To prove that preflight request doesn't work

[2021-05-11 23:53] z0lo13 commented on #14569
@aveblackmetalstudio
![image](https://user-images.githubusercontent.com/23143958/117898232-828a4080-b292-11eb-8797-4efd44e8019e.png)

[2021-05-11 23:56] z0lo13 commented on #14569
@aveblackmetalstudio
![image](https://user-images.githubusercontent.com/23143958/117898416-edd41280-b292-11eb-8c15-b3f7f18d3dab.png)
it does give me an error as well but with a different code.

[2021-05-12 00:17] waran70 commented on #14650
@z0lo13: It was response to email from yetiforce! Nobody spammed 'em, or even sent cold email. Totally legit and clean of any spam records address was dumped in RBL and we have been blackmailed with 5 Euro to get IP back on track, so yetiforce stuff can in their kindness read our business inquiry.
In the next step offering me unblocking my IP for free is a sick thing.
We talking about business cas

[2021-05-12 05:33] aveblackmetalstudio commented on #14569
Probably you has disabled webservice in config/Api.php

[2021-05-12 05:35] mariuszkrzaczkowski commented on #14569
I did a test in Postman, it works

What is the main reason for reporting a bug, because I don't really understand why you want it.

[code]

[code]

[2021-05-12 05:44] mariuszkrzaczkowski commented on #14569
It works when you add an Authorization header
![image](https://user-images.githubusercontent.com/10198654/117924317-d5491400-b2f5-11eb-8d94-80452e1a9bef.png)

[2021-05-12 05:45] #14569 closed, assigned to mariuszkrzaczkowski

[2021-05-12 05:47] #14650 closed, assigned to nobody

[2021-05-12 05:51] aveblackmetalstudio commented on #14569
It works in postman, because postman doesn't check cors policy. In response you received header **access-control-allow-methods: POST**.

The reason is because frontend developers have problem with this. For example in PWA application.

[2021-05-12 06:02] mariuszkrzaczkowski commented on #14569
For your example, I have this headline too
![image](https://user-images.githubusercontent.com/10198654/117925840-1a6e4580-b2f8-11eb-947a-47b02d7635ec.png)

![image](https://user-images.githubusercontent.com/10198654/117925832-17735500-b2f8-11eb-84f9-187058c58f9e.png)

[2021-05-12 06:03] aveblackmetalstudio commented on #14569
@mariuszkrzaczkowski [What is preflight request](https://developer.mozilla.org/en-US/docs/Glossary/Preflight_request)

[2021-05-12 10:53] mariuszkrzaczkowski commented on #14569
Fixed https://github.com/YetiForceCompany/YetiForceCRM/commit/5087e64b7790a4c96a2887d192b87d16d261552f

[2021-05-12 13:02] aveblackmetalstudio commented on #14569
@mariuszkrzaczkowski

Still not works
![image](https://user-images.githubusercontent.com/26859846/117979253-fed46080-b332-11eb-93b3-ec38bab17a2e.png)

[2021-05-12 15:51] Gazzxy opened #14657 "My mail incorectly identifying spf and dmarc errors[bug]"
So we want to use the my mail system especially for the mail scanner in the future however at the min (we use a gmail system) it just plasters horrible red warnings everywhere for a list of different "security" issues for anyone using the crm to send emails to others also using the crm

I know our records themselves are correct. frustratingly yeti only has a problem with mails sent from within the

[2021-05-12 16:17] #14657 closed, assigned to nobody

[2021-05-13 01:41] s2b-git opened #14658 "[bug] Scheduled workflow set value dialog - various behaviour"
I have catch up with https://github.com/YetiForceCompany/YetiForceCRM/issues/14649
and detected as follows:

# 🐞 bug report

Test on currency fields.
field1
field2

1. Create workflow with execution "Creating record"
2. Choose condition on field1 - now when you click right column field "Set value" dialog pops-up where we can choose Raw text, Field, or Expression.
3. Choose field2 form "Field" opti

[2021-05-13 04:25] kseibi opened #14659 "Crm crashes after triggering custom workflow by modifying record"
Recently I have been working on a custom workflow that can be triggered on modification of record, I understand that I need to

1. First, create a file with the function code and save it to modules/moudulename/workflows/,
2. Register the workflow to com_vtiger_workflow_entitymethods table in the database
3. Choose "invoke custom function" in the "Add to do"

I imitated the functions in modules/Hel

[2021-05-13 04:31] #14659 closed, assigned to nobody

[2021-05-13 15:25] davide-alghi opened #14661 "[bug] DAV issues"
# 🐞 bug report

Hi YF team,
I wanted to fix some problems on DAV, but I find now that the "usage policy" will change (dev version blocks me) ... so I just report

the main problems are (YF 6.1):
iCard: does not manage contact addresses correctly
iCal: does not handle recurring events correctly (from DAV to CRM)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Cl

[2021-05-14 05:19] mariuszkrzaczkowski commented on #14661
you can fix on the developer version,
give more details and preferably a sample file

[2021-05-14 10:41] MexasPT opened #14667 "Calendar Questions"
Hello everyone!
I am having a hard time understanding two issues. For the past two weeks I have been trying to solve it myself but without success.

**Question 1:**
As you can see in image 1, there is an icon for "send e-mail notification about Event".
In my installation I don't have the icon, probably because I removed it accidentally. Can you tell me what I need to do to get the icon back?

**Qu

[2021-05-14 12:43] #14667 closed, assigned to nobody

[2021-05-14 20:40] samuelsituma opened #14669 "Field values in Email templates not working"
I can successfully create an email template in Yetiforce CRM, but I can't see the field values after sending the email I only see the variables texts on the email body what could be the issue???

[2021-05-14 21:23] #14595 closed, assigned to nobody

[2021-05-14 21:23] #14596 closed, assigned to nobody

[2021-05-14 22:08] mariuszkrzaczkowski commented on #14669
![github](https://user-images.githubusercontent.com/10198654/118336309-b0c98380-b511-11eb-910b-6181452904a0.jpg)

[2021-05-15 08:45] davide-alghi commented on #14661
Hi @mariuszkrzaczkowski,
as I wrote "dev version blocks me": yes I'm trying to debug/fix on developer version

quick details

card: some contact fields (eg addresses) are not taken into consideration
https://github.com/YetiForceCompany/YetiForceCRM/blob/a1990ebcbe074a37804425e795c08092e4b01ff0/modules/API/models/CardDAV.php#L354

cal: try to create a recurring event on Android then check what it h

[2021-05-17 03:31] MaxPegankin opened #14672 "[bug] Workflow 'more than days ago' not work"
# 🐞 bug report

### ⁉️ Describe the bug

In workflow for Project Tasks when choose condition Target Date 'more than days ago' the task triggers for all Project Task, regardless of this condition. Project Tasks before Target Date and after Target Date are all triggered.

### 🔥 How to trigger the error

The possible bug can only be triggered when Execution schedule (defined time intervals) is select

[2021-05-17 06:45] davide-alghi commented on #14672
Hi @Maxpeg,
'more than days ago' condition works fine.

**more than days ago**: it's executed if ("date field value" <= "workflow execution date" - "n-days")
**less than days ago**: it's executed if ("workflow execution date" - "n-days" <= "date field value") AND ("date field value" <= "workflow execution date")

in your case the workflow is executed if "Target End Date" <= a day ago [ie "workflow

[2021-05-17 06:47] #14672 closed, assigned to mariuszkrzaczkowski

[2021-05-17 07:30] MaxPegankin commented on #14672
@davide-alghi
**more than days ago** works fine itself, I have no bug when use it with **Every time a record is saved (eg. creating, modifying)**
But I have a bug when I use with **Execution schedule (defined time intervals)**

[2021-05-17 07:35] davide-alghi commented on #14672
@Maxpeg,
I just tried with **Execution schedule (defined time intervals) - 5 mins** and it works fine

YF 6.1 SP 8

[2021-05-17 08:50] MaxPegankin commented on #14672
@davide-alghi
I just tried it too, and I have the bug.
I run YF 6.1 SP **7** , can't find SP8.

It look like the problem is on my side, do you have any sugestions how I can fix it?
I suspect the system takes Target End Day wrongly, like zeros, so any date is later than it. Do you have ideas how I can check it?

[2021-05-17 09:11] davide-alghi commented on #14672
@Maxpeg first of all install SP8: Logs/Updates in the backend

[2021-05-17 09:32] aveblackmetalstudio opened #14675 "Probably dead code"
https://github.com/YetiForceCompany/YetiForceCRM/blob/068c292b8b18bd171537dbe8111e66a60586b7ed/modules/Notification/actions/Notification.php#L111

https://github.com/YetiForceCompany/YetiForceCRM/blob/068c292b8b18bd171537dbe8111e66a60586b7ed/modules/Notification/models/Module.php#L64

[2021-05-17 09:47] Gazzxy commented on #4389
also wondering about this.. cant seem to get google calendar to accept the yetiforce one at all

[2021-05-17 12:04] aveblackmetalstudio opened #14679 "[bug] Export module"
Impossible to export module from **custom** folder

https://github.com/YetiForceCompany/YetiForceCRM/blob/22217f91abea2b2212b31135749ab0453bb469eb/vtlib/Vtiger/PackageExport.php#L95

[2021-05-18 04:00] MaxPegankin commented on #14672
@davide-alghi
I upgraded up to SP8, unfortunatelly the problem remains.

https://github.com/YetiForceCompany/YetiForceCRM/blob/38045d0fb40433cb5170475bdcfb80a18baf000f/modules/com_vtiger_workflow/VTJsonCondition.php#L144

This function you mentioned is not used, I renamed it like this, but workflow still works, looks like conditions don't execute here.

public function checkCondition_false(Vtiger_

[2021-05-18 06:06] davide-alghi commented on #14672
Hi @Maxpeg,

great

a step at a time

this is not the best way to debug/check: to debug enable debugging in config/Debug.php
yes the workflow appears to be running correctly, but it is not so
if you wanna verify my words, rename "checkCondition()" function to "checkCondition_false()" and change "Specify when to execute this workflow" from "Execution schedule (defined time intervals)" to "Every tim

[2021-05-18 06:51] MaxPegankin commented on #14672
@davide-alghi
Correct, there is an error when use "Every time a record is saved (eg. creating, modifying)" with function name "checkCondition_false()"
However, I see no errors in logs when use with "Execution schedule (defined time intervals)", like it goes around somehow, maybe via cron the trace is different.

0. Complete condition is this:
![image](https://user-images.githubusercontent.com/5461

[2021-05-18 06:58] mariuszkrzaczkowski commented on #14672
you do not see errors because you do not save them, correct the server configuration

![image](https://user-images.githubusercontent.com/10198654/118605889-0e322e80-b7b7-11eb-8701-78109112abf6.png)

[2021-05-18 07:05] davide-alghi commented on #14661
sorry, I wrote iCard, but it is iCal

[2021-05-18 07:09] MaxPegankin commented on #14672
@mariuszkrzaczkowski
My bad, how can I fix it?

[2021-05-18 07:15] mariuszkrzaczkowski commented on #14672
https://github.com/YetiForceCompany/YetiForceCRM/blob/9ee77253f4cc5681dc4ccdd6a329338b60de74f4/tests/setup/php/prod.ini#L4

[2021-05-18 07:34] MaxPegankin commented on #14672
@mariuszkrzaczkowski
Done, thank you for the hint.
![image](https://user-images.githubusercontent.com/54612661/118610592-810acc00-b7ee-11eb-8417-285af1d4b264.png)

[2021-05-18 08:02] davide-alghi commented on #14672
@Maxpeg,
I see you have many conditions there, so it is better to proceed by initially eliminating some conditions and adding them one at a time.

before all, enable debugging:

1. in config/Debug.php set
```public static $LOG_TO_FILE = true;```
and
```public static $LOG_LEVELS = 3;```
2. delete content from file
```cache/logs/system.log```
and save, if it exists

here the steps:

1. choose a "Pro

[2021-05-18 08:42] MaxPegankin commented on #14672
@davide-alghi
![image](https://user-images.githubusercontent.com/54612661/118619961-a3551780-b7f7-11eb-8e70-d705c7c3ce8e.png)
I received an email from this XXXX task with Target End Date 2021-07-05
system.log have an error about it, can it lead somewhere?
[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/6499663/system.log)

[2021-05-18 08:46] MaxPegankin commented on #14672
@davide-alghi
I really don't have operatorL(l) in  App\Conditions\QueryFields\DateField, should I add it?

[2021-05-18 09:25] davide-alghi commented on #14672
that is very very strange, no you shouldn't

just a question: have you done some hand customization of the YF core code in the past?

[2021-05-18 10:31] MaxPegankin commented on #14672
@davide-alghi
Well, system is two years old, started from YF 5.1.
I didn't make any global customizations, added some custom modules, some custom invoke functions, didn't touch the core, don't understand there, who calls who and from where.
There were some problems with updates on the way from YF 5.1 to YF 6.1, which I fixed by hands, maybe some minor problems still exist.

Probably if install YF6

[2021-05-18 13:13] davide-alghi commented on #14672
I discourage this: it's a very big job

this is very strange, because the operatorL() function is in another class
https://github.com/YetiForceCompany/YetiForceCRM/blob/3ddea8f3e0ca130546e83eeb7bb2132d9a4a5d70/app/Conditions/RecordFields/BaseField.php#L181

I think this is not related to the problem: time is different

what I can suggest you is

1. perform a fresh installation of YF 6.1 + SP8, the

[2021-05-19 09:28] MaxPegankin commented on #14672
@davide-alghi
![image](https://user-images.githubusercontent.com/54612661/118784863-efb95980-b8c2-11eb-8484-d923bfcbf1e4.png)
Done, with this tool I cleared minor problems accumulated with time, unfortunately the main problem stays.

Thank you for your help, if you have any further ideas how to fix it, please let me know.

[2021-05-19 13:01] kamiro16 opened #14695 "EventHandler - duplicated telephone number"
Hi everyone,
I have problem with eventhandlers in contacts or accounts.
I suggest the event handler blocked also telephone number.

So...
Any one help me to change this code?
[code]

Thanks a lot!

[2021-05-19 13:09] #14695 closed, assigned to nobody

[2021-05-20 02:21] MaxPegankin commented on #14672
@davide-alghi
I copied operatorL() function into the DateField class and now it is working. I hope it won't affect other functionality.

[2021-05-20 11:00] MexasPT commented on #14356
Same with me... in 6.1 version.

[2021-05-20 11:08] MexasPT commented on #14379
Same with me in 6.1... ;(

[2021-05-20 11:12] MexasPT commented on #12882
Having the same problem in 4 different hosting resellers.

[2021-05-21 08:45] samuelsituma commented on #14379
Mine was something to do with server specs kindly check your server
specifications if they are correct and test again

On Thu, May 20, 2021 at 2:09 PM Valentina ***@***.***> wrote:

[2021-05-21 14:41] JEEVAN28 opened #14704 "[bug] PDF Generation throws Error for Quote"
We have created PDF for Quote. While generating Quote it throws below error
![image](https://user-images.githubusercontent.com/12723595/119155203-8aa36680-ba70-11eb-8fb5-25ed5019b2d5.png)

I checked on https://gitdeveloper.yetiforce.com/index.php?module=SQuotes&action=PDF&mode=generate as per instruction on https://github.com/YetiForceCompany/YetiForceCRM/issues/12014

it also throws below error
!

[2021-05-22 07:00] davide-alghi commented on #14704
Hi @JEEVAN28,
it looks like some style is not interpreted by the YF PDF engine.
pls attach PDF template: that can help

[2021-05-22 15:51] rioshaz commented on #13969
@rohanjhanepal go to admin setting then logs then update... n update the system it will fix the problem.... 6.0 has this bug....

[2021-05-23 01:32] rskrzypczak commented on #14556
Feel free to do a pull request :)

[2021-05-23 11:07] s2b-git opened #14710 "[bug]"
<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

I have uploaded image to image field and I cannot delete it

Image is 800x600 jpeg, standard quality

I checked it on yetiforce stable and git versions.

I work on Windows 10 and windows server 2019. On both it not working

[2021-05-23 11:08] #14710 closed, assigned to nobody

[2021-05-23 11:09] s2b-git opened #14711 "[bug] Image cannot be deleted"
I cannot use image field as I cannot delete uploaded image (cannot download too)

Image of standard quality, 800x600 jpeg.

Checked on yetiforce online demo and git

I work on windows 10 and server 2019

[2021-05-24 04:33] rskrzypczak commented on #14711
Duplicate https://github.com/YetiForceCompany/YetiForceCRM/issues/14331.
You need to provide more info regarding your configuration, you see it works on the yetiforce demo: https://github.com/YetiForceCompany/YetiForceCRM/issues/14331#issuecomment-811722692

[2021-05-24 04:33] #14711 closed, assigned to nobody

[2021-05-24 06:05] s2b-git commented on #14711
Hi :-)

I checked here: https://gitdevelo
![Uploading image-bug.gif…]()
per.yetiforce.com/index.php?module=MultiCompany&view=Edit&parent=76&mid=152&record=1

GIF attached. I not even allows upload image here.

[2021-05-24 06:23] rskrzypczak commented on #14711
Fix a broken links

[2021-05-24 07:56] s2b-git commented on #14711
https://gitdeveloper.yetiforce.com/index.php?module=MultiCompany&view=Edit&parent=76&mid=152&record=1

![image-bug](https://user-images.githubusercontent.com/84110093/119315571-2a930700-bca0-11eb-9f75-70a43c46275a.gif)

[2021-05-24 08:46] rskrzypczak commented on #14711
This is not a bug.
As the message says, you can only have one file.
So delete the previous one if you want to add a new one.
![image](https://user-images.githubusercontent.com/10221999/119321709-39b48d80-bc7d-11eb-83dd-71937a1bcd18.png)

[2021-05-24 14:06] blu-IT opened #14717 "[Question] LDAP integration with already existing users in Yetifore"
Hello,

I have been running YF for a while now and users have been created and stored locally in YF.
Now I want to connect YF to an LDAP server, where user accounts will be created and maintained in future.
LDAP accounts have the same login-names/credentials as the existing ones in YF and I would like to know, if binding YF to the LDAP server, YF will recognice that the users already exists in YF

[2021-05-24 14:20] #14717 closed, assigned to nobody

[2021-05-24 22:39] s2b-git commented on #14711
But there is no image in this field. It is empty, even-though it is returning error. Please try, and you can reproduce it :-)
Well, there is something but invisible. Anyway if I try to delete it, it not allowing. Again: I am on Windows 10

[2021-05-25 09:56] MexasPT commented on #14379
Hi samuelsituma!
Do you have any idea what you changed?

[2021-05-25 12:20] JEEVAN28 commented on #14566
@rskrzypczak I am sorry, I was offline completely due to covid positive, and hence could not reply. Answer to your question is Yes, products are active. But this issue is resolved, from settings where control is removed from Processes -> Sales -> Limit Products related to Selected Opportunity.

We are not selecting products in Opportunity hence the issue was faced.

Thanks for your help

Jeevan Pe

[2021-05-25 12:22] JEEVAN28 commented on #14704
@davide-alghi correctly said, issue was with styles. I corrected them properly and issue resolved. Thanks for the help.

[2021-05-25 12:22] #14704 closed, assigned to nobody

[2021-05-25 12:43] JEEVAN28 opened #14722 "Issue in SMTP Configuration"
Hello,

I am trying to add SMTP on my local server, when I set all parameters and press save button, system hangs up for longer time, no error is thrown.

I am trying for GMAIL configuration. I had earlier configured my another email id for gmail. Even mails are sent from this email id daily via workflow. but if I try to edit this configuration also on save system hangs up like below image.

![ima

[2021-05-25 12:50] mariuszkrzaczkowski commented on #14722
![github](https://user-images.githubusercontent.com/10198654/119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d.jpg)

[2021-05-25 14:04] aveblackmetalstudio opened #14723 "[Bug] CRON_MAX_NUMBERS_SENDING_MAILS preference isn't working"
**CRON_MAX_NUMBERS_SENDING_MAILS** preference isn't working

https://github.com/YetiForceCompany/YetiForceCRM/blob/4da92052133b8b2ff02fefa47d55d77e7fc28ea4/modules/Vtiger/crons/Mailer.php#L20-L21

[2021-05-25 15:17] rskrzypczak commented on #14723
I disagree. It works, it might look weird, but it works :)
If you have an idea for a better solution, feel free to do a pull request.

[2021-05-25 15:17] #14723 closed, assigned to nobody

[2021-05-25 16:42] JEEVAN28 commented on #14722
# 🐞 bug report

### ⁉️ **Add Record in SMTP Configuration Hangs up on Local Server for indefinite time**

I have used same ID and Password via RoundCube and for MailScanner, it works. but while configuring SMTP Configuration after save button, web page hang up and finally need to close. SMTP Configuration is not Saved. No error thrown.

This issue is related to GMAIL configuration only, when used

[2021-05-25 17:13] aveblackmetalstudio commented on #14723
@mariuszkrzaczkowski

How it could work, if there is limit 20 on query.
Otherwise, there is no sense in such preference.

[2021-05-26 04:43] rskrzypczak commented on #14723
I suppose you haven't tested it :)
I admit the code isn't perfect, but it more or less works.
P.S. this query is in a loop.

[2021-05-26 04:48] MixTecnico opened #14725 "[bug] problems viewing tickets from another user"
good guys I have a problem that must be silly but I can't find a solution .... in the incident ticket system the main user creates these incidents, but for a month the other users have not seen the tickets created, the users. They are administrators too and the permissions are in the same group and role as the main user, any ideas?

# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the

[2021-05-26 05:00] rskrzypczak commented on #14725
If aminaistrotor does not see entries, you must have messed up the code yourself.
This is not a bug in the base application, so let's move on to the discussion.

[2021-05-26 05:00] #14725 closed, assigned to nobody

[2021-05-26 10:00] JEEVAN28 opened #14729 "On Quote Create, Incorrect value detected. Please contact administrator"
# 🐞 bug report

### ⁉️ Describe the bug
We are creating Quote, every this is ok, but on save button click it throws below error
![image](https://user-images.githubusercontent.com/12723595/119639781-90fd5e00-be35-11eb-9dc2-06589866ca95.png)

#0 [info][yii\db\Connection::open] Opening DB connection: mysql:host=localhost;dbname=yCRM;port=3306
#1 [info][yii\db\Command::query] SELECT EXISTS(SELECT * FR

[2021-05-26 21:05] Jeroenleender opened #14731 "[error] - Error OSSMail_Record_Model::imapConnect({outlook.office365.com:993/imap}): [CLOSED] IMAP connection broken (server response)"
Hello and first of all thx for the best open source crm project i could find!

After that being said i have been troubleshooting the install for some days to make sure the environment is as close to perfect as i can get it on CentOS 7.

System warnings show everything green!
Server configuration system settings show all good except for Error logs (error_log) which is empty for apache as well as cr

[2021-05-27 03:47] JEEVAN28 commented on #14729
I checked system.log file and found below details towards error, may be useful to track
====================================================================================================================================
2021-05-27 09:10:59.5864 [info][yii\db\Connection::open] - Opening DB connection: mysql:host=localhost;dbname=yCRM;port=3306
2021-05-27 09:10:59.596 [info][yii\db\Command::query]

[2021-05-27 05:38] mariuszkrzaczkowski commented on #14729
currency in null

[error] - ERR_ILLEGAL_FIELD_VALUE||currency||
App\Exceptions\Security: ERR_ILLEGAL_FIELD_VALUE||currency|| in D:\xampp\htdocs\yCRM\modules\Vtiger\inventoryfields\Currency.php:93
Stack trace:
#0 D:\xampp\htdocs\yCRM\modules\Vtiger\models\Record.php(1159): Vtiger_Currency_InventoryField->validate(**NULL**, 'currency', false)

[2021-05-27 05:41] mariuszkrzaczkowski commented on #14731
https://support.microsoft.com/pl-pl/office/ustawienia-pop-imap-i-stmp-8361e398-8af4-4e97-b147-6c6c4ac95353

https://github.com/YetiForceCompany/YetiForceCRM/issues/12133
https://github.com/YetiForceCompany/YetiForceCRM/issues/4584
https://github.com/YetiForceCompany/YetiForceCRM/issues/4002

[2021-05-27 06:00] JEEVAN28 commented on #14729
Hi,

please refer to code suggested in discussion,

https://github.com/YetiForceCompany/YetiForceCRM/discussions/14724

when I commented below code in squotes.php issue resolved. there is something wrong due to below code
public static $defaultInventoryData = [
		'discountmode' => 1,
		'taxmode' => 1,
	];

but commenting this has again reset discountmode and taxmode to Group

Please assist to hand

[2021-05-27 06:39] mariuszkrzaczkowski commented on #14729
a demonstration of what your data form looks like

[2021-05-27 09:03] JEEVAN28 commented on #14729
Data form is
![image](https://user-images.githubusercontent.com/12723595/119798045-6d4f1c00-bef8-11eb-968c-0f91dbd5a786.png)

[2021-05-27 10:54] Jeroenleender commented on #14731
Hello Marius and thanks for your reply, i looked into those 3 tickets and it looks to me they where unable to connect at all!

Could it be that we setup the roundcube mailbox with it's own user and password instead of %u and %p?
The user that configured the mailbox logs in using a different domainname and email address in the login name

I added below image to show u that my mailbox connects and t

[2021-05-27 13:23] rskrzypczak commented on #14731
check this: https://github.com/YetiForceCompany/YetiForceCRM/issues/12589

[2021-05-27 14:48] Jeroenleender commented on #14731
Worked perfectly, thank you

[2021-05-27 14:48] #14731 closed, assigned to nobody

[2021-05-27 15:53] JEEVAN28 commented on #13957
I am also facing same error while generating pdf for quote

[2021-05-28 00:40] s2b-git commented on #13478
Experiencing the same with Execution Schedule. It hangs and need to restart task to make it working.

[2021-05-28 01:45] s2b-git commented on #14552
what is your advise than? It looks like problem description missing solution :-)

[2021-05-28 03:38] s2b-git opened #14735 "[bug] Execution Schedule - Daily - not triggers"
Execution Schedule set on Daily (with certain time) is not triggering

I checked this issue on https://gitdeveloper.yetiforce.com/
I created sample workflow in dev version. I think it is very easy to reproduce it

best!

[2021-05-28 05:05] #14556 closed, assigned to rskrzypczak

[2021-05-28 05:06] rskrzypczak commented on #14556
Thanks.

[2021-05-28 05:37] mariuszkrzaczkowski commented on #13478
If you have a problem with CRON, checking the server configuration is a common problem.
![github](https://user-images.githubusercontent.com/10198654/119935297-910d7300-bf87-11eb-9a53-c45e3a36f0d6.jpg)

[2021-05-28 10:16] rskrzypczak commented on #14675
Thanks.

[2021-05-28 10:16] #14675 closed, assigned to nobody

[2021-05-28 16:06] rulotec opened #14738 "[bug] Links to customer and vendor portals are broken (404)"
Just click on these:

https://gitdeveloper.yetiforce.com/customerPortal

https://gitdeveloper.yetiforce.com/vendorPortal

![image](https://user-images.githubusercontent.com/36896420/120012196-d12f1e80-bfa4-11eb-8ea9-9924c9e53b44.png)

[2021-05-28 17:21] rioshaz opened #14739 "[bug] Project task notification not working"
I have tested this on gitstable
project notification dont work and gives coded (ModTracker|LBL_UPDATED)$ $(record : RecordLabel)$) line rather then title n link to the created or edited record.

pls see below screenshot.. i created a project task n asisgned it to another user on gitsable. but the notification is messed up...

![image](https://user-images.githubusercontent.com/54880467/120020161-fc

[2021-05-28 18:32] mariuszkrzaczkowski commented on #14738
corrected
https://github.com/YetiForceCompany/YetiForcePortal2#-demo

[2021-05-28 18:32] #14738 closed, assigned to mariuszkrzaczkowski

[2021-05-28 19:28] rulotec opened #14740 "[bug] portal demo credentials not working"
Portal Demo credentials not working:

https://gitdeveloper.yetiforce.com/portal/

![image](https://user-images.githubusercontent.com/36896420/120033133-c97d7300-bfc0-11eb-8366-26b0a518c045.png)

customer/customer
vendor/vendor

are not valid

same applies here: https://gitdevportal.yetiforce.com/

[2021-05-29 04:59] JEEVAN28 opened #14743 "[bug] PDF Settings Edit mode not working"
# 🐞 bug report

### ⁉️ Describe the bug
When trying to Edit PDF from Settings, Documents basic options page does not load properly

Till few days back same was working, now not allowing to edit pdf

In Chrome Console, I checked and found below error

Uncaught TypeError: Cannot read property 'textContent' of null
    at HTMLDocument.errorLog (index.php?module=PDF&parent=Settings&view=Edit&record=40

[2021-05-31 05:57] mariuszkrzaczkowski commented on #14743
1. Two important configuration errors, please correct and let me know
[code]
2. You can try deleting the template and adding it again
3. run full logs

[2021-05-31 05:59] samuelsituma commented on #14379
It was a space issue on my Cpanel so I moved the CRM to a bigger Linux
server and it worked well.

On Tue, May 25, 2021 at 12:56 PM Valentina ***@***.***> wrote:

[2021-05-31 06:28] mariuszkrzaczkowski commented on #14740
Fixed, there are currently quite a few changes to portal 2 and the crm API, so there may be temporary performance issues.

[2021-05-31 09:27] espe808 opened #14749 "[Docker] ... Problem Installation"
Hello,
I have this problem during the installation.
(I have inserted ALL the information about the company).

![yeti](https://user-images.githubusercontent.com/85027316/120172297-2c5e4c80-c203-11eb-959b-7426858054f3.PNG)

[2021-05-31 09:37] vovpff commented on #14749
What is the problem? This is optional window with question why admin logged in.

[2021-05-31 09:39] espe808 commented on #14749
This window appears when I am doing the installation and so I cannot proceed.
And so what I must to write in this window in order to proceed?

[2021-05-31 09:49] rskrzypczak commented on #14749
When logging in for the first time after installation, you must provide the reason, and then you can turn it off in the panel or change the settings in the file.
This is not a bug, so I close.

[2021-05-31 09:49] #14749 closed, assigned to mariuszkrzaczkowski

[2021-05-31 09:55] espe808 commented on #14749
What reason I have to write?
Please suggest me the answer.

[2021-05-31 10:02] rskrzypczak commented on #14749
Whatever you want, it's local information. It is not sent anywhere, it is only available for viewing in the administration section in order to register the administrator's activity.

[2021-05-31 10:04] espe808 commented on #14749
Whatever I write and click save, the window doesn't disappear and so I can't proceed.

[2021-05-31 10:39] mariuszkrzaczkowski commented on #14749
Provide the required information
![github](https://user-images.githubusercontent.com/10198654/120181266-1c4b6a80-c20d-11eb-8cb8-5f919e381d5e.jpg)

[2021-05-31 11:57] waran70 commented on #14749
How easier would be for the developers to create community FAQ for managing a such? Paste link to FAQ here and if there is no answer show in FAQ link to paid support.

[2021-05-31 17:36] espe808 commented on #14749
I have solved with local installation.

[2021-06-01 08:34] #14502 closed, assigned to nobody

[2021-06-01 08:35] #14500 closed, assigned to nobody

[2021-06-01 08:35] #14494 closed, assigned to nobody

[2021-06-01 08:35] #14495 closed, assigned to nobody

[2021-06-01 08:35] #14496 closed, assigned to nobody

[2021-06-01 08:54] rskrzypczak commented on #14454
Fixed on the current development version, the bug will not appear in version 6.2.
Duplicate: https://github.com/YetiForceCompany/YetiForceCRM/issues/14627

[2021-06-01 08:54] #14454 closed, assigned to rskrzypczak

[2021-06-01 09:10] #14311 closed, assigned to nobody

[2021-06-01 09:14] rskrzypczak commented on #14140
Błąd nie występuje w aktualnej wersji deweloperskiej oraz ostatniej stabilnej, więc zamykam.
Jeżeli wg Ciebie błąd nadal występuje, otwórz nowe zgłoszenie z pełnym opisem zjawiska.

[2021-06-01 09:14] #14140 closed, assigned to nobody

[2021-06-01 09:38] #13926 closed, assigned to nobody

[2021-06-01 09:38] rskrzypczak commented on #13926
Thanks.

[2021-06-01 09:53] #13835 closed, assigned to nobody

[2021-06-01 09:53] rskrzypczak commented on #13835
@diderich Thanks.

[2021-06-01 10:06] rskrzypczak commented on #13824
I don't think the issue still occurring.
If you still see it, try logging in again and clearing the cache, if that doesn't help, re-create the ticket.

[2021-06-01 10:06] #13824 closed, assigned to nobody

[2021-06-01 10:31] rskrzypczak commented on #13718
I don't think the issue still occurring.
Besides, it is not possible to send e-mails from several fields.
`"field": [
			"my_custom_email_field_1"
		],`

If you think the bug still exists, please open a new ticket.

[2021-06-01 10:31] #13718 closed, assigned to nobody

[2021-06-01 10:36] rskrzypczak commented on #13672
Fixed on the current development version, the bug will not appear in version 6.2.

[2021-06-01 10:36] #13672 closed, assigned to rskrzypczak

[2021-06-01 11:07] rskrzypczak commented on #14356
Can you trigger it on test environments?

[2021-06-01 13:17] TheVirtualMoose opened #14760 "[bug] Changing inventory's currency does not convert purchase price"
# 🐞 bug report

### ⁉️ Describe the bug

If items are already added to the inventory of e.g. a quote or an order, changing currency recalculates only the selling price, but not the purchase price. This throws off margin calculation.
NOTE: Purchase price is properly calculated if the currency is changed first and the item added later.

### 🔥 How to trigger the error

Steps to reproduce the behavior

[2021-06-01 14:36] #14760 closed, assigned to rskrzypczak

[2021-06-01 15:06] TheVirtualMoose commented on #14760
The fix works, thank you for such a prompt reaction!

[2021-06-03 07:27] QVinto opened #14769 "[bug] No list of deleted items in trash bin / recycle bin"
### 🔥 How to trigger the error
YetiForrce 6.2
Steps to reproduce the behavior:

1. Go to system settings -> standard modules ->Menu - Configuration -> Add item to menu Recycle bin
2. Go to User panel -> delete any records you want (i tested it for products and contacts)
3. Go to Recycle bin and select from picklist module regarding to deleted record. If you deleted contact, then you have to select

[2021-06-03 16:33] kamcio2603 opened #14771 "Office 365 modern SMTP connection"
Hello,

YetiCRM is using phpmailer which supports modern (aka SASL XOAUTH2 ) authentication for IMAP/SMTP email handling.

So, my question is, can CRM use/connect to office 365 via XOAUTH instead of old style login/pass.

Example link for google: https://phppot.com/php/sending-email-using-phpmailer-with-gmail-xoauth2/

[2021-06-04 05:36] #14769 closed, assigned to rskrzypczak

[2021-06-04 05:54] mariuszkrzaczkowski commented on #14771
can use
only someone has to add the ability to CRM to be able to download the keys in the panel

[2021-06-04 05:55] #14771 closed, assigned to nobody

[2021-06-04 10:46] gsamushia opened #14776 "[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'Logistics Module/Goods Received Notes Corrections'  or 'Logistics Module/Goods Dispatched Notes Corrections'
2. Click on 'Save'

### 👎 Actual Behavior

When saving new "Goods Received Notes Corrections"  or "Goods Dispatched Notes Corrections" I am receiving the following error "Err

[2021-06-04 12:30] #14776 closed, assigned to rskrzypczak

[2021-06-05 11:19] JEEVAN28 opened #14788 "[bug] Change in Account Assigned to adding user in Shared With of Contact"
Hello,
I need to disable auto assigning of Related Contact to previous owner user of Account. I checked on **GitDeveloper and found no issue**, but on **GitStable I found issue which I am facing on my local server**, I tried searching for code changed but could not found.

Below is current contact where no shared with user is assigned
![image](https://user-images.githubusercontent.com/12723595/120

[2021-06-05 11:32] JEEVAN28 commented on #14722
Don't know but this is working now. closing task.

[2021-06-05 11:32] #14722 closed, assigned to nobody

[2021-06-07 04:43] rskrzypczak commented on #14788
Remove this handler: https://github.com/YetiForceCompany/YetiForceCRM/commit/f10998dcf2cf88bb9321d141e7127e5559afd7b8#diff-6c1ecf2857599d07dbe8f7fbaaeae68350e57e60c25afa88bc62648e30cbc804L3366

[2021-06-07 04:43] #14788 closed, assigned to rskrzypczak

[2021-06-07 08:03] rskrzypczak commented on #14743
Try disabling the extensions you've added to your browser.

[2021-06-07 09:24] espe808 opened #14796 "Bug importing new Accounts or creating new Users"
Hi,
as previous discussion https://github.com/YetiForceCompany/YetiForceCRM/discussions/14780
and as @mariuszkrzaczkowski suggests,
in attachment there is my configuration report.

I cannot import new Accounts and also I cannot create new users.
Maybe there is a bug? 

![ConfReport (1)](https://user-images.githubusercontent.com/85027316/120991778-3d1e3d80-c782-11eb-8008-316578b96126.png)

[2021-06-07 09:35] mariuszkrzaczkowski commented on #14796
The problem is caused by a wrong server configuration

[2021-06-07 09:35] #14796 closed, assigned to mariuszkrzaczkowski

[2021-06-07 09:41] espe808 commented on #14796
@mariuszkrzaczkowski thanks for your reply.
What is wrong in my server configuration?

[2021-06-07 10:26] mariuszkrzaczkowski commented on #14796
Everything that is in red

[2021-06-07 14:46] TheVirtualMoose opened #14797 "[Question] Adding new inventory fields sourced from products database"
I am trying to add new inventory fields that will take their values from appropriate values in the products' database. So far, I have figured out I need to:

- Create a new class in (basedir)/modules/Vtiger/inventoryfields
- Add a corresponding .tbl snippet in (basedir)/layouts/basic/modules/Vtiger/inventoryfields
- Add a setField function to (basedir)/public_html/layouts/basic/modules/Vtiger/reso

[2021-06-07 16:34] JEEVAN28 commented on #14788
Thanks, issue resolved

[2021-06-07 16:41] JEEVAN28 commented on #14743
Disabled all extensions, but issue persist. I noticed error in Console

![image](https://user-images.githubusercontent.com/12723595/121057724-353fb700-c7dd-11eb-960a-7f3471a0124b.png)

This may be helpful to understand exact problem

Regards
Jeevan Pendhari

[2021-06-07 16:43] JEEVAN28 commented on #14729
@mariuszkrzaczkowski

hello, do need to handle in js file as code suggest js file sets values on client side.

please assist.

regards
Jeevan Pendhari

[2021-06-07 19:54] #14797 closed, assigned to nobody

[2021-06-08 05:50] mariuszkrzaczkowski commented on #14743
Check if the error exists in the dev version and the last stable version

[2021-06-08 07:24] JEEVAN28 commented on #14743
Hello,

Checked on dev version and found working properly
![image](https://user-images.githubusercontent.com/12723595/121141260-67422f00-c858-11eb-98cd-0b852c4a4391.png)

On stable version also it is working properly.
![image](https://user-images.githubusercontent.com/12723595/121141373-8476fd80-c858-11eb-99bc-bb745c56fda1.png)

Please assist.

Regards
Jeevan Pendhari

[2021-06-08 07:28] mariuszkrzaczkowski commented on #14743
This means your version is corrupted

[2021-06-08 07:28] #14743 closed, assigned to nobody

[2021-06-08 07:29] rioshaz commented on #14739
@mariuszkrzaczkowski hi sir .. any hope when can we find a solution to this problem...

[2021-06-08 10:47] espe808 opened #14805 "CRON (CLI) not change after php.ini change"
After changing the php.ini file to solve red line in attachment of CRON (CLI) column, the red lines not change their status.

Why?
![1234567](https://user-images.githubusercontent.com/85027316/121172203-bcca0c00-c857-11eb-8906-fb4180c082f5.JPG)

[2021-06-08 11:33] waran70 commented on #14805
O.o
systemctl reload apache2

[2021-06-08 12:11] espe808 commented on #14805
I have launched the apache2 command, but anyway it doesn't work

[2021-06-08 12:28] #14805 closed, assigned to nobody

[2021-06-09 09:51] TheVirtualMoose opened #14811 "[bug] Value inventory field mapped to a Reference field does not show its value after saving"
# 🐞 bug report

### ⁉️ Describe the bug

A Value inventory field mapped to a Reference field correctly saves the display value of the referenced record, but later fails to show the value. I believe it works this way (please note that I am, emphatically, not a developer, just a monkey with a wrench):

1. Let's assume we have an inventory field of type Value which is mapped (in _invmap table) to the

[2021-06-11 07:40] Nyshak opened #14822 "[PL] Problem z wykresem"
Witam,

stworzyłem od zera nowy wykres. Po zakończeniu procesu pojawił mi się on na stronie głównej w formie "widgetu". Niestety cały czas jest w trakcie weryfikacji (wyświetla się napis "proszę czekać"), a po upływie paru/parunastu minut wyświetla się taki komunikat w polu widgeta, który miał być wykresem - "Fatal error: Maximum execution time of 300 seconds exceeded in C:\wamp64\www\datalabcrm\m

[2021-06-11 07:55] bpabiszczak commented on #14822
Programista musi to zrobić z poziomu bazy danych.
Zalecamy aktualizację systemu.

[2021-06-11 07:55] #14822 closed, assigned to bpabiszczak

[2021-06-12 13:18] 548990 opened #14829 "[bug] installation unsuccessful. Wrong session ID."
Shown below:
Wrong session ID.
Exists in server configuration which causes loss of session data.
We recommend removing browser cache, in case it does not help please fix your server configuration.

Removing browser cache does not work.

The error log shown below:
[Sat Jun 12 20:59:46.062852 2021] [core:warn] [pid 7560:tid 352] AH00098: pid file D:/phpstudy_pro/Extensions/Apache2.4.39/logs/httpd.pi

[2021-06-12 20:19] mariuszkrzaczkowski commented on #14829
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/121797837-05e8da00-cc23-11eb-997a-07b42d308325.jpg)

[2021-06-13 06:43] mariuszkrzaczkowski commented on #14829
https://github.com/YetiForceCompany/YetiForceCRM/issues/13917

[2021-06-13 06:44] #14829 closed, assigned to nobody

[2021-06-13 08:29] 548990 commented on #14829
Dear Sir, you suggestion #13917 does not work.
pls review.

[2021-06-13 10:31] mariuszkrzaczkowski commented on #14829
without access to the environment it is impossible

[2021-06-14 07:14] Nyshak commented on #14822
Dzień dobry,  dziękuję za odpowiedź. Czy jest Pan w dtanie wskazać gdzie dokładnie mam szukać błędu?

        Dnia 11 czerwca 2021 09:55 Błażej Pabiszczak ***@***.***&gt; napisał(a):

 Programista musi to zrobić z poziomu bazy danych.
Zalecamy aktualizację systemu.

 —  You are receiving this because you authored the thread.  Reply to this email directly,  github.com view it on GitHub , or  github

[2021-06-14 07:23] mariuszkrzaczkowski commented on #14822
Trudno wskazać gdzie szukać błędu bo to wymaga analizy przez programistę.
Dziwne jest to że błąd występuje w wierszu 766 dla pliku "modules\Vtiger\models\ChartFilter.php" gdzie ten  plik w wersji 4.3 ma tylko 574 wierszy (https://github.com/YetiForceCompany/YetiForceCRM/blob/4.3.0/modules/Vtiger/models/ChartFilter.php).
Wygląda to albo na nieudaną aktualizację lub modyfikację systemu.

Tak czy ina

[2021-06-15 08:33] #14811 closed, assigned to rskrzypczak

[2021-06-16 01:40] s2b-git opened #14839 "[bug] System doesnt allow for duplicate filters"
I checked it on stable and gitdev.

If admin user create filter (public or not) the other user(s) cannot create filter with the same name.
I consider it as a bug, as this will be very common conflicting situation in larger systems (with many users).

Best!

[2021-06-17 10:14] Akaki-1991 opened #14843 "accounts module"
version. 6.1.0

[2021-06-17 10:21] mariuszkrzaczkowski commented on #14843
![github](https://user-images.githubusercontent.com/10198654/122378799-8f234800-cf66-11eb-902e-5f773b6d1af3.jpg)

[2021-06-17 10:34] Akaki29 commented on #14843
![Uploading 1.PNG…]()

[2021-06-17 10:34] Akaki29 commented on #14843
![3](https://user-images.githubusercontent.com/75428743/122380607-1b3e6b00-cf79-11eb-95a9-495419ebc296.PNG)

[2021-06-17 10:35] Akaki29 commented on #14843
![3](https://user-images.githubusercontent.com/75428743/122380684-2d200e00-cf79-11eb-9fcb-e91b89ebb29d.PNG)
![2](https://user-images.githubusercontent.com/75428743/122380716-34471c00-cf79-11eb-9bf4-e62e8a65f9f5.PNG)
![1](https://user-images.githubusercontent.com/75428743/122380722-37420c80-cf79-11eb-83c4-58647c49d184.PNG)

[2021-06-17 10:37] mariuszkrzaczkowski commented on #14843
The error is in a wrong server configuration

[2021-06-17 10:37] #14843 closed, assigned to mariuszkrzaczkowski

[2021-06-17 11:22] JEEVAN28 opened #14844 "[bug] Error on Gitdeveloper while creating new Quote"
Hi,
Where do I find commit related to below feature added on gitdeveloper while creating Quote.
![image](https://user-images.githubusercontent.com/12723595/122387292-58f8bf00-cf8c-11eb-9d85-261f8f7cf398.png)

Also I was checking multi product feature on gitdeveloper and noticed below error. FYI
![image](https://user-images.githubusercontent.com/12723595/122387131-2d75d480-cf8c-11eb-9e3c-5610ba9506

[2021-06-17 11:41] #14844 closed, assigned to rskrzypczak

[2021-06-18 05:40] waran70 opened #14848 "[bug] Switching off Products module creeping Invoices"
Switching off Products module (for completely service based mid-size entity) locking line items in invoices. Cannot add Services in this case at all.

You can test it in online dev and stable versions

[2021-06-18 10:21] davide-alghi commented on #14848
Hi @waran70,
yes it does. if you disable an inventory lineitem module like Prods or Servs, you have to reconfigure all inventory modules (extended modules) that use the disabled one.
the change of behavior is not only on Sales Invoices, but on ALL inventory modules (extended modules) that are using the disabled one
eg for Sales Invoices

1. go to Standard modules / Edit fields
2. select Sales Invo

[2021-06-18 13:08] waran70 commented on #14848
Thanks Davide

[2021-06-18 13:08] #14848 closed, assigned to nobody

[2021-06-20 13:24] 548990 opened #14854 "[bug] the login page could not jump."
Hi,

Xampp with all Web server requirements
Apache 2.4.47, MariaDB 10.4.19, PHP 7.3.28, phpMyAdmin 5.1.0, OpenSSL 1.1.1

The installation was about 30minutes,
When it was finish,
i type the right user/password, but could not jump
Pls check what is the reasons.
![1624195428(1)](https://user-images.githubusercontent.com/85793374/122675843-da12b900-d20d-11eb-8a7a-7bb412615741.jpg)

[2021-06-20 15:30] vovpff commented on #14854
Let's clean cache and coockies for this website

[2021-06-21 02:59] 548990 commented on #14854
I do, but it does not work.  Any other reasons ?

[2021-06-21 05:43] mariuszkrzaczkowski commented on #14854
Show a screenshot of the configuration verification during installation, make sure the server configuration is correct.
Check the server and browser logs
This is not a CRM error

[2021-06-21 05:44] mariuszkrzaczkowski commented on #14854
![github](https://user-images.githubusercontent.com/10198654/122712639-867f8a00-d264-11eb-87d4-8a8f666daa94.jpg)

[2021-06-21 21:00] #14417 closed, assigned to nobody

[2021-06-21 21:02] #14669 closed, assigned to nobody

[2021-06-24 09:44] TheVirtualMoose opened #14865 "[bug] In PDF inventory table, summation fields contains currency symbol regardless of type"
# 🐞 bug report

### ⁉️ Describe the bug

I have created a custom inventory field (TotalWeight) with summation enabled. In inventory tables in PDFs, the sums are shown with a currency symbol, which is not always desired.

Looking at app/TextParser.php, there is some plumbing already done to differentiate fields with and without currency ($fieldsWithCurrency in getInventoryTable function), but appar

[2021-06-25 16:04] JEEVAN28 opened #14868 "Comment Tab not showing on Calendar Module"
Hi,

I have followed steps provided as per issue https://github.com/YetiForceCompany/YetiForceCRM/issues/10626
and added with below query from back end but same is not showing on Calendar Detailed Page. In addition to this Module relation added for Documents is also not showing

INSERT INTO vtiger_fieldmodulerel (fieldid, module, relmodule, status, sequence) VALUES ('601', 'ModComments', 'Calendar

[2021-06-25 18:06] mariuszkrzaczkowski commented on #14868
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/123467594-f6896980-d5f0-11eb-8206-19424370f5f5.jpg)

[2021-06-27 14:19] JEEVAN28 commented on #14868
Hi,
I have tried to search on github but not found any reference to this problem.

🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->

# 🐞 bug report

I need comment module on Calendar Event. Since there is no direct way, I have followed steps provided as per issue #10626 and Inserted values via back end as suggested in issue replies.

INSERT INTO vtiger_fieldmodulerel (fieldid, module, relmodule, status, seque

[2021-06-27 14:20] JEEVAN28 commented on #13859
I faced same issue and resolved with this help. Thanks

[2021-06-28 18:37] gsportelli73 opened #14876 "Webservice problem"
Hi, i have updated yeti to 6.1.2.
On my vps centros 7 php 7.3
i have a webservice that until a few weeks ago, it get data from wordpress cms and storage in a lead data.
Now i don't understand why doesn't function anymore.
I think that apache doesn't forward to php athorization header with data.
My logs
[webserviceDebug_25_06_021.log](https://github.com/YetiForceCompany/YetiForceCRM/files/6728449/w

[2021-06-28 19:13] mariuszkrzaczkowski commented on #14876
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/123691292-baa30e00-d855-11eb-9273-dd8aeece4ee4.jpg)

[2021-06-29 06:09] gsportelli73 commented on #14876
Hi, I have Yeti updated version 6.1.2 and i have a webservice on it
Webservice uses Rest API service to insert lead in yeti via wordpress website of custumer.
Already in previus version after a few month webservice produced an error 401.
In the log file of webservice shows that autorization header is missing.
My webservice is installed on crm
![webservice_1](https://user-images.githubusercontent.c

[2021-06-29 06:24] mariuszkrzaczkowski commented on #14876
`I have Yeti updated version 6.1.2 and i have a webservice on it`
There is no update package for this version

You have a problem at the web server layer,
there you have to look in the logs

[2021-06-29 06:30] mariuszkrzaczkowski commented on #14876
Logs:

[code]

[code]
[code]
You have a lot of errors in the logs, you need an administrator to improve the server configuration

[2021-06-29 06:30] #14876 closed, assigned to mariuszkrzaczkowski

[2021-06-29 13:39] gsportelli73 commented on #14876
Hi, this error i had before and the webservice it was ok.
I'm sure that warning it is important but not is the cause of problem.
Thank

[2021-07-01 08:26] JEEVAN28 commented on #14868
Hi,
Did you find any issues, how to resolve

Regards
Jeevan Pendhari

[2021-07-03 08:43] diderich opened #14887 "[bug] roundcube library fails to download in 6.2.0"
# 🐞 bug report

### ⁉️ Describe the bug

I updated my system to version 6.2.0. The I tried to update the roundcube library as suggested. When clicking on the butting [DOWNLOAD LIBRARY], nothing happens.

The error log file shows

`[Sat Jul 03 10:34:33.708169 2021] [php7:warn] [pid 25404] [client xxx.xxx.xxx.xxx:xxxx] PHP Warning:  ZipArchive::close(): Invalid or uninitialized Zip object in /opt/cr

[2021-07-03 18:24] mariuszkrzaczkowski commented on #14887
Fixed, https://github.com/YetiForceCompany/lib_roundcube/releases

[2021-07-03 18:24] #14887 closed, assigned to mariuszkrzaczkowski

[2021-07-04 07:27] diderich opened #14899 "[bug] Layout error - Employee Hierarchy"
# 🐞 bug report

### ⁉️ Describe the bug

The background when displaying the employee hierarchy is incorrectly sized.

When displaying the hierarchy of an employee in `Company / Employees / Detail / xxx` by clicking on the employee hierarchy button, the background is not sized correctly, making the entry partially unreadable (see figure):

![error](https://user-images.githubusercontent.com/10230144

[2021-07-04 07:45] diderich opened #14900 "[bug] Notice message in OSSEmployees due to outputting array as string"
# 🐞 bug report

### ⁉️ Describe the bug

In version 6.2.0 v1, when displaying the employee hierarchy, the following notice is entered into the server's error log file

[code]
This message can be avoided by doing the following replacement:
`\App\Log::trace('Entering __getParentEmployees(' . $id . ',' . $parentAccounts . ') method ...');`
replaced by
`\App\Log::trace('Entering __getParentEmployees('

[2021-07-04 16:47] mariuszkrzaczkowski opened #14905 "PHP 8"
I have encountered the following warning when using php 8.0.8
[code]

_Originally posted by @diderich in https://github.com/YetiForceCompany/YetiForceCRM/discussions/14890#discussioncomment-962591_

[2021-07-05 09:19] JEEVAN28 opened #14910 "[bug] 403 Forbidden"
Hi,

I am trying to access https://gitstable.yetiforce.com/ and getting below error

![image](https://user-images.githubusercontent.com/12723595/124448530-2fb79b80-dda0-11eb-8e36-52275c33a75f.png)

Please look into this.

Regards
Jeevan Pendhari

[2021-07-05 10:03] rskrzypczak commented on #14910
the demo for the stable version is not available yet.
Use the development version: https://gitdeveloper.yetiforce.com/

[2021-07-05 10:13] #14910 closed, assigned to nobody

[2021-07-05 17:20] JEEVAN28 opened #14915 "[Security] While registering getting error"
Hi,

I have upgraded to Release 6.2.0, I am facing below issues.
![image](https://user-images.githubusercontent.com/12723595/124503309-e89eca00-dde2-11eb-876f-05c0fee9621b.png)

In above screen, Status shows No, what is the meaning ?

When trying to see Server Configuration or Dashboard from Settings, I get below error
![image](https://user-images.githubusercontent.com/12723595/124503371-0cfaa680-

[2021-07-05 18:15] mariuszkrzaczkowski commented on #14915
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/124507231-af0f9400-ddcd-11eb-9174-6cc1e6f277d9.jpg)

[2021-07-05 18:15] mariuszkrzaczkowski commented on #14915
Logs logs logs ....

[2021-07-06 03:55] rskrzypczak commented on #14915
`In above screen, Status shows No, what is the meaning ?`
This means the update has failed. You should get a notification of this when updating.
Check the logs, restore the system from before the update, fix the application errors and perform the update again.

[2021-07-06 09:16] #14900 closed, assigned to nobody

[2021-07-06 18:04] scotlad9 opened #14922 "[bug] Roundcube plugin still preventing email retrieval from Office 365"
Previously, I reported a bug when the Roundcube yetiforce plugin is enabled.  Email is not retrieved from an Office 365 server and the message 'loading' remains in the bottom right corner of the screen.  This was to be addressed in V6.2 but unfortunately it remains.

As before, if the default order is changed to 'ascending' the oldest 30 emails are displayed but still gets stuck 'loading' if the p

[2021-07-07 12:21] s2b-git opened #14925 "[bug] IMAP configuration for saving emails > ignored in Gmail"
I have set AWS SES as a SMTP and pointed sent emails to be saved in certain folder (label) in Gmail.
Whatever label I enter in the field "Folder" the emails will be set anyway in Inbox

[2021-07-07 17:51] mariuszkrzaczkowski commented on #14925
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/124806247-c466f880-df5c-11eb-94d1-9fe153798cd6.jpg)

[2021-07-08 05:14] s2b-git commented on #14925
Not sure how to write this issue in line with provided template. I cannot test it on installations provided for testing and I will expose my passwords.
 Here is the way (one of) I trying to set sent emails in sent folder

[2021-07-08 05:14] s2b-git commented on #14925
Tried various config, and nothing is working. Cannot save sent emails
![image](https://user-images.githubusercontent.com/84110093/124866120-1011b480-dfe6-11eb-9df6-f6474bd4b82a.png)

[2021-07-08 07:20] #14899 closed, assigned to nobody

[2021-07-08 09:07] kseibi opened #14928 "Colors for "Advance Field" Picklist"
Hi, I am aware that we can edit the picklist fields colors for standard fields, it is working perfectly, I was wondering how to change the colors of a picklist field within an advanced field, I cannot get the picklist from the normal "colors" section, is there a code I have to add? could you tell me how it is done?

[2021-07-08 09:20] #14928 closed, assigned to nobody

[2021-07-08 09:41] MexasPT commented on #14437
@Akaki29

Hi!
Did you find the solution?
I have the same issue... :(

[2021-07-08 13:06] apcloic commented on #14925
@s2b-git I remember I also had some issue with saving sent mails to Gmail while using Postfix as MTA.
Afaik it may depend on which language is used on Gmail side, this problem is not related to YF.
Give a try with something like this as Folder : [Gmail]/Sent
For example, in french I had to use : [Gmail]/Messages envoyés
Where "Messages envoyés" is the french translation for "Sent".
Regards,

[2021-07-08 21:34] #14915 closed, assigned to nobody

[2021-07-08 21:35] #14854 closed, assigned to nobody

[2021-07-09 00:09] s2b-git commented on #14925
[Gmail]/Sent Mail - this works.

Thanks!

[2021-07-09 03:07] IanMuller opened #14935 "[bug] Identies abuse - a security issue"
Fact that users can use identities of other users is a critical security breach.
This is long standing design error intentionally overseen or ignored.
It would be enough to make little projection of 200 users working in the same app.
I never been on it unless I see latest discussions and reports. It is nothing developers can help (please don't speak about money) as design goes too deep and hooking

[2021-07-09 04:22] #14925 closed, assigned to nobody

[2021-07-09 05:06] waran70 commented on #13009
Below will not apply if user get consent to send emails. Email tracking is very important in marketing related applications.
On top of it admins can build near-artificial intelligency workflow system automating a lot. Tracking statistic should be a part of all contemporary CRM systems

[2021-07-09 06:52] diderich commented on #14935
Please explain, referencing the actual fuction(s) that do no work as intended, e.g., through a use case. I don't understand the secuity problem you try to describe.

[2021-07-09 13:38] waran70 commented on #14935
The problem what had been raised is that Roundcube allowing every user to send email with identity of other users. Just try. I did.
look here:
![image](https://user-images.githubusercontent.com/6852348/125085221-869cd800-e0f4-11eb-8b7b-c4ed15c99e07.png)

Even you configure system to use one identity, user still have option to change signature. Yes, just imagine as bug reporting guy said: 200 users

[2021-07-09 17:49] #14935 closed, assigned to nobody

[2021-07-09 22:16] sltmunky69 opened #14937 "Call to a member function get() on null[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

Immediately after upgrade to 6.2, can't even open the index page of the web interface whatsoever and receive the message: Error!!! Call to a member function get() on null. There are plenty of similar other bug reports with the same type of error, but not with the same info in the trace log.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

[2021-07-10 12:35] rskrzypczak commented on #14937
I really doubt it, if you did an update, you should have at least a few entries in the **updateLogsTrace.log** file.
The update was probably unsuccessful.

Nevertheless, the error you describe is probably due to errors in the structure, be it on users, roles, groups, etc.
You must have messed up something before, but you were not aware of it :)
The only thing left for you to do is turn on debuggin

[2021-07-10 15:12] sltmunky69 commented on #14937
I'm not sure I appreciate the tone or quality of your response.
Nevertheless, the form didn't say to enter the update log, and so I
answered the only questions given to me upon opening a ticket in the
system. The fact the "I probably screwed something up" and just need to pay
for support, not only displays arrogance, but is beyond aggravating seeing
as how I just started demoing this software a fe

[2021-07-10 15:34] mariuszkrzaczkowski commented on #14937
I recommend that you read the documentation
https://yetiforce.com/pl/component/zoo/item/debugging

attach update logs and full error logs, we cannot help without that

[2021-07-12 13:50] mariuszkrzaczkowski opened #14950 "Comments module - enable breaking lines"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/14948

<div type='discussions-op-text'>

<sup>Originally posted by **s2b-git** July 12, 2021</sup>
Comments (especially in tickets) are often used as a way of communication. In yetiforce here is little imperfection as we cannot break line while composing comment. html tag br also not working. It would be helpful if comme

[2021-07-12 14:58] hisakiyo opened #14951 "Accounts - This email address already exists in this module"
Hi everyone,

Is there a way to add same email address to multiple accounts ?
When I try to do it, it says  "This email address already exists in this module", and I didn't find how to fix it

Thanks

[2021-07-12 15:35] hisakiyo commented on #14951
Nevermind, I found it

[2021-07-12 15:35] #14951 closed, assigned to nobody

[2021-07-13 09:42] #14905 closed, assigned to rskrzypczak

[2021-07-13 16:05] sltmunky69 commented on #14937
Documentation was consulted before entering the ticket. I had already attached the full debug system log afaik.  Anyways, I restored the system from backups and tried to run the update again by uploading the patch file and it failed again for the same reason, with the same end result, a nonworking interface. Rerunning the update with full debugging on first this time and attaching every log file.

[2021-07-13 16:23] rskrzypczak commented on #14937
Now we can talk :)
You can see the error in the updateLogsTrace.log file

I don't know if you deleted all the module records or just a specific one.
Know that each role must be assigned to a department.
So..
Create a department, edit each role to assign it to the department and the problem should disappear.
![image](https://user-images.githubusercontent.com/10221999/125488958-3c9e1f6b-392d-4d59-83

[2021-07-13 16:33] rskrzypczak commented on #14937
I am closing this ticket, if you have any other questions please consider creating a discussion.

[2021-07-13 16:33] #14937 closed, assigned to nobody

[2021-07-14 02:37] kseibi opened #14959 "[bug] Advance-module Picklist values are not translating"
Hi, I am using Yetiforce 6.2 and have put a picklist field in the advance module section, and did add translations on language management in admin panel but it doesn't translate them, and this particular picklist is not visible in colors place to make colors for the advance module, could someone tell me how it is done? should I change something on the database?

![expl](https://user-images.githubu

[2021-07-14 12:30] diderich opened #14963 "[bug] Invalid array key referenced "picklist_valueid" in /modules/Vtiger/uitypes/Picklist.php"
In `/modules/Vtiger/uitypes/Picklist.php` undefined array key `picklist_valueid` is referenced. The actual key should be `picklistValueId`.

[code]

[2021-07-14 12:48] mariuszkrzaczkowski commented on #14963
![github](https://user-images.githubusercontent.com/10198654/125624536-0bc6321d-3cab-4f3e-81c0-f50cb0656689.jpg)

[2021-07-14 15:59] diderich commented on #14963
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Display any module entry that has a progress header configured.

Steps to reproduce the behavior:

1. Go to and module entry that has a progress header configured.
2. Display error log in `cache/log/error.log`

### 👎 Actual Behavior

Warning is logged.

[code]
### 👍 Expected Behavior

No warning is logged.

### 👷 Testing

- [

[2021-07-14 16:40] mariuszkrzaczkowski commented on #14963
Logs and php version?

[2021-07-15 05:18] kseibi commented on #14959
I understand that it needs to be updated on Yetiforce 6.3, is there any easy method to achieve it for now? change some code or add the translation to databse manually?

[2021-07-15 07:22] #14963 closed, assigned to rskrzypczak

[2021-07-15 07:24] rskrzypczak commented on #14963
No. picklist_valueid is correct

[2021-07-16 11:38] aveblackmetalstudio opened #14970 "Remove gethostname function from getInstanceKey method"
Host name changes after docker containers restart.

https://github.com/YetiForceCompany/YetiForceCRM/blob/93bcc1487a71647dc6727055e753ef9cb4ce374d/app/YetiForce/Register.php#L77-L80

[2021-07-16 12:25] #14970 closed, assigned to nobody

[2021-07-17 09:42] zazy opened #14974 "[BUG] ERR_ILLEGAL_FIELD_VALUE on any date. Unable to save anything"
Hello all. My Yetiforce installation worked up to this morning, when I applyed latest update (6.2.0 SP 1; previous version was 6.2.0) I'm no longer able to save anything. Every time I try to save a record with a date field or I try to update a date field I get the error ERR_ILLEGAL_FIELD_VALUE. I'm Italian and my date format is dd/mm/yyyy.
Up to yesterday I got no problems at all. Server configura

[2021-07-17 14:54] vovpff commented on #14974
Maybe real format is mm/dd/yyyy? 19th mounth can't be saved

This is just idea

[2021-07-17 15:24] zazy commented on #14974
Thank you for your suggestion. Tried your suggestion and it got even stranger. Using 09/19/2020 the date is saved successfully but the date saved is 9th july 2020 instead of 19th september 2020. Analyzing the HTML seems that the format is correct having the HTML a data-date-format attribute set to "dd/mm/yyyy".
To exclude cache problems I tried also to clean the cache and even using the Incognito

[2021-07-17 16:05] zazy commented on #14974
Ok seems that there is a problem with the date format. I went in user settings and changed my date format. The only one that doesn't works is dd/mm/yyyy. If I use yyyy/mm/dd it works. If I use dd.mm.yyyy it works. I preferred the last one because it's closest to our national date notation.
Obviously this is only a workaround that let me use Yetiforce again. The problem with dd/mm/yyyy date format

[2021-07-17 19:55] mariuszkrzaczkowski commented on #14974
Check if the bug exists on gitedveloper

[2021-07-18 15:00] zazy commented on #14974
Bug exists on gitdeveloper. Logged in using italian language and english language. Changing the date format in dd/mm/yyyy in my profile preferences it will not save the record if date is 19th september 2021 in the format "19/09/2021". The date will be saved if the format is changed in dd.mm.yyyy

[2021-07-18 17:50] gonarich opened #14979 "[bug] Call to a member function getRelationQuery() on bool"
![image](https://user-images.githubusercontent.com/8708111/126077223-c0313dcc-3711-4a7d-8083-a0bb9a0cd103.png)

Any help?

[2021-07-18 17:56] mariuszkrzaczkowski commented on #14979
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/126077419-9c76e511-7bd1-4827-a6c4-1d6dbb97e1e1.jpg)

[2021-07-18 19:19] gonarich commented on #14979
I just want to review my new project giving error Call to a member function getRelationQuery() on bool.

[2021-07-19 04:14] rskrzypczak commented on #14979
You messed up something in the relationships that the system does not detect a relationship with this module.
If you are a developer, check the correctness of the relationship, if not, better ask for support.

[2021-07-19 04:25] gonarich commented on #14979
I am not a developer.
![image](https://user-images.githubusercontent.com/8708111/126102736-3a6f1ac0-7f70-4b04-a38c-83a13358c6a6.png)
here is log

[2021-07-19 07:09] rskrzypczak commented on #14868
In fact, this is not a bug, but an enhancement.
Nevertheless, this improvement has been made in this [commit](https://github.com/YetiForceCompany/YetiForceCRM/commit/181acaf6e2f11e2bf52002bbb2c50dfcf2a25348) and will probably not be available until version 6.3

[2021-07-19 07:09] #14868 closed, assigned to rskrzypczak

[2021-07-19 13:18] gonarich commented on #14979
I installed a fresh Yetiforce system again and then tested add a new project giving the same error. Am I missing any Server configuration?

[2021-07-19 13:46] mariuszkrzaczkowski commented on #14979
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/126169810-5f809459-3153-4643-b43f-e21d09b92fb1.jpg)

[2021-07-19 20:26] gonarich commented on #14979
It is not a server configuration bug. I checked on 3 different servers. Same error.
![error](https://user-images.githubusercontent.com/8708111/126224288-6d6f3bd7-687e-4fcd-ab32-2623f2b6d6bd.gif)

[2021-07-20 04:40] #14974 closed, assigned to rskrzypczak

[2021-07-20 06:18] davide-alghi commented on #14979
Hi @gonarich,
thanks for video, it's very useful, but there is a technical obstacle: if you don't upload all the necessary information, as @mariuszkrzaczkowski requested above, no one can help you. Please read and follow steps (1-8) and upload the necessary info for debugging.

[2021-07-20 13:00] guanchgonzalez opened #14985 "[bug] YetiPortal2 install doc"
Hi!

Could you share the installation docu of YetiPortal2?

Many thanks in advance.

[2021-07-20 13:03] #14985 closed, assigned to nobody

[2021-07-20 18:57] rioshaz commented on #14739
any nws buddy

[2021-07-21 12:31] butuemi opened #14994 "[bug]"
Hello, guys!

I am experiencing an issue on YF 5.3.0 related to the webservice, at this point I am not sure if it is a bug or some misconfiguration related to user permission which I am not able to see, even though I triple checked User Roles&Profile.

**_No custom development was done, so it appears to be pure YetiForce CRM Core behaviour._**

When trying to perform an action through the API on a

[2021-07-21 14:54] mariuszkrzaczkowski commented on #14994
Check if the bug is on the development version

[2021-07-21 14:55] mariuszkrzaczkowski commented on #14994
in 5.3 API had bugs in the latest version have been fixed

[2021-07-23 06:32] rskrzypczak commented on #14028
Fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/6180568b419b0f267773079f0abce93fa0b5feb7

[2021-07-23 06:32] #14028 closed, assigned to rskrzypczak

[2021-07-23 07:55] guanchgonzalez opened #15002 "[bug] Yetiforce Portal 2 can't connect to the Yetiforce CRM during the installation wizard"
Hi,

After creating the Portal type API webservice and the user to login, as you can see on the image below:

![imagen](https://user-images.githubusercontent.com/73548289/126752485-a6b3cda3-d987-429d-89b4-f92f58638690.png)

The installation wizard fails at the first step:

![imagen](https://user-images.githubusercontent.com/73548289/126752569-2bc5b1eb-2ce2-4fca-8420-a3f58697c48c.png)

Where https:

[2021-07-23 08:26] rskrzypczak commented on #15002
Have you activated this service?
[code]

[2021-07-23 08:29] guanchgonzalez commented on #15002
Yes, I did it:

[apache@clientes clientes]$ grep enabledServices config/Api.php
	public static $enabledServices = [ dav, webservices, webservice ];
[apache@clientes clientes]$

[2021-07-23 08:34] vovpff commented on #15002
Maybe should be
[code]

[2021-07-23 08:37] guanchgonzalez commented on #15002
Same failure after including the single quotations.

[2021-07-23 09:00] davide-alghi commented on #15002
Hi @guanchgonzalez,
try to remove 'webservices'

[2021-07-23 09:06] guanchgonzalez commented on #15002
Same failure with these two different combinations:

- Test 1:
[apache@clientes clientes]$ grep enabledServices config/Api.php
	public static $enabledServices = ['webservice'];
[apache@clientes clientes]$

- Test 2:
[apache@clientes clientes]$ grep enabledServices config/Api.php
	public static $enabledServices = [ 'dav', 'webservice' ];
[apache@clientes clientes]$

[2021-07-23 09:19] guanchgonzalez commented on #15002
In /cache/logs/system.log:

2021-07-23 10:11:37 [error] App\Exceptions\AppException: ERR_SYSTEM_HAS_BEEN_INSTALLED in /var/www/clientesportal/modules/Install/Action/Install.php:29
Stack trace:
#0 /var/www/clientesportal/app/WebUI.php(70): YF\Modules\Install\Action\Install->checkPermission()
#1 /var/www/clientesportal/index.php(31): App\WebUI->process(Object(App\Request))
#2 /var/www/clientesportal

[2021-07-23 09:43] guanchgonzalez commented on #15002
A new test, in /cache/logs/system.log:

2021-07-23 10:39:04 [warning] File not found: /var/www/clientesportal/public_html/layouts/Default/modules/Base/resources/Install.js
#0 app/Controller/View.php:121  >>  App\Log->warning('File not found: public_html/layouts/Default/modules/Base/resources/Install.js')
#1 app/Controller/View.php:296  >>  App\Controller\View->convertScripts([array,array,array,arr

[2021-07-23 09:58] guanchgonzalez commented on #15002
By the way, both Yetiforce CRM and YetiPortal are in their last stable versions:

 - **CRM**:

[apache@clientes clientes]$ cat config/version.php
<?php

return [
	'appVersion' => '6.2.0',
	'patchVersion' => '2021.07.02',
	'lib_roundcube' => '0.1.29',
];
[apache@clientes clientes]$

[2021-07-23 10:01] guanchgonzalez commented on #15002
- **Portal**:

[apache@clientes clientesportal]$ cat config/Version.php
<?php
/**
 * System version class.
 *
 * @package Config
 *
 * @copyright YetiForce Sp. z o.o
 * @license   YetiForce Public License 4.0 (licenses/LicenseEN.txt or yetiforce.com)
 * @author    Mariusz Krzaczkowski <m.krzaczkowski@yetiforce.com>
 */

namespace Conf;

/**
 * System version class.
 */
class Version
{
	/**
	 * App

[2021-07-23 10:13] rskrzypczak commented on #15002
Turn on debugging, you'll probably find the answer there.

https://github.com/YetiForceCompany/YetiForceCRM/blob/4a0bce46cfd89564b7c59f5ff0d8c513c969b6ef/config/Debug.php#L90-L103

https://github.com/YetiForceCompany/YetiForcePortal2/blob/728c88f246a738f6336ef0d08ea2132f37bcae97/config/Config.php#L72-L88

[2021-07-23 10:48] guanchgonzalez commented on #15002
In the Portal web server, in /cache/logs/api.log:

[apache@clientes logs]$ cat api.log

--------------------------------------------------  2021-07-23 11:44:18  --------------------------------------------------
Trace:
#0 app/Log/AbstractBase.php:40  >>  App\Log\Api->display([array,array],'info')
#1 app/Log.php:108  >>  App\Log\AbstractBase->log([array,array],'info')
#2 app/Log.php:90  >>  App\Log

[2021-07-26 13:09] guanchgonzalez commented on #15002
How can I fix the 405 HTTP error?

I tried several ways to set the AllowMethods directive in the VirtualHost in Apache, but the CRM never get this configuration.

[2021-07-26 15:53] kassimg12 opened #15013 "6.1 to 6.2 Update error"
Hello there,

I recently updated my yetiforce installation from 6.1 to 6.2. after finalizing the update the page opens pages without CSS (no layout and list of modules, setting, and other links)
please help.

my installation is on ubuntu 20.04 server.

[2021-07-27 04:09] rskrzypczak commented on #15013
Try this: https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-clear-browser-cache
and do a hard page reload:
![image](https://user-images.githubusercontent.com/10221999/127095135-aba60cf6-c882-439d-a753-b036b260b4bb.png)

[2021-07-27 05:57] mariuszkrzaczkowski commented on #15013
![github](https://user-images.githubusercontent.com/10198654/127103212-bdf3cdbf-7873-4d7d-8d98-12a413b75bf3.jpg)

[2021-07-27 05:57] #15013 closed, assigned to nobody

[2021-07-27 08:26] santyabreu opened #15014 "Cannot activate HTTP-METHOD"
Hello Everyone!

Installing the last version of Yetiforce it seems we are not able to activate http-method on Centos 7 and Apache 2.4.6:

![image](https://user-images.githubusercontent.com/40429279/127121424-99750884-5daf-4e47-9735-bcfc191b9f20.png)

This is the code we are using at the vhost

`<IfModule mod_ssl.c>
   <VirtualHost *:443>
      DocumentRoot /var/www/clientes/public_html
      Serve

[2021-07-27 08:47] mariuszkrzaczkowski commented on #15014
![github](https://user-images.githubusercontent.com/10198654/127124980-7b4804fc-cb48-44b9-bb99-e5586e3e0fa5.jpg)

[2021-07-27 09:20] guanchgonzalez commented on #15002
| Environment                                           | Version / Name                                       |
| ---------------------------------------------------- | ----------------------------------------------------------------------- |
| YetiForce                                                | 6.2.0                                                                               |
| Web ser

[2021-07-27 09:26] guanchgonzalez commented on #15002
And you have the same mismatch in your GitStable version of YetiForce CRM:

![YetiForceCRM_allowHTTPmethods_wrong](https://user-images.githubusercontent.com/73548289/127130614-51d4238e-2202-48b3-8995-92b0fb1702d3.jpg)

[2021-07-27 09:37] #15014 closed, assigned to nobody

[2021-07-27 09:51] santyabreu opened #15015 "[bug] Cannot config HTTP METHOD"
Hello!

At the config report it seems the HTTP METHOD is not activated on any case, when after some tests they are responding.

Configuring httpd on centos 7 the system returns "blank" httpd methods as required parameter at the installations. This is important for us because we are trying to configure de Portal2

### 🔥 How to trigger the error

Just navigate to the config report and you will find

[2021-07-28 14:00] vovpff opened #15016 "[bug] Role profiles works bad"
# 🐞 bug report

### ⁉️ Describe the bug

User permissions works bad.

### 🔥 How to trigger the error

For example on gitdev I try to disable ability to remove relations in Opportunity module.

1) I duplicate `Administator` profile with no ability to remove relations:

![image](https://user-images.githubusercontent.com/8545791/127334028-2f57534f-b50f-4a71-bed9-d1a6fbe66467.png)

2) Modification of

[2021-07-29 09:09] vovpff commented on #15016
I has checked what permission to action always `0` for working well profile/for bad profile/for admin profile.

[code]

[2021-07-29 13:28] vovpff commented on #15016
After digging deep I found what user with ability to remove relation should have ability to delete record and to move record to trash.

[code]

Also there is function

[code]

This function deny ability to delete record and I can't understand how to reach all conditions for remove relation...

[2021-07-30 07:53] rskrzypczak commented on #15016
I  think that in this particular case there indeed is no point verifying the permissions to move to trash.
At the first glance the listed conditions should be enough.
This should, however, be globally set and verified for actions and views
https://github.com/YetiForceCompany/YetiForceCRM/blob/d0528ee00cbbb194b14cbab2203de8b93ced56da/modules/Vtiger/models/Relation.php#L521-L533
We'll think about it

[2021-07-30 09:06] vovpff commented on #15016
@rskrzypczak yes. I think so.

I checked what actual code is little bit different than my local 6.1.

There is no logic what user need to have a lot of rights like delete record just for simple unlinking related record

P.S. To achieve possibility for unlinking contact from opportunity in 6.1 profile should have ability to delete, move to trash and remove relation for contact module, not for oppor

[2021-07-30 09:49] #15015 closed, assigned to mariuszkrzaczkowski

[2021-07-30 14:16] guanchgonzalez commented on #15002
Do you have any update?

[2021-07-30 20:25] mariuszkrzaczkowski commented on #15002
I updated the installation description and added debugging, attach all logs
https://github.com/YetiForceCompany/YetiForcePortal2#-installation
https://github.com/YetiForceCompany/YetiForcePortal2#-debug

[2021-08-02 08:23] guanchgonzalez commented on #15002
All these step you added to the README.md are already done in our sandbox after you proposed them 10 days ago.
As I told you, the same mismatch configuration exists in your GitStable version, [My Home Page > Software Configuration > Logs > Server Configuration](https://gitstable.yetiforce.com/index.php?parent=Settings&module=ConfReport&view=Index)
Do you have available the right configuration for

[2021-08-02 20:44] nvieth opened #15025 "Dashboard is not displaying widgets"
Hello,
I just installed YetiForceCRM on my server. Everything seems to have installed correctly, however I went into settings and and went under standard modules and modified the dashboard widgets, however when I create the widget it is not displaying on the dashboard. Also I am still waiting for my registration to go through even though I filled out the registration form. Could this be causing th

[2021-08-02 21:14] mariuszkrzaczkowski commented on #15025
![github](https://user-images.githubusercontent.com/10198654/127924677-68f457cd-b42f-40a5-ade6-9dc29ba2b899.jpg)

[2021-08-02 21:30] mariuszkrzaczkowski commented on #15002
you have a problem in apache configuration, look for something like this:
[code]

[code]

https://www.google.com/search?q=the+requested+method+put+is+not+allowed+for+this+url+apache2

[2021-08-03 04:00] rskrzypczak commented on #15025
Are you sure you added the widget for the correct role?
Besides, remember that if you have not made the widget mandatory, it will not add itself to the desktop but it will appear under the button.
![image](https://user-images.githubusercontent.com/10221999/127955552-172467a7-dc5c-499c-947a-399076b6450e.png)

[2021-08-03 07:59] guanchgonzalez commented on #15002
Firstible, we don't use the Limit directive, due is drepecated in last versions of Apache. Instead of we use "AllowMethods" directive:

`<IfModule mod_ssl.c>
   <VirtualHost *:443>
      DocumentRoot /var/www/YetiForceCRM/public_html
      ServerName yetiforcecrm.talecsystem.com
      <Directory /var/www/YetiForceCRM/public_html>
         AllowMethods GET POST PUT OPTIONS PATCH PROPFIND REPORT LOC

[2021-08-03 08:02] mariuszkrzaczkowski commented on #15002
The wizard has been tested several times and even on the server where the demo is available, and all the errors that were found have been fixed.
Attach the full request (raw request) that gets a 405 error code

[2021-08-03 08:02] guanchgonzalez opened #15030 "[bug] Yetiforce Portal 2 can't connect to the Yetiforce CRM during the installation wizard --> from #15002"
Firstible, we don't use the Limit directive, due is depecated in last versions of Apache. Instead of we use "AllowMethods" directive:

`<IfModule mod_ssl.c>
   <VirtualHost *:443>
      DocumentRoot /var/www/YetiForceCRM/public_html
      ServerName yetiforcecrm.talecsystem.com
      <Directory /var/www/YetiForceCRM/public_html>
         AllowMethods GET POST PUT OPTIONS PATCH PROPFIND REPORT LOCK

[2021-08-03 08:04] guanchgonzalez commented on #15002
The raw request is available in our comment 11 days ago:

_In the Portal web server, in /cache/logs/api.log:

[apache@clientes logs]$ cat api.log

-------------------------------------------------- 2021-07-23 11:44:18 --------------------------------------------------_

[2021-08-03 08:14] guanchgonzalez commented on #15002
The access.log:

[apache@clientes YetiForceCRM]$ grep PUT access.log | grep '" 40'
185.230.239.236 - - [27/Jul/2021:13:49:42 +0100] "PUT /Portal/Install HTTP/1.1" 405 235 "-" "YetiForce Portal | Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.164 Safari/537.36"
185.230.239.236 - - [27/Jul/2021:14:20:47 +0100] "PUT /Portal/Install HTTP/1.1" 405 235

[2021-08-03 08:43] mariuszkrzaczkowski commented on #15002
no, this is not what a RAW request looks like
see my example

[code]

[2021-08-03 08:44] mariuszkrzaczkowski commented on #15030
Duplicate of #15002

[2021-08-03 08:44] #15030 closed, assigned to nobody

[2021-08-03 08:45] guanchgonzalez commented on #15002
How can we generate a curl request simulating the Installation Wizard process?

[2021-08-03 08:47] mariuszkrzaczkowski commented on #15002
e.g. Postman  or another API client

[2021-08-03 08:51] mariuszkrzaczkowski commented on #15002
see documentation https://doc.yetiforce.com/api/?urls.primaryName=Portal#/BaseAction/02a0b167fa2ba08237b79041d6c2eb40

[code]
![image](https://user-images.githubusercontent.com/10198654/127987086-30cbb590-cf64-44bf-9053-b557734e042e.png)

[2021-08-03 08:54] aveblackmetalstudio opened #15031 "[Bug] Very slow scroll speed"
Please increase this parameter to 0.5.
https://github.com/YetiForceCompany/YetiForceCRM/blob/6ba141c1118c84276955535ea3aae3eac1ece29b/public_html/layouts/resources/app.js#L1543-L1545

[2021-08-03 09:37] guanchgonzalez commented on #15002
Why this check fails in your own demo?

![YetiForceCRM_allowHTTPmethods_wrong](https://user-images.githubusercontent.com/73548289/127993899-37873316-c6da-4423-8f8b-38309484c6fb.jpg)

[2021-08-03 09:40] guanchgonzalez commented on #15002
We requested you twice by email a budget to execute a CRM+Portal2 installation on premise in our sandbox to get a functional deployment ASAP. Can you help with this?

[2021-08-03 09:43] guanchgonzalez commented on #15002
On this deployment we need to create contacts that can login into Customer Portal and access to its own account info: products, contracts, projects, documents, issues, etc.

[2021-08-03 09:51] guanchgonzalez commented on #15002
We sent both emails to devs@yetiforce.com

[2021-08-03 09:56] mariuszkrzaczkowski commented on #15002
This is a bug in version 6.2 and has now been fixed https://github.com/YetiForceCompany/YetiForceCRM/commit/68045b233de085ebfeca1035aa8daff91739cdea

[2021-08-03 09:56] mariuszkrzaczkowski commented on #15002
We have not received an email

[2021-08-03 09:57] #15002 closed, assigned to mariuszkrzaczkowski

[2021-08-03 09:58] mariuszkrzaczkowski commented on #15002
This address is for other purposes
You have the current data on the website https://yetiforce.com/en/company/contact

[2021-08-03 10:39] KatarzynaUlichnowska commented on #15002
Hello, please send us an e-mail with a detailed description of your requirements (attach screenshots if necessary) and the ConfReport file downloaded from the system (System settings -> Logs -> Server configuration -> Download configuration). The correct e-mail address for questions and quotes is hello@yetiforce.com.

[2021-08-03 11:34] guanchgonzalez commented on #15002
Please check your email.

[2021-08-04 12:16] Akaki-1991 opened #15035 "dependent field issue"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'settings'
2. Click on 'standat modules'
3. Scroll down to 'dependent fileds'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yeti