[2020-06-02 14:20] bambatha opened #13129 "[Question] Installed Yetiforce using Softaculous on subdomain not loading"
Hello,

I attempted to install Yetiforce using Softaculous on subdomain however the software doesn't load and gives HTTP ERROR 500 yeti.domain.com is currently unable to handle this request.

[2020-06-02 14:23] vovpff commented on #13129
Check server configuration

[2020-06-02 14:35] apcloic commented on #13112
@mariuszkrzaczkowski
I don't understand why you close this issue.
Does it mean that you are aware of this issue and it will be resolved in YF 5.4 ?

[2020-06-02 15:37] UNITE-Man opened #13130 "Yetiforce CRON setup"
I'm struggling getting Yetiforce "Cron mechanism status" to change to be working.
Does anyone have some examples of what the cron.sh & crontab configs should look like?
I'm a complete newbie at Linux!

[2020-06-02 16:40] kalle3e opened #13131 "[Question] How to turn on public_html"
### Description

HIi I'm running on Ubuntu 20.04  on my localhost, public_html is currently off and its need to be turned on. Tried a few settings but alas none has been working referenced here #13128 . Would someone please point me in the right direction to get this sorted, thanks. :) :)
I feel that this could be  problem to my issues over here #13128

Any help is much appreciated.

Update: As it

[2020-06-02 20:46] blu-IT commented on #13130
@UNITE-Man

Have you already looked here?

https://yetiforce.com/en/component/zoo/item/enable-cron

[2020-06-02 20:54] blu-IT commented on #13128
I don't know if this helps, but when I installed yetiforce on Ubuntu I had to define a IP in my apache2.conf, e.g.:

ServerName 192.168.1.10
ServerAlias 192.168.1.10

So look what the IP of your system is and try defining it in your apache2.conf **and** yeti/config/Main.php

/** Backslash is required at the end of URL */
public static $site_URL = 'http://yeti/';

For additional information you may

[2020-06-02 20:55] blu-IT commented on #13131
See my comment https://github.com/YetiForceCompany/YetiForceCRM/issues/13128#issuecomment-637800757

[2020-06-03 03:13] #13128 closed, assigned to nobody

[2020-06-03 03:19] #13131 closed, assigned to nobody

[2020-06-03 03:51] kalle3e opened #13133 "[Question] Adding Modules Comments issues"
### Description

Adding Modules Comments issues
This is not a problem in the developer/demo version

My setup: Version 5.3 Newly setup on Ubuntu 20.04 on localhost
Unable to add Comments to Modules until it has been properly initialised

Update of point 1.) below

1. When you first enter the Detail Page from the List of Accounts, and accessing the Comments in the Comments Widget and try to add a c

[2020-06-03 05:37] mariuszkrzaczkowski commented on #13133
Before reporting an issue, check if your server has been properly configured.
Please include a screenshot of your configuration.

![github](https://user-images.githubusercontent.com/10198654/83599648-fdb88200-a56c-11ea-8c7e-65107dfbb455.jpg)

[2020-06-03 05:44] mariuszkrzaczkowski commented on #13130
https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/enable-cron

[2020-06-03 05:44] mariuszkrzaczkowski commented on #13130
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/tests/setup/crons.conf

[2020-06-03 06:16] KatarzynaUlichnowska commented on #13129
Hello,
please report the issue to Softaculous https://softaculous.deskuss.com/open.php

[2020-06-03 07:37] vdpawel commented on #13112
I'm guessing, because the content matched the pattern of the solved issues:
1. Question
2. Answer
3. Thanks: "Thank you"

:)

[2020-06-03 07:53] apcloic commented on #13081
@copyyour
You may try the following patch but bear in mind that I'm not a programmer ;)
https://github.com/apcloic/YetiForceCRM/pull/1

[2020-06-03 07:57] mariuszkrzaczkowski commented on #13081
show SMTP configurations and e-mail task

[2020-06-03 08:09] UNITE-Man commented on #13130
Yes I've read that - but to be honest its not very clear - I was hoping to get some examples of working configs so I could check against mine ;-)

[2020-06-03 08:09] UNITE-Man commented on #13130
Yes I've read that - but to be honest its not very clear

[2020-06-03 08:09] UNITE-Man commented on #13130
Yes I've read that - but to be honest its not very clear

[2020-06-03 08:10] UNITE-Man commented on #13130
Thanks - I'll see how that compares with what I have - much appreciated

[2020-06-03 09:08] UNITE-Man commented on #13130
I know this is going to make people roll eyes but I'm stuck at the simple task of where do I create the crontab? The default is in tmp/ which obviously doesn't persist - but wherever I create the file Yetiforce still insists that crontab isn't running. Apologies if this is a stupid question - I'm really new at Linux.

[2020-06-03 09:35] mariuszkrzaczkowski commented on #13130
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/Dockerfile#L52

[2020-06-03 09:53] apcloic commented on #13081
@mariuszkrzaczkowski

![image](https://user-images.githubusercontent.com/2930560/83622545-6ebd6100-a590-11ea-9e50-76a29e3a4dc8.png)

![image](https://user-images.githubusercontent.com/2930560/83622843-ceb40780-a590-11ea-848e-aaec3ce6aa8b.png)

[2020-06-03 09:58] mariuszkrzaczkowski commented on #13081
in English language

[2020-06-03 10:07] apcloic commented on #13081
![image](https://user-images.githubusercontent.com/2930560/83624315-bfce5480-a592-11ea-9dec-f6f142caf69b.png)

![image](https://user-images.githubusercontent.com/2930560/83624121-8269c700-a592-11ea-868a-6c84379b292e.png)

[2020-06-03 10:22] mariuszkrzaczkowski commented on #13081
Delete from mail from task

it depends on the mail server configuration or allows you to send other domains or users in your name, so you probably have a problem

[2020-06-03 10:40] UNITE-Man commented on #13130
Really appreciated. I have a crontab file in that location & still Yetiforce says cron is not activated. But it is! I've obviously got something wrong in my setup. I can't even get a simple test cron to work!

[2020-06-03 10:46] blu-IT commented on #13130
Are you logged in as root?
Type `crontab -e` and copy this line into your crontab
`*/5 * * * * sh /path-to-crm/cron/cron.sh > /path-to-crm/cache/logs/cron.log 2>&1`

**[pay attention to a correct path to the YetiForce system]** and also follow the other steps in the documentation https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/enable-cron

That's all!

[2020-06-03 11:01] #13130 closed, assigned to nobody

[2020-06-03 11:01] mariuszkrzaczkowski commented on #13130
this is not an error in the CRM system, you must ask the administrator for help

[2020-06-03 12:17] apcloic commented on #13081
@mariuszkrzaczkowski
Yes, for sure deleting from mail from task works but this is just a workaround.

The issue occured whatever domain used, I don't think it's related to my MTA configuration because if I make the following changes, then it works as expected.
https://github.com/apcloic/YetiForceCRM/pull/1

I think the issue is due to the format used to store "from" data in s_#_mail_queue table.
I

[2020-06-03 13:04] apcloic opened #13136 "[bug] Workflow - send emails to related list not working"
On YF 5.3, I've created a workflow that send emails to related list.
For example, send emails to related contacts of an account.
It doesn't work and throw the following error :
![image](https://user-images.githubusercontent.com/2930560/83639476-092a9e00-a5ab-11ea-8cf5-c49b25d7014c.png)

In order to make it work, I had to do the following changes in app/Mailer.php
https://github.com/apcloic/YetiFor

[2020-06-03 15:03] perronmedia commented on #12882
Having the same problem on my greengeeks reseller hosting. Works ok with alternate host.

Could be down to server configuration.

[2020-06-03 19:36] raviktiwari007 commented on #5337
This is simply cheating and lying. And Yes, a SCAM.

Yetiforce itself was created by forking someone else's code and now they are charging people to just maintain that code. What is their contribution? If you want money, write your own code from teh scratch.

SugarCRM is a dead project from where all started. So why someone cannot pick Yeti code, forks it and make there own CRM - "FeeltheForce" CR

[2020-06-04 06:10] #12974 closed, assigned to rskrzypczak

[2020-06-04 06:16] #13081 closed, assigned to mariuszkrzaczkowski

[2020-06-04 07:52] apcloic commented on #13112
@copyyour
https://github.com/YetiForceCompany/YetiForceCRM/commit/1517f86c2a01bb1cd2bafcf9784d61042205c317

[2020-06-04 08:59] zazy opened #13137 "[bug] Search doesn't work for accounts with short names"
# 🐞 bug report

### ⁉️ Describe the bug

When searching for an account using the search field in the top left, if you are looking for an account with a short name with 3 letters it will not be found.
This happens with every search criteria: words begin with, word, Begins with etc.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Add an account with name ABC Trading
2. Click on

[2020-06-04 10:18] #13112 closed, assigned to nobody

[2020-06-04 12:44] rskrzypczak commented on #13137
Check your mysql configurations: `SHOW VARIABLES LIKE 'ft_min_word_len'`
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/tests/setup/db/mysql.cnf#L31

[2020-06-04 12:49] mariuszkrzaczkowski commented on #13137
![github](https://user-images.githubusercontent.com/10198654/83758629-a7ce0200-a672-11ea-9dac-387ba550c087.jpg)

[2020-06-04 13:09] apcloic opened #13140 "[Question] Prestashop integration ?"
Hi,

Back in 2016, there was an announce regarding the integration of Yetiforce and Prestashop :
[https://www.facebook.com/YetiForceCRM/posts/the-integration-of-two-open-source-platforms-yetiforce-prestashop-is-available-i/372703616233709/](url)
I understand that this module is not available anymore because it is not compatible with YF current version.
Does YF team plan to release a new version ?

[2020-06-04 15:38] blu-IT commented on #13090
OK, I switched back with my vm snapshot on a fresh v 5.3 SP4 installation and status, priority etc. can be changed without any problems!

So it must be some problem with the imported data from my other system (maybe see also here https://github.com/YetiForceCompany/YetiForceCRM/issues/13064 )

I still would like to use my database import, but with the effect described above I can't test and use th

[2020-06-04 18:17] vovpff opened #13141 "[bug] handler doesn't update data in module table but update vtiger_modtracker_detail table"
# 🐞 bug report

### ⁉️ Describe the bug

I has 2 users A and B. Also I has checkbox field for FInvoice named `etfinvsign`.

User A can see and edit this checkbox.
User B has readonly rights for this field.

My self-written `EntityBeforeSave` handler should change state of `etfinvsign` checkbox to 0 if some conditions was met by code

[code]

If user A meet handler conditions checkbox state changed

[2020-06-04 18:24] jjbautist1 opened #13142 "Create Relationships button does not appear"
help please
How are the modules related?

[2020-06-04 18:25] #13142 closed, assigned to nobody

[2020-06-04 18:31] bpabiszczak commented on #13140
Nobody was interested in this integration. Version 5.4 has integration with Magento. Version 5.4 is "almost" ready.

[2020-06-04 18:31] #13140 closed, assigned to bpabiszczak

[2020-06-04 18:35] jjbautist1 opened #13143 "[Feature]"
Hi,

In module relationships the create relationship  does not appear button, how can I create a relationship between modules?
![Imagen1](https://user-images.githubusercontent.com/64044693/83797377-2bcebc80-a668-11ea-847f-9ef839ba8c33.jpg)

[2020-06-04 18:59] vovpff commented on #13143
`/config/Developer.php`

[code]

[2020-06-04 18:59] #13143 closed, assigned to nobody

[2020-06-04 20:09] jjbautist1 commented on #13143
Thank you

[2020-06-04 20:18] vovpff commented on #13143
@jjbautist1 no problem!

[2020-06-04 20:40] jjbautist1 opened #13144 "copy field Unit Price"
how can i add the unit price field in a new module with the same characteristics of the existing one in services and products?

![campo](https://user-images.githubusercontent.com/64044693/83808054-afdd7000-a679-11ea-9b51-e8e9f1f15702.png)

[2020-06-04 20:57] vovpff commented on #13144
@jjbautist1 what is your target?

i'm not sure what this this will work but you can try

- backup database
- add new field text to custom module
- change manually field uitype in database in vtiger_field table, also check other params
- change field params in your custom module table
- test carefully before use this in your prod

[2020-06-04 20:57] vovpff commented on #13144
@jjbautist1 also you can try to use vtlib to add field but I can't help you here

[2020-06-04 21:55] waran70 opened #13145 "[Feature] Rename module | Extend default funcionality"
To run parallel with trends and improve UX I would like to propose renaming "Internal Tickets" to "Cases" and relate it to all important default modules, so it can track stuff similarly to Opportunities
but in wider scope.  Opportunity is sales related case and should not cover more complex administrative issues. Ticket can stand alone if covering basic, or specific to related department issue, bu

[2020-06-05 01:56] kalle3e commented on #13133
Thanks @mariuszkrzaczkowski
I have attached the server config as requested.
![ConfReport (1)](https://user-images.githubusercontent.com/64237549/83861290-bd6f2480-a763-11ea-89db-b9d00c605816.png)

Also, as seen from  the server config attached, incorrect are the character_set_server  and character_set_database are not utf8 (as the settings in the cnf file are not successful). - not sure if this ca

[2020-06-05 03:12] kalle3e opened #13146 "[Question] What screen record software to use to make 10MB in gif ?"
### Description

I have found heaps of software available but when I convert it to gif (as requested and only format accepted) they're always above 10 MB so haven't been able to upload them to this Issues forum. Any one who's been uploading videos here could let me knows is much appreciated.
I had dual screens so it made the video very big.

[2020-06-05 03:39] #13146 closed, assigned to nobody

[2020-06-05 04:52] rskrzypczak commented on #13090
You probably have values ​​in the gray fields that do not exists in the picklist.

[code]
If this query returns something to you, it must be changed in the database or added to the picklist.

[2020-06-05 04:58] rskrzypczak commented on #13141
Check this https://github.com/YetiForceCompany/YetiForceCRM/blob/e6ddabee6d57e10de3b41e13dfcd35d4d31b70fa/modules/SSalesProcesses/handlers/Finances.php#L36

[2020-06-05 08:23] apcloic commented on #13140
@bpabiszczak
Thanks for your reply but how do you know that nobody is interested without asking Yetiforce or Prestashop community ?

[2020-06-05 11:24] vovpff commented on #13141
@rskrzypczak thanks a lot. Looks like this works!

[2020-06-05 11:24] #13141 closed, assigned to nobody

[2020-06-05 15:52] TonyM15 commented on #13145
Clever. I actually did it myself here. In terms of well designed and fully functional "business operating system" this would be a foundation of all of those who are on the top of the management line. "Business Cases" > mother of modules I would say.

waran70 - you rocks! Cheers man!

[2020-06-05 15:58] TonyM15 commented on #13133
Why you reporting errors while your server config doesn't meet required conditions?
You wasting your time - and mine as I cannot stay still and not comment it :/

[2020-06-05 16:48] jjbautist1 commented on #9223
solution?

[2020-06-05 19:18] bpabiszczak commented on #13040
Use the API or built-in import CSV. There is no ready integration.

[2020-06-05 19:18] #13040 closed, assigned to bpabiszczak

[2020-06-06 04:54] simple-AMS commented on #13119
@waran70  5.3 is working just fine for me so why would you want another version that breaks what's working good on 5.3 my friend lol

[2020-06-06 12:43] TonyM15 commented on #13119
acsinsurancegroup enjoy your 5.3 and lol in your bedroom. The guy asking simple and reasonable question which (from point of view of those who pay respect to this project) keeps themselves and community on track of dynamic development which not happen in many projects as such.

[2020-06-06 16:22] kalle3e commented on #13133
I've been trying to match a few server settings with those on gitdeveloper
Outstanding are still: user_dir, open_basedir, sql server - character_set_server utf8, (AND settings for the CRON(CLI)) - this I'll get to
Please help me! Anyone?
Attached here are - server config, apache.conf, php.ini (very partial- just the lines added)

From /etc/php/7.4/apache2/php.ini
![Screenshot from 2020-06-07 01-44

[2020-06-06 17:27] vovpff commented on #13133
@kalle3e I'm not an linux guru but maybe my advice help you.

Apache2 should hook php setting from `.user.ini` in `crmroot/` or `crmroot/public_html` folder. Maybe some wed server tuning needed to achieve this.

Other lifehack - you can use custom `.ini` file for CRON by this `cron.sh`. I'm not sure what this is proper configuration but works well and php params for Apache2 and CLI equal an this c

[2020-06-06 17:35] kalle3e commented on #13133
@vovpff
Very sweet of you for the pointers.  Now there's something for me to work on. Thanks so much.

[2020-06-06 17:38] copyyour opened #13149 "[Question] Workflow data sending logic, hope to get help"
I want to send all the collection data of an employee to his mailbox regularly, how do I set it up?
Or I will warn the collection data, and automatically send the collection data to his mailbox in the next seven days.
I am so clueless and need help, thank you very much

[2020-06-06 17:42] vovpff commented on #13149
What you nean for collection data

[2020-06-06 18:46] kalle3e commented on #13133
@vovpff I tried. I tested in both dirs -
.user.ini placed in crmRoot  being equal to /var/www/html/yeti as well as crmRoot/public_html
![Screenshot from 2020-06-07 04-41-29](https://user-images.githubusercontent.com/64237549/83952060-75dabc80-a879-11ea-9f6d-4f479587a089.png)
![Screenshot from 2020-06-07 04-40-32](https://user-images.githubusercontent.com/64237549/83952063-77a48000-a879-11ea-86a4-7

[2020-06-06 19:24] vovpff commented on #13133
run

[code]

output should be

[code]

if `php7.4` correct then try to run

[code]

and check output

[2020-06-06 19:51] kalle3e commented on #13133
@vovpff
so here's output
[output6.txt](https://github.com/YetiForceCompany/YetiForceCRM/files/4740906/output6.txt)

[2020-06-06 19:57] vovpff commented on #13133
You have troubles with permissions. Try

chown -R www-data:www-data /path/to/crm

[2020-06-06 20:02] kalle3e commented on #13133
@vovpff already is
![Screenshot from 2020-06-07 06-02-02](https://user-images.githubusercontent.com/64237549/83953556-7593ee80-a884-11ea-9ba1-de266c56941f.png)

[2020-06-06 20:08] kalle3e commented on #13133
@vovpff there seems to be alot of files created and populated here aren't there?
![Screenshot from 2020-06-07 06-06-40](https://user-images.githubusercontent.com/64237549/83953648-3dd97680-a885-11ea-86ac-546d52b1e931.png)

[2020-06-06 20:17] vovpff commented on #13133
@kalle3e what you mean?

Check system configuration now.

[2020-06-06 20:21] kalle3e commented on #13133
@vovpff Oh yes there's CRON(CLI) now
![ConfReport (2)](https://user-images.githubusercontent.com/64237549/83953859-65314300-a887-11ea-9241-082b1e9a0663.png)
Thanks so much!
....there's still the user_dir - this is problably stop the scripts to work, is that why I still can't add 'Comments' without fidgeting to get initialisation

[2020-06-06 20:29] kalle3e commented on #13133
@vovpff did you see the new server config?

[2020-06-06 20:39] kalle3e commented on #13133
I still have the issue with adding comments. I need help with config user_dir (and open_basedir); SQLD character_set_server still utfmb4. Anyone ?

[2020-06-06 20:43] mariuszkrzaczkowski commented on #13133
PHP 7.4 is not yet officially supported.

[2020-06-06 20:48] kalle3e commented on #13133
@mariuszkrzaczkowski So I need to download php7.3 or something lower? And then use the php. ini relating to that version?

[2020-06-06 20:51] mariuszkrzaczkowski commented on #13133
7.3 is ok

[2020-06-06 23:30] simple-AMS commented on #12860
@diderich Gotcha, thanks mate

[2020-06-06 23:35] acsinsurancegroup commented on #13119
@TonyM15 Glad you got that off your chest? @waran70 and I have helped each other on several occasions previously so we have a sorta of rapport if you will. I'm glad to know however that you are around to serve as everyone's Johnny Cochran should they need assistance. Now go play in your sandbox and STFU!

[2020-06-07 00:25] Ahm3dsay3d opened #13150 "[Question] Sold Products"
How can I get a report of all the products that have been sold between two dates in yetiforce ?

[2020-06-07 00:26] #13113 closed, assigned to nobody

[2020-06-07 02:48] waran70 commented on #13119
Are you talking to me? And if not why you so rude anyway?

[2020-06-07 03:00] JohnMaverick commented on #13119
The boy abusing teenager's forums abbreviations,  so probably 17+ max 20
No use to bother with.

[2020-06-07 13:54] blu-IT commented on #13090
@rskrzypczak

O.K. thanks, I tried that

[code]

but there is no output and that's right, because I did not define/change anything for ticket status or priority in the picklist.
I remember I did some additional entries for customer/conatct type in the picklist, but I think this should not affect ticket status or priority.

So I guess something has happend to my database during upgrade to V. 5.3 or

[2020-06-08 05:01] rskrzypczak commented on #13090
The only thing that comes to my mind is that you do not have permission to these picklist values.
check
![image](https://user-images.githubusercontent.com/10221999/83994049-911afa00-a955-11ea-9f15-d1ae7bc51194.png)

[2020-06-08 10:26] sliwa08 opened #13153 "[Question] Robienie zgloszenia z maila"
Witam,
podsiadam Yetiego w wersji 5.1.0 i wiem ze kiedys w poczcie roudcube jak dostawalem maila, moglem z niego utworzyc zgloszenie. Wyskakiwal taki pasek z opcjami co chce zrobic z danym mailem. Teraz mi ten pasek zniknal i nie wiem czemu.
Dodam,  ze mam opcje tworzenia zgloszenia nadane w panelu administracyjnym, tylko ten pasek od opcji mi sie nie wyswietla.

[2020-06-08 10:46] blu-IT commented on #13090
@rskrzypczak

Hi, wow THANKS!!!

This seems to be the point - looking at my testsystem **every picklist** and **every value is not accessible vor anyone anymore!**

![Screenshot_2020-06-08 Auswahlliste System Einstellungen](https://user-images.githubusercontent.com/13665806/84021978-d820e380-a985-11ea-9231-aa759dbb75d9.png)

Something must be gone very bad with the upgrade...
I also compared these

[2020-06-08 10:46] #13090 closed, assigned to nobody

[2020-06-09 04:52] vovpff opened #13155 "[bug] Tons of comment edit blocks (ModComments)"
# 🐞 bug report

### ⁉️ Describe the bug

I found two conditions:

- If fresh comment added and I want to edit them - every click to Edit button (or Enter) render one more additional edit comment fields block

- If I want to modify old comment - after some clicks there is only one edit comment fields block but when Post button pressed comment updated and a lot of edit comment fields block rendered

[2020-06-09 10:14] copyyour commented on #13149
My needs are like this:
For example, if the estimated time for a payment is within 30 days, I will send a warning message of this payment through the workflow every week, but currently I can't achieve it by configuring the workflow.

Hope to get help. Thank you

[2020-06-09 10:17] copyyour commented on #13114
<img width="450" alt="截屏2020-06-09 下午6 15 29" src="https://user-images.githubusercontent.com/27992939/84136005-47c5ca00-aa7d-11ea-9eeb-578a568f0fb1.png">

Entering Chinese here is invalid, the search result is always 0

<img width="1068" alt="截屏2020-06-09 下午6 16 58" src="https://user-images.githubusercontent.com/27992939/84136115-6f1c9700-aa7d-11ea-9e22-27329762c855.png">

[2020-06-09 10:22] vovpff commented on #13149
@copyyour you can do it by self-written handler. For this you need a programmer.

[2020-06-09 10:23] copyyour commented on #13149
I am still trying to see if there is an easy way

[2020-06-09 12:54] Ahm3dsay3d opened #13160 "[Question] Vendor Balance after receiving products"
How can we add credits to vendors after they supply a product/Service to the inventory?
Example: Let's say VendorX supplies ProductA at cost of 100USD.... after he supplies a quantity of 10 of productA, we need to track that we owe him 100*10 = 1000USD of that product!
is that possible in Yetiforce ?

The same applies to services>
Example: Let's assume a vendor provide me a service that I will add

[2020-06-09 15:04] vovpff commented on #13160
@Ahm3dsay3d you can calculate total credits by self-written handler.

[2020-06-09 18:12] Ahm3dsay3d commented on #13160
@vovpff  Can you please elaborate further?
Thank you.

[2020-06-09 18:50] acsinsurancegroup commented on #13119
No @waran70 I was telling DA Tony that you and I had interacted several times previously since he wanted to get all smart on my original comment. What started out as a joke has turned into a bunch of butt hurt overly sensititive pu$$i3$ getting riled up over nothing. Wow!

[2020-06-09 21:10] #13119 closed, assigned to nobody

[2020-06-10 09:19] #13149 closed, assigned to nobody

[2020-06-10 10:10] JasonChau1227 commented on #12833
Any update on this?

[2020-06-10 12:57] vovpff commented on #13160
@Ahm3dsay3d this is difficult to describe. You can check exists handlers in `module/modulename/handles` folder to understand what I mean

[2020-06-10 13:07] vovpff commented on #12833
https://gitdeveloper.yetiforce.com/index.php?module=SharingAccess&parent=Settings&view=Index

[2020-06-10 15:05] Ahm3dsay3d commented on #13160
@vovpff  Thank you ... I do not code in PHP. but thanks though

[2020-06-10 16:37] vovpff commented on #13160
@Ahm3dsay3d you can charge for this to yetiforce crew

[2020-06-10 21:27] #13160 closed, assigned to nobody

[2020-06-10 21:28] Ahm3dsay3d commented on #13160
I can't afford to do this now...

[2020-06-12 09:49] bpabiszczak commented on #13140
GitHub is maybe 10% of the community, 90% contact us by email. We don't have to ask if no one asks us, that means there is no interest.

[2020-06-12 14:22] apcloic opened #13167 "[Question] Rounding total invoice & Payment status ?"
Hi,

We have an issue with invoice status on some records.

$sumOfGross : 499.99615 (PaymentsIn/models/PaymentStatus.php)
Total invoice : 500€ (automatically rounded because of 2 currency decimals config)

Now, we add the related PaymentIn with the 500€ as value.
Wait for cron task to run.
-> Then invoice Status turns to OVERPAID

Question : Is there any way to configure YF to update invoice statu

[2020-06-12 15:18] Ahm3dsay3d opened #13168 "[Question] A list of all the services in sales invoices?"
How to get a list of all the services added to all sales invoices?

[2020-06-12 15:18] Ahm3dsay3d opened #13169 "[Question] A Service to our company"
If our company has requested a service from a vendor...
how can I record that into the system with its price?

[2020-06-12 16:46] vovpff commented on #13167
My solution to round $sumOfGross for 2 decimals before comparison to change status.

[2020-06-12 17:06] apcloic commented on #13167
@vovpff thanks a lot for your suggestion.
I can do this for sure in PaymentsIn/models/PaymentStatus.php
However, I still think that it may not be very clear for YF users because from the GUI, you see an invoice which sum_gross is 500€ (rounded value) and a PaymentIn with value 500€ (real amount paid by the client)...so it looks perfect and not OVERPAID ;p

[2020-06-12 19:13] mariuszkrzaczkowski commented on #13167
https://github.com/YetiForceCompany/YetiForceCRM/blob/e908a1745d8d72f01c3bb7b3aa02a6b8731f5542/modules/PaymentsIn/models/PaymentStatus.php#L107

Change from 8 to 2

[2020-06-13 13:00] wnunezc opened #13173 "Automatic Detecting Vhost Instance"
i have setting up some instance demos or dev:

[code]

but i am getting some errors :

And i cant find the vendor folder; I believe that the installation instance must be dynamic and detect the working path; recreate the variables related or suggested to the installation instance, so that the setup is more friendly.

[2020-06-13 15:49] apcloic commented on #13167
Thanks @mariuszkrzaczkowski

[2020-06-13 15:49] #13167 closed, assigned to nobody

[2020-06-14 00:34] Ahm3dsay3d opened #13174 "[Question] Account Balance"
When does the payment Balance change for the account since it is not enabled to be changed manually?
I tried adding payment in and payment out and it didn't change...

[2020-06-14 03:28] ghost opened #13175 "[Question] Yetiforce on PostgresDB"
Hi,
I have a rquest to install Yetiforce on a Postgres Database.
I found some Info that someone tried it with YF version 3.4 but  since then there is no mention of it.

What is the status?
Make it sense to try it?

Thanks,
Stefan

[2020-06-14 07:02] vdpawel opened #13176 "[Question] [PL] Projekty, zmiana typu pola "Czas rozpoczęcia" - [startdate] na datetime (UiType: 79)"
Wymarzyłem sobie, żeby data rozpoczęcia projektu zawierała również godzinę.
W bazie uaktualniłem odpowiednie pole:
UPDATE `vtiger_field` SET `uitype` = '79'
Gdy zmieniłem w ten sposób inne pola, wszystko działa poprawnie, lecz z tym konkretnym, gdy chce wejść w konfigurację tego pola pojawia się błąd.
Czy jest sposób, żeby zmienić typ tego pola?

I dreamed that the project start date should also i

[2020-06-14 11:15] SaGaKSA opened #13177 "disable branding"
hello every one
i have bought the disable branding and I don't Know how to install it or active it any ideas ?
thank you

[2020-06-15 04:45] rskrzypczak commented on #13173
This is not a problem.

**Download the "complete" version** (https://github.com/YetiForceCompany/YetiForceCRM/releases).
If you don't download the "complete" version, you will have to install the libraries using yarn and composer before installing the system. After that you will have the vendor folder.
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/crm-install

[2020-06-15 04:45] #13173 closed, assigned to nobody

[2020-06-15 05:37] mariuszkrzaczkowski commented on #13176
jak jest domyślna wartość w tym polu ?
wygląda że problemem jest : '$(date : now)$'

[2020-06-15 06:45] vdpawel commented on #13176
Domyślną wartością było właśnie: $(date : now)$
Gdy skasowałem w bazie, błąd zniknął.
UPDATE `vtiger_field` SET `defaultvalue` = '' WHERE `vtiger_field`.`fieldid` = 630;

Wygląda na to, że wybranie wartości domyślnej jako: "Aktualny dzień", dla tego typu pola, generuje ten błąd.

[2020-06-15 07:01] vdpawel commented on #13176
chyba znalazłem problem :) zaraz przetestuje.. Zostawiłem zły typ pola w bazie.
![obraz](https://user-images.githubusercontent.com/62466142/84627154-aad4b800-aee6-11ea-8d66-abd917a26b51.png)

[2020-06-15 07:07] vdpawel commented on #13176
Dziękuję za pomoc, mogę w pole wpisać datę i godzinę oraz nie mam błędu przy edycji zmiennej - to rozwiązuje mój problem.

**Informacyjnie, ciągle po włączeniu wartości domyślnej: "Aktualny dzień" dla pola UiType: 79, pojawia się powyższy błąd.**

YetiForce CRM 5.3 Service Pack v4

[2020-06-15 10:05] vdpawel commented on #13176
Przed chwilą sprawdziłem w wersji developerskiej, również błąd występuje. Niestety teraz nie mogę nagrać filmu...

**Wywołanie błędu:**
1. Dowolny moduł -> Dodaj nowe pole -> Nowe pole daty i czasu
2. Ustawienie wartości domyślnej na: "Aktualny dzień"
3. Edycja pola

[2020-06-15 10:46] ad1rie1 opened #13178 "[bug] SQuotes account and Status are readonly"
# 🐞 bug report

### ⁉️ Describe the bug

in a clean install, i'm on the administrator account  and account and Status are readonly

![image](https://user-images.githubusercontent.com/1949622/84648181-eda58880-af04-11ea-819a-b435a01a9faf.png)

as you see, you cannot do modification , on the html, the flag readonly is set
![image](https://user-images.githubusercontent.com/1949622/84648368-3e1ce600-a

[2020-06-15 11:44] ad1rie1 opened #13179 "[Feature] Make a field take 100% of a line"
##  🚀 feature request

### Describe the solution you'd like
hello,

it can be good to have a solution to make fiel that take 100% of the with of line

For exemple :

![image](https://user-images.githubusercontent.com/1949622/84653708-30b82980-af0e-11ea-8c39-6e6755cb9ce4.png)

i am unable to make the text field 100 % of the width of the line.

Any solution ?

[2020-06-15 18:24] simple-AMS commented on #13177
@SaGaKSA You will receive an email once the YF team processes your information along with the instructions on how to disable the branding. Be patient as it could take up to a few weeks as they are extremely busy. You can also email them and be sure to include your transaction information to possibly speed up the process. Hope that helps :)

[2020-06-16 07:59] vovpff opened #13185 "[bug] Incorrect related module name when comment added by summary widget"
# 🐞 bug report

### ⁉️ Describe the bug

![comments incorrect module](https://user-images.githubusercontent.com/8545791/84747644-32422a00-afc0-11ea-9f92-6ef3e890d458.gif)

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 🌍 Your Environment

| Environment                         | Version /

[2020-06-16 08:16] vovpff opened #13186 "[bug] Relation priority"
# 🐞 bug report

### ⁉️ Describe the bug

I has been added 1:M relations between: Opportunity:Vendor

Now when I work with Opportunity and want to add new Contact related to Account parent to this Opportunity system automatically fill `Related to` field with Vendor parent to this Opportunity

### 🔥 How to trigger the error

![fault relation](https://user-images.githubusercontent.com/8545791/8474923

[2020-06-16 20:02] z0lo13 opened #13188 "[bug] <style> stripped from RoundCube"
# 🐞 bug report

### ⁉️ Describe the bug

The responsive email templates are not supported as style tag is completely stripped when trying to save. The <style> tag is working absolutely out of box on plain Roundcube. Please provide the information on where exactly this tag is sanitized, i was not able to find any commits related to this.
### 🔥 How to trigger the error

sample html email template:
[

[2020-06-17 07:33] mrzewnicki opened #13189 "[Question][PL]Uruchomienie Widgetu Komtarz dla innej modułu"
Dzień dobry,

W module Zgłoszenia widziałem Widget "Komentarze" czy jest możliwość uruchomienia go dla stworzonego przez siebie modułu? Jak mogę to zrobić?
Ponieważ nie widzę tej opcji na pickliście przy dodawaniu Widget'ów do swojego modułu.

[2020-06-17 07:47] #13189 closed, assigned to nobody

[2020-06-17 13:42] #13082 closed, assigned to nobody

[2020-06-17 14:48] jimlongo56 opened #13190 "repeated cron.php corruption"
Hello, every few days I wake up to find (or told by staff) about this error manifested usually in the following error displayed on the admin pages.
![Screen Shot 2020-06-17 at 9 57 39 AM](https://user-images.githubusercontent.com/6787988/84911752-96c7bc80-b086-11ea-98b6-529afb225bcd.png)

Here is my config report and some more information.
![ConfReport](https://user-images.githubusercontent.com/67

[2020-06-18 05:41] mariuszkrzaczkowski commented on #13190
It looks like problems in PHP CLI, run this script via WWW and CLI and attach the results.
https://github.com/YetiForceCompany/YetiForceScripts/blob/master/TestRequirements/ConfReportTest.php
the script generates the file: ConfReportTest_cron.html or ConfReportTest_www.html

[2020-06-18 05:41] mariuszkrzaczkowski commented on #13190
run in the same way as you call the cron

[2020-06-18 05:57] shekharsaad opened #13191 "My mailbox is not available for non admin users"
Non Admin users didnt get access to their email id
![2020-06-18 (1)](https://user-images.githubusercontent.com/66131984/84983541-9e569680-b156-11ea-8c9a-23ca5bf3b2c9.png)
![2020-06-18](https://user-images.githubusercontent.com/66131984/84983552-a0b8f080-b156-11ea-924c-284bee703209.png)

[2020-06-18 06:00] shekharsaad commented on #13191
Im testing the Yetiforce. did it suitable for my business or not. and found this issue. Admin users have access to my mailbox menu, but any nonadmin user didnt get the access to mailbox

[2020-06-18 06:26] mariuszkrzaczkowski commented on #13190
copy to /home/yeti/public_html/public_html/ConfReportTest.php

[2020-06-18 11:50] #13133 closed, assigned to nobody

[2020-06-18 12:14] kalle3e opened #13192 "[Question] How to setup CRM yeti local directory"
### Description

I've been following #6801  to make CRM yeti local directory to point to /var/www/html/yeti and haven't been able to make this work. I'm using php 7.2 on Ubuntu 18.04 on localhost
Screenshots showing the config for apache with the main /etc/apache2/apache2.conf pointing to the one at /var/ww/html/yeti
![Screenshot from 2020-06-18 22-08-02](https://user-images.githubusercontent.com/

[2020-06-18 14:02] jimlongo56 commented on #13190
Run as CLI returns nothing
`root@vps [~]# php /home/yeti/public_html/ConfReportTest.php`

however did find this when I run via CLI
[code]

When I Run via WWW I get this output on screen with the attached file generated.
[code]

[ConfReportTest_www.html.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/4799031/ConfReportTest_www.html.zip)

[2020-06-18 14:19] mariuszkrzaczkowski commented on #13190
The script does not work, cron does not work properly, it means that you call it wrong or something is wrong with the php configuration in CLI

[2020-06-18 14:22] jimlongo56 commented on #13190
something?

[2020-06-18 14:22] mariuszkrzaczkowski commented on #13190
try
cd _CRM_DIR
and run
php ConfReportTest.php or /usr/local/bin/php ConfReportTest.php

[2020-06-18 14:23] jimlongo56 commented on #13190
[code]

[2020-06-18 14:32] mariuszkrzaczkowski commented on #13192
[code]

[2020-06-18 14:34] jimlongo56 commented on #13190
P.S.  I only get it to run if I'm in the _CRM folder.

IOW
from ~ folder = nothing
root@vps [~]# php /home/yeti/public_html/ConfReportTest.php

from /home/yeti/public_html/ = returns data
[/home/yeti/public_html]# php /home/yeti/public_html/ConfReportTest.php

[2020-06-18 16:55] kalle3e commented on #13192
Made the change- replaced with yours above
-no errors reported, access.log attached. Still CRM local dir not pointing correctly to /var/www/htm/public_html
![Screenshot from 2020-06-19 02-39-33](https://user-images.githubusercontent.com/64237549/85049423-ff727e80-b1d7-11ea-924a-160a7006bd21.png)
![Screenshot from 2020-06-19 02-41-31](https://user-images.githubusercontent.com/64237549/85049436-013c

[2020-06-18 18:18] mariuszkrzaczkowski commented on #13190
Surely you have a problem with file permissions, not all files have the correct owner.
Improve this recursion.
You run CRON from the root user and it can't be done, it must be the same as the owner of the CRM files and the WWW server, e.g. www-data

[2020-06-18 18:38] jimlongo56 commented on #13190
okay made sure all files are owned by the same user:group
`sudo chown -R  yeti:yeti /home/yeti/public_html/`

still don't see why `root` can't run this file.
root@vps [/]# whoami
root
root@vps [/]# php /home/yeti/public_html/ConfReportTest.php
root@vps [/]#

Is this because these crons are in the main crontab file?
[code]

[2020-06-18 18:46] vovpff commented on #13190
sudo -u yeti php /home/yeti/public_html/ConfReportTest.php

[2020-06-18 18:59] jimlongo56 commented on #13190
thanks @vovpff

attachment at end.

[code]
[ConfReportTest_www.html.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/4800647/ConfReportTest_www.html.zip)

[2020-06-18 19:17] vovpff commented on #13190
@jimlongo56 no problem

[2020-06-18 22:04] rioshaz opened #13193 "[bug] Notifications title $(record : RecordLabel)$"
my notifications come like this for some modules like contacts, project tasks, and comments.

Admin owner added $(record : RecordLabel)$

where as the  " $(record : RecordLabel)$ '  should display what was added like other modules link or comment link or status change link etc.  as it happens when we add lead a proper notification comes or accounts or opportunity..

any help would be deeply apprec

[2020-06-18 22:07] rioshaz commented on #13190
@jimlongo56 i have the same problem.. this error comes once in a while every 4- 8 day.. any solutions man...

[2020-06-19 06:04] mariuszkrzaczkowski commented on #13190
run the cron in the same way

[2020-06-19 07:23] mariuszkrzaczkowski commented on #13192
show file list from public_html directory

[2020-06-19 08:13] kalle3e commented on #13192
![Screenshot from 2020-06-19 20-58-32](https://user-images.githubusercontent.com/64237549/85125843-af46fb00-b26f-11ea-9038-c95cab71558e.png)

[2020-06-19 09:26] Giorgos-Hellene opened #13194 "[Question] how to add comments with manual workflow ?"
Oh hi there! 😄
Hi company !!

Is it possible to add a comment with a workflow on opportunities module ? i am interesting manual workflow
For an example when i sent a quote with pdf i want to add comments on opportunities as well

[2020-06-19 12:27] shekharsaad commented on #13191
Issue Closed.
I logged in as admin.
gone in settings.
from permission>role  disabled mymail and save it
again enable it and save it.
BINGO...!   Problem solved. My mailbox is again visible in that user portal.

repeated the same in each user role.

Lesson Learned: Be cautious first create an user id in Yetiforce. if it allows the go ahead with password and other data things. before log in user acc

[2020-06-19 12:27] #13191 closed, assigned to nobody

[2020-06-19 13:19] Andr198 opened #13195 "[bug] OSSMailScanner ERR_NOT_ALLOWED_VALUE"
### Scanner stopped working
Cron error MailScanner

App\Exceptions\IllegalValue: ERR_NOT_ALLOWED_VALUE||<EmailQueueID_e26eff92-72f4-47e5-b193-b2c5f0a42ed3_https://PSP006.onventis.com/@onventis.com> in /var/www/html/YetiForce2/app/Purifier.php:456
Stack trace:
#0 /var/www/html/YetiForce2/modules/OSSMail/models/Record.php(241): App\Purifier::purifyByType('<EmailQueueID_e...', 'MailId')
#1 /var/www/h

[2020-06-19 13:21] Andr198 commented on #13195
![ConfReport](https://user-images.githubusercontent.com/62097187/85136840-c4039e80-b22f-11ea-9715-9020bc81090f.png)

[2020-06-19 15:41] acoolov commented on #12950
Can anyone help push this through? Seems like sometimes unnecessary features are getting implemented while this basic and essential feature is not even being looked at.
I can't even comment on the ticket so that everyone receives a notification with that comment.

[2020-06-19 16:01] jimlongo56 commented on #13190
@mariuszkrzaczkowski okay a little too cryptic for me.

Do you mean that all these crons should be in `crontab -u yeti` ?

[code]

Because using `sudo - u yeti` in the root crontab sounds odd.

[2020-06-19 18:02] vovpff commented on #13190
You need to run php from site owner user. You can put this to cron.sh

[2020-06-19 18:04] jimlongo56 commented on #13190
@vovpff , so:

`*/5 * * * * sudo -u yeti php /home/yeti/public_html/cron.php > /home/yeti/public_html/cache/logs/cron.log 2>&1`

in the root crontab?

I've also changed cron.sh to contain the exact correct path for this account.
export USE_PHP=/usr/local/bin/ea-php72

and the last cron to also use that php explicitly.
`*/5 * * * * cd /home/yeti/public_html/; /usr/local/bin/ea-php72 -f cron.php > /

[2020-06-19 18:10] arcanisgk commented on #13173
this not an issue; is a feature:
i want to set this html code example and make output a pdf file with same structure:

https://codepen.io/pablojgarea/pen/XbMEjR

[2020-06-19 20:51] vovpff commented on #13190
My /cron/cron.sh

[code]

[2020-06-20 12:17] kalle3e commented on #13192
@mariuszkrzaczkowski
Did you have a chance to work out what's happening with this issue that I have? There's no real chance for working on the code as it's unreliable as for the problem here #13133. It's been going on for a while and can't resolve it.

[2020-06-20 12:17] #13192 closed, assigned to nobody

[2020-06-20 12:27] kalle3e opened #13202 "[Question] How to setup CRM yeti local directory"
### Description

I didn't mean to close it. Fat finger!
Still open #13192

[2020-06-20 14:46] fbojan opened #13203 "No modules and templates"
Disabled icons for templates and modules, also no icons for Accounts, Leads, Contacts. Is this an error in the application or server system settings ???

![email no template](https://user-images.githubusercontent.com/25682437/85204445-d4417980-b314-11ea-9423-195daf062282.gif)

![email no template1](https://user-images.githubusercontent.com/25682437/85204454-df94a500-b314-11ea-9b47-89ca6c5065ea.gif

[2020-06-20 16:39] reinhardtl commented on #13005
This is very simple to fix temporarily. I have not checked what is causing it.
Delete the app_data/cron.php file. It contains something like 'rt'=>1592576404];' at the end of the file, which is what causes the above error. I have the same problem and have to delete that file once every day.

[2020-06-20 21:50] rioshaz opened #13204 "[Question] email enquiry form to lead in crm"
can anyone guide on how can an email automatically gets converted to crm leads and status is pending..
Whats the process to get this functionality.. I tried wf but no sucess.

can any one help,,,

i know i can manually go to my mailbox and create a lead out of an email.

[2020-06-21 06:00] imanjam commented on #10739
Hi Hosa,

Can you please share how I can also enable Jalali Calendar?

Regards,
imanjam

[2020-06-21 15:33] Giorgos-Hellene opened #13205 "[Question] where is the button Add relation on modules ?"
Oh hi there! 😄 Hi company !!

i would like to know where is the button Add relation on modules-relations or how to enable it?

![image](https://user-images.githubusercontent.com/50912403/85228650-3a99cb00-b3ed-11ea-8f30-07a65e50f9d6.png)

That button there is on gitdeveloper.yetiforce.com/

[2020-06-21 16:29] vovpff commented on #13205
[code]

There are should be param to activate this button

[2020-06-21 17:02] Giorgos-Hellene commented on #13205
@vovpff Thank you very much !!!!

[2020-06-21 17:03] #13205 closed, assigned to nobody

[2020-06-22 05:14] rskrzypczak commented on #13203
These are only available in the auto-login option, so if you logged in manually by entering your login and password, the items will not be available.
![image](https://user-images.githubusercontent.com/10221999/85250833-f42d8600-b457-11ea-8fc2-78b3ce69daa0.png)

[2020-06-22 06:17] #13185 closed, assigned to rskrzypczak

[2020-06-22 06:29] davide-alghi commented on #13202
Hi @kalle3e,
I don't know how many site configurations you have on your Ubuntu, but if you have only YF and **no https** the configuration is easy. I cannot understand you're using apache.conf to set configuration: there are <site>.conf(s) into /etc/apache2/sites-available folder to do that.

It is easier if you set up a local domain via /etc/hosts.

**I suppose everything is original into /etc/ap

[2020-06-22 08:32] kalle3e commented on #13202
Hi @davide-alghi,

Thank you  for stopping by to assist me.

I actually tried what you have said above and when it doesn't work I modified a little. I used 127.0.0.1 and it seemed to work.
The errors I've been getting is 'invalid method' and since under "http methods" list is empty I tried adding mod AllowedMEthods. This then produces an error about methods invalid.
I'm still unsure where about to

[2020-06-22 08:46] davide-alghi commented on #13202
I forgot the trailing slash in site_URL in point 5.

[code]

[2020-06-22 09:07] kalle3e commented on #13202
Lo and behold, that works!

Trying to make CRM local dir to be /var/www/html/yeti/public_html  ( not = DocumentRoot ?)
CRM is stil not functioning as it does in GitDev version (my issue with #13133)
![ConfReport](https://user-images.githubusercontent.com/64237549/85269682-95015d00-b4bb-11ea-9ec6-9393258ee9aa.png)
. Here's my Server Config, is there anything else I need to make it work?

[2020-06-22 09:41] davide-alghi commented on #13202
what does it mean? I don't understand what are trying to do.
```/var/www/html/yeti/public_html``` has to be the DocumentRoot
____________
about other parameters: the configuration is good.

- **xdebug** - run, as root, ```phpdismod xdebug```
- **Error logs** - add a filename in php.ini for error_log parameter
- **open_nasedir**, **openssl.*** - you haven't got https so are OK
- **HTTPS** - you hav

[2020-06-22 09:52] kalle3e commented on #13202
In my server configuration the crm local for doesn’t point to the doc root
as a requirement and I’m getting error in #13133 is it related?

On Mon, 22 Jun 2020 at 7:42 pm, Davide Alghi <notifications@github.com>
wrote:

--
Regards,

Kathie Nguyen

[2020-06-22 09:58] davide-alghi commented on #13202
sorry I don't understand

[2020-06-22 10:15] kalle3e commented on #13202
This from gitdev, mine doesn't point to the same
![Screenshot from 2020-06-22 20-15-06](https://user-images.githubusercontent.com/64237549/85276417-1b6e6c80-b4c5-11ea-9294-6fcd9b06a513.png)
Mine
![Screenshot from 2020-06-22 20-09-30](https://user-images.githubusercontent.com/64237549/85276248-d77b6780-b4c4-11ea-8860-21e5603e4ea7.png)

Just that I have the error at #13133 so just want to make sure

[2020-06-22 10:22] mariuszkrzaczkowski commented on #13202
this parameter is for information only and is not subject to verification.
has no effect on the operation of CRM

[2020-06-22 10:23] davide-alghi commented on #13202
yes your conf is correct. directories are different because YF instances are stored into different paths.
if you have #13133 problem but on gitdev or gitstable works, maybe you have some other thing is not working

[2020-06-22 10:26] mariuszkrzaczkowski commented on #13202
you can use the docker for testing

[2020-06-22 15:04] asperitigroup commented on #13126
Does anyone have a suggestion for the resolution of my question?

[2020-06-22 17:01] vovpff commented on #13126
@asperitigroup I think you can check .tpl files for extended calendar and rebuild rendering as you need. Maybe some additional function should be written to avhieve this.

[2020-06-22 18:07] Cooperdale opened #13207 "Reading data from MSSQL database"
Hello, my company has all customer data on a MSSQL database, used by our accounting software. Is it possible to read this data and use it in YetiForce, without having to maintain two separate databases? I couldn't find anything specific about this.

[2020-06-22 22:45] asperitigroup commented on #13126
Thanks for your help, where are the .tpl files located? Can I edit them directly?

[2020-06-23 01:43] kalle3e commented on #13202
Thank you to @davide-alghi  and  @mariuszkrzaczkowski  for your assistance and feedbacks.

[2020-06-23 01:43] #13202 closed, assigned to nobody

[2020-06-23 05:31] davide-alghi commented on #13188
Hi @z0lo13,
if I understand you are
- creating an email template with <style> tag
- including the email template into RoundCube email editor via import button
- <style> tag is no more available
If this is correct, the sanitizer is the email template editor (on saving), not RoundCube.
I discourage to change sanitizing code.
I suggest you to create a custom Textparser function including style (insid

[2020-06-23 05:45] vovpff commented on #13126
@asperitigroup check here /path/to/crm/layouts/basic/modules/Calendar/
Yes. This is smarty

[2020-06-23 07:51] bpabiszczak commented on #5337
@raviktiwari007

You wrote a whole lot of nonsense both here and in the email you sent us. You should have consulted your legal team before you started criticizing and spreading misinformation, then the discussion could maybe be more substantive.

YetiForce consists of more than 100 different libraries, each of them under a different license, including SugarCRM and Vtiger licenses. We selected the

[2020-06-23 08:08] asperitigroup commented on #13126
Many thanks for your help, I'll have a look and see if I can modify the layout.

[2020-06-23 08:08] #13126 closed, assigned to nobody

[2020-06-23 11:29] raviktiwari007 commented on #5337
It is not about providing name and email id... it is about your forcing opensource community to keep your logo. If this is opensource, this is opesource. Period.
If it was a request to use your logo and support grow your brand, I would have loved to do it as a opensource fan/promoter, but if it is T&C, then I have got my rights to question you because if we don’t agree, I can go ahead and pick ano

[2020-06-23 13:34] jimlongo56 commented on #13190
Thanks for all the help, but after all that the problem is not any better.
Every day cron is corrupted.

[2020-06-23 16:02] mariuszkrzaczkowski commented on #13190
Is the cron done to the end?  you can call this via the url

[2020-06-23 16:09] jimlongo56 commented on #13190
How would I know this?

[2020-06-24 04:53] davide-alghi commented on #13207
Hi @Cooperdale,
no it's not possible. Currently the specified database is MySql.
Assuming that YetiForce can interface with MSSQL, your database should be structured exactly with YetiForce schemes, but this we both know is not the case.
However, for any ERP-CRM you consider, a data migration is necessary.

[2020-06-24 05:18] mariuszkrzaczkowski commented on #13207
The engine can communicate with the mssql database, but is not yet ready to run CRM on mssql completely. You can write a script in CRM that will synchronize data

[2020-06-24 05:29] mariuszkrzaczkowski commented on #13190
you can check it from the panel
https://gitdeveloper.yetiforce.com/index.php?module=CronTasks&parent=Settings&view=List

and in the database

![image](https://user-images.githubusercontent.com/10198654/85504443-6040f300-b5ec-11ea-8d4b-db91ceec5cf7.png)

[2020-06-24 06:48] apcloic commented on #13204
@rioshaz I think you have to write your own custom action in MailScanner :
https://gitstable.yetiforce.com/index.php?module=OSSMailScanner&parent=Settings&view=Index&block=8&fieldid=44

[2020-06-24 07:28] rioshaz commented on #13204
thanks for your response @apcloic
how to write that custom action in mail scanner ?

well all crm in the market offers such a simple solution of web forms. why is such a basic feature lacking in yetifroce...
this is the first step in using a crm and if this isnt simple i dont think people will opt for yetiforce much.

your help is appreciate 👍

[2020-06-24 07:48] Cooperdale commented on #13207
Thanks. So I'd need to write a script in PHP, modifying the core files, or is there a YetiForce module which I should use for creating the script?

[2020-06-24 08:23] bpabiszczak commented on #5337
@raviktiwari007

You are new here, you come and demand changes because you don't want to respect the established rules. What have you done for the YetiForce project to impose your ideologies?

The license is very simple, you can freely change the system as long as you register it and don't remove the footer. These two principles allow us to build our brand and promote the system in the world, with

[2020-06-24 09:37] JEEVAN28 opened #13214 "Fetch Price Rate from Account Linked Price Book for product"
I have installed YetiForceCRM-5.3.0-complete.zip, created Product and Price Book. In Account Module, specified default price book. Now when making Sales Quote facing problem

Expectation: for product selected in Quote, rate must be from Account Linked Price Book

Actual: Rate from Product master is fetched.

Am I doing anything wrong ?

Thanks in Advance.

[2020-06-24 10:12] Andr198 commented on #13195
Fixed by myself
Added to file Purifier.php in line 441  `\:`
[code]
if possible correct this error

[2020-06-24 10:30] kofe1 commented on #12735
didn't work for me
![lbl_download_package_error](https://user-images.githubusercontent.com/67367613/85539567-46b4a100-b616-11ea-977b-1c270a8e2527.png)

upgrade form file
![upgrade_from_file](https://user-images.githubusercontent.com/67367613/85539624-56cc8080-b616-11ea-8463-91424b558bc6.png)
![upgrade_packages](https://user-images.githubusercontent.com/67367613/85539653-6055e880-b616-11ea-9a4f-e5b

[2020-06-24 10:53] apcloic commented on #13203
@rskrzypczak I'm using auto-login option but templates & modules remains disabled.

FYI, I see the following error in logs:

`[24-Jun-2020 12:03:26 +0200]: <kk5l0idf> DB Error: [1062] Duplicate entry 'kk5l0idf1inj0q2oqjmmu5cfci' for key 'PRIMARY' (SQL Query: INSERT INTO `roundcube_session` (`sess_id`, `vars`, `ip`, `changed`) VALUES ('kk5l0idf1inj0q2oqjmmu5cfci', 'bGFuZ3VhZ2V8czo1OiJmcl9GUiI7c2tpb

[2020-06-24 11:26] chenjeff622 opened #13215 "[Question] pdf template variables document or guide"
### Description

some variables bleow
**$(record : issue_time)$
$(organization : 1|addresslevel8a)$ $(organization : 1|buildingnumbera)$
$(custom : TableDiscountSummary)$**
i know $ can be insert to html and it is variable .
But what does **record** or **organization**  or **custom** mean?   what is **:1|XXXXXX** ?
Does PDF module have any document or guide for this?

[2020-06-24 12:15] #13195 closed, assigned to mariuszkrzaczkowski

[2020-06-24 12:15] mariuszkrzaczkowski commented on #13195
good job

[2020-06-24 13:02] blu-IT opened #13216 "[Question] Status of Backup Manager "LBL_BACKUP_MANAGER" in V. 5.3. -> Bug?"
Hello,

on my fresh YF 5.3 installation the Backup Manager (in the system settings) is shown as "LBL_BACKUP_MANAGER"

![Screenshot_2020-06-24 Datensicherung System Einstellungen(1)](https://user-images.githubusercontent.com/13665806/85559699-3c9c9d80-b62a-11ea-9819-7b297aefcc58.png)

and calling the Backupmanager shows:

![Screenshot_2020-06-24 Datensicherung System Einstellungen](https://user-ima

[2020-06-24 13:47] rskrzypczak commented on #13203
did you add templates?
![TemplateForRecord](https://user-images.githubusercontent.com/10221999/85568328-e0d61280-b631-11ea-9b3b-16f47b6d1ecb.gif)

[2020-06-24 14:10] apcloic commented on #13203
@rskrzypczak Yes, of course I've created a template (type: message).
Also, I've noticed that it works as expected on another YF instance but it's a 5.2 version.
Regards,

[2020-06-24 14:44] apcloic commented on #13136
Also, it looks like using conditions on related list is not working.
`$(relatedRecordsList : Contacts|firstname,lastname,modifiedtime|[[["firstname","a","Tom"]]]||2)$`

I've tried to use related list as recipient (To:), it gets truncated like this:
`Contacts|firstname,lastname|[[[`

(tested on my system **and gitstable YF**).

I've tried inside body email, it is sent as simple text.
$(relatedRecor

[2020-06-24 14:58] vovpff commented on #13216
@blu-IT Are you updated langpack?

[2020-06-24 15:20] blu-IT commented on #13216
@vovpff Yes.

[2020-06-24 16:45] davide-alghi commented on #13216
https://gitstable.yetiforce.com/ works fine.

Did you install service pack?
https://gitstable.yetiforce.com/index.php?parent=Settings&module=Updates&view=Index&block=14&fieldid=63

[2020-06-24 17:15] blu-IT commented on #13216
@davide-alghi When I log in with german (!) language selection, on https://gitstable.yetiforce.com the behavior described above is still present:  "LBL_BACKUP_MANAGER"

On my personal system I have the latest service pack installed. So I think it may be a translation issue?

[2020-06-24 22:09] vovpff commented on #13216
Check bug using other languages on your system. Maybe in German translation is missing. You can try to add translation to LBL_BACKUP_LIST to German by yourself trough Language Manager and check result. Maybe this part of system not fully translated to German. In this case you can take a part in Yetiforce Crowdin engine to improve your language translation of system. This is simple if you can spend

[2020-06-25 04:44] waran70 commented on #5337
"small carrot" bit me down

[2020-06-25 04:55] davide-alghi commented on #13216
Yes Ivan, you're right.
On https://gitdeveloper.yetiforce.com/ it works fine (in German) so the problem was fixed.

The problem is (was) the filename in German translation. If you wanna fix on your instance, please rename

```languages/de-DE/Settings/BackUp.json```

in

```languages/de-DE/Settings/Backup.json```

(U => u)

[2020-06-25 11:03] blu-IT commented on #13216
@davide-alghi YES!

Fine, thanks a lot! It resolved the problem the way you described above.

Should I open a separte bug report for this for gitstable?

[2020-06-25 11:09] apcloic commented on #13204
@rioshaz You need programming skills or hire a programmer if not.
YF does not lack really this feature, you could easily write your own web forms solution.
For example, I've just finished to write my own web forms solution based on Google Forms and Google Sheets API.
It may be **your** first step in using a CRM but AFAIK it's not the case for all.
Also, bear in mind that YF is much more than a bas

[2020-06-25 13:03] davide-alghi commented on #13216
Ivan,
that's not required. the problem has already been fixed.
gistable is the last YF version released, as yours. gitdeveloper YF version is the new one that YF team will release. So if gitdeveloper works, everything is ok: into next release / update the problem will be fixed for all end-users.

[2020-06-25 13:23] blu-IT commented on #13216
OK, thanks again!

[2020-06-25 13:23] #13216 closed, assigned to nobody

[2020-06-25 15:36] z0lo13 commented on #13188
Hi @davide-alghi,
Thanks for taking a look into it.

yes and no, for newsletters yes we are using email template.
However, we also have usual email signature (Roundcube->Settings->Identitities->Signature->Source Code) in html as an initial email template. So when employee is composing a new email the template is already pre populated. In this scenario i suppose it striped in Rouncube. As i checked

[2020-06-25 16:56] bambatha opened #13219 "5.3 installation challenges"
Hello
I need step by step instructions configuring my server to load the YETI CRM. We are using a shared server on bluehost--if that is relevant. We have followed instructions to the best of our (limited) abilities but can't get the program to load

Any tips/ instructions would be greatly appreciated

thanks to all

[2020-06-25 17:10] bpwane opened #13220 "How do I get Mailscanner contact info on my dashboard?"
In general, I'm looking for information about how to get the most out of our self-hosted installation of Yeti. Any direction there

The use case I'm most interested in is client and lead contact tracking.

Specifically, I finally got the Gmail mail scanner working. The thing that would be the most useful is to be able to have an overview of contact and leads email contact on my dashboard. ANy help

[2020-06-25 17:13] bpwane commented on #13204
@apcloic that isn't really a helpful response. Can you please provide instructions or at least a starting point.  I agree that this is a pretty basic feature request. Just telling people that YF is powerful doesn't really make the point.

[2020-06-25 17:15] vovpff commented on #13219
You can google around every server parameter and tune it by yourself. In this case you will get great experience!

[2020-06-25 17:52] apcloic commented on #13204
@bpwane
Yes for sure, here's how I did my web form
1 - you need a google account
2 - Create your form using [Google Forms](https://docs.google.com/forms/u/0/)
3 - Enable Sheets API, documentation [here](https://developers.google.com/sheets/api)
4 - Register/Create a YF [custom workflow](https://github.com/YetiForceCompany/YetiForceCRM/issues/10667)
5 - Write your custom php script and do what you

[2020-06-25 18:34] mariuszkrzaczkowski commented on #13219
look here
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/Dockerfile

https://github.com/YetiForceCompany/YetiForceCRM/tree/developer/tests/setup

[2020-06-25 23:00] z0lo13 commented on #13220
If you need any other widget other than that are available from widget setting, i would recommend you hiring a PHP + JS developer, or purchase support from yetiforce directly.

For filters go to Seetings->Labels and searching->Filters->Go to Needed Module->Edit
Make sure List in Metrics is selected.
![image](https://user-images.githubusercontent.com/23143958/85803857-24a24800-b716-11ea-94db-e0d04b

[2020-06-26 04:19] chenjeff622 opened #13221 "[Question] how to set it to integer(Rounding) ?"
### Description

Is that possible to set it to be integer(rounding)?
![圖片](https://user-images.githubusercontent.com/19267137/85819637-ddb06300-b7a6-11ea-887e-f257afbf915b.png)

[2020-06-26 05:35] vovpff commented on #13221
Trailing zeros in user preferences

[2020-06-26 09:13] blu-IT opened #13222 "[Question] How to backup Yetifore?"
Hello,

I have searched all open and closed issues with "backup" and was also searching the documentation, but could not find anything how to trigger a backup.

The only information I found is this: https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/data-archiving

Backup path is configued. Cron-Job for "archiving" is activated, but I can't find any backup in my c

[2020-06-26 10:37] blu-IT commented on #12874
I would contribute to documentation.

[2020-06-26 12:37] blu-IT opened #13223 "[Question] Configure fields on summery tab for organizations, contacts, etc."
Hello.

I would like to know, if it is possible to configure the summay view when I click on a organization or contact.
For example in the summary is shown the _"industry"_ of the organization, but I don't need that field - I would like to see the _"type"_ for example.

I know how/where to configure the shown fields in general for organizations, contacts, but this has no impact on the summary view

[2020-06-26 12:55] davide-alghi commented on #13222
here Ivan,
https://github.com/YetiForceCompany/YetiForceCRM/issues/11323#issuecomment-524041529

[2020-06-26 13:05] vovpff commented on #13223
![image](https://user-images.githubusercontent.com/8545791/85860073-d600b680-b7c6-11ea-962e-85e1e2e318e8.png)

![image](https://user-images.githubusercontent.com/8545791/85860093-e153e200-b7c6-11ea-9aa3-44a01cdf3149.png)

[2020-06-26 15:31] chenjeff622 commented on #13221
I got it . thank you!

[2020-06-26 15:31] #13221 closed, assigned to nobody

[2020-06-26 16:49] DataBound commented on #12705
This update has been a small nightmare. It broke on many different occasions due to things I can't wrap my head arround.

It started with a SQL-Error:

`Base table or view not found: 1146 Table 'yeti.vtiger_priority' doesn't exist Failed to prepare SQL: SELECT * FROM `vtiger_priority` ORDER BY `sortorderid` `

Then I got this:
![image](https://user-images.githubusercontent.com/19411972/85868266-57

[2020-06-26 19:56] #13223 closed, assigned to nobody

[2020-06-26 19:59] #13222 closed, assigned to nobody

[2020-06-26 20:27] rioshaz commented on #13204
@apcloic thanks for your help but i am not a programmer & i agree YF could be much more capable but i just want a simple thing done.

What i need is like mail scanner scan emails and add to tickets .. i want same functionality for leads...

i assign an email address and it scans and creates a lead out of every email.

body of the email can be included in lead description box as its with tickets to

[2020-06-26 20:34] blu-IT commented on #13223
@vovpff

Ahhhh, sure - already saw this. Thanks!!!

[2020-06-26 20:48] blu-IT commented on #13222
@davide-alghi

Ciao Davide, mille grazie - thanks again for your help! ;-)

Indeed I saw that issue and comment, but while searching through 10 or 15 closed issues with "backup" I was too fast and did not understand.
So what is the sense of a "Backup Manager" that does not allow to configue backups? I understand from the postings, that there is work in progress, but for a "newbie" like me with YF

[2020-06-26 21:22] rioshaz opened #13224 "[bug] notifications not showing"
Notifications only come when the user is online within (2-5 min) if you are logged out and you had notifications they automatically get read and move to the notifications list.

I have a junior he adds leads and if we both are online i get notifcation and if i am not online and logs in after 1 hr after of his adding he lead.. i see nothing in the pop up.

[2020-06-27 01:09] z0lo13 commented on #13224
@rioshaz
![image](https://user-images.githubusercontent.com/23143958/85911086-ae264880-b7f0-11ea-8cc3-86ca84ddb891.png)
It is a notification cron which marks them as read.
To disable please go to config/Modules/Notification.php
and change line 24 to false
![image](https://user-images.githubusercontent.com/23143958/85911160-6522c400-b7f1-11ea-9459-086b6db796d6.png)

[2020-06-27 06:42] davide-alghi commented on #13222
:+1:

I'm a supporter of the idea that "Documentation is the source". But we all know that documentation has high costs both creating and maintaining it. Certainly the availability of documentation is a fundamental key for the product spreading. It would already be a good result to have the possibility to catalog many of the contents here on GitHub by index and to have a sort of primitive manual p

[2020-06-27 09:50] apcloic commented on #13204
@rioshaz It's not so difficult but it requires programming skills and it also depends on your needs.
You should ask YF for a quote.

[2020-06-27 10:07] rioshaz commented on #13204
@apcloic well if u can guide i cam do it...
if such n basic things needs a quote its not an opensource spirit.

can u help

[2020-06-27 10:11] rioshaz commented on #13224
@z0lo13 thanks a million buddy... i have made the changes and will wait to see how it works out.

meanwhile, for some modules notifications come coded,, see an attachment like for contacts, comments, project task etc .other modules notifications are coming fine... what could be the issue sir.... why it says " user added $(record : RecordLabel)$" it should say give comment or contact etc... please

[2020-06-28 17:15] apcloic commented on #13204
@rioshaz
I already did, I took some time and gave you some guidance.
I am not a programmer, I'm just learning how to code.
IMO, if you want someone to do the job for you, then you have to pay / ask for a quote.
If you want it for free, then you have to learn PHP.
Regards,

[2020-06-29 02:14] waran70 opened #13228 "[Feature] Import and create field"
Would it be hard to add option to create new field (if not exists) while importing data?

[2020-06-29 02:23] waran70 commented on #13228
To extend this question.... I imagine that moving from let say vtiger is a major blocker for not wealthy, penny-pinching or inexperienced users.  If, that is allowed. the scope of YF users might jump rapidly up. It could bring some coins for developer, and boost fame of this system.

[2020-06-29 06:27] KatarzynaUlichnowska commented on #12705
@DataBound please create a new issue.

[2020-06-29 08:06] apcloic opened #13231 "[How-To] Custom function to update multiple records"
Hi,

Use case : let's say I want to update the "description" field with the word "Hello" for Contacts.

1 - Create your script like this and put it on your web server, for example in modules/Contacts/workflows/MyCustomClassName.php :

`<?php

/* +**********************************************************************************
 * The contents of this file are subject to the vtiger CRM Public Lice

[2020-06-29 08:27] apcloic commented on #13231
Here's another example : let's say I want to update a custom field which count the number of related records.

class MyCustomClassName

{

function myCustomMethod(Vtiger_Record_Model $recordModel)

{

		$relatedModuleName = 'Replace_With_Related_Module_Name';

		$relationListView = Vtiger_RelationListView_Model::getInstance($recordModel, $relatedModuleName);

		$count = $relationListView->getRelat

[2020-06-29 08:33] blu-IT opened #13232 "[Question] How to set up existing resources for the reservation system?"
Hello,

I am testing on YF 5.3 and have some questions regarding the reservations (and fixed assets) module:

When trying to book a meeting room in the calendar, I can choose **any title** for that booking and a type (vehilce, meetingroom, etc.) but there is no selection of the **existing resources**.
So, where do I configure, that I have 3 meetingrooms, but only 2 beamers for example to avoid ove

[2020-06-29 08:55] vovpff commented on #13186
@mariuszkrzaczkowski any ideas. This is very annoying thing...

[2020-06-29 20:01] apcloic commented on #13215
@chenjeff622
Hi,

Record - > variables of the module

Organization 1 - > variable related to Departments module, 1 is the ID of the department and addresslevel8a if the name of an address field
https://gitstable.yetiforce.com/index.php?module=MultiCompany&view=List&mid=152&parent=76

Custom is used for special set of fields that require a different formatting, etc.

[2020-06-29 21:05] rioshaz commented on #7358
can yetiforce scan gdrive now ? if yes how to do it..

[2020-06-29 23:15] merckaa opened #13234 "[Question] Separate services and Products sums and blocks on PDF"
Can someone help me achieve separated Total Sum of Services and Total Sum of Products in Quotes/Invoices e etc?
I tought I could do two custom fields to calculate only the sums of each one on the fly, but I could not find the right variable to use an if statement.

In PDF I tought I could do it too, to retrieve only Services/Products Line Itens in Custom TextParser but once again I could not find

[2020-06-29 23:37] bpwane commented on #13204
Thanks for this guidance.

On Thu, Jun 25, 2020 at 10:52 AM apcloic <notifications@github.com> wrote:

[2020-06-30 03:25] waran70 commented on #13204
@rioshaz

It is open source. Code is not encrypted and you can do whatever you want.  Having someone  spending own time
on your own issue is totally different story.

[2020-06-30 05:17] #13177 closed, assigned to nobody

[2020-06-30 05:21] #13023 closed, assigned to nobody

[2020-06-30 08:07] kominekjacek opened #13242 "[Question] [PL] Czy jest możliwość wyłączenia wyświetlania kolumn w wykresie Gantt? Czy jest możliwość ustawienia zmiennej w wartości domyślnej?"
**Pytanie:** Czy jest możliwość wyłączenia wyświetlania kolumn w wykresie Gantt? Czy jest możliwość ustawienia zmiennej w wartości domyślnej?

**Przykład:** Chce wyłączyć wyświetlanie kolumn Właściciel i Dni
![image](https://user-images.githubusercontent.com/61247039/86099851-5457a400-bab8-11ea-8ec8-682a520f075e.png)

Przykład: Chce aby wartością domyślną w: Nazwa etykiety: Rzeczywista data zakońc

[2020-06-30 08:27] mrzewnicki opened #13243 "[Question] [PL] Problem z masową edycją"
Witam,
na wersji 5.2.0 mam problem z masową edycją rekordów:
![MassiveEdition](https://user-images.githubusercontent.com/21024857/86102620-080e6300-babc-11ea-89eb-0323dbc97c92.gif)

Jak na gifie, zaznaczam rekordy, wybieram masową edycję i nic. Przemieli, po czym nic nie wyświetla. Nie mam żadnego błędu w consoli przeglądarki, nie mam nic w system.log ani w errors.. Gdzie i co mogę sprawdzić żeby

[2020-06-30 08:42] pagosasia commented on #9335
have configured settings in roundcube with my gmail and tried to login OSSMail with my gmail account also failed. It keeps getting "Login Failed"

[2020-06-30 09:11] KatarzynaUlichnowska commented on #13243
Dzień dobry,
czy testował Pan to samo na https://gitdeveloper.yetiforce.com? Proszę również zapoznać się z artykułem o [debugowaniu](https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-programistyczna/item/debugowanie) i poszukać jeszcze w logach serwera. Jeśli błąd występuje, to w logach zawsze widać przyczynę. Jeśli nie może Pan znaleźć lub nie wie gdzie szukać, to zachęcamy do wykupi

[2020-06-30 11:29] slomus opened #13244 "Yetiforce file migration"
Witam

Mam 1 pytani

1. Jakie pliki bazy danych muszę przenieść z starej bazy na nową? Jak one się nazywają?
Mógłby ktoś pomóc?

[2020-06-30 11:52] slomus commented on #13244
Hi

I have question

Which file I need to move from myphpadmin in Yetiforce to my new server to work. How are they called

[2020-06-30 13:20] vovpff commented on #13244
@slomus myphpadmin doesn't comtains any files. This is just web based application to work with database

You need to dump your database

[code]

and import to new server database

[code]

[2020-06-30 13:32] #13244 closed, assigned to bpabiszczak

[2020-06-30 13:36] slomus commented on #13244
yes i have one question

Can I take this file from phpmyadmin on yetiforce because i need to export database no file on linux(centos)?

[2020-07-01 09:43] xentity commented on #4490
Hello!
I want to add the question, how the LDAPS configuration should look like? I'm not able to login with LDAP.

Our Domain Controller denies LDAP bindings over port 389 (unencrypted):
`LDAPMessage bindResponse(1) strongAuthRequired (BindSimple: Transport encryption required.) ` <-- got this from a tcpdump

If I try this with port 636 (ldaps), I can see in the dump that YetiForce continues to se

[2020-07-01 10:45] sAleksander opened #13246 "Web service - users Storage* field"
![screen](https://user-images.githubusercontent.com/22557935/86233639-01ecb500-bb96-11ea-8c97-6f8e89c8bc05.png)
I am trying to get access token from Web service API. In order to do that i need to set up new application in Web service — Applications and new user in Web Service users.

I had no problem with creating app However in case of web service users is a different story.

There is this requir

[2020-07-01 13:46] vovpff commented on #13244
@slomus what you mean?

[2020-07-01 18:16] 2techcomputing opened #13247 "[bug] Error when navigating to 'Modules - Installation'"
Hello, I went into the 'Modules - Installation' section and disabled a few of the categories that where not needed. Once i saved changes and attempted to go back to the 'Module - Installation' section i am now receiving the error message 'Call to a member function get() on boolean'

I have checked to see what might be causing the error and cannot see what the issue is, I have attached a screenshot

[2020-07-01 19:12] roro1168 opened #13248 "[bug] Call to a member function isActive() on boolean error after successful login."
Hello, I am receiving the following error after a successful login that I have not seen in other posts. Please see screenshot below.
![image](https://user-images.githubusercontent.com/67708100/86281195-269f5780-bbab-11ea-87cd-95e117e605a6.png)

I have also included the inspect element with the errors. I am new to programming and coding and would greatly appreciate the guidance.

Thanks,

[2020-07-02 05:34] rskrzypczak commented on #13247
There are already many reports of this error.
https://github.com/YetiForceCompany/YetiForceCRM/issues/12082#issuecomment-561496658

[2020-07-02 05:34] #13247 closed, assigned to rskrzypczak

[2020-07-02 11:17] utp-proj-sztuczna opened #13249 "[How to automatically add records with emails to individual modules?]"
How to automatically add records with mail messages to individual modules?

[2020-07-02 12:22] kominekjacek opened #13250 "[Question] [PL] Wyzwalacz/Workflow pobieranie daty z tematu zgłoszenia"
**Pytanie:** Czy jest możliwość w wyzwalaczu/obiegu informacji przypisać datę z tematu zgłoszenia do pola "Oczekiwany czas rozwiązania"?

**Przykład:** Osoba X wysyła maila na adres zgloszenia@domena.pl, mail trafia do CRM yetiforce i jest dodany do zgłoszeń.
W tytule maile/zgloszenia jest podana data w formacie np. 2020-07-02 ta data ma zostać za pomocą wyzwalacza przypisana do pola "Oczekiwany c

[2020-07-02 16:01] pietro559 opened #13251 "app_data/cron.php malformed"
I have cron enabled.
The file app_data/cron.php is malformed. At the end of file appears 'tart'=>1593372602];', wich seems to be the last element of array, repeated in a wrong way.
This bug freezes the admin panel and cron.

... 'label'=>'FOOTER','mode'=>'onlyText','status'=>true],'premiumModules'=>['type'=>'PremiumModules','testCli'=>false,'label'=>'PREMIUM_MODULES','mode'=>'onlyText','status'=>t

[2020-07-02 17:11] apcloic commented on #13249
@utp-proj-sztuczna
Hi,
You have to configure MailScanner
https://gitstable.yetiforce.com/index.php?module=OSSMailScanner&parent=Settings&view=Index&block=8&fieldid=125

[2020-07-02 17:27] DarioGui opened #13252 "[Question] delete unconnected emails"
by enabling the email scanner is it possible to make sure that only the emails that are associated with a ticket or a project are imported?

Or

Is it possible with a daily/weekly workflow to delete all emails that are not combined with a ticket or a project?

the operation of mail scanner, if I understand correctly, imports all the messages and then proceeds with the matching if it meets the requ

[2020-07-02 18:48] vdpawel commented on #13250
Zwykłą konfiguracją, z mojej wiedzy jest to niemożliwe.

Można za to bardzo łatwo zaprogramować nową funkcję np. w com_vtiger_workflow, która będzie parsować pole temat wycinając z niego datę, skonwertuje ją do odpowiedniego formatu, a do którego pola zostanie przypasana to już można będzie wybrać w konfiguracji.

![obraz](https://user-images.githubusercontent.com/62466142/86398036-3dc27000-bca5-1

[2020-07-03 00:21] 2techcomputing opened #13253 "[Question] Converting a Quote to a Sales Invoice"
Hello, I am wondering if i is possible to convert a Quote to a Sales Invoice, i know there is an option to convert a Quote to a Sales Order but would like to be able to convert to a Sales Invoice instead. Any help appreciated, thanks.

[2020-07-03 04:49] rskrzypczak commented on #13253
Check mapping panel
![image](https://user-images.githubusercontent.com/10221999/86432768-28773100-bcf9-11ea-98e0-0ef2e255d68d.png)
![image](https://user-images.githubusercontent.com/10221999/86432828-565c7580-bcf9-11ea-9096-9d96abf04a92.png)

[2020-07-03 05:45] mariuszkrzaczkowski commented on #13251
try this change, app/Cron.php
[code]

[2020-07-03 09:49] apcloic commented on #13140
@bpabiszczak
Ok, I understand.
Do you mind sharing the PrestaSync module "as is", I know it's no longer compatible with YF current version but I will be very interested in study its code.
My email is apcloic@gmail.com
Thanks again.
Regards

[2020-07-03 10:36] MountLee98 opened #13255 "[Question] [PL] Dodanie numeru zgłoszenia do jego tematu"
Witam,

Wysyłane są wiadomości na maila, który jest skanowany przez skaner poczty, a następnie jego zawartość oraz tytuł są automatycznie dodawane jako nowe zgłoszenie ze statusem "Oczekuję na weryfikację". Czy jest możliwość, aby do tematu zgłoszenia oprócz tytułu maila dodać też numer zgłoszenia, który jest automatycznie generowany z każdym nowo utworzonym zgłoszeniem? Próbowałem już przez wyzwa

[2020-07-03 11:15] manwenick commented on #12735
@mariuszkrzaczkowski
I changed the code you've posted.
After I press the button LBL_DONWLOAD_PACKAGE nothing happens. The current window only updates it self and nothing happens

[2020-07-03 11:45] manwenick commented on #10384
Hello @archistaging @mariuszkrzaczkowski

same here.
I have the same problem after updating from 5.2.0 to 5.3.0
My logs of CRON looks like that:
PHP Warning:  imap_open(): Couldn't open stream {mydomain.com:993/imap/ssl/novalidate-cert} in /var/www/mydomain.com/modules/OSSMail/models/Record.php on line 146
---------------  2020-07-03 14:40:02 | Start CRON  ----------
2020-07-03 14:40:02 | LBL_WORK

[2020-07-03 11:59] blu-IT opened #13256 "[Question] How to import account number in organizations?"
Hello,

I prepared a CSV-file to import a lot of organizations. Before that I exported a CSV-file from YF to check the right columns names and format. Some import test already went fine, but my **account number** is not imported because **I can't select the field** it has to be assigned:

![Screenshot_2020-07-03 Organisationen](https://user-images.githubusercontent.com/13665806/86466799-99880a00-b

[2020-07-03 12:59] vovpff commented on #13256
This is impossible trough standard import because account number is auto increment self generated value.

[2020-07-03 13:34] #13249 closed, assigned to nobody

[2020-07-03 20:21] deanathpc opened #13258 "[bug] Project and Project Tasks Priority greyed out"
I seem to be having an issue like a user has had previously.

While editing Projects and Project Tasks I am unable to change the Priority of each.  I finally was able to turn on my permissions for the Project Milestone priory so that now works.  But the other two do not.

I have gone in to Software configuration | Standard modules | Fields – Picklists | System settings

Project Tasks | Priority an

[2020-07-03 20:23] rioshaz commented on #12299
@jinsongzhao  i have the same problem buddy.. how did  u solve it  ?

[2020-07-03 20:27] rioshaz commented on #11965
@KatarzynaUlichnowska  have u guys fixed the duplicate problem yet ? any help is appreciated ..

[2020-07-03 21:03] mariuszkrzaczkowski commented on #11965
we already have it, see it
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=EventHandler&view=Index
![image](https://user-images.githubusercontent.com/10198654/86497291-628c1580-bd81-11ea-9504-79fcb576cfac.png)

[2020-07-03 21:04] mariuszkrzaczkowski commented on #11965
https://github.com/YetiForceCompany/YetiForceCRM/blob/87545422218568db7c8c31ef3f25a98adbcda7ff/modules/Accounts/handlers/DuplicateVatId.php#L21-L42

[2020-07-04 03:28] waran70 commented on #13256
Create custom txt field in target module, pair it while importing with source Acc number. Once import completed go to mysql and do the right thing

[2020-07-04 12:43] blu-IT commented on #13256
OK thanks, I will try to do it the way @waran70 suggested.

[2020-07-04 12:45] blu-IT commented on #13258
Can you please post a screenshot of your settings:

[code]

[2020-07-04 13:08] blu-IT opened #13261 "[bug] Can't import phone numbers from CSV (Accounts module)"
# 🐞 bug report

### ⁉️ Describe the bug

When trying to import organizations and here espacially phone number(s) for from CSV file, I get the message:
**"Non vaild value for this field type was entered. Field: phone, module: accounts, value: 026185 ...."**

![Screenshot_2020-07-04 Organisationen](https://user-images.githubusercontent.com/13665806/86512856-dc65e280-be05-11ea-9542-4da10173ad9e.png)

[2020-07-04 15:06] waran70 commented on #13261
0049?

[2020-07-04 15:17] blu-IT commented on #13261
No, also doesn't work.

[2020-07-04 20:14] rskrzypczak commented on #13261
You have two options here:
- Disable phone number verification.
  This is a global procedure and requires modification of the /config/Main.php configuration file, in which
  $phoneFieldAdvancedVerification = false should be set
- Correct all phone numbers in imported files, e.g.
   You can check the number on the GUI, but enter the file without spaces

![image](https://user-images.githubuserconten

[2020-07-04 21:01] rioshaz commented on #13251
@mariuszkrzaczkowski
doesnt help buddy..
still getting error : syntax error, unexpected '' => 1593831903,' (T_ENCAPSED_AND_WHITESPACE)

once i delete app_data/cron file its gets fine..

please help

[2020-07-04 21:14] deanathpc commented on #13258
Here are the screenshots you asked for.

![YetiForce-Project Tasks](https://user-images.githubusercontent.com/67805826/86521061-cd892b00-be19-11ea-8460-479141007f9a.PNG)
![Yetiforce-Projects](https://user-images.githubusercontent.com/67805826/86521065-cfeb8500-be19-11ea-92c2-3a1d78a8d0ca.PNG)

[2020-07-04 21:36] mariuszkrzaczkowski commented on #13251
And try it, attach all the files you tested
[code]

[2020-07-04 22:30] Giorgos-Hellene commented on #13261
Firstly, check if the number can be inserted to one simple record. If not you have problem with number.

Secontly, select one record which has this telephone number and export it. Open the csv file with Notepad ++ ,  check the format and supply the same format for all other records you want to import.
It had help me many times

Besides, if you want upload the exported csv file
i remember that the

[2020-07-05 08:08] blu-IT commented on #13258
Have you checked, that the Administrator account you are using is inside group "Board of Management"?

[2020-07-05 08:16] blu-IT commented on #13261
Thanks!

@rskrzypczak What kind of "phone number verification" / checks are done? What are the conditions for phone numbers format?

@Giorgos-Hellene I already tried different formats as +49026185, 0049026185, 26185, ... also exported a manually inserted number and I was not able to reimport. Only one time I was successful, but I can't get the point why. I have changed nothing.

I think I will dis

[2020-07-05 08:34] rioshaz commented on #13251
cron cant run at all with your given two solutions.
 i was better before as the error used to come once in 4-5 days...

[cron.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/4874614/cron.zip)

[2020-07-05 09:02] Giorgos-Hellene commented on #13261
@blu-IT when i try to write the number +49026185 on my YetiForce i get error. ( i tried it with country as Germany )

which country does your number belong? Is it Germany number? It is important to know it

[2020-07-05 09:37] blu-IT commented on #13261
@Giorgos-Hellene

Hi, yes it is a german number - but I did not post all digits for privacy reasons.
So +49 would be right, but with the country code the number should look like this +4926185 (without "0").

[2020-07-05 11:24] mariuszkrzaczkowski commented on #13251
try it, if it doesn't work, without access to the code, we don't fix it, we have to be able to trigger this error to fix it
[code]

[2020-07-05 14:50] deanathpc commented on #13258
Yes.  Both accounts are "Board of Management" and I even switched one to another account and gave permissions and same result.

[2020-07-05 20:13] shanjbin opened #13262 "[bug] Installation Failed (ver 5.3.0)"
hello,
i tried to install Yetiforce CRM on my fresh WP platform website (http://pro.101group.ca) from CPanel - Softaculous panel,
it is a share-server from Hostupon.com, but it gives me the following error, whereas i never installed yetiforce on this website before
thanks,
​​​​​​​Shan

[2020-07-06 08:05] utp-proj-sztuczna opened #13263 "[Question] [PL/ENG] ticket number"
Mam skonfigurowany numer zgłoszenia, który inkrementuje sie automatycznie wraz z otrzymaniem nowego emaila o zgłoszeniu. W jaki sposób ustawic aby numer zgłoszenia nie inkremetował się i pozostał ten sam numer, w przypadku gdy ten sam klient odpowiada na to samo zgłoszenie.

When customer send new mail message then new ticket with unique number is created automatically. How to configure yeti to a

[2020-07-06 08:16] utp-proj-sztuczna commented on #13263
![zgłoszenia](https://user-images.githubusercontent.com/66875302/86571464-bf4e2280-bf71-11ea-8a7d-d1cc4b29cc27.png)

[2020-07-06 08:34] kamiro16 opened #13264 "[Question] How to edit basic colors"
Hello!

I have problem with changes colors.
I try change value in _header.scss and main.css but the result dont work.
also I delete cache.

Where Can I change colors?
I need to change, header, menu bg etc.

Thanks you for advice!

[2020-07-06 08:43] KatarzynaUlichnowska commented on #13262
Hello, thank you for submitting the issue but all Softaculous-related issues should be reported directly to them. Here is a link to open an issue: https://softaculous.deskuss.com/open.php

[2020-07-06 08:58] AllOnMyOhm opened #13265 "[Question] PHP Fatal error: the zip library is missing"
Hello folks, I'm getting the following error when trying to run the install, I downloaded the (PHP PEAR Packages) Archive_Zip package, but I guess that wasn't the issue...

_________________________________________

[06-Jul-2020 08:51:23 UTC] PHP Fatal error:  Uncaught Exception: The zip library is missing in /home/x/public_html/yeti/include/RequirementsValidation.php:15
Stack trace:
#0 /home/x/pu

[2020-07-06 09:11] #13262 closed, assigned to mariuszkrzaczkowski

[2020-07-06 09:13] blu-IT commented on #13258
I had that issue (with tickets) and it came with the transfer of database to a new installation. The rights did not correspond any more. But you already checked that above and form the screenshots everything seems OK.
Is it a new installation? Did you migrate the database to a new host? Has there been a crash of the machine and the database may be damaged?

Have you tried to create a new Project,

[2020-07-06 09:34] vovpff commented on #13265
[code]

For ubuntu available modules:

[code]

[2020-07-06 09:38] vovpff commented on #13258
#13105 can be solution

[2020-07-06 09:39] vovpff commented on #13186
@mariuszkrzaczkowski any ideas?

[2020-07-06 09:42] AllOnMyOhm commented on #13265
I'm not sure how to go about this in Cpanel... T_T

[2020-07-06 09:58] AllOnMyOhm commented on #13265
I did the following:
in WHM -> Software -> EasyApache 4 clicked "Customize", then clicked "PHP Extensions", then wrote "zip" in the search box, enabled php**-php-zip for all PHP versions, then clicked "Review", and then "Provision".

Still nothing

[2020-07-06 10:13] gsamushia opened #13266 "[Security]"
Vulnerabilities in libraries
Vulnerabilities in libraries were detected, it is recommended to update them quickly.
Vulnerabilities:
phpoffice/phpspreadsheet(1.6.0):
XXE Vulnerability CVE-2019-12331

Is any update available?

Your Environment
YetiForce Version used:  5.1.0

[2020-07-06 10:18] mariuszkrzaczkowski commented on #13266
Update CRM to version 5.3, there is already version phpoffice/phpspreadsheet = 1.11.0

[2020-07-06 10:18] #13266 closed, assigned to mariuszkrzaczkowski

[2020-07-06 10:23] vovpff commented on #13265
@AllOnMyOhm this is difficult because I work with my server direct by ssh without any admin panels. Your trouble related to your server. Request support from your hoster.

[2020-07-06 10:25] #13265 closed, assigned to mariuszkrzaczkowski

[2020-07-06 10:48] blu-IT commented on #13261
OK, this worked for me now and I could import my CSV file.

But I would be very interesting to know, what YF expects when doing a phone number verification.

[2020-07-06 12:44] blu-IT opened #13267 "[Question] How-to: Sub-organizations of organizations (Accounts module)"
Hello,

have a small number of organizations that have different **locations** or **sub-organizations**.

Is there a way to **add a sub-organizations** account in the regular accounts module and **define a relationship to another organization** who is the "master"/mother of that sub-organisation?

I already thought about adding this sub-organizations as "contact" and assign them to a organisation,

[2020-07-06 12:47] vovpff commented on #13267
Member of field for accouts?

[2020-07-06 13:10] deanathpc commented on #13258
This is a new installation.  So no migration or anything like that.  No crash of the machine that I am aware of.  This has been happening since first installed.

I had other fields that were doing the same in different areas and once I changed permissions all is well so far.  Project Milestone was doing the same but once I changed those permissions everything is working there too.

[2020-07-06 13:17] blu-IT commented on #13267
Oh, yes! Thanks!

[2020-07-06 13:17] #13267 closed, assigned to nobody

[2020-07-06 13:18] #13256 closed, assigned to nobody

[2020-07-06 13:34] blu-IT commented on #13252
I think you can configure in YF which IMAP-Folders to sync. So, if you have somekind of filters already implemented on your mailserver you can avoid to get them in YF.

[2020-07-06 13:49] DarioGui commented on #13252
solution as simple as it is ingenious.
I just hadn't thought of that.
Thanks so much

[2020-07-06 14:36] blu-IT commented on #13232
None any idea?

[2020-07-06 18:39] deanathpc commented on #13258
What part of that?  the SQL query part you mean?  That link is about paymentsin though.  I'm working with projects.

[2020-07-06 18:43] vovpff commented on #13258
Project priority can be stored in database as high instead PLL_HIGH, in this case you can't change this field value. The same situation was with payments in status value

[2020-07-06 19:16] jimlongo56 commented on #13190
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190#issuecomment-646796591 seems to have fixed things.
Have not seen the error since then.

In other words, be very careful with **which user and which PHP you are calling on a multi-php cPanel server**

[2020-07-06 19:16] #13190 closed, assigned to nobody

[2020-07-06 19:54] mariuszkrzaczkowski commented on #13251
https://github.com/YetiForceCompany/YetiForceCRM/issues/13190#issuecomment-654417798

[2020-07-06 20:29] deanathpc commented on #13258
Ahh O.K.  Well they all show as low in each record if that makes a difference?

So how does one fix it?  With the SQL query statement?

[2020-07-06 20:40] deanathpc commented on #13258
Just checked a few records.  Stored as Low.  Looks like all of them are.

I manually chanced it in the database and it comes up with what I plugged in.  So it's changeable.  But I am unable to change it via Yetiforce.

[2020-07-06 20:58] jimlongo56 opened #13268 "[Question] Shareable Widgets"
Can I create a widget or chart that is available to all users on their homepage?
Please explain the steps. I can't find documentation on creating widgets.

[2020-07-06 21:24] jimlongo56 commented on #13222
Agreed, documentation is lacking.

[2020-07-06 21:40] ghost opened #13269 "Update related record not working"
### Description

Anyone know workflow to do this.
When lead is created create To Do ( I Know how to do this)
When 'to do' is completed change status of lead.
(in yetiforce)

[2020-07-06 21:43] essayboy commented on #13269
anyone?

[2020-07-06 23:46] deanathpc commented on #13258
Actually you bring up an excellent point.  So in my database it's in there as just Low.  I see in other tables it's like you described PLL_LOW or PLL_HIGH.

So YetiForce isn't putting the data in correctly.  Off to check some other tables.

[2020-07-06 23:53] deanathpc commented on #13258
I also just checked the two tables for Task Priority and Project Priority.  They both had entries of low, normal, high.  Not PLL_LOW, PLL_NORMAL or PLL_HIGH.

[2020-07-07 03:53] rskrzypczak commented on #13268
Use the widget management panel
![image](https://user-images.githubusercontent.com/10221999/86705224-f37b1f00-c015-11ea-82ad-ecc03f7166a8.png)

[2020-07-07 03:53] #13268 closed, assigned to nobody

[2020-07-07 04:11] vovpff commented on #13258
Rename language folder to _language and go to pick list edit page. Check there correct picklists values?

[2020-07-07 06:38] yusronhilmy commented on #4402
Hi @martinprog7 : you can make actual_sale field editable by update vtiger_field table :
update vtiger_field set displaytype = 1 where columnname = 'actual_sale';

Hope this helps.

[2020-07-07 08:34] blu-IT opened #13270 "[Question] Can't assign "Member of" in Account module (organizations)"
Hello,

now that I know how to assign a sub-organization or location to a organization https://github.com/YetiForceCompany/YetiForceCRM/issues/13267 I want to assign a value into **existing accounts** to in the **"Member of"** field. But I can't because there is no way to edit the field:

![Screenshot_2020-07-07 Accounts YetiForce Sp z o o ](https://user-images.githubusercontent.com/13665806/86749

[2020-07-07 11:44] blu-IT commented on #13264
Not sure if it helps you, but did you try to configure colors in?

`Software configuration-> Colors and calendar -> Colors -> Tab Modules`

![Colors](https://user-images.githubusercontent.com/13665806/86775837-fe56a380-c057-11ea-9f37-acf0ba54f741.png)

[2020-07-07 11:59] vovpff commented on #13270
Relation 1:M fields can be edited only trough full edit view

![image](https://user-images.githubusercontent.com/8545791/86777813-4bd80e00-c062-11ea-8cfa-8767b5ce0545.png)

[2020-07-07 12:25] blu-IT commented on #13270
Oh, OK - thanks!!! I could have checked that before, I am sorry..!
But to be honest it is a little bit confusing, that some fields can only be changed through the full edit view.

[2020-07-07 12:25] #13270 closed, assigned to nobody

[2020-07-07 12:31] waran70 opened #13272 "[Feature] Split git on 2 parts"
What about splitting (somehow) yeti git on:

1. How to do: (use existing functionalities - beginners coders/not skilled users/spammers)
2. Contribute: (talk about errors and improvement - limited to approved guys with little sense of what is going on)
hmm?

[2020-07-07 12:34] chittlangia commented on #12285
i dont have any "crontab" file still not able to understand which file needs to be edited and what code needs to be keyed in. I have found the API key, thanks to @asperitigroup . I am using cpanel to host Yetifore on Godaddy.

[2020-07-07 13:17] deanathpc commented on #13258
It shows just low, normal, high.  Not PLL_LOW, PLL_NORMAL or PLL_HIGH.  If that is what you are asking.

Just for grins and giggles I checked the help desk section.  Support. Created a new ticket.  That priority is working correctly.  And is labeled as Low, Normal, High and Urgent.  And that combo box works just fine.

Is the fact it is all lower case in my problem areas?  Or does that not matter?

[2020-07-07 13:45] vovpff commented on #13258
@deanathpc I has also checked picklist values in my system. All looks perfect.

Check this

![image](https://user-images.githubusercontent.com/8545791/86790551-3cac8c80-c071-11ea-813e-7c102f852b74.png)

[2020-07-07 13:49] blu-IT commented on #13258
Can you try to uncheck "Default value" low and see if it changes something?

[2020-07-07 14:30] vovpff commented on #13258
@deanathpc

![image](https://user-images.githubusercontent.com/8545791/86796586-6b2d6600-c077-11ea-8d49-b0a4ee496284.png)

Default value `Low` instead `low`. Uncheck default value. Save. After that check default value and select low.

@rskrzypczak pls take a look!

[2020-07-07 15:32] zendevil opened #13273 "No documentation for installation on macOS"
Are there detailed step by step instructions how to install yetiforce on macOS? A web search didn't return anything for macOS installation.

[2020-07-07 15:37] kamiro16 commented on #13264
Thanks you for comment but I need another advice.
I need to change color ex. left menu, top header or body color.
I change main.css but the result is not visible...

Maybe I must clean another cache?

[2020-07-07 15:43] 99maoni opened #13274 "Fatal error: Uncaught App\Exceptions\AppException: ERR_NO_JSON_DECODE in"
Hello, I have been using YetiForce for about a month now, but I just opened my login page yesterday and got this error

Fatal error: Uncaught App\Exceptions\AppException: ERR_NO_JSON_DECODE in /home/onedayho/domains/onedayhost.com/public_html/crm/app/Json.php:40 Stack trace: #0 /home/onedayho/domains/onedayhost.com/public_html/crm/app/Language.php(353): App\Json::decode('{\n "php": {\n ...', true)

[2020-07-07 15:45] 99maoni commented on #13274
I am using version 5.3 and php 7, I tried to change it to 7.2 7.3, 7.4 but it did not work

[2020-07-07 16:20] mariuszkrzaczkowski commented on #13274
![github](https://user-images.githubusercontent.com/10198654/86811698-7df76900-c07e-11ea-82e2-7c2db3322634.jpg)

[2020-07-07 17:49] deanathpc commented on #13258
I can't seem to find this.  How does one get to that edit field?

[2020-07-07 17:54] deanathpc commented on #13258
Nevermind.  I found it.  Sorry..

[2020-07-07 17:58] deanathpc commented on #13258
Here is what my edit field box looks like.

![YF-EditField](https://user-images.githubusercontent.com/67805826/86822380-9012e080-c059-11ea-91a0-3e709c76eb38.PNG)

So I unchecked Default.  No change.  Re-checked Default and selected "low" and no change.

I also tried a fresh in stall on my webhost.  In another directory fresh database.  The same problem is on the fresh install also.  Softaculous.

[2020-07-07 17:59] deanathpc commented on #13258
WAIT!!!!!!!!!!!!!!!!!!!!!!!!

I just added a new record!!!!  I can select priority now!!!!  But edit a record and I can't.  ????????

[2020-07-07 18:12] deanathpc commented on #13258
O.K. I'm on to something.

I am sorry for disrupting your troubleshooting flow but I stepped out of the box here.

I just went and renamed the Project Tasks Priority entries.  low to Low, normal to Normal and high to High.  I then changed the Default value in the Edit Field box.

Bingo.  I can start a new record and I have my priority options.  I can now edit a previous record and BINGO I can edit

[2020-07-07 18:55] rioshaz commented on #13224
@KatarzynaUlichnowska @mariuszkrzaczkowski  can u guys help and also is there any duplicate check function ? when  i enter a new lead or account.. instant check.. before form submission like in vtiger or joforce ?

[2020-07-07 19:04] rioshaz commented on #13204
@waran70 well its not my own issue its an issue with many people who might want to use yeti... emails to lead is pretty basic.. if they dont have it streamlined, i doubt YF future adoption rate..

[2020-07-08 05:43] mariuszkrzaczkowski commented on #13274
check the requirements carefully, your server does not meet the configuration requirements

[2020-07-08 05:43] #13274 closed, assigned to mariuszkrzaczkowski

[2020-07-08 08:19] fbojan opened #13275 "SMTP Error (-1): Connection to server failed."
I didn’t do any updates or changes to the settings, but it just stopped working.
![Email](https://user-images.githubusercontent.com/25682437/86895129-50550300-c104-11ea-9a24-f25b8476a9e9.gif)

[2020-07-08 08:59] guide5232 opened #13276 "This site can’t be reached"
## 🚀 feature request
Hi team
From last 2 days regularly my team is getting  "This site can’t be reached" please let us why we are not able to access my CRM properly.
![Server bug](https://user-images.githubusercontent.com/47585969/86897086-9752f080-c124-11ea-8e6b-1b4b1aff0de0.PNG)

[2020-07-08 09:06] mariuszkrzaczkowski commented on #13276
this is a question for your admin not for us

[2020-07-08 09:06] #13276 closed, assigned to mariuszkrzaczkowski

[2020-07-08 10:02] guide5232 commented on #13276
I am the admin for my CRM I am thinking this is for server-side problem. please let us know which problem is this.

[2020-07-08 10:04] mariuszkrzaczkowski commented on #13276
I meant server administrator

[2020-07-08 10:09] guide5232 commented on #13276
My company is using yetiforce server.that is why i have posted here.

[2020-07-08 10:38] rskrzypczak commented on #12783
Disable the uopz extension because it's probably active and that's all :)

[2020-07-08 10:42] KatarzynaUlichnowska commented on #13276
Hello, if you purchased any of our services and have problems, please send us an e-mail to sla@yetiforce.com. Please include the address of your CRM and which service/product you purchased and when, so we can identify you. Unfortunately, your GitHub login doesn't tell us which company you are from.

[2020-07-08 11:02] guide5232 commented on #13276
ok

[2020-07-08 11:46] apcloic opened #13278 "[Question] PDF custom textParser based on relatedRecordsList ?"
Hi,

I would like to customize relatedRecordsList function in app/TextParser.php but this function is protected.

So I simply change this function visibility to 'public' and all goes well but maybe there was a good reason for it to be protected ?

[code]

[2020-07-08 13:46] ad1rie1 commented on #13179
Any news on that ?

[2020-07-08 13:48] ad1rie1 commented on #13178
I forgot, this bug is present on Demo website, dev and stable ;)

[2020-07-08 14:17] jimlongo56 commented on #13268
It's not clear how you got to that path in the screenshot.
I don't see any selection for `Dashboard - Widgets`.
Should I be looking somewhere else?

![Screen Shot 2020-07-08 at 10 15 06 AM](https://user-images.githubusercontent.com/6787988/86929684-1b48b080-c104-11ea-9993-d6752d5fc048.png)

[2020-07-08 14:43] 99maoni opened #13279 "How to buy support service"
Help me know how can I buy support services for self hosted version. I got this link (yetiforce.shop) somewhere but it does not work. Thank you.

[2020-07-08 14:43] vovpff commented on #13178
This is not a but. You need to select opportunity first and this two fields will be filled automatically with data from opportunity

[2020-07-08 15:15] z0lo13 commented on #13224
@rioshaz Have you tried to repeat the issue on gitdeveloper?

[2020-07-08 18:46] harshdoshihd opened #13280 "How do I assign Contact to a lead instead of Accounts"
Hi Team,

I see the last paragraph about the logic mentions:
Disabling Accounts for benefits of Contacts is possible, but not recommended.

https://yetiforce.com/en/knowledge-base/documentation/user-documentation/item/how-to-enter-new-leads

But I do not see any knowledge base to help me do it.

I need to assign contact to - Opportunities & Projects instead of Accounts.

Can you please help me wit

[2020-07-08 18:56] vovpff commented on #13268
@jimlongo56 2nd one

[2020-07-09 02:39] asktechchef opened #13281 "[bug]Inspite of changing 'Record' to 'Messege', Email Template is not working on Yetiforce, Round cube Email"
# 🐞 bug report

### ⁉️ Describe the bug
I am not able to use Email Template in Yeti Force and the button is disabled on its Roundcube. I tried changing Template from 'Record' to 'Messege' but the issue still remains the same.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expec

[2020-07-09 05:10] rskrzypczak commented on #13281
https://github.com/YetiForceCompany/YetiForceCRM/issues/13203
https://github.com/YetiForceCompany/YetiForceCRM/issues/12982

[2020-07-09 05:10] #13281 closed, assigned to nobody

[2020-07-09 05:19] asktechchef commented on #13281
@rskrzypczak Thank you so much. #13203 solved this issue.

[2020-07-09 09:08] Flxleo commented on #11513
Same issue here on 5.3 ServicePack 4

Did follow the idea of ripixxx and it fixed it for me. Though the latest SP didn't - FYI @bpabiszczak

[2020-07-09 09:50] KatarzynaUlichnowska commented on #13280
The system treats the Accounts module as the primary module, where all companies/individuals can be found. Having one module [instead of two] allows for better reporting and sales analysis. That is why an Opportunity should always be assigned to an Account [it might be for Contact but this is optional], so even if you sell to private individuals, they must also be Accounts.

In the new version [5.

[2020-07-09 09:50] #13280 closed, assigned to KatarzynaUlichnowska

[2020-07-09 09:59] KatarzynaUlichnowska commented on #13279
Hello, the easiest way to buy our services is to go to the Marketplace in your CRM system (if you have one of the latest versions).
The link yetiforce.shop is no longer working as we are moving all products and services to our official website and next week it all should be up and running. You can see on the screenshot below how it will look like and where it will be located in the menu.

![Zrzut

[2020-07-09 09:59] #13279 closed, assigned to KatarzynaUlichnowska

[2020-07-09 10:34] harshdoshihd commented on #13280
Hi Katarzyna,

Thanks for your revert.

In my case, we work with organizations, where individual contact in an
organization are separate opportunities for us, hence we need to map
contact as well as accounts. If not accounts, contact is very much required.

Best Regards,
Harsh Doshi

On Thu, Jul 9, 2020 at 3:20 PM Katarzyna Ulichnowska <
notifications@github.com> wrote:

[2020-07-09 11:59] #13129 closed, assigned to nobody

[2020-07-09 13:23] utp-proj-sztuczna opened #13282 "[Question] Nie mogę odpowiadać na emaile Zgłoszeń Kontrahentów / I cannot reply to the e-mail address of Accounts Tickets"
W Yetiforce mam problem z modułem "Zgłoszenia", nie mogę w tym module odpowiadać na emaile kontrahentów, cały panel odpowiadania na emaile jest nie widoczny w module Zgłoszenia. W innych modułach jak Historia emaili czy Kontahenci mam możliwość odpowiadania na maile zgłoszeń i powinno tak samo działać odpowiadanie w Zgłoszeniach. W załączniku wysyłam całą konfiguracje modułów.

In Yetiforce I have

[2020-07-09 19:35] ghost opened #13283 "What does that code mean?"
### Description

What does this mean?
**SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '391' for key 'PRIMARY' The SQL being executed was: INSERT INTO `u_yf_crmentity_label` (`crmid`, `label`) VALUES (391, 'jh')**

[2020-07-09 19:41] vovpff commented on #13283
Record with crmid 391 already available in u_yf_crmentity_laber table. Something working wrong

[2020-07-09 20:04] ghost commented on #13283
i dont undrstand. where can i find u_yf_crmentity_laber table? what is a crmind

[2020-07-09 20:55] mariuszkrzaczkowski commented on #13283
duplicate https://github.com/YetiForceCompany/YetiForceCRM/issues/12768

[2020-07-09 20:55] #13283 closed, assigned to mariuszkrzaczkowski

[2020-07-09 22:45] blu-IT commented on #13232
OK, seems I got a little step ahead. I found this in

`Software configuration -> Standard modules -> Fields – Folders -> System settings`

Select Template "Reservations" and I can configure type of things that can be booked, but **not exact name** (e.g. Room 1, Room 2) or even **amount of things** (e.g. 3 Beamers).

![Screenshot_2020-07-10 Tree manager System settings](https://user-images.githubus

[2020-07-10 04:23] rskrzypczak commented on #13282
Mechanizm pozwiązywania maili ze zgłoszeniami działa na podstawie prefix-ów, a nie adresów mailowych.
Mam nadzieję, że ten filmik trochę Ci to rozjaśni.
https://www.youtube.com/watch?v=0JBckYE9ZuI&list=PLX0lktP3Kukg_Da-TaEBys-aON68Yy2vh&index=10

[2020-07-10 04:23] #13282 closed, assigned to nobody

[2020-07-10 09:02] kamiro16 commented on #11965
Thanks for the modification.
Just appends the file to the directory?
What else should I add to make the modification work?

[2020-07-10 09:05] rioshaz commented on #10445
@konadrian has the duplicate check been implemented yet ? i mean a this is very basic featue and needs address asap as how can multiple users work if there is no duplicate check and this kills the whole crm productivity...

[2020-07-10 09:08] rioshaz commented on #8731
any news on this yet brother.. this is very imp feature.. all basic crm in market have instant duplicate check.. how can multiple team work without a  duplicate check. manually using duplicate n merge is no use later and take time too...

[2020-07-10 09:29] mariuszkrzaczkowski commented on #11965
You must wait for the new version
running this requires modification of many files

[2020-07-10 09:30] mariuszkrzaczkowski commented on #10445
we already have it, see it
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=EventHandler&view=Index
![image](https://user-images.githubusercontent.com/10198654/86497291-628c1580-bd81-11ea-9504-79fcb576cfac.png)
https://github.com/YetiForceCompany/YetiForceCRM/blob/87545422218568db7c8c31ef3f25a98adbcda7ff/modules/Accounts/handlers/DuplicateVatId.php#L21-L42

[2020-07-10 09:31] mariuszkrzaczkowski commented on #8731
we already have it, see it
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=EventHandler&view=Index
![image](https://user-images.githubusercontent.com/10198654/86497291-628c1580-bd81-11ea-9504-79fcb576cfac.png)
https://github.com/YetiForceCompany/YetiForceCRM/blob/87545422218568db7c8c31ef3f25a98adbcda7ff/modules/Accounts/handlers/DuplicateVatId.php#L21-L42

[2020-07-10 09:31] kamiro16 commented on #11965
Thanks you @mariuszkrzaczkowski for answer.
So I waiting for new version.

[2020-07-10 09:51] rioshaz opened #13284 "instant duplicate check [Feature]"
can yeti force team develop a instant duplicate checker for leads, contacts n accounts as in vtiger or joforce.
its a very very much anticipated feature and without this working with crm seems difficult.

[2020-07-10 10:48] kamiro16 commented on #13284
Hello @rioshaz,

I think you search this -[https://github.com/YetiForceCompany/YetiForceCRM/issues/11965](url)

[2020-07-10 10:57] kamiro16 commented on #6970
@cltvchannel
Sorry for the digging up but I have a question for you. How did you change the colors of the upper bar and menu? I would like to develop my style.

[2020-07-10 13:03] rioshaz commented on #13284
@kamiro16  thanks

[2020-07-10 13:10] rioshaz commented on #11965
i see nothing for leads sir.. can we please add leads too and validate with mobile or email..

ideally a user should be able to choose which field he/she wants to be validated (name, phone, email,  any custom field etc )for duplicate check  like in vtiger

[2020-07-10 13:42] #13284 closed, assigned to nobody

[2020-07-10 22:10] 2techcomputing opened #13288 "Adding Tax percentage to invoice template[Question]"
I am looking to add the tax percentage or the tax name in front of the tax value that appears on an invoice. Would it be possible to get the code in order to modify the TableTaxSummary.php file to add the extra field in this line. Thanks.

td class="value" style="text-align:center;font-size:11px;font-weight:bold;padding:0px 0px;">'  . $currencyData['currency_symbol'] . ' ' . \CurrencyField::conver

[2020-07-10 23:02] 2techcomputing opened #13289 "Syntax error or access violation: 1118 Row size too large. [bug]"
I was attempting to create some new custom fields and i am now getting the error message "SQLSTATE[42000]: Syntax error or access violation: 1118 Row size too large. The maximum row size for the used table type, not counting BLOBs, is 8126. This includes storage overhead, check the manual. You have to change some columns to TEXT or BLOBs
The SQL being executed was: ALTER TABLE `vtiger_account` ADD

[2020-07-11 10:00] asktechchef opened #13291 "[bug] Field Values not working when mail is sent using any email template."
# 🐞 bug report

### ⁉️ Describe the bug
Field Values not working when mail is sent using any template.

### 🔥 How to trigger the error

### 👎 Actual Behavior

Showing code records in the sent email

### 👍 Expected Behavior

Should show value against record code.

### 👷 Testing

- [x] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdevelo

[2020-07-11 13:40] rioshaz opened #13292 "roundcube responsive theme 1.4 [Feature]"
round cube has globally rolled out their new look n feel official theme 1,4 with responsive layout.. when can we the same included in yetiforce mailbox client ? any update  or can we implement it ourself some how ?

https://scdn1.plesk.com/wp-content/uploads/2018/06/24154541/kolab4.png

[2020-07-12 21:51] isahuntercsggit opened #13295 "[Security] Not able to Install Yetiforce using SSL for MySQL Connection. This is inherently insecure as MySQL requests will be transported in http plain text. How to enable SSL for MySQL Connections from Yetiforce"
I'm Not able to Install Yetiforce using SSL for MySQL Connection. This is inherently insecure as MySQL requests will be transported in http plain text. How to enable SSL for MySQL Connections from Yetiforce?

[2020-07-13 11:11] utp-proj-sztuczna opened #13296 "[Question] [PL] Komendy dodawania zadań w Cron"
Jakie są komendy do ustawiania zadań w cron?

![image](https://user-images.githubusercontent.com/66875302/87298222-1f147280-c50a-11ea-8638-684677165fac.png)

[2020-07-13 12:52] blu-IT commented on #12718
@diderich Have you already checked in `Software configuration -> Standard modules -> Edit fields ` ?

[2020-07-13 13:01] blu-IT opened #13297 "[Question] How to add reference (UIType10) field"
Hello,

I am trying to ad a custom field to the "Internal tickets" module / interface.
My goal is to link to another internal ticket like it is already possible in the "Trouble tickets" section -> parentid.
But when creating an new field, I can't find the type "reference (UIType10)". I tried some others like Text, Integer, etc. but this does not lead to success.

Thanks!

Regards

[2020-07-13 13:32] rskrzypczak commented on #13297
Select field type: "Related field 1:M"

[2020-07-14 02:29] merckaa commented on #13234
Done it.

[2020-07-14 02:29] #13234 closed, assigned to nobody

[2020-07-14 02:55] waran70 commented on #13234
@merckaa here is not a personal blog :-) If you cracked on something let us know the way too

[2020-07-14 03:17] merckaa commented on #13234
Well, Very sorry.

I was going to share, but it's kinda of a javascript hack, done some custom coding.

The code is not very friendly and was designed specifically for my needs, it may break something.

So I created two custom fields in the quote module, one for the sum of all products and the other for the sum of all services.

`{strip}
     <script type="text/javascript">

	var rows = [...$('.in

[2020-07-14 03:25] merckaa commented on #13234
You may not need to replace , to . in decimal as it's about currency formatting.

[2020-07-14 08:12] #13243 closed, assigned to nobody

[2020-07-14 08:16] KatarzynaUlichnowska commented on #13292
We are planning to update RoundCube in 5.4 version. You can, of course, do it yourself but it requires programming knowledge and changes in the code.

[2020-07-14 08:16] #13292 closed, assigned to nobody

[2020-07-14 08:49] KatarzynaUlichnowska commented on #13118
It would be best if someone from the community could answer this question and say if they have recently managed to get Asterix working. In our opinion, it requires an update but in the last 3 years, we haven't had a customer who would pay for it.

[2020-07-14 08:58] #13118 closed, assigned to nobody

[2020-07-14 09:09] rioshaz commented on #13292
@KatarzynaUlichnowska thats really great, when are you guys planning to release 5.4 table version ?

[2020-07-14 09:10] KatarzynaUlichnowska commented on #12847
Version 5.4 will include full integration with Jitsi and that will include video calls, we are currently testing this solution and soon we will release more information about this integration.
Regarding the file transfer, currently, we don't have a customer who would pay for chat development.

[2020-07-14 09:10] #12847 closed, assigned to bpabiszczak

[2020-07-14 09:15] #13137 closed, assigned to nobody

[2020-07-14 09:19] MaxPegankin opened #13306 "[Question] Languages update cUrl timeout error"
Greetings,

I need some help,

I can't update Languages from settings, have "Error while parsing server responses".

Yetiforce version 5.3.0

_System.log
====================================================================================================================================
2020-07-14 14:47:49.0221 [warning][App\Fields\File] - Checked URL is not allowed: https://github.com/YetiForceCom

[2020-07-14 09:20] KatarzynaUlichnowska commented on #11956
Could you please send us a gif as @areksolek requested? Please test if it still appears at gitdeveloper.

[2020-07-14 09:28] KatarzynaUlichnowska commented on #12872
Hello @MixTecnico! Did @vovpff answer your question?

[2020-07-14 09:32] KatarzynaUlichnowska commented on #12719
Unfortunately, we requested a more detailed description over 3 months ago and you haven't provided it, so I'm closing the issue.

[2020-07-14 09:32] #12719 closed, assigned to bpabiszczak

[2020-07-14 10:10] Kancelaria2019 opened #13307 "[Question] How to convert a lead into an account. No action after pressing the button"
hi there!

when I set the statsuss "for conversion", the "convert to account" button does not work.
Similar problem is at https://gitdeveloper.yetiforce.com when I try to convert lead :/

Where can the problem be?
![Yeti_bug](https://user-images.githubusercontent.com/68275748/87413716-f6a07d00-c5ca-11ea-8d42-90af1cccc4b6.jpg)

[2020-07-14 10:27] KatarzynaUlichnowska commented on #13010
Hello, thanks for submitting an issue, as far I know, you are in contact via e-mail with one of our team members and you are waiting for a quote. Therefore, I will close the issue.

[2020-07-14 10:27] #13010 closed, assigned to bpabiszczak

[2020-07-14 10:42] asktechchef commented on #13291
can @KatarzynaUlichnowska you help?

[2020-07-14 11:03] blu-IT commented on #13297
Yes, thank you!

[2020-07-14 11:03] #13297 closed, assigned to nobody

[2020-07-14 19:57] blu-IT commented on #13295
Can you post some more information please?
E.g. where is your database located? On the same host?

[2020-07-14 20:06] isahuntercsggit commented on #13295
[cid:image007.jpg@01D659F8.AD9A7270]

Best Regards,

Isa Hunter
[cid:image002.png@01D659F8.AD8563D0]
isahunter@compsolglobal.com<mailto:ihunter@us.hanusoftware.com> | compsolglobal.com<https://compsolglobal.com/> | 518-335-8860
[cid:image003.png@01D659F8.AD8563D0][cid:image004.png@01D659F8.AD8563D0][cid:image005.png@01D659F8.AD8563D0][cid:image006.jpg@01D659F8.AD8563D0]

From: Ivan De Masi <notifi

[2020-07-14 21:14] blu-IT commented on #13295
I am sorry, but no image is loaded...

[2020-07-15 01:02] MaxPegankin commented on #13306
I increased it here, it solved my problem.

/vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php

      $timeoutRequiresNoSignal = false;
        if (isset($options['timeout'])) {
            $timeoutRequiresNoSignal |= $options['timeout'] < 1;
            $conf[CURLOPT_TIMEOUT_MS] = $options['timeout'] * 100000; //1000
        }
        // CURL default value is CURL_IPRESOLVE_WHATEVER
        if

[2020-07-15 03:05] #13306 closed, assigned to nobody

[2020-07-15 07:06] #13251 closed, assigned to nobody

[2020-07-15 07:30] pietro559 opened #13308 "Sending mail from service contract detail view doesn't work properly"
When i want to send an email from service contract detail view, a pop-up window appears (without a mail filled).
If i want to choose one manually by pressing 'Lead' button, a list of leads appears in main window instead of the pop-up.
That happens if it's about any other module wich is not a 'contact module'.

![mail_error](https://user-images.githubusercontent.com/67751615/87514626-362aa000-c683-

[2020-07-15 07:41] #13253 closed, assigned to nobody

[2020-07-15 07:55] #13215 closed, assigned to nobody

[2020-07-15 09:04] asktechchef commented on #7396
what is the difference between "Message" and "Record" email template type

[2020-07-15 10:15] blu-IT opened #13310 "[Question] How to define a new ticket status (closed - internal tickets) correctly / translations"
Hello,

I missed a ticket status (closed) for the internal tickets module. So I defined a new one in the system settings, picklist -> (german: Geschlossen)..., so far everything fine at the first look.
Studying the database table "vtiger_internal_tickets_status" I saw now that a correct defined status would be "PLL_CLOSED", like the others e.g. "PLL_UNASSIGNED", but if I define it that way no tran

[2020-07-15 10:23] blu-IT commented on #13310
I should mention, that I added the ticket status "Closed / Geschlossen" to the picklist of the Internal tickets module and changed to "PLL_CLOSED" there and back.
But I did not touch the status of "normal" tickets, but the filter in the widget also does not work. For other status then closed it works:
![Screenshot_2020-07-15 Meine Startseite](https://user-images.githubusercontent.com/13665806/8753

[2020-07-15 10:56] OrphLab opened #13311 "Products not available in Sales enquiries or other sales milestones"
Hi,
I've added two products and two services to the system, all of them active, but they do not display when I'm trying to make a sales enquiries or quotes or calculations.
I can add a product and service from the Sales enquiries tab, and those will appear in the product tab, but not the other way around. Any thoughts ?

[2020-07-15 11:20] vovpff commented on #13311
Active checkbox should be checked:

![image](https://user-images.githubusercontent.com/8545791/87539273-42742480-c6a6-11ea-9201-ca2d03b7ac9c.png)

[2020-07-15 12:06] OrphLab commented on #13311
![image](https://user-images.githubusercontent.com/15363459/87543082-5d459980-c6a4-11ea-9187-668900e67297.png)
They are - both the services and the products.

[2020-07-15 12:16] OrphLab commented on #13311
![image](https://user-images.githubusercontent.com/15363459/87543877-ca0d6380-c6a5-11ea-8b69-295544c36aef.png)

[2020-07-15 12:40] IgorRSU commented on #13231
Hi,
Thanks for Your examples. I have question - in second example workflow will calculate all related records. Can I define custom value - fo example if checkbox Status is TRUE - so, it will calculate this related record, if FALSE - go to next record ?

[2020-07-15 13:14] blu-IT opened #13313 "[Question] Combine other modules (Internal tickets) with Knowledge base"
Hello,

when entering new information/articles to the Knowledge base, there are different other modules like "similar entries, documents, tickets, projects" on the right side.
I would like to add the possibility also to map to related "Internal tickets" instead only "Tickets". I could not find where to configure in the system settings.

Thanks!

[2020-07-15 13:35] krijnsent opened #13314 "[Question] Minimum setup"
### Description
I just installed Yetiforce 0.5.3 through Softaculous and feel quite overwhelmed by all the modules that are installed & activated. I'm trying to find some documentation on which modules I need for the bare minimum of what we are looking for.

Let me paint you the picture, hopefully you can point me to the right documentation/posts:

- I'd like a minimal CRM, switch off anything we

[2020-07-15 15:03] isahuntercsggit commented on #13295
The Database is located on Azure MySQL Database.

Best Regards,

Isa Hunter
[cid:image001.png@01D65A97.8DAFF990]
isahunter@compsolglobal.com<mailto:ihunter@us.hanusoftware.com> | compsolglobal.com<https://compsolglobal.com/> | 518-335-8860
[cid:image002.png@01D65A97.8DAFF990][cid:image003.png@01D65A97.8DAFF990][cid:image004.png@01D65A97.8DAFF990][cid:image005.jpg@01D65A97.8DAFF990]

From: Ivan De

[2020-07-15 15:32] mariuszkrzaczkowski commented on #13295
This is not enough, a larger description is needed

[2020-07-15 16:03] isahuntercsggit commented on #13295
![YetiforceError](https://user-images.githubusercontent.com/40643383/87568110-1ef3ae80-c693-11ea-831a-da6a06a9fc8e.png)

[2020-07-15 16:03] isahuntercsggit commented on #13295
Essentially an Azure Linux WebApp and Azure MySQL Database with SSL Enforced Turned On

[2020-07-15 18:34] vovpff commented on #13231
@IgorRSU yes

[2020-07-15 18:36] vovpff commented on #13311
Pls share configuration screenshot

[2020-07-15 20:39] blu-IT commented on #13295
Is the YF installation on the same host as the database? Hostname seems strange to me...
If it's on the same host, maybe have to set 127.0.0.1 or localhost for hostname and than also data security / ssl won't be a problem any more.

[2020-07-15 21:08] isahuntercsggit commented on #13295
Azure MySQL Database  It is not on the local host. This is a Distributed N-Tier Architecture.

[2020-07-16 05:57] vdpawel opened #13315 "[Question] [PL][ENG] Is it possible to hide the "Add Record" button in the selected module?"
Czy jest możliwość, aby ukryć przycisk "Dodaj rekord" w wybranym module?
_Is it possible to hide the "Add Record" button in the selected module?_

Chce zachować uprawnienia do tworzenia rekordu, dodawanie rekordu odbywa się tylko przez mapowanie, a nie bezpośrednio w module.
_I want to keep the record creation permissions, adding the record is done only through the mapping, not directly in the mod

[2020-07-16 06:08] vovpff commented on #13315
You need to change rights to profiles to disable ability to create records. This button will dissapear

[2020-07-16 06:44] vdpawel commented on #13315
Thanks for the answer, I can't do that because then I can't generate the record by mapping as well.

[2020-07-16 08:01] KatarzynaUlichnowska commented on #13313
Hello, you can add additional relations to modules if you go to Software configuration > Standard modules > Modules – Relations. See the screenshots below:

![Zrzut ekranu 2020-07-16 o 09 56 51](https://user-images.githubusercontent.com/10218164/87643370-165eaf00-c74b-11ea-8367-a79449b3ba4a.png)

![Zrzut ekranu 2020-07-16 o 09 57 09](https://user-images.githubusercontent.com/10218164/87643378-1959

[2020-07-16 08:01] #13313 closed, assigned to nobody

[2020-07-16 08:30] vovpff commented on #13315
@vdpawel in this case you need to change code of system to add condition of this button appearance like if module is `yourmodule` then button disabled. I think this can be done by templates modification.

[2020-07-16 08:31] blu-IT commented on #13313
@KatarzynaUlichnowska

Thanks a lot! I already saw that settings, but did not understand the functionality.

But my problem is now, that **I don't have the button to add relations**?! I am admin on that system.

![Screenshot_2020-07-16 Layout-Editor System Einstellungen](https://user-images.githubusercontent.com/13665806/87646760-617ac100-c74f-11ea-8bbc-8ee15d4cc83d.png)

[2020-07-16 08:32] blu-IT commented on #13313
I am testing on YF 5.3 SP4

[2020-07-16 08:35] blu-IT commented on #13313
Looking at **gitstable** it is the same behavior:

![Screenshot_2020-07-16 Layout Editor System settings](https://user-images.githubusercontent.com/13665806/87648440-0f866b00-c750-11ea-973d-c4da9f898597.png)

Is this a bug?

[2020-07-16 08:59] KatarzynaUlichnowska commented on #13313
No, it's not a bug. It is a stable version and therefore it is disabled by default because the operation requires knowledge. In order to enable the button, set the CHANGE_RELATIONS value to true in the configuration.

[2020-07-16 10:25] blu-IT commented on #13313
OK, thanks!

[code]

Found also this entry here: https://github.com/YetiForceCompany/YetiForceCRM/issues/7812#issuecomment-415358611

[2020-07-16 11:52] IgorRSU commented on #13231
@vovpff but how? Create a new function like getRelationQuery() in modules/Vtiger/models/RelationListView.php ?

[2020-07-16 12:16] vovpff commented on #13231
@IgorRSU by applying conditions before updating records

[2020-07-16 12:47] IgorRSU commented on #13231
@vovpff when creating workflow in system?

[2020-07-16 15:11] vovpff commented on #13231
@IgorRSU no. You need programmer for this. You need to write some custom function for workflow mechanism and put there some conditions to update only related records what you need instead all related records.

[2020-07-16 19:05] mariuszkrzaczkowski commented on #13295
This requires changes in the core (app/db.php)
Get to know the links
https://owendavies.net/articles/azure-php-mysql-ssl/
https://github.com/YetiForceCompany/yii2-framework/blob/yetiforce/db/Connection.php

[2020-07-16 19:17] mariuszkrzaczkowski commented on #13289
what are these parameters set?

![20200716_211510](https://user-images.githubusercontent.com/10198654/87712791-800da600-c7a9-11ea-9a3a-25b9e7fb6534.jpg)

[2020-07-16 20:20] rioshaz opened #13318 "Major notifications [bug]"
notifications for some modules like contacts, project tasks, and comments don't show up properly see screenshot...

$(record : RecordLabel)$
$(record : ChangesListValues)$

actually module name and record name should come like in other modules..

i have tested the bug on  https://gitstable.yetiforce.com/index.php

![bug yeti notifications](https://user-images.githubusercontent.com/54880467/8771854

[2020-07-16 20:27] rioshaz commented on #13224
@z0lo13 there u go see
![bug yeti notifications](https://user-images.githubusercontent.com/54880467/87719368-e22dd180-c7d0-11ea-9cec-3270a241d6c2.png)

[2020-07-17 09:17] #12872 closed, assigned to nobody

[2020-07-17 09:33] KatarzynaUlichnowska commented on #13314
Hello,
the [documentation](https://yetiforce.com/en/knowledge-base/documentation) for YetiForce can be found at our official website.
The system allows for multidimensional management in a company therefore it is so complex. However, the unnecessary modules can be disabled in the admin panel [here](https://gitdeveloper.yetiforce.com/index.php?module=ModuleManager&parent=Settings&view=List).
The sa

[2020-07-17 09:33] #13314 closed, assigned to nobody

[2020-07-17 11:45] kamiro16 commented on #11651
Hey, @mad99

I try to use your solution on version 5.3 SPv4 but doesnt work :(
The validate in field its ok, but when i try save document system warrning me about incorrect value.
Have you any idea for this problem?

[2020-07-17 13:43] mad99 commented on #11651
Hey @kamiro16,
This is the reason why I hesitate to update YetiForce.
I don't do that with any other tool/app, it's probably also grossly negligent, but my YF is still in the 4.x version.
The tool is ingenious, if it works. If not, you are dependent on the goodwill of one or extremely few programmers.
The documentation is just already ... not existing.

Unfortunately I was also dependent on the he

[2020-07-17 18:36] 2techcomputing commented on #13289
Here is a copy of my server configuration file, i cannot seem to find the section specified in the file.
![yetiforce_settings](https://user-images.githubusercontent.com/60716615/87819818-bc7ce880-c821-11ea-9044-7302601669f1.png)

[2020-07-17 20:55] mariuszkrzaczkowski commented on #13289
you have a lot to improve
- you have different php versions for CLI and www and they must be the same
- you have different cli and www configuration
- correct all incorrectly set configuration parameters PHP + DB
- we recommend upgrading to a stable version
- you have old crm version, therefore configuration verification report does not contain new parameters, show query result for Mysql:  SHOW VA

[2020-07-17 20:56] mariuszkrzaczkowski commented on #13289
If you don't change it, we have nothing to talk about

[2020-07-17 21:03] 2techcomputing commented on #13289
I will contact my hosting provider to get the required changes made and let you know once i hear back from them.

[2020-07-17 21:32] mariuszkrzaczkowski commented on #11965
sure that it would be useful, we will wait for someone to commission such a functionality

[2020-07-17 21:32] mariuszkrzaczkowski commented on #11965
you can always make a fundraiser for this purpose

[2020-07-17 22:35] 2techcomputing commented on #13289
I am attempting to perform the update to version 5.3.0 but i am receiving the error "Wrong version of module, module version 5.2.0 but it should be greater than 5.2.2" any idea why its not proceeding.

![failed update](https://user-images.githubusercontent.com/60716615/87835831-278ae700-c843-11ea-82eb-c78ac4c8abda.png)

[2020-07-17 23:37] bpabiszczak commented on #13289
I don't see you solving the previous problems

[2020-07-17 23:37] #13289 closed, assigned to mariuszkrzaczkowski

[2020-07-17 23:43] 2techcomputing commented on #13289
He asked me to upgrade to a new stable version which is what i was trying to do and then i received the above error message. Updating the crm was one of the recommendations from @mariuszkrzaczkowski

[2020-07-17 23:48] bpabiszczak commented on #13289
The configurations must be corrected before the upgrade. Who will now fix errors caused by updating on a misconfigured server?

[2020-07-18 17:13] isahuntercsggit commented on #13295
Thanks this is just what I was seeking. Is it possible to make it a feature like a check box use ssl and an upload CA that only takes .pem files

[2020-07-19 08:21] JEEVAN28 commented on #13214
Any update

[2020-07-20 06:04] mariuszkrzaczkowski commented on #13306
limits are easier to change here
https://github.com/YetiForceCompany/YetiForceCRM/blob/78926e8dc8b6b759368890c7b38a6afa13b16b6c/app/RequestHttp.php#L32-L33

[2020-07-20 06:20] mariuszkrzaczkowski commented on #13295
sure it is possible, everything is possible, only that will pay for it

[2020-07-20 06:20] #13295 closed, assigned to mariuszkrzaczkowski

[2020-07-20 10:05] apcloic commented on #13203
@rskrzypczak
Hi,
I've just checked email templates once again today and I don't know how but it's working now.
Afaik, the only thing I did is creating a template using another admin account but I can't guarantee if it helps or not.
Nevermind, no more issue on my side 👍
Ty

[2020-07-20 11:01] #13203 closed, assigned to nobody

[2020-07-21 06:58] vdpawel commented on #13315
Thank you, I have followed your advice.

In the file
/layouts/basic/modules/Vtiger/ListViewHeader.tpl

I put the appropriate condition into the line displaying the button:
{include file = \ App \ Layout :: getTemplatePath ('ButtonLink.tpl', $ MODULE) BUTTON_VIEW = 'listView' CLASS = 'mr-sm-1 mb-1 c-btn-block-sm-down'}

Works!

[2020-07-21 06:58] #13315 closed, assigned to nobody

[2020-07-21 12:56] slomus opened #13325 "Roundcube bag[bug]"
Witam

Problem wygląda następująco posiadam Yetiforce na wersji 5.3. na którym nie działa prawidłowo roundcube
![Przechwytywanie0](https://user-images.githubusercontent.com/67637171/88056490-ef481900-cb60-11ea-9bb9-06f7560d1f33.PNG)
Jak widac pokazują sie 2 ekrany logowania. Natomist podczas gdy zalaguje sie na swoje konto roundcube to wyskakuje bład graficzyn
![222](https://user-images.githubuser

[2020-07-21 13:24] rskrzypczak commented on #13325
Przejrzyj to zgłoszenie: https://github.com/YetiForceCompany/YetiForceCRM/issues/12783
Prawdopodobnie postawiłeś serwer na CentOS i masz błędną konfigurację :)
Wyłącz rozszerzenie **uopz** oraz ustaw:

Co powinno rozwiązać problem.

[2020-07-21 13:24] #13325 closed, assigned to rskrzypczak

[2020-07-21 13:34] vovpff commented on #13315
@vdpawel could you share your code instead original?

[2020-07-21 14:29] blu-IT opened #13326 "[bug] Calendar widget shows wrong starttime"
Hello,

I configured a litte widget to have a list of my tasks, appointments, etc. on my dashbord.
I discoverd now, that the starting time of every item is shown with 00:00, but when you mouseover the item the correct startingtime is shown.

![Screenshot_2020-07-20 Meine Startseite](https://user-images.githubusercontent.com/13665806/88067444-494fdb00-cb6f-11ea-8584-6fc923228798.png)

![MyCalendar]

[2020-07-21 15:49] vdpawel commented on #13315
**{if $MODULE != "SQuotes" && $MODULE != "SSingleOrders"}**
            {include file=\App\Layout::getTemplatePath('ButtonLink.tpl', $MODULE) BUTTON_VIEW='listView' CLASS='mr-sm-1 mb-1 c-btn-block-sm-down'}
**{/if}**

[2020-07-22 04:14] rskrzypczak commented on #13326
Yes, this is a bug.
When it comes to calendar widgets, I recommend that you use the following ones, they are specially designed for the calendar.
![image](https://user-images.githubusercontent.com/10221999/88133468-6f629300-cbe2-11ea-81f4-4ed122039aac.png)

[2020-07-22 12:44] roberto722 opened #13328 "Tax on gross value"
Hello,

there is the possibility to set a tax applied on the gross amount, instead of adding it on net amount?

[2020-07-22 17:55] gkankstech opened #13329 "[Question] Changing the order of user and employee names in the interface"
All displays of user names and employee names seem to be displayed in last name first name order. I would like to change that. It becomes very confusing in places like widgets where it takes the last initial first so if your name is Bob Krampus the abbreviation is KB instead of BK.

I'm guessing there's a simple setting to change this behavior I just did not see it.

[2020-07-22 21:07] waran70 opened #13330 "[bug] Just noticed that older brother got load of mess"
Funny is to see how those guys messing and crippling own users base.
Blazej, drop some comment there to shrink their skin

[2020-07-22 21:09] bpabiszczak commented on #13330
?

[2020-07-22 21:19] 2techcomputing commented on #11651
@kamiro16 The solution that @mad99 provided worked perfectly fine for me on version 5.x., make sure you perform edits to both of the mentioned files for it to function properly.

[2020-07-23 01:06] waran70 commented on #13330
https://code.vtiger.com/vtiger/vtigercrm/commit/cb17a1f4165ad458e0efd4ead79c37c1c296272b

[2020-07-23 03:27] vdpawel commented on #13328
As far as I know, this is not possible.
The gross amount is not calculated until you enter the net amount.

It would be nice to extend the functionality of the system with this possibility.
![obraz](https://user-images.githubusercontent.com/62466142/88249500-f1b38b80-cca4-11ea-9ae6-44076f11cc52.png)

For example, if you enter the net amount first, the gross amount is calculated, and if you enter t

[2020-07-23 04:43] rskrzypczak commented on #13329
I think that's what you are looking for.
![image](https://user-images.githubusercontent.com/10221999/88252719-84f1be80-ccaf-11ea-8bed-c2485e181113.png)

[2020-07-23 04:43] #13329 closed, assigned to rskrzypczak

[2020-07-23 07:01] utp-proj-sztuczna opened #13331 "[Question] [PL] Problemy z CRON"
Po skonfigurowaniu CRON-a działał bez problemu przez około dwie godziny z interwałami co 5 min. Aktualnie nie chce się automatycznie uruchamiać, a po ręcznym odpaleniu nie chce się zatrzymać.

![image](https://user-images.githubusercontent.com/66875302/88259536-c63f9980-ccc2-11ea-8f4f-afe3cdac72ad.png)
![image](https://user-images.githubusercontent.com/66875302/88259586-e66f5880-ccc2-11ea-82a8-ee2

[2020-07-23 07:15] mariuszkrzaczkowski commented on #13331
włącz logi i zresetuj skaner

[2020-07-23 07:20] DiReKToRje opened #13332 "[Question] Migration from VTiger 7.x to YetiForce"
We are currently using VTiger 7.2 and would like to know what is the easiest way to migrate to the latest YetiForce.
I've been looking around a bit and can't seem to find anything about migration apart from it "being easy".
Is there any tool available, if not, what is the appropriate workflow to migrate and not miss anything?

Thank you in advance!
Regards,
S

[2020-07-23 07:50] utp-proj-sztuczna commented on #13331
Reset przez Linuxa czy przez interfejs Yetiego i w jaki sposób?

[2020-07-23 07:53] mariuszkrzaczkowski commented on #13331
panel yeti

[2020-07-23 08:03] roberto722 commented on #13328
Yeah, it would be very useful, not all taxations apply on net amount

[2020-07-23 08:53] utp-proj-sztuczna commented on #13331
Chodzi o "Ręczne zatrzymanie skanowania" w Logi -> Maile - historia pobrań? Były próby takiego resetowania, ale niestety nie pomagały

[2020-07-23 10:07] matk34 opened #13333 "Missing a temporary folder"
I am trying to import my Leads, Accounts, Contacts from CSV. When I click Next button I receive "Missing a temporary folder".
In debug console in Database tab I see: Base table or view not found: 1146 Table 'yetiforcedb.u_yf_import_6' doesn't exist

Can you help me please

[2020-07-23 10:33] KatarzynaUlichnowska commented on #13332
Hello,
the migration was built into one of the old versions of YetiForce but right now it would be too time-consuming to migrate to the latest version.
If you send us an email at hello@yetiforce.com and provide information on how many modules you would like to migrate and how many records you have in each of them, we will estimate the price for preparing the migration script for you.

[2020-07-23 10:33] #13332 closed, assigned to nobody

[2020-07-23 12:51] kamiro16 commented on #11651
@2techcomputing I can write negative value in validator, but can't save.
System give information the value incorrect.
U Can save?

Can u help me?

[2020-07-23 13:21] mcjoonior commented on #11940
I have exact the same error on the cloud hosted version (5.2 SP1).  Issue reported via sla@...

[2020-07-23 13:52] utp-proj-sztuczna opened #13334 "[CRON] [ERROR] [PL] Problem z Cronem reset nie pomaga"
1. Od jakiegoś czasu nie działa mi Cron, ustawiłam wszystko według konfuguracji na poniższym filmie, oraz resetowałam w panelu crona:
https://www.youtube.com/watch?v=kTeRwM-b3Yg
2. Zgłoszenia nie dodają się automatycznie, przy dodawaniu ręcznym do zgłoszenia wyswietla się error związany z duplikacją klucza głownego zgłoszenia.
3. Przed tymi problemami był ustawiony podwójny roundCube, który napraw

[2020-07-23 19:19] enoch85 opened #13335 "ETA for 5.4?"
Simple question, when do you expect 5.4 to arrive?

I really need full PHP 7,4 support, like yesterday.

Thanks!

[2020-07-24 03:47] rskrzypczak commented on #13334
https://github.com/YetiForceCompany/YetiForceCRM/issues/12768
Być może masz dodane jakieś akcje obiegu informacji związane z aktualizacją pól.
Zobacz czy masz wgrany service pack: https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/5.3.0
oraz wgraj tę poprawkę: https://github.com/YetiForceCompany/YetiForceCRM/commit/824b04fc2cbf60b2670b67cde28c06ca2df654fb
może to rozwiąże problem.

[2020-07-24 08:43] fbojan commented on #13203
Thanks !

[2020-07-24 17:20] 2techcomputing commented on #11651
@kamiro16 I was able to make the change and then save the invoice i created. Here are the files that i edited and used.

[FieldValidator.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/4973420/FieldValidator.zip)

[2020-07-25 20:09] mansooraliph commented on #4765
Whether this is solved? any patch or plugin ?

[2020-07-25 20:28] mansooraliph commented on #7639
Hi Team,

Any update on this?

[2020-07-26 04:00] vovpff commented on #4765
@mansooraliph this will be solved in 5.4 release.

[2020-07-26 18:29] kamiro16 commented on #11651
@2techcomputing

wow! Perfect! Thanks a lot!
Can I do something for you?

best regards!

[2020-07-27 11:54] acrobatix opened #13344 "[Docker] Install roundcube on the docker"
# 🐞 bug report

### ⁉️ Describe the bug

With the Docker stable as the developp version, I can't install the module roundcube. When I click on the installation button, the page is refresh but the module isn't be installed. I tested to copy manually the lib_roundcube, it doesn't work also.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Modules - Installation
2. Download libra

[2020-07-27 14:15] Zorgebi opened #13345 "[bug] contact import"
![yeti](https://user-images.githubusercontent.com/68855047/88552208-1cdf0780-d024-11ea-8e7f-069a4e62b057.png)

### hi there, i have issue importing contacts, it keep telling me error: The imported file is in a different encoding than it was selected (ASCII)
any solutions?

[2020-07-27 15:18] vovpff commented on #13345
Use notepad to change incoding of fike what you try to import.

[2020-07-27 16:44] 2techcomputing commented on #11651
@kamiro16 Its all good, i am glad it worked out for you. :)

[2020-07-27 17:15] fliszer commented on #12288
Hi @diderich

have you solved this bug - I have the same issue.
If yes, could you share your solution?

[2020-07-27 17:25] fliszer commented on #12288
Ok, I found bug in modules/OSSMailScanner/scanneractions/CreatedEmail.php line 44
You should to comment this line or change to:
$record->set('from_email', $mail->get('from_email'));
but it will be duplicated with line 40.

[2020-07-27 19:27] flipololi opened #13346 "QNAP Instalation"
Dear

I have just downloaded the last version and I'd like to install it in a QNAP server. Is that possible?

[2020-07-28 05:00] rskrzypczak commented on #12288
https://github.com/YetiForceCompany/YetiForceCRM/commit/1c4f3774ab846bdf40e835deca95704abfe33b0b

[2020-07-28 05:29] mariuszkrzaczkowski commented on #13346
upload the installer, you will see
what version of PHP do you have?

[2020-07-28 05:42] mariuszkrzaczkowski commented on #13344
Fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/8fedca680b451b364e609605d2e290fbc67b6dc9

[2020-07-28 05:42] #13344 closed, assigned to mariuszkrzaczkowski

[2020-07-28 10:16] Zorgebi commented on #13345
i changed it to UTF-8 but it didnot work

[2020-07-28 10:37] Zorgebi commented on #13345
heyy it worked with notepad, i changed it with excel but it didnot work, thank you

[2020-07-28 12:29] mwmentor commented on #12705
Hi there:  I have a dev environment running 4.4 - I would like to upgrade it to 5.3.  I see that the upgrades are for 5.2 to 5.3.  Is there a repo that I could use to achieve this objective, or should I just start again?

Thanks.
-Michael

[2020-07-28 12:37] mariuszkrzaczkowski commented on #12705
https://github.com/YetiForceCompany/UpdatePackages
or
https://github.com/YetiForceCompany/YetiForceCRM/releases
![image](https://user-images.githubusercontent.com/10198654/88666118-e9fa4980-d0df-11ea-9a60-fde0fc9179c8.png)

[2020-07-28 12:43] mwmentor commented on #12705
Hi Marius: Thanks so much. -M 👍

[2020-07-28 15:19] vovpff commented on #13345
No problem

[2020-07-28 15:19] #13345 closed, assigned to nobody

[2020-07-29 16:33] hobejeans commented on #12056
I had the same issue for months. I changed the Language to **en-US** in the language field all my PDF templates and now they are working perfectly. I opened MySql/a_yf_pdf/ edit template then scroll down to the language field and change to en-US. Thank you

[2020-07-29 18:58] flipololi commented on #13346
I current have 7.3.7
I have copied the files in the vtigercrm7 directory into my webserver and open de page : http://192.168.1.15/YetiForceCRM/install/Install.php

The messageI can show is

192.168.1.15 no puede procesar esta solicitud en este momento.
HTTP ERROR 500

[2020-07-29 19:14] flipololi commented on #13346
I just install the last version into my windows 10 and I had the follow error:

Fatal error: Uncaught Exception: The intl library is missing in C:\Program Files\Ampps\www\YetiForce\include\RequirementsValidation.php:
15 Stack trace: #0 C:\Program Files\Ampps\www\YetiForce\install\Install.php(24):
include_once() #1 {main} thrown in C:\Program Files\Ampps\www\YetiForce\include\RequirementsValidation

[2020-07-30 04:45] rskrzypczak commented on #13346
Adjust the server configuration to the YetiForce application!
https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/enable-cron

[2020-07-30 09:24] slomus commented on #13334
Witam

Mam pytanie co do tego problemu czy te zmiany mam wprowadzić w pliku instalacyjnym czy w plikach które znajdują sie w yetim

[2020-07-30 10:11] slomus opened #13350 "Problemy z cronem"
Witam

Mam małe problemy z cronem. Niestety nie wiem skąd one wynikają.
Crona mam skonfigurowanego tak jak było napisane na stronie yetiego więc nie wiem skąd się bierze problem czy mógł by mi ktoś pomóc. Będe bardzo wdzięczny
![cron](https://user-images.githubusercontent.com/67637171/88911166-bc3b0f00-d25d-11ea-83c2-5626c06b4396.PNG)

[2020-07-30 10:19] mariuszkrzaczkowski commented on #13350
możesz doprecyzować jakie problemy ??
po załączonym zrzucie nie widać błędów wszystko jest ok,

[2020-07-30 10:19] rskrzypczak commented on #13350
Ok, tylko gdzie tu problem?

[2020-07-30 10:25] slomus commented on #13350
Witam

Chodzi o to ze cron nie wiem nawet jak by to określic ma ze soba tak to nazwijmy "problem" i nie działa systematycznie
![cron1](https://user-images.githubusercontent.com/67637171/88912618-cf4ede80-d25f-11ea-9c89-60ad2078f58b.PNG)

[2020-07-30 10:27] slomus commented on #13350
jest ustawiony i jak mówicie nie widać w nim żadnego problemu a mimo to jego działanie sie zawiesza i to dobrze widac bo wcześnij działął cyklicznie co 5 min a teraz ma jakis dziwny problem ze sobą i nie wiem dokońca skąd to wynika

[2020-07-30 10:29] mariuszkrzaczkowski commented on #13350
sprawdź logi

[2020-07-30 10:33] slomus commented on #13350
![cron2](https://user-images.githubusercontent.com/67637171/88913255-d9bda800-d260-11ea-876e-88bdadd5e56f.PNG)
nie wiem czy to bedzie dokładnie to ale chyba tak

[2020-07-30 10:38] mariuszkrzaczkowski commented on #13350
Proszę się zapoznać z opisem jak się zgłasza błędy i co jest wymagane do ich rozwiązania.
![github](https://user-images.githubusercontent.com/10198654/88913571-76804580-d261-11ea-8ac1-8d9ad62ee262.jpg)

[2020-07-30 10:38] #13350 closed, assigned to nobody

[2020-07-30 16:12] iceghostx commented on #13344
I have this same problem in Ubuntu 20.04 and YF latest version on a clean server.
To configure email, system says
"Could not find required roundcube library. Some features were disabled. Go to Modules – Installation to download."

In modules - Installation, I can click download library but it doesn't do anything. I can also download the library and "install from file". If I do that, the file does

[2020-07-31 04:18] mend-bolt-for-github[bot] opened #13351 "CVE-2020-11023 (Medium) detected in maximebf/debugbar-v1.16.3, phpoffice/phpspreadsheet-1.15.0"
## CVE-2020-11023 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Libraries - <b>maximebf/debugbar-v1.16.3</b>, <b>phpoffice/phpspreadsheet-1.15.0</b></p></summary>
<p>

<details><summary><b>maximebf/debugbar-v1.16.3</b></p></summary>

<p>Debug bar in the browser for php appl

[2020-07-31 05:58] mariuszkrzaczkowski commented on #13344
This message can be caused by many errors, e.g.
- wrong server configuration,
- communication problem with github server
- the development version requires configuration changes

roundcube cannot be installed like this
this is not an installation module,
if you have a problem, upload the zip file and at this address:  cache/upload/lib_roundcube.zip
and click in the download / install panel

It wor

[2020-07-31 11:12] Giorgos-Hellene opened #13352 "Is there anyone who uses the crm YetiForce about Hotel?"
Oh hi there !!! 😄

i would like to know if there is someone who uses the YetiForce for hotel booking

i think i can do anything except booking. Is it right ?

Thank you !

[2020-07-31 11:49] slomus commented on #13334
I jak dokładnie dograc tą poprawkę

[2020-07-31 12:32] waran70 commented on #13352
you can do anything

[2020-07-31 18:26] Giorgos-Hellene commented on #13352
Could you give me more information?

is it possible with existed modules or it requires a new ?

Sure i need hotel (perhaps hotels) and rooms of this hotel. Each room has separate facilities

[2020-08-01 00:37] waran70 commented on #13352
Look at thew Reservations module

[2020-08-03 06:53] guide5232 opened #13356 "Integrate electronic signature and Customer replay for quotation"
1. Integrate electronic signature
Can we integrate electronic signature in yetiforce CRM? if it is possible please tell us how can we do it in yetiforce CRM?.

2. Accept/Reject quotation
 I want to get a replay from customer by using accept/Reject button after we are sending the quote to customer, how can achieve this functionality in Yetiforce CRM.

[2020-08-04 00:43] gkankstech commented on #13005
I have the same thing happening. All the system setting seem to make Yeti gods happy (have a few optional things off and it flags a few things in the System headers section but nothing that triggers an actual System or Security warnings/errors.

The error seem to be in how the cron.php file is being built.

Perhaps there's a variable that needs to be set higher or something as it seems to be an in

[2020-08-04 04:13] saosangmo opened #13357 "[bug] Password is too short in Database > Password"
### ⁉️ Describe the bug

When input the password in Database zone. I can not input the password with 8 characters or less.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'Database'
2. Click on 'Password' -> 'Add new'
3. At the 'Password' field, fill: adds123
4. Press 'Save' button
=> The system warns 'Password is too short' and you will can not save the password.

###

[2020-08-04 04:58] rskrzypczak commented on #13005
This should fix the problem: https://github.com/YetiForceCompany/YetiForceCRM/commit/b14961d1e19d6b1c10a61777bc288fcd93c21b4c

[2020-08-04 06:00] mariuszkrzaczkowski commented on #13357
https://gitdeveloper.yetiforce.com/index.php?module=OSSPasswords&view=ConfigurePass&parent=Settings
![image](https://user-images.githubusercontent.com/10198654/89258448-7fd62d00-d628-11ea-93ed-5089694929b1.png)

[2020-08-04 06:00] #13357 closed, assigned to nobody

[2020-08-04 09:03] fbojan opened #13360 "Email Temlate"
What am I doing wrong so that the data is not transferred automatically to the Email? I tested on [ver. 5.3.141] https://gitdeveloper.yetiforce.com/ and on mine
YF 5.3. 4. I have already tried everything, but unfortunately the data is not filled in.
![Email Template](https://user-images.githubusercontent.com/25682437/89274881-d0a64f80-d641-11ea-9ab5-3b1752947a7c.gif)

[2020-08-04 11:35] AndreasMuench opened #13361 "Typo in german translation of FL_SALE_DATE"
#12638 🐞 bug report

### ⁉️ Describe the bug

There is a typo in the german translation of the token "FL_SALE_DATE" in the file languages/de-DE/FInvoiceProforma.json
    "FL_SALE_DATE": "Verkausdatum"  (missing f), the correct translation should be "FL_SALE_DATE": "Verkaufsdatum".

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Login in to Yetforce using 'Deutsch' as language

[2020-08-04 12:35] tekkisse opened #13362 "How to set http proxy to enable the system to access the internet [Question]"
### Description

We need to install the CRM behind a corperate firewall and ALL outbound internet traffic must go thorugh a proxy server (Squid).   Is it possible or where is it possible to set the proxy setting so that the application is aware of these and will use them to connect out to the internet.
Thanks
Simon

[2020-08-04 13:06] mariuszkrzaczkowski commented on #13362
It is possible, but for now only on the development version.
https://github.com/YetiForceCompany/YetiForceCRM/blob/c4a90897e7468964143b6ec6da69f37036758458/config/Security.php#L162-L178

[2020-08-04 13:06] #13362 closed, assigned to mariuszkrzaczkowski

[2020-08-04 13:26] Quiver92 opened #13363 "[bug] date in crone.php"
Hi!
I have a problem with cron file
![image](https://user-images.githubusercontent.com/13777007/89299015-65bb3f80-d666-11ea-9c97-3863188f0544.png)
When I run crone.php file it shows me run time an hour earlier than it is now

[2020-08-04 13:31] rskrzypczak commented on #13363
Check the time zone set in CRM
.. and this is not a bug :)

[2020-08-04 19:44] kassimg12 commented on #12198
Is this question answered? this is my question too. if anyone can help, please.

[2020-08-04 20:05] martin-crockett commented on #12198
not answered yet

[2020-08-04 20:21] pietro559 opened #13364 "[Question] Use Role condition in Workflow"
How to create a block edition workflow based on role of 'related to' field?

[2020-08-04 20:31] saosangmo commented on #12874
Hello,
I am translating Yetiforce into Vietnamese language and then I want to write a simple document for Vietnamese community.
Like this: https://saosangmo.gitbook.io/yetiforcecrmvn/

I wonder if it is legal for me to maintain a Vietnamese document?
Thank you for a great software.

[2020-08-04 20:33] nebula2 opened #13365 "[bug] Yetiforce.shop down"
# 🐞 bug report
yetiforce.shop seems to be down. When I click on the button in the settings menu the page does not load.

I checked the address on "downforeveryoneorjustme"

https://downforeveryoneorjustme.com/yetiforce.shop?proto=https

![image](https://user-images.githubusercontent.com/5841525/89341636-dfbcea00-d6a1-11ea-858e-277a33e63312.png)

### ⁉️ Describe the bug

I am running Version 5.3.0

[2020-08-04 23:25] z0lo13 commented on #13356
Hello Guide5232,

1. Integrate existing Esign provider such as Doccusign or something else, create your own front end app, or expand customer portal functions.
2. Yetiforce using RestApi, you need to send a request over the API to change the status of a quotation record, search RestApi  on repo for examples.

Both requests will need a developer, it could be rather from Yeti team or any other devel

[2020-08-05 04:54] rskrzypczak commented on #13361
Thanks, but please report translation problems to [Crowdin](https://crowdin.com/project/yetiforcecrm).
Fixed in: [crowdin.com](https://crowdin.com/translate/yetiforcecrm/all/en-de#q=FL_SALE_DATE)

[2020-08-05 04:54] #13361 closed, assigned to rskrzypczak

[2020-08-05 10:27] AndreasMuench commented on #13361
In future I will report translation problens to https://crowdin.com/project/yetiforcecrm

[2020-08-05 14:43] hobejeans opened #13367 "Code Question"
I need a few short codes for invoice...
$(translate : Other.PDF|LBL_TO_PAY)$           |       **Gross = **sum_gross**
$(custom : TableDiscountSummary)$              |       **Discount = _________________ ?**
$(custom : TableTaxSummary)$                      |      **Tax = ____________________ ?**

I use the gross short code on invoice which works... but I can not figure out what the **discount**

[2020-08-05 14:58] vovpff commented on #13367
Gross and total this is basic fields what calculated every time when you chande something in table with products/services list.
Tax and discount - the part of products/services table and can't be called directly by short code without programming...

[2020-08-05 15:52] hobejeans commented on #13367
On the invoice, I would like to show only the tax amount and discount amount. I would like to hide the table. I do not want them to be shown in the current table with the title on top. How can I show only the currency value on the invoice form?

[2020-08-05 21:39] bagolybence opened #13368 "[bug] Installation - Fatal error"
After copying the YetiForce folder to my web storage and creating MySQL database I tried to install YetiForce but I got error message:

Fatal error: Uncaught Exception: The mysqlnd library is missing in /web/tepenzed/yetiforce/include/RequirementsValidation.php:15 Stack trace: #0 /web/tepenzed/yetiforce/install/Install.php(24): include_once() #1 {main} thrown in /web/tepenzed/yetiforce/include/Req

[2020-08-06 04:36] rskrzypczak commented on #13368
The mysqlnd library is missing :)
This is not a bug. Check system requirements before reporting a bug.
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/web-server-requirements

[2020-08-06 04:36] #13368 closed, assigned to rskrzypczak

[2020-08-06 06:48] IntenseHosting commented on #4136
A web host, or web hosting service provider, is a business that provides the technologies and services needed for the website or webpage to be viewed in the Internet. Websites are hosted, or stored, on special computers called servers. ... If you do not have a domain, the hosting companies will help you purchase one.

[2020-08-06 09:12] te-deum opened #13369 "Object of class Vtiger_MappedFields_Model could not be converted to string"
Hello,

I have a problem on an installation of YetiForce. When I create an account, I can't access to the Detail view. I have an empty page an the server report this error :
_[fcgid:warn] [pid 11966] [client 192.2.2.54:11476] mod_fcgid: stderr: PHP Recoverable fatal error:  Object of class Vtiger_MappedFields_Model could not be converted to string in /home/crm/public_html/modules/Vtiger/models/Map

[2020-08-06 11:34] mrzewnicki opened #13370 "[Question] [PL]"
Witam, jak dodać więcej kont pocztowych?
Czy mam je podać gdzieś w:
![image](https://user-images.githubusercontent.com/21024857/89527349-7a741080-d7e9-11ea-8a7c-452aa0e63dbf.png)
 lub
![image](https://user-images.githubusercontent.com/21024857/89527375-84960f00-d7e9-11ea-9d71-302d39673738.png)

Prosze o podpowiedź

[2020-08-06 11:38] #13370 closed, assigned to nobody

[2020-08-06 13:41] mrzewnicki opened #13371 "[Question] [PL] Dynamiczne przełączanie między kontami pocztowymi"
Witam,

Mam pytanie odnośnie użytkowania wielu kont pocztowych jednocześnie. Mam je w dropdown liście na nagłówku strony ale żeby przechodzić między kontami (pomimo ustawienia autologowania) muszę się najpierw wylogować z jednej skrzynki w roundcubie, potem wybrać z podpowiadanych login i hasło i dopiero wejść na skrzynkę. W innym wypadku niezależnie od wybranego konta widzę tą samą zawartość skrz

[2020-08-06 16:03] Cratos84 opened #13372 "[Question] Cron Jobs on Ubuntu Server 18.04 LTS"
Hi to all,

as we are new in Yetiforce we have installed this great CRM on a Self Hosted Ubuntu Server 18.04 LTS with Apache.

Everything at the moment is working well except of the Cron Mecahnism.

We have followed this instructions here : https://yetiforce.com/en/knowledge-base/documentation/administrator-documentation/item/enable-cron

but they are not really helpfull. The Cron mechanism is not

[2020-08-06 17:29] mariuszkrzaczkowski commented on #13372
log show and check out https://github.com/YetiForceCompany/YetiForceCRM/issues?q=is%3Aissue+cron+is%3Aclosed

[2020-08-06 19:16] ghost commented on #13365
is this issue wrong here or does nobody seem to care?

[2020-08-06 19:57] mariuszkrzaczkowski commented on #13365
https://github.com/YetiForceCompany/YetiForceCRM/issues/13279#issuecomment-656033641

[2020-08-07 11:18] nebula2 commented on #13365
@mariuszkrzaczkowski thank you for pointing me in the right direction. A redirect would have been good but that's enough info for me.

[2020-08-07 11:18] #13365 closed, assigned to nobody

[2020-08-07 12:09] jacohelm opened #13373 "Adding an additional table"
Hi all

I hope someone can help me. Is there a way to add an extra DB table to YetiForce. To give a brief explenation, I basically want to add a "site" table, which can be linked to Companies and Contacts. For instance, Company A, will have SiteA, SiteB, SiteC. Each with a different contact. For the sites I would also like a multiple selectable and editable fields which must hold info such as Owne

[2020-08-07 13:10] z0lo13 commented on #13373
@jacohelm
Create a Module.
Settings->Standard Modules->Modules - Installation->Create a Module

[2020-08-07 13:12] jacohelm commented on #13373
@z0lo13 Thanks a bunch. Gonna go play around with it now.

[2020-08-10 05:44] rskrzypczak commented on #13371
Wersja CRM?

Być może jakiś z dodatków zainstalowanych w przeglądarce powoduje takie zjawisko.

[2020-08-10 05:46] #13373 closed, assigned to nobody

[2020-08-10 10:52] mrzewnicki commented on #13371
Wersja 4.4, ale faktycznie dodatek w przeglądarce był winowajcą. Dzięki!!

[2020-08-10 10:52] #13371 closed, assigned to nobody

[2020-08-10 22:14] OrphLab opened #13378 "Access failed"
Suddenly the CRM does not recognize my password.
All is matching up in the database.
User is not blocked nor is the ip

Is there anything I can see why it is being rejected?

login_id | user_name | user_ip | logout_time | login_time  1 | status | browser | userid | agent |  

| 57 | usrname| IP| NULL | 2020-08-11 00:17:28 | Failed login | Google Chrome 84 | NULL | NULL

-changing password through

[2020-08-10 22:24] #13311 closed, assigned to nobody

[2020-08-11 05:20] rskrzypczak commented on #13005
No response, so I assume the issue no longer occurs.

[2020-08-11 05:20] #13005 closed, assigned to rskrzypczak

[2020-08-11 05:27] #13258 closed, assigned to nobody

[2020-08-11 08:36] vovpff commented on #13378
check bruteforce blocking in this table:

[code]

Password should be generated and encrypted by system.

[Check this!](https://github.com/YetiForceCompany/YetiForceScripts/tree/master/PasswordReset)

[2020-08-11 09:05] OrphLab commented on #13378
my IP is not on the list in a_yf_bruteforce_blocked

the PasswordReset.php file did change the password, but the system still gives me an invalid username or password response.

[2020-08-11 09:59] vovpff commented on #13378
What about other users?

[2020-08-11 10:01] OrphLab commented on #13378
I only have that one user.

[2020-08-11 12:36] OrphLab commented on #13378
Can I provide any log, that could be useful to solve this?
Also, is there a way I can add an additional user, just to see if its the user or the system?

[2020-08-11 12:57] jacohelm opened #13381 "Error with Login"
Hi,

Hope someone can help. I eventually got YetiForce installed through softaculous, however now when I try to login with the details created during the install I get the below issue.

**Not Acceptable
An appropriate representation of the requested resource could not be found on this server.

Additionally, a 406 Not Acceptable error was encountered while trying to use an ErrorDocument to handle t

[2020-08-11 13:15] mariuszkrzaczkowski commented on #13381
show logs

[2020-08-11 13:18] jacohelm commented on #13381
The only log available in /cache/ folder is below:

**2020-08-11 09:15:02 - The imap library is missing**

But imap is selected in php Options

[2020-08-11 13:36] jacohelm commented on #13381
So I tried removing and re-installing via softaculous installer. Now there is an additional log

**
---------------  2020-08-11 09:30:05 | Start CRON  ----------
2020-08-11 09:30:05 | LBL_WORKFLOW - Start task
2020-08-11 09:30:05 | LBL_WORKFLOW - End task (0.01 s)
2020-08-11 09:30:05 | LBL_SCHEDULED_IMPORT - Start task
2020-08-11 09:30:05 | LBL_SCHEDULED_IMPORT - End task (0 s)
2020-08-11 09:30:05

[2020-08-11 14:43] jmginfor commented on #11859
What mean GRN or GDN ???

[2020-08-11 15:34] vovpff commented on #11859
@jmginfor Goods Received Note and Goods Dispatched Note

[2020-08-11 17:51] BraulioBracamonte opened #13382 "[Question] is there a way to have a table with sum without a graph?"
### Description

Hi, for simplicity pourposes: I have a custom module with 3 fields ShotNumber, Shooter and Accuracy.
I can have a widget that shows how many good, med, and bad shots did each Shooter, but it creates a graph for each Shooter or Accuracy.
![image](https://user-images.githubusercontent.com/35633915/89930425-5b51f600-dbd0-11ea-81f8-6bc3f822799b.png)
This could be ok for small sets, bu

[2020-08-12 11:42] jacohelm commented on #13381
Right, so I figured out the problem with my YF installation.

The hosting company uses a utf8_latin1 collation as default on the MySQL server. Eventually setting this to UTF8_unicode_ci server wide fixed my endless problems....

[2020-08-12 11:42] #13381 closed, assigned to nobody

[2020-08-12 11:51] mariuszkrzaczkowski commented on #13381
check carefully if your server meets all the requirements

[2020-08-12 12:39] Ola-St opened #13383 "Zaciąganie danych adresowych kontrahenta do FV przestało działać"
Pomocy!
Przestał działać guzik, który wciąga dane adresowe Kontrahenta do faktury.
Dodatkowo, jeśli uzupełniamy je ręcznie, to nie generuje się nr lokalu do PDF, nawet jeśli dodamy go w to samo pole co nr budynku, na przykład po ukośniku, nadal generuje się jedynie nr budynku.
Prawdopodobnie ktoś przez przypadek coś wyłączył podczas edycji jako administrator, a teraz nie jesteśmy w stanie odnaleźć

[2020-08-12 12:42] bpabiszczak commented on #13383
Najlepiej spytać tego który popsuł co zrobił ;)
Brak logów, brak informacji o konfiguracji... nie wiem jak mamy pomóc.

[2020-08-12 12:44] mariuszkrzaczkowski commented on #13383
![github](https://user-images.githubusercontent.com/10198654/90016463-4f3a6700-dcaa-11ea-964c-a7e2ed4bebd7.jpg)

[2020-08-12 12:50] Ola-St commented on #13383
![yetiforce_settings](https://user-images.githubusercontent.com/69586047/90016551-73964380-dcaa-11ea-8346-56469f34a417.png)
Przepraszam, kompletnie nie ogarniamy tematu. Zostaliśmy z tematem sami (laicy) i łapiemy się ostatniej deski ratunku.

[2020-08-12 12:56] mariuszkrzaczkowski commented on #13383
najpierw trzeba poprawić konfigurację serwera,
masz PHP 7.4 na WWW i 7.1 dla CLI a nie mogą być różne
masz starą wersje 4.4.0 która na pewno nie działa na PHP 7.4
zalecamy aktualizację, masz jakiś problem możesz skorzystać z naszego wsparcia
https://yetiforce.com/pl/marketplace/wsparcie-development

[2020-08-12 18:51] gsportelli73 opened #13384 "[Question] Problem wiht installation"
Oh hi there! 😄
I have problem with my yeti installation on vps and cpanel tool.
My website https://crm.example.com
point to /home/example.com/public_html.
Into this foleder i have uploaded yeti soruce latest version.
Now i have configured server request.nd the .htaccccess file with the apache directive that it requests.
CRM doesn't recognize htaccess on.
I have tried with assistance of my vps and

[2020-08-12 20:54] xqmsg commented on #4612
Is there ANY guide to program Yetiforce? I can not find ANY documentation or examples.

[2020-08-13 04:49] rskrzypczak commented on #4612
@xqmsg nothing more than that:  https://github.com/YetiForceCompany/YetiForceCRM#read-the-documentation-to-learn-more

[2020-08-13 05:36] mariuszkrzaczkowski commented on #13384
![github](https://user-images.githubusercontent.com/10198654/90098068-b8b48700-dd37-11ea-8804-c5f2d4a55669.jpg)

[2020-08-13 20:57] OrphLab commented on #13378
Alright. Thank you. I think we tested this system enough and will move on to something else.

[2020-08-13 23:09] waran70 commented on #13378
check capslock

[2020-08-14 07:00] #13378 closed, assigned to bpabiszczak

[2020-08-14 07:31] rkartal opened #13385 "[Question] Yetiforce 5.3 how to change Payment status sales invoice"
Hi, i am using 5.3 version. I am entering the payment on the bill, but the status has not been paid. how will I do

[2020-08-14 08:34] vovpff commented on #13385
Pls search for this on closed issues.

[2020-08-14 09:09] SplashMediaLabs opened #13387 "ossmail [bug]"
I have the next error

Internal Server Error
Directory "/home/tiendasa/domains/centrofr.com/public_html/clientes/public_html/modules/OSSMail" is writeable by group

suPHP 0.7.2

[2020-08-14 09:17] mariuszkrzaczkowski commented on #13387
![github](https://user-images.githubusercontent.com/10198654/90234316-c6453c00-de1f-11ea-87e4-88780fd919e1.jpg)

[2020-08-14 14:58] gsportelli73 commented on #13384
OK i have installed yeticrm 5.3 on my vps centos with cpanel.
Now i have configured all option in Apache, PHP, ecc.
My big problem it is that crm report that .htaccess it is off.
It is on for me, i don't have nothing in the logs of apache.

<------------------------------>
The screen shows yeti configuration
![Uploading ConfReport.png…](

I have actived debug mode in yeti
file error_log is located

[2020-08-14 15:01] gsportelli73 commented on #13384
Hi, the image screenshoot
![ConfReport](https://user-images.githubusercontent.com/27689602/90263140-87c77580-de4f-11ea-97a9-ffa0d7dc67d5.png)

[2020-08-14 15:33] mariuszkrzaczkowski commented on #13384
you have a lot of misconfiguration you need to correct all of them.  start with setting the same php version for Cli as www

[2020-08-16 17:39] rioshaz commented on #13385
@rkartal you need to make a "payment-in" record against that invoice and it shall update the status accordingly..

[2020-08-16 18:26] #13383 closed, assigned to bpabiszczak

[2020-08-16 18:55] #13385 closed, assigned to nobody

[2020-08-16 20:48] enoch85 commented on #13335
ping @rskrzypczak and others.

Thanks!

[2020-08-17 12:24] #13330 closed, assigned to nobody

[2020-08-18 07:26] vdpawel opened #13395 "[bug] [PL] Przy wskazywaniu zapytania ofertowego z maila widać tylko 2 kolumny (Temat, Właściciel rekordu)"
# 🐞 bug report

### ⁉️ Describe the bug

Przy wskazywaniu zapytania ofertowego z maila widać tylko 2 kolumny (Temat, Właściciel rekordu)
**Czy ten problem występował wcześniej i został rozwiązany, czy występuje tylko u mnie? :)**
W wersji developerskiej działa poprawnie.

Dziękuję za pomoc lub jakiekolwiek sugestie naprowadzające na przyczynę błędu.

### 🔥 How to trigger the error

1. Z poziomu po

[2020-08-18 08:44] bpabiszczak commented on #13395
To nie jest błąd, tylko tak jest domyślnie w pliku konfiguracyjnym w tym module.

[2020-08-18 08:55] bpabiszczak commented on #13395
Spróbuj uzupełnić tą tablicę u siebie w systemie: 	https://github.com/YetiForceCompany/YetiForceCRM/blob/b607a56719d12f4119689b9a73b00677a11a7979/modules/SQuoteEnquiries/SQuoteEnquiries.php#L36

[2020-08-18 08:55] #13395 closed, assigned to nobody

[2020-08-18 10:40] vdpawel opened #13397 "[bug] [PL] [bug] [PL] Przy wskazywaniu zapytania ofertowego z maila widać tylko 2 kolumny (Temat, Właściciel rekordu)"
# 🐞 bug report

### ⁉️ Describe the bug

W nawiązaniu do #13395, bardzo dziękuję za szybką odpowiedź, jednak problem wydaje się inny, ponieważ na przykładzie modułu zamówień wyświetlanie działa poprawnie, a:
1. Plik YetiForceCRM/modules/SQuoteEnquiries/SQuoteEnquiries.php jest taki jak w zamówieniach (SSingleOrders.php - różnią się nazwy pól)
2. W zapytaniach ofertowych widok pól referencyjnych z

[2020-08-18 11:00] rskrzypczak commented on #13397
`search_fields_name`
Wgraj to: https://github.com/YetiForceCompany/YetiForceCRM/commit/ae852816707a8a2140ee9c64cc4dd688d1c37f27

[2020-08-18 11:22] vdpawel commented on #13397
Działa - jakie to piękne!
(Już poprzednim zgłoszeniu widziałem tą modyfikacje, ale nie spodziewałem się, że ma wpływ)

**Ślicznie dziękuję za pomoc!!!!**

[2020-08-18 11:22] #13397 closed, assigned to nobody

[2020-08-18 18:48] gsportelli73 commented on #13384
Hi, now i have solved problem with php version.
I'm editing php.ini to reach same configuration to php.ini in both cases cron e apache.
I have problem too with .htaccess.
My site point to /home/domain/public-html/public_html and in this foleder i have .htaccess active.
Yryi doesn't discover it.
I'm sure that .htaccess is activated because i have tried to enter a mistake value in it.
Apache adivese

[2020-08-19 09:51] blu-IT opened #13401 "[Question] Can't select/assign Account when trying to create a Sales Order"
Hello,

I want to create Sales Orders manually (later the data will be imported from another system) and assign it to a Account (Organization **OR Contact without Organization**).
I think it is a missing understanding how _Sales Orders_ are created, because I saw now that I **can't even select Account** when creating a new _Quote_ or _Sales inquiry_.

How do I assign a Sales Order to an existing A

[2020-08-19 10:01] ceoshop opened #13402 "[Question] Edit field (related fireld 1:M) use custom modules"
Edit field (related fireld 1:M)
use  Select module --> select custom modules
how can show all modules fireld

![image](https://user-images.githubusercontent.com/69898595/90621089-dc029900-e245-11ea-88fc-4f6c1f634ddd.png)

only one fireld

![image](https://user-images.githubusercontent.com/69898595/90621201-fb012b00-e245-11ea-8e5c-f71557760197.png)

### Description

[2020-08-19 10:07] vovpff commented on #13401
@blu-IT from the box you need to select Opportunity first. Account will be hooked from Opportunity.

To fix this you need to change Field Type

![image](https://user-images.githubusercontent.com/8545791/90621473-7221c980-e21c-11ea-8b9b-d687bf629322.png)

and you need to modify https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/app_data/moduleHierarchy.php to avoid replacing Account if

[2020-08-19 10:24] vdpawel commented on #13402
Try to set the fields to be displayed in the default filter of a given module.

[2020-08-19 15:00] ceoshop commented on #13402
how to set the fields to be displayed in the default filter of a given module.

[2020-08-19 15:06] apcloic commented on #13402
@ceoshop
#7160

[2020-08-19 15:29] blu-IT opened #13403 "[Question] When responding to e-mail tickets recipient is empty and [ticket_no] in subject is [ticket_no]"
Hello,

I implemented mails to be processed by YF and incoming mails open sucessfully a new ticket.

![Screenshot_2020-08-19 Tickets Test CRM Support-System](https://user-images.githubusercontent.com/13665806/90652889-d786b200-e23e-11ea-9db4-f74a72737a80.png)

When responding to that mail, the mailprogramm **does not fill in recipient** and for the subject is inserted **[ticket_no]** **but there i

[2020-08-19 18:57] Sall2 opened #13404 "[bug] Problem z dodawaniem załączników w Roundcube"
Witam,
potrzebuję pomocy, mianowicie zmieniałem serwer i po przeniesieniu bazy, plików itp wszystko działa jak należy, oprócz tego, że nie dołącza mi załączników do maili.
Znalazłem w logach, że:
"[19-Aug-2020 20:54:18 +0200]: <3a44e1a5> PHP Error: biuro@rswsieci.pl **can't read /volume1/@tmp/rcmAttmntGFBKH4** (not in temp_dir) in /volume1/web/crm.rswsieci.pl/public_html/modules/OSSMail/roundcube/

[2020-08-20 04:32] rskrzypczak commented on #13402
and set this: https://github.com/YetiForceCompany/YetiForceCRM/commit/ae852816707a8a2140ee9c64cc4dd688d1c37f27

[2020-08-20 04:32] #13402 closed, assigned to nobody

[2020-08-20 07:29] mrzewnicki opened #13405 "[Question] [PL] Po aktualizacji do 5.3 problem z akcjami wiadomości email"
Witam,

Po pomyślnym zaktualizowaniu do wersji 5.3 mam problem z akcjami powiązania wiadomości email z modułami: email, zgłoszenia, kontakty oraz z tworzeniem tych rekordów z maili.

Po pierwsze za każdym razem muszę importować maila ręcznie:
![image](https://user-images.githubusercontent.com/21024857/90729589-1d875880-e2c7-11ea-8b9d-4e2f201bc5ea.png)

Po drugie nie wąże się on z żadnym istniejący

[2020-08-20 07:44] mrzewnicki commented on #13405
Widzę ze w bazie pole searchlabel to jest varchar(255) .. czy jest możliwość zwiększenia tego w następnych aktualizacjach? Nawet jak sobie to zmienie lokalnie załóżmy to aktualizacja pewnie i tak nadpisze te ustawienia.

2020-08-20 09:35:05.9711 [error][MailScanner] - PDOException: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'searchlabel' at row 1 in /var/www/html/

[2020-08-20 07:52] mrzewnicki commented on #13405
usunałem większość pól z konfiguracji wyszukiwania żeby narazie tworzyły się ticety, ale w ten sposób nie można wyszukiwać po treści wiadomości. Czy można jakoś zwiększyć wielkość tego pola?

Jeśli ticket jest zamknięty a dzwoni klient to warto móc go szybko wyszukać a nie zawsze pamięta on np numer zgłoszenia. Ewentualnie rozpoczyna nową korespondencję w sprawię starego zamkniętego zgłoszenia.

[2020-08-20 10:18] mrzewnicki opened #13406 "[Question] [PL] Po aktualizacji do 5.3 problem przy dodawaniu rekordu"
Witam,

We własnym module po aktualizacji do wersji 5.3 pojawia mi się komunikat na stronie:
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '367814' for key 'PRIMARY' The SQL being executed was: INSERT INTO `u_yf_crmentity_label` (`crmid`, `label`) VALUES (367814, '509891358')

Rekord ostatecznie się dodaje do systemu.

[2020-08-20 10:22] mrzewnicki commented on #13406
W bazie powtarza się wartość label ale nie crmid

[2020-08-20 10:31] vdpawel commented on #13406
#12768

[2020-08-20 10:34] mrzewnicki commented on #13406
it work, thank you !

[2020-08-20 10:34] #13406 closed, assigned to nobody

[2020-08-20 12:18] mrzewnicki opened #13407 "[Question] [Eng] Remind me please"
Hi,

May someone remind me what was responsible for permision to modules in RC? I would like to add Tickets module to list
![image](https://user-images.githubusercontent.com/21024857/90769151-0f016700-e2f0-11ea-82f5-152de23a10c7.png)

[2020-08-20 13:02] #13407 closed, assigned to nobody

[2020-08-20 15:09] ceoshop commented on #13402
Thank You All .!

[2020-08-20 15:11] gsportelli73 commented on #13384
Hi, i have an other questio.
If my .htaccess of crm it has updated with php directive, can yeti display an error on the .htaccess ?
I think that yeti doesn't knows the .htaccess when i update it with other lines.
Thank you.

[2020-08-20 18:27] blu-IT commented on #13401
@vovpff Thanks!

When I try to edit this field there is no entry for field type:

![Screenshot_2020-08-20 Layout-Editor System Einstellungen](https://user-images.githubusercontent.com/13665806/90810567-797fca80-e323-11ea-8e19-2068ef332196.png)

and what exactly do I need to change in

https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/app_data/moduleHierarchy.php ?

[2020-08-21 08:57] vovpff commented on #13401
@blu-IT

change here `/config/Developer.php` false to true

[code]

I don't remember how to modify `moduleHierarchy.php` file. Let's play with them.

[2020-08-21 10:03] blu-IT commented on #13403
I also tested also on Gitstable now:

When triying to respond to the mail that is saved as ticket (via mailscanner), then the Subject does not create automatically a **[ticket_no]** an the **recipient (customer who send the mail) remains blank**.

Mouseover on the respond button the same: **mailto:?subject=[ticket_no] Testmail 4**

[2020-08-21 12:32] vovpff commented on #13186
This is crazy. Solved by myself by changing order of fields. As default last in order 1:M field data hooked

[2020-08-21 12:32] #13186 closed, assigned to nobody

[2020-08-21 19:59] nemerald-voip opened #13411 "Question about recurring invoices"
I'm currently using Vtiger and looking to switch to your platform. I looked a the online demo and read many posts here at GitHub and I can't figure out a couple of things.
First, It looks like you modified the way way Vtiger's recurring sales orders work. In Vtiger they generate Invoices for me on a certain day of the month. In charge of this is a RecurringInvoice scheduler. I have worklow functio

[2020-08-22 16:04] hobejeans opened #13414 "Invoice Payment Status"
I have gone through all the threads that has to do with invoicing and I can not find any information that explains how to close an invoice. The payment status is greyed out and i can not update the status.
Please explain how to do this. Thank you

[2020-08-22 17:14] vdpawel commented on #13414
#13385

[2020-08-22 17:23] hobejeans commented on #13414
Thanks for responding... I created a **payments in** record for the invoice & it is still showing "Not Paid."
Am I missing something?

[2020-08-22 17:36] hobejeans commented on #13414
![Screen Shot 2020-08-22 at 1 34 25 PM](https://user-images.githubusercontent.com/45261773/90962204-5f0d3480-e47c-11ea-8e78-7d4d9970c89d.png)

The same grey areas are un-editable when a Payment-In  record is created for an invoice

[2020-08-22 18:33] ghost opened #13415 "data will lost after docker restart"
Hi everyone,

I have problem with yetiforce in docker.
after restart docker all data will lost. yetiforce doesn't have any volume mount??

[2020-08-22 18:56] vovpff commented on #13414
As I said you can search for solution.
Check this #13105

[2020-08-22 19:29] BenLangers opened #13416 "[Question] YetiForceCRM behind reverse proxy?"
Hello everyone,
I have just been amazed by the installation process and initial configuration of YetiForceCRM. Incredible experience so far (and I've seen a few over the last couple of weeks). The only thing so far I have not been able to resolve is to publish YetiForceCRM behind a reverse proxy (adding SSL). This results in "The page isn’t redirecting properly" in the browser.
I am using nginx as

[2020-08-24 05:01] #13155 closed, assigned to areksolek

[2020-08-24 17:34] rezeyle opened #13421 "[bug] Error linking the lead to the scheduled event"
See the video I attached as ZIP to demonstrate the error. Lead does not show at the scheduled event ... How can I solve this problem?
[Gravação de Tela 2020-08-24 às 12.26.53.mov.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5119334/Gravacao.de.Tela.2020-08-24.as.12.26.53.mov.zip)

[2020-08-24 17:37] rezeyle commented on #13421
![Captura de Tela 2020-08-24 às 14 35 15](https://user-images.githubusercontent.com/28544752/91077278-2fdefa80-e617-11ea-977b-0dfe39a4b093.png)
![Captura de Tela 2020-08-24 às 14 34 32](https://user-images.githubusercontent.com/28544752/91077281-31a8be00-e617-11ea-8e14-faa9145023e6.png)

Even selecting the lead, it does not save.

[2020-08-25 07:37] #13363 closed, assigned to nobody

[2020-08-25 07:53] rskrzypczak commented on #12982
https://github.com/YetiForceCompany/YetiForceCRM/issues/13203#issuecomment-647282372
https://github.com/YetiForceCompany/YetiForceCRM/issues/13203#issuecomment-648831367
Fix autologin for 5.3: https://github.com/YetiForceCompany/YetiForceCRM/commit/839097e9daafd6038e31ab0c9545cc728c443b50

[2020-08-25 07:53] #12982 closed, assigned to nobody

[2020-08-25 09:03] rskrzypczak commented on #13360
https://github.com/YetiForceCompany/YetiForceCRM/issues/12982

[2020-08-25 09:03] #13360 closed, assigned to nobody

[2020-08-25 11:35] rioshaz commented on #13318
can anyone please help.. whats wrong here ?

[2020-08-25 11:36] rioshaz commented on #13335
@rskrzypczak  any response dear ? we r waiting  maam...

[2020-08-25 12:03] #13307 closed, assigned to nobody

[2020-08-25 12:13] Kancelaria2019 opened #13424 "[bug] Naruszenie ograniczenia integralności SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry"
Podczas dodawania rekordy do bazy w zakładce kontrahenci pojawia się komunikat.
Dotychczas do importu danych był wykorzystywany moduł importowy. Po imporcie z pliku csv zaczęły pojawiać się błędy:

SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry '8554' for key 'PRIMARY' The SQL being executed was: INSERT INTO u_yf_crmentity_label (crmid, label) VALUES (8554, 'Przykładowa firm

[2020-08-25 12:16] blu-IT commented on #13403
OK, I did some further tests:

When the e-mail adress is unknown (not registered in Organization or Contact), then the **recipient remains blank**. So data from this e-mail is **NOT** read - **also the e-mail body**, what I discoverd now.
When the e-mail adress is kown by the system (registerd as Organization or Contact), then clicking the **envelope** (see screenshot), will open the installed mai

[2020-08-25 12:32] rskrzypczak commented on #13424
Proszę, korzystaj z wyszukiwarki na GitHub-ie.
Sprawdź czy błąd już nie został wcześniej zgłoszony.
https://github.com/YetiForceCompany/YetiForceCRM/issues/12768
https://github.com/YetiForceCompany/YetiForceCRM/issues/12782

[2020-08-25 12:32] #13424 closed, assigned to nobody

[2020-08-25 15:12] rezeyle opened #13426 "[bug] How to use the Roundcube"
As shown below, the system does not allow me to change the Name of IMAP server. Where can I change or insert a new name server?
![Captura de Tela 2020-08-25 às 12 10 47](https://user-images.githubusercontent.com/28544752/91192289-219ee600-e6cc-11ea-8030-bfa1f0614ae1.png)
![Captura de Tela 2020-08-25 às 12 06 22](https://user-images.githubusercontent.com/28544752/91192360-37141000-e6cc-11ea-8c5c-

[2020-08-25 15:14] rezeyle commented on #13426
https://www.youtube.com/watch?v=0JBckYE9ZuI

I can't match this video. I try but the system is not allowing it. Could you tell me how it can be solved?

[2020-08-25 17:49] Giorgos-Hellene opened #13427 "[Feature] write the manually Workflow on updates"
Oh hi there! 😄

i have a thought

When we create a workflow and trigger it with "Manual trigger by the user" it will be good if we have this action on Update module.
![image](https://user-images.githubusercontent.com/50912403/91209141-f0e29f00-e713-11ea-8da2-325fe41add12.png)

i usually create a new field named "manual actions" and when i run a manual workflow i write what happend.

if there would

[2020-08-26 06:56] rskrzypczak commented on #13291
https://github.com/YetiForceCompany/YetiForceCRM/issues/13360

[2020-08-26 06:56] #13291 closed, assigned to nobody

[2020-08-26 07:07] rskrzypczak commented on #12949
Fixed in developer version (will appear in 5.4)

[2020-08-26 07:07] #12949 closed, assigned to nobody

[2020-08-26 07:16] gsportelli73 commented on #13384
Hello again.
I.m problem too with Yetiforce and .htaccess dicovery.
I'm sure that .htaccess it is active, because i have added in file RewriteCond to change document root.
My vps doesn't use DSO apache module to handle php.
I have a warning in Yeti on disable funcion too, i have setted it in .user.ini of php configuration file in correct mode.
How do i solve ?
I a5tach screenshoot of yeti

However

[2020-08-26 08:34] iceghostx opened #13430 "Need some help to get Yetiforce configured"
### Description

I am new to CRMs and Yetiforce. I like what I can see but I need some help to make sure system is setup properly.

I am sure there must be expert YetiForce techs out there - I need to find someone to assist us with final tweaking and config of the system in Ubuntu. The CRM is for 4 users only - so a small install. How do I find someone to help pleasE?

Ubuntu, with full console ac

[2020-08-26 09:32] areksolek commented on #12528
The information flow is working properly.
After testing according to the posted video, the field has been modified.
Please remember that each information flow is triggered by cron - by default, cron starts every 15 minutes. The information flow schedule will send the information to cron after the set time, but it will be modified later.

[2020-08-26 09:32] #12528 closed

[2020-08-26 11:19] areksolek commented on #12722
No bug was found after testing on the current version.

[2020-08-26 12:06] #12722 closed, assigned to nobody

[2020-08-26 13:25] nemerald-voip commented on #13411
Does anyone know?

[2020-08-26 13:58] mrzewnicki opened #13431 "[Question] [PL] Błąd 'syntax error, unexpected '0777' (T_LNUMBER)'"
Witam,

Co mogę zrobić z takim błędem?
PHP Parse error:  syntax error, unexpected '0777' (T_LNUMBER) in /var/www/html/my_path/app_data/cron.php on line 44

![image](https://user-images.githubusercontent.com/21024857/91312677-ca287500-e7b4-11ea-9963-3b5ec06c6ce8.png)

Pokazuje się on kiedy próbuję przejść do Panelu Admina

[2020-08-26 14:34] blu-IT commented on #13401
OK, changed first part now and "Field type" to always visible and now I am able to set Account/Organization.

Sorry, I did not understand what the changes in `moduleHierarchy.php` file are for?

[2020-08-27 01:54] bpabiszczak commented on #13335
soon

[2020-08-27 01:54] #13335 closed, assigned to bpabiszczak

[2020-08-27 01:57] bpabiszczak commented on #13430
It is cheaper to take web hosting: https://yetiforce.com/en/marketplace/hosting-en
But you can also hire experts: https://yetiforce.com/en/marketplace/development-support

[2020-08-27 01:57] #13430 closed, assigned to bpabiszczak

[2020-08-27 02:02] bpabiszczak commented on #13405
Nie bardzo wiem jak pomóc... bo poruszasz kilka problemów.

1. Bez logów i testów na naszych środowiskach ciężko jest pomóc. Wygląda jakby nie był prawidłowo skonfigurowany skaner poczty [brak akcji tworzenia maila dla przykładu] lub brakuje czegoś w konfiguracji.
2. Możesz wszystko zwiększyć, to open source. Tylko trzeba wiedzieć jak :) Można też wysłać do nas PR o ile jest OK.
3. Ja bym do pola

[2020-08-27 02:02] #13405 closed, assigned to bpabiszczak

[2020-08-27 02:07] bpabiszczak commented on #13426
This is not a picklist field, you can write whatever you want.

![image](https://user-images.githubusercontent.com/10197525/91375382-c7606b00-e81a-11ea-96ef-fd565f192f73.png)

[2020-08-27 02:07] #13426 closed, assigned to bpabiszczak

[2020-08-27 02:12] bpabiszczak commented on #13331
Sam reset nie rozwiąże problemu, bo skoro na czymś się "zwiesił" to ponownie się "zwiesi", należy znaleźć przyczynę i problem rozwiązać. A do tego potrzeba programistę. Z tego co widzę, to cron przestał działać automatycznie i zacząłeś go puszczać ręcznie... a do tego uruchomiony został na użytkowniku admin_test a niestety nic oni nie wiemy [nawet to czy ma wszystkie uprawnienia].

Brak logów, wię

[2020-08-27 02:13] #13331 closed, assigned to bpabiszczak

[2020-08-27 02:17] bpabiszczak commented on #11228
![image](https://user-images.githubusercontent.com/10197525/91375914-2ecaea80-e81c-11ea-9502-c79f0ca3b8c0.png)

[2020-08-27 02:18] bpabiszczak commented on #11228
An e-mail notification can be added, but it requires a programmer [2-4h]

[2020-08-27 02:18] #11228 closed

[2020-08-27 02:22] bpabiszczak commented on #13255
Nie rozumiem w jakim celu. Aktualnie odpisując na zgłoszenie [używając opcji odpowiedz lub nowa wiadomość email] system automatycznie do tematu dodaje numer zgłoszenia. To co chcesz może dopisać programista [~1h].

[2020-08-27 02:22] #13255 closed, assigned to bpabiszczak

[2020-08-27 02:23] #13252 closed, assigned to bpabiszczak

[2020-08-27 02:26] #13372 closed, assigned to bpabiszczak

[2020-08-27 02:26] #13346 closed, assigned to bpabiszczak

[2020-08-27 02:29] bpabiszczak commented on #13411
1. You will not generate invoices automatically, because there is no such action in CRON.
2. The customer portal does not have a stable version.

[2020-08-27 02:29] #13411 closed, assigned to bpabiszczak

[2020-08-27 02:36] bpabiszczak commented on #13308
1. I don't understand the problem, show me the video.
2. Also check the gitstable and gitdeveloper versions.

[2020-08-27 02:37] bpabiszczak commented on #13416
Please check this: https://github.com/YetiForceCompany/YetiForceCRM/issues/13362

[2020-08-27 02:37] #13416 closed, assigned to bpabiszczak

[2020-08-27 02:41] bpabiszczak commented on #13404
Musi to sprawdzić programista.
System składa się z plików i bazy, są rzeczy przechowywane w plikach [załączniki maili i dokumentów, cache uprawnień itd.], a więc obie rzeczy należy skopiować.

[2020-08-27 02:41] #13404 closed, assigned to bpabiszczak

[2020-08-27 02:44] bpabiszczak commented on #13273
Why do you want to install YetiForce on macOS [we don't recommend macOS]? We recommend linux or find a good hosting.

- Hosting: https://yetiforce.com/en/marketplace/hosting-en
- Cloud VPS: https://yetiforce.com/en/marketplace/cloud