[2020-11-10 10:29] mariuszkrzaczkowski commented on #13768
You have not provided the required information, without it we cannot help

[2020-11-10 10:30] #13769 closed, assigned to bpabiszczak

[2020-11-10 11:07] #13766 closed, assigned to nobody

[2020-11-10 11:59] scetin47 commented on #13768
He wrote the information above. What other information should I write?

[2020-11-10 12:00] scetin47 commented on #13768
I wrote the information above. What other information should I write?

[2020-11-10 12:01] mariuszkrzaczkowski commented on #13768
![github](https://user-images.githubusercontent.com/10198654/98671649-def8bb80-2354-11eb-8927-86197b13d31c.jpg)

[2020-11-10 23:35] JohnMaverick commented on #13769
Then the warehouse manager has no idea how many items have been sold, and need to do manual inventory at the end of each day?
OK.

[2020-11-10 23:48] bpabiszczak commented on #13769
You got the order wrong.

1. First, the warehouseman checks whether he has the goods in stock.
2. If he assembles an item, he creates an issue document from [Goods Issued Note].
3. Then an accounting document is created on the basis of Goods Issued Note [this can be done automatically].

[2020-11-11 01:03] JohnMaverick commented on #13769
Seems it won't work out of the box.  It would be very clever if invoice sourcing products not from the Products List but from available storages, so keeping eye on stock will get sophisticated. It looks for me like setting current relation logic has been done on the basis of traditional paperwork. Sure all can be done with the use of workflows/coding but the digital environment giving more opportu

[2020-11-11 02:03] waran70 commented on #13769
Stock update on the basis of "Accepted" invoices looks for me like nice tie. Extending Accounts with Sold Products would create good reporting base

[2020-11-11 14:19] butuemi opened #13781 "[bug] CSRF-Magic issue after YF5.2=>YF5.3 upgrade"
Hello,

I upgraded YF 5.2 to 5.3 (ServicePackV4 + SecurityFix) and I encountered an issue when navigating in records detail view.

1. Go to any record Detail View
2. Click on a related module tab
3. Refresh the page
4. Try to click on another related modue tab
5. See error

### 👎 Actual Behavior
Invalid request - Response For Illegal Access (csrf magic related)

### 👍 Expected Behavior
Being able

[2020-11-11 16:43] LaurensCleyman commented on #13258
Hi @deanathpc ,

I had exactly the same problem. I renamed the labels in the picklist settings and it worked.

Very strange... I have version 5.3.0

Thank you for sharing your solution!

Kind regards,

Laurens

[2020-11-11 19:24] #13781 closed, assigned to nobody

[2020-11-11 19:34] butuemi commented on #13781
After lot of debugging managed to solve it for now. Nested buffers when request has related module (when refreshing on detail view from a related module tab for example). The Csrf::obHandler($buffer) function's logic failed and the csrf js script (that injects csrf in payloads) was not injected into the html.

Please, just let me know if this is an issue on my end or if you can reproduce this on 5

[2020-11-11 19:37] rskrzypczak commented on #13781
Fix: https://github.com/YetiForceCompany/YetiForceCRM/commit/9eae679fbb1dbf40e1d2cf4d39de82d1fd122f2d

[2020-11-11 19:47] butuemi commented on #13781
Wow, great, thanks! I had a really nasty fix, this one is better. Cheers!

[2020-11-12 07:56] mend-bolt-for-github[bot] opened #13782 "CVE-2020-7746 (High) detected in chart.js-2.9.3.tgz"
## CVE-2020-7746 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>chart.js-2.9.3.tgz</b></p></summary>

<p>Simple HTML5 charts using the canvas element.</p>
<p>Library home page: <a href="https://registry.npmjs.org/chart.js/-/chart.js-2.9.3.tgz">https://registry.npm

[2020-11-12 08:28] mend-bolt-for-github[bot] opened #13783 "CVE-2020-13625 (High) detected in phpmailer/phpmailer-v6.1.5"
## CVE-2020-13625 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>phpmailer/phpmailer-v6.1.5</b></p></summary>

<p>PHPMailer is a full-featured email creation and transfer class for PHP</p>
<p>Library home page: <a href="https://api.github.com/repos/PHPMailer/PHPMa

[2020-11-13 23:46] gus3008 commented on #12280
It seems not to be working. I am using the docker image

"Fri Nov 13 22:07:02 UTC 2020"
Commit: b465ef2
YetiForce 5.3.356

I have a contract created with 10 hours.
I have read the suggestions in this article and I confirm the cron is running, relationships of the ticket between the contract and the time control. Total time in contract is updated, but progress and units used are not calculated.

![

[2020-11-15 04:04] gus3008 opened #13787 "Calculated progress and used units on contracts seems not to be working."
It seems not to be working. I am using the docker image

"Fri Nov 13 22:07:02 UTC 2020"
Commit: b465ef2
YetiForce 5.3.356

I have a contract created with 10 hours.
I have read the suggestions in this article and I confirm the cron is running, relationships of the ticket between the contract and the time control. Total time in contract is updated, but progress and units used are not calculated.

![

[2020-11-15 10:40] LaurensCleyman opened #13788 "[bug] Field order of 'Quick Create' is not saved properly"
# 🐞 bug report

### ⁉️ Describe the bug

The field order of the 'Quick Create' fields is not always saved properly.

### 🔥 How to trigger the error

1 - Go to 'Fields - Quick Create'
2 - Change the order a few times and save
3- Result is not always saved correctly

### 👷 Testing

This is the field order that I saved at gitstable.yetiforce.com
![image](https://user-images.githubusercontent.com/1601

[2020-11-15 12:27] mariuszkrzaczkowski commented on #13788
check on gitdeveloper

![github](https://user-images.githubusercontent.com/10198654/99184856-4bedc600-2746-11eb-9f64-fb5ba5adb7cc.jpg)

[2020-11-15 12:28] mariuszkrzaczkowski commented on #13787
check on gitdeveloper

[2020-11-16 06:32] mariuszkrzaczkowski commented on #12280
Check if the error exists in the gitdeveloper version

[2020-11-16 08:23] LaurensCleyman commented on #13788
Issue is not on gitdeveloper. I had to check first, sorry.. :-)

This topic can be closed.

[2020-11-16 08:27] #13788 closed, assigned to bpabiszczak

[2020-11-16 08:59] Szilard1999 opened #13789 "Why I can't sign in to my e-mail account on YetiForce ?"
### Description
I have done with the email configuration, and when I want to first sign in with oss module, it is just loading and loading and do nothing. Please help.

[2020-11-16 09:01] mariuszkrzaczkowski commented on #13789
![github](https://user-images.githubusercontent.com/10198654/99232814-afcdc880-27f2-11eb-9774-15ead3682c64.jpg)

[2020-11-16 23:34] waran70 commented on #12280
Marius, as such is a large blocker for individual devs who take care of data consistency and seriousness of client installation.
I would suggest you guys support a stable version of YF by providing quick fixings on GIT and copy it to dev versions (plus all enhancements). Leaving stable alone and kicking guys to YF-dev-ver is not solving individual problems but creating atmosphere of instability an

[2020-11-17 01:20] gus3008 commented on #13787
It doesn't work in gitdeveloper either. I created a contract with number U51, with tracking units in hours. I associated a ticket with number H51, with a time control of 1 hour. The "progress" and "units used" fields were not calculated.

[2020-11-17 09:56] davide-alghi commented on #13789
Hi @Szilard1999,
it seems you missed the secure protocol in "Name of IMAP server": the format is
[code]

![Schermata da 2020-11-17 10-44-37](https://user-images.githubusercontent.com/48508691/99374386-d0fdea00-28c2-11eb-8471-1a2bd867f789.png)

if you omit the secure protocol, RoundCube try to connect until default_socket_timeout value in you php.ini
then it stops and often it doesn't show any mess

[2020-11-17 21:14] samuelsituma opened #13795 "Products module display No records but the records exist"
Am having a problem with the product module from my home page when i click on the products module i get the list of products as shown.
![Capturhahjae](https://user-images.githubusercontent.com/46498594/99451433-40132700-2933-11eb-907c-0f36c6ba8813.JPG)

But when i select the product from another module i get a table with no records  as shown
![Captujjjjre](https://user-images.githubusercontent.com

[2020-11-18 06:19] davide-alghi commented on #13795
Hi @samuelsituma,
without data it's hard (impossible) to help you.
________________
**YF Logs - How To**

1. disable (temporarily) the chat module, in Standard modules / Modules – Installation
2. set (temporarily) CRON execution to 5 minutes or more
3. in config/Debug.php set
   - $LOG_TO_FILE = true;
   - $LOG_LEVELS = false;
4. reset contents for the files:
   - cache/logs/system.log
   - php_er

[2020-11-18 06:30] #13783 closed, assigned to nobody

[2020-11-18 06:31] #13782 closed, assigned to nobody

[2020-11-18 06:37] #13759 closed, assigned to nobody

[2020-11-18 06:40] #13760 closed, assigned to nobody

[2020-11-18 06:42] #13761 closed, assigned to nobody

[2020-11-18 06:43] #13762 closed, assigned to nobody

[2020-11-18 06:43] #13763 closed, assigned to nobody

[2020-11-18 06:44] #13764 closed, assigned to nobody

[2020-11-18 06:47] #13648 closed, assigned to nobody

[2020-11-18 06:54] #13351 closed, assigned to nobody

[2020-11-18 18:36] #13789 closed, assigned to bpabiszczak

[2020-11-19 09:34] #13765 closed, assigned to nobody

[2020-11-19 09:38] mandrzej57 opened #13796 "[Pytanie] Inspektor uprawnień"
Gdzie znajdę narzędzie "Inspektor uprawnień"? Nie jestem w stanie dostrzec.

Chyba, że to nie element interfejsu i źle rozumiem opis "Mechanizm inspektora uprawnień (...) prezentuje również uprawnienia do przeglądania, edycji, tworzenia i usuwania co oznacza, że można w szybki sposób sprawdzić z poziomu użytkownika jakie uprawnienia ma przydzielone"

[2020-11-19 09:43] mariuszkrzaczkowski commented on #13796
![image](https://user-images.githubusercontent.com/10198654/99649067-0be35780-2a54-11eb-91d1-cce51ca9f4d8.png)
![image](https://user-images.githubusercontent.com/10198654/99649084-10a80b80-2a54-11eb-8dc0-e7315928def3.png)

[2020-11-19 09:43] #13796 closed, assigned to mariuszkrzaczkowski

[2020-11-19 16:35] harshdoshihd opened #13799 "Cant See List of Employees while searching Employee in Member of field"
Hi Team,

I have created list of few users in the employee module, I can see them in list view, I can even export the complete list in csv, excel format, But when I try to tag an employee to his senior from member of field, I cant see any employee in the search result, same thing happens in opportunity module where I have created an employee reference field using 1:M field to tag employee, there t

[2020-11-19 17:41] blu-IT opened #13801 "[bug] Can't download documents any more"
# 🐞 bug report

### ⁉️ Describe the bug

Hello,

I uploaded some documents as a single document (via Databases -> Documents) or connected to a support ticket or to account.
Everything went fine. These documents are still available in YF CRM and when browsing the document list and pointing with the cursor to document **I get a link shown** like this:

**https://mycrm/file.php?module=Documents&actio

[2020-11-19 18:39] mariuszkrzaczkowski commented on #13801
![github](https://user-images.githubusercontent.com/10198654/99709072-fba49a00-2a9e-11eb-8130-20657fd64743.jpg)

[2020-11-19 19:14] crawe1 opened #13802 "[Question] new inventory sum_"
Hello,

I have a question,
I create a new column for inventory with a weight.
on my inventory table new columnname is weighttotal.
I tried to grep code by the phrase "sum_total" "sum_gross" in the code but I don't know how they are created? How can I get into the new variable sum_weighttotal?

![image](https://user-images.githubusercontent.com/61950059/99712681-b3d44180-2aa3-11eb-883e-2b65d02c22cd

[2020-11-19 19:30] vovpff commented on #13802
For sum total weight there is 3 ways:
* you need to add new invintory field type (difficulty: hard)
* updating this column by handler (difficulty: normal)
* using third party pluging (difficulty: easy but need to charge some money for plugin)

[2020-11-20 07:12] Kayrocket commented on #12029
I have successfully installed yetiforce on my ubuntu 16.04 server but I am not able to reach the yetiforce interface when I key in the domain name I used or the ip address. The ip address only bring up the apache server. What do I do to get the interface of the yetiforce?

[2020-11-20 07:32] davide-alghi commented on #12029
Hi @Kayrocket,
look in config/Main.php file: in $site_URL you have the correct url.
if it doesn't work something is wrong in your server configuration or installation.

[2020-11-20 08:02] blu-IT commented on #13801
Hello,

due to the fact, that I could not reproduce the error on gitstable and gitdeveloper and also found some messages in the apache2 log I will close this issue and open a "normal" ticket here #13804

Thanks!

[2020-11-20 08:02] #13801 closed, assigned to nobody

[2020-11-20 08:11] blu-IT opened #13804 "Can't download new documents any more"
Hello,

I uploaded some documents as a single document (via Databases -> Documents) or connected to a support ticket or to account.
Everything went fine. These documents are still available in YF CRM and when browsing the document list and pointing with the cursor to document **I get a link shown** like this:

**https://mycrm/file.php?module=Documents&action=DownloadFile&record=1373&fileid=1374**

[2020-11-20 08:23] mariuszkrzaczkowski commented on #13804
show confreport report

[2020-11-20 08:25] blu-IT commented on #13804
OK, looking at the rights on the file system something is weired.

Under the path /var/www/yetiforce/storage/Documents/2020/ there are months with access rights www-data and some with root. After a crash of the system in october, this seems to impact the access rights of the file system:

![Screen 1](https://user-images.githubusercontent.com/13665806/99777189-3d225d00-2b12-11eb-949c-97116cce05af.p

[2020-11-20 08:29] blu-IT commented on #13804
WOW - OK, after granting/changing permissions to www-data to the folders, everything works fine again!

So, sorry for the huzzle - if someone expierences a similar problem - take a look here ;-)

[2020-11-20 08:29] #13804 closed, assigned to nobody

[2020-11-20 09:14] Kayrocket commented on #12029
Hello @davide-alghi,
Thank you for the response

[2020-11-20 10:22] mrzewnicki opened #13805 "[Question] Ticket reference contractor"
Hi,

How can I enable creating automaticlly references beween contractor and ticket? Using what system searching contractor for ticket?

I just added actions in Mailer-Scanner actions but it won't work same as creating references with contact.

[2020-11-21 00:03] waran70 opened #13807 "[Question] Navigation in summary / detail view"
Does no one feel that navigation buttons/shortcuts is extremely essential while editing larger set of data?
Current state make CRM impossible to use with various call centers or other lead generation dudes.
What behind removal of this little useful thing?

[2020-11-23 11:25] blu-IT opened #13812 "[Question] Difference between "Encryption" and "Password Encryption" in System Settings"
### Description

Hello,

I am wondering about the difference between the **"Encryption"** and **"Password Encryption"** in System Settings.

![Screenshot_2020-11-22 Passwords Configuration System settings](https://user-images.githubusercontent.com/13665806/99956759-d5287c80-2d86-11eb-884b-b25dcf34df8a.png)

![Screenshot_2020-11-22 Password Setup System settings](https://user-images.githubuserconte

[2020-11-23 11:29] crawe1 commented on #13802
how u see 1-2 steps its made on right side colum in table,  but where can i find sum_total or sum_gross function ? i want to do same on example this function.

[2020-11-23 13:13] vovpff commented on #13802
@crawe1 this can be done by handler.
Or try to grep for them

[2020-11-24 05:52] davide-alghi commented on #13812
Hi @blu-IT,
both encrypt passwords.

```Security / Passwords - Encryption``` encrypts the field ```password``` in ```Virtual desk / Passwords``` module.

```Security / Encryption``` encrypts following tables fields:
 - roundcube_users.password
 - s_yf_mail_smtp.password
 - a_yf_smsnotifier_servers.api_key
 - u_yf_github.token
 - w_yf_portal_user.password_t
 - w_yf_servers.pass
 - w_yf_servers.api_

[2020-11-24 06:25] rskrzypczak commented on #13802
https://github.com/YetiForceCompany/YetiForceCRM/blob/fae267e50b6efdeea9611641319267fadfd5f545/modules/Vtiger/models/Record.php#L1263-L1270

[2020-11-24 07:02] #13812 closed, assigned to bpabiszczak

[2020-11-24 07:47] blu-IT commented on #13812
@davide-alghi

Thanks!

What about the tables "vtiger_account" or "vtiger_contactdetails"? Are there any plans to encrypt sensitive customer data in the future?

[2020-11-24 08:17] davide-alghi commented on #13812
Ivan, are you speaking about EU GDPR compliance?
Sorry but I cannot reply you. I don't know.

[2020-11-24 08:20] blu-IT commented on #13812
Yes, also about EU GDPR compliance - but first of all about enhanced data(base) security. ;-)

Grazie lo stesso, tanti saluti!

[2020-11-24 08:34] crawe1 commented on #13802
thank you so much !

[2020-11-24 08:34] #13802 closed, assigned to nobody

[2020-11-24 13:33] diderich opened #13822 "[Question] Updating from 5.3.0 to 6.0.0 fails"
### Description

I tried to update my version from 5.3.0 to 6.0.0.

![update](https://user-images.githubusercontent.com/10230144/100100518-3cb2fa80-2e61-11eb-881a-4009e0697738.png)

When trying to download, e.g. pressing the blue download button, I get the following error message:

![error](https://user-images.githubusercontent.com/10230144/100100923-d4b0e400-2e61-11eb-9b64-fbc337a2b238.png)

The

[2020-11-24 13:59] diderich opened #13823 "[bug] Update from version 5.3.0 to 6.0.0 fails"
# 🐞 bug report

### ⁉️ Describe the bug

I want to update my installation from 5.3.0 to 6.0.0. I navigate to the update tab.

I then get the following screen:

![100100518-3cb2fa80-2e61-11eb-881a-4009e0697738](https://user-images.githubusercontent.com/10230144/100102931-8e10b900-2e64-11eb-8337-e254109d8d14.png)

When I click on 'Download package', I get the following error:

![100100923-d4b0e400-2

[2020-11-24 13:59] #13822 closed, assigned to nobody

[2020-11-24 14:02] bpabiszczak commented on #13822
?

[2020-11-24 14:03] mariuszkrzaczkowski commented on #13823
Download the package and install it manually, in this version this error sometimes occurred

[2020-11-24 14:16] caothuyen opened #13824 "[bug] Menu setting not open then submenu actived"
# 🐞 bug report

### ⁉️ Describe the bug
I update from 5.3.0 to 6.0.0 and setting menu not open then submenu actived.
![yeti1](https://user-images.githubusercontent.com/71112157/100300689-2162ff00-2fc9-11eb-9120-62f76c257b1e.png)
![yeti2](https://user-images.githubusercontent.com/71112157/100300696-245def80-2fc9-11eb-8287-51f8f9ce4ee1.png)

help me!

| Environment                         | Version

[2020-11-24 14:34] diderich commented on #13823
Could you point me to which files to download and where to store them (directory)?

[2020-11-24 15:22] apcloic commented on #13823
@diderich
https://github.com/YetiForceCompany/YetiForceCRM/releases/download/6.0.0a/5.3.0_to_6.0.0_v2.zip

@mariuszkrzaczkowski
I've just give a try and install 6.0.0v2 manually and there is a few errors.
[code]

Regards

[2020-11-24 16:30] apcloic commented on #13731
Hi,
I've just install YF 6.0 and discover this strange **thing** 👎
Frankly, I don't understand why you did this.

An account is definitely not a physical person, it's a corporation.
There is already a module for physical person, this is contact module.

Totally agree with @davide-alghi, if someone need a firstname field in Account module, he can simply create a custom field.

Plz, revert back to o

[2020-11-24 16:39] apcloic commented on #13731
Yes, imo you should revert back because there is no good reason to do this.
An account is a corporation, this is definitely not a physical person, even if there is only one person.
Give accounts a first name if you will but this should be done with custom field, not by design.

[2020-11-24 16:41] Giorgos-Hellene commented on #13799
Are employees enabled ?

[2020-11-24 16:53] konadrian commented on #13799
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/modules/OSSEmployees/models/Module.php#L21
If you employee has status "Employee" than you can see him in this view. You can modified the code or change the status

[2020-11-24 16:53] #13799 closed, assigned to konadrian

[2020-11-24 16:59] konadrian commented on #13536
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/config/mimetypes.php

Możesz sprawdzić czy w tutaj znajduje się odpowiedni wpis

[2020-11-24 17:43] diderich commented on #13822
I opened it as a bug using the recommended form!

[2020-11-24 21:23] waran70 opened #13825 "[Question] v6 list of changes"
Is out there a list of new and dropped things in version 6?

Cheers

[2020-11-24 21:37] mariuszkrzaczkowski commented on #13825
https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/yetiforce-6-0-en

[2020-11-24 21:43] waran70 opened #13826 "[Feature] Edit record OnSave action"
After editing a record I would expect that hitting the save button will bring me back to the previously defined screen (ex. Record Preview List), but instead of that, it goes to the record detail view. That makes unnecessary clicks.
What do you think?

[2020-11-24 21:44] waran70 opened #13827 "[Question] VIES button"
No clue why VIES button shows while Save | Cancel action. Maybe better in-field bttn?

[2020-11-24 21:45] waran70 commented on #13825
Tnx

[2020-11-24 21:45] #13825 closed, assigned to nobody

[2020-11-25 06:19] mariuszkrzaczkowski commented on #13823
@apcloic
Turn off DebugBar

[2020-11-25 06:34] mariuszkrzaczkowski commented on #13827
show an example

[2020-11-25 07:41] waran70 commented on #13827
![image](https://user-images.githubusercontent.com/6852348/100197027-52d9bd00-2f2c-11eb-9747-00ce485b956b.png)

Accounts module

[2020-11-25 07:45] mariuszkrzaczkowski commented on #13827
I meant an example of where you want to put it

[2020-11-25 07:50] waran70 commented on #13827
![image](https://user-images.githubusercontent.com/6852348/100197864-8ec15200-2f2d-11eb-807e-97539ea4ee51.png)

[2020-11-25 09:10] diderich commented on #13823
I applied the update. (The version reference 5.4.0 is somewhat confusing).

![update-info](https://user-images.githubusercontent.com/10230144/100205577-9836c400-2f05-11eb-910d-dafd97597de9.png)

No error messages. One minor warning in updateLogsTrace.log

![update-warning](https://user-images.githubusercontent.com/10230144/100205601-9ff66880-2f05-11eb-86f1-729f2fe23022.png)

Some messages in the w

[2020-11-25 10:14] apcloic commented on #13823
@mariuszkrzaczkowski
Unfortunately, YF won't let me apply again the same update.
However, the system is now in version 6.0 and everything is working well, no errors in console so I hope these are minor issues.
Thanks for your help.
Regards

[2020-11-25 11:30] Andr198 commented on #13823
I also have after manual update
[ERROR] SQLSTATE[HY000]: General error: 3780 Referencing column 'attachmentsid' and referenced column 'crmid' in foreign key constraint 'fk_1_vtiger_attachments' are incompatible.
The SQL being executed was: ALTER TABLE `vtiger_attachments` CHANGE `attachmentsid` `attachmentsid` INT(10) UNSIGNED NOT NULL AUTO_INCREMENT;|#0 /var/www/html/YetiForce6/vendor/yetiforce/y

[2020-11-25 11:35] Andr198 commented on #13823
PHP  7.3.24
Database (name and version) MySQL 8.0.22

[2020-11-25 13:39] Badbagaj opened #13828 "[Security] Vulnerability in libraries"
Hi,

This is the problem found by system on YetiForce installation

https://packetstormsecurity.com/files/cve/CVE-2020-13756
https://packetstormsecurity.com/files/157923/Sabberworm-PHP-CSS-Code-Injection.html

<img width="1165" alt="Schermata 2020-11-25 alle 14 20 55" src="https://user-images.githubusercontent.com/75025897/100234525-81a36380-2f2b-11eb-97bc-6718255a6c23.png">

Can you help me?

Thx

[2020-11-25 14:06] mariuszkrzaczkowski commented on #13828
https://github.com/YetiForceCompany/YetiForceCRM/issues/13503
https://github.com/YetiForceCompany/YetiForceCRM/issues/13608

[2020-11-25 14:06] #13828 closed, assigned to mariuszkrzaczkowski

[2020-11-25 14:22] Badbagaj opened #13829 "[bug] Upgrade to YetiForce CRM 6.0.0 v2 - don't work"
This is the alert

Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /*****/*****/*****l/yeti/modules/Settings/Updates/views/Index.php on line 18

Any suggest?

Thx in advance

[2020-11-25 14:32] diderich commented on #13829
See https://github.com/YetiForceCompany/YetiForceCRM/issues/13823

[2020-11-25 14:35] diderich opened #13830 "[bug] Language: Undefined labels in English language"
# 🐞 bug report

### ⁉️ Describe the bug

The following labels are not defined in the English language

![warning](https://user-images.githubusercontent.com/10230144/100241051-91bf4100-2f33-11eb-88f5-78a607f49a34.png)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

See above.

### 👎 Actual Behavior

Labels are not translated in English

### 👍 Expected Behavior

Labels are transla

[2020-11-25 15:27] diderich opened #13831 "[Question] Using a slightly different terminlogoy (how to)"
### Description

I am using a slightly different terminology than YetiForce.

For example, I refer to "Project" as "Engagement", "Service Contract" as "Retainer", etc.

I have currently implemented these changes through editing the language .json files.

Now, when a new language pack is installed, my changes get overwritten.

I am looking for ideas that would allow to best (with minimal effort) sy

[2020-11-25 16:40] diderich opened #13832 "[bug] Cron jobs tries to access URL shorturl.php including public_html (/public_html/shorturl.php rather than /shorturl.php)."
# 🐞 bug report

### ⁉️ Describe the bug

When running the cron jobs, i.e., "php cron.php", the system tries to access an URL including "public_html". This leads to a 404 error. The root of the application is /crm6.

`xxx.xxx.xxx.xxx - - [25/Nov/2020:17:30:01 +0100] "GET /crm6/public_html/shorturl.php HTTP/1.1" 404 997 "-" "YetiForceCRM/6.0.0"`

### 🔥 How to trigger the error

Steps to reproduce th

[2020-11-25 16:55] johniexxx commented on #13823
Can i have manual for manually install update from 5.3 to 6.0.
I have the same error
`Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /home/menopoul/my.menopoulos.com/modules/Settings/Updates/views/Index.php on line 18`

[2020-11-25 17:18] zazy commented on #13830
Got the same problem and solved this way: log out, clear all cookies related to CRM domain, login again ,update language from admin settings.

[2020-11-25 17:22] davide-alghi commented on #13831
Hi @diderich,
something is not clear.
how do you edit language labels?

[2020-11-25 17:29] diderich commented on #13831
I edited the .json files in the languages/en-US directory.

[2020-11-25 17:36] davide-alghi commented on #13831
Why that? Why don't you use **Edit language** feature?
https://gitdeveloper.yetiforce.com/index.php?module=LangManagement&parent=Settings&view=Index

[2020-11-25 17:39] konadrian commented on #13831
Hi!
You can enable the custom folder
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/config/Performance.php#L93
If you set this value to true "system will additionally check whether the file exists in the custom directory. Ex. custom/modules/Assets/Assets.php."
So If you add a translation for example into custom/languages/en-Es/_Base.json then it should overwrite orginal value

Or

[2020-11-25 17:39] #13831 closed, assigned to konadrian

[2020-11-25 17:42] apcloic commented on #13831
@diderich
Fyi, I'm using @konadrian solution, it works very well.
https://yetiforce.com/pl/component/zoo/item/loader-and-autoloader-of-files

[2020-11-25 19:45] #13829 closed, assigned to mariuszkrzaczkowski

[2020-11-26 07:07] mariuszkrzaczkowski commented on #13823
show what's in the logs

[2020-11-26 07:19] mariuszkrzaczkowski commented on #13823
@apcloic If any error during the update occurred, it means that the update is incorrect and some changes have not been uploaded.
CRM may work but there will be errors because there are data/changes missing.

[2020-11-26 07:59] apcloic commented on #13823
@mariuszkrzaczkowski
Ok, thanks a lot.
Is there a way to 'force' YF to accept the update once again (debugbar is off) or should I restart the process from YF 5.3 backup ?

[2020-11-26 08:27] diderich opened #13834 "[Question] Session timeout"
### Description

How / where can I adjust (lengthen) the timeout before a session is automatically logged out? For me, the timeout in version 6.0.0 seems to be quite short.

![no-activity](https://user-images.githubusercontent.com/10230144/100325684-3e97cd80-2fc9-11eb-890e-cd3ba02bf8f3.png)

[2020-11-26 08:29] rskrzypczak commented on #13834
https://github.com/YetiForceCompany/YetiForceCRM/blob/fae267e50b6efdeea9611641319267fadfd5f545/config/Security.php#L89-L90

[2020-11-26 08:29] #13834 closed, assigned to nobody

[2020-11-26 10:03] #13830 closed, assigned to mariuszkrzaczkowski

[2020-11-26 10:18] johniexxx commented on #13823
here is my logs

[code]

[2020-11-26 10:29] diderich opened #13835 "[bug] Recently viewed pages fails when CRM is not installed at the root of the web server"
# 🐞 bug report

### ⁉️ Describe the bug

Recently viewed pages fails when CRM is not installed at the root of the web server. The application adds the root URL twice to the link.

In my case, the software is installed at `https://www.XXX.net/crm6/`. Normally accessing pages is done for example using `https://www.XXX.net/crm6/index.php?module=Home&view=DashBoard`. But when accessing recently viewed

[2020-11-26 10:48] diderich commented on #13835
Problem is solved by replacing the following line
`			<a class="item dropdown-item" href="{$HISTORY['url']}" role="listitem">`
by
`			<a class="item dropdown-item" href="/{$HISTORY['url']}" role="listitem">`, adding `/` in front of the URL
in the file
`layouts/basic/modules/Vtiger/BrowsingHistory.tpl`

[2020-11-26 13:19] diderich commented on #13834
Thanks!

[2020-11-26 18:31] caothuyen opened #13836 "[Question] How do I delete chat history?"
How do I delete chat history? - My version 6.0.0 v2

[2020-11-26 22:09] waran70 opened #13837 "conflict of interest"
I would change "conflict of interest" to something like Access-Request or Access conflicts. "Conflict of Interest" is a kind of reserved term circulating in legal and business waters only.

[2020-11-26 23:57] ghost opened #13838 "[bug][PL] Nie działa wybór szablonu maila w trybie odpowiedzi na maila z historii maili"
# 🐞 bug report

Przy wejściu do maila przez "Moją Pocztę" można używać funkcji szablonów mailowych. I jest to dobre.
![image](https://user-images.githubusercontent.com/60872592/100397251-f3bd9a80-3048-11eb-881c-a11da496d151.png)

Przy odpisywaniu na maila z poprzez odpowiedź w detalach maila w "Historii maili" (ale też przy mailach powiązanych z kontrahentem, zgłoszeniem, itp) naciśnięcie przycisk

[2020-11-27 00:33] snenko commented on #12815
You scared me that I'm violating some license)

[2020-11-27 03:57] harshdoshihd commented on #13799
Thanks Konadrian. it worked!

[2020-11-27 12:09] gsportelli73 opened #13839 "[bug] Update problem from 5.3 to 6.0"
# 🐞 bug report

Error presets when i update CRM from 5.3 to 6.0 on my demo version.

After update i can't login. After it updates i see  error messages.
Error message reports some problem on duplicate name on db.
I attach log files.

My system
Shared Host Linux
php 7.2

[log_update.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5607757/log_update.zip)

How do i resolve login problem ?

[2020-11-27 12:30] mariuszkrzaczkowski commented on #13839
https://public.yetiforce.com/clear.png

[2020-11-27 12:30] #13839 closed, assigned to mariuszkrzaczkowski

[2020-11-27 12:44] #13768 closed, assigned to nobody

[2020-11-27 12:46] #13823 closed, assigned to nobody

[2020-11-27 12:48] mariuszkrzaczkowski commented on #13823
`Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /home/menopoul/my.menopoulos.com/modules/Settings/Updates/views/Index.php on line 18`

Error fixed, please submit separate issues for all errors that appear during the update.

[2020-11-27 15:00] aveblackmetalstudio opened #13841 "[bug] Inventory table. Difference between numbers on edit and detail view"
# 🐞 bug report

### ⁉️ Describe the bug

Problem with inventory table. Difference between numbers on edit and detail view
![inventory table](https://user-images.githubusercontent.com/26859846/100460977-691c8000-30c8-11eb-880f-fbc4a80cda34.png)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Create record for module with enabled inventory table (**SSingleOrders** for example)

[2020-11-28 10:42] apcloic commented on #13841
@aveblackmetalstudio I don't think this is a bug, it's related to rouding settings for price, difference may be due to number of decimals parameter in user settings.

[2020-11-29 03:36] JEEVAN28 opened #13846 "Select Price Book Record Shows no Records"
I am trying to Select Price Book from Product View, Price Book Popup comes up but does not show any record related to price book. what can be wrong ?

![image](https://user-images.githubusercontent.com/12723595/100532732-03dca200-3222-11eb-9a16-80baf8c24a01.png)

Thanks in advance
Jeevan Pendhari

[2020-11-29 06:11] vovpff commented on #13846
At first you need to add price book. This price book should have relations for some products.

[2020-11-30 07:51] diderich commented on #13832
**Solution**: If the cron job is executed from the installation root (e.g. as `php /opt/yetiforce/cron.php`), and YetiForce is installed with `public_htm`l directory enabled, the variable `IS_PUBLIC_DIR` is not set. Therefore, the cron job must be launched as `php /opt/yetiforce/public_html/cron.php`. In the documentation, it is unclear if _path-to-crm is the full absolute path to the CRM folder,

[2020-11-30 09:14] #13832 closed, assigned to mariuszkrzaczkowski

[2020-11-30 17:22] rioshaz opened #13851 "Menu items displaying wrong"
Updated yf from 5.3 to 6.0..
many menu items show label name then actually name..
see image...
<img width="956" alt="error" src="https://user-images.githubusercontent.com/54880467/100642159-6fc42500-335e-11eb-8ac1-1d576beb5781.png">

<img width="953" alt="error" src="https://user-images.githubusercontent.com/54880467/100642322-a7cb6800-335e-11eb-88ea-584760adc125.png">

i have update rnglish langu

[2020-11-30 18:32] davide-alghi commented on #13851
Hi @rioshaz,
did you try this?
https://github.com/YetiForceCompany/YetiForceCRM/issues/13830#issuecomment-733840629

[2020-11-30 19:30] rioshaz commented on #13851
yes i tried that,, no help..

i deleted  "in-en" language and then added it again and it fixed my problem..
thanks a lot @davide-alghi

[2020-12-01 03:32] JEEVAN28 commented on #13846
@vovpff Hi, Thanks for reply, Yes I have added price book. When I go to price book and try to add product same is working good but then when I select product and try to map price book with product, it does not work and shows blank pop up.

What am I doing wrong.

Regards

[2020-12-01 03:35] JEEVAN28 opened #13852 "Change Theme"
I am referring https://github.com/YetiForceCompany/YetiForceCRM/issues/2950 but not able to find exact file, i tried to change style.css from twilite folder but does not work.

please assist in the matter.

Thanks in advance

Regards
Jeevan Pendhari

[2020-12-01 04:06] vovpff commented on #13846
@JEEVAN28 this is good question.

[2020-12-01 06:10] davide-alghi commented on #13852
Hi @JEEVAN28,
because ```public static $MINIMIZE_CSS = true;```
in file **config/Developer.php**, YF loads **style.min.css** file, so your changes are not taken into account.
Setting ```public static $MINIMIZE_CSS = false;``` your changes will be loaded but the system performance will slightly slow down

[2020-12-01 07:48] #13851 closed, assigned to nobody

[2020-12-01 07:50] rioshaz opened #13856 "Mail Scanner not working after update 5,3 to 6.0"
HI guys,
My mailscanner has stopped working after the upgrade form 5.3 to 6.0..
Normal it was configured to "create helpdesk " but i cant see new emails into the tickets anymore..
can anyone help...

[2020-12-01 09:28] rioshaz commented on #13566
after upgrade to 6.0 from 5.3 .. all my workflows are not wotking... @mariuszkrzaczkowski  @apcloic  is ther enay fix you can just

[2020-12-01 09:29] mariuszkrzaczkowski commented on #13856
![github](https://user-images.githubusercontent.com/10198654/100721805-1a206480-33c0-11eb-98c5-67946dfcbcd6.jpg)

[2020-12-01 09:38] rioshaz opened #13857 "YF Automatically logs out"
upgrade from 5.3 to 6.0 make yf log out abruptly even when i am workiong on it...
whats the issue ...

error i get  is :
Logged out automatically due to no activity

but actually am working on it..

[2020-12-01 09:40] mariuszkrzaczkowski commented on #13857
fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/0190c3b222e3e67f80521e8b6d67946a6316e477

[2020-12-01 09:40] mariuszkrzaczkowski commented on #13857
I'm about to release an update to 6.1 which fixes this

[2020-12-01 09:40] #13857 closed, assigned to mariuszkrzaczkowski

[2020-12-01 10:57] rioshaz commented on #13856
@mariuszkrzaczkowski ,

My mail scanner has stopped working after the upgrade form 5.3 to 6.0..

i dont know the reason and cron logs i have attached,,,

In the mail scanner section i have included "create email msg" and "create helpdesk".. so normally it should scan the email and create a ticket for all emails,.. as it use to do before.."

![ConfReport](https://user-images.githubusercontent.com/5

[2020-12-01 11:38] aveblackmetalstudio commented on #13841
Yes, but there is difference between edit table and detail table view in total gross value for example. I think it's not normal.

[2020-12-01 11:57] mariuszkrzaczkowski commented on #13856
you need to turn on full logs,
saying that something is not working it will do nothing,
without a detailed description and analysis, we will not do anything

[2020-12-01 12:05] rioshaz commented on #13856
how to turn on full logs ?

[2020-12-01 12:08] mariuszkrzaczkowski commented on #13856
![github](https://user-images.githubusercontent.com/10198654/100738748-5a8add00-33d6-11eb-84ac-46665a12a5f9.jpg)

[2020-12-01 15:20] diderich opened #13859 "[bug] 'Edit fields' function no longer works after updating to version 6.1.0"
# 🐞 bug report

### ⁉️ Describe the bug

The system fails with the error message `Call to a member function get() on null.` when executing the administrative menu function Edit fields in Standard modules.

[https://gitdeveloper.yetiforce.com/index.php?module=LayoutEditor&parent=Settings&view=Index](url)

![error](https://user-images.githubusercontent.com/10230144/100759409-dc87ff80-33f0-11eb-832a-

[2020-12-01 15:29] diderich commented on #13859
A similar problem exists with `Fields - Quick Create`

[2020-12-01 15:40] diderich commented on #13859
The problem stems from the line `{assign var=BLOCK_ICON value=$BLOCK->get('icon')}` in file `layouts/basic/modules/Settings/LayoutEditor/Index.tpl` and `layouts/basic/modules/Settings/QuickCreateEditor/Index.tpl` referencing the not defined `$BLOCK` variable.

[2020-12-01 15:52] diderich commented on #13859
Replacing `$BLOCK` by `$BLOCK_MODEL` in `{assign var=BLOCK_ICON value=$BLOCK->get('icon')}` in the two mentioned `Index.tpl` files solves the problem.

[2020-12-01 20:24] rioshaz commented on #13204
@bpabiszczak question here is ,,, how to  create a lead from email..
tickets can be created by using mail scanner, with create helpdesk option,,,

[2020-12-01 20:33] bpabiszczak commented on #13204
You need to create a script similar to the ticket script.

[2020-12-02 06:14] #13859 closed, assigned to rskrzypczak

[2020-12-02 06:20] rskrzypczak commented on #13859
Thanks a lot,
but you know, you can push a pull request by yourself, I won't mind :)

[2020-12-02 08:27] rioshaz opened #13860 "[bug] Status change hangs system when in record preview mode"
I have tested the same error on your gitstable version too..

when we  view leads by "Record preview list " then when u change lead status on any lead the system hangs and doesnt complete, it keeps loading

<img width="953" alt="eroor" src="https://user-images.githubusercontent.com/54880467/100847756-372f6300-34a6-11eb-9495-b8ac36496e59.png">

[2020-12-02 08:50] rioshaz opened #13861 "WF not working"
trying to create a email history record to convert into a lead record,,
cant understand what is wrong.. can anyone help..
cron executes fine....but leads not created....

YF version 6.1.0
upgraded from 5.3 to 6.0

<img width="925" alt="1" src="https://user-images.githubusercontent.com/54880467/100849940-13b9e780-34a9-11eb-808d-99174597d602.png">
<img width="928" alt="2" src="https://user-images.gi

[2020-12-02 09:02] rioshaz commented on #13859
![image](https://user-images.githubusercontent.com/54880467/100851478-4b299380-34ab-11eb-8fb3-3328082def59.png)

it does make the error go away but then u get this strange title on blocks.. see image

[2020-12-02 09:27] vovpff commented on #13859
@rioshaz I'm not sure but you replaced wrong code

[2020-12-02 09:28] mariuszkrzaczkowski commented on #13859
https://gitdeveloper.yetiforce.com/index.php?module=LayoutEditor&parent=Settings&view=Index
I do not see the error, probably upload the patch myself, this results in an error

[2020-12-02 09:28] mariuszkrzaczkowski commented on #13861
![github](https://user-images.githubusercontent.com/10198654/100854338-2ae8dd00-3489-11eb-9e54-ae26da546a9c.jpg)

[2020-12-02 09:45] #13860 closed, assigned to mariuszkrzaczkowski

[2020-12-02 10:12] ciberfox opened #13862 "[Question] Upgrade guide from 5.3 to 6.0"
Hello,
I am having several problems updating from version 5.3 to version 6.0.

Specifically, I get several errors in updating some tables on the database.
is it possible to have a guide to update?

I downloaded the zip package and uploaded it to the admin interface. After the first checks the system freezes giving a problem on the management of autoincrements on a table.

Thanks a lot

[2020-12-02 10:16] rioshaz commented on #13861
can this help :

  2020-12-02 15:45:03 | Start CRON  ----------
2020-12-02 15:45:03 | LBL_WORKFLOW - Not ready to run as the time to run again is not completed
2020-12-02 15:45:03 | LBL_SCHEDULED_IMPORT - Start task
2020-12-02 15:45:03 | LBL_SCHEDULED_IMPORT - End task (0.13 s)
2020-12-02 15:45:03 | LBL_MAIL_SCANNER_ACTION - Start task
2020-12-02 15:45:12 | LBL_MAIL_SCANNER_ACTION - End task (8.72

[2020-12-02 10:37] mariuszkrzaczkowski commented on #13861
![github](https://user-images.githubusercontent.com/10198654/100861957-cf235180-3492-11eb-90ee-277602cc27ef.jpg)

[2020-12-02 10:52] rioshaz commented on #13861
![ConfReport](https://user-images.githubusercontent.com/54880467/100863393-867f8e80-34ba-11eb-8147-e0735465dc22.png)

[2020-12-02 10:54] rioshaz commented on #13861
@mariuszkrzaczkowski what does :  " Not ready to run as the time to run again is not completed"? means just help me with that i shall find a solution

[2020-12-02 11:14] rioshaz commented on #13860
changing public_html/layouts/basic/modules/Leads/resources/Detail.js  doesnt fix the problem...

![image](https://user-images.githubusercontent.com/54880467/100865672-a2d0fa80-34bd-11eb-95d3-8c30a8053605.png)

[2020-12-02 11:31] rioshaz commented on #13862
@ciberfox i wont suggest you to upgrade as of now..

as 6.0 has serious issues.... scanners stops, workflows dont work, frequent log outs (6.1 updates fixes it but then edit fields dont work then u have to search forum & find a fix) .. leads status dont change in record preview list ,,, these are some which i have noticed... yet to find  many more i guess...

does gives few new improvements but if

[2020-12-02 11:38] vovpff commented on #13861
@rioshaz this means what previous task not fully completed at new cron start attempt

[2020-12-02 11:46] mariuszkrzaczkowski commented on #13861
or it crashed because there was an error, but there is no full information, so it's hard to say something

[2020-12-02 11:56] rioshaz commented on #13861
@mariuszkrzaczkowski @vovpff  no tt means that the time for it to run again hasnt been completed yet.. example  my cron is set to  run every 5 minutes and services which have a frequency of more than 5 minutes like LBL_MAIL_SCANNER_BIND (it has 10 min frequency)  will show  " Not ready to run as the time to run again is not completed""

so i suppose my crons are working fine but scanner don't add

[2020-12-02 11:58] mariuszkrzaczkowski commented on #13860
test on https://gitdeveloper.yetiforce.com/

[2020-12-02 11:59] mariuszkrzaczkowski commented on #13862
![github](https://user-images.githubusercontent.com/10198654/100870037-3f83a000-349e-11eb-9d40-23c5659b47f6.jpg)

[2020-12-02 13:03] zazy opened #13863 "Scroll issue on perfect-scrollbar items"
I'm having a problem with scroll speed on elements where perfectScrollbar is used. As an example I attach a demo gif where I scroll down the left menu of system configuration area.

To reproduce the problem:
1. go to Configuration (the gear icon in the top right corner)
2. Make sure the left menu is visible by pinning it
3. expand a menu item with many entries like Standard modules.
4. put the mou

[2020-12-02 13:37] rioshaz commented on #13860
@mariuszkrzaczkowski so how can i fix that in my 6.1 ?

[2020-12-02 13:45] rskrzypczak commented on #13860
`
changing public_html/layouts/basic/modules/Leads/resources/Detail.js doesnt fix the problem...
`

change in the file /config/Developer.php:
public static $MINIMIZE_JS = true;
to
public static $MINIMIZE_JS = false;

[2020-12-02 13:48] rioshaz commented on #13861
@mariuszkrzaczkowski
I have sent a test email to your gmail id  : yetiforcegitdevelopery@gmail.com
 and have also set your email in the mail scanner to create the helpdesk (ticket record)... pls see screenshot...
but even after your cron has ran the ticket is not being created...

and i have tested all this on your gitstable version..

so can u pls investigate and help me if possible,,,
thanks a l

[2020-12-02 13:51] rioshaz commented on #13862
@MacarenaReina  please check
sry have posted reply in another thread :  https://github.com/YetiForceCompany/YetiForceCRM/issues/13861#issuecomment-737241006

[2020-12-02 13:56] rioshaz commented on #13856
@mariuszkrzaczkowski pls check
sry have posted in another thread
https://github.com/YetiForceCompany/YetiForceCRM/issues/13861#issuecomment-737241006

[2020-12-02 14:02] #13856 closed, assigned to mariuszkrzaczkowski

[2020-12-02 14:03] rioshaz commented on #13863
@zazy  mine moves 2-3 lines but its still slow and not fuild as it should be

[2020-12-02 14:13] rioshaz commented on #13860
@rskrzypczak thanks a lot it fixes the issues....

[2020-12-02 17:33] ciberfox commented on #13862
![image](https://user-images.githubusercontent.com/22546170/100908906-5a6d0900-34cc-11eb-901c-769fa9debf43.png)

![image](https://user-images.githubusercontent.com/22546170/100908981-6e186f80-34cc-11eb-8542-bc7d7bb5c5ac.png)

![image](https://user-images.githubusercontent.com/22546170/100909246-c2235400-34cc-11eb-9206-e3b81415674a.png)

SQLSTATE[HY000]: General error: 3780 Referencing column 'atta

[2020-12-02 17:42] ciberfox commented on #13862
I get the following error, using the system update procedure. By uploading the 5.3.0_to_6.0.0_v3.zip file, after accepting the license you get the following

current installed version is 5.3.0 SP4 security update v1

![image](https://user-images.githubusercontent.com/22546170/100909659-4c6bb800-34cd-11eb-99d8-c7897f0c1cbe.png)

SQLSTATE[HY000]: General error: 3780 Referencing column 'attachmentsid

[2020-12-02 19:13] rioshaz commented on #13856
@mariuszkrzaczkowski  sry friend but the solutions doesnt work... scanner still not making tickets... pls help

[2020-12-02 19:13] zimart opened #13864 "[Question] - Cel Wizyty"
### Description

[2020-12-02 19:14] zimart commented on #13864
Coś uciekło. Mam pytanie, czy można wyłączyć jakoś wyskakujące okienko "podaj cel wizyty". Dosyć irytujące.

[2020-12-02 20:12] mariuszkrzaczkowski commented on #13864
https://github.com/YetiForceCompany/YetiForceCRM/blob/20f376f9c8ea5866f80e7eb6e77c4fc246bcb10e/config/Security.php#L197-L198

[2020-12-02 20:12] #13864 closed, assigned to mariuszkrzaczkowski

[2020-12-02 21:08] mandrzej57 opened #13865 "[Pytanie] Uprawnienia do eksportu leadów dla konkretnego użytkownika"
Jak dodać uprawnienia jak w temacie?
Mam zdefiniowaną rolę "Dział spredaży", przypisany do niej profil. W nim nie zezwalam na eksport, no nie chcę, aby wszyscy użytkownicy z działu sprzedaży mogli eksportować.
Ale jest potrzeba, aby jeden mógł. Czy można i jak nadawać takie uprawnienia dla konkretnego użytkownika, jakby nadpisujące ten aspekt uprawnień (eksport leadów) pochodzący z roli (a tam z k

[2020-12-02 23:36] bpabiszczak commented on #13864
Bo na koncie admina się nie pracuje :) Ono służy do administrowania systemem...

[2020-12-03 02:49] waran70 opened #13867 "[Security] Access limitation to https://gitstable.yetiforce.com/ and the other one"
Some certain countries as well as VPN IP's cannot access demo versions.
Why?

[2020-12-03 06:48] mariuszkrzaczkowski commented on #13867
can you give an example
we don't limit access, maybe it's some other restrictions

[2020-12-03 06:51] mariuszkrzaczkowski commented on #13856
I tested the whole mechanism, I don't know what your bugs are,
I don't have enough information to diagnose it
you need to give more information

[2020-12-03 06:57] mariuszkrzaczkowski commented on #13862
attach full update logs

[2020-12-03 07:34] rioshaz commented on #13856
@mariuszkrzaczkowski   it works now but I have to include both : "Create email message" and "create a helpdesk".
 if remove the "create email message" then it doesn't work..

before only "create helpdesk"  selected made tickets...
so what would be the issue..

![image](https://user-images.githubusercontent.com/54880467/100977907-a91bb100-3567-11eb-8dfe-f3fac176ec62.png)

[2020-12-03 08:02] davide-alghi commented on #13867
@waran70,
what does it mean ```cannot access demo versions```?
can't you reach login page or can't you login to YF?

[2020-12-03 08:16] rioshaz commented on #13856
@mariuszkrzaczkowski i have to manually check a email and then it gets shows in ticket...doesnt happen automatically

anyways can u tell me how to clean cache manually ? because cron doesnt do it...
![image](https://user-images.githubusercontent.com/54880467/100985596-2f3cf500-3572-11eb-85c2-cfa4a5590122.png)

[2020-12-03 10:04] rioshaz opened #13868 "CLean cache manually"
Can anyone tell me how to manually clean cache as my cron isn't doing it... and because of that tickets module is not updating but when u go to email its shows me its relation to the ticket and then after that when i refresh ticket page it shows the email..

![image](https://user-images.githubusercontent.com/54880467/100994673-d9217f00-357c-11eb-91f9-4badecf4533d.png)

[2020-12-03 10:04] Andrew-W-Robinson commented on #13862
I have the same error.

[2020-12-03 10:19] mariuszkrzaczkowski commented on #13862
You don't submit the required information so how we are supposed to help?

[2020-12-03 11:02] ciberfox commented on #13862
I will provide the log this evening so that I can snap the machine and perform the update procedure again.
Thanks for support

[2020-12-03 11:09] blu-IT opened #13869 "[bug] Can't download new documents any more / wrong ownship on storage filesystem"
# 🐞 bug report

Hello,

I am refering to an old issue https://github.com/YetiForceCompany/YetiForceCRM/issues/13804 that I had fixed for myself, but now happend again:

After uploading some documents, I cant download them any more.
I saw now, that on the filesystem there is the same problem as last month.

**New files & folders** in

/var/www/yetiforce/storage/Documents/2020/

**are created with o

[2020-12-03 11:30] mariuszkrzaczkowski commented on #13869
It's not a system error.
You have incorrectly configured permissions in the operating system, please contact your administrator.
The server must be correctly configured for the CRM to work properly.
Please read the https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/web-server-requirements

[2020-12-03 11:30] #13869 closed, assigned to mariuszkrzaczkowski

[2020-12-03 11:48] JEEVAN28 commented on #2548
Hi,

Is this added in Yetiforce 5.30 ?

Thanks in Advance

Regards
Jeevan Pendhari

[2020-12-03 13:22] igriberi commented on #11528
Hi guys, i write here because when i install Portal2, installation fail with this message: "An error occurred while communicating with the CRM".
Could someone help me?
Thx

[2020-12-03 13:23] igriberi opened #13870 "Cant't install Portal2"
Hi guys, i write here because when i install Portal2, installation fail with this message: "An error occurred while communicating with the CRM".

Could someone help me?
Thx

[2020-12-03 13:51] mariuszkrzaczkowski commented on #13870
the portal has not yet been completed and published stably

[2020-12-03 13:51] #13870 closed, assigned to mariuszkrzaczkowski

[2020-12-03 13:52] igriberi commented on #13870
Ok... thx

[2020-12-03 17:29] zimart commented on #13861
Please use...  wget ...root/cron.php  -  work fine...
---
Użyj np wget zamiast uruchamiać crona z cron.sh
U mnie zadziałało...

[2020-12-03 19:44] rioshaz commented on #13861
@zimart how to run wget ? where ?what is the process

[2020-12-03 20:53] zimart commented on #13861
cron --->
wget --delete-after http://xxxxx.xx/cron.php?app_key=from_config_file

[2020-12-03 21:04] rioshaz commented on #13861
can u  pls tell me which folder is this app key config file ?

[2020-12-03 21:15] zimart commented on #13861
config/main.php
/** Unique Application Key */
	public static $application_unique_key = '...........'

[2020-12-03 21:16] rioshaz commented on #13856
when i manually go the email and check a email or msg and then when i go n refresh tickets the email is added to tickets ,, else its not adding automatically.. why buddy

[2020-12-03 21:34] rioshaz commented on #13856
![image](https://user-images.githubusercontent.com/54880467/101090686-0bfb5f80-35dd-11eb-9953-c251d465a250.png)
![image](https://user-images.githubusercontent.com/54880467/101090728-1ae21200-35dd-11eb-81e5-30bd9d3e6c37.png)
![image](https://user-images.githubusercontent.com/54880467/101090860-4fee6480-35dd-11eb-9b22-57cd47e727fd.png)
![image](https://user-images.githubusercontent.com/54880467/1010

[2020-12-04 02:27] kseibi opened #13872 "[bug] Call to a member function get() on null on Module Field editing Yetiforce 6.1"
# 🐞 bug report

### ⁉️ Describe the bug

Just installed Yetiforce 6.1, all seems good but whenever clicking on "edit any modules fields", I am getting this error, the exact same error exists on gitstable.yetiforce.com:

![Click1](https://user-images.githubusercontent.com/74230891/101112751-fc017100-3618-11eb-93b2-1014317899b4.png)

### 🔥 How to trigger the error

1. Go to 'Admin Panel'
2. Click on

[2020-12-04 06:19] rioshaz opened #13873 "email scanner not working on gitdeveloper or gitstable"
![image](https://user-images.githubusercontent.com/54880467/101090686-0bfb5f80-35dd-11eb-9953-c251d465a250.png)
![image](https://user-images.githubusercontent.com/54880467/101090728-1ae21200-35dd-11eb-81e5-30bd9d3e6c37.png)
![image](https://user-images.githubusercontent.com/54880467/101090860-4fee6480-35dd-11eb-9b22-57cd47e727fd.png)
![image](https://user-images.githubusercontent.com/54880467/1010

[2020-12-04 06:21] rioshaz commented on #13861
@zimart  did the wget command but still this workflow dont work, other workflow works.. is something wrong with this workfow ?

[2020-12-04 07:35] mariuszkrzaczkowski commented on #13873
See I did a test on gitdeveloper

![image](https://user-images.githubusercontent.com/10198654/101134791-349a4e00-360b-11eb-9109-61767a7948c2.png)
![image](https://user-images.githubusercontent.com/10198654/101134907-57c4fd80-360b-11eb-9010-fbcc01926ca5.png)
![image](https://user-images.githubusercontent.com/10198654/101134936-627f9280-360b-11eb-903b-f084904621b5.png)
![image](https://user-images.g

[2020-12-04 07:35] #13873 closed, assigned to mariuszkrzaczkowski

[2020-12-04 07:50] mariuszkrzaczkowski commented on #13872
Fixed in 6.1.0_ServicePack_v1.zip

https://github.com/YetiForceCompany/YetiForceCRM/issues/13859

https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/6.1.0

[2020-12-04 07:50] #13872 closed, assigned to mariuszkrzaczkowski

[2020-12-04 08:49] rioshaz commented on #13873
@mariuszkrzaczkowski now its working i see,.
but why is mein not wokring.. see screenshot.. mail logs are different

![image](https://user-images.githubusercontent.com/54880467/101142519-b7d39800-363b-11eb-9f8e-b5daacbc68f3.png)

[2020-12-04 08:51] mariuszkrzaczkowski commented on #13873
your e-mail scanner keeps downloading e-mails until you see the results when it's finished.
You can increase the limit it will be faster eg. 1000

[2020-12-04 08:52] mariuszkrzaczkowski commented on #13873
https://github.com/YetiForceCompany/YetiForceCRM/blob/0f6ed64f7fe53a1b18aa63b6c04be131199f7a17/config/Performance.php#L68-L69

[2020-12-04 08:59] rioshaz commented on #13873
cool problem solved.. thank u so much...

.so if i have more then 1000 emails in my inbox. will it stop again ?

[2020-12-04 09:12] mariuszkrzaczkowski commented on #13873
/** The numbers of emails downloaded during one scanning */

[2020-12-04 09:13] wojturczyn commented on #13841
In my opinion, the amounts are calculated differently in the Edit view, Summary view and in the tax and discount setting panel.

In the photo below (Edit) we have the values:
Discount summary 176, but the sum in the Discount column is 175.99
Tax summary 229.38, but the sum in the TAX column shows 229.39
Following this path, Gross does not comply with Price after Discount + TAX

![Edit](https://use

[2020-12-04 09:33] #13868 closed, assigned to nobody

[2020-12-04 09:58] kseibi opened #13874 "[Feature] Considering to have customizing product's auto-filled fields in modules advanced section"
## 🚀 feature request

It would be very, very great to have auto-filled fields from products into the modules advanced sections, the current system only auto-fills the price, the cost, and some other margin/discount/tax information, we would be extremely grateful if we could design more customized pre-filled data like required delivery time, stock availability (Yes or No), gross weight, package qua

[2020-12-04 10:08] odiiin opened #13875 "Wyszukiwarka nie działa po aktualizacji z 5.3 do 6.1"
Witam,
Tak jak w temacie po aktualizacji główna wyszukiwarka nie znajduje kontrahentów, leadów, dokumentów, itd. Jedynie znajduje jakieś komentarze.
Czy w wersji 6.1 trzeba zezwolić wyszukiwarce na szukanie w tych modułach a może trzeba przebudować jakoś indeks?

[2020-12-04 10:31] mariuszkrzaczkowski commented on #13875
Trzeba przeliczyć etykiety wyszukiwania , naturalnie po aktualizacji przeliczenie z automatu się odbywa w cronie w zależności od ilości danych to może trochę potrwać.
Jeśli to nie zadziała to trzeba ręcznie uruchomić https://gitdeveloper.yetiforce.com/index.php?module=Search&parent=Settings&view=Index

[2020-12-04 10:31] #13875 closed, assigned to mariuszkrzaczkowski

[2020-12-04 10:37] KatarzynaUlichnowska commented on #13874
Hello, each request for a new functionality has to be submitted separately.

[2020-12-04 10:42] rioshaz opened #13876 "[bug] missing email from field and auto search email"
tested on gitdeveloper

lead name : Tommax. FHU
email id : jacob@tester.com  does show in drop-down list.. when composing a new email. normally it should auto-populate,,

![image](https://user-images.githubusercontent.com/54880467/101153589-a776e980-364a-11eb-9fad-255df11b8028.png)

Related email modules missing from field..see pic
![error](https://user-images.githubusercontent.com/54880467/101154

[2020-12-04 11:04] zalewskidominik opened #13877 "[Question] How to import data, as client with sold products"
Hello, How should i import data, to system from an excel.
I want to import all of my clients, but thats is ok i understand, but in case of importing data of sold products and services, where should i import data ??

In the end i would like to see all client information with sold products and services.

[2020-12-04 12:14] igriberi opened #13878 "[Question] Gantt not show Milestones and Tasks"
Hi... first of all sorry for my English (im from Argentina).

I installed YF in my local pc and gantt works amazing but when i install, following exactly same steps, in a server, gantt not show milestone and tasks.

Could you help me? Thx

[2020-12-04 14:58] diderich opened #13881 "[bug] Poor layout of buttons on Calendar page"
# 🐞 bug report

### ⁉️ Describe the bug

As shown in the figure below, the layout of the "Calendar" button looks poor (background does not span whole button).

![layout](https://user-images.githubusercontent.com/10230144/101178075-d3916b00-3648-11eb-92cd-eaf6bf676d1c.png)

### 🔥 How to trigger the error

Visualize calendar

Steps to reproduce the behavior:

1. Go to "Virtual Desk" -> "Calendar"
2.

[2020-12-04 17:01] Andrew-W-Robinson commented on #13862
![ConfReport(2)](https://user-images.githubusercontent.com/44470210/101191350-79e16e80-3651-11eb-82ad-0b5fa4b7661c.png)
[Upload Log.txt](https://github.com/YetiForceCompany/YetiForceCRM/files/5644170/Upload.Log.txt)

I have uploaded version 6.0 and proceeded to accept terms, closed off all running crons and the update fails with the above error

[2020-12-04 19:31] johniexxx opened #13883 "[Question] how to disable Enter visit purpose"
Hello,
how i can disable the "Enter visit purpose"
![how-to-disable](https://user-images.githubusercontent.com/75033415/101206531-ecfddb80-3677-11eb-920b-804a6fe5f49a.jpg)

it started show after update to 6.0.0

[2020-12-04 20:08] mariuszkrzaczkowski commented on #13883
https://github.com/YetiForceCompany/YetiForceCRM/issues/13864
https://github.com/YetiForceCompany/YetiForceCRM/blob/20f376f9c8ea5866f80e7eb6e77c4fc246bcb10e/config/Security.php#L197-L198

[2020-12-04 20:08] #13883 closed, assigned to mariuszkrzaczkowski

[2020-12-05 07:10] vovpff commented on #13874
Everything what you requested available in system.

[2020-12-05 08:59] diderich opened #13889 "[bug] Sending e-mail from Email history list fails"
# 🐞 bug report

### ⁉️ Describe the bug

When trying to send an e-mail from the "Email history List", as shown in figure below

![send-mail](https://user-images.githubusercontent.com/10230144/101238116-47318780-36de-11eb-8fc0-26c21e85975a.png)

the system fails with the error message `SMTP Error(-1): Connection to server failed` as show in figure below

![mail-send-error](https://user-images.githu

[2020-12-05 09:15] JEEVAN28 opened #13890 "Delete Record from System not working for any module"
I have deleted record and is transferred to recycle bin by application, now when I try to delete from system by clicking button, nothing happens.

![image](https://user-images.githubusercontent.com/12723595/101238790-88d72800-3708-11eb-8bc4-0ac98994f940.png)

Kindly assist.

Thanks in advance
Jeevan Pendhari

[2020-12-05 11:12] mariuszkrzaczkowski commented on #13889
demo version has email sending disabled

[2020-12-05 11:12] #13889 closed, assigned to mariuszkrzaczkowski

[2020-12-05 11:13] mariuszkrzaczkowski commented on #13890
![github](https://user-images.githubusercontent.com/10198654/101241061-4b1bd480-36f3-11eb-80b6-b104d0cfa0c7.jpg)

[2020-12-05 17:15] espeoceka commented on #13838
Mogę potwierdzić, jeżeli roundcube otwiera się w osobnym oknie traci kontekst i nie otwierają się żadne okna ( przyciski modułów oraz szablony ).

[2020-12-07 06:30] kseibi commented on #13874
In the current system, we can manually add any fields to the sales order (and other) advanced modules section by adding blank fields, and then have to manually fill it one by one in the sales order module, **it's very great**, but there is no possibility to have auto-filled data from the Product Module directly when we add the item, for example, the below photo, we have added comments and total ca

[2020-12-07 07:20] vovpff commented on #13874
@kseibi you need to add one more string to `u_yf_ssingleorders_invmap` database table to map Total cartons row of Sales Order to Total cartons field of product.
This is looks not easy but this works.

Some features available in system but should be added manualy and not available from admin back end.

[2020-12-07 09:45] Quiver92 opened #13891 "[Feature] LDAP sync"
## 🚀 feature request

### Describe the solution you'd like

### Is your feature request related to a problem? Please describe.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

### Describe alternatives you've considered

### Additional context

[2020-12-07 09:48] #13891 closed, assigned to nobody

[2020-12-07 10:28] rioshaz commented on #13876
@mariuszkrzaczkowski @paula-w  can anyone help pls

[2020-12-07 11:22] gsamushia opened #13892 "[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'Standard Modules'
2. Click on 'Edit Fields'

### 👎 Actual Behavior
Error
Call to a member function get() on null

### 👍 Expected Behavior

When navigating into modules edit field, it pops up error "Call to a member function get() on null"

### 👷 Testing

### 📷 Screenshot of configur

[2020-12-07 11:39] gsamushia commented on #13892
After downloading update "YetiForce CRM 6.1 Service Pack v1"  it was fixedAAfter downloading update "" it was fixed

[2020-12-07 11:39] #13892 closed, assigned to nobody

[2020-12-07 12:05] odiiin commented on #13875
Niestety ale bez zmian. Czekałem, aż cron to zrobi. Później uruchamiałem ręcznie przeliczanie ale "globalna" wyszukiwarka dalej nie wyszukuje. Co jeszcze można zrobić?

[2020-12-07 12:07] mariuszkrzaczkowski commented on #13875
![github](https://user-images.githubusercontent.com/10198654/101349106-1479c180-388d-11eb-90c7-cda1c17a4636.jpg)

[2020-12-07 12:27] rskrzypczak commented on #13875
Dwa zadania crona muszą wykonać całość operacji.
![image](https://user-images.githubusercontent.com/10221999/101350539-67ed0f00-388f-11eb-8348-a45df1b1d3ca.png)
Przy czym jednorazowe ich uruchomienie może być niewystarczające, ponieważ za jednym podejściem aktualizacji ulega określona liczbę danych.
Jeżeli cron Ci działa i wspomniane zadania crona są aktywne, to uzbrój się w cieplikowość.

[2020-12-07 13:33] blu-IT opened #13893 "[Question] Can I change Fied type from string (UiType: 1) to recordNumber (UiType: 4)?"
### Description

Hello,

I want to change a field type for my customer accounts/numbers. I created some time ago an own field

**System Name:** account_no2
**Field type:** string (UiType: 1)

because I wasn't satisfied with already implemented "Account number" of YF

**System Name:** account_no
**Field type:** recordNumber (UiType: 4)

Now, when trying to implement filters and search masks, I saw

[2020-12-08 09:06] wojturczyn commented on #13841
I will be grateful if someone confirms whether the error occurs or not.

[2020-12-08 12:00] waran70 commented on #13841
apcloic, try to talk to accountant about that. That will shade a little light :)

[2020-12-08 12:40] odiiin commented on #13875
Dzięki za informację. U mnie to wygląda tak:
![obraz](https://user-images.githubusercontent.com/62703577/101484620-355c1880-395a-11eb-9548-7215845b12b4.png)

Czasami trwa, któreś z tych zadań sekundę albo dwie co wydaje się być trochę za krótko (?) a w logach crona mam coś takiego:

[code]
I wtedy `LBL_RECORD_LABEL_UPDATER` lub `LBL_PRIVILEGES_UPDATER` trwają 0.xx s czy coś takiego. Czekam już z 6

[2020-12-08 19:28] rioshaz commented on #13861
@mariuszkrzaczkowsk have tested on gitdeveloper too but the same workflow is not working... email history to lead .. please check sir

[2020-12-08 22:41] gkankstech opened #13901 "[bug] I think it's a bug.... Failure when updating from 5.3 to 6.0 from the UI"
# 🐞 bug report

### ⁉️ Failure when updating from 5.3 to 6.0 from the UI

When trying to update through the web ui (Software configuration / Logs / Updates / System settings) from 5.3 with SP4 and SF 1 to 6v4 we get the following error:

"Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /home/username/public_html/crm/modules/Settings/Updates/v

[2020-12-09 04:18] igriberi opened #13902 "[Question] Disable Enter visit purpose"
Hi... how could i disable "Enter visit purpose" modal?

It appear after every time i login.

Thx

[2020-12-09 04:19] vovpff commented on #13902
Check  configs

[2020-12-09 04:39] kseibi commented on #13874
thank you very much, It worked really great, but the mapped field is closed and uneditable, is there a hint which file should I look up to make it editable? thank you again for your support.

![Click8](https://user-images.githubusercontent.com/74230891/101585623-1a9da880-3a1b-11eb-82e3-a6a036d1df10.jpg)

[2020-12-09 04:53] igriberi commented on #13902
im asking here because i cant find in config where is the option that i have to disable...

[2020-12-09 06:06] davide-alghi commented on #13902
Hi @igriberi,
Pls take a look here
https://github.com/YetiForceCompany/YetiForceCRM/issues/13883#issuecomment-738992853

[2020-12-09 06:19] #13902 closed, assigned to nobody

[2020-12-09 06:24] rskrzypczak commented on #13901
https://github.com/YetiForceCompany/YetiForceCRM/issues/13829
https://github.com/YetiForceCompany/YetiForceCRM/issues/13823

[2020-12-09 06:24] #13901 closed, assigned to nobody

[2020-12-09 06:37] vovpff commented on #13874
Looks like you set box size field as read only

[2020-12-09 06:40] igriberi commented on #13902
thx

[2020-12-09 08:29] rskrzypczak commented on #13841
Thanks for the report and a clear description of the problem.
It indeed is an error, we will do our best to fix it before the new version is released.

[2020-12-09 12:17] JEEVAN28 opened #13904 "[Feature] Parent Summary Widget"
Hi,

Please refer to https://github.com/YetiForceCompany/YetiForceCRM/issues/2548

I want to add summary widget on Contact to display Parent Account Field Information. as per above issue, it looks like same is available in Yetiforce from Release 3.0

How do I do it ?

In case same is not added, can you please refer some documentation where I can write code to add summary widget.

Thanks
Jeevan Pen

[2020-12-09 12:23] JEEVAN28 commented on #13890
@mariuszkrzaczkowski Thanks for reply, below is steps reproduced.

![image](https://user-images.githubusercontent.com/12723595/101629414-5189b380-3a47-11eb-9449-f874c52d96be.png)

I am on Account Module and selected record, which is opening as below

![image](https://user-images.githubusercontent.com/12723595/101629425-551d3a80-3a47-11eb-8625-1d59ea7e3b2a.png)

Then I clicked on Delete Record from

[2020-12-09 13:05] mariuszkrzaczkowski commented on #13890
![github](https://user-images.githubusercontent.com/10198654/101633450-8ab22b80-3a27-11eb-8700-916ba19fc3c1.jpg)

[2020-12-09 14:25] rioshaz opened #13905 "[bug] unusal high size system.log file"
sir the cache/logs/system.log is getting so big that it stops the server and i have to delete it...
what the solution ?

![image](https://user-images.githubusercontent.com/54880467/101641951-691d6800-3a58-11eb-8150-93ab6c395ea3.png)

[2020-12-09 14:38] davide-alghi commented on #13905
Hi @rioshaz,
maybe you have log to file for debugging enabled ($LOG_TO_FILE)

If you don't need to debug, set following variable to false
https://github.com/YetiForceCompany/YetiForceCRM/blob/8306e0569136c66168152907ee7d8e0f10c9f54c/config/Debug.php#L21
and empty ```cache/log/system.log``` file

[2020-12-09 15:02] rioshaz commented on #13905
okay thanks man...
also the crm goes blank
![image](https://user-images.githubusercontent.com/54880467/101646511-a3d5cf00-3a5d-11eb-8934-b7febd77dfb5.png)

both front n setting pages
![image](https://user-images.githubusercontent.com/54880467/101647127-6160c200-3a5e-11eb-8f56-556ae3661598.png)

and after some time it revives... strange,, sometimes in 5 minutes some times in 15 minutes

[2020-12-09 15:12] davide-alghi commented on #13905
this after setting $LOG_TO_FILE to false?

[2020-12-09 15:22] rioshaz commented on #13905
no ... it was happening before... after setting it to false i dont know if it will come again.. if it comes i will update you..

also @davide-alghi just want to ask you if you know how do the calender events work..

like i create a calendar event (call, meeting or to-do) but when i mark it as complete or postpone then ...i dont see any place where i can put my notes on what happened on the call or

[2020-12-09 16:17] davide-alghi commented on #13905
ok

a note box is not available by default, but you can add one
1) go to backend (Standard modules / Edit fields => Calendar)
https://gitdeveloper.yetiforce.com/index.php?module=LayoutEditor&parent=Settings&view=Index&sourceModule=Calendar
2) create a new block "Custom notes"
![Schermata da 2020-12-09 16-52-58](https://user-images.githubusercontent.com/48508691/101655210-a3c7d600-3a41-11eb-865f-ce

[2020-12-09 17:59] wojturczyn commented on #13841
@rskrzypczak
Thank you for confirming the error. We offer help if we get tips on where to modify the conversion functions and a suggestion what this may result from.

[2020-12-09 18:27] MixTecnico commented on #10626
after updating I lost my comments module, in custom module..

any ideas!

[2020-12-09 18:58] rioshaz commented on #13905
@davide-alghi  of course we can make a custom text box that is no problem and we already have a description box..  but my question is when you click "postpone" or "complete" it should give birth to a new action,,,

if i click "postpone" it goes in the event edit mode, where a new field should come and ask reason for postpone.

making custom notes mandatory is okay but when u create a fresh event i

[2020-12-09 19:17] rioshaz commented on #13905
omg again same crm has gone blank...
![image](https://user-images.githubusercontent.com/54880467/101676560-55d2c280-3a81-11eb-87cf-3a5f1558b171.png)

[2020-12-09 20:28] MixTecnico commented on #10626
I solved the problem ... the module was created with a capital letter ...

when updating the module I change to lowercase ...

using with the new module name resolves

INSERT INTO db_name.vtiger_fieldmodulerel (fieldid, module, relmodule, status, sequence) VALUES ('601', 'ModComments', 'MODULE_NAME', NULL, NULL);

[2020-12-10 06:26] davide-alghi commented on #13905
Hi @rioshaz,
Suite is basically an Operational crm; for this the activities management is very detailed.
In YF that activity life-cycle is not expected and therefore not available.
The implementation choice of the type of crm (Operational, Analytical, Collaborative and so on) to be created defines specific functions/features and modules.

________

About blank page: the problem could be YF, webser

[2020-12-10 06:43] rioshaz commented on #13905
@davide-alghi thanks for your inputs however i think this is a basic necessity of any crm to have a complete flow....
if you cant track action, post events then what's the use of crm..... i think YF should think about it seriously ..

CRM is all about organizing information and i wonder with so much good functionality YF lacks basic features sometimes like you don't have lead validation either...

[2020-12-10 07:06] rskrzypczak commented on #13905
You really like to complain ;)
![100861957-cf235180-3492-11eb-90ee-277602cc27ef](https://user-images.githubusercontent.com/10221999/101733113-9b61b080-3abe-11eb-994f-0a9a9a29ca67.jpg)

[2020-12-10 07:49] rioshaz commented on #13905
can u tell em which file do i need to send u that has logs...

[2020-12-10 07:56] mariuszkrzaczkowski commented on #13905
Please take a look at our rules on how to report bugs, once you add all the missing information we will start investigating your problem. Right now we don't have enough details to do so.
https://yetiforce.com/en/component/zoo/item/how-to-report-bugs

[2020-12-10 07:56] #13905 closed, assigned to nobody

[2020-12-10 11:21] ad1rie1 opened #13907 "[Feature] No Quote/Invoice inventory info"
## 🚀 feature request
### Describe the solution you'd like
We cannot get any field with automatic calculation inside Quote or invoice, for exemple : TVA Total, SUM Total without VAT, SUM total, Expedition Cost

We cannot filter by them in List view or Add this value inside PDF module or inside Workflow.

As an example :
There is no field related to any sum value.
![image](https://user-images.github

[2020-12-10 11:32] #13826 closed

[2020-12-10 11:33] #13837 closed

[2020-12-10 11:34] #13670 closed

[2020-12-10 11:35] #13145 closed

[2020-12-10 11:36] #12574 closed

[2020-12-10 11:44] #13907 closed

[2020-12-10 11:52] rioshaz commented on #13905
i dont know what u guys want,, you dont even tell me which file do u want...

2020-12-10 17:20:13.0149 [info][yii\db\Command::query] - SELECT EXISTS(SELECT * FROM `vtiger_users` WHERE (`id`=1) AND ((`status`='Active') AND (`deleted`=0)))
2020-12-10 17:20:13.0213 [info][yii\db\Command::query] - SELECT * FROM `vtiger_tab`
2020-12-10 17:20:13.0292 [info][yii\db\Command::query] - SELECT `type` FROM `u

[2020-12-10 11:53] rioshaz commented on #13905
![image](https://user-images.githubusercontent.com/54880467/101769027-5d8b7900-3b0c-11eb-8fe0-9f636b497098.png)
now its not working at all... since 1 hr its not showing any records sir

[2020-12-10 12:01] rioshaz commented on #13905
@mariuszkrzaczkowski @davide-alghi  does it help u find the problem ?
not is working and after sometiem it will stop working then works again automatically..

pls help

[2020-12-10 12:06] mariuszkrzaczkowski commented on #13905
If you read the description of how to report issues in its entirety you would know.
The required information is still missing

[2020-12-10 12:10] rioshaz commented on #13905
@i read it all n it says send logs.. but which logs to send i dont know... it frustrating at this point now buddy...

[2020-12-10 12:11] rioshaz commented on #13905
if u can tell me which logs u want i can provide

[2020-12-10 13:06] paula-w opened #13908 "New GitHub feature - Discussions"
Hello everyone!

### There is a new feature available on GitHub called **Discussions**.
You can find the Discussions tab next to the Pull Request tab. The functionality is still in its beta stage (at the time of writing) and a little limited in comparison to Issues, so there might be some problems out of our control.

The idea is to use “Issues” only for reporting bugs, errors, and problems relate

[2020-12-11 07:23] rioshaz opened #13909 "[bug] notification bug again"
hi sir the issue fixed in this link is now again not working in 6 yf version
https://github.com/YetiForceCompany/YetiForceCRM/issues/13318#issue-658534493

projects task show the below image.. contacts, project milestone, leads, projects, account notification are working fine.. only project task showing this...

![image](https://user-images.githubusercontent.com/54880467/101874905-bb24d180-3baf-11

[2020-12-11 07:24] rioshaz commented on #13861
@mariuszkrzaczkowski  any news on the fix sir

[2020-12-11 07:33] mariuszkrzaczkowski commented on #13909
![github](https://user-images.githubusercontent.com/10198654/101875745-7c7d2000-3b8b-11eb-8493-e597b7112cd9.jpg)

[2020-12-11 07:33] #13909 closed, assigned to nobody

[2020-12-11 07:35] rioshaz commented on #13909
@mariuszkrzaczkowski  if u check the link  https://github.com/YetiForceCompany/YetiForceCRM/issues/13318#issue-658534493 u can get the required information... just closing issues like this won't make the issue go away buddy ,

the problem is with  : /modules/Notification/models/Record.php

[2020-12-11 08:10] rioshaz commented on #13909
ok i made a test on gitstable so i hope now u can help me. now

creating a "project task" from demo yetiforce and assigning to to "sales yetiforce" users gives notifcation in worng way..

YetiForce Demo $(translate : ModTracker|LBL_CREATED)$ $(record : RecordLabel)$
it shoudl display task name and details...

![image](https://user-images.githubusercontent.com/54880467/101878774-27a2cf00-3bb6-11eb-

[2020-12-11 08:18] rioshaz opened #13910 "niotifcations bug"
ok i made a test on gitstable so i hope now u can help me. now

creating a "project task" from demo yetiforce and assigning to to "sales yetiforce" users gives notifcation in worng way..

YetiForce Demo $(translate : ModTracker|LBL_CREATED)$ $(record : RecordLabel)$
it shoudl display task name and details...

![image](https://user-images.githubusercontent.com/54880467/101878774-27a2cf00-3bb6-11eb-

[2020-12-11 08:50] Andr198 commented on #13862
I have the same problem
![ConfReport (3)](https://user-images.githubusercontent.com/62097187/101881126-e09fe400-3b8b-11eb-99d3-bce0153011ce.png)
[updateLogsTrace.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5678024/updateLogsTrace.log)
[Importer.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5678042/Importer.log)
[system.log](https://github.com/YetiForceCompany/YetiForc

[2020-12-11 10:23] crawe1 commented on #13617
Hi,
@davide-alghi
How can I _create_ and _edit_ in one "custom function" in workflow ?
edit it's simple, enough add
$recordModel->setHandlerExceptions(['disableHandlerClasses' => ['Vtiger_Workflow_Handler']]);
$recordModel->isNew = false;
but when i want to create new record ? are there any check functions ?

[2020-12-11 11:04] davide-alghi commented on #13617
Hi @crawe1,
I'm, not sure I understand: do you wanna create a new entity record from scratch?
- get a clean instance of target module (new record):
```$myNewRecordModel = $recordModel->getCleanInstance($targetModuleName)```
https://github.com/YetiForceCompany/YetiForceCRM/blob/1006f9e4e8ff735283206df30717292718afcc99/modules/Vtiger/models/Record.php#L659
- set entity values
https://github.com/Yeti

[2020-12-11 15:14] ciberfox commented on #13862
Hi I am attaching the log for the v5 update of the package.
I get the same error

![ConfReport](https://user-images.githubusercontent.com/22546170/101922167-12399f00-3bce-11eb-8a1f-3d56e930f700.png)

[updateLogsTrace.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5679923/updateLogsTrace.log)
[Importer.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5679947/Importer.log)
Th

[2020-12-11 15:44] crawe1 opened #13914 "[Question] Currency Convert Variable"
Hello,
When i adds an invoice and I choose the currency PLN -> EUR, the conversion will be PLN 4.4432 -> EUR 1. I need to add this exchange rate to my invoice.

I wanted to ask is it possible to save the used exchange rate to a variable?

YF 5.3 Version

[2020-12-11 16:09] crawe1 commented on #13617
@davide-alghi
I want to create in workflow, custom function that will be create new record or edit old. But i dont want to create twice custom function but one.
When i create record in module i want to joint other variable from related module to one. But how to create universal custom function to edit and create new record?

[2020-12-11 16:50] davide-alghi commented on #13617
in any case you have a saved record into your workflow:
- on creation YF saves new record before pass to your workflow code and ```isNew``` attribute is ```true```
- on modifying YF saves old record before pass to your workflow code and ```isNew``` attribute is ```false```

Is your need similar to "Update Related Record" workflow task. but does it reverse?
Maybe you need to get data from related r

[2020-12-12 00:18] bpabiszczak commented on #13865
Uprawnienia nadaje się "profilem" aby dwie różne osoby miały różne uprawnienia, muszę mieć różne role.
Możesz przepisać kod, aby profil był przypisywany bezpośrednio do użytkownika, ale wówczas wymaga to wielu godzin prac programistycznych.

[2020-12-12 00:18] #13865 closed, assigned to bpabiszczak

[2020-12-12 03:21] yagobski commented on #11853
Anyone have a resolution for that?

[2020-12-12 10:35] rioshaz opened #13916 "[Question] posisble to export all modules data"
Hi Sir,
I would like to export all data leads, calender, accounts, opportunities, sales invoice, accounting, support etc all in 1 click go and then import them into in a new yf installation is that possible? i know i can manually go to each module and export all records...

any help will be greatly appreciated..

[2020-12-12 11:22] apcloic commented on #13916
@rioshaz Export database and import into the new YF instance.

[2020-12-12 11:24] rioshaz commented on #13916
@apcloic shouldnt the yf version be same for that... ?

[2020-12-12 14:03] mariuszkrzaczkowski commented on #11853
everything can be done, propose a solution in a pull request and we will add it to the system

[2020-12-12 15:46] apcloic commented on #13916
@rioshaz Yes, you didn't tell us that YF versions were differents.

[2020-12-12 21:18] #13867 closed, assigned to bpabiszczak

[2020-12-13 05:55] rioshaz commented on #13916
@apcloic
i had 5.3 installed and i took files and db backup and updated it to 6.0 but 6.0 does work fine so i have placed 5.3 and db back on server. but path is same...
but now i am getting error:

Forbidden
You don't have permission to access this resource.Server unable to read htaccess file, denying access to be safe

Additionally, a 403 Forbidden error was encountered while trying to use an Err

[2020-12-13 09:51] Ketchup31 opened #13917 "[bug] Installation unsuccessful due to wrong session id"
# 🐞 bug report

Hello,

I did a fresh install of yetiforce by using docker. Version is 6.1.0. I get the first page about the YetiForce installation wizard 6.1.0 to choose the language and when I clic on button Install, I get this:

![image](https://user-images.githubusercontent.com/15796167/102008306-c3a41600-3d2f-11eb-849b-c8274777f919.png)

I tried with Google Chrome and Edge, with private conne

[2020-12-13 12:05] rioshaz opened #13918 "[Question] how to reset password phpmyadmin"
is it possible to reset admin password by phpmyadmin, if yes how ?
forgot password dont work as emails are not being sent..

[2020-12-13 14:38] rskrzypczak commented on #13916
No.

[2020-12-13 14:38] #13916 closed, assigned to nobody

[2020-12-13 17:01] vovpff commented on #13918
There are reset password script available in scripts repo.

[2020-12-14 06:29] mariuszkrzaczkowski commented on #13918
describe in more detail, do you want to reset the password of the CRM user or the password of the database user?

[2020-12-14 08:07] mend-bolt-for-github[bot] opened #13919 "CVE-2020-7793 (High) detected in ua-parser-js-0.7.22.tgz"
## CVE-2020-7793 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>ua-parser-js-0.7.22.tgz</b></p></summary>

<p>Lightweight JavaScript-based user-agent string parser</p>
<p>Library home page: <a href="https://registry.npmjs.org/ua-parser-js/-/ua-parser-js-0.7.22.tgz

[2020-12-14 08:31] vovpff commented on #13918
@rioshaz look here https://github.com/YetiForceCompany/YetiForceScripts/tree/master/PasswordReset

[2020-12-14 09:26] #11259 closed

[2020-12-14 09:27] #12198 closed

[2020-12-14 09:28] #11493 closed

[2020-12-14 09:31] #12235 closed

[2020-12-14 09:34] #13918 closed

[2020-12-14 10:05] #13914 closed

[2020-12-14 10:05] #13877 closed

[2020-12-14 10:06] #13893 closed

[2020-12-14 10:08] #13852 closed

[2020-12-14 10:09] #13836 closed

[2020-12-14 10:09] #13827 closed

[2020-12-14 10:11] #13805 closed

[2020-12-14 10:13] #13739 closed

[2020-12-14 10:13] #13730 closed

[2020-12-14 10:14] rioshaz commented on #13910
@mariuszkrzaczkowski @KatarzynaUlichnowska @davide-alghi

[2020-12-14 10:17] #13723 closed

[2020-12-14 10:18] #13719 closed

[2020-12-14 10:19] rioshaz opened #13920 "[Feature] whatsapp click to open"
whatsapp as a special format that if u click on a link for example:  https://wa.me/0091123456789  then it will open your desktop whastapp application and u can message that no. directly even if he/she is not added in your contacts....

can we create anything similar data type thats add this " https://wa.me/" prefix before any no we input in the field...

like for all mobile no. we have tel tag lin

[2020-12-14 10:20] #13697 closed

[2020-12-14 10:23] #13580 closed

[2020-12-14 10:23] #13540 closed

[2020-12-14 10:26] #11467 closed

[2020-12-14 10:39] #13920 closed

[2020-12-14 11:37] JEEVAN28 commented on #13890
@mariuszkrzaczkowski Hi, Thanks for replying. I solved issue with below set in MySQL,

 set global table_definition_cache = 4000;

Regards

[2020-12-14 11:37] #13890 closed, assigned to nobody

[2020-12-14 11:41] mariuszkrzaczkowski commented on #13890
https://github.com/YetiForceCompany/YetiForceCRM/blob/155baa6fb2c5d1ff9df69ebdcf960e271fb6b1cd/tests/setup/db/mysql.cnf#L43-L44

[2020-12-14 11:56] JEEVAN28 opened #13921 "[Feature] Tags to Module"
## 🚀 feature request

### Describe the solution you'd like
Similar to VTiger Tags management, I would like to tag record and see only those records in each module where tag is set

![image](https://user-images.githubusercontent.com/12723595/102078736-6ee8c400-3e31-11eb-8875-d3f33657205b.png)

### Is your feature request related to a problem? Please describe.
It is helpful to categories records for

[2020-12-14 12:06] samuelsituma opened #13922 "Help with the inventory part of YetiForceCRM"
Kindly assist with the following questions?

1. I am having a problem trying to understand the storage module in the system can anyone elaborate on this?
2. Is it possible to update the quantity field with the product number when adding a product instead of using another step of GRN and GDN?

Thanks, Regards

[2020-12-14 12:10] #13921 closed

[2020-12-14 12:10] #13922 closed

[2020-12-15 08:38] davide-alghi opened #13926 "[bug] Settings :: System tools :: PDF - click on row goes to download"
# 🐞 bug report

### ⁉️ Describe the bug

in Settings :: System tools :: PDF - click on row runs download instead of edit

**hint** https://github.com/YetiForceCompany/YetiForceCRM/blob/d3ec878c66bc62533533968a053ce92aeed8683d/public_html/layouts/basic/modules/Settings/PDF/resources/List.js#L38

```var editUrl = jQuery(e.currentTarget).find('.actions a:first').attr('href');```

### 🔥 How to trigger

[2020-12-15 12:36] nephaste commented on #13917
I have same problem with an Apache 2.4.46 and php 7.3.24 or php 7.4.11 (not a docker environment)

Wrong session ID.
Exists in server configuration which causes loss of session data.
We recommend removing browser cache, in case it does not help please fix your server configuration.

tried several browser...

[2020-12-16 01:41] JEEVAN28 opened #13927 "[bug] Incorrect request Error while Export Users"
checked it at https://gitdeveloper.yetiforce.com

![image](https://user-images.githubusercontent.com/12723595/102293732-aeb4c600-3f6d-11eb-9be2-0982bedce9fa.png)

![image](https://user-images.githubusercontent.com/12723595/102293750-b5dbd400-3f6d-11eb-878e-9ddea76b984e.png)

![image](https://user-images.githubusercontent.com/12723595/102293765-baa08800-3f6d-11eb-8f1f-701c27aa84da.png)

![image](ht

[2020-12-16 07:18] davide-alghi commented on #13926
maybe it's better remove edit-click on row: it conflicts with action buttons into last cell

[2020-12-16 07:29] rskrzypczak commented on #13926
It's one of the options, but it's better to make it meet the standard, that is - base mostly on the object LINK
It requires some small fixes in  .tpl, .js, and .php files

[2020-12-16 08:07] nephaste commented on #13917
error logs to me

`Wed Dec 16 09:06:11.645405 2020] [mpm_event:notice] [pid 19126:tid 139950312863552] AH00489: Apache/2.4.46 (Unix) OpenSSL/1.1.1g SVN/1.13.0-dev PHP/7.4.11 configured -- resuming normal operations
[Wed Dec 16 09:06:11.651029 2020] [core:notice] [pid 19126:tid 139950312863552] AH00094: Command line: '/opt/Apache74/bin/httpd -f /share/CACHEDEV1_DATA/.qpkg/YetiForce74/httpd.conf'
[W

[2020-12-16 08:16] nephaste commented on #13917
enabling debug log in Apache

`Wed Dec 16 09:12:52.164119 2020] [core:notice] [pid 14703:tid 139646930011968] AH00094: Command line: '/opt/Apache74/bin/httpd -f /share/CACHEDEV1_DATA/.qpkg/YetiForce74/httpd.conf'
[Wed Dec 16 09:12:52.164126 2020] [core:debug] [pid 14703:tid 139646930011968] log.c(1573): AH02639: Using SO_REUSEPORT: yes (1)
[Wed Dec 16 09:12:52.164389 2020] [mpm_event:debug] [pid 1

[2020-12-16 08:16] davide-alghi commented on #13926
sorry, but what is the standard on BE row click?

- sometimes it goes to details (Users, Company details)
- sometimes it goes to details only on no-first-column click (Profiles, Groups)
- sometimes it does nothing (Auto assign records, Admin access, Dependent Fields, Fields – Picklists/Relations, Mapping, Web service - Applications, Web service - Users, Currencies)
- sometimes it goes to edit only

[2020-12-16 11:37] davide-alghi opened #13929 "[bug] PDF engine adds new lines at the bottom of cell"
# 🐞 bug report

### ⁉️ Describe the bug

PDF engine: for each paragraph (```<p>```) in text into a table, PDF engine adds a new line at the bottom of cell

_the PDF template is attached_

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Create a new PDF template
2. In content set a top marker like ==================
3. insert a table
4. in one cell insert a text with some parag

[2020-12-16 11:47] asperitigroup commented on #13835
Many thanks @diderich , I can confirm that the above correction fixes the recent items problem when YF is not installed in the root of the webserver.

[2020-12-16 16:40] davide-alghi opened #13931 "[Question] php memory_limit"
Hi,
I'm trying to generate a PDF but a ```PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted``` is issued
I pushed up the PHP memory limit (image from my info.php)

![Schermata da 2020-12-16 17-16-56](https://user-images.githubusercontent.com/48508691/102375996-717b2300-3fc3-11eb-9f7f-53466ffb9987.png)

but in YF still is 1G

![Schermata da 2020-12-16 17-32-06](https://user-images

[2020-12-16 16:53] davide-alghi commented on #13931
![ConfReport](https://user-images.githubusercontent.com/48508691/102379421-219e5b00-3fc7-11eb-8d41-3d2f51c6a275.png)

system.log is empty and in php_errors.log
[code]

[2020-12-16 17:11] mariuszkrzaczkowski commented on #13931
check .user.ini update the entry or delete the file

[2020-12-16 17:12] mariuszkrzaczkowski commented on #13931
.user.ini and public_html/.user.ini

[2020-12-16 17:26] davide-alghi commented on #13931
yes, I forgot ... you're right Mariusz, it works tnx

[2020-12-16 17:28] davide-alghi commented on #13931
resolved

[2020-12-16 17:28] #13931 closed, assigned to nobody

[2020-12-17 09:51] davide-alghi opened #13935 "[bug] PDF engine: Vertical middle position is respected only on first row"
# 🐞 bug report

### ⁉️ Describe the bug

if a table is split over several pages, the middle vertical alignment is respected only in the first row

_PDF template attached_

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Upload attached template
2. generate the PDF

### 👎 Actual Behavior

middle vertical alignment not preserved

### 👍 Expected Behavior

middle vertical alignmen

[2020-12-17 09:51] davide-alghi opened #13936 "[bug] PDF engine: text outside the cell"
# 🐞 bug report

### ⁉️ Describe the bug

if a table is split over several pages, the text is out of the cell at top of page

_PDF template attached_

### 🔥 How to trigger the error

1. Upload attached template
2. generate the PDF

### 👎 Actual Behavior

some text outside the cell

### 👍 Expected Behavior

all text inside the cell

### 👷 Testing

- [x] I confirm that I tested it at https://gitstabl

[2020-12-17 10:52] te-deum opened #13937 "Call to a member function getTableName() on boolean"
# 🐞 bug report

### ⁉️ Describe the bug

I add related modules to the CRM Project and some of them give the error "Call to a member function getTableName() on boolean" when I try to show the tab in the Project page.

### 🔥 How to trigger the error
1) Got to a project
2) Try to open the tab Expertise
3) Get a wait icon that never disapear and serveur respond with an 500 error

### 📷 Screenshot of c

[2020-12-17 12:16] rioshaz commented on #13909
@mariuszkrzaczkowski can u please fix it...

[2020-12-17 15:27] rskrzypczak commented on #13937
This is not an application error. The table rightly does not exist in version 5.3.
Presumably you were updating your application to version 6.0, but something went wrong and you rolled back the changes incorrectly.
As I mentioned, this is not an application error, so I'm closing the issue.

[2020-12-17 15:27] #13937 closed, assigned to nobody

[2020-12-17 15:38] te-deum commented on #13937
You are right for the second message... I re-apply v6 and it work.
But for the main problem (Call to a member function getTableName() on boolean), it still occur.

[2020-12-17 18:43] jmginfor commented on #10454
I am wondering if a similar process can be done to disable the "flash animation" for those notifications ?

[2020-12-17 20:08] mariuszkrzaczkowski commented on #10454
Everything is possible

[2020-12-17 21:29] jmginfor commented on #10454
Very useful thanks!

[2020-12-18 06:49] harshdoshihd opened #13939 "Why is MySQL DB size too Big - 3 months of usage and the SQL DB size has become approx 20GB"
Hi There,

We have implemented Yetiforce as a pilot and the SQL db size has gone up to 25GB in just 3 months of usage.

We are not uploading and pdf, images, docs, we are just working on typed data.

![yetiforce db](https://user-images.githubusercontent.com/61234565/102583607-03ea0680-412b-11eb-84bf-48571ff4b776.png)

Attached herewith is the screenshot of db files which are consuming lots of spac

[2020-12-18 06:53] mariuszkrzaczkowski commented on #13939
I see notifications or Track Changes are on, do you need this?

[2020-12-18 07:02] harshdoshihd commented on #13939
I am currently deleting notifications, with regards to track changes, I need something like track changes only for contacts

[2020-12-18 07:04] harshdoshihd commented on #13939
Hi Mariusz,

I am currently deleting all notifications.

But for Track changes, I just need it for Contacts, precisely for phone numbers and emails - to keep a track if any employee purposely changes the data.

[2020-12-18 07:08] mariuszkrzaczkowski commented on #13939
Maybe you have something redundantly configured that you have 16 million notifications,
you can disable the history of changes for the Notifications module
and when you delete it, delete it permanently, not to the trash

[2020-12-18 07:08] #13939 closed

[2020-12-18 07:12] mariuszkrzaczkowski commented on #13917
you have a problem configuring OS permissions, see

`open_basedir restriction in effect. File(/var/www/html/vendor/../../licenses/MIT.txt) is not within the allowed path(s): (/var/www/html/:/tmp/:/var/tmp/:/etc/nginx/ssl/:/etc/ssl/)`

therefore it probably doesn't have permission to save sessions

[2020-12-18 07:12] #13917 closed, assigned to mariuszkrzaczkowski

[2020-12-18 07:20] mariuszkrzaczkowski commented on #13917
See if the address works and check the wrong configuration
https://__crm__domain__/install/Install.php?mode=step3

[2020-12-18 07:59] mend-bolt-for-github[bot] opened #13940 "CVE-2020-28458 (High) detected in datatables.net-1.10.22.tgz"
## CVE-2020-28458 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>datatables.net-1.10.22.tgz</b></p></summary>

<p>DataTables for jQuery </p>
<p>Library home page: <a href="https://registry.npmjs.org/datatables.net/-/datatables.net-1.10.22.tgz">https://registry.npm

[2020-12-18 08:14] te-deum opened #13941 "[bug] "Call to a member function getTableName() on boolean""
# 🐞 bug report

### ⁉️ Describe the bug

I add related modules to the CRM Project and some of them give the error "Call to a member function getTableName() on boolean" when I try to show the tab in the Project page.

### 🔥 How to trigger the error
1) Got to a project
2) Try to open the tab Expertise
3) Get a wait icon that never disapear and serveur respond with an 500 error

### 📝 PHP/Apache/Ngin

[2020-12-18 08:20] mariuszkrzaczkowski commented on #13941
Check if the error exists in the dev version

[2020-12-18 08:30] te-deum commented on #13941
Hello,

This error came in version 5.3.0 and still persists whenever I update to 6.0, 6.1, 6.1 SP1.
How do I check dev-version ? Should I copy dev files over my current install ?

Thank you for your help.

[2020-12-18 09:04] mariuszkrzaczkowski commented on #13941
here try to trigger the error https://gitdeveloper.yetiforce.com/

[2020-12-18 09:06] mariuszkrzaczkowski commented on #13941
From what i can see this is a custom relation you created and maybe it was created in a wrong way or something broke it

[2020-12-18 10:27] te-deum commented on #13941
After digging into the code, I suspect a problem with _vtiger_relatedlists_fields_.
The data for my tabid are not in the datatable !?

[2020-12-18 16:27] ciberfox commented on #13862
Hi, I tried using the v6 update. The same error always occurs

[2020-12-18 17:38] davide-alghi opened #13944 "[bug] PDF engine: wrong line-height calculation (?)"
# 🐞 bug report

_Tested on YF5.3 and YF 6.1: same behavior_

__________________________________________________

This PDF template produces a wrong PDF file: the template contains some heading lines and a table with some text per row
[03ko_pdftemplate.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5716966/03ko_pdftemplate.zip)

**details of issued PDF**
- file-size: about 88MB
- numbe

[2020-12-19 07:59] simple-AMS commented on #13883
Why would something this annoying ever be introduced in the first place. It became a serious nuisance the second time in.

[2020-12-20 07:29] Giorgos-Hellene opened #13955 "[Question] when trigger Actual date on opportunities"
🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Oh hi there! 😄 Hi company !!

i have a question if someone could explain me

When does field Actual date trigger on module opportunities ?

Thank you !

[2020-12-20 14:22] z0lo13 commented on #13883
This feature actually amazing thing. Before that you never know why and for what reason admin been logged in in CRM, it was simple login log. And now it's getting more organized.

[2020-12-21 08:58] hilligsmann commented on #6405
Hello,

I get the message "Your password has expired, please contact your administrator to reset your password."

Where could I download the ResetPassword.php file? I only see a code on the screen.

Afterwards, where have I to copy it?

Thank you.

[2020-12-21 08:58] davide-alghi opened #13956 "[bug] PDF engine: page-straddling image is stretched and duplicated"
# 🐞 bug report
PDF template with an image page-straddling is double-rendered and first instance is stretched
_here the template_
[04_pdftemplate.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5723301/04_pdftemplate.zip)

_here the wrong result_
[page_straddling_image.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/5723310/page_straddling_image.pdf)

### 🔥 How to trigger th

[2020-12-21 09:00] mariuszkrzaczkowski commented on #6405
https://github.com/YetiForceCompany/YetiForceScripts/tree/master/PasswordReset

[2020-12-21 09:03] hilligsmann commented on #6405
When I click on the file, I only see a code on the screen. How could I get the file?

[2020-12-21 09:05] davide-alghi opened #13957 "[bug] PDF engine: page-straddling table with rowspan issues "Call to a member function getParent() on null" error"
# 🐞 bug report

PDF template, with a table with rowspan and page-straddling, issues the error
**Call to a member function getParent() on null**

_here the PDF template_
[05_pdftemplate.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5723329/05_pdftemplate.zip)

_this the error_
![Schermata da 2020-12-21 09-49-55](https://user-images.githubusercontent.com/48508691/102758798-8cf37e80-437

[2020-12-21 09:28] vovpff commented on #6405
@hilligsmann check readme

[2020-12-21 11:03] hilligsmann commented on #6405
Thank you for answer.

The readme unfortunately doesn‘t help me if I can‘t download the file. Where could I download it?

[2020-12-21 11:14] davide-alghi opened #13958 "[bug] PDF engine: "alone" html break (BR) is not rendered"
# 🐞 bug report

If, in PDF template, there is line with "alone" ```<br />``` line is not rendered.
if before ```<br />``` there are no chars, the line is dropped
just putting a non-breaking-space before BR, the line is rendered

_here the PDF template_
[06_pdftemplate.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/5723942/06_pdftemplate.zip)

_here the wrong result_
[unrenderedBR.pdf]

[2020-12-21 11:22] hilligsmann commented on #6405
I now copied the code to a new file I named PasswordReset.php. Inside the file, I completed the username and password. I then copied the file to the FTP folder public_html.

Nothing happening ...

[2020-12-21 11:24] hilligsmann commented on #6405
I'm very sorry for my informatical ignorance.

Could you PLEASE help? I can't work for half a day now ...

Many, many thanks!

Daniel

[2020-12-21 11:58] vovpff commented on #6405
@hilligsmann you need to put this `PasswordReset.php` file to `public_html` folder. After that you need o go to `http://yourdomain.com/PasswordReset.php` and see new password.

[2020-12-21 12:26] mariuszkrzaczkowski commented on #6405
https://github.com/YetiForceCompany/YetiForceCRM/issues?q=PasswordReset

[2020-12-21 14:14] hilligsmann commented on #6405
I copied the file to the directory.

Then when opening the URL I get the error message "The requested URL was not found on this server“.

[2020-12-21 15:10] vovpff commented on #6405
@hilligsmann this can be problem of your web server configuration or user rights for this file. This is not CRM fault.

[2020-12-21 15:43] z0lo13 opened #13959 "[Question/Bug] How to Debug CRON properly?"
### Description

Hello team,

A few of my cron tasks are not completing successfully after 6.1 update.
Particularly:
**Mail Scanner Verification
Multi-reference Fields Update
Update Address Book
Batch Processes for Long Lasting Actions
Batch Methods (Before the error been showing in l_yf_bathcmethod, but now its empty)
Clear Inactive Sessions**

All above crons never completes

after enabling the

[2020-12-21 16:23] z0lo13 opened #13960 "[bug] Search Engine does not allow to search by email field. If selected 'Begin With'"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to settings ->Search-> Add email field to be used for search in any module, for example Leads.
2. Wait until Search Labels generated.
3. Go to Leads Module select 'Begin With' and try to search by email.
4. See error:

### 👎 Actual Behavior

Search not Working by email field

### 👍 Expe

[2020-12-21 17:21] hilligsmann commented on #6405
How could I recover access to my data?

[2020-12-21 17:40] vovpff commented on #6405
@hilligsmann hmm... What you mean?

[2020-12-21 18:09] hilligsmann commented on #6405
There‘s all my business data inside the crm. I‘m not able to acceed it anymore.

Username and password worked perfectly right now. Now the crm lockes me out.

I copied your code into the ftp and entered the address mentionned. Doesn‘t work.

So what could I do? Username and password are right.

Once again, very sorry for my low informatic knowledge.

[2020-12-21 19:06] vovpff commented on #6405
@hilligsmann you need to see some webpage with next data

[code]

You don't need to replace password and name in file. User id 1 is admin and when you achieve access to admin you can change other stuff.

If you don't see page with login-password data you need to check your web server configuration data.. .htaccess can block all pages besides index.php.

There is tons of causes and ways to solve pr

[2020-12-21 19:06] mariuszkrzaczkowski commented on #6405
did you have brute force enabled on the login page?

[2020-12-21 19:54] harshdoshihd commented on #8549
Another simple solution I found to same problem was to change php.ini settings for server configuration requirement:
yourdomain.com/index.php?parent=Settings&module=ConfReport&view=Index

![image](https://user-images.githubusercontent.com/61234565/102816528-2e221980-43f4-11eb-93bc-2611d53db008.png)

reference: https://discussions.vtiger.com/discussion/21976/profile-privileges-doesnt-save-update-fo

[2020-12-21 20:39] hilligsmann commented on #6405
Many many thanks for your precious follow-up!

When trying to connect to the website using the data below (admin1488), the system tells „username or password invalid“.

I can see the 3 active users inside the MySQL. Could I do anything there?

I don’t know what brute force is. But inside the MySQL, I see different IP addresses inside the bruteforce_blocked table, timely corresponding to my login a

[2020-12-21 23:26] waran70 commented on #6405
Not the best idea to publish username and url

[2020-12-22 09:31] simple-AMS commented on #13883
So a regular user would of never gotten that annoying step? In other words Admin users were the only ones who saw it? Still though, I guess it depends on each server admin. It was quite the annoyance for me in my everyday use so it's disabled.

[2020-12-22 09:45] zazy commented on #13863
Anyone have any idea on how to solve this? Can someone please point me at where the script is so that I can try to solve it by myself? I found it in a .map but I suppose it's in a minified js file or embedded somewhere else.
This issue makes Yetiforce menu really frustrating to use.

[2020-12-22 12:43] acsinsurancegroup opened #13962 "[Question]"
### Why does email take forever to load in the new system? I have updated it and everything and still extremely slow in the new 6.1.0 version.

[2020-12-22 12:54] hilligsmann commented on #6405
Could you please help?

[2020-12-22 13:09] mariuszkrzaczkowski commented on #13962
1 Please write questions in tab discussions >> https://github.com/YetiForceCompany/YetiForceCRM/discussions
2 I'm not sure if it's a questions or bug report
3 Version 6.1 without SP can works slower because in mail list we verify sender of a message. We recommend:
- install "YetiForce CRM 6.1 Service Pack".
- reduction a mails limit on the list

[2020-12-22 13:09] #13962 closed

[2020-12-22 14:40] rohanjhanepal opened #13967 "How do i get rid of "Purpose of Visit" pop up?[Question]"
### Description

After the latest update of the system, I am getting a pop up every time I login to yetiforce asking for my purpose of visit.
How do I get rid of it?

Yetiforce | 4.4 | YetiForce Public License v3

[2020-12-22 14:53] rohanjhanepal opened #13968 "How do i install roundcube module[Question]"
### Description

whenever I try to import roundcube_master.zip which I downloaded from github , I get this error message saying
"Failed
Module does not contain default language (en-US). "
how do I fix it???

![Screenshot (96)](https://user-images.githubusercontent.com/40380541/102901380-a68ce700-4495-11eb-802c-2110dc72631f.png)

[2020-12-22 14:56] z0lo13 commented on #13968
to manually install it, replace the content of 'roundcube' folder in public_html/modules/OSSMail/ with a contents of archive

[2020-12-22 15:00] simple-AMS commented on #13967
@rohanjhanepal See #13883

[2020-12-22 19:34] rioshaz commented on #13910
hello

[2020-12-22 19:34] rioshaz commented on #13909
@mariuszkrzaczkowski now can u check it sir

[2020-12-22 19:38] rioshaz commented on #13861
@mariuszkrzaczkowski @KatarzynaUlichnowska why not support buddy

[2020-12-22 21:30] hilligsmann commented on #6405
Hello,

Show could I PLEASE (!) acceed my CRM again?

Is there a wau via MySQL?

What do our passwords not work anymore?

PLEASE!

[2020-12-22 21:34] bpabiszczak commented on #6405
please send access to crm sla@yetiforce.com [ftp/sql].

[2020-12-22 22:08] mariuszkrzaczkowski commented on #13968
https://github.com/YetiForceCompany/YetiForceCRM/issues?q=Module+does+not+contain+default+language

[2020-12-22 22:08] #13968 closed, assigned to nobody

[2020-12-23 00:13] simple-AMS commented on #13881
@diderich Yes sir, mine looks like that as well. The word Calendar is misaligned. With that said, I'm still running some production versions of version 5.3.0 with Service Pack 4 installed and it's an issue on those systems as well. It's still an issue on the new 6.1.0 version even with Service Pack 3 installed.

[2020-12-23 06:21] mariuszkrzaczkowski commented on #13881
Check the development version

[2020-12-23 06:23] #13967 closed, assigned to nobody

[2020-12-23 06:37] rohanjhanepal opened #13969 "Edit fields not working, how to fix it?[Question]"
### Description

From a few days, I am not able to do any actions in the edit field section.
Whenever I select that module, suddenly nothing works, not able to click any button.
Non of buttons such as "Add custom block" works.
below is a screenshot of the menu I am talking about.
how do I fix this?

yetiforce version: 6.0

![Screenshot (97)](https://user-images.githubusercontent.com/40380541/10296

[2020-12-23 06:43] mariuszkrzaczkowski commented on #13969
https://github.com/YetiForceCompany/YetiForceCRM/discussions

[2020-12-23 06:44] mariuszkrzaczkowski commented on #13969
Are you reporting a bug?
yes - choose a different template and fill in the required information
no - write it in https://github.com/YetiForceCompany/YetiForceCRM/discussions

[2020-12-23 07:31] davide-alghi commented on #13910
Hi @rioshaz,
I see that this problem was already issue and fixed(?).
But this fix fixed the problem? Sure?
https://github.com/YetiForceCompany/YetiForceCRM/pull/13433/files
if yes, pls check if the fix is there in your instance.

I don't understand how you can see "sales yetiforce" user notifications on gitstable? pls can you create a mp4 with all steps on gitstable?

[2020-12-23 09:13] rioshaz commented on #13910
@davide-alghi  its demo yetiforce... nit sales

thanks a lot problem solved

[2020-12-23 09:15] #13910 closed, assigned to nobody

[2020-12-23 10:48] harshdoshihd commented on #9129
I noticed a random behaviour in my system:

At first I tried to export user list and I got an error:
![image](https://user-images.githubusercontent.com/61234565/102988649-3d12e400-453a-11eb-8c3e-b9e13f4234c8.png)

Broke my head for sometime and casually clicked (CTRL+click) on side menu
![image](https://user-images.githubusercontent.com/61234565/102988710-5b78df80-453a-11eb-9a35-e7f8da8333f3.png)

[2020-12-23 10:56] harshdoshihd commented on #9129
I saw an unusual error:

I was trying to pull user list and selected some users then clicked on export button, i was redirected to the below page:
![image](https://user-images.githubusercontent.com/61234565/102989201-38026480-453b-11eb-9697-ed0b6ec9eeec.png)

Broke my head for sometime, the casually clicked on side menu (crtl+click):
![image](https://user-images.githubusercontent.com/61234565/1029

[2020-12-23 12:29] gkArvindr commented on #6405
is the problem resolved

[2020-12-23 15:45] diderich commented on #13881
It is solved on gitdeveloper, still a problem on gitstable and in YetiForce CRM 6.1 Service Pack v5.

[2020-12-23 23:26] #13881 closed, assigned to nobody

[2020-12-24 06:53] simple-AMS commented on #13881
@mariuszkrzaczkowski That's wonderful that it's a non issue on the Developer version. Any way we can get a fix for it for the actual user versions?

[2020-12-24 08:41] harshdoshihd commented on #13927
I am also getting the same error; I turned on the error reports too but the detail log of error is also not visible
![image](https://user-images.githubusercontent.com/61234565/103075565-d94bf200-45f1-11eb-8e32-a4a907e8854d.png)

[2020-12-24 08:43] harshdoshihd commented on #13927
Temporary work around is: (Crl+click) on the side menu bar

[2020-12-24 14:16] rohanjhanepal commented on #11675
Whats the

Whats the solution?

[2020-12-26 10:05] rioshaz opened #13972 "[Feature] Export all customization, users & crm settings"
Hi guys,
is it possible to export all crm customizations and import them into a new fresh crm installation?

or do i  have to manually create all users again, profile n roles , custom fields in all modules that i made..
is their an easy way ?

[2020-12-26 10:17] apcloic commented on #13972
@rioshaz
Hi,
As this is a request and not a bug, I think you should post your question here :
https://github.com/YetiForceCompany/YetiForceCRM/discussions
Regards,

[2020-12-26 10:37] rioshaz commented on #13972
i have posted this as a "feature" not a bug sir

also my crm screen goes blank.. does load data, system setting icon disappears

![image](https://user-images.githubusercontent.com/54880467/103149918-6333c080-4794-11eb-904b-e8f8b5b4ee59.png)

and in chrome inspect console i see this

![image](https://user-images.githubusercontent.com/54880467/103149902-2cf64100-4794-11eb-90d6-c06e39f21a66.png)

can

[2020-12-26 13:44] apcloic commented on #13972
@rioshaz
Issues section is now only for bugs.
I think you've missed the following announcement
#13908

[2020-12-26 20:29] #13972 closed

[2020-12-26 20:52] harshdoshihd opened #13973 "Time not getting imported properly"
Hi Team,

I migrates from a old Yetiforce set-up to a fresh set-up in the same server, but while trying to import time there seems to be some issue.

The time automatically got changed when I imported the same:
Old Server date and time:

![old server](https://user-images.githubusercontent.com/61234565/103159006-314d4900-47ea-11eb-8586-a13d4b7e8280.jpg)

New Serve Date and time:
![new server](https

[2020-12-27 03:19] harshdoshihd commented on #13969
seems your company's verification is not yet completed - check a triangle red alert next to search bar

[2020-12-27 05:27] harshdoshihd commented on #13973
I just figured it that the data is converted from IST to PST. Is there any way where it imports as well in IST.

PS: Timezone for all users in new setup as well as old setup is set to IST

[2020-12-27 14:32] line-ankaa opened #13974 "[Question] Count entries of multi-select combo box"
Hello there,

I am really sorry to bother you with my question, because it might seem a bit stupid. I am very new to yetiforce, do not have any programming experience and I am working for a small non-profit organisation (vocational training centre).

I have a module with all data of all my students and I created a multi-select combo box with a list of all the classes that my students might have ta

[2020-12-27 15:49] vovpff commented on #13974
I don't know about workflow but this can be done by simple selfwtitten handler.

[2020-12-28 05:43] JEEVAN28 commented on #13904
@mariuszkrzaczkowski hi, I have migrated from vtiger to yetiforce, I need this functionality, will this be possible via crowdfunding, and if yes what will be the charges.

Thanks in advance.
Regards
Jeevan Pendhari

[2020-12-28 07:08] #13904 closed

[2020-12-28 07:22] #13974 closed

[2020-12-28 09:10] #13955 closed

[2020-12-28 09:14] mariuszkrzaczkowski commented on #13959
![github](https://user-images.githubusercontent.com/10198654/103203581-832ec580-48f5-11eb-977b-359817a35de2.jpg)

[2020-12-28 09:15] #13908 closed, assigned to nobody

[2020-12-28 09:46] rohanjhanepal opened #13975 "Edit fields section not working[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

From a few days, I am not able to do any actions in the edit field section.
Whenever I select that module, suddenly nothing works, not able to click any button.
Non of buttons such as "Add custom block" works.
below is a screenshot of the menu I am talking about.
how do I fix this?

### 🔥 How to trigger the error

### 👎 Actual Behavior

### 👍 Expected Behav

[2020-12-28 09:52] mariuszkrzaczkowski commented on #13975
![github](https://user-images.githubusercontent.com/10198654/103205867-d6574700-48fa-11eb-9c95-1b620433efc5.jpg)

[2020-12-28 11:40] rohanjhanepal opened #13977 "Roundcube installation issue after yetiforce system update"
I am getting following errors while trying to install roundcube although I already have it installed , still yeti is suggesting me to install it again..
ERRORS:
E_WARNING: disk_free_space(): No such file or directory in /home/customer/www/office.koreabazar.com/public_html/app/Utils/ConfReport.php, line 1356

E_WARNING: disk_total_space(): No such file or directory in /home/customer/www/office.kore

[2020-12-28 12:30] mariuszkrzaczkowski commented on #13977
![github](https://user-images.githubusercontent.com/10198654/103214488-cfd3ca00-4910-11eb-937c-2fb454cac526.jpg)

[2020-12-28 13:59] harshdoshihd commented on #13973
Additional Updates:

We selected start date and time  as 28th Dec 10: 20 AM
End date and time as 28th Dec 18:35 PM

The entry got saved as below:
![timecontrol](https://user-images.githubusercontent.com/61234565/103219131-e4c95100-4942-11eb-915b-027eaadbc844.png)

[2020-12-28 15:43] harshdoshihd opened #13978 "Time Control Module Doesnt save date correctly"
Hi Team,

I am trying to save user activity in time control as:

Scenario 1:
Start date: 28th Dec 2020 Start time: 10:00
End Date: 28th Dec 2020 End Time: 1800

Result: Start date: 29th Dec 2020 Start time 10:00
End Date 28th Dec 2020 End Time 18:00

Scenario 2:
Start date: 28th Dec 2020 Start time: 13:00
End Date: 28th Dec 2020 End Time: 1800

Result: Start date: 28th Dec 2020 Start time 10:00
En

[2020-12-28 19:02] KETANBHALERAO opened #13979 "[bug] Compose Email From Contact Record - Unable to select template"
# 🐞 bug report

### ⁉️ Describe the bug

Record level ( Contact/Opportunity/Account ) - Roundcube Compose Email button not working

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to Opportunity & open any opportunity
2. Under Emails widget Click on Email Icon
3. It will Open a new window where user can select either email template or Recipient by clicking on respective ico

[2020-12-28 20:41] mariuszkrzaczkowski commented on #13979
![github](https://user-images.githubusercontent.com/10198654/103242110-76da5500-4955-11eb-8042-c69cabe16a89.jpg)

[2020-12-28 20:43] mariuszkrzaczkowski commented on #13978
![github](https://user-images.githubusercontent.com/10198654/103242194-ab4e1100-4955-11eb-81ad-31bf9ab7c1df.jpg)

[2020-12-28 20:44] mariuszkrzaczkowski commented on #13978
1.attach the missing information
2. what is the user's time zone

[2020-12-29 07:01] mariuszkrzaczkowski commented on #13973
![github](https://user-images.githubusercontent.com/10198654/103264818-1d514500-49ac-11eb-8e3d-27c34daf503e.jpg)

[2020-12-29 07:03] mariuszkrzaczkowski commented on #13973
1. complete the required information
2. What is the user's and system time zone?

[2020-12-29 10:55] JEEVAN28 opened #13981 "How to get Value of specific field from record"
Hi,

We are trying to use CRM and really working for most of requirements. for one of my rquirement, I am trying to write code for custom widget

I am trying to work on copy of Vtiger_RelatedModule_Widget file, where I need to get the parent_id value. I tried to code, but no success. Please assist how do I get parent_id value from record.

Module: Contact
below is code to get record value, I am tr

[2020-12-29 11:06] acuglewski commented on #13536
Przepraszam, że dopiero teraz piszę.

Tak sprawdziłem w tym pliku są wpisy dotyczące np. plkiów svg.

[2020-12-30 10:02] camposfajardo opened #13983 "[bug] 'Edit fields' page broken on ver. 6.1.0"
Hi there,

After the last update to ver. 6.1.0, the page 'Edit fields' has stopped working. The page loads properly but the buttons and fields do not respond. If I change the Module to be edited, it remains on the same page, doesn't update to the fields of another module. If I open it on Brave browser, I receive a message: "Sorry the page is missing."

Any ideas on what could  be causing it?

Chee

[2020-12-30 10:24] davide-alghi commented on #13983
Hi @camposfajardo,
did you install all Service Packs?

[2020-12-30 11:37] mariuszkrzaczkowski commented on #13983
![github](https://user-images.githubusercontent.com/10198654/103348933-bf038f80-4a9b-11eb-8186-9a7c60ba7ec9.jpg)

[2020-12-30 11:37] #13983 closed, assigned to nobody

[2020-12-30 11:39] #13977 closed, assigned to nobody

[2020-12-30 11:39] #13975 closed, assigned to nobody

[2020-12-30 11:40] #13969 closed, assigned to nobody

[2020-12-30 11:40] #13959 closed, assigned to nobody

[2020-12-30 11:42] #13795 closed, assigned to nobody

[2020-12-30 11:43] mariuszkrzaczkowski commented on #13941
Your database is corrupted, I suppose some update wasn't performed properly.

[2020-12-30 11:43] #13941 closed, assigned to mariuszkrzaczkowski

[2020-12-30 12:24] harshdoshihd commented on #13973
Thanks Marius.

While finding the detail info of the problem, came across the solution. Same is the solution for case [#13978](https://github.com/YetiForceCompany/YetiForceCRM/issues/13978)

[2020-12-30 12:24] #13973 closed, assigned to nobody

[2020-12-30 12:28] #13978 closed, assigned to nobody

[2020-12-30 12:29] harshdoshihd commented on #13978
Hi Marius,

The real problem was that during installation I set the time zone as default - New York, the users time zone was set to India (+5:30hrs). Hence the issue popped up.

But, in our case all the users are from India hence, I just changed the default time zone to India - IST. Hence the issue was solved.

But, for any organization who have employees in different time zone, there could be an

[2020-12-30 18:29] z0lo13 commented on #13981
Hello,

$parentRecordId = $this->Record['parent_id']; -  is not valid code to begin with

Tutorial:
**First** you need a Vtiger_Record_Model Instance, there are multiple way of calling it, please consult code.
**Second** with a record Model you can get the value of field.
**Third** your issue is having too less context, but lets say you are creating a widget as it should be, in that case you will

[2020-12-30 20:17] #13981 closed, assigned to nobody

[2020-12-31 09:09] MaxPegankin commented on #13862
SQLSTATE[HY000]: General error: 3780 Referencing column 'attachmentsid' and referenced column 'crmid' in foreign key constraint 'fk_1_vtiger_attachments' are incompatible. The SQL being executed was: ALTER TABLE `vtiger_attachments` CHANGE `attachmentsid` `attachmentsid` INT(10) UNSIGNED NOT NULL AUTO_INCREMENT;.
![ConfReport](https://user-images.githubusercontent.com/54612661/103403248-6bbc3a80-4

[2020-12-31 13:23] rohanjhanepal commented on #13862
how do i fix edit fields not working issue

[2020-12-31 14:09] KETANBHALERAO commented on #13979
Hello Mariusz,

I have updated the issue details
Can I kindly request you to check and advise?

Thanks,
Ketan B

[2020-12-31 14:30] rohanjhanepal commented on #6742
This same problem arised for me in yetiforce 6.0 , i changed all that asked for in #6761 , still doesnt work!!! How do i fix it??

[2020-12-31 15:34] espeoceka commented on #13979
I can confirm this issue exist right now on gitdeveloper.
Steps: go to accounts, click send email from widget, in new mail all buttons fail to open windows with console error.

[2021-01-01 08:26] JEEVAN28 commented on #13981
Hi,
Thanks for help, I recognized this later as record variable is containing only record id value and not entire record set. Done this later.

Regards
Jeevan Pendhari

[2021-01-02 07:39] zimart opened #13990 "[Pytanie-Question] Pobranie vartości pola typu "Picklist" do innego - Getting the value of a "Picklist" field to another"
Czy ktoś podpowiedziałby mi, jak pobrać wartość z pola typu "picklist" lub "picklistfield" w tabeli "inventory - row".
Potrzebuję dodać własne pole o wartości : wartość z pola picklist + wartość innego pola (plik Inventory.js)

----
Could anyone tell me how to get value from "picklist" or "picklistfield" in "inventory - row" table.
I need to add my own field with the value: picklist value + anothe

[2021-01-02 07:50] zimart opened #13991 "[FEATURES] Kopiowanie- pobieranie adresu z danych kontrahenta - Copy-Get Adress from AccountID"
Co stało się z funkcjonalnością kopiowania - pobierania adresu z adresu głównego kontrahenta np w ofertach, zamówieniach.
-
What happened to the copying functionality - retrieving the address from the address of the Account, e.g. in offers, orders.

[2021-01-02 13:12] rioshaz opened #13992 "[bug] PAssword module dont accept password longer then 14 characters"
when u try to enter a new password in the password module its gives the error that password is too long..
i have tested this in gitdeveloper and it also has the same problem.. pls check below..

![image](https://user-images.githubusercontent.com/54880467/103458027-2c2c5480-4d2a-11eb-8818-2c51ba54d779.png)

please share a possible fix... i have already checked admin, security, password configuratio

[2021-01-02 14:22] diderich commented on #13992
Strange!

Configuration in the database does not match configuration displayed in the password setup screen. Changing the data in the password setup screen does not modify the database (although system says that data is saved).

DATABASE
![pwd-db](https://user-images.githubusercontent.com/10230144/103459189-98e52600-4d0d-11eb-9557-d19849fdb5b6.png)

PASSWORD SETUP SCREEN
![pwd-set](https://user-im

[2021-01-02 19:17] mariuszkrzaczkowski commented on #13992
https://gitdeveloper.yetiforce.com/index.php?module=OSSPasswords&view=ConfigurePass&parent=Settings

[2021-01-02 19:17] #13992 closed, assigned to nobody

[2021-01-03 10:15] apcloic commented on #13991
@zimart Hi,
Check this #13943
Regards

[2021-01-03 10:20] apcloic commented on #13990
@zimart
Hi, you'd better post your question on discussions tab, Issues section is now only for bugs.
You may have missed the following announcement
#13908
Regards,

[2021-01-04 02:54] samuelsituma opened #13993 "GDN and GRN Modules"
The process of updating the number of products is long, one has to fill the GRN for the product's quantity and GDN when a product is sold. Can one update the quantity without going through GDN and GRN Modules? Or can they be diactivated?

[2021-01-04 06:20] mariuszkrzaczkowski commented on #13993
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-01-04 06:20] #13993 closed, assigned to nobody

[2021-01-04 06:20] #13990 closed, assigned to nobody

[2021-01-04 06:23] #13991 closed, assigned to nobody

[2021-01-04 07:26] ciberfox commented on #13862
@rohanjhanepal
yes, i know version 6.0 has several bugs, but it is possible to upgrade an environment in production.
The fix could be, delete the query from the update file but not then run into further problems.
I'm not the only one with this update error.

[2021-01-04 14:36] Sall2 opened #13997 "[bug] Po aktualizacji nie można się zalogować (czyszczenie cookies nic nie daje)"
Witam,
po aktualizacji z 5.3.0 do 6.0.0 system nie przyjmuje danych logowania, po wpisaniu nazwy użytkownika i hasła próbuje wczytać jednak po ułamku sekundy wraca do ekranu logowania.
Na zmyślone dane logowania reaguje tak samo.
Logi błędów nie generują się, powstają tylko pliki session w cache\session
Nie generują się żadne cookies ani dane lokalne

Po przywróceniu plików na serwerze można się z

[2021-01-04 14:47] bpabiszczak commented on #13997
Należy włączyć logi i sprawdzić czemu system odrzuca logowania.
Ewentualnie można zresetować hasło.

[2021-01-04 16:21] Sall2 commented on #13997
Zamiast poprawnych danych prywatnych są XXXXXXXXXX:
System.log:
"2021-01-04 17:13:07.6687 [info][yii\db\Connection::open] - Opening DB connection: mysql:host=XXXXXXXXXXX;dbname=XXXXXXXXXX;port=3307
2021-01-04 17:13:07.6699 [info][yii\db\Command::query] - SELECT * FROM `a_yf_bruteforce` LIMIT 1
2021-01-04 17:13:07.6717 [info][yii\db\Command::query] - SELECT `id` FROM `a_yf_bruteforce_blocked` WHERE

[2021-01-04 18:58] Sall2 commented on #13997
Ok, mam dalsze informacje, miałem jeszcze jedną instancję na serwerze w ramach testu zrobioną. Wgrałem aktualizację do 6.0.0, weszła cała, następnie bez przelogowywania się zrobiłem update języków, i wszystkie aktualizacje aż do najnowszej. System działał bez problemu, aż do pierwszego wylogowania się. Później to już jak powyżej.
Log wygląda praktycznie tak samo.

Jak zresetować hasło? Przez bazę?

[2021-01-04 19:37] bpabiszczak commented on #13997
Weryfikacja i naprawa tego, to pewnie 15 min [o ile jest co naprawiać]. Ale aby to rozwiązać, trzeba się zalogować na serwer i programista musi sprawdzić problem. Możemy to zrobić o ile masz wykupione godzina wsparcia, jeżeli nie to będzie trzeba poczekać aż będziemy mieli chwilę czasu i na to zerkniemy na podstawie danych które tutaj podałeś.

[2021-01-04 20:25] jabaa commented on #13917
I have the same problem using docker-compose. I checked out commit c429cf005dcea6f8dbea0bb9fff8dc6b3ded7903 and started the server with `docker-compose up -d`. I got the the same error regarding

[code]

I checked the nginx log in the docker container with

[code]
and got

[code]
The first path `/var/www/html/vendor/../../licenses/MIT.txt` resolves to `/var/www/licenses/MIT.txt` and doesn't exist.

[2021-01-05 09:52] oleg-melnic opened #14002 "How can I add my own widget?"
I would like to create my chat widget, realized differently from yours. Where can I find out how to do this.
Maybe some documentation on this topic ...
Thanks in advance for your help!

[2021-01-05 10:18] mariuszkrzaczkowski commented on #14002
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-01-05 10:18] #14002 closed, assigned to mariuszkrzaczkowski

[2021-01-05 10:47] klexit opened #14003 "[bug][adding user] Typo in polish copy "kontaków""
YetiForce.com [ver. 6.1.0]
1. Go to settings
2. Go to users
3. Add new user
4. Scroll to section: Integracja z DAV
5. Frist polish translation paragraph with typo

![image](https://user-images.githubusercontent.com/61927217/103636320-172e0c00-4f4a-11eb-92cb-f02dbdfcaad4.png)
![image](https://user-images.githubusercontent.com/61927217/103636382-2d3bcc80-4f4a-11eb-9f93-066158bfae8b.png)

[2021-01-05 10:51] mariuszkrzaczkowski commented on #14003
![image](https://user-images.githubusercontent.com/10198654/103637853-61b08800-4f4c-11eb-84e9-a19bb6073159.png)

[2021-01-05 10:51] mariuszkrzaczkowski commented on #14003
https://gitdeveloper.yetiforce.com/index.php?module=Users&parent=Settings&view=Edit

[2021-01-05 10:55] klexit commented on #14003
https://www.loom.com/share/615118a0179f4a6fa2df4b4e4a1fe7be

[2021-01-05 11:13] rskrzypczak commented on #14003
Dzięki, aczkolwiek tłumaczenia realizowane są przez platformę [crowdin](https://crowdin.com/project/yetiforcecrm) i tam należy zgłaszać uwagi.

[2021-01-05 11:13] #14003 closed, assigned to nobody

[2021-01-05 11:30] KatarzynaUlichnowska commented on #14003
Dziękujemy za zwrócenie uwagi na literówkę. Zachęcamy do dołączenia do naszej społeczności i korzystania z platformy Crowdin, gdzie samemu można sugerować poprawki lub dodawać całe tłumaczenia. Podaje link do języka [polskiego](https://crowdin.com/translate/yetiforcecrm/all/en-pl?filter=basic&value=0)
A [tutaj ](https://yetiforce.com/pl/baza-wiedzy/dokumentacja/dokumentacja-wdrozeniowa/item/dodawa

[2021-01-05 12:47] Sall2 commented on #13997
Ok, posprawdzam jeszcze, wykupionych godzin nie mam, ale postawiłem od nowa cały crm w celach testowych z wersji 6.1.0 complete i po instalacji jest to samo, nie można się zalogować, z poprzednimi wersjami nie było takich problemów, coś musiało się mocno zmienić.
Raczej wina konfiguracji serwera tak jak mówisz, ponieważ sprawdziłem na hostingu współdzielonym i jest wszystko ok, mimo, że tam parame

[2021-01-06 20:41] kamiro16 commented on #13740
Hi,
thanks you for this integration.
I trying use this but i have problem with:

1. require_once( __DIR__ . '/includes/YetiREST/vendor/autoload.php');
**I downloading YetiREST but dont have autolad.php file, where can i get this? Its obligatory?**

Best Regards,

[2021-01-07 10:23] te-deum commented on #13941
Here is why I may leave Yetiforce CRM !! A trouble that break database when migrating from a version to another and no more help than this ! The product is not stable enough to work with it in a production enterprise.

I loosed so much time with YetiForce... I am very disappointed.

[2021-01-07 11:42] harshdoshihd opened #14016 "Issue with Values from Related Module"
Hello,

I am currently using Yetiforce 6.1 where in we are trying to create a chart to calculate the values of project managed by a Project Manager.

We have a business development team who generates business and fill Opportunities module and a separate Project Management Team who execute closed projects.

I tried to pull Project Manager's name in Opportunities filter but it is showing me user id

[2021-01-07 12:40] #13224 closed, assigned to bpabiszczak, areksolek

[2021-01-07 13:52] hilligsmann commented on #6405
Done.

Von: Błażej Pabiszczak <notifications@github.com>
Gesendet: Dienstag, 22. Dezember 2020 22:35
An: YetiForceCompany/YetiForceCRM <YetiForceCRM@noreply.github.com>
Cc: hilligsmann <info@emotion-artists.com>; Mention <mention@noreply.github.com>
Betreff: Re: [YetiForceCompany/YetiForceCRM] Need Help in recovering admin password (#6405)

please send access to crm sla@yetiforce.com <mailto:sla@y

[2021-01-07 15:43] rohanjhanepal commented on #13969
what more info do you need?? lots of people are facing the same problem. To simplify for you, whenever I go to edit field section, none of the buttons works, for example clicking on "Add custom block" does nothing at all

[2021-01-07 16:10] mariuszkrzaczkowski commented on #13969
![github](https://user-images.githubusercontent.com/10198654/103915262-45a71500-510b-11eb-84e4-085df5c3ac15.jpg)

[2021-01-08 12:39] ja573 opened #14022 "[Docker] Split services into different containers"
I was about to deploy Yeti using docker to try it out but realised that the Dockerfile is configured to install and run the APP, the webserver and the database all in the same container. This heavily disencouraged as per [Docker's best practices](https://docs.docker.com/develop/develop-images/dockerfile_best-practices/#decouple-applications)

[2021-01-08 12:42] ja573 commented on #13415
Documentation doesn't specify what volumes should be set up in order to persist data. This is partially related to #14022 - decoupling the various services would make it easier to understand what directories need to be persisted

[2021-01-08 14:54] davide-alghi opened #14023 "[bug] "Date smaller than now" or "Date greater than now", about datetime field, issues error"
# 🐞 bug report

if a "Date smaller than now" or "Date greater than now" comparison operator is used for a datetime field into a workflow condition, it issues an error on entity save

### 🔥 How to trigger the error

here video from github developer instance

https://user-images.githubusercontent.com/48508691/104028558-25d62680-51c9-11eb-80bd-8ff18ea68bfc.mp4

### 👎 Actual Behavior

stops with error

[2021-01-09 01:10] theGera commented on #13140
some time ago I installed yetiforce and it was precisely because of that integration with prestashop.

Leave yetiforce, because we focus on having the perfect prestashop to integrate with yetiforce.

this year it was the idea of using yetiforce and prestashop .. and I find that it no longer exists :-(

It is correct and they have said that no one was interested. if it was only for a while and they

[2021-01-09 07:10] samuelsituma commented on #11859
@vovpff  can we remove the GRN and GND its time consuming and makes it hard for someone to update the product quantity , When a product is sold the system should update automatically instead of someone filling GDN again.

[2021-01-09 07:32] vovpff commented on #11859
@samuelsituma You can do every thing what you want. But you need to understand your task isn't easy process like uncheking checkbox, you need to change system core files and this affects to whole system. This can be big fault.

Other bad thing: system update will overwrite your modifications

[2021-01-09 12:43] gogroupvn opened #14027 "[bug] Cant select a field that has a date type in widget"
Cant select a field that has a date type in widget
### 🔥 How to trigger the error

click to field dateranger in widget

### 👷 Testing

- [x] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot of configuration

https://user-images.githubusercontent.com/19627226/104091813-82f9d700-52b2-11eb-91d2-23ac6

[2021-01-09 12:44] gogroupvn opened #14028 "[bug] Cant select a field that has a date type in widget"
Cant select a field that has a date type in widget
🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅-->

### 👷 Testing

- [x] I confirm that I tested it at https://gitstable.yetiforce.com
- [x] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot of configuration

https://user-images.githubusercontent.com/19627226/104091898-0b787780-52b3-11eb-82bf-bd073871c6ce.mov

### 🌍 Your Environ

[2021-01-09 12:45] #14027 closed, assigned to nobody

[2021-01-11 11:25] ad1rie1 commented on #6538
Any News ?

[2021-01-11 13:02] e-instytucja opened #14031 "product list"
Hi Team,

when trying to add a product or service in the calculation or offer, I cannot select the available products, but only add a new product:
![image](https://user-images.githubusercontent.com/57725994/104185684-95405600-5415-11eb-9540-8a864bebc4be.png)

products:
![image](https://user-images.githubusercontent.com/57725994/104185600-78a41e00-5415-11eb-9114-1f4423352be4.png)

Is it possible to

[2021-01-11 13:55] vovpff commented on #8549
@harshdoshihd this value should be greater or smaller than 10000?

[2021-01-11 14:22] crawe1 commented on #3171
Hello,

I don't want to create a new issue but i see your comment @bpabiszczak. You sed "The FIFO, LIFO, EFO method is crucial in the whole storage process, that the entire storage is based on." tell me wthat method is implemented od storage in yeti ?
I have a problem with situation:
1) I bought this same product from twice other provider
2) once thist product cost 100 dolars, once thist product c

[2021-01-11 14:53] hilligsmann commented on #6405
Hello,

no, the problem is still not solved.

I sent you all necessary access data as requested. Could you please help?

Many, many thanks!!!!

Daniel

Von: Arvind GK <notifications@github.com>
Gesendet: Mittwoch, 23. Dezember 2020 13:29
An: YetiForceCompany/YetiForceCRM <YetiForceCRM@noreply.github.com>
Cc: hilligsmann <info@emotion-artists.com>; Mention <mention@noreply.github.com>
Betreff: Re:

[2021-01-11 16:05] samuelsituma opened #14034 "Yetiforce crm customer portal not working"
Hi am trying to set up the customer portal and it's not working the configurations seem fine but am getting these errors on the error log file, any solution to this, please?

[11-Jan-2021 18:38:07 Africa/Nairobi] PHP Deprecated:  Methods with the same name as their class will not be constructors in a future version of PHP; nusoap_base has a deprecated constructor in /home/vacademy/public_html/cust

[2021-01-11 17:42] harshdoshihd commented on #8549
Equals to 10000 or may be greater than that

I have a shared server, dont know how do I update the Cron [CLI] settings to 10000 due to which even I am unable to update certain permissions. But this has worked in my test environment as I have complete control over test environment.

[2021-01-11 19:04] mariuszkrzaczkowski commented on #14034
Which site did you download the customer portal?

[2021-01-11 19:10] samuelsituma commented on #14034
i downloaded the customer portal here

https://github.com/YetiForceCompany/YetiForcePortal/releases

On Mon, Jan 11, 2021 at 10:04 PM Mariusz Krzaczkowski <
notifications@github.com> wrote:

[2021-01-11 20:15] mariuszkrzaczkowski commented on #14034
This portal worked with version 3.2

[2021-01-11 20:15] #14034 closed, assigned to nobody

[2021-01-11 20:16] mariuszkrzaczkowski commented on #14034
Currently, there is no stable version of the portal, only the development version

[2021-01-11 21:39] samuelsituma commented on #14034
Noted thanks for that clarification

On Mon, Jan 11, 2021, 11:16 PM Mariusz Krzaczkowski <
notifications@github.com> wrote:

[2021-01-12 05:50] Hernandesz commented on #11437
Did you fix the issue, i really have problems with this type o problem, need hel how to fix the problem please!

[2021-01-12 06:41] mariuszkrzaczkowski commented on #6405
@hilligsmann I have reset your password, check your email

[2021-01-12 07:54] mariuszkrzaczkowski commented on #14031
https://github.com/YetiForceCompany/YetiForceCRM/issues/13795 https://github.com/YetiForceCompany/YetiForceCRM/issues/13846
![github](https://user-images.githubusercontent.com/10198654/104285384-d6874300-54b3-11eb-9a0d-2d392ae090e1.jpg)

[2021-01-12 07:54] #14031 closed, assigned to nobody

[2021-01-13 10:46] samuelsituma commented on #14034
Hello  can yeti force CRM compare sales, month by month, year by year or
any period of interest

On Tue, Jan 12, 2021 at 12:39 AM Samuel Situma <samuelsituma.ss@gmail.com>
wrote:

[2021-01-13 12:05] simple-AMS commented on #12958
@bpabiszczak I get the part on how to setup the Imap servers by just keep adding them. However, the SMTP server though how do you add all the ones to match all the new IMAP servers that have been added?

[2021-01-13 12:07] simple-AMS commented on #10467
Actually @mariuszkrzaczkowski How do you add the multiple SMTP servers to match all of the Imap servers that were added? I'm trying to accomplish this in the new 6.1.0 version. Thank you!

[2021-01-13 13:01] mariuszkrzaczkowski commented on #10467
there is no easy way to do it :(
https://www.google.com/search?q=roundcube+multiple+SMTP+servers&oq=roundcube+multiple+SMTP+servers

https://gist.github.com/kimbtech/b6b08f1778420766ee1a2d24117d4871
https://github.com/roundcube/roundcubemail/issues/6129

[2021-01-13 13:07] simple-AMS commented on #10467
@mariuszkrzaczkowski I'm learning that. It works fine in version 5.3.0 but with that said I have two domains that are pretty identical and are on the same server and for the most part the server settings are the exact same. The email server is on the same server for both accounts.

The one I'm needing help with at the moment however is one email address on Office365 business email and the other is

[2021-01-13 13:14] mariuszkrzaczkowski commented on #10467
look at this
![image](https://user-images.githubusercontent.com/10198654/104456858-930f0080-55a9-11eb-8ae5-f41f88f6c0f3.png)

[2021-01-13 20:17] johniexxx opened #14041 "[Question] Update to PhpSpreadsheet (1.15.0)"
Hello
I tried to update the library to 1.16.0 and the XSS Vulnerability in HTML Writer and the issue still exists.
Can anyone give me guide with the update?

Thank you

[2021-01-14 01:59] simple-AMS commented on #10467
@mariuszkrzaczkowski Thanks but that doesn't work because again we have some on Microsoft Office 365 business email and some on G Suite Google business email addresses.

The picture you sent would work if everyone was only on Gmail, however that is not the case.

The most current version of VTiger has the ability to use 100's of SMTP servers so I don't understand why it's so hard to accomplish thi

[2021-01-14 07:59] mariuszkrzaczkowski commented on #14041
https://github.com/YetiForceCompany/YetiForceCRM/discussions/13996

[2021-01-14 07:59] #14041 closed, assigned to mariuszkrzaczkowski

[2021-01-14 09:28] apcloic commented on #13740
@kamiro16
You forgot to install dependencies with composer.
https://getcomposer.org/doc/01-basic-usage.md

[2021-01-14 09:37] kamiro16 commented on #13740
@apcloic

thanks for answer.
Can u help me on private message?
I will repay you.

[2021-01-14 09:58] ad1rie1 commented on #11437
the patch writed by @mariuszkrzaczkowski  as fixed the issue for me, maybe update your yetiforce ;)

[2021-01-14 10:48] apcloic commented on #13740
@kamiro16 Sorry, I'm not a developer.
If you need help with this, post your question on Discussions section and I will try to help.
https://github.com/YetiForceCompany/YetiForceCRM/discussions

[2021-01-14 10:48] #13740 closed, assigned to nobody

[2021-01-15 08:37] vovpff opened #14045 "[bug] PDF watermark doesn't parse variables"
# 🐞 bug report

### ⁉️ Describe the bug

Any variable what inserted to PDF watermark field rendered as usual text in generated PDF

### 🔥 How to trigger the error

Fill watermark content with variable

![image](https://user-images.githubusercontent.com/8545791/104700600-7992c380-5725-11eb-803a-2558cb993785.png)

### 👎 Actual Behavior

Result

![image](https://user-images.githubusercontent.com/8545

[2021-01-15 08:38] ad1rie1 opened #14046 "[bug] Error when delete multiple categorie"
# 🐞 bug report

### ⁉️ Describe the bug

Error when you delete multiple categorie at the same time

### 🔥 How to trigger the error

Steps to reproduce the behavior:

When you go in Setting -> Standard Module -> Field - Folder -> Edit "Categorie of product  module".

When you delete only one categorie and save, it's Ok

When you delete two or more categorie and save , go error

4. See error

### 👎

[2021-01-15 14:13] Andr198 commented on #13862
Problem because we use Mysql
Foreing keys must be the same typr as the id they are referencing.

Еhere will be fixes or need to migrate to MariaDb ???

[2021-01-15 14:43] mariuszkrzaczkowski commented on #13862
I do not recommend

All your issues result from incorrect updates that YOU HAVEN'T FIXED but you keep using the CRM and keep blaming us!!!

The SQL being executed was: ALTER TABLE `vtiger_attachments` CHANGE `attachmentsid` `attachmentsid` INT(10) UNSIGNED NOT NULL AUTO_INCREMENT;|#0 /home/buco/domains/british-utilities.co.uk/public_html/crm1/vendor/yetiforce/yii2/db/Command.php(1295): yii\db\Sche

[2021-01-15 15:03] ciberfox commented on #13862
Hi, my system was installed starting from version 5.2. I am attaching the screen

![image](https://user-images.githubusercontent.com/22546170/104742819-36e3e200-574b-11eb-99ba-826ffbddae77.png)

[2021-01-15 15:09] LaurensCleyman commented on #13706
thanks @vdpawel to point me in the right direction ;-)

[2021-01-15 15:14] apcloic commented on #11756
FYI, this PDF mod no longer works with YF current version (6.1.23) and it breaks PDF generation.
You could simply restore original version of app/PDF/YetiforcePDF.php
Too bad but I will try to debug later.

[2021-01-15 20:27] rskrzypczak commented on #13862
YetiForce version 5.3 is not fully compatible with MySQL 8 (mainly because of yii2, which is not compatible with it.) and PHP7.4.
I advise against performing the update on this configuration.
If you insist, upload this patch https://github.com/yiisoft/yii2/commit/f1aaa0de89c017d58afbd565d3ec3529fad6b4ea which should fix the problem https://github.com/YetiForceCompany/YetiForceCRM/issues/13862#issu

[2021-01-15 20:27] #13862 closed, assigned to rskrzypczak

[2021-01-16 12:32] rioshaz opened #14052 "[bug] notification not working"
Notification content is messed up..

Have tested on https://gitdeveloper.yetiforce.com/ and when assigning a project task to another user.. the system gives a strange error ..can anyone please help..

normal behaviour:  its should give proper notification with changes link and module name

![image](https://user-images.githubusercontent.com/54880467/104811898-a083ef00-5824-11eb-878f-ebcd6da2882b.pn

[2021-01-16 18:32] samuelsituma opened #14053 "Total invoices on list view"
How can I display Total invoices on the list view under accounts module?
![Capghture](https://user-images.githubusercontent.com/46498594/104820025-26169780-5843-11eb-9013-cba81f03e86d.PNG)

[2021-01-16 18:58] mariuszkrzaczkowski commented on #14053
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-01-16 18:58] #14053 closed, assigned to mariuszkrzaczkowski

[2021-01-17 10:18] samuelsituma opened #14057 "Tracking sales stage change"
How can I know the period  it took for an opportunity to be closed in yetiforce CRM

Thanks

[2021-01-17 15:53] fbojan commented on #14052
https://github.com/YetiForceCompany/YetiForceCRM/issues/12031

[2021-01-17 20:10] rioshaz commented on #14052
@fbojan what point r u trying to make ?
 your comment doesnt solve the bug... its a system-generated notification.. you cant find it in workflows...

[2021-01-18 06:57] rskrzypczak commented on #14057
You can use  'Field history and duration summary' widget.
![image](https://user-images.githubusercontent.com/10221999/104882078-b3044280-5962-11eb-8327-7b054a55278a.png)

Please use “Issues” only for reporting bugs, errors, and “Discussions” to everything else (https://github.com/YetiForceCompany/YetiForceCRM/issues/13908)

[2021-01-18 06:57] #14057 closed, assigned to nobody

[2021-01-18 08:58] mariuszkrzaczkowski commented on #14052
https://user-images.githubusercontent.com/10198654/104893415-b18f4600-5973-11eb-8506-3fa662c068e3.mp4

[2021-01-18 08:58] mariuszkrzaczkowski commented on #12031
https://user-images.githubusercontent.com/10198654/104893427-b5bb6380-5973-11eb-9d61-01bd2df5d605.mp4

[2021-01-18 09:02] apcloic commented on #11756
Ok, I've just re-add ghostscript dependencies which was removed by the upgrade process and now it's working again.
`php composer.phar require gravitymedia/ghostscript:dev-master`
Unfortunately I don't know how to make symfony external package upgrade-safe
Regards

[2021-01-18 09:12] rioshaz commented on #14052
@mariuszkrzaczkowski yes i know i can create a custom notification... but why do i need to create a workflow when this (project task notification) is a system notification.?

also workflows get executed after a fix interval of time but notifications are instant.... so i cant understand what are you trying to say here...

i dont know what more info you need here sir..

i have tested this on gitdeve

[2021-01-18 10:20] vovpff commented on #14045
@mariuszkrzaczkowski Any ideas?

[2021-01-18 10:22] mariuszkrzaczkowski commented on #14045
show HTML

[2021-01-18 10:44] vovpff commented on #14045
@mariuszkrzaczkowski do you mean source?
![image](https://user-images.githubusercontent.com/8545791/104905333-40f82180-5993-11eb-9d99-3918bc6e8a7d.png)

[2021-01-18 11:13] #14045 closed, assigned to mariuszkrzaczkowski

[2021-01-18 11:13] mariuszkrzaczkowski commented on #14045
Check if it works properly

[2021-01-18 12:44] vovpff commented on #14045
@mariuszkrzaczkowski now it parse variables but other bad thing found.
Line breaks ignored inside span

[code]

If subject is `AAA` then watermark returned as

[code]

instead

[code]

I need to add new issue?

[2021-01-18 14:26] samuelsituma commented on #14057
Thank you so much for the response but I can't see Field history and
duration on the widget list where can I find it ?

Regards.

On Mon, Jan 18, 2021, 9:58 AM Radosław Skrzypczak <notifications@github.com>
wrote:

[2021-01-18 15:29] rskrzypczak commented on #14057
https://gitdeveloper.yetiforce.com/index.php?module=Widgets&parent=Settings&view=Index
Available: YF v.6+

[2021-01-18 19:01] mariuszkrzaczkowski commented on #14045
Yes

[2021-01-18 19:06] vovpff commented on #14045
Ok. I will post it tomorrow

[2021-01-18 21:14] samuelsituma commented on #14057
Thanks I have upgraded to v6+ ,I can I see the widget added to the module
but it's not displaying .. what's the procedure to help me display it on
the dashboard?

On Mon, Jan 18, 2021, 6:29 PM Radosław Skrzypczak <notifications@github.com>
wrote:

[2021-01-19 03:58] vovpff commented on #14057
Try to clear browser cache at first.

[2021-01-19 05:19] samuelsituma commented on #14057
I have cleared but still doesn't display

On Tue, Jan 19, 2021, 6:58 AM Vladimir <notifications@github.com> wrote:

[2021-01-19 05:24] samuelsituma commented on #14057
Can you show me the procedure of how you are doing it maybe am doing
something wrong thank you

On Tue, Jan 19, 2021, 8:19 AM Samuel Situma <samuelsituma.ss@gmail.com>
wrote:

[2021-01-19 07:41] vovpff opened #14067 "[bug] PDF Watermark ignore line breaks inside span"
# 🐞 bug report

### ⁉️ Describe the bug

Line breaks ignored inside span

[code]

### 👎 Actual Behavior

If subject is `aaa` then watermark returned as

[code]

### 👍 Expected Behavior

[code]

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot of configuration

### 📝 PHP/Apache

[2021-01-19 07:43] vovpff commented on #14057
@samuelsituma what procedure yo mean?
Are your update process was successful?

[2021-01-19 08:25] JEEVAN28 opened #14068 "[bug] Entered Invalid Phone Number"
# 🐞 bug report

### ⁉️ Describe the bug
I am facing issue on my installation. I check this on gitdeveloper, but has same issue. I am trying to put phone number of account in primary phone field +88029822217 same is treated as Invalid. Not able to figure out what is the problem.

![image](https://user-images.githubusercontent.com/12723595/105007056-808b4000-5a5d-11eb-8422-c52469b9bfdc.png)

![image

[2021-01-19 09:01] samuelsituma commented on #14057
yes it was successful but  the widget is not showing and i have added it i
want the steps you followed to show this widget

On Tue, Jan 19, 2021 at 10:44 AM Vladimir <notifications@github.com> wrote:

[2021-01-19 09:05] mariuszkrzaczkowski commented on #14068
https://github.com/giggsey/libphonenumber-for-php/issues/424#issuecomment-762701546

Google's demo also returns false for this number: https://libphonenumber.appspot.com/phonenumberparser?number=%2B88029822217&country=BD

[2021-01-19 09:05] #14068 closed, assigned to mariuszkrzaczkowski

[2021-01-20 06:47] JEEVAN28 opened #14074 "[Feature] ... Opportunity Mapped Product & Services in Quotation"
Hello,

It will be helpful for user if Products selected or mapped in Opportunity is auto populated in Quotation. Currently user has to select products manually. This becomes cumbersome when items are more than 10

![image](https://user-images.githubusercontent.com/12723595/105137427-48493780-5b19-11eb-8d7c-e1e3ff2c3632.png)

![image](https://user-images.githubusercontent.com/12723595/105137501-66

[2021-01-20 07:09] JEEVAN28 opened #14075 "[Issue] Mobile number truncate + prefix automatically"
Hello,

I am facing issue on my server where mobile number entered is auto removing + prefix from country code same is not happening in phone field. I checked in gitdeveloper but same is correct here,

![image](https://user-images.githubusercontent.com/12723595/105139366-37e68c00-5b1c-11eb-8323-50dc6c1e966f.png)

issue on my server.
Data Entered
![image](https://user-images.githubusercontent.com/1

[2021-01-20 07:31] #14074 closed, assigned to mariuszkrzaczkowski

[2021-01-20 07:53] rioshaz commented on #14052
can u please tell me how to fix this problem.. its very urgent sir...

[2021-01-20 08:24] JEEVAN28 opened #14077 "[Issue] Copy from Account / Contact address in Quote Module not Found"
We have address in Account master.
While creating Quote, I have selected Account but could not found Copy from Account Button
![image](https://user-images.githubusercontent.com/12723595/105146895-797c3480-5b26-11eb-88d3-33c71dca151a.png)

Same is available on gitdeveloper,  but not showing button here also which settings need to be configured.

![image](https://user-images.githubusercontent.com/12

[2021-01-20 08:56] crawe1 commented on #13617
How can I know in YF if a record is new or edited in a workflow? then he will be able to write the condition  on my custom function $ recordModel-> isNew = false; or $ recordModel-> isNew = true;
:)

[2021-01-20 09:15] davide-alghi commented on #13617
simply check $recordModel->isNew
[code]

sorry, what does this mean? I don't understand :(

[2021-01-20 09:56] crawe1 commented on #13617
@davide-alghi
I have a one Coustom Function in workflow when create or edit records in module.
for example:
`

class FInvoiceWorkflowClass
{
function FInvoiceWorkflow(Vtiger_Record_Model $recordModel)
{

	$relatedModuleName1 = 'Kontabankowe';
	$recordId1 = $recordModel->get('faktury_konto');
	$relRecordModel1 = Vtiger_Record_Model::getInstanceById($recordId1, $relatedModuleName1);

	$komtowar = $r

[2021-01-20 10:30] davide-alghi commented on #13617
Are you trying to create a custom task for workflow?
Is "FInvoiceWorkflowClass"  the new workflow tasks?
is the containing php file into ```modules/com_vtiger_workflow/tasks``` folder?
and did you added this custom task in com_vtiger_workflow_tasktypes table?

If all replies are 'Yes', please paste here full file code, so it is easier to understand, or attach it.

[2021-01-20 11:54] apcloic commented on #14077
@JEEVAN28
#13943

[2021-01-20 12:06] #14077 closed, assigned to nobody

[2021-01-20 16:55] crawe1 commented on #13617
4 x yes
you can try add new workflow task (create (for new and edit task) and in your custom functions add this and tell me if you duplicate entry ?

class <yourclasname>Class
{
function <your function name>(Vtiger_Record_Model $recordModel)
{

$recordModel->set('<name of text field_name>', "testtesttest");

$recordModel->setHandlerExceptions(['disableWorkflow' => true]);
$recordModel->isNew = fal

[2021-01-21 01:15] crawe1 commented on #13617
![image](https://user-images.githubusercontent.com/61950059/105260538-3e155080-5b8e-11eb-8447-efc0d053cc12.png)
the custom function works when editing record but it doesn't work anymore when creating a new record, why?

---------------------------------------------

when creating a new one (workflow task only for create new):
![image](https://user-images.githubusercontent.com/61950059/105260474-25

[2021-01-21 06:34] JEEVAN28 opened #14080 "[Issue] Not able to configure Internal Mail Server in SMTP Configuration"
Hello,

I am trying to configure my Internal Mail Server (this server can not send email outside). Outlook settings worked with **Safety protocol none** but not working in YF. Error shown is

ERROR!!!
LBL_NO_EMAIL_TEMPLATE

Screen shot of setting is as below
![image](https://user-images.githubusercontent.com/12723595/105299842-ae4cc200-5be0-11eb-940d-0ddf997ff956.png)

Kindly assist in the matter.

[2021-01-21 06:50] rskrzypczak commented on #14080
You have deleted the email template that is required to verify the configuration ([link](https://gitdeveloper.yetiforce.com/index.php?module=EmailTemplates&view=List&viewname=105&page=1&orderby=%5B%5D&entityState=Active&search_params=%5B%5B%5B%22name%22%2C%22a%22%2C%22Test%20mail%20about%20the%20mail%20server%20configuration.%22%5D%5D%5D)).
You have to recreate it, but you won't only do it from th

[2021-01-21 07:04] davide-alghi commented on #13617
Hi,
in my previous example I already showed you to use a clone.
[code]
start from here
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/modules/com_vtiger_workflow/tasks/VTUpdateFieldsTask.php
and change only filename and classname (adjust values in com_vtiger_workflow_tasktypes table)
after change code about your needs.

PS "fieldValueMapping" are values from configuration GUI of t

[2021-01-21 07:25] JEEVAN28 commented on #14077
@mariuszkrzaczkowski Hello, updated code but still not working.

![image](https://user-images.githubusercontent.com/12723595/105317244-fd4a2580-5be7-11eb-8c89-3ce35c14c985.png)

I checked on Gitstable also, same issue noticed.

Regards
Jeevan Pendhari

[2021-01-21 08:01] #14080 closed, assigned to rskrzypczak

[2021-01-21 09:03] crawe1 commented on #13617
its amazing !
Think u so mutch !!! works well with create and edit.

[2021-01-21 10:59] maluhub opened #14081 "CVE-2020-7776 phpoffice podatność/vulnerability"
Podatności w bibliotekach
Wykryto podatności w bibliotekach zalecamy szybką ich aktualizację.
Podatności:
phpoffice/phpspreadsheet(1.15.0):
XSS Vulnerability in HTML Writer CVE-2020-7776

[2021-01-21 11:02] mariuszkrzaczkowski commented on #14081
https://github.com/YetiForceCompany/YetiForceCRM/issues/13266

[2021-01-21 11:02] #14081 closed, assigned to mariuszkrzaczkowski

[2021-01-21 11:04] maluhub commented on #14081
@mariuszkrzaczkowski Przecież to inna podatność, w najnowszej używanej wersji biblioteki. Czemu duplikat?

[2021-01-21 11:14] mariuszkrzaczkowski commented on #14081
pomyłka miał być ten link
https://github.com/YetiForceCompany/YetiForceCRM/discussions/13996

[2021-01-21 14:59] #10237 closed

[2021-01-21 15:11] Andr198 opened #14082 "Сhat message in Ticked do not reach the user"
# 🐞 bug report

### ⁉️ Describe the bug

When adding a chat message in Ticked with a user tag messages do not reach the user

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'Ticked-Chat'
2. Click on 'user tag '
3. Add user 'YetiForce Guest' and  Test
4. Exit and login for user YetiForce Guest after 5 min
![yeti1](https://user-images.githubusercontent.com/62097187/105368

[2021-01-22 06:28] samuelsituma opened #14083 "Error when editing fields"
I get this error when I try to edit fields in yetiforceCRM v 6.1 what could be the problem.
![CaptuJJKKSre](https://user-images.githubusercontent.com/46498594/105455118-0abce980-5c94-11eb-869c-7fdbba347df6.PNG)

[2021-01-22 06:43] mariuszkrzaczkowski commented on #14083
![github](https://user-images.githubusercontent.com/10198654/105456486-86fc0080-5c85-11eb-84a4-b96a605b41b6.jpg)

[2021-01-22 10:48] JEEVAN28 commented on #14080
Ohh, Yes your are right. Templates were deleted. Now restored.

Thanks for help
Jeevan Pendhari

[2021-01-22 11:02] Andr198 commented on #13862
Thank you. Рatch worked.

[2021-01-23 07:24] JEEVAN28 commented on #14075
Issue resolved, can not figure out what went wrong. Closing this Issue

[2021-01-23 07:24] #14075 closed, assigned to nobody

[2021-01-23 07:26] JEEVAN28 opened #14090 "Copy Values from Account Module to Contact Module"
Hello,

I am searching for code similar to Copy Account Address to copy more custom fields from parent account module to Contact Module while creating contact record.

please help me.

Regards
Jeevan Pendhari

[2021-01-23 08:37] mariuszkrzaczkowski commented on #14090
https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

[2021-01-23 08:37] #14090 closed, assigned to mariuszkrzaczkowski

[2021-01-24 12:32] kamiro16 opened #14092 "Webservice - 401 wrong credentials [bug]"
Hi,
i have problem with wrong credentials (webservice).
I was created webservice and user.
Trying to connect http://crm.pl/webservice/user/login
My integration cannot transmit data.

Below have logs:

Webserice debug:

`-------------  Response  -----  2021-01-22 20:01:21  ------
Status: 401
REQUEST_METHOD: GET
REQUEST_URI: /webservice/user/login
QUERY_STRING: module=user&action=login
PATH_INFO:
--

[2021-01-24 12:52] mariuszkrzaczkowski commented on #14092
01-22 20:02:01 ======
code: 401 | message: Invalid api key

I recommend updating to the latest version

![github](https://user-images.githubusercontent.com/10198654/105630758-43eb8a00-5e4b-11eb-855c-b55382533b76.jpg)

[2021-01-24 12:52] #14092 closed, assigned to nobody

[2021-01-24 16:56] MikeP1990 opened #14093 "Social Cron"
![Screenshot_1](https://user-images.githubusercontent.com/1528466/105637486-b36e7300-5e65-11eb-9ad7-37d664bea7b0.png)

Hello,

I've searched high and low but can't seem to find anything, maybe I've missed something?

How does one enable the social cron?

Thanks!

[2021-01-25 14:15] shaunbrittle commented on #14083
I am also having a problem with this.

I have setup the system as normal.

PHP Version: 7.3.26
Using XAMPP on Microsoft Edge - Windows

Unsure as to why I am getting this error.

When I click on Standard modules - Edit fields I get the error Call to a member function get() on null.

Any help?

[2021-01-25 15:16] davide-alghi commented on #14093
Hi @MikeP1990, (_please next time post in Discussions section_)
you have to enable required CRON tasks

![Schermata da 2021-01-25 16-11-39](https://user-images.githubusercontent.com/48508691/105724749-7cad6100-5f28-11eb-98e2-01446db8b22a.png)

[2021-01-25 16:57] #14093 closed, assigned to nobody

[2021-01-25 17:54] mariuszkrzaczkowski commented on #14083
insufficient information to solve the problem

[2021-01-25 17:54] #14083 closed, assigned to nobody

[2021-01-25 18:37] shaunbrittle commented on #14083
Hardly insufficient information. Not exactly a very helpful person!

[2021-01-25 18:51] samuelsituma commented on #14083
I actually solved it by installing updates check on Logs>updates do all the
necessary updates it might help you as well.

On Mon, Jan 25, 2021 at 9:37 PM shaunbrittle <notifications@github.com>
wrote:

[2021-01-25 20:38] mariuszkrzaczkowski commented on #14083
Before writing anything please read this https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-report-bugs

[2021-01-26 13:15] mariuszkrzaczkowski commented on #14083
I found a similar error see at https://github.com/YetiForceCompany/YetiForceCRM/issues/13859
Install 6.1.0_ServicePack_v5.zip

[2021-01-27 10:35] lelethered opened #14108 "unable to mass add document to module[bug]"
dear all,
we have implemented some module with same functionality of incoming and outcoming correspondence. We related Document module with our new ones, creating 1:m relation field in document module versus the new module.
The single "add document" functionality work great, but the "Mass Add Document" never add the document to module

Steps to reproduce the behavior single add document:
1. Go to

[2021-01-27 10:40] mariuszkrzaczkowski commented on #14108
![github](https://user-images.githubusercontent.com/10198654/105979870-750acb00-6094-11eb-8941-00422c1553db.jpg)

[2021-01-27 10:40] #14108 closed, assigned to nobody

[2021-01-27 11:03] lelethered commented on #14108
Excuse me, i describe the issue, is not reproducible in gistable since are new modules. The functionality of document single is ok the problem is on mass add.
Our server and service is directly on yetiforce hosting, do you need more info related wich number (1 to 8)?

[2021-01-27 11:14] mariuszkrzaczkowski commented on #14108
If you have our hosting/cloud, bugs are reported to the e-mail (sla@yetiforce.com) and they are resolved in a different order.
We don't know who from GitHub is in our infrastructure.
The required information was not attached, therefore it was closed.

[2021-01-27 11:19] hahyes opened #14109 "Jak podmapować dodawanie faktur do innego modułu?"
Dzień dobry,

Przyjmijmy, że mam takie mapowania:
![image](https://user-images.githubusercontent.com/37104952/105983635-50fdb880-6099-11eb-9113-86dd80d92cb1.png)

Mógłby mi ktoś wyjaśnić, jak to w zasadzie działa? Nie mogę tego zrozumieć, ponieważ w odpowiednich modułach nie pojawiają się żadne nowe możliwości po wprowadzeniu nowego mapowania. Chciałem zasięgnąć wiedzy z dokumentacji, ale ta na st

[2021-01-27 11:22] #14109 closed, assigned to nobody

[2021-01-27 11:25] lelethered commented on #14108
ok thank's i send email
best regards

[2021-01-27 14:22] hahyes opened #14113 "Left menu scrollbar doesn't appear if you can't scroll by scroll on mouse or gesture [bug]"
# 🐞 bug report

### ⁉️ Describe the bug

There is little inconvinience in left menu styling/scripts. If content of menu is not fitting a window height, you need to scroll it. There is scrollbar, but it's doesn't appear if you can't scroll it by another means like scroll on mouse or touchpad gestures. It was problematic for me, when I used Yetiforce on a laptop with disables touchpad gestures.

###

[2021-01-27 16:49] rioshaz commented on #14052
@mariuszkrzaczkowski @fbojan @prabhu @vctrin any solution guys ?

[2021-01-28 02:04] jlnknz commented on #13917
(Please let me know if I need to open a new ticket)

Correct me if I am wrong, but I think there is still a problem with this ticket, and that there are in fact 2 different issues.

 ### 1. Installation unsuccessful due to wrong session id

This is happening when the Web server listening port is not `80` for HTTP (or `443` for HTTPS), for example `20080`. The HTTP `Host` request header is set to `

[2021-01-28 02:54] jlnknz opened #14119 "[bug] Installation - file_exists(): open_basedir restriction in effect. File ... is not within the allowed path(s)"
# 🐞 bug report

### ⁉️ Describe the bug

At installation time, when displaying the license approval page, YetiForce attempts to load license files by reaching outside of the installation directory.

I have set the recommended `open_basedir` PHP setting:

`open_basedir = "/var/www/html:/tmp/:/var/tmp/:/etc/nginx/ssl/:/etc/ssl/"`

This problem has been mentioned in #13917 but I do not think this is

[2021-01-28 09:37] #14119 closed, assigned to mariuszkrzaczkowski

[2021-01-28 09:37] mariuszkrzaczkowski commented on #13917
Fixed https://github.com/YetiForceCompany/YetiForceCRM/commit/c135d94741c42835e4ef3a69a70db3228fdfc0ec

[2021-01-28 11:02] mariuszkrzaczkowski commented on #13823
The bug below was fixed in https://github.com/YetiForceCompany/UpdatePackages/commit/c0df186e3e43410ccb4ba8441a994a6a344f46ca
`
Next yii\db\Exception: SQLSTATE[22007]: Invalid datetime format: 1292 Truncated incorrect DOUBLE value: 'name'
The SQL being executed was: DELETE FROM `a_yf_mapped_fields` WHERE (`source`=1943) OR (`target`=1943) in /var/www/vhosts/yetiforce/vendor/yetiforce/yii2/db/Schem

[2021-01-28 12:42] areksolek commented on #14046
The problem does not exist in the current version.

![2R1RxnieJI](https://user-images.githubusercontent.com/25615135/106139688-0732d200-616e-11eb-938f-dbb37061e0e1.gif)

[2021-01-28 12:42] #14046 closed, assigned to nobody

[2021-01-28 12:45] #14023 closed, assigned to areksolek

[2021-01-28 14:42] hahyes opened #14127 "[PL] Podczas wyszukiwania produktów do przyjęcia z zewnątrz do magazynu, nie widać produktów nie będących w sprzedaży [bug]"
# 🐞 bug report

### ⁉️ Describe the bug

Więc tak, stworzyłem sobie produkt, który nie jest przeznaczony do sprzedaży. Chcąc go przyjąć na stan przez PZ nie byłem w stanie tego zrobić, ponieważ stworzonego produktu bez zaznaczonego "W sprzedaży" nie da się dodać.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Stwórz dowolny produkt bez zaznaczonej opcji "W sprzedaży".
2. Spr

[2021-01-29 08:43] ad1rie1 commented on #14046
You need to delete two category, not only one ;)

[2021-01-29 08:45] ad1rie1 commented on #14046
Ok , Delete one category, after, delete one more category, and after save

**do not** multiple select and then delete

[2021-01-29 14:31] hahyes opened #14135 "[bug] Kreator/Generator PDF: Border-collapse działa nieprawidłowo dla komórek łączonych przez rowspan"
# 🐞 bug report

### ⁉️ Describe the bug

Tworząc szablon natknąłem się na błąd kreatora albo generatora PDF. Otóż mając komórkę składającą się z czterech wierszy wypełnioną logiem firmy, po zastosowaniu stylu `border-collapse: collapse;` obramowanie rysuje się dla każdego z połączonych wierszy. Przykład:

![image](https://user-images.githubusercontent.com/37104952/106286985-927f9680-6246-11eb-99cb

[2021-01-29 14:36] hahyes commented on #14135
Teraz rozumiem, powinienem dać każdej komórce `td` styl `border-collapse: collapse;` poza komórką z logiem. A nie wierszom `tr`. Wtedy działa, jak powinno. Zamykam, może się komuś przyda.

[2021-01-29 14:36] #14135 closed, assigned to nobody

[2021-01-29 18:55] mariuszkrzaczkowski commented on #14135
Daj przykład kodu i efekt końcowy będzie to pomocne dla wszystkich

[2021-01-30 17:52] JEEVAN28 opened #14139 "Add Unit Column in PDF Design"
Hello,

I am trying to add Unit Column in /www/wwwroot/default/crm/yf/app/TextParser/ProductsTableImages.php around line 49,

foreach (['ItemNumber', 'Name', 'Quantity', **'Unit'**, 'UnitPrice', 'TotalPrice'] as $fieldType) {

same does not display in PDF output.
![image](https://user-images.githubusercontent.com/12723595/106363997-f0e56b80-6351-11eb-92dd-bee43ff3891f.png)

kindly assist.

Regards

[2021-01-30 18:21] pavioja opened #14140 "[PL] Podczas edycji szablonu PDF (faktura) nie ładuje się strona w pełni, brak połowy kolumn i pola next i cacnel[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

Podczas próby edycji szablonu pdf faktury sprzedaży i każdej innej, strona nie ładuje się do końca. Brak jest większości pół oraz pól next i cancel. Nie istnieje możliwosć poprawiania/tworzenia szablonów. Funkcjonalność ta działał jak najbardziej poprawnie w tym samym środowisku, w którym nie dokonałem żadnych zmian.

![ot from 2021-01-30 19-25-34](https://

[2021-01-30 20:18] davide-alghi commented on #14139
Hi @JEEVAN28,
because the 'Unit' field has got wrong type in database: 'Value'.

https://github.com/YetiForceCompany/YetiForceCRM/pull/12499

[2021-01-30 22:24] snenko opened #14141 "[bug] Don't work paginator in Groups Permissions."
Hello.

Don't work paginator in Groups Permissions.

Yetiforce verions: 5.0-6.1

Software configuration \Permissions \ Groups \System settings

![image](https://user-images.githubusercontent.com/11363876/106369417-cbf4f680-6359-11eb-9e7a-846b65fb24fe.png)

**I think: need add "page=2" parameter into url.**

[2021-02-01 09:47] hahyes commented on #14139
Is this bugfix in Service Pack v6 for YetiForce 6.1?

[2021-02-01 10:37] davide-alghi commented on #14139
Hi @hahyes,
I just installed "YetiForce CRM 6.1 Service Pack v6" and fix is not there.
Unit and Subunit type fixing, in database, also requires changing some text-parser PDF functions.
Perhaps in next updates/upgrades, YF Team will provide these changes.

[2021-02-01 10:42] #14139 closed, assigned to nobody

[2021-02-01 12:07] mariuszkrzaczkowski commented on #13927
Fixed in https://github.com/YetiForceCompany/YetiForceCRM/pull/14043

[2021-02-01 12:07] #13927 closed, assigned to areksolek

[2021-02-01 19:39] Akaki-1991 commented on #5563
hello, how i can to export/import modules  old version yeti to newer version?

[2021-02-01 20:32] z0lo13 commented on #14067
@vovpff
You have the wrong HTML.
span is an inline tag, it usually should not contain line breaks or any children.
Why don't you use simple div?

Just checked and it is working absolutely fine.

[code]

[2021-02-01 20:54] vovpff commented on #14067
@z0lo13 I tried as absolute stupid guy: Type some data, change font size, press enter, type more and repeat this couple times more.
Thanks for example with div. I will try it.

[2021-02-02 12:23] MarZdanSoft opened #14154 "Brak wymaganego pola NIP, brak walidacji NIP"
Dzień dobry,
Mam (chyba) prawidłowo skonfigurowane pole NIP i wymóg walidacji ale po przejściu w "panel użytkownika" pole NIP jest nie widoczne i nie ma walidacji "Duplikuj NIP".
Tydzień temu działało ale w między czasie była aktualizacja systemu, aktywacja modułów GUS i Outlook i ja też dokonfigurowywałem aplikację ale tylko z poziomu administratora (bez grzebania w kodzie). Proszę o pomoc

Aktua

[2021-02-02 12:30] mariuszkrzaczkowski commented on #14154
Pokaż konfigurację
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=FieldsDependency&view=List

[2021-02-02 12:36] MarZdanSoft commented on #14154
Przyznaje że nie bardzo rozumiem, link prowadzi do strony demo, jak mam pokazać konfigurację?

[2021-02-02 12:44] MarZdanSoft commented on #14154
Porównałem możliwości edycji i są różnice, u mnie nie ma ustawiń "systemowe" "typ pola" i "anonimizacja"

![image](https://user-images.githubusercontent.com/78420211/106602108-d3382200-655c-11eb-83c1-9e7284edcfa6.png)

[2021-02-02 13:23] rskrzypczak commented on #14154
Nie podałeś jaką masz wersję aplikacji.
Niemniej sprawdź uprawnienia do pola w profilach.
.. a może masz dodane jakieś warunki w panelu _Pola zależne_ (o ile go posiadasz).
Trudo tu cokolwiek stwierdzić, coś musiałeś namieszać, bo pola same z siebie nie znikają :P

[2021-02-02 14:08] MarZdanSoft commented on #14154
Wersja systemu aktualna YetiForce CRM 6.1 Service Pack v6
Posprawdzam jeszcze raz uprawnienia / zależności

Dziękuje za pomoc

[2021-02-02 15:00] MarZdanSoft commented on #14154
Faktycznie miałem wprowadzone warunki jak niżej, po ich usunięciu pole NIP wróciło :)
![image](https://user-images.githubusercontent.com/78420211/106617868-45b1fd80-656f-11eb-841c-f079cf66af25.png)

Walidacja działa wyłącznie dla "Kontrahenci" ale dla pozostałych modułów np "Leady" już nie, jak ustawić ograniczenie dla jednego nr NIP dla wszystkich rekordów w systemie?

[2021-02-02 18:23] diderich opened #14157 "[bug] Vulnerability check fails"
# 🐞 bug report

### ⁉️ Describe the bug

Vulnerability check no longer works:

![image](https://user-images.githubusercontent.com/10230144/106644893-fc23db80-658b-11eb-81fb-2b62d0051146.jpeg)

![image](https://user-images.githubusercontent.com/10230144/106644917-01812600-658c-11eb-8ef3-d3988aa3937e.jpeg)

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to 'vulnerability' as

[2021-02-02 18:55] rskrzypczak commented on #14154
Zgłoszeń używaj tylko dla błędów aplikacji, wszystko inne do dyskusji https://github.com/YetiForceCompany/YetiForceCRM/issues/13908

   Nie ustawisz tego z poziomu  GUI, musiałbyś napisać własne funkcje walidujące.

[2021-02-02 18:55] #14154 closed, assigned to nobody

[2021-02-02 19:08] mariuszkrzaczkowski commented on #14157
we know it, we are working on it

[2021-02-02 19:29] rioshaz commented on #14052
@mariuszkrzaczkowski any help sir.... even if i create a wf for this notification then  this system notification comes.. so how can i disable it if we cant fix it.. pls help..

[2021-02-02 23:48] waran70 opened #14161 "[bug] PDF out of expected order"
Blue cell should have 500px height, but it obviously not. Such a thing make it impossible to design complex PDF's often necessary to visualize data. Attached preview.
[autoinvoice1.pdf](https://github.com/YetiForceCompany/YetiForceCRM/files/5915109/autoinvoice1.pdf)

<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#000099; height

[2021-02-02 23:49] waran70 commented on #14161
`<table border="1" cellpadding="1" cellspacing="1" style="width:100%">
	<tbody>
		<tr>
			<td style="background-color:#000099; height:500px">&nbsp;</td>
			<td style="background-color:#000000">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color:#99ff00">&nbsp;</td>
			<td style="border-color:#0033cc">&nbsp;</td>
		</tr>
		<tr>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

[2021-02-03 09:43] JEEVAN28 commented on #10315
Hello I have contributed $20, for open collective for this functionality. please see if it is possible to rebuild

[2021-02-03 13:37] mariuszkrzaczkowski commented on #14157
Fixed, just replace this file
https://github.com/YetiForceCompany/YetiForceCRM/commit/94101388a9e2a33f28a455cef2ca7cd461d9445b

[2021-02-03 13:37] #14157 closed, assigned to mariuszkrzaczkowski

[2021-02-03 13:41] rioshaz opened #14165 "[bug] caldav sync wrong time"
hello guys,
syncing with caldav sync's wrong "event time" in the mobile calender.

On the CRM is shows 11.55 am but on the mobile calendar, it shows 17.25 and so on..

all events are 4 & a half hours ahead on mobile.. i have checked time zone on both crm and mobile is same .. does the time of server on which yetiforce is installed also matters.

does anyone know whats the issue..

i am using opens

[2021-02-03 14:33] Andr198 commented on #14052
If add $(record : CrmDetailViewURL)$
We get a non-clickable link
![n](https://user-images.githubusercontent.com/62097187/106761488-8aa46580-663d-11eb-9680-14f977e6c0a8.JPG)

[2021-02-03 20:23] mariuszkrzaczkowski commented on #10315
[code]
Produces the result:
one hundred twenty-three thousand four hundred fifty-six

[2021-02-03 21:42] mariuszkrzaczkowski commented on #14165
![github](https://user-images.githubusercontent.com/10198654/106813304-18e60f00-6671-11eb-81b6-828ba86aa2d8.jpg)

[2021-02-04 09:18] #13633 closed, assigned to nobody

[2021-02-04 12:29] #13960 closed, assigned to rskrzypczak

[2021-02-05 01:43] waran70 opened #14181 "Email blocked by rbl-block.yetiforce.com (in reply to RCPT TO command)"
Gents, customer reported as follows: Email blocked by rbl-block.yetiforce.com (in reply to RCPT TO command)
Looks like you need take care of email server. Email from legit domain, with perfect spam score.

[2021-02-05 02:38] waran70 commented on #12321
connecting API for 100k ? you guys must have golden knobs in toilets?

:-)

[2021-02-05 04:47] waran70 opened #14182 "[bug] Deactivated field still active"
I deactivated field "Type" in Reservation and it not showing except entry view as per attachment.
![image](https://user-images.githubusercontent.com/6852348/106990974-e8ed5780-67a7-11eb-80b6-4916747bff12.png)

[2021-02-05 06:06] Giorgos-Hellene opened #14184 "[bug] when create a record and i have set a workflow->creating record"
Oh hi company !!

The bug concerns the workflow and creating a record. I get error on versions 5.2, 5.3, 6.1
It was working fine from 5.1 and before

I have tested it on gitdeveloper and gitstable.

🔥 How to trigger the error:

![YF bug](https://user-images.githubusercontent.com/50912403/106995523-c3505600-6787-11eb-95ab-50e09e88946b.gif)

The same on gitstable with this error
![εικόνα](https://us

[2021-02-05 06:13] waran70 commented on #14182
Another bug is that you cannot remove multiple position from Field Folders. If you try to do so, yeti returning error.
Checked in dev version

[2021-02-05 06:19] MaxPegankin commented on #13862
Patch is really working!
Replace Schema.php in vendor/yetiforce/yii2/db/mysql with patched one.

[2021-02-05 06:36] #14184 closed, assigned to rskrzypczak

[2021-02-05 06:46] rskrzypczak commented on #14184
This is not entirely a bug.
You have the wrong user option set.
anyway.. this option will no longer appear.
![image](https://user-images.githubusercontent.com/10221999/106998917-900cc780-6785-11eb-907e-33311b9116b7.png)

[2021-02-05 07:17] mariuszkrzaczkowski commented on #14181
https://soc.yetiforce.com/

[2021-02-05 07:31] Giorgos-Hellene commented on #14184
@rskrzypczak Thank you for your quick response !

so if i change the value of Assigned to administrator it will be ok ?

[2021-02-05 07:35] rskrzypczak commented on #14184
It should be ok.

[2021-02-05 07:41] waran70 commented on #14181
So, you want me to pay 5 Euro to send you message?  Just to let you know, I was responding to Paulina Walenczak and this is what she wrote to me:

------
Hi Ian,

Thanks for getting in touch with us.

Could you please provide us with some more details about the implementation? Do you want us to implement a new PDF library?

Thank you.
--------

![image](https://user-images.githubusercontent.com/68

[2021-02-05 07:43] waran70 commented on #14181
And hell, why it blocked me? I am trying to feed you guys with money, and got wiped ass... not good at all

[2021-02-05 09:33] bpabiszczak commented on #14181
write here the IP address from which the email came out.

[2021-02-05 12:09] mariuszkrzaczkowski commented on #12347
Fixed

[2021-02-05 12:09] #12347 closed

[2021-02-05 12:18] #13997 closed, assigned to bpabiszczak

[2021-02-05 12:27] #13487 closed, assigned to bpabiszczak

[2021-02-05 12:41] #13536 closed, assigned to bpabiszczak

[2021-02-05 12:44] #13636 closed, assigned to bpabiszczak

[2021-02-05 12:44] #13632 closed, assigned to bpabiszczak

[2021-02-05 12:49] #13595 closed, assigned to nobody

[2021-02-05 12:49] #13919 closed, assigned to nobody

[2021-02-05 12:49] #13940 closed, assigned to nobody

[2021-02-05 12:50] #13874 closed, assigned to nobody

[2021-02-05 12:50] #13546 closed, assigned to nobody

[2021-02-05 12:50] #12829 closed, assigned to bpabiszczak

[2021-02-05 12:50] #12823 closed, assigned to bpabiszczak

[2021-02-05 12:51] #11665 closed

[2021-02-05 12:51] #10405 closed

[2021-02-05 12:51] #12967 closed, assigned to bpabiszczak

[2021-02-05 12:52] #13179 closed, assigned to bpabiszczak, areksolek

[2021-02-05 15:27] pietervanpta opened #14199 "[bug] CSV import"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot

[2021-02-05 15:31] #14199 closed, assigned to nobody

[2021-02-05 15:31] pietervanpta commented on #14199
.

[2021-02-05 15:44] pietervanpta opened #14200 "[bug] CSV import check for existing fields not working"
Recently updated to latest release (6.1).  While trying to update records using a .csv file it seems that Yeiforce is not detecting that the record already exists.  A new record is created does not matter if i tell Yeti to skip if exist on a certain field.

[2021-02-07 02:33] bpabiszczak commented on #14181
We block for spam. If you don't write your IP address, I can't help you.

[2021-02-07 02:33] #14181 closed, assigned to nobody

[2021-02-07 06:50] waran70 commented on #14181
I don't think it would be wise to share email server IP here. Anyway no worries, got help from toptal. Maybe next time more luck. Cheers!

[2021-02-07 10:12] fliszer opened #14205 "[bug] Natural sorting"
Is it possible to add / implement natural sorting (natsort in php) for filters? So the numbers will be sorted correctly.
Simple example below:

![natural-sorting](https://user-images.githubusercontent.com/20444027/107143428-4fec4700-6935-11eb-846a-e4eaeb4828c7.png)

[2021-02-07 11:56] bpabiszczak commented on #14181
You can send information to this email address: b.pabiszczak@soc.yetiforce.com

PS: Maybe you can outsource all your questions / problems to toptal, if it's so good there?

[2021-02-07 18:04] rskrzypczak commented on #14205
It's not a bug (https://github.com/YetiForceCompany/YetiForceCRM/issues/13908) so I'm closing the ticket, but I'll remind you..
The sort method depends on the type of the column in the database. so.. if you mix up number and text, you can't get what you want ease.
I can quickly see two ways:
- divide the current name into several columns and sort by them.
  I think this is the best solution and do

[2021-02-07 18:04] #14205 closed, assigned to rskrzypczak

[2021-02-07 21:30] splice33 opened #14207 "Clearing out emails from DB and filesystem."
Hi All,

I have a small system that's mostly just used to track communications with customers.

We recently changed email servers, so I updated the email configuration to point to the new server name. I had to go through the process of setting auto-logon and the email scanner again. But... this resulted in redownloading all users mail again. Deleting all the emails from within YetiForce seams to c

[2021-02-08 05:57] #14207 closed, assigned to nobody

[2021-02-08 06:54] vovpff opened #14209 "[bug] User details modification throws error"
# 🐞 bug report

### ⁉️ Describe the bug

After clicking Save at user details edit page there are appears `Error occurs, please inform administrator` error message and endless loading.

All user modifications applied and saver but page stuck on this.

I tried this on gitdev but can't reproduce this.

### 📷 Screenshot of configuration

![ConfReport](https://user-images.githubusercontent.com/8545791/

[2021-02-08 09:22] drakub opened #14210 "[bug] Round Cube installation and configuration error"
Hi, Yetiforce team,

I could not download and install round cube  library in my local Yetiforce installation from the Standard Modules -> Module Installation section. When I tried it on the **gitstable** version, the same behavior persists. After a long work around, I manually downloaded it and uploaded it to /public_html/modules/OSSMail folder. But when I go to the Module Installation page and cl

[2021-02-08 11:21] diderich commented on #14205
There is an easy way to get the outcome you are looking for. Ensure that all numbers have the same length, if necessary preceding them with o e or more 0.

0001
0099
0123
1032
7018

[2021-02-08 11:56] fliszer commented on #14205
@rskrzypczak, @diderich thanks for tips. I added extra column with (int) number.

[2021-02-08 14:16] danicabrera84 opened #14212 "PBX Manager"
Hi everyone, is there a manual on how to configure pbx with axterix connection in YetiForce? I've searched but I can't find anything anywhere, thank you very much for your comments.

[2021-02-08 14:28] #14212 closed, assigned to nobody

[2021-02-08 15:37] rskrzypczak commented on #14209
Could you be more specific?
What have you changed?
Have you tested it on https://gitstable.yetiforce.com or https://gitdeveloper.yetiforce.com ?

[2021-02-08 16:32] vovpff commented on #14209
I has tested on gitstable and gitdev and can't reproduce this.
Also I has tuned webserver and now only https is red but this tuning doesn't affect to problem.
Other thing what I do: I has put {print_r($RECORD, true)} and {print_r($USER_MODEL, true)} to UserViewHeader.tpl and noticed what this variables not null before saving.

[2021-02-09 06:59] rskrzypczak commented on #14210
You need to correct your server configuration, then I suppose the error should no longer occur.

[2021-02-09 07:10] JEEVAN28 opened #14216 "Calendar view default to record list"
Hello,

Is there any option where I can set Calendar View default to List View instead of Graphical Dashboard view.

![image](https://user-images.githubusercontent.com/12723595/107327861-d5a5f900-6ad3-11eb-848d-d6ed2598556e.png)

Regards
Jeevan Pendhari

[2021-02-09 07:29] #14216 closed, assigned to nobody

[2021-02-09 08:05] drakub commented on #14210
Which configuration exactly?

[2021-02-09 09:24] samuelsituma opened #14221 "Dynamic fields not working"
I have created a dynamic field for the sales invoices module but it's not working and the one for the account module works well what could be the issue.

This one for the sales invoices not working
![Casadpture](https://user-images.githubusercontent.com/46498594/107342388-3253e480-6ad1-11eb-93b3-4d4d6301d847.PNG)

the one for accounts working well
![Csdddapture](https://user-images.githubuserconte

[2021-02-09 10:18] konadrian commented on #14221
Please try this
https://github.com/YetiForceCompany/YetiForceCRM/commit/56cf4992d6f4512855aae0b6b6989b46696a9567

[2021-02-09 12:26] samuelsituma commented on #14221
Thank you so much for the response I have tried it still getting the same
problem

On Tue, Feb 9, 2021, 1:19 PM konadrian <notifications@github.com> wrote:

[2021-02-09 12:39] rskrzypczak commented on #14221
Disable loading min.js files in config/Developer.php
`public static $MINIMIZE_JS = false;`

[2021-02-09 12:40] simple-AMS commented on #14210
@job-bob-draku You need root access to your server installation and you need to adjust your PHP settings as well as YetiForce User.ini files on main application path and public_html and correct all of the highlighted issues. You also need to adjust your mysql configuration file. That is why you're having issues.

[2021-02-09 13:15] drakub commented on #14210
Let me try this out and let you know

On Tue, Feb 9, 2021, 3:41 PM acsinsurancegroup <notifications@github.com>
wrote:

[2021-02-09 13:17] samuelsituma commented on #14221
Thanks I have disabled but still not solving the problem

On Tue, Feb 9, 2021, 3:39 PM Radosław Skrzypczak <notifications@github.com>
wrote:

[2021-02-09 15:37] #14209 closed, assigned to rskrzypczak

[2021-02-10 07:08] samuelsituma opened #14223 "receiving part payments of the invoice"
Is there a way of receiving a part payment of a parent invoice for example the invoice is $1000 and the customer pays $200 and print the statement of a payment record for a particular customer showing payment details and the balance in yetiforceCRM

[2021-02-10 07:36] #14221 closed, assigned to rskrzypczak

[2021-02-10 08:05] #14223 closed, assigned to nobody

[2021-02-10 08:26] #14210 closed, assigned to nobody

[2021-02-10 08:39] drakub commented on #14210
@mariuszkrzaczkowski why do you close the issue when its not confirmed resolved?

[2021-02-10 08:59] mariuszkrzaczkowski commented on #14210
Because your server has not been properly configured

[2021-02-10 09:00] samuelsituma commented on #4626
@PercyP Did you get a solution to this issue

[2021-02-10 12:18] drakub commented on #14210
I have now corrected all the server issues. Everything is okay. I can now download the round cube library but I cannot update it. In addition, I also get this error on the server configuration page

![image](https://user-images.githubusercontent.com/19745222/107509195-39532380-6bb3-11eb-8472-d5bd609e7e84.png)

[2021-02-10 12:19] vovpff commented on #14209
@rskrzypczak Many thanks! This works!

[2021-02-10 19:25] vovpff commented on #4626
@samuelsituma this functionality available in system. You need to add Payment In related to invoice.

[2021-02-11 08:16] samuelsituma commented on #4626
Thank you so much brother let me check it out

On Wed, Feb 10, 2021 at 10:25 PM Vladimir <notifications@github.com> wrote:

[2021-02-11 10:50] apcloic opened #14228 "[bug] When you click on an url field like Twitter or Website, url opens but field also turns to quick edit mode"
Hi,

Issue is present in https://gitdeveloper.yetiforce.com/

Step to reproduce :

1- create a twitter field in any module
2- go to module, edit a record and add a twitter account
3 - go to record, detail view
4 - click to open twitter link
5 - go back to record detail view, twitter field is now in (unwanted) quick edit mode.

![twitter_field_issue](https://user-images.githubusercontent.com/293056

[2021-02-11 11:16] apcloic commented on #14228
EDIT : it also happens for other kind of URL link type like website.
I've tried with another browser, same issue.

![url_click_issue](https://user-images.githubusercontent.com/2930560/107629693-c608ea80-6c62-11eb-8ac9-65f5d14d55e4.gif)

[2021-02-12 21:05] csc-solution opened #14232 "[bug] MailScanner double line break"
# 🐞 bug report

### ⁉️ Describe the bug

If a mail is sent from Outlook and its imported via mailscanner, double line breaks are always entered in the description field. See screenshot. On t the left its the mail in roundcube and on the right its the mail in WYSIWYG.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Setup mailscanner for automatic case creation
2. Send a new ma

[2021-02-13 08:54] mariuszkrzaczkowski commented on #14232
![github](https://user-images.githubusercontent.com/10198654/107846111-83b9e780-6de1-11eb-9f3d-fc1359911208.jpg)

[2021-02-13 12:05] csc-solution commented on #14232
[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/5975608/system.log)

updated

[2021-02-15 13:51] mariuszkrzaczkowski commented on #14209
Fixed in 6.1.0_ServicePack_v7

[2021-02-15 14:09] waran70 opened #14235 "[bug] SMTP ERROR: Password command failed: 534-5.7.14 534-5.7.14 Please log in via your web browser and then try again."
basically in perfect configuration cannot get gmail working. Wondering if I missed something.
Cannot check in dev version as will not expose my password there.
Any clue or settings advice?