[2021-08-04 12:18] Akaki-1991 commented on #15035
![Capture](https://user-images.githubusercontent.com/75428743/128179386-25d47fa4-df83-4cd9-90a0-e1f97024e49f.PNG)

cannot delete record

[2021-08-05 05:53] #15035 closed, assigned to nobody

[2021-08-05 12:36] scotlad9 commented on #14922
Does anyone have a solution for this please?  As we use Exchange 365 it's a show stopper preventing us changing over from another CRM.

[2021-08-05 14:32] guanchgonzalez opened #15038 "[bug] Call to a member function updateSession()"
🐞 bug report

An error appears during any operation in cache/logs/system.log. After a while, the platform finish the operation, but a lot of error traces are logged.

Error: Call to a member function updateSession() on null in /var/www/YetiForceCRM/api/webservice/Controller.php:229

⁉️ Describe the bug

We installed the last version of the CRM platform yesterday from Git (with yarn and composer).

[2021-08-05 14:36] guanchgonzalez commented on #15038
These errors was logged until the first login into the CRM website:

MariaDB [yfcrm]> select cast(date_format(date, '%Y-%m-%d %H:%i:00') as datetime), count(1) from o_yf_access_for_api
    -> group by cast(date_format(date, '%Y-%m-%d %H:%i:00') as datetime)
    -> order by cast(date_format(date, '%Y-%m-%d %H:%i:00') as datetime);

+----------------------------------------------------------+-------

[2021-08-05 16:43] kassimg12 commented on #15002
Hello there, I have a related issue regarding yetiforce portal installation. when I try to install the portal it shows "An error occurred while communicating with the CRM"

I installed the latest version of yetiforce (6.20) and a portal which is available on the following link https://github.com/YetiForceCompany/YetiForcePortal2

my server is ubuntu 20.04 os.

please help.
Thank you!

[2021-08-05 16:44] kassimg12 commented on #15002
![yeti portal](https://user-images.githubusercontent.com/65815933/128388558-40d4ee4d-e69b-45c0-95fb-0bfe3c79e441.JPG)
here is the screenshot of the above request.

[2021-08-05 16:44] kassimg12 opened #15039 "[bug]"
# 🐞 Yetiforce Portal 2 installation error

Hello there, I have a related issue regarding yetiforce portal installation. when I try to install the portal it shows "An error occurred while communicating with the CRM"

### 🔥 How to trigger the error

installing yetiforce portal

### 👎 Actual Behavior

Shows error message "An error occurred while communicating with the CRM"

### 👍 Expected Behavior

i

[2021-08-06 06:45] mariuszkrzaczkowski commented on #15039
Have you followed all the steps of the instruction: https://github.com/YetiForceCompany/YetiForcePortal2#-installation
Run debugging and check logs https://github.com/YetiForceCompany/YetiForcePortal2#-debug

[2021-08-06 06:51] mariuszkrzaczkowski commented on #15038
Correct the server configuration two parameters are set incorrectly: output_buffering , max_input_time
Run API debugging and send logs to us

[2021-08-06 06:53] #15038 closed, assigned to mariuszkrzaczkowski

[2021-08-07 12:49] leo719044 opened #15044 "[bug] comments of ticket and opportunities not showing in "account->summary->comment->related records""
Bug 1. The comment of ticket is not showing in the section "Comment" of account summary

Bug 2. When giving reply to the ticket or opportunities in the section "Comment" of account summary , the reply comment is not going to reflect to ticket or opportunities

[2021-08-07 12:54] mariuszkrzaczkowski commented on #15044
Each bug should be reported separately and with a full description

![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/128600823-80ab7a86-cd9c-4bcb-ad6b-393550d780e4.jpg)

[2021-08-07 12:54] #15044 closed, assigned to nobody

[2021-08-08 04:04] leo719044 commented on #15039
you should do it

Activation of Webservice/API services (CRM file config/Api.php)
/** List of active services. Available: dav, webservice */
public static $enabledServices = [ 'webservice'];

[2021-08-08 05:54] vovpff commented on #15044
1st is tunable.

Difficult to understand what you mean for 2nd bug

[2021-08-08 13:55] leo719044 opened #15045 "[bug] comment of TICKET not showing in "ACCOUNT - > SUMMARY -> COMMENTS -> RELATED RECORDS""
# 🐞 bug report

Comment of TICKET not showing in "ACCOUNT - > SUMMARY -> COMMENTS -> RELATED RECORDS"

### 🔥 How to trigger the error

1. Add comment to the tickets.
2. Go to the account which ticket belongs to.
3. Go to the section ACCOUNT - > SUMMARY -> COMMENTS -> RELATED RECORDS.
4. Comments of ticket was not found in RELATED RECORDS.

### 👎 Actual Behavior

Can not find the comments in  "ACCO

[2021-08-08 17:37] vovpff commented on #15045
I has the same in my 6.1. I think you can tune this in `app_data/moduleHierarchy.php` file.

[2021-08-09 09:14] mariuszkrzaczkowski commented on #14829
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/the-installation-process-has-failed

[2021-08-09 09:14] mariuszkrzaczkowski commented on #14332
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/the-installation-process-has-failed

[2021-08-09 10:43] vencatoitc opened #15048 "[bug] Portal2 - wrong JS paths"
# 🐞 bug report

## ⁉️ Can't perform "Forgot password" action

After a fresh install I enable a user to access the portal; then I'd like to reset the password but It stucks with "Internal Server Error" (405).

### 🔥 How to trigger the error

Simply inserting the e-mail address on the text field and clicking "Forgot password".

### 👎 Actual Behavior

Internal server error 405

### 👍 Expected Behavio

[2021-08-09 10:45] mariuszkrzaczkowski commented on #15048
attach full logs, this message is just "warning"

[2021-08-09 11:22] aveblackmetalstudio opened #15049 "[bug] FieldsDependency don`t work for multipicklist field"
FieldsDependency listener binds to this field insted of select field
https://github.com/YetiForceCompany/YetiForceCRM/blob/c31477b556b372c7fa8642509aedb2fafb0b4f49/layouts/basic/modules/Vtiger/Edit/Field/MultiPicklist.tpl#L23

https://github.com/YetiForceCompany/YetiForceCRM/blob/c31477b556b372c7fa8642509aedb2fafb0b4f49/public_html/layouts/basic/modules/Vtiger/resources/Edit.js#L1486

[2021-08-09 12:01] vencatoitc commented on #15048
Here they are. Beware that I edited "api.log" because **it contained username and password in plain sight**!

[api.log](https://github.com/YetiForceCompany/YetiForceCRM/files/6954327/api.log)
[system.log](https://github.com/YetiForceCompany/YetiForceCRM/files/6954328/system.log)

[2021-08-09 12:07] mariuszkrzaczkowski commented on #15048
very good !!

`Error: GuzzleHttp\Exception\RequestException: cURL error 60: SSL certificate problem: unable to get local issuer certificate (see https://curl.haxx.se/libcurl/c/libcurl-errors.html) for https://crm.vencato.cloud/webservice/Portal/Install in /var/www/yetiforce-portal/vendor/guzzlehttp/guzzle/src/Handler/CurlFactory.php:211`

The server configuration needs to be improved

[2021-08-09 12:11] kassimg12 commented on #15039
Thank you for responding.
I could follow the steps as follows. Please check my steps

1. Put files on web server **(Done)**
2. Point web server document root to public_html directory (**i put the file on a subdomain for portal  'subdomainname/public_html' folder)**
3. Run:
yarn install --modules-folder "./public_html/libraries" --ignore-optional **(This is not working on my environment showing err

[2021-08-09 12:36] rskrzypczak commented on #15039
Download complete version from here: https://github.com/YetiForceCompany/YetiForcePortal2/releases
 or development version: https://github.com/YetiForceCompany/YetiForcePortal2#where-else-can-you-find-yetiforce
`Complete` - with dependencies

Then you can skip step 3, i.e. yarn install, composer install

[2021-08-09 13:17] vencatoitc commented on #15048
You have to read more carefully the log. That error was in the past and **not** in the last call which this bug is referred to.
Please refer to the **last** trace.

[2021-08-10 07:49] mariuszkrzaczkowski commented on #15048
Show logs from CRM

[2021-08-10 08:19] vovpff commented on #15045
@leo719044 replace

[code]

with

[code]

in `app_data/moduleHierarchy.php`

[2021-08-11 00:54] leo719044 commented on #15045
thanks for your help. it works perfectly.

[2021-08-11 00:54] #15045 closed, assigned to nobody

[2021-08-11 00:59] leo719044 opened #15054 "[Feature]"
🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

Can I enable the attachment upload in the comment section under ACCOUNT / OPPORTUNITIES/ TICKETS??

[2021-08-11 01:21] leo719044 opened #15055 "[Features]Features Suggestion"
Thanks to Yetiforce team for the great job have done.

I am currently searching for the CRM for my team. Frankly I was hestitate when choosing Yetiforce or Vtiger. I was deeply impressed by the fashion UI design of Yetiforce. and some features developed by the team.

Also I noticed there are some features are not ready in the latest version of Yetiforce. So I take a note here for remember.
1. Atta

[2021-08-11 04:48] #15055 closed, assigned to nobody

[2021-08-11 04:51] #15054 closed, assigned to nobody

[2021-08-11 06:17] vencatoitc commented on #15048
Hi Marius,

here a clean version of both CRM and portal logs created doing a "password forgot" and a failed login try.
The CRM log show up empties.

Thanks,
Alessandro

[logs-20210811.zip](https://github.com/YetiForceCompany/YetiForceCRM/files/6966254/logs-20210811.zip)

[2021-08-11 06:22] mariuszkrzaczkowski commented on #15048
it is not possible that the log files are empty, show configuration verification and the file config/debug.php

[2021-08-11 12:20] vencatoitc commented on #15048
Hi Marius,

i've the error from the webservice's debug whe I try the "forgot password" on the portal:

[code]

In modules/Users/* I don't see any "ResetPassword" method amongst the classes.

Thanks,
Alessandro

[2021-08-11 12:29] mariuszkrzaczkowski commented on #15048
The error is that the API / webservice / Portal / Users / ResetPassword method only supports POST and PUT and in your case sends GET https://doc.yetiforce.com/api/#/Users/1afb975ceee34717503a9e5403f49a58

The reason may be:
- some rule on vhost which changes that
- wrong CRM URL in the portal configuration file, you can have HTTP set and CRM works only over HTTPS

![image](https://user-images.gith

[2021-08-11 12:32] mariuszkrzaczkowski commented on #14905
We switched CRM https://gitdeveloper.yetiforce.com/ to php 8.0.9, you can test

[2021-08-11 13:10] vencatoitc commented on #15048
I dig into web server access log and on the CRM side I noticed this one:

[code]

When I try to login from the portal... with this URL, does it try to load a Portal class under modules/ directory? If yes, I don't have it :-)

Tomorrow I'll dig more deeply into it revising the web server configuration and I'll let you know.

[2021-08-11 14:28] mariuszkrzaczkowski commented on #15048
Check crm url in portal configuration if it is https or http

[2021-08-12 06:27] vencatoitc commented on #15048
Hi Marius,

I did few steps back and decided to redo a plain installation from scratch... "guess what?":

- portal/cache/logs/system.log

[code]

- crm/cache/logs/web

[code]

I just followed the instructions at https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-install-yetiforce-portal from which it's a bit unclear what and what kind of web service applica

[2021-08-12 06:35] vencatoitc commented on #15048
Hi Marius,

Eureka! I finally manage to login successfully :-)
You can close this case.

Thanks,
Alessandro

[2021-08-12 07:07] mariuszkrzaczkowski commented on #15048
What was the reason ?
How did you fix it?

[2021-08-12 07:44] jlnknz opened #15062 "[bug] DOS line ending in released checksum file causes errors when validating the checksum on UNIX system"
# 🐞 bug report

### ⁉️ Describe the bug

The SHA1 and MD5 checksum files that are provided with releases contain DOS line endings that make checksum verification fail with common tools  `sha1sum` and `md5sum` under Linux.

This is not a huge problem, but making checksum verification easier is probably a good idea.

### 🔥 How to trigger the error

1. Download the files from https://github.com/YetiF

[2021-08-12 14:38] vencatoitc opened #15067 "[bug] CalDAV cron error"
# 🐞 bug report

### ⁉️ CalDAV cron doens't reach its end due to some PHP error.

### 🔥 How to trigger the error

Waiting for the cron.sh to be executed or manually execute it.

### 👎 Actual Behavior

The cronjob is displayed as running... In the log we found the "Start task" string and not the ending one.

### 👍 Expected Behavior

To be executed just fine.

### 👷 Testing

- [x] I confirm that I te

[2021-08-12 16:46] azorlone opened #15068 "[bug] Quick record creation on roundcube - javascript error"
# 🐞 bug report

### ⁉️ Describe the bug

On roundcube, after importing a mail in the database, you can add relationships between the mail and existing records in modules, but the "+" button (a.k.a. "Quick create") is giving out a javascript error in the browser console:
[code]

![image](https://user-images.githubusercontent.com/88847415/129579300-09789b0c-be24-4b3c-bea8-4b496c20e4ec.png)

### 🔥 Ho

[2021-08-12 16:59] mariuszkrzaczkowski commented on #15068
attach a screenshot

[2021-08-13 06:08] #15067 closed, assigned to mariuszkrzaczkowski

[2021-08-13 06:29] vencatoitc commented on #15067
[code]

[2021-08-13 08:17] vencatoitc commented on #15067
Is this method missing?

[code]

This temporary solved the issue untill 6.3 will be out.

[2021-08-13 08:26] mariuszkrzaczkowski commented on #15067
yes

[2021-08-13 09:35] vencatoitc opened #15072 "[bug] LBL_ADDRESS_BOOK cronjob error, wrong query"
# 🐞 bug report

### ⁉️ Describe the bug

[code]

### ❗️ Inform the community if you solve the problem

[code]

Sorry, I don't have time to make a proper patch and I don't know if it fits as a proper solution :-P

[2021-08-13 10:20] #15072 closed, assigned to mariuszkrzaczkowski

[2021-08-13 10:21] mariuszkrzaczkowski commented on #15072
thanks, it works

[2021-08-16 14:25] azorlone commented on #15068
Updated the description with the requested attachment

[2021-08-17 06:58] mariuszkrzaczkowski commented on #15068
Fixed,
update the library, just change the version number to 0.1.31 in the file:
https://github.com/YetiForceCompany/YetiForceCRM/blob/ccd620e9109b9a0f66ba879d4dc6ac45b8bb3f13/config/version.php#L6

update your mail client

![image](https://user-images.githubusercontent.com/10198654/129678537-e9e301e2-ab46-48f4-bcf0-c127a326c1e2.png)

NOTE: this will only work if you have version 6.2

[2021-08-17 06:58] #15068 closed, assigned to mariuszkrzaczkowski

[2021-08-19 07:10] mend-bolt-for-github[bot] opened #15086 "CVE-2021-3692 (Medium) detected in yetiforce/yii2-2.0.39.2"
## CVE-2021-3692 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>yetiforce/yii2-2.0.39.2</b></p></summary>

<p>Yii PHP Framework Version 2 by YetiForceCRM</p>
<p>Library home page: <a href="https://api.github.com/repos/YetiForceCompany/yii2-framework/zipball/d905

[2021-08-19 07:10] mend-bolt-for-github[bot] opened #15087 "CVE-2021-3689 (High) detected in yetiforce/yii2-2.0.39.2"
## CVE-2021-3689 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>yetiforce/yii2-2.0.39.2</b></p></summary>

<p>Yii PHP Framework Version 2 by YetiForceCRM</p>
<p>Library home page: <a href="https://api.github.com/repos/YetiForceCompany/yii2-framework/zipball/d90578

[2021-08-19 10:05] scotlad9 commented on #14922
**Update - Partial Solution:**

Disable RBL in /config/Components/Mail.php by changing value from true to false (as described esleswhere):
		            public static $rcListCheckRbl = false;

Emails are now retrieved correctly with sort order "descending".  However, there still remains an issue with the email preview speed.

With the Roundcube Yetiforce plugin enabled it take more that 12 seconds

[2021-08-19 14:09] mariuszkrzaczkowski commented on #14922
we are working on it to give greater configuration options

[2021-08-20 00:25] guanchgonzalez opened #15088 "[bug] Portal Users related with CRM Contacts can't see their own accounts info."
# 🐞 bug report

### ⁉️ Describe the bug

A Portal Webservice User related to an existent CRM contact is created.
When any type different to the "Permissions based on the user" is selected, there isn't any info available in the Customer Portal session.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Create a Portal Webservice User related to an existent contact with any hierar

[2021-08-20 08:19] azorlone commented on #2164
The link has moved to https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/loader-and-autoloader-of-files

[2021-08-20 08:52] 07litra opened #15089 "Cannot attach file to email[bug]"
# 🐞 bug report

### ⁉️ Describe the bug

I am having trouble sending email whith  attaching a file.
File is not attached.

### 🔥 How to trigger the error

https://user-images.githubusercontent.com/81667454/130206012-51a26c68-9a82-4e52-b20a-15941d7d134b.mp4

Steps to reproduce the behavior:

1. Go to **documents**
2. Click on **sent document via mail**
3. See error - no attachment
4. button " selec

[2021-08-20 08:55] mariuszkrzaczkowski commented on #15089
Duplicate of #13979

[2021-08-20 08:55] #15089 closed, assigned to mariuszkrzaczkowski

[2021-08-20 09:28] 07litra commented on #15089
#13979 was opened on 28 Dec 2020 and still open .

[2021-08-20 09:36] mariuszkrzaczkowski commented on #15089
this is not a simple problem to solve

[2021-08-20 15:26] guanchgonzalez commented on #15088
Log when an Administrator user is logged into the Customer Portal and gets the Accounts info:

. . .
2021-08-20 08:42:23.1953 [trace] - Entering isPermitted(Accounts,,,1) method ...

2021-08-20 08:42:23.1954 [trace] - Exiting isPermitted method ... - SEC_USER_IS_ADMIN

2021-08-20 08:42:23.1956 [info][yii\db\Command::query] - SELECT `relmodule` AS `module` FROM `vtiger_fieldmodulerel` INNER JOIN `v

[2021-08-21 13:26] Andr198 opened #15093 "[bug] Mail scanner misses some emails"
# 🐞 bug report

### ⁉️ Describe the bug
Mail scanner misses some emails  after update to version 6,2

### 📷 Screenshot of configuration

![ConfReport (3)](https://user-images.githubusercontent.com/62097187/130322838-545e65c2-5943-4110-b045-b8af38af2a70.png)

### 📝 PHP/Apache/Nginx/Browser/CRM Logs
errors.log

2021-08-21 16:04:05.0024 [error][IllegalValue] - purifyHtmlEventAttributes: <html xmlns:v

[2021-08-21 19:07] mariuszkrzaczkowski commented on #15093
download the e-mail (.eml format) and send it to us at github@yetiforce.com, this requires an analysis of the e-mail content

[2021-08-24 16:26] copyyour opened #15107 "How to enable Comments for a new custom module"
Description

I have created a new module using "Create Module". Now I would like to allow Comments for that module. How can I enable comments?

[2021-08-25 04:26] #15107 closed, assigned to nobody

[2021-08-25 05:07] renovate[bot] opened #15109 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Repository problems

These problems occurred while renovating this repository. [View logs](https://developer.mend.io//github/YetiForceCompany/YetiForceCRM).

 - WARN: Detected empty commit - aborting git push

These dependencies

[2021-08-25 08:43] gsportelli73 opened #15111 "[bug] Installation Problem with 6.2 version"
<!--🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅🔅

O
Hello, i tried to install a new yeticrm 6.2 on new vps  on my subdomain
 crn.prova.it
All  requests are validated from installation.
After that i comipled company data the installation fails
# 🐞 bug report

Installation failed
OS Centos 7.9.x - Plesk 18.x
Browser Google Chrome e Firefox

### 🔥 How to trigger the error

watch video https://youtu.be/N45Scz4CG2U

[2021-08-25 09:03] rskrzypczak commented on #15111
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-report-bugs

[2021-08-25 09:03] #15111 closed, assigned to nobody

[2021-08-25 09:40] Andr198 commented on #15093
Sent to github@yetiforce.com mail 23.08.2021 12:26
Today a few more letters missed by the scanner
Today sent to github@yetiforce.com mail  with logs and e-mail (.eml format)

[2021-08-27 07:47] akromdoo opened #15112 "Cant log in ?"
Hi Yesturday all worked ok today i can log in my yetiforce. i dident change any credentials.

Whan i try to log in it only refreshes the page. If i change the user or password with non existing i get mesage wrong username or password.

Checked my file permisions and all ok. Dont know what to do now?

I have 6.2 version

[2021-08-27 08:46] #15112 closed, assigned to nobody

[2021-08-29 15:45] copyyour opened #15117 "Required field cancel prompt"
I have a lot of required fields, and the full screen prompt will be blocked. Can you cancel the prompt of the required field? Ask for help

[2021-08-30 04:52] #15117 closed, assigned to nobody

[2021-08-30 12:35] Andr198 commented on #15093
In Roundcube
Mail not found in the database.

2021-08-30 15:22:37.144 [error][IllegalValue] - purifyHtmlEventAttributes: <!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html><body><div class="WordSection1"><p class="MsoNormal"><span style="color:#1F497D;mso-fareast-language:EN-US"> </span></p><p class="MsoNormal"><span style="color:#1F497

[2021-08-30 21:10] BasicComputers opened #15120 "[bug] "Got timeout reading communication packets." Error during install"
Attempting to install an instance of Yetiforce 4.4.0 on Windows Server 2019 using Xampp and connecting it to a Mysql Server 8.0 instance. When I go through the install process I am receiving an error that states "Got timeout reading communication packets."
Any idea what might be causing these issues with the setup, I have gone through the my.ini file that was included with the Yetiforce Xampp fold

[2021-08-30 22:00] bpabiszczak commented on #15120
YetiForce 4.4 :o
Windows Server :o

Check this: https://youtu.be/IUB-wjXUREE

[2021-08-30 22:01] #15120 closed, assigned to nobody

[2021-08-31 09:09] apcloic commented on #14740
@mariuszkrzaczkowski
FYI, portal demo credentials still not working.
Regards,

[2021-08-31 17:49] noelhunter opened #15128 "Webservice API error creating product with unit_price"
I receive a error:

 [message] => Illegal value has been entered for this field type. Field name: unit_price, Module: Products, Value: 1699.95
            [code] => 406

Regardless of what values I send (adding currency symbols, etc).  Other product fields work with no error.  I can enter unit_prices in the UI, and retrieve them through web service, but not send them back.

[2021-08-31 18:49] mariuszkrzaczkowski commented on #15128
give more details, full request, logs full api logs

[2021-08-31 19:15] noelhunter commented on #15128
`----------- _POST -----------
Array
(
    [productname] => redacted text only value
    [description] => redacted text only value
    [manufacturer] => redacted text only value
    [serial_no] => P0678
    [unit_price] => 1699.95
    [mfr_part_no] => 660600
    [productcategory] => G
    [website] => http://www.redacted text only value
    [tax2] => 0
    [qtyinstock] =>
    [qty_per_unit] => 1

[2021-08-31 19:17] nvieth commented on #15025
Hello,

I am sending you this message because I am having a major issue with my YetiForce, When I tried logging into the system today, I see this error message. The domain in question is https://www.netserv.biz/erp

Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 7.3.0".

Can you please tell me how to resolve this issue? The system was running fine f

[2021-08-31 19:27] mariuszkrzaczkowski commented on #15025
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/131563941-cca9893a-f904-4e18-bc5d-3dc21d10bceb.jpg)

[2021-08-31 19:59] nvieth commented on #15025
So, I am getting this error in the error_log:
[31-Aug-2021 14:41:49 America/Chicago] PHP Fatal error:  Composer detected issues in your platform: Your Composer dependencies require a PHP version ">= 7.3.0". You are running 5.6.40. in /home2/netserv/public_html/erp/vendor/composer/platform_check.php on line 25

I just went and upgraded my php version. PHP Version 5.6.40 was upgraded to version PHP

[2021-08-31 20:03] nvieth commented on #15025
Please disregard last message, the server is working and the system is now up and running. Thank you for your assistance.

[2021-08-31 20:03] #15025 closed, assigned to nobody

[2021-09-01 06:45] mariuszkrzaczkowski commented on #15128
https://github.com/YetiForceCompany/YetiForceCRM/commit/b72cb35e06bd66d6b607d56d68d30d31f1a0b7f5
[code]

[2021-09-01 06:45] #15128 closed, assigned to nobody

[2021-09-09 07:42] guanchgonzalez commented on #15088
Into the code of api/webservice/Portal/PrivilegeQuery.php (I included a log trace call to check if the transaction goes thru):

`        public static function getConditions(\App\Db\Query $query, string $moduleName, $user = false, $relatedRecord = null)
        {`
. . .
`                if (!$user->has('permission_type')) {
                        return \App\PrivilegeQuery::getPrivilegeQuery($que

[2021-09-09 13:41] nikolafamit opened #15162 "Unable to update from 5.3.0 to 6.0"
Im getting error:
Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /home/superkor/public_html/administracija/modules/Settings/Updates/views/Index.php on line 18

[2021-09-09 14:16] rskrzypczak commented on #15162
https://github.com/YetiForceCompany/YetiForceCRM/issues/13901
https://github.com/YetiForceCompany/YetiForceCRM/issues/13823
etc.
and add a full description of the system

[2021-09-09 14:16] #15162 closed, assigned to nobody

[2021-09-09 14:18] nikolafamit commented on #15162
Thank you, but not thank you. I fixed by myself.

[2021-09-10 14:28] Gazzxy opened #15164 "[bug] Generated invoice do not display Tax summary correctly"
# 🐞 bug report

### ⁉️ Describe the bug
Tax summary when generating invoices does not follow currency setting and displays the currency sign on the wrong side. also there is no line at the bottom of the box
![image](https://user-images.githubusercontent.com/83064841/132868464-94ce4564-f638-4521-b476-f21f1e054cd9.png)

### 🔥 How to trigger the error

generate PDF from sales invoice

### 👎 Actual Be

[2021-09-11 00:06] TonyM15 commented on #14925
However, it is enigmatic to save sent emails in Dovecot IMAP. What would be the folder name in this case?

[2021-09-12 01:37] garryatbrighton opened #15168 "[bug] Custom filters sorting not saved"
While setting sorting on custom filter, system ignoring that settings and not saving sorting order.
Sorting checked on Create date and Last Name (Contacts module)
Checked on stable and dev app

[2021-09-13 06:21] mariuszkrzaczkowski commented on #15168
![github](https://user-images.githubusercontent.com/10198654/133033523-86a93613-24e0-421b-bc55-f20034c9ee49.jpg)

[2021-09-13 06:32] mariuszkrzaczkowski opened #15171 "YetiForcePDF\Style\NumericValue::setUnit() must be of the type string, null given"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/14942#discussioncomment-1310969

$(barcode : type=EAN13 class=DNS1D , value=12345678)$

@TonyM15

It returns:
Warning: Undefined array key 3 in \vendor\yetiforce\yetiforcepdf\lib\Style\Normalizer\Normalizer.php on line 100

Argument 1 passed to YetiForcePDF\Style\NumericValue::setUnit() must be of the type string, null g

[2021-09-13 07:25] s2b-git commented on #15168
I can confirm on demo versions it not saving :-)

[2021-09-13 08:16] mend-bolt-for-github[bot] opened #15172 "WS-2019-0098 (Medium) detected in bootbox-5.5.2.tgz"
## WS-2019-0098 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>bootbox-5.5.2.tgz</b></p></summary>

<p>Wrappers for JavaScript alert(), confirm(), prompt(), and other flexible dialogs using the Bootstrap framework</p>
<p>Library home page: <a href="https://regis

[2021-09-13 08:24] #15168 closed, assigned to rskrzypczak

[2021-09-14 14:14] s2b-git opened #15182 "[bug] PDF variables are not clickable"
In the first screen (settings) of PDF system templates all variable selecting little icons (next to text fields) are not working.
Checked on Stable, developer and own installation. I will appreciate if someone else could confirm.

regards

[2021-09-14 15:26] apcloic commented on #15182
Post a screenshot please, it's not clear.

[2021-09-14 23:44] s2b-git commented on #15182
![image](https://user-images.githubusercontent.com/84110093/133348111-fccd2062-f854-4464-b5ae-1bb53475f085.png)

[2021-09-15 04:38] rskrzypczak commented on #15182
The elements indicated by you contain only information (popover), they had no other purpose.
So this is not a bug.
![image](https://user-images.githubusercontent.com/10221999/133371401-ae89f5a0-66cc-4b2a-bb2f-221e947f2982.png)

[2021-09-15 04:38] #15182 closed, assigned to nobody

[2021-09-15 04:47] s2b-git commented on #15182
Au..! Sorry than, bit misleading :-)
Thank you

[2021-09-15 13:30] aveblackmetalstudio opened #15183 "modulesMapRelatedFields don`t work correct for multipicklist"
Change **mapFieldElement** to **mapFieldElementMultiselect**
https://github.com/YetiForceCompany/YetiForceCRM/blob/c3d5c60b09f6ee35a63f94efbeb748e4a9ec09f2/public_html/layouts/basic/modules/Vtiger/resources/Edit.js#L331

[2021-09-15 21:14] garryatbrighton opened #15190 "[bug] Custom Filters permissions error"
When creating customized set of filters for Roles CRM returning error.
Reproduce stack:
Create filter, Make it private, assign certain role, allow filter in favorites, login with Role, click filter, click record, get back to filter list view. Attached screeeshot. Checked on developer demo

![image](https://user-images.githubusercontent.com/80203589/133510345-fc091260-b5e9-490b-a19b-6511c92c077d.pn

[2021-09-16 05:52] #15190 closed, assigned to rskrzypczak

[2021-09-16 14:13] garryatbrighton commented on #15190
Thank you

[2021-09-16 19:42] mariuszkrzaczkowski commented on #15093
fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/d6e26b35f3c318d527e5da2129e8cdcae96370d1

[2021-09-16 19:42] #15093 closed, assigned to mariuszkrzaczkowski

[2021-09-17 22:31] garryatbrighton opened #15192 "[bug] Menu type "Shortcut" don't displaying icons"
After creating menu type "Shortcut" and assigning some icon, this icon is not displayed in newly created menu:
Tested on https://gitstable.yetiforce.com/index.php

[2021-09-18 06:16] vovpff commented on #15192
Try to clean browser cache

[2021-09-18 13:12] garryatbrighton commented on #15192
Not helping

[2021-09-19 19:31] sltmunky69 commented on #14937
Unfortunately, I went through and checked all of the Roles and every single one of them had the primary department assigned. Anything else I can check? You mentioned something about deleted module records.

[2021-09-20 10:46] cltvchannel opened #15199 "CRM Template[bug]"
# 🐞 bug report

### ⁉️ Describe the bug
Hi, There is any plan to create a new design for CRM?
1 Year ago, your presented a new design plan but nothing concrete until now.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tes

[2021-09-20 10:49] #15199 closed, assigned to bpabiszczak

[2021-09-21 02:54] leo719044 opened #15203 "how to disable base64 in ckeditor??"
I would like to save image directory as image instead of base64 in database, because multiple images are required in ticket, and it definately makes database very big if images are stored in base64

Anyone could tell me how to do it??

Thanks in advance.

[2021-09-21 05:00] #15203 closed, assigned to nobody

[2021-09-21 06:30] rskrzypczak commented on #14937
Edit and save each role, because if the role was assigned to a department that no longer exists, you will see the first picklist value, so you must click Save to make changes.

[2021-09-22 07:50] PercyP opened #15210 "Custom dashboard charts do not work properly if using a custom created multiselect field for group by"
Hi,

I am not sure if this is expected behaviour or a bug so apologies in advance. It appears to work correctly with existing multi-select fields but not with custom multi-select fields I create.

What I did:

1. I created a new test dashboard chart and set Group By to a custom multiselect field called Category

2. I click on the newly created chart items on the dashboard and it opens the record l

[2021-09-22 10:06] apcloic opened #15212 "[bug] payment status is not reset to default value when duplicating an invoice"
Hi,

Not a big deal but I've noticed that when duplicating an invoice, payment status is not reset to default value.

![payment_status_not_updated](https://user-images.githubusercontent.com/2930560/134324581-6cd2152b-8f01-4b61-8809-48887695910e.gif)

Ok, found a simple solution by creating a workflow for sales invoice that will reset "payment status" to default value when creating a new record.

R

[2021-09-22 10:36] vovpff commented on #15212
@apcloic Your solution is good but I think this option should be flexible for users/admins. In case of duplicating for example IGDN/IGRN with `Accepted` status there is two problems:
1. Products quantity calculated when saved every time (IStorages handler)
2. If user don't have permissions to set `Accepted` status he can't change status to `Draft` or any other because status field is grey (not edi

[2021-09-22 19:09] crawe1 opened #15213 "[bug] Chat duplicate entry"
Bug is on all version and on testing web server too.

Scenario:
1) user Guest --------> chat -> send message to demo
2) user Demo --------> chat -> notification see this message
3) user Guest --------> chat -> send another one different message to Demo
4) user Demo --------> chat -> notifications -> Demo sees last sending message from Guest in duplicate.

Poblem is only in notifications.

! [image

[2021-09-22 20:23] MotazHakim commented on #4247
Hi,
can i ask what skin is that?

[2021-09-23 13:48] #14649 closed, assigned to nobody

[2021-09-24 16:29] MixTecnico opened #15216 "cache clear"
I have this problem from previous versions, could you tell me where to verify it or could I activate it?

![cache](https://user-images.githubusercontent.com/29989839/134709390-0813c8cc-24a1-4151-b053-8b50b8c96369.png)

[2021-09-24 19:15] mariuszkrzaczkowski commented on #15216
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/134728412-c5eeacc2-ff29-403a-a376-11647bb2c6bb.jpg)

[2021-09-24 19:36] MixTecnico commented on #15216
SOLVED

Change file permissions

/crm/cron/cron.sh to 775

/crm/cache to 775

[2021-09-27 09:07] #15216 closed, assigned to nobody

[2021-09-27 12:01] diderich opened #15226 "[bug] Missing isset in api/webservice/Core/Response.php:getReasonPhrase function?"
In `api/webservice/Core/Response.php`, in function `getReasonPhrase`, shouldn't the return line read

`		return isset($statusCodes[$this->status]) ? $statusCodes[$this->status] : $statusCodes[500];
`

instead of

`		return ($statusCodes[$this->status]) ? $statusCodes[$this->status] : $statusCodes[500];
`

?

[2021-09-27 12:07] mariuszkrzaczkowski commented on #15226
thanks, fixed it https://github.com/YetiForceCompany/YetiForceCRM/commit/2e5e8f2f692ad2a49b81d5c5f99e39349b500020

[2021-09-27 12:07] #15226 closed, assigned to mariuszkrzaczkowski

[2021-09-27 16:04] apcloic commented on #13486
I don't know if it's the right way but this is how I've modified relatedRecordsList function in /app/Textparser.php in order to get status_rel and comment_rel printed in PDF output.

[code]

[2021-09-28 07:52] Gazzxy commented on #15164
anyone any ideas

[2021-09-29 12:22] leo719044 opened #15236 "[bug] Price book permission do not work"
I created the price book, but it is always visible to all user who can access "price book" module (set in Module Access)

even I set price book to "private"

[2021-09-29 12:37] mariuszkrzaczkowski commented on #15236
![github](https://user-images.githubusercontent.com/10198654/135269538-f1aad76f-5aa9-488b-9abb-89791bd562ed.jpg)

[2021-09-29 13:51] leo719044 commented on #15236
# 🐞 bug report

### ⁉️ Describe the bug

I created the price book, but it is always visible to all user who can access "price book" module (set in Module Access)

even I set price book to "private"

### 🔥 How to trigger the error

1. Go to 'Price Book'
2. Create any price book
3. Set price book neither "Private" or not
4. See "Permission Inspector"
5. No matter what sharing rule, everyone(with Pri

[2021-10-01 12:03] PercyP opened #15242 "How to add a new dashboard tab"
Hi,

I am only just getting back in to Yetiforce. Can someone tell me how we create new dashboard tabs? I am sure there used to be an option for this but cannot see it any more.

Any help would be greatly appreciated.

[2021-10-01 12:04] #15242 closed, assigned to nobody

[2021-10-01 22:08] s2b-git commented on #15049
Is there a solution for this? Here is not working too. Thanks

[2021-10-02 05:38] s2b-git opened #15249 "[bug] Quick Create menu for custom modules failed"
Quick create menu fixed with custom module not showing up, I checked on three different installations (latest version). Logs showing nothing

[2021-10-02 07:28] tekkisse opened #15250 "[Docker] system reinstall everytime on restart"
# 🐞 bug report

### ⁉️ Describe the bug

Configuration not being held when docker-compose up / down

Using docker-compose with mysql as a separate container, however get same behaviour if just use the yetiforce container and embedded mysql server

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. docker-compose up -d
2. configure install through web browsers
3. docker-compose do

[2021-10-02 11:18] mariuszkrzaczkowski commented on #15250
this is a development version, needs to be adjusted for production use

[2021-10-02 11:19] #15250 closed, assigned to mariuszkrzaczkowski

[2021-10-02 11:20] mariuszkrzaczkowski commented on #15249
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/135713926-64958a75-4f7b-4b24-bb83-f087e1b614d4.jpg)

[2021-10-03 03:25] ducmu opened #15254 "[Docker] ..."
# 🐞 bug report

### ⁉️ Describe the bug

I have install YetiForceCRM at the first time in my shared hosting
https://ducmu.net/yeticrm/install/install.php
but it display blank page

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error
this is video error: https://www.awesomescreenshot.com/video/5474800?key=fa5663e9

[2021-10-03 04:43] s2b-git commented on #15192
Same here. Newly creates in menu Shortcut, or Quick Create not showing icons.

[2021-10-03 04:48] s2b-git commented on #15249
Well, it shown up 24 h later. Is it something done by cron? O.o

[2021-10-03 04:48] #15249 closed, assigned to nobody

[2021-10-03 06:43] s2b-git commented on #15192
Created custom module and shortcut in git developer version - no icons displayed :-)

[2021-10-03 08:54] s2b-git opened #15256 "[bug] Cannot create PDF template fo Advaced Custom module"
Converted custom module to Advanced, added line items etc and I am unable to create PDF template for this module. Previously created are not accessible too.
Tried reproduce it on Yetiforce test versions, but cannot convert Custom Module from basic to advanced
Logs doesn't show errors.

Best regards

[2021-10-03 08:58] TonyM15 commented on #15256
Checked - confirmed. Hanging

[2021-10-03 12:22] PercyP opened #15257 "[bug] When a user changes password it then keeps asking them to change it again on every login"
Hi,

When a user's password is changed for the first time they then have to change it on every single login. I first mentioned this issue here:

### 🔥 How to trigger the error

Change a user's password in the backend then login. You will be presented with the change password form. You will also see the the Force password change under the user's permissions has been changed to Yes.

There is no way

[2021-10-03 12:41] PercyP commented on #15257
Hi,

I have temporarily fixed it. I had to go in to the database vtiger_field table and searched for the force password change field then set the default value which was empty to 0. This for some reason then showed the field in the user's edit screen and I could switch the force password change to off.

I am sure this is not the correct solution  but at least it works for now.

[2021-10-03 13:24] garryatbrighton commented on #15256
Would be helpful if Yetiforce allow for changing module to advanced, so we all can confirm

[2021-10-03 17:41] mariuszkrzaczkowski commented on #15256
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/135765296-67dc90d8-fd38-4313-a9e0-0df96ce5f342.jpg)

[2021-10-03 19:03] mariuszkrzaczkowski commented on #15254
![github](https://user-images.githubusercontent.com/10198654/135767826-da06bed5-40c9-40b4-8909-020c4ddcf8ef.jpg)

[2021-10-04 07:35] allyh12 opened #15258 "[Cache issue] Generated about 1Gb pdf cache in 'Cache'--->'pdf' folder"
Hi there,

Recently, I found the backup file on server is quite large as almost 1 Gb. Finally I found there are a lot of cache file in 'Cache'--->'pdf' folder.

<img width="520" alt="Yetiforce pdf cache" src="https://user-images.githubusercontent.com/59724920/135811709-3f3bf176-3c9d-4d70-95f0-00cd0f31c83e.PNG">

Please advise if there is a function can clear pdf cache, or I have to delete the pdf

[2021-10-04 07:51] #15049 closed, assigned to mariuszkrzaczkowski

[2021-10-04 07:55] rskrzypczak commented on #15258
https://github.com/YetiForceCompany/YetiForceCRM/discussions/14148

[2021-10-04 07:55] #15258 closed, assigned to nobody

[2021-10-04 14:26] averied opened #15260 "Error when creating a new activity"
I'm in leads, and I create a new activity, there is an error, so the loading animation is looping forever.

![image](https://user-images.githubusercontent.com/10140930/135868970-a61b1d51-182e-4a08-b0cd-156c65428636.png)
![image](https://user-images.githubusercontent.com/10140930/135869103-573ba345-fc2a-4ed7-9076-faed653fdf6b.png)

My system is Windows Server 2019 IIS web server
Yetiforce 4.4

The

[2021-10-04 15:27] ducmu commented on #15254
i have Describe all information i can, bro :)

[2021-10-04 18:25] mariuszkrzaczkowski commented on #15260
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/135904237-4e042e6a-d7f9-4cd5-93c8-ee6ef876bcfb.jpg)

[2021-10-05 15:05] rskrzypczak commented on #15260
I am closing this issue because the error does not exist in the current version of the system.

By the way, I'm shooting that the error is caused by the date format.
If you set the standard date format in the user settings, the problem will probably disappear.
Nevertheless, the best solution to get rid of the problem is to update the system :)

[2021-10-05 15:05] #15260 closed, assigned to nobody

[2021-10-05 19:59] garryatbrighton opened #15270 "[bug] Custom module line items > create entity (invoice) error"
Cannot use Create entity (Create invoice) in workflow as system reporting "Illegal value has been entered for this field type. Field name: currency, Module:".
There is no option to select currency in Mapping (both Mapping itself and mapping/overriding in workflow)

[2021-10-06 04:10] s2b-git commented on #15256
What would be the best way to debug such?

[2021-10-06 05:09] rskrzypczak commented on #15270
I see no error here.
Creating entries for advanced modules with the required entry in the products/services section is possible only through the mapping panel.
All basic fields from this block should be completed.
The invoice module has a currency field, so if you map from a module that does not have one, you cannot create an invoice because not all fields required to create an invoice have been c

[2021-10-06 05:09] #15270 closed, assigned to nobody

[2021-10-06 05:28] mariuszkrzaczkowski commented on #15256
Logs

[2021-10-06 06:16] rskrzypczak commented on #15256
Now you can change the module type on the demo version (https://gitdeveloper.yetiforce.com/).
So please confirm, because I can't see the error by myself.

[2021-10-06 08:14] averied commented on #15260
So the user having to change the date format is not a bug? when was this fixed? This a fresh installation from last week. You see.. the package I downloaded is YetiForceCRM-6.2.0-complete.zip

However, the installation says it's 4.4, so I don't really understand what's going on here.

![image](https://user-images.githubusercontent.com/10140930/136166221-3ca5bcf5-843f-4bc0-9e48-189ceae81984.png)

[2021-10-06 08:35] rskrzypczak commented on #15260
Install the latest service pack and check if the error persists. (https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/6.2.0)

[2021-10-06 08:52] averied commented on #15260
OK.. I downloaded package 6.2.0_ServicePack_v4 and extracted on top of my installation. The issue is solved, thanks!

In my opinion, it's a bit confusing when I download a package called "YetiForceCRM-6.2.0-complete", and after installation I get version 4.4, but ok!

[2021-10-06 11:20] leo719044 commented on #15236
Hello？？

[2021-10-06 18:23] acoolov commented on #12735
I got the same error on my 5.3 version. Did anyone find a solution? I can't update to version 6. It gives me this error

Argument 1 passed to App\YetiForce\Updater::download() must be of the type array, null given, called in /home/etwh/etwh/modules/Settings/Updates/views/Index.php on line 18

When I replace the code which was provided by @mariuszkrzaczkowski and click download package, nothing hap

[2021-10-06 18:36] acoolov opened #15275 "Custom test area field text editor"
Hello,

When I create a custom text area field called Equipment/Material in Yetiforce, it adds a field but the field does not have the same text editor like the Description or Solution fields have. How can I add the same field type like the Description field so it has the same text editor?
![Screenshot (7)](https://user-images.githubusercontent.com/38298689/136263056-b83e1c81-49cc-4e31-a87f-712a57

[2021-10-06 19:23] mariuszkrzaczkowski commented on #12735
Upload the update package manually
https://github.com/YetiForceCompany/UpdatePackages/tree/master/YetiForce%20CRM%205.x.x/5.3.0_to_6.0.0/zip

[2021-10-06 19:33] acoolov commented on #12735
When I upload the package manually, it tries to upload it, spins, and then just goes to nowhere and says this page cannot be displayed. What should I do?

[2021-10-06 19:37] mariuszkrzaczkowski commented on #12735
start with full logs

[2021-10-06 19:39] acoolov commented on #12735
So sorry for being ignorant, where should I get the logs for you?

[2021-10-06 22:49] JohnMaverick opened #15276 "[bug] Dependent fields - mandatory not working"
When trying to make some field mandatory using Dependent Fields it not makes it mandatory but it hide field (create).
Checked on Git Dev and own instance

[2021-10-07 03:52] #15275 closed, assigned to nobody

[2021-10-07 06:22] mariuszkrzaczkowski commented on #15276
it's not a bug, that's how it was designed

[2021-10-07 06:22] #15276 closed, assigned to mariuszkrzaczkowski

[2021-10-07 06:26] mariuszkrzaczkowski commented on #12735
https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/debugging
![github](https://user-images.githubusercontent.com/10198654/136330834-2d089a62-24e5-4324-8831-09be6fe401b5.jpg)

[2021-10-07 09:07] JohnMaverick commented on #15276
Maybe change naming structure than, as it misleading completely

[2021-10-07 11:07] waran70 commented on #15276
According to attached gif, I would say this is bug:

![mandatory](https://user-images.githubusercontent.com/6852348/136372651-54a3e72c-4cec-4def-b4e5-97239821f044.gif)

[2021-10-08 02:58] TonyM15 commented on #15276
Making fields mandatory based on given conditions is something common in business applications. It is common because it is basic  user-level record safety measure.

[2021-10-08 23:37] Marshal4582 commented on #15276
Tried this function too hoping it works as it says. It will be great advantage to add managing mandatory/or not fields

[2021-10-09 14:54] JohnMaverick commented on #15276
Marius, thanks for label. It noting bigy to fix, but community eyeing essentials which will contribute to your pool of potentials what will translate to commercial success for sure. Respect!

[2021-10-10 13:58] JEEVAN28 opened #15289 "[bug] Mass SMS does not work"
# 🐞 bug report

### ⁉️ Describe the bug
We have enabled smsnotifier module

In Contact List View, selected record and from action menu, selected mass sms
![image](https://user-images.githubusercontent.com/12723595/136698779-9fc13f27-7323-43d8-b1ad-98c945504e71.png)

Then SMS modal form opened
entered details but on submit button even message is typed it shows required details message
![image](http

[2021-10-10 14:30] vovpff commented on #15289
All mass actions can be applied to 2 or more records in one time. Maybe this is cause of your problem?

[2021-10-11 04:13] JEEVAN28 commented on #15289
Hi @vovpff

I checked on 2 contacts (records) but issue remains same.

![image](https://user-images.githubusercontent.com/12723595/136732242-53439bb3-302b-4a32-a5e7-ea899d780351.png)

Please assist.
Regards
Jeevan Pendhari

[2021-10-11 07:28] apcloic commented on #15289
@JEEVAN28
I had this problem too when working on mass sms feature for a custom module.

Try the following workaround, not perfect but it should work.

Modify layouts/basic/modules/Vtiger/SendSMSForm.tpl (or in custom/layouts/basic/modules/Vtiger/SendSMSForm.tpl if you have enabled loading custom files) like this :

Replace :

[code]

with	:

[code]

Reference issue : #12496
Regards

[2021-10-11 12:11] s2b-git commented on #15256
It was my error. Sorry for alarm

[2021-10-11 12:11] #15256 closed, assigned to nobody

[2021-10-12 05:11] #15289 closed, assigned to rskrzypczak

[2021-10-12 05:46] konadrian commented on #15171
![image](https://user-images.githubusercontent.com/3193498/136898487-563be7c3-49ba-4b96-8899-6044e68dff40.png)
GitDev version

[2021-10-12 05:46] #15171 closed, assigned to konadrian

[2021-10-13 00:55] acoolov opened #15305 "[bug] Unable to delete or replace profile picture"
When you go to profile and try to delete a profile picture, nothing happens. There is no way to upload another profile picture if the old one is not removed.

When is this going to be fixed? This issue has been there forever. Just installed 6.2 and the issue is still there.

[2021-10-13 04:50] rskrzypczak commented on #15305
I see no error here.
Did you test it on a demo version?

I suppose the problem may be with your server configuration.
Provide more information.

[2021-10-13 05:47] mariuszkrzaczkowski commented on #15305
![github](https://user-images.githubusercontent.com/10198654/137074397-f44e5795-109c-4e85-9530-079e180ef36a.jpg)

[2021-10-13 09:39] bmankowski opened #15307 "Not able to create a REST API user on DEMO"
When trying to add a rest api user:
https://gitstable.yetiforce.com/index.php?module=WebserviceUsers&view=List&parent=Settings
I'm not able to close a form and add the new user.

[2021-10-13 17:16] ugintl opened #15308 "Commercial use"
I want to use it for a client. What are the conditions?

[2021-10-13 17:28] #15308 closed, assigned to nobody

[2021-10-13 19:23] acoolov opened #15310 "[bug] Fresh 6.2 install, multiple issues"
Hello friends from Yeti!

Just wanted to list some of the issues I've experienced with a brand new 6.2 installation.

Just installed Yetiforce 6.2 on top of Plesk web server with PHP 7.4 and Apache run on Plesk. All went pretty smooth with no issues. Copied Yetiforce files into the Plesk file manager and ran the Yeti install wizard.

These are the issues that I've got so far. I don't know if they

[2021-10-13 19:43] vovpff commented on #15310
I think you need to tune your  web server config at first.

[2021-10-13 19:47] mariuszkrzaczkowski commented on #15310
![github](https://user-images.githubusercontent.com/10198654/137202705-248aab13-11f6-48ac-97fd-b5363a94d19c.jpg)

[2021-10-13 23:46] acoolov commented on #15310
What are the other requirements to tweak with the web server apart from the php flags and such? @vovpff

[2021-10-13 23:53] acoolov commented on #15305
There is nothing else to post. The profile picture can be uploaded once, then I cannot delete it or replace it. Nothing happens when I click delete picture, and it just stays there. What else can I provide?

[2021-10-14 00:21] acoolov commented on #15305
Steps to reproduce:

Go to the demo stable Yetiforce and try to delete the profile picture for the demo user (the Yeti logo). Nothing happens. The buttons don't do anything, delete, download, or zoom in. I just got one button to work once, and that's it. They don't work anymore, neither on my instance nor in the demo instance.

[2021-10-14 02:32] JEEVAN28 commented on #15289
Yes, this is done. Thanks.

[2021-10-14 02:46] rskrzypczak commented on #15305
As I mentioned, I don't see an error here, as you can see below.
So I close the issue because there is no way to reproduce the error.
Nevertheless, I suppose that one of the browser add-ons/extensions you have installed is blocking you from changing the photo.
Check on other browsers.
However, if you believe that the bug is native, please provide all the information mentioned by @mariuszkrzaczkows

[2021-10-14 02:46] #15305 closed, assigned to nobody

[2021-10-14 03:08] rskrzypczak commented on #15310
The first thing you should do is install the latest service pack which contains fixes for some of the bugs you mentioned. The remaining bugs have already been fixed in the development version and will disappear after the update to 6.3, which is due to be released soon.
I am closing the issue because I do not see any errors that need to be fixed.
Before creating the issue, check if the bugs are pre

[2021-10-14 03:08] #15310 closed, assigned to nobody

[2021-10-14 04:03] rskrzypczak commented on #15307
Yes, since the stable version requires support for Argon2id hashing algorithm.
This has already been fixed here: https://github.com/YetiForceCompany/YetiForceCRM/commit/0940e785ed8dd866b70859475066287836963fa4#diff-11f0abb3f07603a1ab93c353847cca7663759866bddd15327aa90dbe6155cea9R301

We will improve the demo stable environment soon. Thanks.

[2021-10-14 04:03] #15307 closed, assigned to nobody

[2021-10-14 09:17] JohnMaverick commented on #15289
Applied carefully changer to 6.2 but it hangs plus crippling fields quick edit. I guess there are some dependencies?

[2021-10-14 14:12] Gazzxy commented on #15257
I also have this issues

[2021-10-14 14:16] rskrzypczak commented on #15257
Install the last service pack: https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/6.2.0

[2021-10-14 14:18] Gazzxy commented on #15164
have sort of sorted the currency symbol but the line remains a problem

[2021-10-15 05:28] s2b-git commented on #12496
How to get SMS working with Campaign module? Tried above but doesnt work :-)

[2021-10-15 15:30] apcloic commented on #12496
@s2b-git
Campaign module uses a different related list view, not the default one so it may require some additionnal tweaks.
Also, I've just checked with Occurrences module as this custom mod is inspired by this module and it works as expected.
Regards,

[2021-10-18 07:39] drakub opened #15322 "How do I remove the option "Select one" from picklist options when using a form. I would like my option values for the field to be presented without having the option "Select one""
How do I remove the option "Select one" from picklist options when using a form. I would like my option values for the field to be presented without having the option "Select one"

### **Actual Behaviour**
![Screenshot (276)](https://user-images.githubusercontent.com/19745222/137287527-da16e186-29f4-434b-94ae-5a7e82132940.png)

### **Expected Behaviour**
![Screenshot (277)](https://user-images.git

[2021-10-18 07:39] #15322 closed, assigned to nobody

[2021-10-18 07:39] drakub commented on #15322
resolved

[2021-10-20 16:26] naas1172 opened #15344 "Server configuration on Fully managed VPS on TMD Hosting"
Hello everyone.
We have a fully managed VPS Hosting in TMD Hosting.
Yetiforce is installed. The support team has helped me a lot, but there are still some issues.
Yetiforce is up to date: YetiForce CRM 6.2 Service Pack v4.
Please check the images here below.
In the last email Support wrote me: "Unfortunately, your application does not detect the rest of the changes we have made and the warnings ar

[2021-10-20 20:47] vovpff commented on #15344
You need to run cron once to check cron (cli) column parameters

[2021-10-21 03:16] #15344 closed, assigned to nobody

[2021-10-21 15:58] Gazzxy opened #15349 "[bug] export to Excel formats corrupted"
# 🐞 bug report

### ⁉️ Describe the bug

Attempting to export to Excel  in any form results in a corrupted unreadable file

### 🔥 How to trigger the error

select some records and try to export

Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/83064841/138311758-75f21b5c-94cb-47f9-aef0-c3c88982b997.png)
![image](https://user-images.githubusercontent.com/83064841/

[2021-10-25 17:05] JEEVAN28 opened #15361 "[bug] SQLSTATE[42S02] Error"
Hello,

I tried to upgrade from 6.1.0 to 6.2.0 v2 from Settings Update Menu. I took backup before upgrade. while upgrade failed. I restored my database and installation files.
 but now when i am trying to view any module i get below error
![image](https://user-images.githubusercontent.com/12723595/138739125-a1c5ec42-babd-4acc-bad0-751b476c08b3.png)

I checked database but no such table found.

I t

[2021-10-26 04:24] rskrzypczak commented on #15361
This table exists in version 6.1 and even earlier.
It's hard to help you here, because you just didn't restore the database correctly.
Verify the copy of the database you made, because the errors may have arisen during the database dump.

[2021-10-26 08:42] JEEVAN28 commented on #15361
I created this table manually and application started working correctly.
But issue persist with upgrade from 6.1.0 to 6.2.0. I am raising separate issue for the same for analysis
Thanks for reply

[2021-10-26 08:42] #15361 closed, assigned to nobody

[2021-10-26 10:30] mariuszkrzaczkowski commented on #15361
the fact that you have created one table does not mean that everything works, if you have such an error, you will soon have another ...

you must either repair the entire database or restore the correct database from a backup

crm may look like it works, but there may be a lot of bugs not visible or some functions may not work

[2021-10-28 08:29] #15210 closed, assigned to nobody

[2021-10-28 11:37] #15212 closed, assigned to nobody

[2021-10-28 16:16] vovpff commented on #15212
What is difference between displaytype 10 and 2?

[2021-10-29 02:42] rskrzypczak commented on #15212
https://github.com/YetiForceCompany/YetiForceCRM/blob/be762076179912f3e65abbbb38667da8866cbcb5/languages/en-US/Settings/LayoutEditor.json#L77-L83

[2021-10-29 06:52] #15087 closed, assigned to nobody

[2021-10-29 06:52] #15086 closed, assigned to nobody

[2021-10-29 09:37] paula-w opened #15384 "ℹ PDF Library license changed to MIT"
Hello everyone

We made the decision to change the licence of our PDF library to MIT to make it more beneficial for our community.

You can now freely download, use, and develop the PDF library to your heart’s content.

If you have any questions, a copy of this announcement can be found in the "Discussions" tab.

[2021-10-29 15:46] vovpff commented on #15212
@rskrzypczak how to be with duplicating IGDN/IGRN modules records?

[2021-10-29 22:09] garryatbrighton opened #15388 "[bug] Unable to delete / download image"
Checked on gitdeveloper and own instances. On linux it work well but non windows installation allowing for deleting or downloading picture from image field. On windows it has been tested in four top browsers.
Attached gif
![image-bug](https://user-images.githubusercontent.com/80203589/139506754-869b9fec-a102-4eea-8f2a-245d633d5054.gif)

[2021-10-30 02:47] Marshal4582 commented on #15388
It could be that images are converted to base64 - this causing issues with for instance WYSWIG fields when you want to limit number of characters. Converted image (even little) eating characters limit right away

[2021-11-02 07:37] areksolek commented on #14356
I tested it on the current version but I couldn't see the problem

![9wdRe9dQ14](https://user-images.githubusercontent.com/25615135/139804251-ad2c4b6b-7c5b-4135-81a0-2a88d711af8e.gif)

[2021-11-03 05:12] rskrzypczak commented on #15388
Duplicate: https://github.com/YetiForceCompany/YetiForceCRM/issues/14331
You need to provide more info regarding your configuration, you see it works on the yetiforce demo: https://github.com/YetiForceCompany/YetiForceCRM/issues/14331#issuecomment-811722692

If it didn't work for you on the demo version (gitdeveloper), maybe one of the add-ons is the cause.

[2021-11-03 05:12] #15388 closed, assigned to nobody

[2021-11-03 05:41] s2b-git commented on #15388
Radek, can you please try it on Windows? I use different Windows, no extension installed, tried in incognito mode, Tor browser - none works. Only on Ubuntu all is OK. Cofnig here is perfect. All PHP extensions in place, no errors. Should we install some java version, or so, on windows to make it work?

[2021-11-03 06:03] rskrzypczak commented on #15388
Yes i checked and i can't reproduce it.
Check the console(F12), maybe there will be an error message.
Try to debug the cause yourself.

[2021-11-03 07:08] waran70 commented on #15388
Well, I am far away from the guy who opened this issue I believe, but here this is also not working. Maybe instead of closing case, it will be wise to check it on various computers?

[2021-11-03 09:23] rskrzypczak commented on #14739
Fixed in: https://github.com/YetiForceCompany/YetiForceCRM/commit/740df2887f1c4775360ea3e65f678827345b4736, https://github.com/YetiForceCompany/YetiForceCRM/commit/58f5809f291220f47c6e3c5ea3fc3f0ffa38b301

[2021-11-03 09:23] #14739 closed, assigned to rskrzypczak

[2021-11-04 08:23] s2b-git commented on #15388
Maybe we can reopen, and listen to experience of other users?

[2021-11-04 14:44] apcloic commented on #15388
@s2b-git @garryatbrighton
No delete/download/upload issue with image field on gitdeveloper for me, lenovo_laptop/win10/chrome.
![download_image_yeti6 3](https://user-images.githubusercontent.com/2930560/140334901-999b5aca-66d3-412b-82b6-7538db11ec3d.gif)

[2021-11-04 21:43] TonyM15 commented on #15388
In windows serv 2019 it seems to be java problem. Never fixed, working on different OS

[2021-11-05 06:12] mariuszkrzaczkowski commented on #15388
Record a video showing the error and show the browser consoles.

[2021-11-07 05:53] JEEVAN28 opened #15413 "[Issue] Products & Services Search Treeview does not filter records"
Hi,
I am struggling with Accounts Module -> Products & Services Tab -> when I click on search button I get the list of products which are around 3000 + in my case.
when I search for the products currently it only highlights the product name and not filter. it is very difficult to scroll 3000 list and see where same is highlighted.
![image](https://user-images.githubusercontent.com/12723595/1406341

[2021-11-07 06:58] JEEVAN28 opened #15414 "[bug] Upgrade from Release 6.1.0 to 6.2.0 v2"
Hi,
I am trying to upgrade from 6.1.0 to 6.2.0 as per below screenshot
![image](https://user-images.githubusercontent.com/12723595/140635236-4e308cc7-94a1-490d-bd1e-48f0debe017b.png)

I have downloaded package and then clicked on install package button
I get below error
![image](https://user-images.githubusercontent.com/12723595/140635285-bd5a9b1a-dc9d-43f1-b9a6-1de1e9915755.png)

I had then click

[2021-11-07 14:32] rskrzypczak commented on #15414
You have a problem with your server or database configuration.
Probably this configuration is not adapted to the size of your application and the operations it performs.

Your server logs showed your problem _..executing too slow.. execution timed out_.
Search google for these errors and try to correct your configuration.

[2021-11-08 07:15] mariuszkrzaczkowski commented on #15414
Please take a look at our rules on how to report bugs, once you add all the missing information we will start investigating your problem. Right now we don't have enough details to do so.
![github](https://user-images.githubusercontent.com/10198654/140699355-6e071666-f4c8-4f6d-9fc2-535653b034cf.jpg)

[2021-11-08 07:15] #15414 closed, assigned to nobody

[2021-11-08 07:31] mariuszkrzaczkowski commented on #15413
you can try it: https://www.jstree.com/api/#/?f=$.jstree.defaults.search.show_only_matches

[2021-11-08 15:16] asperitigroup opened #15418 "Upgrade from 5.3 to v6.X"
I am trying to use an upgrade package to upgrade from v5.3 to v6.2.  I have downloaded the 5.3.0_to_6.0.0_v8.zip file but when I try to "Import bundle from file" in system updates I get an error message saying "This site can't be reached"

[2021-11-08 15:30] mariuszkrzaczkowski commented on #15418
https://github.com/YetiForceCompany/YetiForceCRM/issues/13823 https://github.com/YetiForceCompany/YetiForceCRM/issues/13862
https://github.com/YetiForceCompany/YetiForceCRM/issues/13839
![github](https://user-images.githubusercontent.com/10198654/140770010-e8defb60-fef7-41d8-8cbf-11750d11d021.jpg)

[2021-11-08 15:30] #15418 closed, assigned to nobody

[2021-11-09 07:19] JEEVAN28 commented on #15413
Hi @mariuszkrzaczkowski its bit technical. not understood much. can you guide me file where i need to see for changes

[2021-11-09 07:34] mariuszkrzaczkowski commented on #15413
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/public_html/layouts/resources/libraries/jstree.category.js

[2021-11-14 03:20] reeidgce opened #15436 "[bug] Multiimage | download| delete | preview | Windows Server 2012 | Windows Server 2019"
Image and Multimage fields are not working in Windows Severs. Cannot Delete uploaded image or download/preview.
Checked on 3 computers installed in our company. 2 W2019 and 1 W2012.
Further description not necessary, developer might check it if have access to mentioned OS's.
This is significant limitation for corporate users running mentioned operating systems. Other Windows versions are OK

[2021-11-14 04:13] reeidgce commented on #15388
Just created new issue without checking and yes, it not works on Windows Server versions

[2021-11-14 11:44] mariuszkrzaczkowski commented on #15436
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/141679407-67f25a12-fb20-4e63-b355-3a5b99389ffb.jpg)

[2021-11-14 11:47] mariuszkrzaczkowski commented on #15436
Duplicate of #15388

[2021-11-14 11:47] #15436 closed, assigned to nobody

[2021-11-14 11:48] mariuszkrzaczkowski commented on #15388
please send the required information, we do not have a windows server operating system to verify it

[2021-11-14 12:18] reeidgce commented on #15388
May I know email so I can send RDC credentials?

[2021-11-14 12:21] mariuszkrzaczkowski commented on #15388
github@yetiforce.com

[2021-11-15 03:30] reeidgce commented on #15388
Cannot upload images to demo servers (both).

[2021-11-17 12:18] staniuuu opened #15448 "[bug] Import records of Leads to my category"
Hi,

I export my lead and import this records from csv to another category.
My all records was removed, how Can I restore my previous data?

Best,
Adrian

[2021-11-17 14:33] rskrzypczak commented on #15448
Man, I really don't know what you're trying to say
https://yetiforce.com/pl/component/zoo/item/how-to-report-bugs

However, if you have put these records in the trash, you can restore them from there.
I am closing the issue due to the lack of data proving the error.

[2021-11-17 14:33] #15448 closed, assigned to nobody

[2021-11-17 16:44] jmginfor commented on #15067
I have the same problem.
Just want to be sure. Where do you add this method ? In /var/www/yetiforce/modules/Vtiger/models/Record.php ? If so where exactly ? I don't want to break the system...
thanks

[2021-11-18 08:56] jacentys opened #15449 "[bug] [PL] Automatyczne wylogowywanie użytkownika i problem z rejestracją."
# 🐞 bug report

### ⁉️ Describe the bug

1. Program wylogowuje użytkownika co kilka minut - komunikat: Nastąpiło automatyczne wylogowanie ze względu na brak aktywności.
2. Po wysłaniu danych rejestracji status cały czas "Oczekuje na akceptacje".

### 🔥 How to trigger the error

Samoistne wylogowywanie.

### 👎 Actual Behavior

Program zamyka się co kilka minut. Brak możliwości rejestracji.

### 👍 E

[2021-11-18 20:30] mariuszkrzaczkowski commented on #15449
Masz błędną konfigurację serwer i uprawnień na plikach

Zapoznaj się z artykułem:
https://yetiforce.com/pl/component/zoo/item/problem-z-rejestracja-systemu
wygląda na problem z konfiguracją serwera

[2021-11-18 20:30] #15449 closed, assigned to mariuszkrzaczkowski

[2021-11-22 21:22] garryatbrighton opened #15460 "[bug] Record selection across lists is ereased"
As per gif below, it is impossible to select certain records across list view screens. It limiting for instance selective deletion or mass edit on larger number of records. This funcionality works well in other simillar systems (vtiger, SAP, Odoo)
![selection-bug](https://user-images.githubusercontent.com/80203589/142937071-f404f782-8f76-4230-837e-30e5144a4517.gif)

[2021-11-23 05:34] rskrzypczak commented on #12501
Fixed on current dev version, will work properly in version 6.3

[2021-11-23 05:34] #12501 closed

[2021-11-23 06:55] mariuszkrzaczkowski commented on #15460
this is not a bug, the system does not support it

[2021-11-23 06:55] #15460 closed, assigned to nobody

[2021-11-23 11:48] mariuszkrzaczkowski commented on #12726
The bug does not exist in the current version, it has been fixed in 6.1.0

[2021-11-23 11:48] #12726 closed, assigned to mariuszkrzaczkowski

[2021-11-23 16:54] rskrzypczak commented on #14356
No activity and no traces of bug, I'm closing.

[2021-11-23 16:54] #14356 closed, assigned to nobody

[2021-11-24 01:37] garryatbrighton commented on #15460
It rather helpful and logical thing.
Also moving between records in detail view should be in place.

[2021-11-24 08:25] mariuszkrzaczkowski commented on #15460
I know, that's why I marked it to keep it in mind

[2021-11-24 11:36] JEEVAN28 commented on #15413
@mariuszkrzaczkowski I could not able to do this, you may either close this or keep for development

[2021-11-24 14:21] #15413 closed, assigned to nobody

[2021-11-24 17:02] bmankowski commented on #8218
Could you change the message from "None of the field values are changed in mass edit"  to "None of the field values were marked for change in mass edit" and similarly in polish version to "Żadne z pól nie zostało oznaczone do zmiany podczas masowej edycji". It could be much easier for new users to correct the problem without looking for help.

[2021-11-24 20:35] mariuszkrzaczkowski commented on #8218
done 👍

[2021-11-25 11:31] #15016 closed, assigned to rskrzypczak

[2021-11-25 23:51] randysrs opened #15474 "Email picture size issue"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/15472

<div type='discussions-op-text'>

<sup>Originally posted by **randysrs** November 25, 2021</sup>
having a issue with adding Pictures to emails for workflows.

if i add a image say a 600x600 96dpi image, it seems to work . but if its a 600x700 150 or large DPI the image imports fine
but when it saves the task type

[2021-11-26 07:56] mariuszkrzaczkowski commented on #15474
![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/143546515-236402bd-bec5-4e53-a389-6f0099b13511.jpg)

[2021-11-28 10:22] kassimg12 commented on #14740
Hello, yetiforce families

is there a free version of yetiforce portal?
I found a web service standard documentation at https://doc.yetiforce.com/api/#/
is it possible to use it for customer portal here https://github.com/YetiForceCompany/YetiForcePortal2

Thank you!

[2021-11-28 10:23] kassimg12 opened #15486 "yetiforce portal request"
Hello, yetiforce families

is there a free version of yetiforce portal?
I found a web service standard documentation at https://doc.yetiforce.com/api/#/
is it possible to use it for the customer portal here https://github.com/YetiForceCompany/YetiForcePortal2

Thank you!

[2021-11-28 17:43] #14740 closed, assigned to nobody

[2021-11-29 08:48] #15486 closed, assigned to nobody

[2021-11-29 14:51] apcloic opened #15488 "[bug] Single quotes appears as html code | tree field (Documents module)"
Hi,

YF 6.3, tested on developer version.

When adding a new option value containing a single quote character for folder name tree field on documents module, single quote appears as html code (ie. &#039;) on list/edit/detail view.

See screen recording below.

Regards,

![utf8_issue_folder_type_field_yeti6 3](https://user-images.githubusercontent.com/2930560/143889158-7bba6224-acb0-4a0e-bcb0-b91a9

[2021-12-02 01:29] Marshal4582 opened #15505 "[bug] Workflow conditions are not trigerring"
I did numerous tests and here is final result of one of certains combination of workflow:
- Only once, when all conditions are met
- Custom Date field: condition "days ago = 1"

The result is that workflow will not trigger 1 day after. It will trigger ONLY if I manually chage date field.
That is against expected behavior, so I reporting it as a bug.
I am not mmentioning env config etc, as this is

[2021-12-02 05:40] rskrzypczak commented on #15505
This is not a bug.
This is how this functionality works.
The system does not monitor the records all the time, so such conditions are pointless here.
In other words, this type of workflow action is triggered in the same way as "Every time a record is saved (eg. creating, modifying)" with the difference that it will be performed only once.

As I mentioned, this is enhancement, not a bug, so I am cl

[2021-12-02 05:40] #15505 closed, assigned to nobody

[2021-12-02 05:48] TonyM15 commented on #15505
Than Workflow name is missleading. Maybe change to "Only once, when all conditions are met (creating, modifying)"
And here is again another reason for changing little bit workflows as per: https://github.com/YetiForceCompany/YetiForceCRM/discussions/15318
If you add to "days" hours, minutes, seconds it will boost WF flexibility enourmously

[2021-12-02 11:26] QVinto opened #15507 "Can't disable/deactivate field: Shared with users' in newly created module"
# 🐞 Can't disable/deactivate field 'Shared with users' and 'Private' in newly created module (v6.2 rev4)

### ⁉️ Describe the bug

When new module is created, there is no way in edit filed how to disable or deactivate file Shared with user and Private. In every other modul like accounts, tikets,... there is posibility to disable this field but not in custom module

### 🔥 How to trigger the error

[2021-12-04 11:45] AlexisZverev opened #15514 "[bug]"
# 🐞 bug report

On the Yetiforce 6.3
After creating a new project in the Project Manager section, it shows an error: Call to a member function getRelationModel () on bool

Has anyone encountered a similar problem?
Perhaps there is a solution?
With what it can be connected?
I'm a beginner, and I don't even know where to dig yet

### 🔥 How to trigger the error
![Error1](https://user-images.githubuse

[2021-12-06 07:14] mariuszkrzaczkowski commented on #15514
We tested this on the current version and it appears that the bug doesn't exist anymore.
We need more details how to trigger the error.

[2021-12-06 07:14] mariuszkrzaczkowski commented on #15514
![github](https://user-images.githubusercontent.com/10198654/144803409-790d75ba-79bf-4690-9294-990d4e42dad1.jpg)

[2021-12-06 07:14] #15514 closed, assigned to nobody

[2021-12-07 08:02] #15384 closed, assigned to nobody

[2021-12-07 09:18] garryatbrighton commented on #15388
Solution:

The "Enable Java Access Bridge" check box gets removed from the Control Panel (go to Control Panel -> Ease of Access Center -> Use the computer without a display) when the 64-bit JRE 8 is uninstalled, even if a 32-bit JRE version 7u6 or later exists. The workaround is to uninstall the existing 32-bit JRE and install it again. The "Enable Java Access Bridge" check box will appear after t

[2021-12-08 09:50] #14470 closed, assigned to mariuszkrzaczkowski

[2021-12-08 10:03] #14141 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:02] #14067 closed, assigned to nobody

[2021-12-08 11:06] mariuszkrzaczkowski commented on #15349
It looks (seems) your server is not properly configured and you have to fix it

[2021-12-08 11:06] #15349 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:08] mariuszkrzaczkowski commented on #15192
I tested on gitdev, i can’t see the problem.

[2021-12-08 11:08] #15192 closed, assigned to areksolek

[2021-12-08 11:17] #15062 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:18] mariuszkrzaczkowski commented on #15088
I tested on gitdev, i can’t see the problem.

[2021-12-08 11:18] #15088 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:19] #15048 closed, assigned to nobody

[2021-12-08 11:19] #14994 closed, assigned to nobody

[2021-12-08 11:20] #15039 closed, assigned to nobody

[2021-12-08 11:21] #14979 closed, assigned to nobody

[2021-12-08 11:22] mariuszkrzaczkowski commented on #14529
The mechanism was rebuilt, it had numerous errors.

[2021-12-08 11:22] #14529 closed, assigned to nobody

[2021-12-08 11:23] mariuszkrzaczkowski commented on #14331
https://github.com/YetiForceCompany/YetiForceCRM/issues/15388#issuecomment-987724523

[2021-12-08 11:23] #14331 closed, assigned to nobody

[2021-12-08 11:25] #14446 closed, assigned to nobody

[2021-12-08 11:25] #15172 closed, assigned to nobody

[2021-12-08 11:27] #14839 closed, assigned to nobody

[2021-12-08 11:28] mariuszkrzaczkowski commented on #14645
the module has been rebuilt, test the new version.

[2021-12-08 11:28] #14645 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:29] mariuszkrzaczkowski commented on #14544
the module has been rebuilt, test the new version.

[2021-12-08 11:29] #14544 closed, assigned to mariuszkrzaczkowski

[2021-12-08 11:30] #14533 closed, assigned to nobody

[2021-12-09 07:45] #12459 closed

[2021-12-09 07:48] mariuszkrzaczkowski commented on #12459
Looks like some old code

[2021-12-09 11:20] #13415 closed, assigned to mariuszkrzaczkowski

[2021-12-09 11:20] #13541 closed, assigned to nobody

[2021-12-09 11:22] mariuszkrzaczkowski commented on #13807
https://github.com/YetiForceCompany/YetiForceCRM/discussions/15466

[2021-12-09 11:22] #13807 closed, assigned to mariuszkrzaczkowski

[2021-12-09 11:23] #13478 closed, assigned to rskrzypczak

[2021-12-10 03:00] JamieSlome opened #15532 "Who to contact for security issues"
Hey there!

I belong to an open source security research community, and a member (@khanhchauminh) has found an issue, but doesn’t know the best way to disclose it.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best pr

[2021-12-10 05:49] rskrzypczak commented on #15532
[SECURITY.md](https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/SECURITY.md)
Thank you for your concern and supportive advice.

[2021-12-10 05:49] #15532 closed, assigned to nobody

[2021-12-10 07:38] JamieSlome commented on #15532
@rskrzypczak - great, you should receive an e-mail from us shortly with further details!

Or you can view the private report here:

https://huntr.dev/bounties/7b58c160-bb62-45fe-ad1f-38354378b89e/

[2021-12-10 16:12] diderich opened #15534 "[bug] E-mail preview (in Summary) no longer works"
# 🐞 bug report

### ⁉️ Describe the bug

In version 6.2, when viewing an e-mail using the "Email History" menu option and selecting a specific e-mail in the Summary view, the e-mail content was displayed.

In version 6.3,  when viewing an e-mail using the "Email History" menu option and selecting a specific e-mail in the Summary view, nothing is displayed.

![ss](https://user-images.githubusercont

[2021-12-10 19:35] antcorro opened #15535 "[bug] Calendar issue after changing module type to advanced"
# 🐞 bug report

### ⁉️ The form to create a new Todo/Event in Calendar view=CalendarExtended is disappeared after changing module type from Basic to Advanced. The error message is  "Call to a member function getFieldDataType() on bool.". The problem persist also after removing the custom block and fields.

screenshot from my instance
![YetiForce_Calendar_error_2021-12-10_18-58-23](https://user-ima

[2021-12-11 06:08] vovpff commented on #15535
Hm. Very interesting. Calendar layout should be non editable as devs said in the past

[2021-12-11 11:32] mariuszkrzaczkowski commented on #15535
you changed the module type, that's because the advanced module does not have a quick build view, you broke the module

[2021-12-11 11:32] #15535 closed, assigned to nobody

[2021-12-11 15:54] diderich opened #15539 "[bug] Recommended innodb_large_prefix=On is deprecated"
# 🐞 bug report

### ⁉️ Describe the bug

Today I got the following e-mail message requesting to change the `innodb_large_prefix`  variable to On.

[code]

When doing so, `mysql 10.5.13-MariaDB-log` gives the following warning message:

`Dec 11 16:45:39 joshua mysql-systemd-helper[20938]: 2021-12-11 16:45:39 0 [Warning] The parameter innodb_large_prefix is deprecated and has no effect. It may be re

[2021-12-12 07:48] s2b-git opened #15540 "[bug] Error after migration"
After migration from 6.2 to 6.3 I cannot access menu config from the back-end.
Logs showing not much more than error dialog.
System is nicely optimized, unless upgrade required some extras?

![image](https://user-images.githubusercontent.com/84110093/145704621-6395eef5-3248-4b1a-bfbb-c6ab8cb372fa.png)

[2021-12-12 09:57] mariuszkrzaczkowski commented on #15540
logs, confreport etc.

![119500861-8d4fd580-bd68-11eb-84e0-9a381e3e002d](https://user-images.githubusercontent.com/10198654/145707956-cf13a5c3-7df5-42a0-936c-591c6156e778.jpg)

[2021-12-12 13:56] antcorro commented on #15535
Hello @mariuszkrzaczkowski ,

thanks for your reply, but what's the fix? What it does mean that I have changed the module type? I have just added 2 custom fields to Calendar module from settings panel, and this is permitted by YetiForce. What is wrong with this action?
Can you please help me to fix this?

Thank you
Antonio

[2021-12-12 14:55] rskrzypczak commented on #15535
It means you changed the module type to _Advanced_, which you shouldn't be doing.
It will not be possible in the future.![image](https://user-images.githubusercontent.com/10221999/145717181-de4010ec-174a-47d5-86cd-c6ddddd987c2.png)
Set the module type to _Basic_ and see if the problem persists.

[2021-12-12 15:49] #15534 closed, assigned to rskrzypczak

[2021-12-12 17:32] diderich commented on #15534
Thanks!

[2021-12-12 17:54] antcorro commented on #15535
Thank you guys!
So my info about the Bug was wrong :) I thought the problem was the custom fields, sorry.
I have updated the issue title and body with the correct info so that it will be useful to some one else in the future.

Thank you

[2021-12-13 04:14] garryatbrighton commented on #4555
Vendor Enquiries
Vendor Orders >>>>>>>>>>> Where are Vendor Orders?
Advice Note
Goods Received Note

Making process complicated doesnt make Yetiforce more powerfull.  Do PO, SO. INV and that i!
As Yetifirce have amaizing function of adding line items to any module, blowing up existing structure just get messy.

We need Purchase Order back! hehe

[2021-12-13 10:05] mariuszkrzaczkowski commented on #15539
These are roundcube recommendations and they are right, see here:

https://github.com/roundcube/roundcubemail/blob/0c42af132e14b4869b4142921426ca90e647fcab/INSTALL#L112-L116

Confreport needs to be improved to check the database version.

[2021-12-13 10:05] #15539 closed, assigned to mariuszkrzaczkowski

[2021-12-14 13:32] apcloic opened #15543 "Net price (ie $total - $discount) is not inserted into squotes_inventory table"
Hi,

I need Netprice field ($total - $discount) on my PDF template (Quotes and Invoice modules)

As this field is not available directly , I've created a simple Textparser script (see below).

I've noticed that net price is always 0.00000 on squotes_inventory table.

[code]

Regards,

[2021-12-14 20:35] staniuuu opened #15545 "[bug]"
Hi,

I import leads from .csv file and my lead in CRM just disappear. I have only this leads from .csv.
It's a bug! How Can I back my leads before?

[2021-12-14 20:57] #15545 closed, assigned to nobody

[2021-12-15 03:43] leo719044 opened #15547 "[bug] Price book permission do not work"
I created the price book, but it is always visible to all user who can access "price book" module (set in Module Access), no matter what permission set. also set it as "Private"

🔥 How to trigger the error
Go to 'Price Book'
Create any price book
Set price book neither "Private" or not
See "Permission Inspector"
No matter what sharing rule, everyone(with Price book module access, set it Module acc

[2021-12-15 07:14] mariuszkrzaczkowski commented on #15547
Duplicate of #15236

[2021-12-15 07:14] #15547 closed, assigned to nobody

[2021-12-15 18:44] AlexisZverev commented on #15514
Could you clarify what information you need to provide?  Some of the information I have already indicated. What else is important to know in order to solve this problem?
Thankful for the earlier
![ConfReport](https://user-images.githubusercontent.com/74072835/146249948-c2915261-a239-4631-8fca-4f55c1bcb7ba.png)

[2021-12-16 02:49] leo719044 opened #15550 "[bug] wrong days count in PROJECT GANTT"
# 🐞 bug report

### ⁉️ Describe the bug

It shows wrong days count in PROJECT GANTT, in pic below, it is 7000 days.

![image](https://user-images.githubusercontent.com/88583995/146298821-2740c476-400e-4063-9d4c-df7465676249.png)

### 🔥 How to trigger the error

Click the
https://gitdeveloper.yetiforce.com/index.php?module=Project&view=Detail&record=454&mode=showGantt&tab_label=Gantt

1. Go to 'Gan

[2021-12-16 13:42] 07litra opened #15553 "wrong export to excel [bug]"
# 🐞 bug report

### ⁉️ Describe the bug
Create a new filter whith 2 fields. Go to Sales-Opportunities-List .Select some records  and then export to Excel . In exported excel file- all fileds from module Opportunities

### 🔥 How to trigger the error
![Анимация](https://user-images.githubusercontent.com/81667454/146381663-8e63f555-5403-4da7-8737-a63ee16e9a87.gif)

Steps to reproduce the behavior:

1

[2021-12-16 14:13] rskrzypczak commented on #15553
There is no error here.
This type of export applies to all data in the record.
If you want to export specific fields, use the quick export function.
![image](https://user-images.githubusercontent.com/10221999/146387525-ed66a610-6c72-4d6a-9b16-a847360d2896.png)
![image](https://user-images.githubusercontent.com/10221999/146387682-4aa554cb-6bdb-480a-93b4-deb6db818ea8.png)

[2021-12-16 14:13] #15553 closed, assigned to rskrzypczak

[2021-12-18 12:47] QVinto opened #15560 "[bug] Time control not filtering time for graph and shows only minutes in total time"
# 🐞 bug report

### ⁉️ Describe the bug

Time control not filtering time for graph and shows only minutes in total time

### 🔥 How to trigger the error

create some working time hours for any company and check time control via accounts->some account->time control

Steps to reproduce the behavior:

1. Go to accounts and open any account
2. click on time control tab
3. add  at least 1 record for at

[2021-12-20 07:39] mariuszkrzaczkowski commented on #15560
It works fine so it's designed to always be the sum of the whole, it doesn't work with filters.

[2021-12-20 10:51] QVinto commented on #15560
It always worked with filters since 4.x till 6.2. we where using it 4 years. Now you changed it?

[2021-12-20 11:42] QVinto commented on #15560
Like i said. It worked till 6.3. It doeasnt make any sence what you wrote. When you filtering something then you expect that all data will be filtered right?

YF 6.2 with filter for assigned to
![image](https://user-images.githubusercontent.com/4982986/146761504-189cd85e-5386-4ff3-b5a6-23e5c93f7404.png)

YF 6.2 without filter
![image](https://user-images.githubusercontent.com/4982986/146761743-42c

[2021-12-20 19:08] antcorro opened #15569 "[bug] System Warnings Email format issue"
# 🐞 bug report

### ⁉️ I have just updated the system to version 6.3.0 Security Fix v2 and the email with subject "System Warnings" is now bad formatted.

This is the email body in version 6.3.0 (received yesterday)
![YetiForce_SystemWarning_6-3-0_2021-12-20_19-45-55](https://user-images.githubusercontent.com/10244840/146819503-ed7a8694-75dd-4e57-8aea-13f647b254c3.png)

This is the email body afte

[2021-12-21 05:57] #15569 closed, assigned to rskrzypczak

[2021-12-21 07:12] mariuszkrzaczkowski commented on #15560
Fixed https://github.com/YetiForceCompany/YetiForceCRM/commit/2c386e6b093b9218cdae39da012a53cf2fa9b65c

[2021-12-21 07:12] #15560 closed, assigned to mariuszkrzaczkowski

[2021-12-23 17:52] femolacaster commented on #2981
Hi @epsilonsc. Do you have any ideas on how best to integrate Yetiforce to 3CX?

[2021-12-23 20:37] kpapastamatis opened #15575 "Update: Invalid datetime format: 1292 Truncated incorrect INTEGER value: ''"
Hello guys,

trying to update from 6.3.0 v1 and i'm keep getting same error on every new update.

Updating module
Some errors appeared during the update. We recommend verifying logs and updating the system once again.

    -------------   2021-12-23 15:30:25   -------------

    The SQL being executed was: ALTER TABLE `vtiger_project` CHANGE `targetbudget` `targetbudget` int(10) UNSIGNED] in
    #

[2021-12-23 20:43] mariuszkrzaczkowski commented on #15575
It looks like you have a non-numeric value in the targetbudget field, show what the values in that database column are
[code]

[2021-12-23 21:20] kpapastamatis commented on #15575
Thanks for your quickly response Mariusz.

I have only 2 records but i haven't used this field yet.

![Screenshot_20211223_231653_com.android.chrome.jpg](https://user-images.githubusercontent.com/34310504/147292259-a2db3fd9-ef54-4c03-a6cc-1c0f4d1f2338.jpg)

[2021-12-23 21:25] mariuszkrzaczkowski commented on #15575
I do not see the query results send a screenshot from the computer and attach the full server configuration report (ConfReport)

[2021-12-23 21:34] kpapastamatis commented on #15575
You cannot see them because fields were empty.
I didn't used this field because i am still testing the program and it wasn't required for submitting data.

I put some numerical values on both projects and tried again to update and voila! Update was successful!

Thanks a lot for your immediate help Mariusz. Appreciate that.

[2021-12-23 21:36] #15575 closed, assigned to mariuszkrzaczkowski

[2021-12-24 01:25] Ilamparithi-Tamizhanangu commented on #9840
hi,

Thanks for the details.

$(inventory : type=table columns=name,qty,price href=yes)$
$(inventory : type=table columns=seq,name,qty,unit,price,total,net href=no)$

It will create the table in the quotation with predefined column names. How to adjust the column width for each column and give different names for the row headers.

Also i wish to get the product description alone. We dont want to g

[2021-12-24 01:36] Ilamparithi-Tamizhanangu opened #15576 "Total purchase price is missing the quotation module"
hi,

When we add the products to the quotation module, it always displays the purchase price per qty. When we increase the qty of the products, we wish to calculate the total purchase price for the selected products. It automatically calculates the margin percentage based on the total purchase cost. But it doesnt display the total purchase cost column.

How to display the total purchase cost in th

[2021-12-24 01:39] Ilamparithi-Tamizhanangu opened #15577 "workflow doesnt have the fields from the products table (like qty, unit price) in the quotes module"
Hi,

I am trying to create the workflow based for the quotes module.

When i try to create the update field value for the quotes modules, it doesnt have the options to add the fields  from the products table (like qty, unit price) .

Could you please share the procedure to add the fields from products table to workflow.

Thanks in advance.

[2021-12-24 04:08] vovpff commented on #15577
This functionality unavailable in system. You can do anything with selfwritten handlers or can buy 3rd party extension

[2021-12-24 15:14] Ilamparithi-Tamizhanangu commented on #15577
thanks for the update.

[2021-12-24 15:14] #15577 closed, assigned to nobody

[2021-12-24 21:38] #15576 closed, assigned to nobody

[2021-12-24 21:52] mariuszkrzaczkowski commented on #9840
@RajasekaranJeni  create a new discussion thread

[2022-01-03 20:25] xray-1977 opened #15604 "[bug] [Switching between Current and History of activities] Ends up in endless Loading screen"
🐞 bug report

⁉️ Describe the bug

In both the 'Contacts part' and the 'Partners part', when going to the activities tab, you cannot switch between 'Current' and 'History', without ending in a loading screen forever.

 🔥 How to trigger the error
In video I tested the exact steps as I did on own installation. For privacy reasons, I used the video from Gitdeveloper, since outcome is the same. My ver

[2022-01-04 07:39] diderich opened #15607 "[bug] Pending calendar entries are not sorted on dashboard widget"
# 🐞 bug report

### ⁉️ Describe the bug

The "Calendar - pending" widget shows the entries in randon (unspecific) order. They should be sorted in decreasing order of their appearance. See figure (from gitdeveloper.yetiforce.com):

![pending](https://user-images.githubusercontent.com/10230144/148024853-f200e1f7-181a-43c7-872b-4e330c148a4c.png)

### 🔥 How to trigger the error

Steps to reproduce the

[2022-01-04 11:42] Jeroenleender opened #15608 "YetiForce CRM 6.3 SecurityFix v4 patch issues"
Tried to run the update several times but keep running into this issue.

Other updates from YetiForce CRM 6.2 SecurityFix v2 and up all ran fine except this last one.

Updating module
Some errors appeared during the update. We recommend verifying logs and updating the system once again.

    -------------   2022-01-04 06:39:12   -------------

    The SQL being executed was: ALTER TABLE `vtiger_pr

[2022-01-04 12:10] mariuszkrzaczkowski commented on #15608
Duplicate of #15575

[2022-01-04 12:10] #15608 closed, assigned to mariuszkrzaczkowski

[2022-01-05 09:26] JEEVAN28 opened #15610 "[bug] Error in Dashboard"
I visited to see dashboards on https://gitdeveloper.yetiforce.com/index.php and went to Tab A
I noticed error shown as below for **Sales Comparison by User** as below
![image](https://user-images.githubusercontent.com/12723595/148193765-c4453339-b1d7-45e6-9003-937ed9273b66.png)

This is for your information
Regards
Jeevan Pendhari

[2022-01-05 09:26] JEEVAN28 opened #15611 "[bug] Error in Dashboard"
I visited to see dashboards on https://gitdeveloper.yetiforce.com/index.php and went to Tab A
I noticed error shown as below for **Sales Comparison by User** as below
![image](https://user-images.githubusercontent.com/12723595/148193765-c4453339-b1d7-45e6-9003-937ed9273b66.png)

This is for your information
Regards
Jeevan Pendhari

[2022-01-05 09:26] #15611 closed, assigned to nobody

[2022-01-05 09:27] JEEVAN28 commented on #15611
duplicated

[2022-01-05 12:50] diderich commented on #15607
I looked at the code and found the following issue:

- The entries shown are sorted according to `due_date` and `time_end`.
- In file `YetiForceCRM/layouts/basic/modules/Vtiger/dashboards/CalendarActivitiesContents.tpl`, the date displayed/used for calculating when the activity is due is set to `due_date` if `{if $DATE_TYPE === 'DUE'}`, otherwise it is set to `date_start`.
- As a consequence, if `

[2022-01-07 08:55] diderich opened #15613 "[bug] Minor permissions issue with lists"
# 🐞 bug report

### ⁉️ Describe the bug

If an administrator defines a dashboard widget and makes it available to a specific role by using a list that is set to private, the widget is displayed (it should not as the list definition is private), but displaying the list through the small icon on the widged fails with a system error.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

[2022-01-11 10:13] kkjithin opened #15622 "[bug] Property added under accounts is throwing an error while integrating in to .net core solution"
We are adding the below property on the accounts section. What happens is for some accounts this property is coming with value but for some accounts its not reflecting on the model even the fieldname.
![image](https://user-images.githubusercontent.com/74819613/148922611-933dcb52-5ac4-4bcb-aa42-e31c27726c33.png)
![image](https://user-images.githubusercontent.com/74819613/148923376-4e0d35af-82da-41e

[2022-01-11 10:41] #15622 closed, assigned to nobody

[2022-01-11 19:19] mend-bolt-for-github[bot] opened #15626 "CVE-2021-21408 (High) detected in smarty/smarty-v4.0.2"
## CVE-2021-21408 - High Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>smarty/smarty-v4.0.2</b></p></summary>

<p>Smarty - the compiling PHP template engine</p>
<p>Library home page: <a href="https://api.github.com/repos/smarty-php/smarty/zipball/6f4f06db7ebbad6ae7bc980

[2022-01-11 22:09] zazy opened #15627 "[BUG] Unable to update to 6.3.0 security fix v4"
When updating from 6.3.0 v2 to 6.3.0 v4 I receive an error. Here is the returned error screen:

[code]

As far I can undestand it's related to MySQL 8 that doesn't accept an empty string as default for an integer columnt. It should be set to NULL

[2022-01-11 23:37] kpieron commented on #12267
Welcome,

We have the same problem, but only with monthly recurrence - for days and weeks it's working ok.
After push Save button, there is no pup-up window to choose saving mode. The console error:

![image](https://user-images.githubusercontent.com/97565924/149037975-0a50f4b1-8fd4-4a96-aed8-f332962cb7f7.png)

[2022-01-12 06:25] #15626 closed, assigned to nobody

[2022-01-12 08:12] mariuszkrzaczkowski commented on #15627
Duplicate of #15575
you need to correct the values before uploading the package, if you find the wrong value, write what we will try to protect

[2022-01-12 08:12] #15627 closed, assigned to mariuszkrzaczkowski

[2022-01-13 03:36] #15604 closed, assigned to mariuszkrzaczkowski

[2022-01-13 19:30] xray-1977 commented on #15604
@mariuszkrzaczkowski & @rskrzypczak , I can confirm it works. It is greatly appreciated. Thanks !

[2022-01-14 12:21] Rukatekirin opened #15629 "Can`t connected Customer portal2 to Yetifirce 6.3.0"
Hello!
We can`t connect CustomerPortal2 via webservice standart to Yetiforce 6.3.0.
All installation made according to instruction https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-install-yetiforce-portal
On the final step we recived next message:
"PUT /webservice/WebservicePremium/Install HTTP/1.1" 404 472 "-" "YetiForce Portal | Mozilla/5.0 (X11; Linux

[2022-01-14 13:48] bpabiszczak commented on #15629
Portal2 work only with API Premium [webservice premium].

[2022-01-14 14:57] #15629 closed, assigned to nobody

[2022-01-14 17:11] QVinto opened #15631 "[bug] Sharing users column in filter shows up all accounts when loading"
# 🐞 bug report

### ⁉️ Describe the bug
When you add in filters column shared with users, it will always show all users in the system when page is loading. Everything works fine after content is loaded.

### 🔥 How to trigger the error

For example:

1. In module accounts edit filter and add there column shared with users:
![image](https://user-images.githubusercontent.com/4982986/149555646-8631b9f

[2022-01-17 08:05] dub34 opened #15639 "Contact data providing"
Hi. I have maybe a strange question but
For some reasons I need to provide information from CRM to Contacts through small react application. Firs I decide to write middleware between js frontend and CRM webservice. But then I understood that I have now ideas how to authenticate contact user. After this I tried to use portal, but again it is not a solution.

Maybe somebody have any ideas how to mak

[2022-01-17 11:35] #15639 closed, assigned to nobody

[2022-01-18 02:03] JohnMaverick commented on #12652
Here rfeshing menu (after changing value to the "List" giving me screen hang
![image](https://user-images.githubusercontent.com/29787568/149858017-a0795e04-19fe-47de-b254-24c9e68b18e9.png)

[2022-01-18 06:49] mariuszkrzaczkowski commented on #12652
Create a new bug report with complete information

[2022-01-18 11:56] JEEVAN28 opened #15647 "[bug] Filter List not visible"
I have added Module in CRM and created Filter List, but same are not visible to user. Not able to understand why and for all other modules same is shown properly.

List not shown here
![image](https://user-images.githubusercontent.com/12723595/149932372-c3e902da-05d1-4e9f-88f6-afad610be1a5.png)

In settings if I check all added filters are shown
![image](https://user-images.githubusercontent.com/1

[2022-01-18 12:16] mariuszkrzaczkowski commented on #15647
![github](https://user-images.githubusercontent.com/10198654/149935826-122685d9-65b5-4797-bbc8-1faedc169106.jpg)

[2022-01-19 12:12] JEEVAN28 commented on #15647
**I have searched for the issue on Github but not found relevant information**

# 🐞 bug report

### ⁉️ Describe the bug

I have added new Module named as **Samples** In this module we have field named as **Status**
Module is functioning properly. On List view I have added filters based on Status Value. Same are added in system and can be seen from Settings Menu via admin panel, but they don't get

[2022-01-21 00:17] Marshal4582 commented on #15276
Morning, any update on this issue? Making fields mandatory is very useful functionality

[2022-01-21 11:15] aveblackmetalstudio commented on #14550
@mariuszkrzaczkowski Try to quick edit multiple times contact in widget on account record.
![image](https://user-images.githubusercontent.com/26859846/150517373-f1d6e5c7-654a-487c-94cb-3dec09a2b21b.png)

History is duplicating and wrong, because i just edited relation not added.
![image](https://user-images.githubusercontent.com/26859846/150516084-0f2ef9c7-7738-47ca-9fb4-e3fd04cc1acc.png)

[2022-01-21 17:04] Jianbin719 commented on #15647
Did you specific any filter in menu setting？

[2022-01-22 10:19] diderich opened #15653 "[notice] YetiForceCRM and php 8.1.2"
# 🐞 bug report

### ⁉️ Describe the bug

**Just a notice (as php 8.1. is not supported yet):**
YetiForceCRM will generate a large number of warning messsages due to deprecated use of types, especially in the database library yii2, if using the latest version of php, i.e. 8.1.

I recommend to refrain from upgrading php to version 8.1, even though version 8.1. is faster than 8.0!

[2022-01-22 14:50] mariuszkrzaczkowski commented on #15653
we know about the warnings, you can see a lot in tests on 8.1
https://github.com/YetiForceCompany/YetiForceCRM/runs/4896083769?check_suite_focus=true

[2022-01-23 11:37] HT-16 opened #15654 "[bug] Error!!! Call to a member function getRelationModel() on bool"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

### 📷 Screenshot of configuration

### 📝 PHP/Apache/Nginx/Browser/CRM Logs

### 🌍 Your Environment

### ❓ Additional context

### ❗️ Inform the community if you solve the problem

[2022-01-23 14:35] #15654 closed

[2022-01-23 15:21] Mekada7387 opened #15655 "[bug] Call to a member function getRelationModel() on bool"
# 🐞 bug report

### ⁉️ Describe the bug

![immagine](https://user-images.githubusercontent.com/98270968/150684571-6d4a7166-dd6d-4115-a2e6-d9b3c8a0dd1a.png)

![immagine](https://user-images.githubusercontent.com/98270968/150684581-1263a474-e897-43ce-9947-b78def542af3.png)

### 🔥 How to trigger the error

The error appeared after updating from version 6.2 (fully functional) to version 6.3. All Leads

[2022-01-24 08:21] rskrzypczak commented on #15655
I don't know where these errors come from, most likely something is messed up in your database.
You mentioned that you checked it on a clean 6.3 instance but are you sure you conducted a full installation process, and you didn't just replace the files for example?
The demo environments don't indicate this problem either.
Was the update process completed successfully?

I assume you played with the

[2022-01-24 09:45] Mekada7887 commented on #15655
To rule out problems due to the update, I proceeded with a new clean installation (from the github zip package) in another subdomain and empty database (same server and same PHP and MySQL settings where 6.2 works) and the installation process is successful. The problem arises immediately without carrying out any customization of the modules and relations.

[2022-01-24 17:04] Bailundo commented on #15655
I have exactly the same problem.
For screening, I did a new installation of the latest version of Softaculous, with an empty database and the error remains.
"Modules - Relations" is cleared.

[2022-01-25 07:16] JEEVAN28 commented on #15647
No, Settings are same as other modules

[2022-01-25 09:28] mend-bolt-for-github[bot] opened #15665 "CVE-2022-0235 (Medium) detected in node-fetch-1.7.3.tgz"
## CVE-2022-0235 - Medium Severity Vulnerability
<details><summary><img src='https://whitesource-resources.whitesourcesoftware.com/vulnerability_details.png' width=19 height=20> Vulnerable Library - <b>node-fetch-1.7.3.tgz</b></p></summary>

<p>A light-weight module that brings window.fetch to node.js and io.js</p>
<p>Library home page: <a href="https://registry.npmjs.org/node-fetch/-/node-fetch-1

[2022-01-25 10:13] JEEVAN28 opened #15666 "[bug] Workflow to Create New Opportunity from Existing Opportunity does not update values"
-> I have tested this on https://gitdeveloper.yetiforce.com/index.php
-> I have added one work flow as bellow
![image](https://user-images.githubusercontent.com/12723595/150956546-1b46b396-3d99-47ff-880b-aa12b52c58e4.png)
![image](https://user-images.githubusercontent.com/12723595/150956615-b5830648-7f4c-4b28-bcfe-0df994a0deef.png)
![image](https://user-images.githubusercontent.com/12723595/150956

[2022-01-25 15:07] QVinto opened #15667 "error (notice) in filter Accounts after permissions has been changed - yetiforce stable"
# 🐞 bug report

### ⁉️ Describe the bug

![image](https://user-images.githubusercontent.com/4982986/151002240-cb9ff9a5-0b85-4b90-bc3d-8f6977cbf2bc.png)

### 🔥 How to trigger the error

I made some changes in groups and assigment for module account, also i made changes for user guest and demo and assigned owner permissions. I am not sure what could cause this.

Steps to reproduce the behavior:

1.

[2022-01-26 07:09] mariuszkrzaczkowski commented on #15667
Did you check on gitdeveloper.yetiforce.com? I think it's fixed already

[2022-01-26 07:14] QVinto commented on #15667
i did not. I am not sure how exactly i did this one only that i changed permissions on YF Demo and YF Guest and both set to same role secretary office.

Also this notice showed me maybe 2-3 times but not always after i made changes.

[2022-01-27 06:00] #15667 closed, assigned to rskrzypczak

[2022-01-27 12:13] JEEVAN28 commented on #15647
please assist in this matter

[2022-01-28 05:26] EugeneCrown opened #15672 "Problem of using the field value of one module in another module"
Dear colleagues!
My name is Eugene. I am from Krasnoyarsk, Siberia, Russia.

I have been using Yetiforce CRM for a long time for personal purposes and am very pleased with the product.
I ran into a problem when setting up a module that I created myself. Further explanations will be regarding this module.

The problem is this:
1) create a new order
![main](https://user-images.githubusercontent.com/

[2022-01-28 09:09] JEEVAN28 opened #15673 "Incorrect request"
I have added link to open crm from other web application my url is http://192.168.1.244/crm/yf/
when i click same from web application i get below error
![image](https://user-images.githubusercontent.com/12723595/151518395-22ae5b07-d057-4994-9d2c-a04344b1770f.png)

In this case if i click on address bar in browser and press enter key it then open perfectly.
![image](https://user-images.githubuserc

[2022-01-28 09:13] mariuszkrzaczkowski commented on #15673
![github](https://user-images.githubusercontent.com/10198654/151519491-a45efe80-2330-445e-8aae-4b1fe5cc1e26.jpg)

[2022-01-30 13:26] vovpff commented on #15672
Вам нужно чтобы стоимость услуги заполнялась когда выбрали услугу или когда сохранили запись?

[2022-01-30 14:57] EugeneCrown commented on #15672
Мне стоимость нужна для дальнейших расчетов. Думаю, возможны оба варианта:
При выборе услуги - идеально.
Когда сохраняется запись - хотябы

[2022-01-30 20:28] vovpff commented on #15672
Первый случай - завтра попробую подсказать, когда до пк доберусь. Второй случай - я бы хендлер написал, который при сохранениее будет циферку обновлять.

Предлагаю завтра с первым случаем попробовать, а дальше как пойдет

[2022-01-30 23:49] antcorro opened #15679 "Open calendar to current day"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/15599

<div type='discussions-op-text'>

<sup>Originally posted by **antcorro** December 30, 2021</sup>
Hello,

when I enter in Calendar and select "Day",  it do not point to current day, but to an arbitrary day.
For what I see it points always to the day after the last day I have visited. Please see the screentogif atta

[2022-01-31 04:35] EugeneCrown commented on #15672
Пробовать готов, очень жду ваших предложений.

[2022-01-31 06:14] vovpff commented on #15672
@EugeneCrown
В этот файл https://github.com/YetiForceCompany/YetiForceCRM/blob/eff41081c5423cdf022e5137a2489b4fdd0857d5/app_data/moduleHierarchy.php#L74

Пишете, исходя из того, что основной модуль будет A, а услуга с подробностями будет B

[code]

[2022-01-31 06:31] EugeneCrown commented on #15672
Правильно понимаю: основной модуль будет A - это модуль, где я выбираю услугу и нужно отобразить значение цены ?

[2022-01-31 06:37] vovpff commented on #15672
@EugeneCrown дa
upd: скобка одна лишняя вроде.

[2022-01-31 07:05] rskrzypczak commented on #15672
Hello,
I assume you're enjoying yourselves speaking in your native language, however, keep in mind that the default language in here is English. When you speak your own language you're limiting the number of participants of the conversation who could help you because they don't speak your language.
I'm moving this to discussions as I guess there is no error in the app in here.

[2022-01-31 07:05] #15672 closed, assigned to nobody

[2022-01-31 07:16] mariuszkrzaczkowski commented on #15679
Duplicate of #15599

[2022-01-31 07:16] #15679 closed, assigned to nobody

[2022-01-31 09:57] antcorro commented on #15679
@mariuszkrzaczkowski do you mean that I have to open a new issue not from the discussion? I have opened an Howto discussion, but no solution was suggested. And from the user perspective this behavior is very frustrating and seems like a calendar issue. How can I ask to investigate?

Thanks

[2022-01-31 10:03] mariuszkrzaczkowski commented on #15679
basic information is missing
![github](https://user-images.githubusercontent.com/10198654/151774013-092640cc-b463-42b9-82c0-47c69b4bfc3c.jpg)

[2022-02-03 14:17] kassimg12 opened #15688 "[bug]"
# 🐞 bug report

### ⁉️ Picklist dependency page shows an error message "ERR_NOT_MODULE"

### 🔥 How to trigger the error

open pick list relation page

Steps to reproduce the behavior:

1. Go to 'setting>standard modules'
2. Click on 'Fields - picklists/relation'
3. See error

### 👎 Actual Behavior

shows an error message "ERR_NOT_MODULE"

### 👍 Expected Behavior

Open list of picklist relations

#

[2022-02-03 14:26] rskrzypczak commented on #15688
Your description is insufficient.
The problem  does not occur on the test environments, and you didn't provide any logs.

[2022-02-04 09:52] JEEVAN28 commented on #15666
Hi,
did anyone got chance to see this bug

[2022-02-04 16:23] chrisw65 opened #15690 "registration"
Hi ..

I setup and have everything running accept for getting the registration approval .. i applied 2 days ago and messaged on FB etc .. and no one seems to be about .. am i doing something wrong with the process ?

[2022-02-08 09:04] JEEVAN28 commented on #15666
Hi, please assist in this matter

[2022-02-09 19:40] randysrs opened #15703 "Mysql error innodb_large_prefix"
hey i just update to 6.3 gave me a configuration error Database:
  innodb_large_prefix = 'www: Off | cron: Off' (Recommended: 'On')

when adding the command to mysql i get this error .

 ERROR 1193 (HY000): Unknown system variable 'innodb_large_prefix'

system functions fine but i was reading that innodb_large_prefix was either being or already deprecated.

[2022-02-09 22:41] ghost opened #15704 "[bug] 6.2.0 & 6.3.0 releases - Relations don't work [getRelationModel() error]"
# 🐞 bug report

### ⁉️ Describe the bug

Good evening,
after several weeks of testing without getting any results, we decided to open this report, as we are experiencing a problem with the 6.2.0 and 6.3.0 releases.
When we open the page "Software configuration -> Standard modules -> Modules – Relations" we get the message "No related information" and no details of the relations are loaded.
Also wh

[2022-02-10 06:04] rskrzypczak commented on #15703
Duplicate: https://github.com/YetiForceCompany/YetiForceCRM/issues/15539

[2022-02-10 06:04] #15703 closed, assigned to rskrzypczak

[2022-02-10 06:46] mariuszkrzaczkowski commented on #15704
Duplicate of #15509 #15514

[2022-02-10 08:41] Andrea-M-93 commented on #15704
Thanks for the immediate reply.
We have checked the two reports that you have reported to us and we believe that we have provided much more information than them (we have followed your GitHub guide and sent the logs by email), hoping they will be of more help to you.
Thanks again for your great work!

[2022-02-10 14:20] JEEVAN28 opened #15706 "How to embed other website data"
Hi,
I would like to display widget from other website with below script

<script async defer id='202221014343556' src='https://widgets.worldtimeserver.com/Public.ashx?rid=202221014343556&theme=Digital&action=clock&wtsid=IN&hex=ff9900&city=Bangalore&size=small'></script>

in file DetailViewHeaderTitle.tpl for contact module

i tried adding as below but does not work
 "<  div>
<script async defer id

[2022-02-11 07:56] mariuszkrzaczkowski commented on #15706
the system does not allow it, several security mechanisms will block it,
this is a security breach

[2022-02-11 07:57] #15706 closed, assigned to nobody

[2022-02-13 13:07] s2b-git commented on #15388
Just noticed that solution of garrybrighton stopped working suddenly. Reinstalling Java (both 32 and 64 bit) not helping.
What library is behind MultiImage.js? It is not working on windows servers

[2022-02-17 04:52] s2b-git opened #15724 "[bug] Dashboard widget | mobile devices | Link column non-clickable"
Just short report here that when we go to Dashboard/Homepage the Linked columns are not clickable, so cannot go to the relevant record using finger. I am considering it as a bug, is it?

Best

[2022-02-17 06:44] mariuszkrzaczkowski commented on #15724
Attach additional information, screenshot, system version

[2022-02-17 06:53] s2b-git commented on #15724
O.o It seems to be something with cache. now working. Sorry for alarm. Closing

[2022-02-17 06:53] #15724 closed, assigned to nobody

[2022-02-18 03:55] snmin opened #15727 "How to add other translation languages without registration?"
I have already submitted the registration information, but I want to try it out now. The default English language is very uncomfortable to use, and I want to switch to the local language. However, it is prompted that the translation language pack cannot be uploaded without registration. In addition, submitting a new language on the page always prompts: "Language tag not compliant with the IETF sta

[2022-02-18 03:58] snmin commented on #15727
I have already submitted the registration information, but I want to try it out now. The default English language is very uncomfortable to use, and I want to switch to the local language. However, it is prompted that the translation language pack cannot be uploaded without registration. In addition, submitting a new language on the page always prompts: "Language tag not compliant with the IETF sta

[2022-02-18 04:09] snmin commented on #15727
In addition, I would like to ask how to register quickly. In my previous installation, I reset the server before waiting for registration activation. Later, I received the information that the registration passed by email. Now the reinstallation prompt still needs to be re registered, and the product key & app ID is different from that before. Can this be registered?

[2022-02-18 05:51] #15727 closed, assigned to nobody

[2022-02-18 11:23] deepti4666 opened #15731 "[bug] installation of 6.2.0 from 6.1.0"
# 🐞 bug report

### ⁉️ Describe the bug

E_WARNING: ZipArchive::getFromName(): Invalid or uninitialized Zip object in /home/boardroo/public_html/crm/vtlib/Vtiger/PackageImport.php, line 45

![image](https://user-images.githubusercontent.com/57940552/154670879-4f0ee064-ffa0-42ff-b532-7b55417ce9a5.png)

E_WARNING: ZipArchive::close(): Invalid or uninitialized Zip object in /home/boardroo/public_html

[2022-02-19 13:08] snmin commented on #15731
I also encountered this error and don't know how to fix it.

[2022-02-19 23:04] mariuszkrzaczkowski commented on #15731
1. correct the server configuration
2. what update package are you uploading?  where did you download it from?

[2022-02-20 17:41] kpieron commented on #12267
Any news about it?

[2022-02-20 22:01] deepti4666 commented on #15731
From the server/software itself.

I didn't upload anything,

I followed these steps on the system

Go to 'Admin'
Click on 'Logs'
Scroll down to 'Updates'
Select 'download package'
Select 'install package'

[2022-02-22 10:46] davide-alghi opened #15738 "[bug] "Mass transfer ownership" in Profile"
# 🐞 bug report

### ⁉️ Describe the bug

if "Mass transfer ownership" action has been disabled in Profile, the relative button, in details view, is still there.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Edit a profile
2. disable "Mass transfer ownership" action in any module
3. go in frontend (no admin user), in details view, for any module's record, the action button i

[2022-02-23 05:54] rskrzypczak opened #15740 "Duplicate record together with multiimage content"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/15739

<div type='discussions-op-text'>

<sup>Originally posted by **s2b-git** February 23, 2022</sup>
Currently if record have embed image in image field, after duplicating this record image is removed. It seems to be issue in case of duplicating many records (for instance services/products).  </div>

[2022-02-23 05:58] #15740 closed, assigned to rskrzypczak

[2022-02-23 09:21] toliano opened #15743 "can't install it on my local server"
After the extraction to my local  sever directory. Then I tried installing it using the directory url "localhost/yeticrm/install" and all I could see was just a blank page and nothing more. I have tried it on both XAMPP and WAMP server with PHP version 7.3. Thanks

[2022-02-23 09:41] mariuszkrzaczkowski commented on #15743
![github](https://user-images.githubusercontent.com/10198654/155294184-772d1987-23b2-47aa-8531-29caed861f75.jpg)

[2022-02-23 09:41] #15743 closed, assigned to nobody

[2022-02-25 08:42] Andrea-M-93 commented on #15704
Added "Additional context" section with developer version 6.3.96 test result.

[2022-02-26 10:34] athpg opened #15747 "[bug] Email button in Contact module widget behave differently for different user"
Hi everyone,

Not sure it is a bug or not.
When I login as user A, in Contact module -> Emails widget (not tab) on the right -> Send email button, the button element is: \<button type="button" class="btn btn-sm btn-light sendMailBtn mailBtnActive" data-url="index.php?module=OSSMail&amp;view=Compose&amp;crmModule=Contacts&amp;crmRecord=194&amp;crmView=Detail&amp;type=new" data-module="Contacts" dat

[2022-02-27 15:05] #15747 closed, assigned to nobody

[2022-02-28 10:48] cedeka78 opened #15749 "[bug] [PL] Interfejs pokazuje LBL zamiast poprawnych nazw"
Wersja 6.3.0
Problem występuje zarówno w wersji użytkowanej, jak i świeżo zainstalowanej w celu potwierdzenia występowania problemu.

Interfejs nie pokazuje poprawnych nazw tylko np.: LBL_EVENTS
![lbl](https://user-images.githubusercontent.com/15181660/155967672-1d8a369f-9c36-4d72-9d4c-56b8d0628282.png)

Problem rozwiązuje się jeśli w konfiguracji systemu ustawimy na "Tak" opcję "Pokaż wybór język

[2022-02-28 11:01] mariuszkrzaczkowski commented on #15749
załącz zrzut z ustawień użytkownika, sekcja  "Układ graficzny"
![image](https://user-images.githubusercontent.com/10198654/155972132-fd48df8f-817d-4d7f-b900-b4e2b6ce78df.png)

[2022-02-28 11:02] #15749 closed, assigned to nobody

[2022-03-02 01:46] snmin opened #15765 "[bug] Batch selection or batch deletion bug"
There is a small bug. When the number of products exceeds 1000, it will become very embarrassing to delete all products. When selecting all products, it will prompt that the selection items cannot exceed 1000 items, and the single page display cannot exceed 100 items. So only 100 records can be deleted at a time.

[2022-03-02 05:33] rskrzypczak commented on #15765
There is no error here.
The maximum number of massively deleted records can be set in the configuration file.
https://github.com/YetiForceCompany/YetiForceCRM/blob/6db5d0ba6a121d5f8d5277d75982aa79744b4024/config/Performance.php#L56-L57
However, be aware that deleting a large number of records may take a long time, depending on your hardware and various limits set on the server, may result in inabi

[2022-03-02 05:33] #15765 closed, assigned to rskrzypczak

[2022-03-02 06:06] rskrzypczak opened #15766 "CSV and XML does not include field shownerid on export file"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/15759

<div type='discussions-op-text'>

<sup>Originally posted by **LinoRiccio** March  1, 2022</sup>
Hello, after updating from version 6.2 to 6.3, I notice that the value of the "share with" fields is no longer included in the exported files. The module in question is a new module created by us. Is it possible to inte

[2022-03-02 09:10] Ilamparithi-Tamizhanangu opened #15770 "Unable to custom font in the PDF output"
hi,

I tried to change the font in my quote PDF output. ([reference post](https://github.com/YetiForceCompany/YetiForceCRM/issues/11016#issuecomment-515643618))

In the PDF editing page, i am getting the custom font (times new roman).
![image](https://user-images.githubusercontent.com/96602176/156329222-5a7d6635-61e1-468b-87c3-ce9236985dfa.png)

The actual PDF was in the same font.
![image](https:

[2022-03-05 10:34] davide-alghi opened #15772 "[bug] The Gantt "Days", of the Projects module, has a wrong value"
# 🐞 bug report

### ⁉️ Describe the bug

The Gantt "Days", of the Projects module, has a wrong value
This problem was previously reported here https://github.com/YetiForceCompany/YetiForceCRM/discussions/14548
Task duration is in milliseconds. Replace this line
https://github.com/YetiForceCompany/YetiForceCRM/blob/f82e6c6116a07c20676c0156be522927d122cd98/public_html/layouts/basic/modules/Project/r

[2022-03-09 09:56] h2Entwicklung opened #15782 "Updateing from 4.4.0 to 5.0.0 --> SQL Error[bug]"
# 🐞 bug report
Hello all,
Thanks for the great project.

### ⁉️ Describe the bug

I try to upgrade a yetiforce installation from 4.3 to 6.3
The first step from 4.3.0 to 4.4.0 was great. it worked as expected. but when I try to upgrade to 5.0.0 I get the following SQL Error:

```SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'module' cannot be null The SQL being executed was: UPDATE `

[2022-03-09 11:17] mariuszkrzaczkowski commented on #15782
![github](https://user-images.githubusercontent.com/10198654/157431387-90406bcb-0d1e-4309-82ee-2a7095bacc6b.jpg)

[2022-03-09 13:34] deepti4666 commented on #15731
E_WARNING: ZipArchive::getFromName(): Invalid or uninitialized Zip object in /home/boardroo/public_html/crm/vtlib/Vtiger/PackageImport.php, line 45
#0 vtlib/Vtiger/PackageImport.php (45)  >>  ZipArchive->getFromName('manifest.xml')
#1 vtlib/Vtiger/PackageImport.php (279)  >>  vtlib\PackageImport->__parseManifestFile()
#2 vtlib/Vtiger/PackageImport.php (390)  >>  vtlib\PackageImport->checkZip('cach

[2022-03-10 06:57] mariuszkrzaczkowski commented on #15731
start by improving your server configuration, this error about PHP problems

[2022-03-11 15:44] #15782 closed, assigned to nobody

[2022-03-15 09:11] sistemasnow opened #15793 "Improve style - Border to a PDF"
Hi Yeti,

I am trying to generate a pdf file from Helpesk module with a sentence like this:

$(recordsList : HelpDesk|ticket_no,ticket_title,ticketstatus,attention||214)$

It runs but the style its so poor. I would like to improve the style options like a grid, as if it was a table with border. I don´t know if is possible to do it. Perhaps, modifiying some php or similar...

Can you help me?

[2022-03-15 09:22] mariuszkrzaczkowski commented on #15793
Set params table=border
[code]
Example
$(recordsList : HelpDesk|ticket_no,ticket_title,ticketstatus,attention||214|||table=border)$

[2022-03-15 09:22] #15793 closed, assigned to nobody

[2022-03-15 10:53] #15688 closed, assigned to nobody

[2022-03-20 08:16] JEEVAN28 opened #15797 "Issue : Cron job returns error"
I have setup cron job in centos 7 with following command

sh /www/wwwroot/default/crm/hasonjee/cron/cron.sh

when it runs log shows below error and cron is not running.

PHP Fatal error:  Uncaught PDOException: SQLSTATE[HY000] [2002] No such file or directory in /www/wwwroot/default/crm/hasonjee/vendor/yetiforce/yii2/db/Connection.php:723
Stack trace:
#0 /www/wwwroot/default/crm/hasonjee/vendor/ye

[2022-03-20 10:32] mariuszkrzaczkowski commented on #15797
there is a problem in the database or in the connection to the database on the cli layer

[2022-03-20 10:32] #15797 closed, assigned to mariuszkrzaczkowski

[2022-03-21 08:15] areksolek commented on #14426
W obecnej wersji problem nie występuje:
![TKQMO2k7bY](https://user-images.githubusercontent.com/25615135/159224694-5e9417b2-13f3-4c7e-b1d7-39f07e0f77f7.gif)

[2022-03-21 08:17] #14426 closed, assigned to nobody

[2022-03-21 08:17] #15540 closed, assigned to nobody

[2022-03-23 14:28] alex-nap opened #15809 "[bug] Non posso applicare modifiche ai profili YETIFORCE"
Buongiorno,
all'improvviso non riesco più a modificare i profili su Yetiforce.
Fino a qualche giornoo fa riuscivo a modificarli, adesso non riesco più ad attivare o disattivare nuove funzioni. Dopo il salvataggio, ritorna tutto come prima.
Esempio: provo ad attivare tutte le opzioni "Notifica"
![image](https://user-images.githubusercontent.com/102237839/159722404-12f6cf45-2cec-4584-824a-a924cf5bf3

[2022-03-23 14:31] alex-nap commented on #15809
il post di assistenza è riferito al Team @yetiforce-security

[2022-03-23 18:36] davide-alghi commented on #15809
Hi Alex, please post in English.
About your problem: "profile changes are not saved", try to follow these steps https://github.com/YetiForceCompany/YetiForceCRM/issues/12939#issuecomment-617745574

**run a backup first**

[2022-03-24 06:46] mariuszkrzaczkowski commented on #15809
Only this will work when the server has the correct configuration, because if it has too small limits, it means that the web server cuts the data

[2022-03-24 06:46] #15809 closed, assigned to nobody

[2022-03-24 06:47] mariuszkrzaczkowski commented on #15809
![github](https://user-images.githubusercontent.com/10198654/159858375-c155a6dd-a724-4f7d-9410-5a92c0467a07.jpg)

[2022-03-25 13:56] mariuszkrzaczkowski commented on #15738
Tested on dev and can't see an error, did you test on a user without root privileges
![image](https://user-images.githubusercontent.com/10198654/160132589-70088a66-5bd1-47cb-a494-cbd5d01f4c81.png)

![image](https://user-images.githubusercontent.com/10198654/160132635-84654dd1-261b-4858-a586-4e5ffd4c0a30.png)

[2022-03-26 01:30] s2b-git opened #15817 "[bug] User can delete widgets"
Admin creates widgets for certain Role and set them not mandatory. Role profile is set so cannot  create widgets.
Despite that, user can delete widget created by Admin. Role assigned to multiple users, so it create confusion.
Threatening it as a bug, as here admin created 30 widgets what should be seen by multiple users and one user deleted 10 of them, removing access to widgets for other users

[2022-03-26 09:24] davide-alghi commented on #15738
sorry for the late. yes with `... (no admin user) ...`

in the profile, for Accounts module

![Schermata da 2022-03-26 09-59-50](https://user-images.githubusercontent.com/48508691/160232806-938d0c5b-0546-4434-94c6-c72f028440d7.png)

logged in as non-admin user and "transfer for related records" button (this too is a mass transfer action) is still there

![Schermata da 2022-03-26 10-06-47](https://

[2022-03-26 15:10] rskrzypczak commented on #15738
There is a separate action to verify the availability of this button:
![image](https://user-images.githubusercontent.com/10221999/160245519-9cdadddd-6650-46c8-8420-bf6c12ec6cf2.png)
However, we will take a closer look at this, thanks.

[2022-03-26 15:54] davide-alghi commented on #15738
thanks, I get it

[2022-03-27 11:21] alex-nap opened #15819 "Workflow non funzionante in automatico."
Buongiorno,
chiedo aiuto alla community. Ho impostato un comando cron job per il corretto funzionamento di cron su Cpanel. Credo funzioni bene perchè le notifiche del calendario si attivano correttamente. Non ho messaggi di errore del cron.
L'unica cosa che non riesco ad attivare automaticamente, sono le email automatiche tramite workflow. Se aggiungo un commento ad un ticket o chiudo un ticket, n

[2022-03-28 05:46] rskrzypczak commented on #15819
1. https://github.com/YetiForceCompany/YetiForceCRM/issues/13908
2. I assume you're enjoying yourselves speaking in your native language, however, keep in mind that the default language in here is English. When you speak your own language you're limiting the number of participants of the conversation who could help you because they don't speak your language

[2022-03-28 05:47] #15819 closed, assigned to nobody

[2022-03-28 07:18] #15738 closed, assigned to mariuszkrzaczkowski

[2022-03-28 07:18] mariuszkrzaczkowski commented on #15738
![image](https://user-images.githubusercontent.com/10198654/160345966-f936cdd7-7683-48e9-afe9-8177d50dfdcf.png)

[2022-03-28 11:08] alex-nap opened #15830 "[bug] Workflow not working automatically."
Good morning,
I ask the community for help. I have set up a cron job command for cron to work properly on Cpanel. I think it works well because the calendar notifications are activated correctly. I have no cron error messages.
The only thing I can't activate automatically is the automatic emails via workflow. If I add a comment to a ticket or close a ticket, I don't get anything. I can unsubscribe

[2022-03-28 17:28] vovpff commented on #15830
Why you can't run cron.sh file?

[2022-03-29 07:02] mariuszkrzaczkowski commented on #15830
It will be difficult to help you because the server configuration is not correct, you have not included any logs, you have not clearly described where you have the problem

[2022-03-29 07:02] #15830 closed, assigned to mariuszkrzaczkowski

[2022-03-29 07:03] mariuszkrzaczkowski commented on #15830
Duplicate of #15824

[2022-03-29 08:09] alex-nap commented on #15830
If I put the cron.sh in the cronjob, do I fix the problem?

[2022-03-29 10:42] alex-nap commented on #15830
I have not entered the logs because there are no errors regarding yetiforce. Regarding the problem, the emails just don't start from the workflow automatically. Not so how to better explain the problem.

[2022-03-29 10:44] alex-nap commented on #15830
I tried to run a cronjob command with Cpanel for the cron.sh file, it doesn't work. Emails are not sent.
do you have any other advice?

[2022-03-29 11:07] alex-nap commented on #15830
I recovered errors from the log

[29-Mar-2022 11:05:43 Europe/Amsterdam] PHP Warning:  array_diff_key(): Expected parameter 1 to be an array, null given in /home2/fnwhooho/portal.whooho.it/cache/templates_c/basic/45d80a2c81c231b40d4a78fb8968e871bb4d9609_0.file.SelectAccessibleTemplate.tpl.php on line 70
[29-Mar-2022 11:18:08 Europe/Amsterdam] PHP Warning:  array_diff_key(): Expected parameter 1 to

[2022-03-29 13:14] Fvsvcs commented on #15704
How do you do this?

By default in the cPanel configuration panel the "pdo_mysql" extension is active, while for the correct functioning of the YetiForce relations starting from the 6.2.0 release we discovered (after many many tests) that "nd_pdo_mysql" is required.
By deactivating "pdo_mysql" and activating "nd_pdo_mysql" the relations started to work correctly.

[2022-03-29 13:47] mariuszkrzaczkowski commented on #15704
![image](https://user-images.githubusercontent.com/10198654/160625016-58bbb554-fdf1-497a-a48d-66238a60ca88.png)

Depending on the OS distribution, the names may be different, see the threads below:
https://stackoverflow.com/questions/46414868/what-is-the-difference-between-the-nd-pdo-mysql-and-pdo-mysql-extensions
https://wordpress.org/support/topic/which-php-extensions-is-recommended-nd_mysqli-nd

[2022-03-29 17:51] ghost commented on #15704
@mariuszkrzaczkowski

What we want to point out is that the yetiforce verification system of the required php libraries does not recognize if it is enabled "pdo_mysql" or "nd_pdo_mysql".
Up to version 6.1.0 the relations worked without problems even with "pdo_mysql", but from version 6.2.0 it is mandatory to use "nd_pdo_mysql" to avoid the occurrence of the reported error with relations.
We have u

[2022-03-29 19:04] mariuszkrzaczkowski commented on #15704
attach the server configuration report, I will check if it can be added for verification, although it probably depends on the server

[2022-03-29 19:14] ghost commented on #15704
@mariuszkrzaczkowski

"Screenshot of configuration" already attached in the first post.
The "pdo_mysql" entry (third line of the "support for libraries" section) always remains on "yes" with both "pdo_mysql" and "nd_pdo_mysql".

[2022-03-30 11:58] alex-nap commented on #15830
Good evening, I solved. I created the function for the cronjob by introducing the APP_KEY code. Now works.

`wget http://portal.whooho.it/cron.php?app_key=de91288a0b71423694eacaa7ce6894deb30fce26 >/dev/null 2>&1`

However, I can't configure the other workflows well to receive an email every time you write comments.
Do you have any guides that I can study?

[2022-03-30 21:32] #13188 closed, assigned to bpabiszczak, mariuszkrzaczkowski

[2022-03-31 09:01] #14435 closed, assigned to nobody

[2022-03-31 09:34] JEEVAN28 opened #15838 "[bug] Contact Assigned to Group takes all users of group while sending Email"
We have configured Email Template to send Birthday Emails daily. In Email Footer we have included First Name and Last Name of user based on assigned to id. Problem is when contact is assigned to group then it includes all names of users of that group in email.

**Email Template Screenshot**
![image](https://user-images.githubusercontent.com/12723595/161024076-7f29e3ef-c883-422d-8d18-3f7e0ce191e9.p

[2022-04-03 11:32] alex-nap opened #15851 "[bug]"
Good morning,
a sudden problem is confronted yesterday. With version 6.3, comments are no longer sent via workflow. I realized that the comments are not saved immediately but you have to refresh the page to see them. If I don't update a campaign page, where I try to save the comment, the comment remains open.
Before yesterday, all comments were saved normally and the workflow worked.

**I am attac

[2022-04-03 11:44] alex-nap commented on #15851
**### Update**
I tried disabling the comment workflow, and now it's fixed. Comments are saved normally but now I cannot send emails every time a user leaves a comment.
what can I do?

[2022-04-03 17:25] #15851 closed, assigned to nobody

[2022-04-05 08:46] mariuszkrzaczkowski commented on #15817
I tried to find a bug on gitdev and can't see
removed widgets are added to "Predefined widgets" they do not disappear from the system.
Include more information, screenshots, examples of what watergets, etc.

[2022-04-08 10:04] integrator2 opened #15893 "pdf form rotate text 90 degrees"
To print addresses on A5 size envelopes, you need to rotate the text in the editor by 90 degrees. In the pdf form editor, I did not find such a function for orienting the direction of the text. How to do it?

[2022-04-08 10:07] #15893 closed, assigned to nobody

[2022-04-09 02:46] s2b-git opened #15907 "[bug] Quick export - data access breach"
User with disabled access to certain module fields can still export this fields values if Quick Export is allowed. This seems to be against security rules

best

[2022-04-09 16:09] JEEVAN28 opened #15912 "[bug] Duplicate Option not showing for custom added module"
Hi,

I have added custom module and here list filter does not show option to duplicate

![image](https://user-images.githubusercontent.com/12723595/162582056-9a29350d-38fb-456c-a5d8-ecd47778f1d0.png)

what can be wrong ?

please assist

regards
Jeevan Pendhari

[2022-04-11 06:02] mariuszkrzaczkowski commented on #15912
![github](https://user-images.githubusercontent.com/10198654/162674268-df7ae1ff-b0ea-4f44-a4b8-d4b2de906fb5.jpg)

[2022-04-11 06:04] mariuszkrzaczkowski commented on #15912
Attach the missing information, and:
- attach a profile preview for this user who does not have access to the mirror action with tool permissions shown

[2022-04-11 06:59] #15907 closed, assigned to nobody

[2022-04-12 07:16] kseibi opened #15925 "[Docker] ..."
# 🐞 bug report

### ⁉️ Describe the bug

I migrated my CRM to a new server and configured it according to yetiforce server requirements,

But this is an issue that I didn't face on the old server, is during generating and downloading pdf files from records, the CRM pages just keep loading waiting for a response, and start working right after the download finishes,

### 👎 Actual Behavior

CRM not f

[2022-04-12 07:25] mariuszkrzaczkowski commented on #15925
![github](https://user-images.githubusercontent.com/10198654/162904362-18d64446-3fdc-437d-91eb-23fa187fab89.jpg)

[2022-04-12 09:23] JEEVAN28 commented on #15647
I have found the reason
In Setup Menu - > Go to
![image](https://user-images.githubusercontent.com/12723595/162927236-e0785b2a-b3e0-4d0f-afbc-11be6e064119.png)

and remove filter from edit menu option,
![image](https://user-images.githubusercontent.com/12723595/162927114-4456edbc-c113-4d86-a224-892bf41f3f79.png)

after this list started showing.

Thanks
Regards
Jeevan Pendhari

[2022-04-12 09:23] #15647 closed, assigned to nobody

[2022-04-14 22:04] s2b-git opened #15944 "[bug] Workflow is not triggering on Modified time changes"
In my custom module, when I set workflow to be triggered on "Modified time" changes, it not bringing any effect.
As Field "Modified time" is present in workflows conditions, I assume it is a bug

To be more specific, it not triggering on the filter condition "Has changed"
Best

[2022-04-15 00:20] s2b-git opened #15945 "[bug] Limited access user - unable to trigger workflow"
Limited access user
Custom advanced module
Products module  active
Services module active
User have full access to own services
Workflow should trigger on "Modified time" change
User changing value in line item (service), record Modified time has changed
Workflow not triggering, log shows:
2022-04-15 06:59:47.4735 [error][NoPermitted] - No permissions to the module: Products
 - 0 include/main/WebU

[2022-04-15 00:21] #15944 closed, assigned to nobody

[2022-04-15 00:21] s2b-git commented on #15944
dup in #15945

[2022-04-15 05:45] mariuszkrzaczkowski commented on #15945
attach more information and full CRM logs
![github](https://user-images.githubusercontent.com/10198654/163526625-16cb790d-bd82-4fc2-ba72-f2333eb363db.jpg)

[2022-04-15 05:57] #15817 closed, assigned to nobody

[2022-04-15 05:58] #15912 closed, assigned to nobody

[2022-04-15 05:58] #15925 closed, assigned to mariuszkrzaczkowski

[2022-04-15 10:26] #15607 closed, assigned to areksolek

[2022-04-20 11:47] AlexSq20 opened #15971 "[bug]"
# 🐞 bug report

### ⁉️ Describe the bug
I am having an issue with setting up my YetiForce CRM.
I have installed the latest version and am running an apache2 server.
Port Forwarding is done and my server is accessible from the outside.
But when I go to my public IP from a device from outside my network it just goes to the apache landing page.
It works perfectly fine when going to my local ip addres

[2022-04-20 12:07] rskrzypczak commented on #15971
The reported error does not apply to the YetiForce application, but the server configuration, so I'm closing it.
https://github.com/YetiForceCompany/YetiForceCRM/discussions/15965

[2022-04-20 12:07] #15971 closed, assigned to nobody

[2022-04-24 17:16] vitt95 opened #15983 "Conditional Variables"
Hi, is there a way to conditionally display variables into pdf markup ?

Example:

`$(record: name )$ ? <td>$(record: name)</td> : 'empty space'.`

The core question is if is possible to display html conditionally also. Thank you.

[2022-04-24 19:52] #15983 closed, assigned to nobody

[2022-04-25 05:38] krseguros opened #15985 "Incorrect script username after upgrading to Yetiforce CRM 6.3 SecurityFix V8"
Hello,

Please check if you can help me with this error that is presenting me the parameter "Incorrect Script username" after upgrading to Yetiforce CRM 6.3 SecurityFix V8 SecurityFix V8

Next, I show you capture before and after the update:

Before
![image](https://user-images.githubusercontent.com/96985476/165026858-31ddd616-5f2f-4463-85ae-77a11287e540.png)

Later
![image](https://user-images.gi

[2022-04-25 12:49] #15766 closed, assigned to nobody

[2022-04-25 12:50] #15653 closed, assigned to mariuszkrzaczkowski

[2022-04-25 12:56] rskrzypczak commented on #15610
Fixed in current version

[2022-04-25 12:56] #15610 closed, assigned to nobody

[2022-04-26 09:10] #15550 closed, assigned to rembiesa

[2022-04-28 10:10] azorlone opened #16001 "[bug] #11956 still present - all picklist-roles assigment are lost, and all picklists are greyed-out"
# 🐞 bug report

### ⁉️ Describe the bug

There is a dangerous bug in the Picklist "Assign to roles" menu: there is a procedure that RESETS ALL AND ANY assigments to picklists, making ANY PICKLIST that can be role-assigned unusable.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to Fields - Picklist
2. Select a module and a picklist that has the "Values assigned to a Role"

[2022-04-30 08:08] alex-nap opened #16018 "[bug] Comment workflow. How to include "share with""
Hello, I have a problem creating email notifications about creating new comments in campaigns. I would like an automatic email to be sent to users who have been mentioned in the "Share with" box when creating a comment in a specific campaign. At the moment the email only reaches the creator of the comment. I can't relate comment creation to the campaign where comments are created and written.
How

[2022-04-30 15:12] kassimg12 opened #16019 "when i try to integrate yetiforce portal to the crm i found "Invalid api type" error"
When I try to integrate yetiforce portal to the CRM I found an "Invalid API type" error. Could anyone help, please?

operating system: ubuntu 20.04
Apache 2
php8.1
CRM Version: 6.3
API type: standard Webservice
portal version: 2.63

Thank you!

[2022-04-30 15:18] mariuszkrzaczkowski commented on #16019
with php 8.1 will not work properly, check the error logs

[2022-04-30 17:37] vovpff commented on #16018
This can be done with handler or workflow function what send email. You can check tickets workflow function as example

[2022-05-01 07:26] kassimg12 commented on #16019
Thank you for responding. In the log file i couldnt see any php version related issue. but it says "invalid api type". i assume it mandatory to have webservice premium to use the portal. i was hoping to tast the portal with webservice standart may be with minimal features of the portal.

Here is the api log message on portalfolder/catch/logs/
--------------------------------------------------  202

[2022-05-01 07:36] kassimg12 commented on #16019
Additionally, I tested php7.4 and php8.0. The result is the same
if it helps this is an error message I found in the portal debug console>raw response section.

{"status":0,"error":{"message":"Invalid api type","code":404,"file":"api\/webservice\/Controller.php","line":90,"backtrace":"#0 api\/webservice\/Controller.php (90)  >>  Api\\Core\\Exception->__construct('Invalid api type',404)\n#1 webserv

[2022-05-01 07:36] kassimg12 commented on #16019
Additionally, I tested php7.4 and php8.0. The result is the same
if it helps this is an error message I found in the portal debug console>raw response section.

{"status":0,"error":{"message":"Invalid api type","code":404,"file":"api\/webservice\/Controller.php","line":90,"backtrace":"#0 api\/webservice\/Controller.php (90)  >>  Api\\Core\\Exception->__construct('Invalid api type',404)\n#1 webserv

[2022-05-01 08:35] kassimg12 opened #16020 "how to copy a specific role dashboard widget to another role ."
Hello,

I have different roles in the system. based on the hierarchical system a user can get subordinate records. therefore I wanted to have similar roles but different structures for each branch of our company. when doing so, the profile works fine but I faced mandatory dashboard creating issues for each role.

I can create a dashboard for each user in setting>standard modules>Dashboard widgets.

[2022-05-01 09:24] alex-nap commented on #16018
I tried, "Send email from template" is set for tickets but it doesn't work. The problem is that it does not retrieve the primary emails of the users selected in the "share with" field. It is as if the comments module does not see the users configured on the campaign module. I can't resolve. Do you have another idea?

[2022-05-01 09:34] vovpff commented on #16018
Via custom workflow function you can send email from template but to, cc and bcc can be filled with values (user ids) from campaign record. To implement this you need to write some code.

Now I have sane functionality in tickets module. If somebody add comment into ticket, assigned and shared with users receive message with ticket summary and comment content

[2022-05-01 09:37] vovpff commented on #16020
There is no ability to duplicate dashboatd content from frontend.

You can try to duplicate rows in database and replace role id but I'm not sure what this will work well

[2022-05-01 11:34] kassimg12 commented on #16020
Great hint.

[2022-05-01 20:05] vovpff commented on #16020
It works? I never tried this before

[2022-05-02 06:10] #16018 closed, assigned to nobody

[2022-05-02 06:35] #16020 closed, assigned to nobody

[2022-05-02 06:38] mariuszkrzaczkowski commented on #16019
This is a server side problem with CRM
![github](https://user-images.githubusercontent.com/10198654/166194257-f96c4831-e907-4800-8f42-88eb3a8cbf61.jpg)

[2022-05-03 19:01] kassimg12 commented on #16019
# 🐞 bug report

### ⁉️ Describe the bug

**>> When I try to integrate yetiforce portal to the CRM I found an "Invalid API type" error. It failed to connect to the CRM which is why I consider it as a bug.**

### 🔥 How to trigger the error

**>> The error message is triggered by trying to install the portal in the portal installation wizard.**

**>> Steps to reproduce the behavior:

1. Go to 'portal

[2022-05-04 06:00] mariuszkrzaczkowski commented on #16019
attach a set of logs from both servers (CRM + Portal)

[2022-05-04 06:57] kassimg12 commented on #16019
here are the log files generated by the crm
[webserviceErrors.log](https://github.com/YetiForceCompany/YetiForceCRM/files/8618383/webserviceErrors.log)
[webserviceDebug.log](https://github.com/YetiForceCompany/YetiForceCRM/files/8618384/webserviceDebug.log)

here are the log files generated by the portal
[api.log](https://github.com/YetiForceCompany/YetiForceCRM/files/8618385/api.log)

[2022-05-04 08:49] mariuszkrzaczkowski commented on #16019
attach a screenshot of "Software configuration > Integration > Web service - Applications"

[2022-05-04 12:42] vitt95 opened #16027 "[bug]"
Hi, i'm trying to build some email models. In the email body I need to encorporate a link to external resorces. When I try to put link href , the email body parser deletes href attribute leaving an empty <a> tag.

| Environment                         | Version / Name |
| ----------------------------------- | -------------- |
| YetiForce                           |       6.3
| Web server (name and

[2022-05-04 12:46] mariuszkrzaczkowski commented on #16027
Duplicate of #14263  #14924 #15208 #14263

[2022-05-04 12:46] #16027 closed, assigned to nobody

[2022-05-04 13:05] kassimg12 commented on #16019
here is the screenshot of the web service configuration page. the highlighted text is my domain name.
![webservice](https://user-images.githubusercontent.com/65815933/166686535-534a90e0-2836-4a14-b7a7-e9efe9e2eadb.jpg)

here is the screenshot of the web service configuration detail page. the highlighted text is again my domain name.
![webservice detail](https://user-images.githubusercontent.com/65

[2022-05-04 13:33] mariuszkrzaczkowski commented on #16019
You are using "Webservice Standard" with this portal not working, you must have "Webservice Premium"
webserviceErrors.log
[code]

[2022-05-04 13:33] #16019 closed, assigned to nobody

[2022-05-04 15:01] rskrzypczak commented on #16001
Fix: https://github.com/YetiForceCompany/YetiForceCRM/commit/e4ee747db344139cf4a91febd5e745ed49f10fba

[2022-05-04 15:01] #16001 closed, assigned to rskrzypczak

[2022-05-05 12:29] s2b-git commented on #15985
Logs sometimes helps

[2022-05-16 17:03] kassimg12 commented on #16019
Hello, webservice Premium is a paid version. I need to try it with a minimal or standard version if possible. I found the portal code as open-source but yet I couldn't install it.

[2022-05-19 16:46] aneetkukreja1 commented on #12567
Actually it's not permissions issue. It's files ownership issue. Change vendor directory or htmlpurifier directory (with files) ownership to the suitable system user. It worked for me.

[2022-05-20 06:00] mariuszkrzaczkowski commented on #12567
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/web-server-requirements#WebServer

[2022-05-21 11:16] JEEVAN28 commented on #15912
Issue was resolved with Menu Configuration where only All was selected hence other items in list was ignored.

[2022-05-23 10:53] Haaaappi opened #16085 "All events in one time in calendar?"
Is it possible to see all events in the calendar at one time? Without clicking between history and things to do?

[2022-05-23 10:58] #16085 closed, assigned to nobody

[2022-05-25 16:39] ciast opened #16102 "[bug] [PL/EN] The ticket number is incremented after answering it using the reply in the mail client"
# 🐞 bug report

### ⁉️ Describe the bug

[PL]
**CEL:** Każdy klient otrzymuje własną numerację zgłoszeń opartą o nazwę skróconą kontrahenta. Numer zgłoszenia resetowany co rok. Przykładowa numeracja:
H/TESTOWYKONTRAHENT/2022/3

Przy odpowiedzi na maila zgłoszeniowego treść maila powinna być zaczytywana do pierwotnego zgłoszenia, bez tworzenia nowego zgłoszenia.

**OPIS:**
W konfiguracji numeracji

[2022-05-30 10:45] QVinto opened #16117 "[bug] Filter sorting in Modules - relations not working"
# 🐞 bug report

### ⁉️ Describe the bug
Filter sorting is working fine in module, but it is not sorting in other modules which you can manage via Modules - relations

### 🔥 How to trigger the error
First create some record in time control for 1 company (account) with different days.
for example:
1. older date - 20.5.2022
2. older date - 19.5.2022
3. newer date - 22.5.2022
4. newer date - 23.5.2022

[2022-05-30 11:02] QVinto opened #16118 "[Feature] Releated to Bug report #16117"
# Feature report

### ⁉️ Describe the feature

When you are using Standards fields in Module - Relations, you are not able to set sorting function

### 👎 Actual Behavior

Not able to set sorting function automatically. You have to do it every time when you access the module in tabs
![image](https://user-images.githubusercontent.com/4982986/170978007-f782415c-4989-48f9-845a-60d9cd3b4d98.png)
![imag

[2022-05-31 14:55] alex-nap opened #16125 "[bug] Error SQLSTATE [22001]: String data, right truncated: 1406.... Ver. 6.0.3"
Hello, every time I save a change or insert a comment, this error message appears.

`SQLSTATE [22001]: String data, right truncated: 1406 Data too long for column 'content' in row 1 The running SQL was: INSERT INTO` l_yf_mail` (`smtp_id`,` from`, `cc` , `subject`, `content`,` date`, `owner`,` error_code`) VALUES (1, '{\ "email \": \ "no-reply@whooho.it \", \ "name \" : \ "no-reply@whooho.it \"} ',

[2022-05-31 20:24] #16125 closed, assigned to mariuszkrzaczkowski

[2022-05-31 20:26] mariuszkrzaczkowski commented on #16125
1.repair the configuration (if it complies with the requirements, you would not be wrong)
 https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/web-server-requirements
2. Upload the amendment

[code]
https://github.com/YetiForceCompany/YetiForceCRM/commit/49fc47ea6d35f2c0a32108a0d04c88af0cec1b6f#diff-8397623c29419bd80578a78b38aba912d18eb3d9b5d9c097c393bb361659be69R6

[2022-06-02 02:20] Jianbin719 opened #16127 "[bug] CRON run into problem, getCondition() must be of the type string, null given"
CRON run into problem,
![image](https://user-images.githubusercontent.com/75652286/171534956-dfd415ee-0cf5-4639-9329-417f60aea99b.png)

# 🐞 bug report

### ⁉️ Describe the bug

Show error in CRON log

022-06-02 10:05:01 | LBL_WORKFLOW - Start task

TypeError: Argument 3 passed to App\QueryGenerator::getCondition() must be of the type string, null given, called in /www/wwwroot/Yetiforce/app/QueryGe

[2022-06-07 03:33] s2b-git opened #16136 "[Security] Mailscanner failed due to Roundcube update requirement"
Suddenly mailscanner stops fetching emails. Checked Roundcube and it it happen it require update.
In my opinion it is serious security issue if yetiforce in background checking libraries updates. Without informing system admin
all connected to imap processes are failing.
This is in 6.3 version
Bearing in mind above.... what other background connections are processed by yetiforce without consent of

[2022-06-07 06:04] mariuszkrzaczkowski commented on #16136
![github](https://user-images.githubusercontent.com/10198654/172307367-6865e101-5d04-4523-8d99-7156f0c8f002.jpg)

[2022-06-13 23:31] s2b-git commented on #16102
Noticed the same behavior here

[2022-06-15 14:18] apcloic opened #16165 "[bug] mobile phone number validation"
Hi,

In France the first digit of mobile phone number are either 6 (ex : +33 6 01 02 03 04) or 7 (ex : +33 7 01 02 03 04)

It looks like Yetiforce only allow 6, see attached screen recording made on gitstable.

![bug_07_mobile_phone_france](https://user-images.githubusercontent.com/2930560/173849451-d8f2df18-69fa-4cdd-b514-4e6119fbda47.gif)

Regards,

[2022-06-15 14:29] apcloic commented on #16165
Ok, validation is made with the help of libphonenumber and it looks like it depends on the other digits, so the issue is not related to the first digit 6 or 7.
For example 0701020304 is not valid but 0765242556 is valid.

[2022-06-15 14:29] #16165 closed, assigned to nobody

[2022-06-19 12:09] admin-flaviomariarusso opened #16175 "I can't be verified"
Hi everyone, I need your support because I can't be verified in the CRM system, and not being verified, I can't access the functions that CRM offers me only after verification. I tried to send an email containing all the information to registration@yetiforce.com. but I haven't received any feedback yet. I also tried to register online by filling out the form in the CRM but, after a week, I still h

[2022-06-19 12:16] admin-flaviomariarusso commented on #16175
I'm also attaching a screenshot of the email I sent to: registration@yetiforce.com
<img width="553" alt="Immagine 2022-06-19 141316" src="https://user-images.githubusercontent.com/107797556/174480437-65c2ef3a-ee4b-4ebe-8293-4b69aaee8411.png">

[2022-06-20 05:37] mariuszkrzaczkowski opened #16177 "Workflow expected behavior is not as described"
### Discussed in https://github.com/YetiForceCompany/YetiForceCRM/discussions/16172

<div type='discussions-op-text'>

<sup>Originally posted by **s2b-git** June 18, 2022</sup>
So, we have this triggers like 'more than hours before' or 'less than hours before' etc.
Admin designing processes understand those workflows straight forward: cron running through records checking if conditions has been me

[2022-06-20 06:07] vovpff commented on #16177
Task of topicstarter can be done by selfwritten crontask but as Marius said there could be system performance problem because big amounnt of records

[2022-06-20 06:27] paula-w commented on #16175
Hi
we received your online registration 4 days ago and accepted it 3 days ago, then you modified some registration data yesterday and we accepted it again today.

[This article](https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/problems-with-system-registration) describes how to fix registration issues.

I also sent you an email with more information regarding yo

[2022-06-20 06:27] #16175 closed, assigned to nobody

[2022-06-21 07:03] konadrian commented on #16102
It was solved and a fix was added on the gitdeveloper version; here is a link for the commit https://github.com/YetiForceCompany/YetiForceCRM/commit/a278d185e1f0281da994519964a39e217b5b0ddd. You can apply these changes on your own or wait for version 6.4.

[2022-06-21 07:03] #16102 closed, assigned to konadrian

[2022-06-21 12:12] s2b-git commented on #12680
Facing similar issue in 6.3. "Execution schedule (defined time intervals)" > 5 min
Workflow in the yetiforce every one minute
System cron every one minute
Does last two causing conflict?

[2022-06-22 08:17] s2b-git commented on #16027
[vitt95](https://github.com/vitt95) did you found solution / bug?

[2022-06-22 22:59] souravkumar4797 opened #16199 "[bug] When applying multiple profiles to a department. Create Record Button is not available in the modules assigned in the 2nd profiles and onwards"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot

[2022-06-23 05:48] mariuszkrzaczkowski commented on #16199
![github](https://user-images.githubusercontent.com/10198654/175224589-44c1dd01-7edd-40a8-b0c7-a7cd6def5ea6.jpg)

[2022-06-23 05:48] #16199 closed, assigned to nobody

[2022-06-23 08:18] vovpff commented on #16199
@souravkumar4797 as I checked in the past situation with profiles for roles:
You can choose one or more profile for role but really rules from different profiles don't combined for role.
@mariuszkrzaczkowski

[2022-06-23 13:36] souravkumar4797 commented on #16199
Thanks @vovpff. but, suppose I have created profiles for 5 different type of work and finally I want to assign 2 profiles to one role and 3 to another. So everything works fine for 1 and onwards except the button to create the record in the module assigned in the second profile and onwards.

[2022-06-25 01:17] s2b-git commented on #11937
How to print image with use of $(custom : RecordsList)$? Currently output is filename only
BEst

[2022-06-25 06:58] ArniSamano opened #16208 "[bug] at func recordsList"
Riding on v6.3

When I try to generate PDF report from the list or records (Services) I have to select at least one record.
Than report is generated correctly.
If I select two records, the same report is doubled in one PDF file.
If I select all 60 records I have in services, the system memory get exhausted throwing error.
Expected is that report is generated for all selected records (not all recor

[2022-06-25 09:19] apcloic commented on #16208
@ArniSamano Did you check "Generate one PDF for many records" in general settings of your PDF template ?

[2022-06-25 11:01] ArniSamano commented on #16208
As I said it works when select only one record. No doubling. But selecting multiple records should print list of ONLY selected, but now it prints all and multiplied by number of selected records

[2022-06-25 13:11] mariuszkrzaczkowski commented on #16208
https://github.com/YetiForceCompany/YetiForceCRM/issues/11937#issuecomment-1166163159

[2022-06-26 02:37] ArniSamano commented on #16208
Marius, as I mentioned, PDF output should respect all records selected, so for instance user can create filter (or filter by column), or select manually and print all records included in filter. As for now 'recordsList' printing all records. This limiting reporting :-)

[2022-07-02 14:32] shawkatmarrouf opened #16228 "Ban Editing Mandatory Fields"
Hello,

Working on yetiforce 6.3, In user permissions, How can I prevent a user profile who have "View, Edit" privilege only from editing mandatory fields?
In the following case I want a user to be able to edit just one field but I couldn't do it?
![yeti](https://user-images.githubusercontent.com/101041720/177004819-d77f645c-2a03-4401-9c96-500dc6273eb3.png)

Mandatory fields are disabled, I want t

[2022-07-03 12:24] shawkatmarrouf commented on #16228
any reply please! @prabhu @vctrin @majkel89

[2022-07-04 06:27] mariuszkrzaczkowski commented on #16228
try to use "Dependent Fields"
https://gitdeveloper.yetiforce.com/index.php?parent=Settings&module=FieldsDependency&view=List

[2022-07-04 21:27] mariuszkrzaczkowski commented on #16208
I added a fix that fixes the display of photos in "$ (custom: RecordsList) $" and in "$ (recordsList: Products) $" fixes filtering
https://github.com/YetiForceCompany/YetiForceCRM/commit/7a29a99dc913dc07722cab2f7362e0f1f18c4a50

[2022-07-04 21:27] #16208 closed, assigned to nobody

[2022-07-11 15:56] PaulMcF1987 opened #16257 "[Docker] ... Installation hanging on step 44"
I am trying to install Yetiforce on my new server.
I installed it on my old server to trial it... install went fine with no issues.

I am now trying to install on my new server but it has been haninging on step 44 for around 30 mins and I am unsure what I should do

![image](https://user-images.githubusercontent.com/75368133/178306264-bc8e7ab8-ffad-4f72-ba4a-972542696223.png)

[2022-07-11 17:51] PaulMcF1987 opened #16258 "[Docker] ...Installation Unsuccessfull"
I installed YetiForce on my previous server with no issues, it installed fine and worked fine when trialing...

I followed the exact same steps for my new server and after the installation I get

![image](https://user-images.githubusercontent.com/75368133/178328728-1a1404d7-855e-4f18-8502-f36b630124aa.png)

I tried the process again but Yetiforce would not load, I kept getting the `504` error. I h

[2022-07-12 08:52] mariuszkrzaczkowski commented on #16258
Please attach full logs (PHP/Apache/Nginx/Browser/CRM Logs)

[2022-07-12 08:58] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski How do I obtain the CRM logs?

By browser logs, you mean console?

[2022-07-12 09:05] mariuszkrzaczkowski commented on #16258
https://yetiforce.com/en/knowledge-base/documentation/developer-documentation/item/debugging

Yes

[2022-07-12 09:19] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski

I tried running the install again
The only errors that are showing

MQSL Log

    2022-07-12 10:13:09 4117 [Warning] IP address '172.23.0.2' could not be resolved: Name or service not known
    2022-07-12 10:37:57 4266 [Warning] Aborted connection 4266 to db: 'YetiForce' user: 'YetiAdmin' host: '172.23.0.2' (Got an error reading communication packets)
    2022-07-12 11:20:05

[2022-07-12 10:34] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski
Ran the install on an incognito browser to get rid of all the mention of extensions in console...

All console shows in incognito is

![image](https://user-images.githubusercontent.com/75368133/178470370-76d94fc0-ed8c-4550-9c7e-bee46ff70521.png)

![image](https://user-images.githubusercontent.com/75368133/178470991-be66d7e4-cfc4-4883-9415-a199d88f94a1.png)

![image](https://us

[2022-07-12 11:45] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski based on what I have provided above, have you any thoughts on what may be causing the error?

I have checked all of the error logs and that is all that there was.

I cleared Yetiforce from the system and reinstalled the docker container... not sure if these errors are relevant but the ones I noticed we...

    Step 12/50
    debconf delaying package configuration since apt-uti

[2022-07-13 10:51] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski should I assume that you dont know what might be causing the issue?
Would I be better looking at an alternative CRM option?

[2022-07-13 11:04] mariuszkrzaczkowski commented on #16258
We deal with github applications in our free time, now it is the holiday period so we have fewer possibilities.
We publish Decker only for testing or development purposes, in order to work productively, it requires various changes.

You are free decide for yourself
remember that it's open source and the community also builds it and creates it.
And you want answers already, and sometimes you have t

[2022-07-13 11:07] PaulMcF1987 commented on #16258
@mariuszkrzaczkowski You asked for details yesterday morning and I provided the details asked for reasonably quickly.
Nowhere did you ask for the details and say that you would get round to it when you have time. I was under the impression that you had asked for the details because you wanted to try and diagnose the issue

Does that mean that the docker published image is not fit to be used as a C

[2022-07-17 10:37] shawkatmarrouf opened #16269 "Project and Project - Mapped Field Generation"
Yetiforce 6.3 | When creating a project task generated mapped fields from project it doesn't list or relate to that project or appear in summary, I've to create the record manually to list the task inside project tasks tap.

I've tried one to many field and generate it, but what happened is that another Project task tap appeared beside the original one and it lists from generated mapped field, but

[2022-07-18 05:43] #16269 closed, assigned to nobody

[2022-07-18 05:45] #16136 closed, assigned to nobody

[2022-07-22 17:30] Precognist commented on #15690
Same here. Looking for answers.

[2022-07-22 22:23] bpabiszczak commented on #15690
Currently all registrations are approved. Please check the registration status.

[2022-07-23 07:14] #15690 closed, assigned to nobody

[2022-07-23 07:25] #16228 closed, assigned to nobody

[2022-07-27 10:51] assaoffwm opened #16305 "[bug] [PL] Ilość wolnego miejsca"
Dzień dobry,

wyświetla się nam komunikat w ostrzeżeniach o małej ilości miejsca na dysku.
Komunikat jaki wyświetla się:

"Mało wolnego miejsca na dysku (6% | Wolnych: 90 GB | Zajętych: 6.13 GB), brak wystarczającej ilości miejsca na dysku spowoduje że system przestanie działać. Ścieżki do katalogów:

Katalog główny 6% | Wolnych: 90 GB | Zajętych: 6.13 GB
Katalog storage: 6% | Wolnych: 90 GB | Zaj

[2022-08-01 08:04] bpabiszczak opened #16311 "[bug] Nie dopasowuje edycji notatnika do szerokości zawartości lub ewentualnie szerokości widżetu"
![image](https://user-images.githubusercontent.com/10197525/182102334-9beedbf0-fa3c-4f86-b55b-393acf427ccd.png)

[2022-08-02 05:03] #16311 closed, assigned to rskrzypczak

[2022-08-02 07:20] bpabiszczak commented on #16305
Wersja 6.1? Zalecam aktualizację. Nie będziemy weryfikować takich rzeczy na starej wersji, jeżeli błąd wystąpi na najnowszej, wówczas możemy sprawdzać.

[2022-08-02 07:20] #16305 closed, assigned to bpabiszczak

[2022-08-02 10:24] assaoffwm commented on #16305
Dziękuje za odpowiedź.

[2022-08-03 17:37] mariuszkrzaczkowski opened #16317 "issue with count function in list view when using related records filtering mechanism"
@mariuszkrzaczkowski

I think there is a little issue with count function in list view when using related records filtering mechanism.

On the screenshot below, the filter is based on Documents module with condition title is not empty.
Count result should be 2 instead of 6, so it looks like it count the related records (indeed there is a total of 6 documents) instead of records (there is 2 filtere

[2022-08-04 05:47] #16317 closed, assigned to rskrzypczak

[2022-08-04 08:10] rskrzypczak commented on #15945
Due to inactivity, the issue has been closed.

[2022-08-04 08:10] #15945 closed, assigned to nobody

[2022-08-04 08:43] rskrzypczak commented on #15838
This is not a bug. You should use _"$(record : assigned_user_id)$"_

[2022-08-04 08:43] #15838 closed, assigned to rskrzypczak

[2022-08-04 11:19] #15772 closed, assigned to rskrzypczak

[2022-08-04 11:27] #15665 closed, assigned to nobody

[2022-08-05 04:04] #15613 closed, assigned to rskrzypczak

[2022-08-05 04:18] #15031 closed, assigned to rskrzypczak

[2022-08-05 09:15] konadrian commented on #15236
Private fields weren't enabled by default, that may cause the problem with permissions. Now this option is enabled by default
https://github.com/YetiForceCompany/YetiForceCRM/blob/developer/config/Security.php#L51

The problem no longer exists. The ticket has been closed.

[2022-08-05 09:15] #15236 closed, assigned to konadrian

[2022-08-05 09:17] konadrian commented on #14950
![image](https://user-images.githubusercontent.com/3193498/183045209-63788ada-c3af-41bd-aa8d-aacbd25d59f0.png)
The problem no longer exists. The ticket has been closed.

[2022-08-05 09:17] #14950 closed, assigned to konadrian

[2022-08-05 09:28] #15164 closed, assigned to konadrian

[2022-08-05 11:20] konadrian commented on #16127
Hello
This functionality isn't supported by Yetiforce. It's old code from Vtiger.

You can try using workflow actions directly in Comments module and check if it has everything that you need.

I closed this topic.

[2022-08-05 11:20] #16127 closed, assigned to konadrian

[2022-08-05 12:34] konadrian commented on #14865
It's not a bug if you created your own custom class you need to adjusts it to yours requirements. I closed the topic

[2022-08-05 12:34] #14865 closed, assigned to konadrian

[2022-08-05 12:43] konadrian commented on #14658
I can't reproduce this error. The topic is closed

[2022-08-05 12:43] #14658 closed, assigned to konadrian

[2022-08-05 12:49] konadrian commented on #14593
I closed the ticked due to missing information

[2022-08-05 12:49] #14593 closed, assigned to konadrian

[2022-08-05 12:56] konadrian commented on #14647
As @z0lo13 mentioned it works only with time fields. I closed the topic

[2022-08-05 12:56] #14647 closed, assigned to konadrian

[2022-08-05 16:34] #15985 closed, assigned to nobody

[2022-08-05 16:35] #15731 closed, assigned to nobody

[2022-08-05 16:38] mariuszkrzaczkowski commented on #15507
The "Shared with users" field is a system field and cannot be disabled.

[2022-08-05 16:38] #15507 closed, assigned to nobody

[2022-08-05 16:38] #15474 closed, assigned to nobody

[2022-08-05 16:40] #15183 closed, assigned to mariuszkrzaczkowski

[2022-08-05 16:44] mariuszkrzaczkowski commented on #14959
Does the problem still exist in the newest version?

[2022-08-05 16:46] mariuszkrzaczkowski commented on #14729
Does the problem still exist in the newest version?

[2022-08-06 20:44] blu-IT commented on #2748
Hallo.

any news on this function?

Thanks!

[2022-08-07 07:20] bpabiszczak commented on #2748
No

[2022-08-08 06:38] konadrian commented on #12664
The problem no longer exists. The ticket has been closed.

[2022-08-08 06:38] #12664 closed

[2022-08-08 07:00] konadrian commented on #12267
@kpieron The problem no longer exists. The ticket has been closed.

[2022-08-08 07:00] #12267 closed

[2022-08-08 07:13] konadrian commented on #10311
The problem no longer exists. The ticket has been closed. You can also use sorting functionality which was added while ago

[2022-08-08 07:13] #10311 closed

[2022-08-08 09:09] mariuszkrzaczkowski commented on #13042
Does the problem still exist in the newest version?

[2022-08-08 09:10] mariuszkrzaczkowski commented on #13136
Does the problem still exist in the newest version?

[2022-08-08 09:13] #13505 closed, assigned to nobody

[2022-08-08 09:22] mariuszkrzaczkowski commented on #13634
Does the problem still exist in the newest version?

[2022-08-08 09:49] mariuszkrzaczkowski commented on #13679
It works properly,
![image](https://user-images.githubusercontent.com/10198654/183390297-194e7f74-f977-4b52-ac0a-2be64b8a1667.png)
![image](https://user-images.githubusercontent.com/10198654/183390312-9fa7a9ae-6688-431b-af39-daade5989014.png)

the summary of currencies is shown only when the currency of eg Invoices is different than the default CRM system
gitdeveloper has a default currency of PLN

[2022-08-08 09:49] #13679 closed, assigned to mariuszkrzaczkowski

[2022-08-08 09:51] #13726 closed, assigned to nobody

[2022-08-08 09:52] mariuszkrzaczkowski commented on #13733
Does the problem still exist in the newest version?

[2022-08-08 09:53] mariuszkrzaczkowski commented on #13787
Does the problem still exist in the newest version?

[2022-08-08 09:54] mariuszkrzaczkowski commented on #13846
Does the problem still exist in the newest version?

[2022-08-08 09:55] konadrian commented on #13634
The problem no longer exists. The ticket has been closed.

[2022-08-08 09:55] #13634 closed, assigned to konadrian

[2022-08-08 09:58] mariuszkrzaczkowski commented on #13876
We tested this on the current version and it appears that the bug doesn't exist anymore

[2022-08-08 09:58] #13876 closed, assigned to mariuszkrzaczkowski

[2022-08-08 10:01] mariuszkrzaczkowski commented on #13878
We need more information to identify the problem.

[2022-08-08 10:39] konadrian commented on #13733
The problem no longer exists. The ticket has been closed.

[2022-08-08 10:40] konadrian commented on #13733
The problem no longer exists. The ticket has been closed.

[2022-08-08 10:40] #13733 closed, assigned to konadrian

[2022-08-08 11:38] konadrian commented on #13863
The problem no longer exists. The ticket has been closed.

[2022-08-08 11:38] #13863 closed, assigned to konadrian

[2022-08-08 12:24] mariuszkrzaczkowski commented on #14273
Interesting tool, but we don't need it at the moment.

[2022-08-08 12:24] #14273 closed, assigned to mariuszkrzaczkowski

[2022-08-08 12:32] #14493 closed, assigned to nobody

[2022-08-08 13:21] rskrzypczak commented on #15488
Fixed in https://github.com/YetiForceCompany/YetiForceCRM/commit/53688ed380fbac15ec300b9e8b019c0e4c987b95

[2022-08-08 13:21] #15488 closed, assigned to rskrzypczak

[2022-08-09 04:37] rskrzypczak commented on #13878
I am closing the issue because there is no error here.
If you have any further questions, please open a discussion.

[2022-08-09 04:37] #13878 closed, assigned to nobody

[2022-08-09 08:39] konadrian commented on #13929
Try to set margins and paddings to 0  or you can use <span> for this
![image](https://user-images.githubusercontent.com/3193498/183604588-bcce82be-1c47-45a2-b91b-dc175a553d53.png)

![image](https://user-images.githubusercontent.com/3193498/183604256-2746da62-85ab-4b3e-8947-2c2c71f5c02c.png)

[2022-08-09 08:39] #13929 closed, assigned to konadrian

[2022-08-09 10:22] apcloic commented on #13136
@mariuszkrzaczkowski
Hi, I've just give a try.
It looks like using conditions on related list is still not working but maybe it's not supposed to work.
I mean using trying to filter recipient (To:) related list like this :
 $(relatedRecordsList : Contacts|firstname,lastname,modifiedtime|[[["firstname","a","Tom"]]]||2)$
Because it's truncated after saving the task :
$(relatedRecordsList : Contacts|

[2022-08-09 10:45] konadrian commented on #14052
@rioshaz The problem no longer exists. The ticket has been closed.

@Andr198 you need put the variable into <a> tag
![image](https://user-images.githubusercontent.com/3193498/183629362-5b921a82-4b03-47a9-854e-df1b17c954f7.png)
![image](https://user-images.githubusercontent.com/3193498/183629621-15de444a-32a4-453e-9af9-179ff81a005e.png)

[2022-08-09 10:45] #14052 closed, assigned to konadrian

[2022-08-09 10:49] konadrian commented on #14082
The current version doesn't have this functionality. We'll add it to the wishlist. The ticket has been closed

[2022-08-09 10:49] #14082 closed, assigned to mariuszkrzaczkowski

[2022-08-09 11:47] konadrian commented on #14313
I closed the ticked due to missing information. The problem no longer exists. The ticket has been closed.
![image](https://user-images.githubusercontent.com/3193498/183639399-617081f4-87d1-486d-a161-b7682f1d54e9.png)

[2022-08-09 11:47] #14313 closed, assigned to konadrian

[2022-08-09 12:02] konadrian commented on #14413
The problem no longer exists.
I closed the ticked due to missing information

[2022-08-09 12:02] #14413 closed, assigned to konadrian

[2022-08-11 09:43] #13136 closed, assigned to bpabiszczak

[2022-08-11 17:38] JEEVAN28 commented on #14729
I need to check will revert tomorrow

[2022-08-19 06:58] #14266 closed, assigned to konadrian

[2022-08-19 10:12] #15631 closed, assigned to areksolek

[2022-08-20 09:13] diderich opened #16364 "[bug] Updating from 6.3 to 6.4"
# 🐞 bug report

### ⁉️ Describe the bug

When I am running the update script, I get the following error, where mail.didilan.net is the name of the SMTP server I am using:

![yeti_err_1](https://user-images.githubusercontent.com/10230144/185737472-7da1f73f-3f35-43a9-b900-44d498ed93e3.jpg)

The file `cache/logs/errors.log` does not exist (i.e., not errors are logged).

### 🔥 How to trigger the error

[2022-08-20 09:32] diderich commented on #16364
Setting `$smtp_server = 'ssl://mail.didilan.net'` allows the update to run through.

[2022-08-20 12:41] sreenathreddy9949362660 opened #16365 "[bug] not able to add one more field installation cost like purchase amount to calculate margin in bill of materials"
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot

[2022-08-20 12:49] sreenathreddy9949362660 opened #16366 "[bug] unable to get the same "modified time, ticket no, created time, last modified by ,assigned to ,and created by" system fields while importing from old tickets."
# 🐞 bug report

### ⁉️ Describe the bug

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

### 👎 Actual Behavior

### 👍 Expected Behavior

### 👷 Testing

- [ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [ ] I confirm that I tested it at https://gitdeveloper.yetiforce.com

### 📷 Screenshot

[2022-08-21 07:34] diderich opened #16369 "[bug] YetForcrCRM 6.4 fails with generic error"
# 🐞 bug report

### ⁉️ Describe the bug

When there is an error in the core, for example, from customization, YetiForceCRM fails with the following exception/error message being written in the `cache/logs/errors.log` logfile:
![generic-error](https://user-images.githubusercontent.com/10230144/185780406-9be2f285-b48c-4933-86f8-209aac2de2d7.jpg)

This makes it hard, if not impossible to know what er

[2022-08-21 08:34] fbojan opened #16370 "Importing module Failed"
[ver. 6.3.0] ---> [ver. 6.4.0]

The server configuration is not compatible with the requirements of the upgrade package. Please have a look at the list of errors: max_execution_time = 300 < 600 max_input_time = 300 < 600
![ConfReport](https://user-images.githubusercontent.com/25682437/185782796-c006a326-19ea-457e-bdef-4e5197d5d77e.png)

[2022-08-21 16:05] deanathpc opened #16371 "Upgrade to 6.4.0"
I have two instances of Yetiforce that seem to have failed during the upgrade process.  These two instances will no longer allow me to view records unless they are calendar related. When I attempt to view any contacts or organizations or vendors or anything related to projects I get the general error screen.  Unable to view any details.  I have too much data now to just abandon.  I even attempt to

[2022-08-21 16:22] deanathpc commented on #16371
From the error log, most recent entry after trying to view the above record:
[21-Aug-2022 12:20:04 America/New_York] PHP Warning:  session_name(): Session name cannot be changed after headers have already been sent in /home3/hpccom/public_html/nyskynet/crm/app/Session/Base.php on line 48
[21-Aug-2022 12:20:04 America/New_York] PHP Warning:  session_set_cookie_params(): Session cookie parameters ca

[2022-08-22 03:48] rskrzypczak commented on #16371
Apart from server configuration errors, which of course should be corrected, **clear the browser's cache together with cookies** and enable application logs to locate the specific cause of the error, if it still occurs.
https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-clear-browser-cache
https://yetiforce.com/pl/component/zoo/item/debugging

[2022-08-22 05:26] rskrzypczak commented on #16370
I don't see any bug here and I don't know what you're reporting.
**Correct server configuration**, you will have no problem with starting the update.

[2022-08-22 05:26] #16370 closed, assigned to nobody

[2022-08-22 08:23] rbtm opened #16374 "[bug] Nie działa!? Po aktualizacji przestał działać Nominatim i OpenCage."
Dzień dobry, zrobiłem dziś aktualizację i przestały działać obie wyszukiwarki adresów jak w temacie. Przed aktualizacją a po wpisaniu fragmentu adresu uruchamiało się wyszukiwanie a obecnie nie mogę wymusić tego w żaden sposób?! Albo takiego sposobu nie znam, albo zostało coś popsute :-(

[2022-08-22 08:30] mariuszkrzaczkowski commented on #16374
![github](https://user-images.githubusercontent.com/10198654/185876242-286172ec-35d5-4d4f-84d4-b18a5b8afafb.jpg)

[2022-08-22 08:36] rbtm opened #16375 "[bug] Nie działa!? Dziękuję za sparaliżowanie pracy! Nie można zapisać nowego ani edytować wcześniej wprowadzonego kontrahenta!"
Po podaniu wszystkich wymaganych informacji, w ogóle nie działa przycisk ZAPISZ pod formularzem kontrahenta! Niech Pan tylko nie zapomni upomnieć mnie, że potrzebne są dodatkowe informacje, żebym musiał się nad tym pół dnia spuszczać, bo przecież nie mam nic innego do roboty - A TO WASZA ROBOTA! Zrobiliście jakąś aktualizację a człowiek jak zwykle głupi zaktualizował a cały proces został przeprowa

[2022-08-22 08:48] bpabiszczak commented on #16375
Nie bardzo rozumiem o czym rozmawiamy i do kogo są pretensje. Jezeli jest sie naszym klientem to zapraszam na SLA, jezeli nie i oczekuje sie bezpkatnego wsparcia to zalecam zmienic ton bo nikt nie pomoze gdy dyskusja zaczyna sie od pretensji.

Po trzecie wszelkie zmiany (a w szczegolnosci aktualizacje) najpierw robi sie na srodowisku testowym.

Zalecam usuniecie cache, a nastepnie zgloszenie tego

[2022-08-22 08:53] QVinto opened #16376 "Recycle bin / Trash bin shows error in 6.4"
# 🐞 bug report

### ⁉️ Describe the bug

recycle bin not working. showing errors

### 🔥 How to trigger the error

1. add to leftside menu recycle bin
2. try to access it

### 👎 Actual Behavior

ERROR

### 👍 Expected Behavior

Open recycle bin site with no errors

### 👷 Testing

- [ ✔️ ] I confirm that I tested it at https://gitstable.yetiforce.com
- [✔️  ] I confirm that I tested it at https://git

[2022-08-22 08:57] rskrzypczak commented on #16375
https://github.com/YetiForceCompany/UpdatePackages/blob/master/YetiForce%20CRM%206.x.x/6.3.0_to_6.4.0/license.txt#L8-L17
Proszę opróżnić pamięć podręczna przeglądarki i cookies: https://yetiforce.com/en/knowledge-base/documentation/implementer-documentation/item/how-to-clear-browser-cache
Jeżeli to nie pomoże, to pozostaje Panu analiza zjawiska, a więc tzw. debugowanie.
W celu szukania wsparcia na

[2022-08-22 08:57] #16375 closed, assigned to nobody

[2022-08-22 08:59] rbtm commented on #16375
Ale przepraszam bardzo. Wprowadza Pan jakąś aktualizację, nie informując wprost, że aktualizacja całkowicie zablokuje możliwość zarządzania kontrahentami i uważa Pan, że to jest w porządku? W ten sposób Pan "zaprasza" do skorzystania z płatnego supportu? Mało tego naprawdę uważa Pan, że aktualizację użytkownik powinien na własną rękę przeprowadzać w środowisku testowym, bo przecież należało się sp

[2022-08-22 09:07] diderich opened #16377 "[bug] Warning in errors.log when saving OSSTimeControl entry"
# 🐞 bug report

### ⁉️ Describe the bug

When saving a newly created or modified OSSTimeControl entry, the following warnings are reported in the `cache/logs/errors.log` file:
![errors-log](https://user-images.githubusercontent.com/10230144/185883210-b0d09503-afbe-45c7-a004-95fc86c075b6.jpg)

I have not identified (yet) any functional issue based on this warning

### 🔥 How to trigger the error

St

[2022-08-22 09:15] #16376 closed, assigned to rskrzypczak

[2022-08-22 09:35] rbtm opened #16378 "[bug] Nieaktywny przycisk ZAPISZ?! Nie można dodać nowego ani edytować wcześniej dodanego kontahenta/kontaktu."
# 🐞 bug report

### ⁉️ Describe the bug

Nieaktywny przycisk ZAPISZ?! Nie można dodać nowego ani edytować wcześniej dodanego kontahenta/kontaktu.

### 🔥 How to trigger the error

Wystarczy zaktualizować do najnowszej wersji.

### 👎 Actual Behavior

Nieaktywny przycisk ZAPISZ?! Nie można dodać nowego ani edytować wcześniej dodanego kontahenta/kontaktu. Pod zadaniami z kalendarza przycisk zapisz dzi

[2022-08-22 10:02] rskrzypczak commented on #16378
Prawdopodobnie masz ustawiony typ modułu na _zaawansowany_, co jest błędem.
Skoryguj ustawienie, jak pokazano poniżej. Zmiana nie zostanie wykonana w czasie rzeczywistym, tylko z opóźnieniem zgodnie z harmonogramem crona na Twoim serwerze (upewnij się więc, że cron u Ciebie działa _Konfiguracja systemu/Automatyzacja/CRON_), zazwyczaj trwa to kilka minut.
![image](https://user-images.githubusercont

[2022-08-22 10:02] #16378 closed, assigned to rskrzypczak

[2022-08-22 10:08] #16374 closed, assigned to nobody

[2022-08-22 10:09] rbtm commented on #16378
Dziękuję, pomogło.

[2022-08-22 10:10] QVinto opened #16379 "[bug] After Update from 6.3 to 6.4 - Access to undeclared static property: Config\Modules\ModComments::$defaultSource"
# 🐞 bug report

### ⁉️ Describe the bug

After updating to 6.4 from older version, there is a glitch when code is calling $defaultSource insted of old one $DEFAULT_SOURCE. It is autogenerated php in Config\Modules\ModComments

![image](https://user-images.githubusercontent.com/4982986/185894615-97a6f152-9415-47a6-ba1a-25a02959e786.png)

The actual ModComment.php after update is $DEFAULT_SOURCE
![i

[2022-08-22 10:22] QVinto opened #16380 "[bug] After update 6.4 - there is no log about update when installing via Upload file process"
# 🐞 bug report
![image](https://user-images.githubusercontent.com/4982986/185898417-1c3518b2-93dc-490b-811a-e7d15425d893.png)

### ⁉️ Describe the bug

no info about finished update process

### 🔥 How to trigger the error
Update via Upload File
![image](https://user-images.githubusercontent.com/4982986/185898586-d370218d-1304-4b82-aaf0-f528631676e9.png)

### 👎 Actual Behavior

no info about 6.4 up

[2022-08-22 10:26] rskrzypczak commented on #16379
Probably the upgrade to 6.4 did not finish correctly for you.
One of the last steps of updating is reloading the application's configuration files, which did not happen for you.
Verify the updateLogsTrace.log file, or preferably attach to the ticket.

[2022-08-22 10:33] rskrzypczak commented on #16380
If this information is missing, the update probably has failed.
The place where the update is triggered does not matter.
It looks like the update was interrupted at some point.
Verify the server configuration and retry the update.

This is not an application or update package bug, so I close the issue.
If you have any comments, please include more information, the server configuration and logs.

[2022-08-22 10:33] #16380 closed, assigned to nobody

[2022-08-22 10:36] QVinto commented on #16379
[updateLogsTrace.log](https://github.com/YetiForceCompany/YetiForceCRM/files/9393545/updateLogsTrace.log)

[2022-08-22 10:45] rskrzypczak commented on #16379
Just as I thought. The script was interrupted at the last stage of the update, namely when updating the configuration files.
There can be several reasons for this, e.g. file or directory permissions.
However, you should find more information in other log files (app, server).
You can try to enable application logs and update up to 6.4 one more time.

This is not an application or update package bug

[2022-08-22 10:45] #16379 closed, assigned to nobody

[2022-08-22 10:50] QVinto commented on #16379
thank you for info. I will try to find reasons why it stoped.

[2022-08-22 12:18] deanathpc commented on #16371
Cache was cleared on both browsers.  Same result.  Even on my android phone same result.

Here is a system.log data dump.  Changed the debugging to level 3 and tried a few things.  Strange is I can get into say Ideas and view records and even save new ones.  Projects, Vendors and Contacts when viewed is when this generic error box shows.

--------
<txt>
2022-08-22 08:02:51.5298 [warning][[Vtiger_M

[2022-08-22 12:29] deanathpc commented on #16371
![Screenshot 2022-08-22 at 08-28-14 Vendors Streakwave Wireless](https://user-images.githubusercontent.com/67805826/185921280-a58cdb78-fa80-4979-abd0-38a9dafb44a8.png)
With some other debugs turned on now and trying to view a Vendor this is the screen I see:

[2022-08-22 12:34] rskrzypczak commented on #16371
The update was not successful.
Check this: https://github.com/YetiForceCompany/YetiForceCRM/issues/16379

[2022-08-22 12:58] deanathpc commented on #16371
O.K.` So that helped fixed some issues. But I noticed another issue in the comments section of a Vendor.

Access to undeclared static property Config\Modules\ModComments::$dateFormat

Here is my ModeComments.php file.  Safe to assume I'm missing more entries?

`<?php`

/**
 * Configuration file.
 * This file is auto-generated.
 *
 * @package Config
 *
 * @copyright YetiForce Sp. z o.o
 * @license

[2022-08-22 13:07] deanathpc commented on #16371
O.K. I did find another entry in the ModComments.php file that is needed:

`/**
	 * Date display mode in comments, values available:
	 * `user` -  based on user settings, the view_date_format field
	 * `displayDate` - date and time in user format.
	 *
	 * @var string
	 */
	public static $dateFormat = `'user';``

[2022-08-23 08:37] fbojan commented on #16370
![Importing module Failed](https://user-images.githubusercontent.com/25682437/186112666-90519ef3-6781-41f2-95ba-610f190ffcf7.gif)

[2022-08-23 08:40] fbojan commented on #16370
Z góry dziękuję za wasze wysiłki

[2022-08-24 06:58] rskrzypczak commented on #16370
As I mentioned before, there is no error here.
Installation of the Update Package requires the appropriate configuration of the server in terms of these parameters, which you mentioned, to protect yourself against sudden termination of the script, i.e. update, which would lead to application damage.
There is nothing we can help you with.
Correct the mentioned configuration parameters on the server

[2022-08-24 09:10] deepti4666 opened #16385 "Q: Where is data stored on Yeti?"
Where is data stored on Yeti, and in which file & folder on the server?

1. I created a new installation
2. With a new database
3. Used the "Replace Into" command to copy data from one database to the new database
4. Recovered the files from the backup

**Problem:**
No data showing

How do I find the data that ware there?

[2022-08-24 09:14] rskrzypczak commented on #16385
Check _config/_ folder
In particular: config/Db.php, config/Main.php

[2022-08-24 09:14] #16385 closed, assigned to nobody

[2022-08-25 01:18] Jianbin719 opened #16387 "[bug] Upgrade 6.3 to 6.4 Switch user error"
# 🐞 bug report
Error: Argument 1 passed to App\User::isExists() must be of the type int, string given, called in /www/wwwroot/Yetiforce/cache/templates_c/basic/5af61c354666bee008c76d18f9876904776130f6_0.file.SwitchUsers.tpl.php on line 35
![image](https://user-images.githubusercontent.com/75652286/186551385-62082384-a630-42fd-a822-bf416eadfe3f.png)

![ConfReport](https://user-images.githubusercont

[2022-08-25 01:42] Jianbin719 commented on #16387
After upgrade to 6.4 from 6.3, it shows error in the pic above.

is there the way to empty all switch user settings, and set it again.

[2022-08-25 04:34] #16387 closed, assigned to rskrzypczak

[2022-08-25 04:36] rskrzypczak commented on #16387
You can upload the indicated patch directly (https://github.com/YetiForceCompany/YetiForceCRM/commit/adbfa89546ac61ec259d79e51ee0a8b4f6ee3f17) or wait for the release of the service pack, which will probably appear in days.

[2022-08-25 05:07] rskrzypczak commented on #16366
Please create the issue correctly/legibly
![github](https://user-images.githubusercontent.com/10198654/185876242-286172ec-35d5-4d4f-84d4-b18a5b8afafb.jpg)

[2022-08-25 05:07] #16366 closed, assigned to nobody

[2022-08-25 05:08] rskrzypczak commented on #16365
Please create the issue correctly/legibly
![github](https://user-images.githubusercontent.com/10198654/185876242-286172ec-35d5-4d4f-84d4-b18a5b8afafb.jpg)

[2022-08-25 05:08] #16365 closed, assigned to nobody

[2022-08-25 05:23] mariuszkrzaczkowski commented on #16387
Additionally, repair the configuration because your server does not meet the requirements.

[2022-08-25 06:59] rskrzypczak commented on #16364
Fixed in update pack v2: https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/6.4.0
Thx

[2022-08-25 06:59] #16364 closed, assigned to rskrzypczak

[2022-08-25 07:01] rskrzypczak commented on #16379
I suppose the reason for your errors lies here: https://github.com/YetiForceCompany/YetiForceCRM/issues/16364

[2022-08-25 07:02] rskrzypczak commented on #16371
I suppose the reason for your errors lies here: https://github.com/YetiForceCompany/YetiForceCRM/issues/16364
use update pack v2: https://github.com/YetiForceCompany/YetiForceCRM/releases/tag/6.4.0

[2022-08-25 07:02] #16371 closed, assigned to rskrzypczak

[2022-08-25 08:22] fbojan commented on #16370
Thanks, I really missed something. I'm sorry.Now it works

[2022-08-25 15:26] Jianbin719 commented on #16387
Thanks, problem solved

[2022-08-25 22:18] deepti4666 opened #16389 "[bug] Failed Module does not contain default language (en-US)."
# 🐞 bug report

### ⁉️ Describe the bug

Unable to update from 6.1
No errors given - only
"Failed Module does not contain default language (en-US)."

### 🔥 How to trigger the error

Settings
Logs
Updates

Steps to reproduce the behavior:

1. Go to 'Settings'
2. Click on 'Logs'
3. Scroll down to 'Updates'
4. Download Package or Upload
5. See error

![image](https://user-images.githubusercontent.com

[2022-08-26 04:47] mariuszkrzaczkowski commented on #16389
What zip package are you installing?

[2022-08-26 08:18] deepti4666 commented on #16389
Yetiforce 6.2 from this link https://sourceforge.net/projects/yetiforce/files/YetiForce%20CRM%206.x.x/6.2.0/YetiForceCRM-6.2.0-complete.zip/download

Also tried to download through the system, but same issue.

[2022-08-26 11:08] mariuszkrzaczkowski commented on #16389
No, this is a bundle with an installation wizard.
You need an update package, see here:
https://github.com/YetiForceCompany/UpdatePackages/tree/master/YetiForce%20CRM%206.x.x
https://sourceforge.net/projects/yetiforce/files/YetiForce%20CRM%206.x.x/Update%20packages/

[2022-08-26 11:08] #16389 closed, assigned to mariuszkrzaczkowski

[2022-08-27 20:32] vitt95 commented on #16258
Same issue for me. Are there some information? there is no apparently reason for this behavior. I've installed Yetiforce many times with no problem...

[2022-08-28 07:01] diderich opened #16402 "[bug] Calendar: Status - Picklist Field values cannot be edited / roles assigned"
# 🐞 bug report

### ⁉️ Describe the bug

The `Calendar` module contains a field picklist called `status`:
![field](https://user-images.githubusercontent.com/10230144/187061636-142b5b5c-eb35-4924-a9ae-2eee173901af.jpg)

Neither the values, not the assignment to specific roles of those values can be edited:
![calendar](https://user-images.githubusercontent.com/10230144/187061653-5bb4abb3-18fc-4733-8

[2022-08-28 10:38] rskrzypczak commented on #16402
I see no error here.
Calendar status is determined automatically.
No user should be able to manually change the status except with a small exception as shown below.
![image](https://user-images.githubusercontent.com/10221999/187069644-a38f22e7-1d56-4d0c-adcf-bb0fc9783ad0.png)
These actions, however, depend on separate configurable actions on the profile.
![image](https://user-images.githubusercont

[2022-08-28 10:51] diderich commented on #16402
I want to create a calendar list that filters on `status`. But in my installation, I don't see any options. It is my understanding that I do not have access to that picklist's elements, so I wanted to add the access, but, as shown in the picture 2 in the original post, this is not possible:
![error](https://user-images.githubusercontent.com/10230144/187070292-53f9c877-bab2-4d9c-b4ac-97563eb50a9e.j

[2022-08-29 08:20] dextras opened #16408 "[bug] It is not possible to print lists in pdf from description/comment fields"
# 🐞 bug report

### ⁉️ Describe the bug
It is not possible to print lists in pdf from description/comment fields.

### 🔥 How to trigger the error

Steps to reproduce the behavior:

1. Go to Sales Invoices
2. edit comments field and add list (either ol or ul)
3. Generate PDF

### 👎 Actual Behavior
Generated PDF does not contain list content at all.

### 👍 Expected Behavior
Lists are printed as visi